.footer {
  &__wrapper {
    padding: 110px 0 20px;

    @include onTablet {
      padding-top: 140px;
    }

    @include onDesktop {
      padding-top: 170px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include onTablet {
      gap: 60px;
    }
  }

  &__terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: #bdbdbd;
  }
}

.socials {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
  }

  &__item {
    cursor: pointer;
    font-size: 22px;
    color: #4f4f4f;

    transition-duration: 0.3s;

    @include onHover {
      transform: scale(1.1);
    }
  }
}
