.about-us {
  position: relative;

  &__content {
    @extend %grid-system;
  }

  &__img-container {
    margin-bottom: 20px;
    width: 259px;
    height: 210px;
    transition: $transition;

    @include onTablet {
      position: absolute;
      top: 0;
      left: 0;
      width: 374px;
      height: 415px;
    }

    @include onDesktop {
      position: static;
      grid-column: 1 / 7;
      grid-row: 1/4;
      width: 582px;
      height: 388px;
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.02)
    }
  }

  &__img {
    @extend %img-fit;
    object-position: left;
  }

  &__title {
    margin-bottom: 30px;

    @include onTablet {
      grid-column: 5 / 9;
      margin-bottom: 31px;
    }

    @include onDesktop {
      grid-column: 7 / 13;
    }
  }

  &__desc {
    @extend %secondary-text;
    margin-bottom: 33px;

    @include onTablet {
      font-size: 1.6rem;
      line-height: 2.4rem;
      grid-column: 5 / 9;
      margin-bottom: 62px;
    }

    @include onDesktop {
      grid-column: 7 / 13;
      margin-bottom: 59px;
    }
  }

  &__button {
    @include onTablet {
      grid-column: 5 / 9;
      margin-bottom: 67px;
    }

    @include onDesktop {
      grid-column: 7 / 13;
      margin-bottom: 42px;
    }
  }
}
