.features {
  margin-bottom: 90px;

  @include onTablet {
    margin-bottom: 140px;
  }
  @include onDesktop {
    margin-bottom: 170px;
  }

  &__title {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 30px;
      font-size: 3rem;
      line-height: 4rem;
    }
    @include onDesktop {
      font-size: 5.6rem;
      line-height: 8rem;
    }
  }
}
