.footer {
  padding-bottom: 20px;

  &__logo {
    background-image: url(../images/svg/logo/logo.svg);

    @include onTablet {
      width: 184px;
      height: 25px;
      background-image: url(../images/svg/logo/logo-tablet.svg);
    }

    @include onDesktop {
      width: 161px;
      height: 26px;
      background-image: url(../images/svg/logo/logo.svg);
    }
  }

  &__top {
    display: none;

    @include onTablet {
      display: flex;
      justify-content: end;
      margin-bottom: 37px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }

    &-icon {
      margin-left: calc(50vw - 176px);

      @include onDesktop {
        margin-left: calc(50vw - 227px);
      }
    }
  }

  &__socials {
    display: grid;
    grid-template-columns: repeat(3, 24px);
    grid-template-rows: 24px;
    column-gap: 40px;
    justify-content: center;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 60px;
      column-gap: 50px;
    }

    @include onDesktop {
      column-gap: 40px;
    }
  }

  &__copyright {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-light;
  }
}
