.header {

  &__menu {
    padding: 0 $paddingForMobile;
  }

  &__presentation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 0;
    padding: 0 30px;
  }

  &__navbar {
    padding: 0 $paddingForMobile;
  }

  &__promo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    padding: 100px $paddingForMobile;
  }

  @media (min-width: 768px) {

    &__presentation {
      column-gap: 15px;
    }

    &__promo {
      column-gap: 20px;
    }
  }
}
