.header {

  &__menu {
    padding: 0 $paddingForMobile;
  }

  &__navbar {
    padding: 0 $paddingForMobile;
  }

  &__promo {
    padding: 100px $paddingForMobile 0;
  }

  @media (min-width: 768px) {

    &__menu {
      padding: 0 35px;
    }

    &__promo {
      column-gap: 20px;
    }

    &__presentation {
      padding-top: 130px;
    }
  }
}
