.main {

  &__design {
    padding: 90px $paddingForMobile;
  }

  &__features {
    padding-bottom: 45px;
  }

  &__testimonials {
    padding: 45px $paddingForMobile;
  }

  @media (min-width: 768px) {
    &__design {
      padding: 130px 0;
    }

    &__testimonials {
      padding: 0 35px 85px;
    }

    &__features {
      position: relative;
      z-index: 25;
    }
  }
}
