.page {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
  color: $color-dark-main;

  &__body {
    margin: 0;
    background-color: $color-background;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__section {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 170px;
    }
  }

  &__menu-mobile {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform $transition;

    &:target {
      transform: translateX(0);
    }
  }
}
