.presentation {

  &__img-container {
    margin: 0 auto;
    display: block;
    width: 296px;
    height: 195px;
    transition: $transition;

    @include onTablet {
      width: 700px;
      height: 430.156px;
    }

    @include onDesktop {
      width: 846px;
      height: 520px;
    }

    &:hover {
      transform: scale(1.02)
    }
  }

  &__img {
    @extend %img-fit;
    object-position: center;
  }
}
