.footer {
  padding-top: 142px;
  padding-bottom: 100px;
  text-align: center;
  margin: auto;
  position: relative;

  &__arrow {
    position: absolute;
    top: 142px;
    right: 25%;
  }

  &__socials {
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }

  &__socials-item {
    padding: 20px 30px;
  }

  &__socials-icon {
    fill: $darkGrey;
    width: 25px;
    height: 25px;

    &:hover {
      fill: $green;
    }
  }

  &__copy {
    margin-top: 36px;
    font-size: 14px;
    font-weight: $thin-weight;
    color: $lightGrey;
  }
}
