.header {
  padding-top: 25px;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__action {
    width: 276px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: $hairline-weight;
    color: $darkGrey;
    text-transform: uppercase;
  }

  &__btn {
    @extend %button;
    background: $granit;

    &:hover {
      background: $black;
    }
  }

  &__promo {
    display: flex;
    align-items: center;
    padding-top: 80px;
  }

  &__text {
    width: 276px;
    margin-top: 27px;
  }

  &__nav {
    padding-top: 80px;
    width: 60%;
    margin: 0 auto;
  }
}
