.header {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;

  &__action {
    width: 276px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: $hairline-weight;
    color: $darkGrey;
    text-transform: uppercase;

    @media (max-width: $tabletSize) {
      display: none;
    }
  }

  &__btn {
    @extend %button;
    background: $granit;

    &:hover {
      background: $black;
    }
  }

  &__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }

  &__wrapper-first {
    background: $granit;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  &__wrapper-second {
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav-item {
    padding-top: 50px;
  }

  &__nav-link {
    font-size: 16px;
    color: $whiteSmoke;
    text-transform: uppercase;
  }

  &__closer {
    position: absolute;
    right: 50px;
    top: 20px;
    color: $white;
  }
}

//Hamburger menu
.toggler {
  position: absolute;
  right: 50px;
  top: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 3;
  opacity: 0;
}

.hamburger {
  position: absolute;
  right: 50px;
  top: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 2;

  @media (max-width: $tabletSize) {
    opacity: 1;
  }
}

/* Hamburger Line (middle one)*/
.hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: $granit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.hamburger > div::before,
.hamburger > div::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves Line Down */
.hamburger > div::after {
  top: 10px;
}

.toggler:checked {
  position: fixed;
}

.toggler:checked + .hamburger {
  position: fixed;
}

/* Toggler Animation */
.toggler:checked + .hamburger > div {
  background: $white;
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.toggler:checked ~ .header__nav {
  visibility: visible;
}

.toggler:checked ~ .header__nav .header__wrapper-first {
  transform: scale(1);
  transition-duration: 0.75s;
}

.toggler:checked ~ .header__nav .header__wrapper-second {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
