.presentation {
  &__image {
    width: 100%;
    min-width: 260px;
    aspect-ratio: 3/2;
    background-image: url(../images/mobile/meet-luna.jpg);
    background-size: cover;
    background-position: center;

    @include on-tablet {
      aspect-ratio: 8/5;
      background-image: url(../images/tablet/meet-luna.jpg);
    }

    @include on-desktop {
      aspect-ratio: 3/2;
      background-image: url(../images/desktop/meet-luna.jpg);
    }
  }
}
