.logo-link {
  $root: &;

  @extend %link-reset;

  display: block;

  &:hover {
    #{$root}__img {
      transform: scale(1.05);
    }
  }

  &__img {
    width: 160px;
    height: 25px;
    object-fit: contain;

    will-change: transform;

    transition: transform $transition-props;
  }
}
