.main-button {
  @extend %btn-reset;
  @extend %link-reset;

  padding: 16px 38px;

  background-color: $color-shaft;

  color: $color-white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  transition: background-color $transition-props;

  &:hover {
    background-color: $color-cod-gray;
  }

  &:disabled {
    background-color: $color-cod-gray;
    cursor: default;
  }

  &--blue {
    background-color: $color-niagara;

    &:hover {
      background-color: $color-surfie;
    }

    &:disabled {
      background-color: $color-iceberg;
    }
  }
}
