.main-field {
  display: block;

  margin: 0;
  padding: 12px 20px;

  border: 1px solid $color-gray;
  outline: none;
  resize: none;

  color: $color-shaft;
  font-size: 14px;
  line-height: 24px;

  transition: border-color $transition-props;

  &::placeholder {
    color: $color-silver;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &:focus,
  &:hover {
    border-color: $color-surfie;
  }

  &--invalid {
    border-color: $color-red;
  }

  &--valid {
    border-color: $color-red;
  }
}
