.button {
  cursor: pointer;

  &--buy {
    display: none;
    align-items: center;
    justify-content: center;

    height: 48px;
    width: 100px;

    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background: $c-dark-grey;
    color: $c-fff;

    &-header {
      @include onTablet {
        display: flex;
      }
    }

    &-menu {
      display: flex;
      width: 100%;
      margin-bottom: 30px;

      @include onTablet {
        display: none;
      }
    }
  }

  &--designed {
    position: relative;
    @include fonts--button;

    text-decoration: none;
    color: $c-blue;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      height: 1px;
      width: 53px;

      transition: ease width $effectDuration;
      background-color: $c-blue;
    }
  }

  &--message {
    @include fonts--button;
    width: 102px;
    height: 40px;

    background-color: $c-blue;
    color: $c-fff;

    border: none;

    @include onDesktop {
      width: 124px;
      height: 48px;
    }
  }
}
