.icon {

  &-link {
    display: flex;
  }

  &--menu {
    @include onDesktop {
      display: none;
    }
  }

  &--back {
    width: 24px;
    height: 24px;

    @include onTablet {
      &-link {
        position: absolute;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;

        @include onDesktop {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
