.specs {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  text-decoration: none;
  color: $c-semi-dark-grey;

  &--header {
    display: none;

    @include onTablet {
      display: flex;
    }

    @include onDesktop {
      @include fonts--thirdary;
      margin-right: 30px;
    }
  }

  &--menu {
    @include onTablet {
      display: none;
    }
  }
}

.language {
  display: flex;
  align-items: center;
  gap: 3px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;

  &__delimiter {
    font-weight: 400;
    color: $c-dark-grey;
  }

  &--is-active {
    font-weight: 400;
    color: $c-dark-grey;

    @include onDesktop {
      @include fonts--thirdary;
    }
  }

  &--is-inactive {
    font-weight: 300;
    color: $c-grey-inactive;
  }

  &--header {
    display: none;

    @include onTablet {
      display: flex;
    }

    @include onDesktop {
      margin-right: 47px;
    }
  }

  &--menu {
    flex-direction: row;

    @include onTablet {
      display: none;
    }
  }
}
