.nav {
  display: flex;

  &__link {
    @include fonts--thirdary;

    text-decoration: none;
    color: $c-dark-grey;

    &--active {
      color: $c-black;
      font-weight: 700;
    }
  }

  &--story {
    display: none;
    gap: 84px;

    @include onDesktop {
      display: flex;
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
}
