.about {

  &__title-inner {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  &__img--placeholder {
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
  @include onTablet {
    min-height: 350px;
  }

  &__message {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #7c7c7c;
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0db2b3;
  }
}
