.about {

  &__title-inner {
    margin-bottom: 30px;
  }

  &__img-placeholder {
    min-height: 260px;
    background: url(..//images/about.png) no-repeat center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    z-index: -1;
  }
  @include onTablet {
    min-height: 350px;
  }

  &__message {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #7c7c7c;
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0db2b3;
  }
}
