.benefits {

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    height: 100%;
    &--small-hidden {
      display: none;
    }
    @include onTablet {
      margin-bottom: 45px;
      gap: 50px;
      &--small-hidden {
        display: flex;
      }
    }

    &-logo {
      width: 50px;
      height: 40px;
      margin-bottom: 120px;
      &--compass {
        background: url(../images/compass.svg) no-repeat center;
      }
      &--speaker {
        background: url(../images/speaker.svg) no-repeat center;
      }
      &--radiation {
        background: url(../images/radiation.svg) no-repeat center;
      }
      &--light {
        background: url(../images/light.svg) no-repeat center;
      }
    }
    &-title {
      position: absolute;
      top: 120px;
      font-family: DIN Pro, Arial, sans-serif;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #333;
    }
    &-message {
      font-family: Helvetica Neue, Arial, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #7c7c7c;
    }
  }
}
