.features {

  &__title {
    text-align: left;
    padding: 0 15px;
    margin-bottom: 24px;
  }

  &__card {
    transition: transform 0.4s ease-out;
    &--small-hidden {
      display: none;
    }
    @include onTablet {
      &:hover {
        transform: scale(1.1);
      }
      &--small-hidden {
        display: block;
      }
    }
    @include onLarge {
      &:hover {
        transform: scale(1.3);
      }
    }

    &-title {
      font-family: DIN Pro, Arial, sans-serif;
      font-size: 34px;
      line-height: 120%;
      text-transform: uppercase;
      color: #0c797a;
      margin-bottom: 30px;
      @include onTablet {
        padding-left: 18px;
      }
    }

    &-list {
      padding: 0;
      @include onTablet {
        padding: revert;
      }

      &-item {
        font-family: Helvetica Neue, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #333;
        margin-bottom: 13px;

        &--hidden {
          visibility: hidden;
        }
      }
    }
  }

  &__img-placeholder {
    min-height: 250px;
    max-height: 300px;
    max-width: 500px;
    background-image: url(../images/features.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;

    @include onTablet {
      height: 500px;
      max-width: none;
      max-height: none;
      background-size: cover;
      background-position: center;
    }
  }
}
