.footer {
  position: relative;
  padding-bottom: 50px;

  &__logo-wrapper {
    display: flex;
    justify-content: center;
  }

  &__logo {
    justify-content: center;
    display: block;
    height: 48px;
    width: 161px;
    margin: 0 auto 60px;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 70px;
    @include onTablet {
      justify-content: space-between;
    }

    &--social {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.7);
      }

      &_fb {
        background-image: url(../images/icon-netw-fb.svg);
      }

      &_tw {
        background-image: url(../images/icon-netw-tw.svg);
      }

      &_ins {
        background-image: url(../images/icon-netw-ins.svg);
      }
    }
  }

  &__copyright {
    &-content {
      font-family: Helvetica Neue, Arial, sans-serif;
      font-size: 12px;
      line-height: 21px;
      text-align: center;
      color: #bdbdbd;
      &--terms {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
