.footer {
  position: relative;
  padding-bottom: 50px;

  &__logo {
    height: 48px;
    width: 100%;
    margin-bottom: 60px;
  }

  &__links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    @include onTablet {
      justify-content: space-between;
    }

    &--social {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &_fb {
        background-image: url(../images/icon-netw-fb.svg);
      }

      &_tw {
        background-image: url(../images/icon-netw-tw.svg);
      }

      &_ins {
        background-image: url(../images/icon-netw-ins.svg);
      }
    }
  }

  &__copyright {
    &-content {
      font-family: Helvetica Neue, Arial, sans-serif;
      font-size: 12px;
      line-height: 21px;
      text-align: center;
      color: #bdbdbd;
    }
  }
}

.up-scroll {
  position: absolute;
  bottom: 300px;
  right: 15px;

  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/up-scroll.svg) no-repeat center;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
}
