.input {
  &--default {
    height: 48px;
    border: 1px solid #828282;
    padding: 12px 36px;

    @include text-style($text-font-size-large, $font-weight-regular, 24px);
  }
}

.textarea {
  &--default {
    height: 128px;
    padding: 16px 36px;

    @include text-style($text-font-size-large, $font-weight-regular, 24px);
  }
}

.input--default,
.textarea--default {
  &:focus,
  &:valid {
    border: 1px solid #0c797a;
  }

  &:not(:focus, :placeholder-shown):invalid {
    border: 1px solid #eb5757;
    color: #eb57574d;
  }

  &:not(:focus):placeholder-shown:hover {
    transform: scale(1.02);
  }
}

.button {
  &--primary {
    width: max-content;
    height: 48px;
    text-align: center;
    text-transform: uppercase;

    @include text-style($text-font-size-small, $font-weight-bold, 14px, #fff);

    &:active {
      transform: scale(0.95);
    }
  }

  &:not(:has(.button__link)) {
    padding: 16px 42px;
  }

  &__link {
    padding: 16px 42px;
    display: block;
    width: 100%;
    height: 100%;

    @include text-style($text-font-size-small, $font-weight-bold, 14px, #fff);
  }

  &--primary.button--black {
    background-color: $color-dark-gray;

    &:hover {
      background-color: $color-black-soft;
    }

    &:disabled {
      background-color: #d0d0d0;
      cursor: default;
    }
  }

  &--primary.button--teal {
    background-color: #39bebf;

    &:hover {
      background-color: #0c797a;
    }

    &:disabled {
      background-color: #cfeff0;
      cursor: default;
    }
  }
}
