.icon {
  display: flex;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: all $transition;

  &:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }

  &--menu {
    background-image: url(../images/svg/burger-menu.svg);
    width: 32px;
    height: 32px;

    @include onDesktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/svg/close.svg);
    width: 24px;
    height: 24px;
  }

  &--arrow-up {
    background-image: url(../images/svg/arrow-up.svg);
    width: 50px;
    height: 50px;

    @include onDesktop {
      background-image: url(../images/svg/arrow-up-sm.svg);
      width: 24px;
      height: 24px;
    }
  }

  &--facebook {
    background-image: url(../images/svg/facebook.svg);
  }

  &--twitter {
    background-image: url(../images/svg/twitter.svg);
  }

  &--instagram {
    background-image: url(../images/svg/instagram.svg);
  }
}
