.icons-section {

  @include device(smartphone) {
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 100px 120px 30px;
    @include device(tablet) {
      padding: 100px 30px 30px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 60px;
    }
    @include device(smartphone) {
      display: flex;
      gap: 30;
      flex-wrap: nowrap;
    }
  }
  &__card {
    text-align: center;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    padding: 10px;
    text-decoration: none;
    color: $c-bw2;
    @include device(smartphone) {
      display: block;
      min-width: calc(100% - 20px);
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
      box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
      cursor: pointer;
      transform: scale(1.05);

      & > .icons-section__icon {
        filter: invert(33%) sepia(98%) saturate(394%) hue-rotate(132deg)
          brightness(93%) contrast(94%);
      }
    }
  }

  &__icon {
    margin-bottom: 35px;
    transition: 0.2s linear;
  }

  &__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    min-height: 75px;
  }

  &__content {
    font-size: 14px;
    color: $c-bw4;
    line-height: 24px;
    @include device(smartphone) {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
