.meet-luna {
  padding-top: 170px;

  @include device(tablet) {
    padding: 170px 30px 0;
  }

  @include device(smartphone) {
    padding: 120px 10px 0;
  }

  &__img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 846px;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
