.menu {
  &__list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 84px;
  }

  &__link {
    @extend %tertiary-text;
    transition: all $transition;
    color: inherit;

    &--active {
      @extend %h6;
      color: $color-darkest;
      pointer-events: none;
    }

    &:hover {
      color: $color-darkest;
      text-decoration: underline 2px $color-darkest;
      text-underline-offset: 5px;
    }
  }
}
