.menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 110px 200px 0;

  @include device(tablet) {
    display: none;
  }

  &__item {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $c-bw2;
    letter-spacing: 0.9px;
    transition: 0.2s linear;
    padding: 20px 0;

    &:hover {
      cursor: pointer;
      font-weight: 700;
      transform: scale(1.1);
    }
  }
}
