.nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $bcgColor;

  @media (max-width: $tabletSize) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 30px;
    transition: transform 500ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    // padding: 30px;
    font-size: 14px;
    color: $granit;
    text-transform: uppercase;
    transition: transform 500ms ease;

    &:hover {
      text-shadow: 0 0 0.01px black;
    }
  }
}
