.nav {
  @include small-padding-top;
  max-width: $tabletSize;
  margin: 0 auto;

  @media (max-width: $mediumSize) {
    padding: 80px 40px 0;
  }

  @media (max-width: $tabletSize) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-size: 14px;
    color: $granit;
    text-transform: uppercase;

    &:hover {
      text-shadow: 0 0 0.01px black;
    }
  }
}
