.questions {

  &__title {

    &-inner {
      text-align: center;
      margin-bottom: 30px;
      padding: 0 5px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    &-label {
      display: none;
    }

    &-input {
      width: 100%;
      background-color: transparent;
      padding: 15px 30px;
      border: 1px solid #828282;
      margin-bottom: 20px;
    }

    &-textarea {
      background-color: transparent;
      padding: 16px 30px;
      border: 1px solid #828282;
      margin-bottom: 30px;
    }

    &-button {
      align-self: flex-start;
      border: none;
      background-color: #0db2b3;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 30px;
      cursor: pointer;

    }
  }
}
