.up-scroll {
  position: sticky;
  top: 65vh;
  left: 90vw;

  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/up-scroll.svg) no-repeat center;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
}
