.technology {

  &__title {
    margin-bottom: 30px;
  }

  &__wrapper {
    overflow: hidden;
  }

  &__img-placeholder {
    width: 108%;
    margin: 0 -15px 0 -10px;
  }

  @include onTablet {
    margin: 0 10px 0 -44px;
  }
}
