.testimonilas {
  @include onTablet {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__message {
    font-family: DIN Pro, Arial, sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    background: url(../images/bg-quotes.svg) no-repeat center;
  }

  &__person-foto {
    margin-bottom: 20px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: url(../images/person-face.png) no-repeat center;
    background-size: cover;
  }

  &__person-name {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #333;
  }

  &__person-position {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #7c7c7c;
  }
}
