.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 200px;
  background-image: url("../images/icons/testimonial.svg");
  background-repeat: no-repeat;
  background-position: center 55%;

  @include device(smartphone) {
    padding-top: 150px;
    background-position: center 40%;
  }

  &__content {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    max-width: 65%;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s ease-in-out;
    transform: translateX(0);

    &:hover {
      background-color: rgba(13, 178, 179, 0.05);
      transform: scale(1.1);
    }

    @include device(smartphone) {
      font-size: 14px;
      line-height: 20px;
      max-width: 73%;
    }
  }

  &__photo {
    margin-top: 30px;
    width: 50%;
  }

  &__name {
    font-weight: 700;
    margin-top: 20px;
  }

  &__role {
    margin-top: 5px;
    font-size: 14px;
    color: $c-bw4;
  }
}
