.director {
  @include on-tablet {
    display: flex;
    justify-content: center;
  }

  &_wrapper {
    text-align: center;
    position: relative;

    @include on-tablet {
      width: 500px;
    }

    @include on-desktop {
      width: 700px;
    }
  }

  &_quote {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: $c-dark;
    margin-bottom: 30px;
  }

  &_avatar {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
  }

  &_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: $c-dark;
    margin-bottom: 5px;
  }

  &_position {
    font-size: 14px;
    line-height: 21px;
  }

  &_quotes {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 208px;
    height: 170px;
    background-image: url(../images/quotes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;

    @media screen and (min-width: 338px) {
      top: -11%;
    }

    @media screen and (min-width: 400px) {
      top: -18%;
    }

    @media screen and (min-width: 466px) {
      top: -23%;
    }

    @media screen and (min-width: 560px) {
      top: -35%;
    }

    @include on-desktop {
      top: -38%;
    }
  }
}
