.features--for-desktop {
  display: none;

  @include on-desktop {
    display: block;
  }

  &_wrapper {
    display: flex;
    background-color: $c-blue-light;
    padding: 60px 0 102px 60px;
    position: relative;
    box-sizing: border-box;
  }

  &_title {
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    color: $c-dark;
    margin-bottom: 30px;
  }

  &_info {
    display: flex;
    flex-wrap: wrap;
    gap: 56px 132px;

    &_title {
      font-size: 34px;
      font-weight: 700;
      line-height: 42px;
      color: $c-greener;
      margin-bottom: 30px;
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
    }

    &_li {
      font-size: 16px;
      line-height: 24px;
      display: flex;

      &::before {
        content: '';
        width: 4px;
        height: 4px;
        background-color: #000;
        margin-right: 18px;
        align-self: center;
        border-radius: 50%;
      }
    }
  }

  &_container {
    &:nth-child(2) {
      width: 40%;
    }
  }
}
