.footer {
  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    position: relative;
    padding-bottom: 30px;

    @include on-tablet {
      gap: 60px;
    }
  }

  &_icons {
    display: flex;
    gap: 40px;
  }

  &_icon {
    width: 24px;
    height: 24px;
    transition: $animation;

    &:hover {
      scale: 1.1;
    }
  }

  &_copyrights {
    font-size: 14px;
    line-height: 21px;
    color: $c-dark-gray;
  }

  &_logo {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &_to-top {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 50px;
    transition: $animation;

    &:hover {
      scale: 1.1;
    }

    @include on-tablet {
      display: block;
    }
  }
}
