.header {
  @include grid(4);

  &__content {
    grid-column: 1 / -1;

    @include flex {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__image {
    grid-column: span 4;
    margin: 0 -30px;
  }

  &__title {
    text-transform: uppercase;
  }

  @include media-breakpoint($tablet, 8) {

    &__content {
      grid-column: 1 / 4;
      grid-row: 2;
    }

    &__image {
      grid-column: 5 / -1;
      grid-row: 2;
      margin: 0 -34px;
    }

    &__title {
      @include media-font-style (48px, 62px);
    }
  }

  @include media-breakpoint($desktop, 12) {

    &__content {
      grid-column: 1 / 5;
    }

    &__image {
      grid-column: 5 / -1;
    }

    &__title {
      @include media-font-style (65px, 78px);
    }

    &__menu {
      grid-column: 1 / -1;

      &--list {
        justify-content: center;
        flex-direction: row;
        gap: 100px;

        margin-top: 20px;
      }
    }
  }
}
