.meet-luna {
  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    text-align: center;
  }

  &_img {
    width: 100%;

    @include on-desktop {
      width: 850px;
    }
  }
}
