.top-bar {
  padding: 22px 0;

  &--menu {
    margin-bottom: 30px;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &_logo {
    width: 160px;
  }

  &_right {
    display: flex;
    align-items: center;
  }

  &_burger {
    width: 24px;
    height: 16px;
    cursor: pointer;
    transition: $animation;

    &:hover {
      scale: 1.1;
    }

    @include on-desktop {
      display: none;
    }
  }

  &_menu-close {
    width: 16px;
    height: 16px;
    cursor: pointer;

    transition: $animation;

    &:hover {
      scale: 1.1;
    }
  }

  &_other {
    display: none;

    @include on-tablet {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-right: 30px;
    }

    @include on-desktop {
      margin: 0;
    }
  }

  &_specs {
    font-weight: 300;
    line-height: 16.93px;
    color: $c-dark-secondary;
  }

  &_language-swither {
    &_item {
      color: $c-black;
      font-weight: 400;
      line-height: 18px;

      &--not-active {
        font-weight: 300;
        color: $c-gray-secondary;
      }
    }
  }

  &_btn {
    background-color: $c-dark;
    color: $c-white;
    padding: 16px 38px;
    text-transform: uppercase;
    font-family: Arimo, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.65px;
    text-align: center;
    transition: $animation;

    &:hover {
      background-color: $c-black;
    }
  }
}
