.quote {
  &__content {
    @include page-grid;
  }

  &__text {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    background-image: url(../images/svg/quote.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }

  &__author {
    grid-column: 1 / -1;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__photo {
      margin-bottom: 20px;
    }

    &__name {
      margin-bottom: 5px;
      font-weight: 700;
      line-height: 22px;
    }

    &__position {
      font-size: 14px;
      line-height: 21px;
      color: $tertiary-font-color;
    }
  }
}
