.design-card-mobile{
  display: none;
  @include on-tablet{
    display: none;
  };
  @include on-mobile{
    display: block;
    width: 100%;
  }
  &__title{
    @include on-mobile {
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }

  &__img{
    @include on-mobile {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__text{
    @include on-mobile{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 30px;

    }
  }
  &__info{
    @include on-mobile{
      display: inline-block;
      position: relative;

      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      color:#0DB2B3;
      text-decoration: none;
      text-transform: uppercase;
    }

  }

  &__info::after{
    @include on-mobile{
      content: "";
      display: block;
      width: 64.61px;
      height: 2px;
      background-color: #0DB2B3;
      margin-top: 5px;
    }

  }


}






