.button {
  background-color: $black-middle;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  padding: 17px 36px;

  @extend %third-text;

  &:hover {
    background-color: $black;
  }

  &:disabled {
    background-color: #d0d0d0;
  }
}
