@import "../vars";

.progress {
  display: flex;
  justify-content: center;
  align-items: center;

  &__circles {
    position: relative;
    height: 12px;
    width: 12px;
    margin: 30px 105px;
    
    border-radius: 50%;
    background-color: #e0e0e0;

    &--disable {
      &::before {
        content: "asdweq";
      }
    }
  }

  &--indicate {
    background-color: $text-color-dark-grey;

    &::before {
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      position: relative;
      top: -3px;
      right: 3px;
      border: 1px solid #f7f7f7;
      border-radius: 50%;
      border-color: $text-color-dark-grey;
    }

    &-disable {
      background-color: $text-color-dark-grey;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__line {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% + 8px);
    width: 206px;
    height: 1px;
    background-color: $text-color-dark-grey;
  }

  &__text {
    margin-top: -10px;
    color: #e0e0e0;
    line-height: 20px;
    font-weight: 600;

    &--indicate {
      color: $text-color-dark-grey;
    }

    /* &- */
  }
}
