@import "../vars";
@import "../reset";
@import "../logo";
@import "../cart_styles/header-cart";
@import "../cart_styles/progress";
@import "../cart_styles/shipping";
@import "../footer";

body {
  background: #f7f7f7;
  max-width: 1440px;
  margin: 0 auto;
}
