@import "vars";
@font-face {
  font-family: "Opium", sans-serif;
  src: url("../../fonts/Opium.ttf") format("ttf");
}

body {
  background-color: #e5e5e5;
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-family-helv;
}
