.technology {
  @extend %section-width-limitatiom;
  &__heading {
    display: inline-block;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 70px;
  }
  &__text {
    max-width: 840px;
    margin: 0 auto;
  }
}
