.technology__img {
  overflow-x: hidden;
  position: relative;

  .technology__photo {
    width: 1280px;
  }
  .technology__button {
    position: absolute;
    top: 87px;
    width: 1130px;
    left: 60px;
  }
}
