.technology-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/quotes.png) no-repeat center top;

  &__blockquote {
    max-width: 768px;
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
  }
}
