.technology {
  @extend %section-width-limitatiom;
  overflow-x: hidden;

  &__heading {
    display: inline-block;
    text-transform: uppercase;
  }
  &__text {
    max-width: 840px;
    margin: 0 auto;
  }
}
