.technology-img {
  overflow-x: hidden;
  position: relative;

  &__photo {
    width: 1280px;
    transition: width 0.3s;
    @media (max-width: $phone-break-point ) {
      width: 600px;
    }
  }
  &__button {
    position: absolute;
    top: 87px;
    width: 1130px;
    left: 60px;
    transition: width 0.3s;
    @media (max-width: $phone-break-point ) {
      width: 500px;
      top: 40px;
    }
  }
}
