.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 102px;
  height: 48px;

  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;

  color: #fff;

  cursor: pointer;
  transition: all 0.3s;

  &__link {
    text-decoration: none;
    color: #fff;
  }

  &__top {
    background-color: #333;

    &:hover {
      color: #fff;
      background-color: #131313;
    }
  }

  &__footer {
    background-color: #0db2b3;

    &:hover {
      color: #fff;
      background-color: #0c797a;
    }

    &:active {
      background-color: #cfeff0;
    }
  }
}
