.features {
  background-image: url(./images/rectangle.png);
  background-repeat: no-repeat;
  background-position: right 200px;

  &__container {
    background-image: url(./images/FEATURES1024.svg);
    background-repeat: no-repeat;
    background-position: right 350px;
    background-size: 400px 700px;

    @include onTab {
      background-size: 700px 500px;
    }

    margin-bottom: 110px;

    @include onTab {
      margin-bottom: 138px;
    }
    @include onDesktop {
      margin-bottom: 170px;
    }
  }

  &__connectivity {
    margin-bottom: 100px;

    @include onDesktop {
      margin-bottom: 160px;
    }
  }

  &__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #333;

    &--position {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: 21px;

    font-weight: 700;
    font-size: 34px;
    line-height: 42px;

    text-transform: uppercase;

    color: #0c797a;

    &--position {
      font-weight: 700;
      font-size: 56px;
      line-height: 70px;

      text-transform: uppercase;

      color: #333;

      margin-bottom: 39px;

      @include onTab {
        margin-bottom: 51px;
      }
      @include onDesktop {
        margin-bottom: 30px;
      }
    }
  }

  &__sound {
    margin-bottom: 100px;

    @include onDesktop {
      margin-bottom: 60px;
    }
  }
}
