.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__arrow {
    align-self: end;
  }

  &__logo {
    display: none;

    @include onTab {
      display: contents;
    }

    &--image {
      width: 161px;
      height: 26px;

      @include onTab {
        margin-bottom: 44px;
      }
    }
  }

  &__networks {
    display: flex;
    align-self: center;
    gap: 44px;
    margin-bottom: 34px;

    &--facebook {
      width: 11px;
      height: 19px;
    }

    &--twitter {
      width: 22px;
      height: 17px;
    }

    &--instagram {
      width: 18px;
      height: 18px;
    }
  }

  &__text {
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #bdbdbd;

    margin-bottom: 20px;

    @include onTab {
      margin-bottom: 30px;
    }
  }
}
