.header {
  padding-top: 31px;
  margin-bottom: 31px;

  @include onTab {
    padding-top: 20px;
    margin-bottom: 100px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &--none {
      display: none;
      @include onTab {
        display: contents;
      }
    }

    &--specs {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 17px;

      color: #4f4f4f;
    }

    &--languages {
      display: flex;
      align-items: center;
    }

    &--language {
      font-size: 14px;
      line-height: 18px;

      color: #828282;

      &:hover {
        cursor: pointer;
        color: #333;
      }
    }

    &--image {
      display: block;
      width: 24px;
      height: 14px;

      @include onTab {
        display: none;
      }

      background-image: url(../images/menu.png);
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;

    &--image {
      display: block;
      height: 26px;
    }
  }
}
