.nav {
  display: none;

  @include onDesktop {
    display: contents;
  }

  &__container {
    margin-bottom: 64px;
    @include onDesktop {
      display: flex;
      justify-content: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 76px;

  }

  &__item {
    &:nth-child(odd) {
      text-align: center;
      width: 174px;
    }

    &:nth-child(even) {
      text-align: center;
      width: 72px;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    transition: 0.5s;
    text-decoration: none;

    color: #333;

    &:hover {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      transform: scale(1.5);

      color: #131313;
    }
  }
}
