@import "./utils/mixins";

.page {

  scroll-behavior: smooth;
  &__body {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;

    background-color: #f7f7f7;

    @include onTab {
      padding: 0 34px;
    }

    @include onDesktop {
      padding: 0 105px;
    }
  }
}
