@import "./utils/mixins";

.page {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  &__body {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
    scroll-behavior: smooth;

    background-color: #f7f7f7;

    @include onTab {
      padding: 0 34px;
    }

    @include onDesktop {
      padding: 0 105px;
    }
  }

  &__mobail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: 0.3s;

    &:target {
      transform: translateX(0);
      transition: 0.3s;
    }
  }
}
