.question {
  &__container {
    margin-bottom: 114px;

    @include onTab {
      margin-bottom: 138px;
    }
    @include onDesktop {
      margin-bottom: 170px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;

    text-transform: uppercase;

    color: #333;

    margin-bottom: 24px;

    @include onTab {
      margin-bottom: 0;
      font-size: 36px;
      line-height: 46px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__form {
    display: block;
    box-sizing: border-box;
    width: 100%;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #bdbdbd;
    }

    &--input {
      height: 48px;
      padding: 12px 30px;

      border: 1px solid #828282;

      margin-bottom: 20px;

      &:hover {
        border: 1px solid #333;
      }

      &:focus {
        font-size: 14px;
        line-height: 17px;
        outline: none;

        color: #333;
        border: 1px solid #828282;
      }
    }

    &--textarea {
      height: 128px;
      padding: 16px 30px;
      resize: none;

      font-family: inherit;
      border: 1px solid #828282;

      margin-bottom: 30px;

      &:hover {
        border: 1px solid #333;
      }

      &:focus {
        font-size: 14px;
        line-height: 17px;
        outline: none;

        color: #333;
        border: 1px solid #828282;
      }
    }
  }
}
