.quote {
  &__container {
    margin-bottom: 110px;
  }
  &__title {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../styles/images/quote.png);
    background-size: contain;
    margin-bottom: 30px;
  }
  &__text {
    margin-top: 42px;
    text-align: center;

    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #333;
  }

  &__boss {
    display: flex;
    align-items: center;
    flex-direction: column;

    &--photo {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      margin-bottom: 10px;

      @include onTab {
        margin-bottom: 20px;
      }
    }

    &--name {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 5px;
    }

    &--function {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      color: #7c7c7c;
    }
  }
}
