.technology {
  &__container {
    margin-bottom: 148px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;

    color: #333;

    margin-bottom: 56px;

    @include onTab {
      margin-bottom: 71px;
    }

    @include onDesktop {
      margin-bottom: 69px;
    }
  }

  &__image {
    height: max-content;
    max-height: 545px;
  }

  &__photo {
    height: 100%;
    width: 100%;
  }
}
