.video {
  &__container {
    display: flex;
    justify-content: center;
    max-height: 590px;
    width: 100%;
    margin-bottom: 110px;

    @include onTab {
      margin-bottom: 138px;
    }

    @include onDesktop {
      margin-bottom: 170px;
    }
  }
}
