.benefits {

  &-grid {
    grid-template-rows: 2;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &-subtitle {
      margin: 0 0 20px;
      min-height: 60px;
      font-family: "DIN Pro", serif;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
    }

    &-description {
      margin: 0;
      color: #7c7c7c;
    }
    &-img {
      display: inline-block;
      width: 50px;
      height: 44px;
      margin-bottom: 48px;
      object-fit: contain;
      object-position: center;
    }
  }
}
