.desighned {
  
  &-grid {
    grid-template-rows: auto 1fr 1fr;

    &__item-img {
      grid-row: 1 / span 3;
    }

    &__item-title {
      grid-row: 1 / span 1;
      margin-bottom: 30px;
    }

    &__item-description {
      grid-row: 2 / span 2;
    }
  }

  &__main-img-container {
    display: block;
    height: 388px;
  }

  &__description-content {
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 24px;
    color: #7c7c7c;
  }

  &__description-link {
    display: block;
    width: max-content;
    
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0db2b3;
    text-decoration: none;

    &::after {
      display: block;
      margin-top: 6px;
      content: "";
      width: 45%;
      border-bottom: 1px solid #0db2b3;
      transition: width 0.3s linear;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
