.features {

  &__container-for-backgraund {
    position: relative;
  }

  &__background-block {
    position: absolute;
    width: 77.5%;
    right: 0;
    top: 21%;
    bottom: 2%;
    background-color: #f2f2f2;
    background-image: url(../images/section-features/features-bg-large-img.png);
    background-position: bottom 16px right 123px;
    background-repeat: no-repeat;
  }

  &__content-block {
    position: relative;
  }

  &__list-container--middle {
    margin-bottom: 121px;
  }

  &__grid {
    grid-template-rows: 3;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin: 0 0 25px 10px;
    font-family: "DIN Pro", serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
    color: #0c797a;
  }

  &__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 13px;
    list-style-position: inside;

    &:last-child {
      margin-bottom: 0;

      &::marker {
        color: transparent;
      }
    }
  }
}
