.footer {
  
  padding-bottom: 50px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: block;
    margin-bottom: 65px;
  }

  &__medias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 46px;
    align-items: center;
    justify-items: center;
    margin-bottom: 70px;
  }

  &__media-link {
    line-height: 0;
    
  }

  &__media-img {
    transition: transform 0.3s linear;
    &:hover {
      transform: scale(1.4);
    }
  }

  &__copyright {
    color: #bdbdbd;
    text-align: center;
  }
  &__arrow {
    margin-top: 9px;
    margin-left: 15px;
  }
}
