.questions {
  padding: 0 30px;
  
  @include onDesctop {
    padding: 0;
  }

  &__title {
    @include onSmallScreen {
      margin-bottom: 30px;
    }
  }
  
  &__field {
    margin: 0 0 19px;

    &--last {
      margin-bottom: 30px;
    }
  }
}
