.video {

  &__container {
    position: relative;
    height: 590px;
    background-image: url(../images/video/video-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__link {
    display: block;

    &::after {
      position: absolute;
      box-sizing: border-box;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      content: "Play";
      width: 232px;
      height: 232px;
      border: 1px solid #f3f4f5;
      border-radius: 50%;
      font-family: "DIN Pro", serif;
      font-size: 24px;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: 700;
      color: #f3f4f5;
      transition: all 0.3s linear;
    }

    &:hover::after {
      background-color: #fff;
      color: #0db2b3;
    }
  }
}
