.testimonials {
  &__content {
    background-image: url(./../images/testimonials/img.png);
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__item {
    @include onDesktop {
      width: 65%;
      margin: 0 auto;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 50px 0 30px;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
      padding: 60px 0 40px;
    }

    @include onDesktop {
      padding: 40px 0 30px;
    }
  }

  &__photo {
    background-image: url(./../images/testimonials/photo.png);
    width: 62px;
    height: 62px;
    margin: 0 auto 10px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @include onTablet {
      margin: 0 auto 20px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 5px;
  }

  &__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}
