.card {
  .section-title--mob {
    padding-bottom: 30px;

    @include on-tablet {
      display: none;
    }
  }

  .section-title--mob--big {
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 46px;
  }

  .section-title--tablet {
    display: none;

    @include on-tablet {
      display: flex;
      padding-bottom: 30px;
    }
  }

  .section-title--big {
    font-size: 36px;
    line-height: 46px;
  }

  &__img {
    width: 100%;
    height: auto;

    @include on-tablet {
      width: 50%;
      height: 415px;
    }

    @include on-desktop {
      height: 388px;
      width: calc(50% - 30px);
    }
  }

  &__img--first {
    @include on-tablet {
      flex: 0 1 50%;
      transform: translateX(-34px);
    }

    @include on-desktop {
      transform: translateX(0);
    }
  }

  &__img--second {
    @include on-tablet {
      flex: 0 1 50%;
      transform: translateX(34px);
    }

    @include on-desktop {
      transform: translateX(0);
    }
  }

  &__info {
    padding-top: 20px;

    @include on-tablet {
      padding-top: 0;
      width: 50%;
    }

    @include on-desktop {
      width: 50%;
    }
  }

  &__text {
    padding-bottom: 30px;
    color: $lightGreyC;

    @include on-tablet {
      padding-bottom: 60px;
    }
  }
}
