.about {
  &__container {
    display: grid;
    gap: 115px;
    margin-bottom: 115px;

    @include on-tablet {
      gap: 140px;
      margin-bottom: 140px;
    }

    @include on-desktop {
      gap: 170px;
      margin-bottom: 160px;
    }
  }
}
