.about {
  &__content {
    flex-direction: column;
  }

  &__image-container {
    order: 2;
    margin-bottom: 28px;

    @include onTablet {
      position: relative;
      grid-row: 1 / 3;
      z-index: -1;
      height: 100%;
      margin-bottom: 0;
      order: 0;
    }

    @include onDesktop {
      width: 100%;
    }
  }

  &__image {
    width: 100%;

    @include onTablet {
      width: auto;

      position: absolute;
      right: 0;
      height: 100%;

      grid-row: 1 / 3;
    }

    @include onDesktop {
      width: 100%;
      position: static;
    }
  }

  &__title {
    @extend %f-h2;
    order: 1;

    margin-bottom: 50px;

    @include onTablet {
      grid-row: 1 / 2;
      order: 0;
      margin-bottom: 30px;
    }
  }

  &__text {
    @extend %f-helvetica-neue-st-14;

    order: 3;

    @include onTablet {
      order: 0;
      font-size: 16px;

      margin-bottom: 35px;
    }
  }

  &__description {
    margin-bottom: 30px;
  }
}
