.about {
  &__content {
    display: flex;

  }

  &__title {
    padding-bottom: 30px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 20px;

    @include onTablet {
    
      &:last-child {
        padding-bottom: 0;
      }
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  
  &__photo--left {
    @include onTablet {
      margin-left: -35px;
    }

    @include onDesktop {
      margin: 0;
    }
  }

  &__photo--right {
    
    @include onTablet {
      margin-left: 34px;
    }

    @include onDesktop {
      margin: 0;
    }
  }
  
  &__description {
    font-size: 14px;
    line-height: 21px;
    color: $color-text;
    padding-bottom: 30px;

    @include onTablet {
      padding-bottom: 60px;
    }
  }

  &__link {
    width: max-content;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $color-main;
    text-decoration: none;
    transition: transform $transition-duration-speed ease;

    &::after {
      margin-top: 5px;
      content: "";
      display: block;
      height: 1px;
      width: 53px;
      background-color: $color-main;
      transition: width $transition-duration-speed ease;
    }
    
    &:hover {
      transform: scale(1.1);

      &:after {
        width: 100%;
      }
    }
  }
}
