.about-us {
  @include centre;
  gap: 30px;
  padding-top: 150px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  &__name {
    position: relative;
    right: 20%;
    min-width: 480px;
    text-transform: uppercase;
    font-family: $Din;
    font-size: 56px;
    line-height: 72px;
  }
  
  &__text {
    width: 380px;
    line-height: 24px;

    @media (max-width:$ipad) {
      width: 500px;
      font-size: 2rem;
      line-height: 36px;
    }
  }
  
  &__link {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: $blue;
    width: 130px;
    @include underline;

    @media (max-width:$ipad) {
      width: 300px;
      font-size: 1.5rem;
      line-height: 36px;
    }
  }

  @media (max-width:$ipad) {
    flex-wrap: wrap;
    position: relative;
    padding: 220px 30px 100px;

    &__name {
      position: absolute;
      top: -165%;
      left: 4%;
      align-items: center;
      font-size: 3rem;
      line-height: 55px;
      font-weight: bold;
    }

    &__info {
      position: relative;
      width: 70%;
      align-items: center;
    }
  }
}
