.activities {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 18px;
  width: 100%;

  &__specs {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 17px;
    transition-duration: $effectDuration;
    color: $grey828282;

    &:hover {
      color: $greyC;
      font-weight: 400;
    }

    &:active {
      color: $greyC;
      font-weight: 400;
    }
  }

  &__lang-switch {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }

  &__option {
    display: flex;
    cursor: pointer;
    transition-duration: $effectDuration;
    color: $grey828282;
    height: 18px;
    padding: 0;

    &:hover {
      color: $greyC;
      font-weight: 400;
    }

    &:active {
      color: $greyC;
      font-weight: 400;
    }
  }

  &__diagonal {
    height: 18px;
    display: flex;
    align-items: center;
  }
}
