.advantages {

  &__content {
    @include page-grid;
  }

  &__nav {
    display: none;

    @include on-desktop {
      grid-column: 4 / 10;
      display: flex;
      align-items: center;
      height: 76px;
      margin-bottom: 62px;
    }
  }

  &__list {
    justify-content: space-between;
    gap: 84px;
  }
}
