.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 45px 123px;
  gap: 30px;

  @media (max-width:1400px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width:768px) {
    grid-template-columns: repeat(1, 1fr);
  }
  
  &__text {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    max-width: 300px;
    gap: 30px;
    align-items: center;
    margin: 0 auto;

    @media (max-width:768px) {
      &:not(:nth-child(3)) {
        display: none;
      }
    }

    &--multiroom .advantages__text {
      padding-top: 30px;
    }

    &--design .advantages__text {
      padding-top: 30px;
    }
   
    &--design {
      @media (max-width:768px) {
        padding: 100px 0;
      }
    }
  }

  &__icon {
    height: 50px;
  }
  
  &__name {
    font-family: $Din;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}
