.announcement {
  height: 246px;
  width: 100%;
  background-image: url(../../src/images/announcementImg320x246.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: 768px) {
    height: 400px;
    background-image: url(../../src/images/announcementImg768x400.png);
  }

  @media (min-width: 1440px) {
    height: 590px;
    background-image: url(../../src/images/announcementImg1440x590.png);
  }
}
