.announcement {

  &__img {
    width: 100%;
    height: 250px;
    background-image: url(../../src/images/announcementImg320x246.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
