.article-features {
  @include onViewDesktop;
  
  padding-top: 60px;

  &--01 {
    grid-column: 2 / 6;
  }

  &--02 {
    grid-column: 7 / 10;
  }

  &--03 {
    grid-column: 2 / 6;
    padding-top: 56px;
    padding-bottom: 59px;
  }

  &__list {
    padding-left: 16px;

    color: $clr--gray;
    font-family: $font--main;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;

    @include onDesktop {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__item {
    list-style-type: disc;
    list-style-image: url(../images/icons/bullet.svg);

    &:first-child {
      padding-top: 30px;
    }

    padding: 10px 0 0 10px;
  }
}
