.aside {
  display: none;

  @include onDesktop {
    display: flex;
    margin-bottom: 62px;
    justify-content: center;
  }

  &__menu {
    padding: 28px 0;
  }

  &__list {
    display: flex;
    gap: 84px;
  }

  &__item {
    transition: scale $transition-duration-speed ease,
      color $transition-duration-speed ease,
      font-weight $transition-duration-speed ease;
    
    &:hover {
      scale: 1.1;
      color: $color-black;
      font-weight: 700;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    color: $color-second-main;
  }
}
