.ava {
  text-align: center;

  &__photo {
    position: relative;
    z-index: 3;
    cursor: pointer;

    @include hover(transform, scale(1.05));
  }

  &__name {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
