.benefit {
  @include on-view-tablet;

  &__image {
    width: 50px;
    height: 44px;
    margin: 0 auto;
    cursor: pointer;

    @include hover(transform, scale(1.1));

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--01 {
      background-image: url('../images/benefits/vector-1.svg');
    }

    &--02 {
      background-image: url('../images/benefits/vector-2.svg');
    }

    &--03 {
      background-image: url('../images/benefits/vector-3.svg');
    }

    &--04 {
      background-image: url('../images/benefits/vector-4.svg');
    }
  }

  &__title {
    text-align: center;
    padding-top: 40px;

    @include on-tablet {
      padding-top: 40px;
    }

    @include on-desktop {
      padding-top: 30px;
      height: 56px;
    }
  }

  &__text {
    padding-top: 20px;

    @include on-desktop {
      padding-top: 24px;
    }

    color: $color-gray-2;
    text-align: center;

    font-family: $font-main;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
}
