.benefits-mobile {

  @include onTablet {
    display: none;
  }

  &__container {
    width: 100%;
  }

  &__wrap {
    padding-bottom: 40px;
  }

  &__slide {
    text-align: center;
  }

  &__img {
    height: 50px;
    width: 40px;
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: $c-black-light;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;

    color: $c-gray-light;
  }

  &__pagination span {
    background-color: $c-aqua;
  }
}
