.benefits {
  margin: 110px 0;

  @include on-tablet {
    margin: 140px 0;
  }

  @include on-desktop {
    margin: 65px 0 170px;
  }

  &__list {
    @include page-grid;

    row-gap: 65px;
  }

  &__benefit {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 3;
    }
  }
}
