.benefit {
  text-align: center;

  &__img-block {
    height: 89px;
  }

  &__title {
    margin: 0 auto;
    height: 3em;
    font-size: 24px;
    max-width: 276px;
    line-height: 30px;
    text-transform: uppercase;

    @media (max-width: 900px) {
      max-width: 340px;
      height: 2em;
    }
  }

  &__about {
    margin-top: 20px;
  }
}
