.benefits {

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "DIN Pro", sans-serif;
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--mobile {
      display: none;

      @include onTablet {
        display: flex;
      }
    }

    &:nth-child(odd) .benefits__title {
      margin-bottom: 50px;
    }
  }

  &__image {
    height: 46px;
    margin: 40px 0;
    
    @include onTablet {
      margin: 50px 0;
    }

    @include onDesktop {
      margin: 48px 0;
    }
  }

  &__paragraph {
    text-align: center;
    font-size: 14px;
    color: #7c7c7c;
  }
}
