.benefit {
  &__img {
    padding-bottom: 40px;
    height: 40px;
    width: 50px;
    max-height: 44px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;
    color: $greyC;
  }

  &__description {
    color: $lightGreyC;
  }
}
