.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 0 17px;
  border: none;
  cursor: pointer;

  background-color: $color-gray;

  color: $color-white;
  font-family: $font-secondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  @include hover(background-color, $color-black);
}

.button-cyan {
  position: relative;
  padding: 0;
  display: inline-block;

  border: none;
  cursor: pointer;

  background-color: transparent;

  color: $color-cyan;
  font-family: $font-main;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 6px;

  &::after {
    content: '';
    position: absolute;

    left: 0;
    right: 0;
    bottom: -6px;

    width: 50%;
    height: 1px;

    background-color: $color-cyan;

    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.button-form {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 102px;
  height: 40px;
  padding: 13px 35px;

  border: none;
  cursor: pointer;

  background-color: $color-cyan;

  color: $color-white;
  font-family: $font-main;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;

  @include hover(background-color, $color-cyan-3);
}
