.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 38px;
  background-color: $text-color;
  color: $bg-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.65px;

  text-transform: uppercase;

  @include hover(background-color, #131313);
  @include active(background-color, #d0d0d0);
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 34px;
  background-color: #0db2b3;
  color: $bg-color;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;

  text-transform: uppercase;
  width: fit-content;

  @include hover(background-color, #0c797a);
  @include active(background-color, #cfeff0);

  @include on-desktop {
    padding: 17px 45px;
  }
}
