.button {
  display: grid;
  place-items: center;
  font-family: $fontFamilyInter;
  font-weight: $fontWeight700;
  font-size: 0.75rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &--buy {
    height: 48px;
    width: 102px;
    background: $colorDune;
    color: $colorWhite;
    transition: 0.3s;

    &:hover {
      background: $colorOnyx;
    }

    &:focus {
      background: $colorOnyx;
      box-shadow: 1px 4px 16px rgba(47, 47, 165, 0.4);
    }
  }

  &--form {
    margin-top: 25px;
    width: 102px;
    height: 40px;

    color: $colorWhite;
    background: $colorTopaz;
    transition: 0.3s;

    &:hover {
      background: $colorSurfieGreen;
    }

    &:focus {
      box-shadow: 1px 4px 16px rgba(47, 47, 165, 0.4);
    }

    &:disabled {
      background: $colorPaleBlueLily;
    }

    @include onDesktop {
      margin-top: 30px;
      width: 124px;
      height: 48px;
    }
  }
}
