.button {
  cursor: pointer;
  padding: 0;
}

.buy__button-link {
  height: 100%;
  width: 100%;
  display: flex;
}

.buy__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greyC;
  color: $whiteFFFC;
  height: 48px;

  &:hover {
    background-color: $blackC;
  }

  &:disabled {
    background-color: $greyD0D0C;
  }
}

.top-bar__button {
  width: 100px;

  @include on-desktop {
    width: 102px;
  }
}

.menu__button {
  width: 100%;

  @include on-tablet {
    display: none;
  }
}

.card__button {
  position: relative;
  color: $biruseC;
}

.card__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50%;
  height: 1px;
  background-color: $biruseC;
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

.card__button:hover::after {
  width: 100%;
}

.activities__option {
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  height: 18px;

  &:hover {
    font-weight: 400;
    color: $greyC;
  }
}
