.main-carousel {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  height: 450px;
}

.carousel-cell {
  width: 100%;
  height: 100%;
}

.flickity-prev-next-button {
  width: 40px;
  height: 40px;
}

.flickity-prev-next-button.previous {
  background-image: url(../../src/images/arrowLeftSlide.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  left: 30%;
  top: 380px;
}

.flickity-prev-next-button.next {
  background-image: url(../../src/images/arrowRightSlide.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  right: 30%;
  top: 380px;
}

@media screen and ( min-width: 768px ) {

  .carousel-cell {
    width: 50%;
  }
}

@media screen and ( min-width: 1440px ) {
  .flickity-button {
    display: none;
  }
  .carousel-cell {
    width: 25%;
  }
}
