.card {
  display: block;
  width: 276px;
  height: 296px;
  text-align: center;

  &__image {
    display: block;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 48px;

    &--icon-futuristic {
      background-image: url("/images/futuristic_icon.svg");
    }

    &--icon-tweeter {
      background-image: url("/images/tweeter_icon.svg");
    }

    &--icon-multiroom {
      background-image: url("/images/multiroom_icon.svg");
    }

    &--icon-intuitive {
      background-image: url("/images/intuitive_icon.svg");
    }
  }

  &__title {

    height: 60px;
    margin-bottom: 20px;

    @include fontParam(24px, 30px);
    text-align: center;
    text-transform: uppercase;
    color: #333;
  }

  &__description {
    width: 276px;

    @include fontParam(14px, 150%);
    color: #7c7c7c;
  }
}
