.container {
  padding: 0 30px;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 40px;
  }

  &--tablet {
    @include onTablet {
      padding: 0 34px;
    }

    @include onDesktop {
      padding: 0 40px;
    }
  }

  &--desktop {
    @include onDesktop {
      padding: 0 40px;
    }
  }

  &--left {
    padding: 0 30px;

    @include onTablet {
      padding: 0 34px 0 0;
    }

    @include onDesktop {
      padding: 0 40px;
    }
  }

  &--right {
    padding: 0 30px;

    @include onTablet {
      padding: 0 0 0 34px;
    }

    @include onDesktop {
      padding: 0 40px;
    }
  }

  &--features {
    padding: 30px 30px 0;

    @include onTablet {
      padding: 60px 0 0 90px;
    }
  }
}
