.contact {
  &__title {
    @extend %f-h2;
    margin-bottom: 30px;
  }

  &__form-field {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    padding: 16px 30px;

    @extend %f-helvetica-neue-st-16;
    color: $c-granit;

    border: 1px solid #828282;
    outline: none;

    background: transparent;

    &:focus {
      border-color: $c-green;
    }

    &--last {
      margin-bottom: 30px;
    }

    &--textarea {
      height: 128px;
      resize: none;

      @include onTablet {
        height: 200px;
      }

      @include onDesktop {
        height: 128px;
      }
    }
  }
}
