.content {

  &__wrapper {
    display: flex;

  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // column-gap: 30px;

    height: 100%;

    @include fontParam(16px, 24px);
    color: $c-darkGray-default;
  }

  &__title {
    width: 378px;
    // grid-column: 1 / -1;
    @include fontParam(64px, 83px);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: $c-darkGray-default;
  }

  &__description {
    width: 276px;

    // grid-column: 1 / 4;

  }

  &__image {
    // height: 464px;
    // height: 100%;
    width: 100%;
    order: 1;
    z-index: 1;
    position: relative;
    left: -29px;

    @include tabletLayout {
      // position: relative;
      // left: -29px;
    }

  }
}
