.contact-us {
  &__content {
    @include on-tablet {
      @include page-grid;
    }
  }

  &__title {
    margin-bottom: 27px;

    @include on-tablet {
      grid-column: 1 / span 4;
    }

    @include on-desktop {
      grid-column: 1 / span 6;
    }
  }

  &__form {
    @include on-tablet {
      grid-column: 5 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__email {
    font-family: $main-font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #828282;
    padding: 12px 20px;

    @include hover(border-color, $c-main);
    @include hover(transform, scale(1.05));

    &:focus {
      border-color: #0c797a;
      outline: none;

      &::placeholder {
        color: #0c797a;
      }
    }
  }

  &__textarea {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #828282;
    padding: 12px 20px;
    height: 128px;
    resize: none;
    font-family: $main-font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @include hover(border-color, $c-main);
    @include hover(transform, scale(1.05));

    &:focus {
      border-color: #0c797a;
      outline: none;

      &::placeholder {
        color: #0c797a;
      }
    }
  }

  &__button {
    cursor: pointer;
    color: $c-white;
    background-color: $c-main;
    border: none;
    padding: 13px 35px;

    @include on-desktop {
      padding: 17px 42px;
    }

    &:hover {
      background-color: #0c797a;
    }

    &:disabled {
      background-color: #cfeff0;
    }
  }
}
