.container {
  margin: 0 auto;
  padding: 0 30px;
  @extend %transition;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 130px;
  }

  &__features {
    margin: 0 auto;
    padding: 0 30px;
    @extend %transition;

    @include onMobile {
      margin: 0;
      padding: 0;
    }

    @include onTablet {
      padding: 0 34px;
    }

    @include onDesktop {
      padding: 0 130px;
    }
  }
}
