.controls {
  text-transform: uppercase;
  height: 48px;

  display: flex;
  
  &__items {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
    width: 174px;
  }

  &__language {
    display: block;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    background-color: #333;
    color: #fff;

    @include fontParam(12px, 15px);

  }
}
