.container {
  --container-padding: 0 30px;
  margin: 0 auto;
  max-width: 1060px;
  padding: var(--container-padding);

  @include onTablet {
    --container-padding: 0 34px;
  }

  @include onDesktop {
    --container-padding: 0;
    max-width: 100%;
  }
}
