.contact-us {
  &__title {
    margin-bottom: 27px;

    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;

    @include media(tabl) {
      max-width: 339px;
      margin-bottom: 0;
      font-size: 36px;
      line-height: 46px;
    }

    @include media(desc) {
      max-width: 584px;
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include media(tabl) {
      flex-direction: row;
      column-gap: 21px;
    }

    @include media(desc) {
      flex-direction: row;
      column-gap: 28px;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #828282;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #bdbdbd;

    outline: none;

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #bdbdbd;
    }

    /*     transition: border 0.3s ease;
 */
    &:hover {
      border: 1px solid #131313;
    }

    &:focus {
      border: 1px solid #0c797a;
      color: #131313;
    }

    &--email {
      margin-bottom: 20px;
    }

    &--textarea {
      resize: none;
      min-height: 128px;
      margin-bottom: 30px;

      @include media(tabl) {
        min-height: 201px;
      }

      @include media(desc) {
        min-height: 128px;
      }
    }
  }
}
