.contact {
  &__container {
    @include container;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 140px;
  }

  &__title {
    @include desktopH2;
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
