.contact {
  margin-bottom: 110px;

  @include onTablet {
    margin-bottom: 140px;
  }

  @include onDesktop {
    margin-bottom: 170px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: $darkGrey;
    margin-bottom: 30px;

    @include onTablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__email {
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #828282;
    outline: none;
    transform: border-color $animationTime;
    background-color: transparent;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $lightGrey;
    }

    &:focus {
      border-color: #0c797a;
    }
  }

  &__message {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    height: 128px;
    outline: none;
    transform: border-color $animationTime;
    background-color: transparent;
    margin-bottom: 30px;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @include onTablet {
      height: 200px;
    }

    &::placeholder {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $lightGrey;
    }

    &:focus {
      border-color: #0c797a;
    }
  }

  &__submit {
    width: 102px;
    height: 40px;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border: none;
    background-color: $lightBlue;
    transition: background-color $animationTime;
    color: #fff;

    @include onDesktop {
      height: 48px;
      width: 125px;
    }

    &:hover {
      background: #0c797a;
    }
    
    &:disabled {
      background: #cfeff0;
    }
  }
}
