.crazy-baby-video {
  position: relative;
  cursor: pointer;

  @media (max-width:757px) {
    &__player {
      height: 70vh;
      object-fit: cover;
    }
  }

  &__button {
    position: absolute;
    @include centre;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 15vw;
    height: 15vw;
    border: 1px solid #f3f4f5;
    border-radius: 50%;
    text-transform: uppercase;
    color: white;
  }

  &__button:hover {
    display: none;
  }
}
