.crazy-baby-video {
  position: relative;

  &__button {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 15vw;
    height: 15vw;
    border: 1px solid #f3f4f5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
  }

  &__button:hover {
    display: none;
  }
}
