.design {

  &__heading {
    @include FontSet("Din Pro Bold", 37px, 55px);
    text-transform: uppercase;
    padding-bottom: 50px;
  }

  &__photo {
    width: 100%;
    height: 210px;
    background-image: url(../../src/images/designPhoto259x210.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
  }

  &__text {
    @include FontSet("Helvetica Neue Roman", 14px, 21px);
    color: $fontColorGrey;
    text-align: center;
    padding-bottom: 30px;
  }

  &__more {
    @include FontSet("Helvetica Neue Medium", 12px, 15px);
    text-decoration: none;
    text-transform: uppercase;
    color: $fontColorGreen;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      bottom: -6px;
      height: 1px;
      background-color: $fontColorGreen;
    }
  }
}
