.feature {
  grid-column: 1 / -1;
  justify-self: center;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    display: inline-block;
    grid-column: 2 / 6;
    width: 260px;
    justify-self: start;
  }

  @include on-desktop {
    width: 100%;
  }

  &--1,
  &--2 {
    display: none;

    @include on-desktop {
      display: inline-block;
    }
  }

  &--1,
  &--3 {
    @include on-desktop {
      grid-column: 2 / 6;
    }
  }

  &--2 {
    @include on-desktop {
      grid-column: 7 / 10;
    }
  }

  &--3 {
    margin-bottom: 50px;

    @include on-desktop {
      margin-bottom: 59px;
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
    color: $features-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-block: 30px 20px;

    @include on-tablet {
      margin-top: 60px;
    }

    @include on-desktop {
      font-size: 34px;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 30px;
    }
  }

  &__list {
    padding-left: 16px;
    margin: 0;
  }

  &__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
