.features2 {
  position: relative;

  @include forMobile {
    background-color: #f2f2f2;
  }

  &__header {
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;
    color: $cGranit;

    @include forTablet {
      position: relative;
      left: 56px;
      font-size: 56px;
      line-height: 70px;
    }

    @include forDesktop {
      left: 86px;
    }
  }

  &__container {
    position: relative;
    margin: 24px auto 0;
    width: 260px;
    overflow: hidden;

    @include forTablet {
      margin-top: 50px;
      width: auto;
      overflow: visible;
    }

    @include forDesktop {
      margin-top: 24px;
    }
  }

  &__slider {

    display: flex;
    justify-content: start;
    width: 780px;

    @include forTablet {
      flex-direction: column;
    }
  }

  &__list {
    position: relative;

    margin-bottom: 20px;
    display: block;
    width: 260px;

    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    text-transform: uppercase;
    color: $cGreen;

    list-style-type: disc;
    list-style-position: inside;

    @include forTablet {
      width: auto;
      margin-bottom: 50px;

      font-size: 34px;
      line-height: 42px;
    }

    &--top {
      @include forTablet {
        left: 41.4vw;
      }

      @include forDesktop {
        left: 647px;
      }
    }

    &--bottom {
      @include forTablet {
        left: 30vw;
      }

      @include forDesktop {
        left: 442px;
      }
    }
  }

  &__item {
    position: relative;
    margin-top: 10px;

    font-size: 14px;
    line-height: 21px;
    color: $cGranit;
    text-transform: none;

    @include forTablet {
      margin-top: 13px;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__background {
    position: absolute;
    z-index: 0;
    top: 110px;
    left: 124px;
    right: -10000px;
    height: 620px;
    background-color: #f2f2f2;

    @include forMobile {
      display: none;
    }
  }

  &__image {
    position: absolute;
    top: 233px;
    right: -30px;
    width: 586px;
    height: 379px;

    background-image: url("/images/dynamo.png");
    background-size: cover;

    @include forMobile {
      display: none;
    }
  }

  &__buttons {
    margin: 51px auto 0;
  }

  &__image2 {
    margin: 9px auto 0;
    position: relative;

    height: 222px;
    width: 100%;
    background-image: url("/images/dynamo-small.png");
    background-repeat: no-repeat;
    background-position: top 0 right 0;

    @include forTablet {
      display: none;
    }
  }
}
