.feedback {
  &__tittle {
    font-family: "DIN Pro Bold", sans-serif;
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;
    color: #333;

    margin-bottom: 30px;

    @include onTablet {
      font-size: 56px;
      line-height: 70px;
    }

    @include onDesktop {
      line-height: 72px;
    }
  }

  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 102px;
    height: 40px;
    border: 2px solid #0db2b3;
  
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background-color: #0db2b3;
    transition: all 0.3s linear;
  
    &:hover {
      border-color: #088383;
      background-color: #099191;
      box-shadow: 0 13px 27px rgba(0, 169, 181, 0.46);
    }
  
    &:active {
      color: #0db2b3;
      border-color: #0db2b3;
      background-color: #fff;
      box-shadow: 0 8px 14px rgba(5, 214, 197, 0.48);
    }
  }
}
