.first-screen {
  &__content {
    flex-direction: column;
    text-align: center;

    @include onTablet {
      align-items: center;
      text-align: left;
    }
  }

  &__image-conatiner {
    order: 1;

    @include onTablet {
      order: 0;
    }
  }

  &__image {
    width: 100%;

    margin-bottom: 40px;
  }

  &__text {
    order: 2;

    @include onTablet {
      order: 0;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  &__description {
    @extend %f-helvetica-neue-st-16;
    color: $c-granit;
  }
}
