.footer {
  margin-bottom: 30px;
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    @include onTablet {
      gap: 60px;
    }
  }

  &__logo {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__icons {
    display: flex;
    gap: 40px;

    @include onTablet {
      gap: 50px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    color: $color-light-gray;
    text-align: center;
  }
}
