.footer {
  box-sizing: border-box;
  padding: 0 30px 50px;

  @include onTablet {
    padding: 0 34px 50px;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__arrow-up {
    position: relative;
    left: 90%;
    width: 20px;
    height: 24px;
    margin-bottom: 24px;
    background-image: url(../images/arrow-up.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s;

    &:hover {
      transform: scale(200%);
    }

    @include onTablet {
      margin-bottom: 9px;
    }
  }

  &__logo {
    width: 161px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 61px;
    background-image: url(../images/logo.svg);
    transition: transform 0.3s;

    &:hover {
      transform: scale(130%);
    }

    @include onMobile {
      display: none;
    }
  }

  &__link-box {
    margin-bottom: 23px;
    display: flex;
    justify-content: center;

    @include onTablet {
      margin-bottom: 108px;
    }
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 0.3s;

    &:hover {
      transform: scale(250%);
    }

    &--facebook {
      width: 11px;
      height: 19px;
      background-image: url(../images/facebook.svg);
    }

    &--twitter {
      width: 22px;
      height: 17px;
      margin: 0 43px;
      background-image: url(../images/twitter.svg);
    }

    &--instagram {
      width: 18px;
      height: 18px;
      background-image: url(../images/instagram.svg);
    }
  }

  &__terms {
    line-height: 21px;
    text-align: center;
    color: #bdbdbd;

    &--mobile {
      font-size: 12px;

      @include onTablet {
        display: none;
      }
    }

    &--tablet {
      font-size: 14px;

      @include onMobile {
        display: none;
      }
    }
  }
}
