.form-field {
  display: block;
  width: 100%;
  height: 48px;
  padding: 12px 20px;

  color: $color-dark-charcoal;

  border: 2px solid $color-american-silver;

  &::placeholder {
    @include main-text;
    color: $color-silver-gray;
  }

  &:hover {
    border-color: $color-silver-gray;
  }

  &:focus {
    border-color: $color-scobeloff;
    outline: none;
  }

  &--textarea {
    height: 200px;
    font-family: inherit;
    resize: none;
  }
}
