.form {
  font-size: 1.13rem;
  max-width: 340px;

  @include onDesktop {
    max-width: 100%;
  }

  &__field {
    background-color: $colorDesertStorm;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;

    font-family: $fontFamilyInter;
    font-size: 0.88rem;
    line-height: 24px;
    color: $colorDune;
    border: 1px solid $colorCottonSeed;
    outline: none;

    @include onTablet {
      font-size: 1rem;
    }

    &::placeholder {
      font-family: $fontFamilyInter;
      color: $colorCottonSeed;
      font-weight: $fontWeight400;
    }

    &:valid {
      font-family: $fontFamilyHelvetica;
      font-size: 1rem;
      border: 1px solid $colorSuccessGreen;
      color: $colorSurfieGreen;
    }

    &:focus {
      border: 1px solid $colorSurfieGreen;
      color: $colorDune;
    }

    &-message {
      margin-top: 20px;
      resize: none;
    }
  }
}
