.foreword {
  padding: 10px;
  &__text {
    &-h {
      display: block;
      font-family: "DINPro-Regular", Helvetica, sans-serif;
      font-size: 48px;
      line-height: 62px;
      font-weight: bolder;
      color: $secondary-gray;
      text-transform: uppercase;
      padding: 0 30px;
    }

    &-p {
      padding: 0 30px;
      display: block;
    }
  }

  &__photo {
    background-image: url(../images/top_photo.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 245px;

    @include onTablet {
      height: 346px;
      grid-row: 1 / 3;
      background-size: auto;
      background-position-y: -80px;
    }

    @include onDesktop {
      height: 464px;
      background-size: contain;
      background-position-y: 0;
    }
  }
}
