.form-field {
  box-sizing: border-box;
  border: 1px solid $color-gunmetal;
  display: block;
  width: 100%;
  padding: 12px 20px;
  height: 48px;
  color: $color-dark-gray;

  &:hover {
    border: 1px solid $color-dark-gray;
  }
  
  &:focus {
    border: 1px solid $color-teal;
    outline: none;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: $color-gray;
  }

  &--textarea {
    font-family: inherit;
    height: 128px;
    resize: none;
  }

  &__social-media {
    display: flex;
  }
}
