.form-field {
  display: block;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #afafaf;
  padding: 14px 16px;
  color: #000;

  &::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
  }

  &:hover {
    border-color: #0db2b3;
  }

  &:focus {
    border-color: #333;
    outline: none;
  }

  &--textarea {
    height: 144px;
    font-family: inherit;
    resize: none ;
  }
}
