.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__input {
    border: 1px solid $color-input-default;
  }

  &__button {
    border: none;
    width: 102px;
    height: 40px;
    background-color: $color-second-button;
    transition: scale $transition-duration-speed ease,
      color $transition-duration-speed ease,
      background-color $transition-duration-speed ease;

    &:hover {
      scale: 1.1;
      background-color: $color-features-main;
    }
  }
}
