.go-top {
  &__button {
    position: absolute;
    right: $container-side-paddning;
    bottom: $container-side-paddning * 2;
    background-color: $c-light;
    border-radius: 50%;
    padding: 10px;
  }

  &__link {
    width: 24px;
  }
}
