.go-top {
  opacity: 0;
  pointer-events: none;

  @include transitions(opacity);

  &__button {
    position: absolute;
    right: $container-side-paddning;
    bottom: $container-side-paddning * 2;
    background-color: $c-light;
    border-radius: 50%;
    padding: 10px;

    @include transitions(transform);

    @include onHover {
      transform: scale(1.15);
    }
  }

  &__link {
    width: 24px;
  }

  &--visible {
    opacity: 1;
    pointer-events: all;
  }
}
