.grid {

  @include forTablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }

  @include forDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }

  &__item {

    @include forTablet {
      &--tablet {
        @include position-in-grid(8);
      }
    }

    @include forTablet {
      &--desktop {
        @include position-in-grid(12);
      }
    }
  }
}
