.hidden-menu {
  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    padding-block: 31px 50px;
  }

  &__link {
    @include on-tablet {
      font-size: 22px;
      line-height: 28px;
    }
  }
}
