.icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &__menu-mobile {
    background-image: url(/images/burger-menu.png);
    width: 24px;
    height: 14px;

    @include forTablet {
      display: none;
    }
  }

  &__design {
    background-image: url(/images/benefits1.svg);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 40px;
    margin-bottom: 40px;

    @include forTablet {
      margin-bottom: 50px;
    }

    @include forDesktop {
      height: 42px;
      margin-bottom: 34px;
    }
  }

  &__speaker {
    background-image: url(/images/benefits2.svg);
    background-position: center;
    background-size: cover;
    width: 46px;
    height: 40px;

    @include forTablet {
      width: 46px;
      height: 40px;
      margin-bottom: 50px;
    }

    @include forDesktop {
      height: 43px;
      width: 49px;
      object-fit: contain;

      margin-bottom: 34px;
    }
  }

  &__multiroom {
    background-image: url(/images/benefits3.svg);
    background-position: center;
    background-size: cover;
    width: 46px;
    height: 37px;

    @include forTablet {
      height: 36px;
      margin-bottom: 44px;
    }

    @include forDesktop {
      height: 38px;
      margin-bottom: 38px;
    }
  }

  &__lighting {
    background-image: url(/images/benefits4.svg);
    background-position: center;
    background-size: cover;
    width: 44px;
    height: 43px;

    @include forTablet {

      height: 44px;
      margin-bottom: 37px;
    }

    @include forDesktop {

      height: 46px;
      margin-bottom: 30px;
    }
  }

  &__arrow-up {
    position: absolute;
    right: 0;
    width: 24px;
    height: 20px;
    background-image: url(/images/arrow-up.svg);
    transform: translateY(-44px);

    @include forTablet {
      right: 14px;
      transform: translateY(-30px);
    }

    @include forDesktop {
      right: 94px;
      transform: translateY(8px);
    }
  }

  &__facebook {
    background-image: url(/images/facebook.svg);
    width: 11px;
    height: 19px;
  }

  &__twitter {
    background-image: url(/images/twitter.svg);
    width: 22px;
    height: 17px;
  }

  &__insta {
    background-image: url(/images/insta.svg);
    width: 18px;
    height: 18px;
  }
}
