.icon {
  display: block;
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @include onTablet {
    display: none;
  }

  &--menu {
    background-image: url(../images/icons/menu-button.svg);
    transition: all 0.3s ease 0s;

    &:hover {
      background-image: url(../images/icons/menu-button-hover.svg);
    }
  }

  &--cross {
    background-image: url(../images/icons/menu-close.svg);
    height: 16px;
    width: 16px;
  }
}
