.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));
}

.icon--menu {
  width: 32px;
  height: 32px;

  background-image: url('../images/icons/icon-menu.svg');

  @include on-desktop {
    display: none;
  }
}

.icon--close {
  background-image: url('../images/icons/icon-close.svg');
}
