.icon {
  display: block;
  @extend %bg-possition;
  width: 24px;
  height: 24px;

  &--menu {
    background-image: url("/images/svg/menu.svg");
  }

  &--cross {
    background-image: url("/images/svg/cross.svg");
  }

  &--en {
    background-image: url("/images/svg/EN.svg");
    width: 19px;
  }

  &--slash {
    background-image: url("/images/svg/slash.svg");
    width: 8px;
    margin: 0 3px;
  }

  &--ua {
    background-image: url("/images/svg/UA.svg");
    width: 21px;
  }

  &--design {
    width: 50px;
    height: 40px;
    margin-bottom: 34px;
    background-image: url("/images/svg/compass.svg");
    @extend %transition;

    &:hover {
      transform: scale(120%);
    }
  }

  &--speaker {
    width: 50px;
    height: 40px;
    margin-bottom: 34px;
    background-image: url("/images/svg/sound.svg");

    @extend %transition;

    &:hover {
      transform: scale(120%);
    }
  }

  &--wifi {
    width: 50px;
    height: 40px;
    margin-bottom: 34px;
    background-image: url("/images/svg/wifi.svg");

    @extend %transition;

    &:hover {
      transform: scale(120%);
    }
  }

  &--sun {
    width: 50px;
    height: 40px;
    margin-bottom: 34px;
    background-image: url("/images/svg/brightness.svg");

    @extend %transition;

    &:hover {
      transform: scale(120%);
    }
  }

  &--facebook {
    background-image: url("/images/svg/facebook.svg");

    @extend %transition;

    &:hover {
      transform: scale(120%);
    }
  }

  &--instagram {
    background-image: url("/images/svg/instagram.svg");

    @extend %transition;

    &:hover {
      transform: scale(120%);
    }
  }

  &--twitter {
    background-image: url("/images/svg/twitter.svg");

    @extend %transition;

    &:hover {
      transform: scale(120%);
    }
  }

  &--arrow {
    background-image: url("/images/svg/arrow.svg");

    @extend %transition;

    &:hover {
      transform: scale(140%);
    }
  }
}
