.img {
  display: flex;
  justify-content: center;

  &__img {
    width: 296px;
    height: 195px;

    @include on-tablet {
      width: 700px;
      height: 430px;
    }

    @include on-desktop {
      width: 846px;
      height: 520px;
    }
  }
}
