.img-magnifier-glass {
  display: none;
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

@media (min-width: 1440px) {
  .img-magnifier-glass {
    display: block;
  }
}
