.lang {
  font-size: 12px;
  visibility: hidden;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #bdbdbd;

  &-en {
    &::before {
      content: "en";
      visibility: visible;
    }
  }
  &-btw {
    &::before {
      content: "/";
      visibility: visible;
      color: #333;
    }
  }
  &-ua {
    &::before {
      content: "ua";
      visibility: visible;
    }
  }

  &-is-active {
    color: #333;
  }
}
