.language-switcher {
  display: none;

  @include on-tablet {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}

.specs {
  color: rgba(79, 79, 79, 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 16.93px;
}

.languages {
  color: rgba(130, 130, 130, 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.language {
  color: rgba(130, 130, 130, 1);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;

  &.active {
    color: $c-dark-brown;
    font-weight: 400;
  }

  &:active {
    color: $c-dark-brown;
    font-weight: 400;
  }
}
