.language-block {
  display: flex;
  align-items: center;
  gap: 3px;

  p {
    color: $color-gray;
  }

  &--link {
    display: inline-block;

    @include hover(transform, scale(1.2));

    color: $color-gray-5;
    font-family: $font-secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
  }

  &--active {
    color: $color-gray;
  }
}
