.link {
  text-decoration: none;

  &--specs {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.93px;
  }



  &--en {
    &-en {
      color: $main-color;
      pointer-events: none;
    }

    &-ua {
      color: #828282;
    }
  }

  &--ua {
    &-ua {
      color: $main-color;
      pointer-events: none;
    }

    &-en {
      color: #828282;
    }
  }

  &--buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: $main-color;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.65px;
  }
}
