.list {
  max-width: 392px;
  margin: 0 auto;

  @include mobileWideLayout {
    max-width: 320px;
  }

  &__title {
    @include fontParam(34px, 120%);
    color: #0c797a;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 12px;

    @include mobileWideLayout {
      @include fontParam(30px, 37px);
    }

    @include mobileLayout {
      margin-bottom: 20px;
      padding-left: 0;
    }
  }

  &__items {
    position: relative;
    margin-bottom: 13px;
    padding-left: 12px;

    @include fontParam(16px, 19px);
    color: $c-darkGray-default;

    @include mobileWideLayout {
      margin-bottom: 10px;

      @include fontParam(14px, 21px);
    }

    &::before {
      content: url("/images/bullet.svg");
      position: absolute;
      top: -3.5px;
      left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
