.logo {
  width: 161px;

  &__image {
    height: 26px;
    width: 161px;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.2) rotateX(1turn);
    }
  }
}
