.logo {
  display: block;
  width: 161px;
  height: 26px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  transition: transform 0.3s;

  &:hover {
    transform: scale(110%);
  }

  &--header {
    margin-left: $verticalMarginMobile;
    padding-top: 27px;

    @include onTablet {
      margin-left: $verticalMarginTablet;
      padding: 0;
    }

    @include onNotebook {
      margin: 0;
      padding: 0;
    }
  }

  &--footer {
    margin: 0 auto;
    margin-bottom: 61px;

    @include onMobile {
      display: none;
    }
  }
}
