.logo {
  display: flex;
  background-image: url(../images/crazybabylogo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 26px;
  width: 162px;
}
