.luna {
  &__img {
    height: 195px;
    background-image: url(../images/mobile/luna.png);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 110px;

    @include onTablet {
      margin-top: 140px;
      margin-bottom: 140px;
      background-image: url(../images/tablet/luna.png);
      height: 430px;
    }

    @include onDesktop {
      margin-top: 170px;
      margin-bottom: 170px;
      background-image: url(../images/desktop/luna.png);
      height: 520px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 40px;
    color: $darkGrey;
    margin-bottom: 30px;
  }

  &__design {
    background-image: url(../images/mobile/luna2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 210px;
  }
}