.luna {
  margin-bottom: 110px;

  @include onDesktop {
    margin-bottom: 170px;
  }

  @include onTablet {
    margin-bottom: 140px;
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 110px;
    transition: all $animationTime;

    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,0.2);
      transform: scale(1.1);
      border-radius: 10px;
    }

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 170px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 40px;
    color: $darkGrey;
    margin-bottom: 30px;

    @include onTablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__design {
    background-image: url(../images/tablet/luna2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 210px;
    margin-bottom: 20px;
    transition: all $animationTime;

    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,0.2);
      transform: scale($scaleAnimation);;
      border-radius: 10px;
    }

    @include onTablet {
      background-image: url(../images/tablet/luna2.png);
      background-size: cover;
      height: 415px;
      margin: 0;
      margin-left: -30px;
    }

    @include onDesktop {
      background-image: url(../images/desktop/luna2.png);
      height: 388px;
      background-size: cover;
      margin: 0;
    }
  }

  &__p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $lightGrey;
    margin-bottom: 30px;

    @include onTablet {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 60px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $lightBlue;
    position: relative;
    padding-bottom: 6px;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 50%;
      top: 19px;
      left: 0;
      background-color: $lightBlue;
      transition: width $animationTime;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
