.main_nav {
  display: none;

  @include onDesktop {
    display: block;
    margin: 130px 0 27px;

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      
      list-style: none;
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #333;

      font-family: Helvetica, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center;

      padding: 0 30px;
      transition: all 0.3s linear;

      &:hover {
        color: #000;

      }
    }
  }

}
