.main-section {
  &__content {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;

    @include on-tablet {
      flex-direction: row;
      padding-top: 115px;
    }

    @include on-desktop {
      padding-top: 145px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      max-width: 340px;
    }

    @include on-desktop {
      max-width: 380px;
      padding-top: 80px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include h1-font;

    @include on-tablet {
      margin-bottom: 30px;
    }
  }

  &__description {
    @include on-tablet {
      max-width: 250px;
    }

    @include on-desktop {
      max-width: 276px;
    }
  }

  &__picture {
    flex: 0 0 auto;
  }
}
