.main {

  &__meet-luna {
    padding: 0 12px;
    margin-bottom: 110px;

    &_pctr {
      width: 100%;
    }
  }

  &__content-part {
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 140px;
    }
  }

  &__article {
    @include onTablet {
      max-width: 340px;
    }
  }

  &__headline {
    font-size: 1.8rem;
    line-height: 40px;
    text-transform: uppercase;
    order: -1;

    @include onTablet {
      padding-bottom: 30px;
      font-size: 2.5rem;
      line-height: 46px;
    }
  }

  &__paragraph {
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;

    @include onTablet {
      padding-bottom: 60px;
      font-size: 1rem;
    }
  }

  &__pctr {
    padding: 30px 0 20px;
    width: 100%;

    @include onTablet {
      padding: 0;
    }
  }

  &__design {
    @include onTablet {
      padding: 0 34px 0 0;
    }
  }

  &__luna-eye {
    @include onTablet {
      display: flex;
      padding: 0 0 34px;
      flex-direction: row-reverse;
    }
  }

  &__see-more {
    display: block;
    margin: 30px 0 110px;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0db2b3;

    @include onTablet {
      margin: 0;
    }
  }

  &__features {

    @include onTablet {
      padding: 0 34px;
    }

    &-headline {
      margin-bottom: 32px;
      padding-left: 30px;

      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      text-transform: uppercase;
      color: #333;
    }

    &-list_block {
      background-image: url(/images/slider-bgr.png);
      background-position: right bottom;
      background-size: auto 225px;
      background-repeat: no-repeat;
      padding-top: 30px;
      padding-bottom: 174px;
      margin-bottom: 89px;
      background-color: #d6ecec;

      @include onTablet {
        padding-top: 60px;
        padding-bottom: 123px;
      }
    }
  }

  &__contact-form {
    margin-bottom: 113px;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 21px;
      margin-bottom: 140px;
    }
  }

  &__form-title {
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 1.88rem;
    line-height: 40px;
    text-transform: uppercase;
    color: #333;

    @include onTablet {
      font-size: 2.25rem;
    }
  }
}
