.main {
  &__icon {
    width: 50px;
    height: 40px;
  }

  &__meet-luna {
    padding: 0 12px;

    &_pctr {
      width: 100%;
      margin-bottom: 110px;
    }
  }

  &__design {

    &-headline {
      font-size: 30px;
      line-height: 40px;
    }

    &-pctr {
      padding: 30px 0 20px;
      width: 100%;
    }

  }

  &__luna-eye {

    &-pctr {
      padding-bottom: 18px;
    }

    &-headline {
      font-size: 36px;
      line-height: 46px;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
  }

  &__paragraph {
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
  }

  &__see-more {
    display: block;
    margin: 30px 0 110px;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0db2b3;
  }

  &__features {

    &-headline {
      margin-bottom: 32px;
      padding-left: 30px;

      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      text-transform: uppercase;
      color: #333;
    }

    &-list_block {
      background-image: url(/images/slider-bgr.png);
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      padding-top: 30px;
      padding-bottom: 174px;
      margin-bottom: 89px;
      background-color: #d6ecec;
    }
  }

  &__form-title {
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #333;
  }

  &__contact-form {
    margin-bottom: 113px;
  }
}
