.main {

  &__benefits {
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 30px;

    @include onTablet {
      padding: 0 34px;
      margin-bottom: 140px;
      gap: 65px 20px;
    }

    @include onDesktop {
      padding: 0;
      max-width: 100%;

      margin-bottom: 170px;
      gap: 0 30px;
    }
  }

  &__presentation {
    padding: 0 12px;
    margin-bottom: 110px;

    @include onDesktop {
      margin: 0 auto;
      padding-bottom: 170px;
    }
  }

  &__content-part {
    padding: 0 30px;
    margin-bottom: 116px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 170px;
      padding: 0;
    }
  }

  &__technology {

    @include onTablet {
      padding: 0 0 34px;
    }

    @include onDesktop {
      padding: 0;
    }
  }

  &__testimonilas {
    margin: 50px 30px 0;
    padding: 0 0 110px;

    @include onTablet {
      margin: 0 auto 140px;
    }

    @include onDesktop {
      margin: 0 auto 170px;
    }
  }

  &__features {

    @include onTablet {
      padding: 0 34px;
    }
  }

  &__questions {
    max-width: 1060px;
    margin: 0 auto 113px;
    padding: 0 30px;

    @include onTablet {
      margin: 0 auto 140px;
      padding: 0 34px;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 21px;
    }

    @include onDesktop {
      margin: 0 auto 187px;
      max-width: 100%;
      gap: 28px;
    }
  }
}
