.meet {
  &__photo {
    height: 195px;
    background-image: url(../images/meet/desktop.jpg);
    background-color: $colorBackground;
    background-blend-mode: darken;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 -18px;
    transition: all 0.3s;

    &:hover {
      background-color: $colorGreenBackground;
    }

    @include onTablet {
      height: 430px;
      margin: 0;
    }

    @include onDesktop {
      height: 520px;
    }
  }
}
