.menu {
  background-color: $c-light;

  &__content {
    height: 100vh;
    padding: $header-top-paddning 0;
    overflow-y: auto;

    z-index: 1;

    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;
  }

  &__cross {
    width: 24px;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__item {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    padding: 6px 0;
  }

  &__lang-swicher {
    margin-bottom: 18px;
    flex: 0 1 100%;
  }

  &__buy {
    flex: 0 0 48px;
  }
}
