.menu {
  background-color: $color-bg-aside;
  overflow: auto;

  height: 100%;
}

.nav-menu {
  padding-top: 55px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include on-tablet {
      gap: 40px;
    }
  }

  &__link {
    @extend %nav-link;
  }

  &__specs {
    @include on-view-mobile;

    color: $color-gray-1;
    font-family: $font-secondary;
    font-weight: 300;
    line-height: normal;

    @include hover(color, $color-black);
  }

  &__lang {
    @include on-view-mobile;

    padding-top: 50px;

    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__btn {
    @include on-view-mobile;

    width: 100%;
    margin: 162px 0 30px;
  }
}
