.mobile-nav {
  position: absolute;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-american-silver, 0.95);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
  transition: top $transition-duration ease;

  &--active {
    display: flex;
    top: 0;
  }
}
