.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
  
  position: absolute;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;

  @include mobile-nav-bg-color;
  opacity: 0.95;

  transition: top $transition-duration ease;

  &--active {
    top: 0;
  }
}
