.nav {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  width: 700px;

  &__list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 970px) {
    display: none;
  }
}
