.nav-menu {
  display: none;

  &__hidden {
    display: flex;
  }

  @include on-desktop {
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    margin-block: 170px 62px;
  }

  &__list {
    display: flex;
    gap: 84px;
    align-items: center;
    padding-block: 28px;
  }

  &__item {
    box-sizing: border-box;

    @include hover(transform, scale(1.2));
  }

  &__link {
    color: $c-dark-brown;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    display: block;

    &:hover {
      font-weight: 700;
    }
  }
}
