.nav {

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    margin: 0 auto;
    top: -1000%;
    left: 20%;
    right: 20%;

    padding: 25px 0;

    list-style: none;

    background-color: $cLight;
    border-radius: 20px;
    box-shadow: 2px 0 6px rgba($cGranit, 0.3);

    transition-duration: 0.3s;

    .menu__toggle:checked ~ & {
      visibility: visible;
      top: 40px;
    }
  }

  &__link {
    display: block;
    padding: 12px 24px;

    color: $cGranit;
    text-transform: uppercase;

    border-radius: 15px;

    transition-duration: 0.3s;

    &:hover {
      font-weight: 500;
    }

    &:active {
      font-weight: 500;
    }
  }
}
