.nav-header {
  margin-top: 170px;

  @include on-view-desktop;

  &__list {
    height: 76px;

    display: flex;
    align-items: center;
    gap: 84px;
  }

  &__item {
    width: 101px;
    text-align: center;
    box-sizing: border-box;
  }

  &__link {
    @extend %nav-link;
  }
}
