.nav {

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 76px;
  }

  &__link {
    color: #333;

    &:active {
      color: #131313;
    }
  }
}
