.nav-desktop {
  display: none;
  width: 100%;

  &__menu {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 76px;
    width: 785px;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__item {
    display: block;

    &:last-of-type {
      margin-right: 70px;
    }
  }

  &__link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $black-crazy;
    transition: all 0.3s;

    &:hover {
      font-family: Inter-bold, Arial, Helvetica, sans-serif;
      font-weight: 700;
    }

    @include forDesktop {
      display: block;
    }
  }
}
