.nav-desktop {
  margin-top: 170px;
  padding: 28px 0;
  display: none;

  @include onDesktop {
    display: flex;
  }

  &__link {
    color: #131313;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-right: 84px;
    text-decoration: none;
    transition: color $animationTime;

    &:hover {
      color: $lightBlue;
    }

    &:last-child {
      margin: 0;
    }
  }
}
