.page {
  background: #f7f7f7;
  scroll-behavior: smooth;
  font-family: $fontFamilyInter;

  &__body {
    margin: 0 auto;
    max-width: 1194px;

    &--with-menu {
      overflow: hidden;
    }
  }
}
