.page {
  position: relative;

  max-width: $maxScreenWidth;
  margin-left: auto;
  margin-right: auto;
  background-color: $cLight;

  &__screen-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: inherit;
    overflow: hidden;

    &--header {
      position: sticky;
      top: 0;
      z-index: 20;
      overflow: visible;

      @include forTablet {
        position: static;
      }
    }

    &--speaker {
      overflow: visible;

      @include forTablet {
        margin-top: 100px;
      }
    }

    &--navigation {
      margin-top: 60px;
    }

    &--features {
      margin-top: 100px;

      @include forTablet {
        margin-top: 50px;
      }
    }

    &--video {
      margin-top: 90px;
    }

    &--future {
      margin-top: 90px;

      @include forTablet {
        margin-top: 138px;
      }

      @include forDesktop {
        margin-top: 158px;
      }
    }

    &--technology {
      margin-top: 90px;

      @include forTablet {
        margin-top: 130px;
      }

      @include forDesktop {
        margin-top: 150px;
      }
    }

    &--quote {
      margin-top: 90px;
      overflow: visible;

      @include forTablet {
        margin-top: 130px;
      }

      @include forDesktop {
        margin-top: 84px;
      }
    }

    &--features2 {
      margin-top: 90px;

      @include forTablet {
        margin-top: 130px;
      }

      @include forDesktop {
        margin-top: 150px;
      }
    }

    &--questions {
      margin-top: 45px;

      @include forTablet {
        margin-top: 130px;
      }

      @include forDesktop {
        margin-top: 180px;
      }
    }

    &--footer {
      overflow: visible;
      margin-top: 53px;
      margin-bottom: 50px;

      @include forTablet {
        margin-top: 96px;
      }

      @include forDesktop {
        margin-top: 142px;
        margin-bottom: 100px;
      }
    }
  }

  &__content-wrapper {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: $maxContentWidth + 2 * $minSidePadding;
    padding-left: $minSidePadding;
    padding-right: $minSidePadding;
  }

  &__buy-button {
    display: block;
    position: fixed;
    z-index: 25;
    bottom: 30px;
    right: 30px;
    height: 48px;
    width: 48px;

    @include forTablet {
      display: none;
    }
  }
}
