.page {
  scroll-behavior: smooth;
  box-sizing: border-box;

  &__body {
    font-family: Inter, 'Segoe UI', sans-serif;
    color: $text-primary;
    background-color: #f7f7f7;
  }

  &__sidebar {
    position: fixed;
  }
}
