.panel {
  &__item {
    text-transform: uppercase;
    list-style-type: none;
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4f4f4f;
    text-decoration: none;

    transition: color 0.3s ease-in-out;

    &:hover {
      font-weight: 500;
      color: $text-primary;
    }
  }

  &__lang {
    cursor: pointer;

    border: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #bdbdbd;
    text-transform: uppercase;

    background: none;

    transition:
      color 0.3s ease-in-out,
      font-weight 0.3s ease-in-out;

    -webkit-tap-highlight-color: transparent;

    &--separator {
      color: $text-primary;
    }

    &--active {
      color: $text-primary;
    }

    &:hover {
      font-weight: 500;
      color: $text-primary;
    }
  }
}
