.panel {
  &__item {
    list-style-type: none;
    text-transform: uppercase;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4f4f4f;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      font-weight: 500;
      color: $text-primary;
    }
  }

  &__lang {
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background: none;
    border: none;
    color: #bdbdbd;
    cursor: pointer;
    transition:
      color 0.3s ease-in-out,
      font-weight 0.3s ease-in-out;

    &--separator {
      color: $text-primary;
    }

    &--active {
      color: $text-primary;
    }

    &:hover {
      font-weight: 500;
      color: $text-primary;
    }
  }
}
