.perks {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;

  &-d {
    display: none;

    @include onTablet {
      display: flex;
    }

    @include onDesktop {
      display: flex;
    }
  }

  @include onTablet {
    margin-bottom: 140px;
  }

  @include onTablet {
    margin-bottom: 170px;
  }

  &__grid {
    display: none;

    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
    }
  }
  
  @include onDesktop {
    margin-top: 66px;
  }

  @include onTablet {
    margin-top: 140px;
  }

  &__perk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    transition: all $animationTime;

    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,0.2);
      transform: scale($scaleAnimation);
      border-radius: 10px;
    }
    
    @include onTablet {
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 65px;
      }
      max-width: none;
    }
  }

  &__title {
    text-align: center;

    @include onTablet {
      font-size: 22px;
      line-height: 28px;
    }

    margin-top: 40px;
    text-transform: uppercase;
    color: #333;
  }

  &__descr {
    color: $lightGrey;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
