.photo {
  display: flex;
  justify-content: center;

  &__img {
    display: block;
    margin-inline: auto;
    width: 296px;
    height: 195px;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      width: 700px;
      height: 430px;
    }

    @include on-desktop {
      width: 846px;
      height: 520px;
    }
  }
}
