.presentation {
  display: flex;
  justify-content: center;

  mix-blend-mode: darken;

  opacity: 0;
  transform: translateX(50%);
  transition: opacity $transition-time, transform $transition-time;

  &__img {
    width: 100%;
    max-width: 848px;
  }
}

.animation {
  opacity: 1;
  transform: translateX(0);
}
