.presentation {
  &__content {
    padding-bottom: 65%;
    background-image: url(../images/assortment-BG/assortment-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media(tabl) {
      padding-bottom: 61%;
      background-image: url(../images/assortment-BG/assortment-bg-tabl.jpg);
    }
    @include media(desc) {
      margin: 0 auto;
      max-width: 845px;
      background-image: url(../images/assortment-BG/assortment-bg-desc.jpg);
    }
  }
}
