.presentation {
  background-color: #f9f9f9;
  margin-bottom: 110px;
  @extend %transition;

  @include onTablet {
    margin-bottom: 140px;
  }

  @include onDesktop {
    margin-bottom: 190px;
  }

  &__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 200px;
    margin: 0 auto;

    background-image: url(/images/img_2.png);

    @include onTablet {
      width: 700px;
      height: 430px;
    }

    @include onDesktop {
      width: 846px;
      height: 520px;
    }
  }
}
