.presentation {
  margin-top: 150px;
  cursor: pointer;
  overflow: hidden;

  @media (max-width: 900px) {
    margin-top: 130px;
  }

  @media (max-width: 450px) {
    height: 246px;
    margin-top: 90px;
  }

  &__img {
    width: 100%;
    object-fit: cover;

    @media (max-width: 450px) {
      width: auto;
      height: 100%;
      object-position: -40px;
    }
  }
}
