.presentation {
  display: flex;
  justify-content: center;

  mix-blend-mode: darken;
  overflow: hidden;

  &__img {
    width: 100%;
    max-width: 848px;

    opacity: 0;

    transform: translateX(50%);
    transition: opacity 1s, transform 1s;
  }
}

.animation {
  opacity: 1;
  transform: translateX(0);
}
