.product-card {
  padding: 20px;
  background: $c-white;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__close {
    margin-left: auto;
    width: 12px;
    margin-bottom: 20px;
  }

  &__image-container {
    margin-right: 20px;
  }

  &__color-text {
    @extend %f-helvetica-neue-medium-14;
    color: $c-grey;
    text-align: center;
    margin-bottom: 20px;
  }

  &__color {
    font-weight: 400;
    color: $c-granit;
  }
}
