.product-card {
  position: relative;
  padding: 20px;
  background: $c-white;

  @include onTablet {
    padding: 15px 30px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include onTablet {
      gap: 54px;
    }

    @include onDesktop {
      justify-content: center;
    }
  }

  &__close {
    margin-left: auto;
    width: 12px;
    margin-bottom: 20px;

    @include onTablet {
      position: absolute;
      top: 20px;
      right: 20px;
      margin-bottom: 0;
    }
  }

  &__image-container {
    margin-right: 20px;
  }

  &__text {
    @extend %f-helvetica-neue-medium-14;
    color: $c-grey;
    text-align: center;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__color-text {
    @include onTablet {
      display: inline-block;
      margin-right: 16px;
    }
  }

  &__color {
    font-weight: 400;
    color: $c-granit;

    @include onTablet {
      display: inline-block;
    }
  }

  &__specs {
    @include onTablet {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    @include onDesktop {
      justify-content: space-between;
      width: 50%;
    }
  }
}
