.form {
  &__field {
    margin-bottom: 20px;
    padding: 12px 20px;
    outline: none;
    border: 1px solid $grey828282;
    height: 48px;
    box-sizing: border-box;
    transition-duration: $effectDuration;
    font-weight: 400;

    @include on-tablet {
      padding: 12px 30px;
    }

    &::placeholder {
      color: $doublelightGreyC;
    }

    &:hover {
      border: 1px solid $greenC;
    }

    &:hover::placeholder {
      font-weight: 500;
      color: $greyC;
    }

    &:not(:placeholder-shown) {
      color: $greyC;
      font-weight: 500;
    }

    &:focus {
      border: 1px solid $greenC;
      color: $greyC;
      font-weight: 400;
      font-family: $fontFamilyHelvetica;
    }
  }

  &__field--message {
    height: 128px;
    resize: none;
    overflow: hidden;

    @include on-tablet {
      height: 201px;
    }

    @include on-desktop {
      height: 128px;
    }
  }

  &__submit {
    margin-top: 10px;
  }
}
