.quote {
  position: relative;

  &__text {
    margin: auto;
    max-width: 786px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: $cGranit;

    @include forTablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__photo {
    position: relative;
    z-index: 3;
    margin: 40px auto 0;
    display: block;
    width: 62px;
    height: 62px;
  }

  &__name {
    display: block;
    margin-top: 20px;
    text-align: center;
    @include fontHelvetica;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: $cGranit;
  }

  &__position {
    display: block;
    margin-top: 7px;
    text-align: center;
    @include fontHelvetica;
    font-size: 14px;
    line-height: 120%;
    color: $cGrey;
  }

  &__decor {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 208px;
    height: 171px;
    background-image: url("/images/quotes.svg");
    background-size: cover;
    background-position: top center;

    @include forTablet {
      top: -32px;
      width: 233px;
      height: 191px;
    }
  }
}
