.quote {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;

    background-image: url('../images/quote/quote.svg');
    background-size: 208px 171px;
    background-position: center top;
    background-repeat: no-repeat;

    @include on-tablet {
      background-size: 233px 189px;
    }

    @include on-desktop {
      width: 786px;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 50px;

    @include on-tablet {
      margin-bottom: 40px;
      padding-top: 60px;
    }

    @include on-tablet {
      margin-bottom: 30px;
      padding-top: 42px;
    }
  }

  &__ava {
    margin-bottom: 10px;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      margin-bottom: 20px;
    }
  }

  &__name {
    margin-bottom: 5px;
  }
}
