.review {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding-top: 50px;
  margin-bottom: 110px;

  background-image: url(/images/review-bgr.png);
  background-repeat: no-repeat;
  background-position: top center;

  &__content {
    padding-bottom: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }

  &__author-pctr {
    padding-bottom: 10px;
  }

  &__author-name {
    padding-bottom: 5px;

    font-weight: 700;
    font-size: 16px;
    color: #333;
  }

  &__author-job {
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
  }
}
