.review {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__comment {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px;

    @include media(tabl) {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      max-width: 786px;
    }
  }

  &__commentator {
    padding-top: 72px;
    position: relative;
    margin: 0 auto;
    padding-inline: 5px;

    @include media(tabl) {
      padding-top: 82px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/avatar.png);
      width: 62px;
      height: 62px;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
