.section__6 {
  flex-direction: column;
  align-items: center;

  &-quote-img {
    position: absolute;
    width: 208px;
    height: 171px;
  }

  &-quote {
    @extend %quote-mobile;
    text-align: center;
    max-width: 768px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &-img {
    width: 62px;
    height: 62px;
  }

  &-photo-title {
    @extend %h5-desktop;
    margin-top: 10px;
    margin-bottom: 5px
  }

  &-job-title {
    @extend %secondary-text;
    color: $silverGray;
  }
}

@include onTablet {
  .section__6 {
    &-quote {
      font-size: 24px;
      line-height: 36px;
      margin-top: 60px;
      margin-bottom: 40px;
    }

    &-job-title {
      margin-top: 20px;
    }
  }
}

@include onDesktop {
  .section__6 {
    &-quote {
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }
}
