.section-menu {
  display: none;

  @include on-desktop {
    display: block;
    margin-top: 170px;
  }

  &__list {
    display: flex;
    gap: 84px;
    justify-content: center;
    align-items: center;

    list-style: none;

    padding-block: 28px;
  }
}
