.section__7 {
  background-color: $lightcyan;
  flex-direction: column;
  margin: 0 -30px;

background-blend-mode: darken;
  &-content {
    display: none;
    flex-direction: column;
  }

  &-sound {
    display: flex;
  }

  &-title {
    @extend %h3-mobile;
    color: $teal;
    padding-inline: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &-content {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-position: inside;
      padding-inline: 30px;
    }

    &-item {
      @extend %secondary-text;
      color: $darkestGray;
    }
  }

  &-img {
    height: 227px;
    background-blend-mode: darken;
    background: url(../images/desktop/luna-features.png), $lightcyan -51.551px -42.314px / 111.9% 118.717%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
  }

  &-nav {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    &-list {
      display: flex;
      list-style: none;
      position: relative;
    }

    &-item {
      position: absolute;
      left: -45px;
    }
  }

}
