.questions {

  &__grid {
    @include pageGrid;
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 5 / -1;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }
  }
}
