.sketch {
  position: relative;
  overflow: hidden;

  &__title {
    font-family: "DIN Pro Bold", sans-serif;
    font-size: 37px;
    line-height: 55px;
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__photo {
    width: 100%;

    @include onTablet {
      // height: 110%;
      width: 65%;

      position: absolute;
      top: -5%;
      left: -20%;
      z-index: -1;
    }

    @include onDesktop {
      position: absolute;
      // height: 100%;
      width: 40%;
      top: -5%;
      left: 15%;
      z-index: -1;
    }

    &-image {
      width: 100%;
    }
  }

  &__paragraph {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;

    margin: 30px 0;
  }

  &__link {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0db2b3;
    transition: all 0.5s linear;

    &:hover {
      color: #076969;
    }

    &::after {
      content: "";
      display: block;
      width: 53px;
      height: 1px;
      background-color: #0db2b3;
      margin: 6px 0 20px;
    }
  }
}
