.slider {

  &__headline {
    margin-bottom: 20px;
    padding-left: 32px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #0c797a;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 27px 50px 48px;

    list-style-position: outside;

    &_item {
      font-size: 14px;
      line-height: 21px;
      color: #333;
    }
  }

  &__control {
    text-align: center;

    &--left::after {
      content: url(/images/arrow-left.svg);
    }

    &--right::after {
      content: url(/images/arrow-right.svg);
    }
  }
}
