.slider-menu {
  display: none;

  @include mobileWideLayout {
    display: block;
  }

  &__sliders {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  &__left {
    background-image: url("/images/slider_left.svg");
    background-repeat: no-repeat;
    height: 14px;
    width: 48px;
  }

  &__right {
    background-image: url("/images/slider_right_active.svg");
    background-repeat: no-repeat;
    height: 14px;
    width: 48px;
  }

  &__page-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DIN Pro", sans-serif;
  }

  &__count-1 {
    @include fontParam(16px, 20px);
  }

  &__count-divider {
    @include fontParam(11px, 14px);
    color: #bdbdbd;
    padding: 0 4px;
  }

  &__count-3 {
    @include fontParam(11px, 14px);
    color: #bdbdbd;
  }
}
