.smm-links {

  &__facebook {
    width: 48px;
    height: 48px;
    background-image: url(../../src/images/facebookStatic11x19.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.5s;

    &:hover {
      background-image: url(../../src/images/facebookHover11x19.svg);
      transform: scale(1.4);
    }
  }

  &__twitter {
    width: 48px;
    height: 48px;
    background-image: url(../../src/images/twitterStatic22x17.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.5s;

    &:hover {
      background-image: url(../../src/images/twitterHover22x17.svg);
      transform: scale(1.4);
    }
  }

  &__instagram {
    width: 48px;
    height: 48px;
    background-image: url(../../src/images/instaStatic18x18.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.5s;

    &:hover {
      background-image: url(../../src/images/instaHover18x18.svg);
      transform: scale(1.4);
    }
  }
}
