.socials {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 46px;
  justify-content: center;
  align-items: center;

  &__link {
    background-size: cover;
    cursor: pointer;

    &--facebook {
      height: 19px;
      width: 11px;
      background-image: url("/images/socials/facebook.svg");

      &:hover {
        background-image: url("/images/socials/facebook-color.svg");
      }
    }

    &--twitter {
      height: 17px;
      width: 22px;
      background-image: url("/images/socials/twitter.svg");

      &:hover {
        background-image: url("/images/socials/twitter-color.svg");
      }
    }

    &--instagram {
      height: 18px;
      width: 18px;
      background-image: url("/images/socials/instagram.svg");

      &:hover {
        background-image: url("/images/socials/instagram-color.svg");
      }
    }
  }
}
