.social-media {
  display: flex;
  gap: 48px;

  &__link {
    color: $c-black;
    width: 22px;
    height: 19px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    &--facebook {
      background-image: url(../images/icons/facebook.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--twitter {
      background-image: url(../images/icons/twitter.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--instagram {
      background-image: url(../images/icons/instagramm.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
