.social {
  margin-bottom: 34px;

  @include onTablet {
    margin-bottom: 64px;
  }

  &__link {
    text-decoration: none;
    
    &:not(:last-child) {
      margin-right: 46px;
    }
  }

  &__img {
    fill: $c-gray;

    transition: fill $transition-time;

    &:hover {
      fill: $c-aqua;
    }
  }
}
