.speaker {
  // margin-top: 31px;

  // @include onTablet {
  //   margin-top: 131px;
  // }

  // @include onDesktop {
  //   margin-top: 104px;
  // }

  &__image {
    @media (max-width: 768px) {
      position: relative;
      width: 100%;
    }
    @include onTablet {
      position: absolute;
      z-index: -1;
    }
      
  }

  &__title {
    
    font-family: "DIN Pro", sans-serif;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    @include onTablet {
      margin-bottom: 34px;
      font-size: 48px;
      line-height: 130%;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 27px;
      font-size: 64px;
      line-height: 130%;
    }
  }

  &__paragraph {
    text-align: center;
    @include onTablet {
      text-align: left;
    }
  }
}
