.spec-box {
  display: none;

  @include onTablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 34px;
  }

  @include onNotebook {
    margin: 0;
  }
  
  &__specs {
    font-size: 14px;
    line-height: 18px;
    color: #4f4f4f;
    text-decoration: none;
  }

  &__language {
    margin: 0 3px;
    font-size: 14px;
    line-height: 18px;
    color: $colorBrown;

    &::before {
      content: "EN";
      margin-left: 27px;
    }

    &::after {
      content: "UA";
      margin-right: 27px;
      font-size: 14px;
      line-height: 18px;
      color: $colorBrown;
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 48px;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    background-color: $colorBrown;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: $colorWhite;
      color: $colorBrown;
      border-color: $colorBrown;
    }
  }
}
