.switcher {
  display: none;

  @include tablet {
    & {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      &__item:nth-child(2)::before {
        content: '/';
        padding-left: 5px;
      }

      &__lang-link {
        text-decoration: none;
        text-transform: uppercase;
        color: #828282;
      }

      &__lang-link:focus {
        color: $main-text-color;
        font-weight: 700;
      }
    }
  }
}
