/* Общий стиль */
.swiper {
  width: 100%;
  max-width: 260px;
}

/* Кастомные стрелки */
.swiper-buttons {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  display: flex;
  width: 48px;
  height: 13px;
}

.swiper-button-prev {
  background-image: url('../images/icons/arrow-left.svg');

  &:hover,
  &:active {
    background-image: url('../images/icons/arrow-left-active.svg');
  }
}

.swiper-button-next {
  background-image: url('../images/icons/arrow-right.svg');

  &:hover,
  &:active {
    background-image: url('../images/icons/arrow-right-active.svg');
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0;
}

.swiper-pagination {
  margin-top: 15px;
  position: relative;
}

/* Кастомная пагинация */

.swiper-pagination-fraction {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 43px;
  height: 24px;
  margin-inline: auto;
  margin-top: 8px;

  font-size: 11px;
  line-height: 13.31px;
  color: #0c797a;
}

.swiper-pagination-current {
  align-self: center;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
