.technology {
  padding: 150px 0;
  overflow: hidden;

  &__photo {
    width: 100%;
  }

  &__name {
    padding-left: 15%;
    font-family: $Din;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
  }

  &__comment {
    padding-top: 70px;
    gap: 20px;
    @include centre;
    flex-direction: column;
    background-image: url(../images/Vectorback.png);
    background-repeat: no-repeat;
    background-position: 51% 0;
  }

  &__comment-text {
    max-width: 500px;
    text-align: center;
  }

  &__comment-person {
    text-align: center;
    font-family: $Helvetica;
    font-size: 16px;
    line-height: 27px;
  }

  &__link {
    text-decoration: none;
    color: $blue;
    @include underline();
  }

  &__comment-post {
    opacity: 0.5;
  }

  @media (max-width:768px) {
    position: relative;
    &__name {
      transform: translate(+8%, -50%);
    }
  }
}
