.technology {
  @include responsive-grid;
  padding-bottom: 110px;
  padding-inline: 30px;
  background-color: $bg-color;

  @media (min-width: 744px) {
    padding-inline: 0;
    padding-left: 34px;
  }

  @media (min-width: 1440px) {
    padding-inline: 123px;
    padding-bottom: 170px;
  }

  &__wrapper {
    grid-column: 1 / -1;
  }
}


