.technology {
  @extend %flexColumn;
  @include mainArticleBlockTablet;

  @include onDesktop {
    gap: 30px;
  }

  &__article {

    @include onTablet {
      max-width: auto;
      order: -1;
    }

    @include onDesktop {
      max-width: 582px;
    }
  }

  &__headline {
    font-size: 2.25rem;
    line-height: 40px;
    text-transform: uppercase;
    padding-bottom: 0;

    @include onTablet {
      padding-bottom: 30px;
      line-height: 46px;
    }

    @include onDesktop {
      font-size: 3.5rem;
      line-height: 70px;
    }
  }

  &__paragraph {
    font-size: 1rem;
    line-height: 24px;
    padding-bottom: 30px;
    color: $colorConcord;

    @include onTablet {
      padding-bottom: 60px;
    }

    @include onDesktop {
      padding-bottom: 0;
      line-height: 24px;
    }
  }

  &__pctr {
    @include mainArticlePicture;
    order: 2;
    @extend %transitionPointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__see-more {
    @extend %seeMoreDefaultStyle;

    margin: 30px 0 110px;

    @include onTablet {
      margin: 0;
    }

    @include onDesktop {
      display: block;
      margin: 60px 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      margin-top: 5px;
      height: 1px;
      width: 53px;

      background-color: #0db2b3;
      transition: 0.3s;

      @include onDesktop {
        width: 65px;
      }
    }

    &:hover::after {
      width: 100%;

      @include onDesktop {
        width: 125px;
      }
    }
  }
}
