.testimonilas {
  text-align: center;
  background-image: url(/images/testiminilas-bg.svg);
  background-repeat: no-repeat;
  background-position: top;

  
  &__description {
    padding-top: 60px;
    display: block;
  }

  &__photo {
    padding-bottom: 10px;
  }

  &__author {
    padding-bottom: 5px;
  }
}
