.testimonials {
  &__content {
    position: relative;
  }

  &__background {
    width: 210px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include onTablet {
      width: 235px;
      height: 190px;
    }
  }

  &__text {
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
      padding-top: 60px;
      margin-bottom: 40px;
    }

    @include onDesktop {
      padding-top: 42px;
      width: 786px;
      margin: 0 auto 30px;
    }
  }

  &__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    display: block;
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
    border-radius: 50%;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  &__position {
    line-height: 21px;
    text-align: center;
    color: $colorGray;
  }
}
