.testimonials {
  margin: 77px 30px 45px;

  @include onTablet {
    margin: 40px 34px 130px;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 208px;
    height: 171px;

    @include onTablet {
      width: 233px;
      height: 188px;
    }
  }

  &__citation {
    font-family: "DIN Pro", sans-serif;
    text-align: center;
    color: $colorBrown;

    &--mobile {
      margin: 12px auto 40px;
      font-size: 14px;
      line-height: 21px;

      @include onTablet {
        display: none;
      }
    }

    &--tablet {
      margin: 73px auto 30px;
      font-size: 23px;
      line-height: 36px;

      @include onMobile {
        display: none;
      }
    }
  }

  &__photo {
    margin-bottom: 20px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(180%);
    }
  }

  &__name {
    display: block;
    margin: 0 0 7px;
    font-weight: medium;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $colorBrown;
  }

  &__position {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #7c7c7c;
  }
}
