.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__comment {
    display: flex;
    align-items: flex-end;
    text-align: center;
    height: 170px;
    max-width: 780px;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    background-image: url(../images/testimonials_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: opacity $transition-time;

    order: -1;
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }

    @include onTablet {
      height: 190px;
      margin-bottom: 40px;

      font-size: 24px;
      line-height: 36px;
    }

    @include onDesktop {
      align-items: center;
      margin-bottom: -12px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover ~ .testimonials__comment {
      opacity: 1;
    }
  }

  &__photo {
    height: 62px;
    width: 62px;
    margin-bottom: 10px;

    border-radius: 50%;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: $c-black;
  }

  &__position {
    font-size: 14px;
    line-height: 21px;
    color: $c-gray-light;
  }
}
