.testimonilas {
  display: flex;
  flex-direction: column;
  text-align: center;

  background-image: url(/images/review-bgr.png);
  background-repeat: no-repeat;
  background-position: top center;

  &__content {
    padding-bottom: 30px;

    font-weight: 700;
    font-size: 0.88rem;
    line-height: 20px;
    color: #333;

    @include onTablet {
      padding-bottom: 40px;

      font-size: 1.5rem;
      line-height: 36px;
      text-align: center;
    }

    @include onDesktop {
      padding-bottom: 30px;
      max-width: 768px;
      margin: 0 auto;
    }
  }

  &__author-pctr {
    padding-bottom: 10px;

    @include onTablet {
      padding-bottom: 20px;
    }
  }

  &__author-name {
    padding-bottom: 5px;

    font-weight: 700;
    font-size: 1rem;
    color: #333;
  }

  &__author-job {
    font-size: 0.88rem;
    line-height: 21px;
    color: #7c7c7c;
  }
}
