.testomonials {
  &__content {
    background-image: url('../images/quote.png');
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 786px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;

    @include on-tablet {
      padding-top: 60px;
    }

    @include on-desktop {
      padding-top: 42px;
    }
  }

  &__avatar {
    max-width: 62px;
    max-height: 62px;
    margin-bottom: 10px;

    @include on-tablet {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 30px;

    @include quote;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-tablet {
      margin-bottom: 30px;
    }
  }

  &__name {
    margin-bottom: 5px;

    @include h5-font;
  }

  &__occupation {
    color: $gray-color;

    @include secondary-text;
  }
}
