.testimonilas {
  @extend %flexColumn;
  text-align: center;

  background-image: url(/images/review-bgr.png);
  background-repeat: $backgroundNoRepeat;
  background-position: top center;

  &__content {
    padding-bottom: 30px;

    font-weight: $fontWeight700;
    font-size: 0.88rem;
    line-height: 20px;
    color: $colorDune;

    @include onTablet {
      padding-bottom: 40px;

      font-size: 1.5rem;
      line-height: 36px;
      text-align: center;
    }

    @include onDesktop {
      padding: 42px;
      max-width: 768px;
      margin: 0 auto;
    }
  }

  &__author-pctr {
    padding-bottom: 10px;
    @extend %transitionPointer;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet {
      padding-bottom: 20px;
    }
  }

  &__author-name {
    padding-bottom: 5px;

    font-weight: $fontWeight700;
    font-size: 1rem;
    color: $colorDune;
  }

  &__author-job {
    font-size: 0.88rem;
    line-height: 21px;
    color: $colorConcord;
  }
}
