.title-h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;

  @include on-tablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include on-desktop {
    font-size: 56px;
    line-height: 70px;
  }
}
