.top-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  align-items: center;

  @include on-tablet {
    padding-top: 30px;
    margin-bottom: 130px;
  }

  @include on-desktop {
    margin-bottom: 90px;
  }

  &__logo {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__controls {
    @include on-tablet {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    @include on-desktop {
      gap: 47px;
    }
  }

  &__specs {
    display: none;
    color: $c-icon;

    @include on-tablet {
      display: block;
    }

    &:hover {
      font-weight: 700;
    }
  }

  &__lang {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__button {
    display: none;
    text-align: center;
    width: 102px;
    background-color: $c-btn-bg-buy;
    padding-block: 16px;
    color: $c-text-btn;

    @include on-tablet {
      display: block;
    }

    &:hover {
      background-color: #131313;
    }
  }

  &__menu {
    @include on-desktop {
      display: none;
    }

    &-icon {
      &:active {
        transform: rotate(180deg);
      }
    }
  }
}

.actions-desk__buttons {
  border: none;
  &-en {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    color: #4f4f4f;
    cursor: pointer;

    @include hover(color, $c-black);
    @include hover(font-weight, 700);
  }

  &-ua {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    color: #4f4f4f;
    cursor: pointer;

    @include hover(color, $c-black);
    @include hover(font-weight, 700);
  }
}

.active-lang {
  color: $c-black !important;
  font-weight: 700 !important;
}
