.top-actions {
  display: flex;
  align-items: center;

  @include onMobile {
    display: none;
  }

  &--mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &--mobile {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__slash {
    padding: 0 5px;
  }
}
