.top-actions {
  padding: 25px 0;

    display: flex;

    justify-content: space-between;
    align-items: center;

    @include onTablet {
      padding-top: 42px;
    }

    @include onDesktop {
      padding-top: 42px;
  }




  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include onTablet {
      align-items: center;
      flex-direction: row;
    }
  
    @include onDesktop {
      align-items: center;
      flex-direction: row;
      gap: 40px;
    }    
  }
  &__menu-item {
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__menu-links {
    &:hover {
      color: #0DB2B3;
    }
  }

  &__input{
    &:checked + label {
      font-weight: bold;
    }
  }
}
