.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 48px;
  padding: 22px 0;

  @include media(tabl) {
    padding: 30px 0;
  }

  &__tools {
    @include media(tabl) {
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }

  &__panel {
    display: none;

    @include media(tabl) {
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }
}
