.utils {
  flex-grow: 1;
  display: flex;
  gap: 30px;
  justify-content: end;
  align-items: center;

  &__specs,
  &__languages-button {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    @include hover(color, $color-accent);
  }

  &__specs {
    color: $color-base-icon;
  }

  &__languages-button {
    color: $color-base-lighter;
  }

  &__languages-button--active {
    font-weight: 400;
    color: $color-base;
  }

  &__buy-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 48px;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    background-color: $color-base;
    cursor: pointer;

    @include hover(background-color, $color-base-dark);

    @include on-desktop {
      font-weight: 700;
    }
  }
}
