.video-section {
  position: relative;

  background: url(../images/video-preview-1024w.jpg) $c-granit center / cover no-repeat;

  padding-bottom: 85%;

  @include onTablet {
    padding-bottom: 50%;
  }

  @include onDesktop {
    padding-bottom: 40%;
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__play-button {
    width: 34%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include onTablet {
      width: 25%;
    }

    @include onDesktop {
      width: MIN(20%, 350px); //css min()
    }
  }

  &__video {
    display: none;
  }
}
