.about {
  &__title {
    max-width: 390px;
    @extend .section__title;
    grid-area: title;
  }

  &__grid {
    display: grid;
    justify-content: center;
    grid-template-areas: "picture title"
      "picture text";
  }

  &__description {
    margin: 30px 0 0 30px;
  }

  &__text {
    max-width: 378px;
    grid-area: text;
    color: #7c7c7c;
  }

  &__picture {
    grid-area: picture;
  }

  &__img {
    width: 100%;
    height: auto;
    flex-shrink: 2;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0db2b3;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 43%;
      height: 1px;
      background-color: #0db2b3;
    }
  }
}
