.about-us {
  &__item {
    margin-bottom: 116px;

    @include onTablet {
      display: flex;
      gap: 20px;
      margin-bottom: 140px;
    }

    @include onDesktop {
      gap: 30px;
      margin-bottom: 164px;
    }
  }

  &__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 212px;
    margin-bottom: 20px;

    &--1 {
      background-image: url("../images/photos/about-us-1-s.png");
      height: 212px;

      @include onTablet {
        flex: 1;
        background-image: url("../images/photos/about-us-1-m.png");
        height: 415px;
      }

      @include onDesktop {
        background-image: url("../images/photos/about-us-1-l.png");
        height: 388px;
      }
    }

    &--2 {
      background-image: url("../images/photos/about-us-2-s.png");
      height: 212px;

      @include onTablet {
        flex: 1;
        order: 2;
        background-image: url("../images/photos/about-us-2-m.png");
        height: 415px;
      }

      @include onDesktop {
        background-image: url("../images/photos/about-us-2-l.png");
        order: 2;
        height: 388px;
      }
    }
  }

  &__text {
    flex: 1;
    order: 1;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
    }

    &--off {
      @include onTablet {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include onTablet {
        display: block;
      }

      @include onDesktop {
        display: block;
      }
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $fontGray;
    margin-bottom: 30px;
  }

  &__see-more {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: max-content;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $mainBlue;

    &::after {
      display: block;
      content: "";
      width: 54px;
      height: 1px;
      background-color: #0db2b3;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
