.aboutus {

  &__wrapper {
    display: flex;
    column-gap: 30px;

    @include onTablet {
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 65px;
    }

    @include onMobile {
      flex-direction: column;
      display: none;
    }

    &-mobile {
      display: none;

      @include onMobile {
        display: block;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 276px;

    @include onTablet {
      width: 340px;
    }

    @include onMobile {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__img {
    width: 70px;
    height: 50px;
    margin-bottom: 30px;
  }

  &__title {
    height: 56px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__text {
    color: $colorParagpaph;
    text-align: center;
    line-height: 21px;
  }
}
