.common-paragraph {
  max-width: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $c-light-grey;
  margin-bottom: 30px;

  @include onTablet {
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  @include onDesktop {
    max-width: 582px;
    font-size: 16px;
    line-height: 24px;
  }
}

.see-more-common {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $c-dark-green;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 54px;
    height: 1px;
    background-color: $c-dark-green;
    transform: matrix(1, 0, 0, -1, 0, 0);
    cursor: pointer;
    margin-top: 5px;
    transition: $transitionTime;

    @include onDesktop {
      width: 64px;
    }
  }

  &:hover::after {
    width: 127px;
  }
}
