.action {

  &__specs {
    display: block;
    margin-right: 26px;
    margin-bottom: 35px;
    transition: color 0.5s;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4f4f4f;
    text-transform: uppercase;
    text-decoration: none;

    @include onTablet {
      display: inline-block;
      font-family: Inter, Arial, sans-serif;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: #4f4f4f;
      text-transform: uppercase;
      text-decoration: none;
    }

    @include onDesktop {
      display: none;
    }
    &:hover {
      color: $blueColor;
    }
  }

  &__language {
    display: block;
    margin-bottom: 35px;
    font-family: inherit;
    text-transform: uppercase;

    @include onTablet {
      display: block;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__language-en {
    color: $textColor;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: $blueColor;
    }
  }

  &__language-ua {
    color: $greyColor;
    margin-right: 26px;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: $blueColor;
    }
  }

  &__buy {
    display: block;
    width: 102px;
    background-color: $textColor;
    color: $whiteColor;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: #131313;
    }

    &:disabled {
      background-color: #d0d0d0;
    }

    @include onTablet {
      display: inline-block;
    }

    @include onDesktop {
      font-weight: 700;
    }
  }
}
