.actions {
  &__link {
    box-sizing: border-box;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: $c-deepGray;
    border-bottom: 1px solid transparent;
    transition: all 400ms;

    @include onDesktop {
      line-height: 20px;
    }

    &:hover {
      color: $c-deepTurquoise;
      border-color: $c-deepTurquoise;
    }

    &:active {
      color: $c-darkTurquoise;
      border-color: $c-darkTurquoise;
    }

    &:focus {
      color: $c-darkGray;
      border-color: transparent;
    }

    &--en {
      color: #828282;
    }

    &--ua {
      color: #828282;
    }

    &--not-hover {
      pointer-events: none;
    }

    &--specs {
      &:focus {
        color: $c-darkTurquoise;
        border-color: $c-darkTurquoise;
      }
    }
  }

  &__languages {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $c-darkGray;
  }

  &__button {
    width: 102px;
  }
}
