.adaptive-header-content {
  &__link,
  &__switcher {
    font-size: 14px;
    line-height: 16.93px;
    font-weight: 300;
  }

  &__link {
    text-decoration: none;
    color: $secondary-gray-color;
    transition: all $transition-duration;

    @include hover-font-weight(400, $hover-text-color);
  }

  &__language {
    text-decoration: none;
    color: $secondary-light-gray-color;
    transition: color $transition-duration;

    &:hover {
      color: $green-color;
    }

    &--selected {
      font-weight: 400;
      color: $main-black-text-color;

      &:hover {
        color: inherit;
      }
    }
  }

  &__button {
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.65px;
    height: 48px;
    background-color: $main-black-text-color;
    color: $main-white-color;
    transition: background-color $transition-duration;

    &:hover {
      background-color: $hover-text-color;
    }

    &:disabled {
      background-color: $disabled-background-color;
    }
  }
}
