.add-info {
  display: flex;
  gap: 30px;

  &__link {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-decoration: none;

    color: $c-black-default;

    &--header {
      display: none;

      @include on-tablet {
        display: block;
      }
    }
  }

  &__languages {
    &--header {
      gap: 3px;
      display: none;

      @include on-tablet {
        display: flex;
      }
    }
  }
}
