.additional {
  &--header {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 30px;
      align-items: center;
    }

    @include on-desktop {
      gap: unset;
    }
  }

  &--menu {
    display: flex;
    gap: 20px;
    align-items: center;

    @include on-tablet {
      display: none;
    }
  }
}
