.additional-actions {
  &__specs {
    font-family: "Helvetica Neue Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #4f4f4f;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #0db2b3;
      transition-duration: $animation-time;
    }
  }
}
