.address {
  display: grid;
  row-gap: 40px;

  @include on-tablet {
    row-gap: 48px;
  }

  @include on-desktop {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__title {
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    color: $white-color;

    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: $white-color;
  }

  &__data {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: block;
    width: fit-content;

    margin-top: 8px;

    color: $white-color;

    @include hover(transform, scale(1.1));
  }

  &__data-list {
    margin-top: 16px;
    display: flex;
    gap: 32px;
  }

  &__icon {
    display: block;
    width: 32px;
    height: 32px;

    @include hover(transform, scale(1.2));
  }
}
