.advantages {
  &__item {
    width: 100%;
  }

  row-gap: 75px;

  padding-bottom: 90px;

  @include onTablet {
    padding-bottom: 130px;
  }

  @include onDesktop {
    padding-bottom: 150px;
  }

  & > :nth-child(n+2) {
    display: none;

    @include onTablet {
      display: flex;
    }
  }
}
