.advantages {
  &__nav {
    display: none;

    @include onDesktop {
      display: block;
      margin-bottom: 92px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    column-gap: 84px;

    list-style-type: none;
  }

  &__link {
    @include linkUnderline;

    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__image-wrapper {
    @include displayNoneOnMobile(flex);

    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
      grid-column: 1 / 5;
    }

    @include onDesktop {
      margin-bottom: 34;
      grid-column: 1 / 4;
    }

    &:nth-of-type(2) {
      @include onTablet {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
      }

      @include onDesktop {
        grid-column: 4 / 7;
      }
    }

    &:nth-of-type(3) {
      @include onDesktop {
        grid-column: 7 / 10;
        grid-row: 1 / 2;
      }
    }

    &:nth-of-type(4) {
      @include onTablet {
        grid-column: 5 / 9;
        grid-row: 4 / 5;
      }

      @include onDesktop {
        grid-column: 10 / 13;
        grid-row: 1 / 2;
      }
    }
  }

  &__title {
    @include displayNoneOnMobile(block);

    margin-bottom: 20px;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      margin-bottom: 24px;
      grid-column: 1 / 4;
    }

    &:nth-of-type(2) {
      @include onTablet {
        grid-column: 5 / 9;
        grid-row: 2 / 3;
      }

      @include onDesktop {
        grid-column: 4 / 7;
      }
    }

    &:nth-of-type(3) {
      @include onDesktop {
        grid-column: 7 / 10;
        grid-row: 2 / 3;
      }
    }

    &:nth-of-type(4) {
      @include onTablet {
        grid-column: 5 / 9;
        grid-row: 5 / 6;
      }

      @include onDesktop {
        grid-column: 10 / 13;
        grid-row: 2 / 3;
      }
    }
  }

  &__text {
    @include displayNoneOnMobile(block);

    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #7c7c7c;

    @include onTablet {
      grid-column: 1 / 5;
      margin-bottom: 65px;
    }

    @include onDesktop {
      grid-column: 1 / 4;
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      @include onTablet {
        grid-column: 5 / 9;
        grid-row: 3 / 4;
      }

      @include onDesktop {
        grid-column: 4 / 7;
      }
    }

    &:nth-of-type(3) {
      @include onTablet {
        margin-bottom: 0;
      }

      @include onDesktop {
        grid-column: 7 / 10;
        grid-row: 3 / 4;
      }
    }

    &:nth-of-type(4) {
      @include onTablet {
        margin-bottom: 0;
        grid-column: 5 / 9;
        grid-row: 6 / 7;
      }

      @include onDesktop {
        grid-column: 10 / 13;
        grid-row: 3 / 4;
      }
    }
  }
}
