.advantage {
  &__container {
    @include on-tablet {
      @include page-grid;
      row-gap: 65px;
    }
  }

  &__logo {
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;

    &--futuristic-design {
      background-image: url(../images/icons/icon-futuristic-design.svg);
    }

    &--tweeter-speaker-system {
      background-image: url(../images/icons/icon-tweeter-speaker-system.svg);
    }

    &--multiroom-system {
      background-image: url(../images/icons/icon-multiroom-system.svg);
    }

    &--intuitive-lighting-system {
      background-image: url(../images/icons/icon-intuitive-lighting-system.svg);
    }
  }

  &__title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    box-sizing: border-box;

    @include font-style(desctop, h4);
    color: $second-black-color;

    @include on-desktop {
      height: 110px;
    }
  }

  &__text {
    @include font-style(desctop, secondary-text);
    color: $first-gray-color;
    text-align: center;

    @include on-desktop {
      justify-content: last baseline;
    }
  }
}
