.advertising {
  position: relative;

  &__btn-play {
    @include iconCenter;
    text-transform: uppercase;
    color: $white;
    padding: 5%;
    border: 2px solid $white;
    border-radius: 50%;
    z-index: 1;

    > *:first-child {
      @include iconCenter;
      left: 53%;
      @media (max-width: $breakpoint-sm) {
        max-width: 15px;
      }
    }

    @media (max-width: $breakpoint-md) {
      padding: 10%;
    }
  }

  &__img {
    @include embed-proportional(35%);
    @media (max-width: $breakpoint-md) {
      padding-bottom: 50%;
    }
  }
}
