
.advertising {
  position: relative;

  &__btn-play {
    @include iconCenter;
    text-transform: uppercase;
    color: $white;
    padding: 5%;
    border: 2px solid $white;
    border-radius: 50%;
    z-index: 1;
  }

  &__img {
    @include embed-proportional(35%);
  }
}
