.alert {
  position: relative;

  @include onDesktop {
    padding: 100px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40vw;
      border-bottom: 1px solid rgba(52, 79, 16, 0.5);
    }
  }

  &__parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $blackTextColor;
    display: none;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: block;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $greenTextColor;
    text-align: center;

    @include onDesktop {
      text-align: left;
    }
  }
}
