.alert-message {
  @extend %secondaryText;

  width: 85%;
  margin-bottom: 20px;
  text-align: center;
  padding: 12px;
  border: 1px solid $input-invalid;
  color: $input-invalid;
  transition: all 0.3s ease-in-out;

  @include tablet {
    margin: 0 auto 20px;
  }
}
