.advantages {
  &__content {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 20px;
    }
  }

  &__feature {
    margin-bottom: 90px;

    @include onTablet {
      margin: 0;
    }
  }

  &__image {
    display: block;
    margin: 0 auto 40px;
  }

  &__feature-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 30px;
    color: $c-dark-text;
    text-align: center;
    text-transform: uppercase;
  }
}
