.arows {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    display: flex;
  }

  &__side {
    margin-bottom: 10px;
  }

  &__ar-left {
    transform: translateX(1px);
  }

  &__ar-right {
    transform: translateX(-1px);
  }

  &__count {
    font-size: 11px;
    line-height: 13px;
    color: $color-form-placeholder;
  }

  &__curent {
    font-size: 16px;
    line-height: 19px;
    color: $color-granit;
  }
}
