.arrow {
  display: none;
  background-image: url(../images/logos/arrow_up.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.1s;

  @media (min-width: 1280px) {
    display: block;
    position: absolute;
    right: 125px;
    top: 553%;
  }

  &:hover {
    background-color: #0db2b3;
  }
}
