.arrow-top {
  @extend %link;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.2);
    color: $mentholColor;
  }

  &--show {
    opacity: 1;
    transform: rotate(360deg);
  }
}
