.arrow {
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 21px;
  width: 25px;
  border-radius: 50%;
  transition: all 0.1s;

  @media (min-width: 768px) {
    display: flex;
    position: absolute;
    right: 50px;
    margin-top: -90px;

  }

  @media (min-width: 1280px) {
    right: 125px;
  }

  &:hover {
    transform: scale(1.2);
  }
}
