.arrow {
  @include hover (transform,scale(1.2));

  padding: 13px;
  display: none;

  @include onTablet {
    display: block;
    grid-column: 8 / -1;
  }

  @include onDesktop {
    grid-column: 12 / -1;
  }

  &__link {
    @include onTablet {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../images/tablet/arrow.svg);

      @include backgroundSizePosition;
    }
  }
}
