.article-about {
  @extend %flex-col;
  width: 100%;

  @include hover(transform, translateY(-7px));

  &__icon {
    padding-bottom: 32px;
  }

  &__title {
    padding-bottom: 52px;
    text-align: center;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: $c-txt-dark;
  }

  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $c-txt-light;
  }
}
