.aside {
  height: 100vh;
  background-color: $background-color;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;

  transition: all 0.3s;
  transform: translateX(-100%);

  z-index: 3;

  &:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
    overflow-y: hidden;
  }

  &__content {
    @include pageGrid;
    @include contentPadingInline;
    min-width: $min-width;
  }

  &__top {
    margin-top: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    grid-column: 1/-1;

    @include onTablet {
      margin-top: 29px;
    }
  }

  &__menu-close {
    width: 24px;
    height: 24px;

    @include transform;
  }

  &__nav {
    margin: 0;
    padding: 0;
    margin-top: 55px;

    display: block;

    grid-column: 1/-1;

    &--content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &--item {
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;

      @include onTablet {
        gap: 40px;
      }
    }

    &--link {
      @include onTablet {
        font-size: 22px;
      }
    }
  }

  &__grop {
    margin: 0;
    padding: 0;
    margin-top: 50px;

    display: flex;
    align-items: center;
    gap: 20px;

    grid-column: 1/3;

    @include onTablet {
      display: none;
    }
  }

  &__specs {
    padding: 0;
    margin: 0;

    width: max-content;

    text-decoration: none;
    color: #4f4f4f;
    font-family: Helvetica, sans-serif;
    font-size: 14px;

    @include transform;
  }

  &__language {
    display: block;
    margin: 0;
    padding: 0;

    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;

    &-en {
      color: #333;
      text-decoration: none;

      @include transform;
    }

    &-ua {
      color: #828282;
      text-decoration: none;

      @include transform;
    }
  }

  &__button {
    margin-top: 162px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    text-decoration: none;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    background-color: $title-color;
    grid-column: 1/-1;

    @include onTablet {
      display: none;
    }

    transition: 0.6s;

    &:hover {
      background-color: #131313;
    }
  }
}
