.atributes {
  &__content {
    display: flex;
    align-items: center;
    gap: 30px;

    @include onDesctop {
      gap: 47px;
    }
  }

  &__specs {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    @include hover(font-weight, 600);
    cursor: pointer;
  }

  &__language {
    display: flex;
  }

  &__language-en,
  &__language-ua {
    border: none;
    background-color: transparent;
    @include hover(font-weight, 600);
    cursor: pointer;

    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
  }

  &__slash {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
  }
}
