@import "../utils/mixins.scss";
@import "../utils/vars.scss";

.audio {

  background-image: url(../images/audio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;

  @include tablet {
    background-image: url(../images/audio2.jpg);
  }

  @include mobile {
    background-image: url(../images/audio3.jpg);
  }

  &__play {
    display: none;
  }

  &__button {
    margin-top: 179px;
    margin-bottom: 179px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    width: 232px;
    height: 232px;
    position: relative;

    --border-radius: 50%;
    --border-width: 4px;
    appearance: none;
    padding: 1em 2em;
    border: 0;
    z-index: 2;

    &::after {
      --m-i: linear-gradient(#000, #000);
      --m-o: content-box, padding-box;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: var(--border-width);
      border-radius: var(--border-radius);
      background-image: conic-gradient(
        #488cfb,
        #29dbbc,
        #ddf505,
        #ff9f0e,
        #e440bb,
        #655adc,
        #488cfb
      );
      -webkit-mask-image: var(--m-i), var(--m-i);
      mask-image: var(--m-i), var(--m-i);
      -webkit-mask-origin: var(--m-o);
      mask-origin: var(--m-o);
      -webkit-mask-clip: var(--m-o);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
      filter: hue-rotate(0);
      animation: rotate-hue linear 500ms infinite;
      animation-play-state: paused;
    }

    &:hover::after {
      animation-play-state: running;
    }

    @include tablet {
      width: 190px;
      height: 190px;
    }

    @include mobile {
      width: 108px;
      height: 108px;
    }
  }

  &__button-text {
    font-family: "DIN Pro", sans-serif;
    font-size: 24px;
    line-height: 75%;
    text-align: center;
    color: #f3f4f5;

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  &__mobile-icon {
    display: none;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
    }
  }

}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}
