.avatar {
  &__photo {
    margin-bottom: 5px;

    @include onTablet() {
      margin-bottom: 10px;
    }
  }

  &__name {
    @extend %h5;

    margin-bottom: 5px;
  }

  &__position {
    @extend %secondary-text;
  }
}
