.avatar {
  margin-top: 30px;
  text-align: center;

  @include on-tablet {
    margin-top: 40px;
  }

  &__img {
    width: 62px;
    cursor: pointer;

    @include hover (transform, scale(1.1));
  }

  &__name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;

    @include on-tablet {
      margin-top: 20px;
    }
  }

  &__position {
    margin-top: 5px;
    color: $color-prg;
    font-size: 14px;
  }
}
