.back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  transition: transform 1s;
}

.on_top {
  transition: transform 1s;

  @include onTablet {
    width: 45px;
  }

  @include onMobile {
    width: 38px;
  }
}

.on_top:hover {
  transform: scale(1.2);
}
