.back-to-top {
  position: fixed;
  right: 65px;
  bottom: 35px;
  transition: transform $transitionDuration;

  @include onTablet {
    right: 10px;
    bottom: 25px;
  }

  @include onMobile {
    right: 5px;
    bottom: 25px;
  }
}

.on_top {
  transition: transform $transitionDuration;

  @include onTablet {
    width: 40px;
  }

  @include onMobile {
    width: 25px;
  }
}

.on_top:hover {
  transform: scale(1.2);
}
