.back-to-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  transition: transform $transitionDuration;
}

.on_top {
  transition: transform $transitionDuration;

  @include onTablet {
    width: 45px;
  }

  @include onMobile {
    width: 38px;
  }
}

.on_top:hover {
  transform: scale(1.2);
}
