.banner {
  &__image-mobile {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center;

    @include on-tablet {
      display: none;
    }
  }

  &__wrapper {
    display: none;

    @include on-tablet {
      display: grid;
    }


    @include grid-desktop;
  }

  &__image {
    @include on-tablet {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }
}
