.banner {
  margin: 110px 0;
  padding-inline: 12px;

  @include on-tablet {
    @include content-padding-inline;
    margin: 140px 0;
  }

  @include on-desktop {
    @include content-padding-inline;
    margin: 170px 0;
  }

  &__picture {
    background-image: url(../images/mobile_img/MeetLuna.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 195px;

    @include on-tablet {
      height: 430px;
      background-image: url(../images/tablet_img/MeetLuna.png);
    }

    @include on-desktop {
      height: 520px;
      background-image: url(../images/desktop_img/MeetLuna.png);
    }
  }
}
