.benefitsBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  
  @include tablet {
    width: 340px;
  }

  @include desktop {
    width: 276px;
  }

  &__img {
    width: 50px;
    height: 40px;
    margin: 0 auto 40px;

    @include tablet {
      margin: 0 auto 50px;
    }

    @include desktop {
      width: 70px;
      height: 50px;
      margin: 0 auto 30px;
    }
  }

  &__title {
    height: 28px;
    margin-bottom: 20px;

    @include desktop {
      height: 56px;
      margin-bottom: 24px;
    }
  }

  &__text {
    height: 126px;
    color: $lightTextColor;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
}
