.benefit {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 0;

  &__icon {
    width: $icon-benefit-size;
    height: $icon-benefit-size;
    margin: 0 auto 32px;
  }

  &__title {
    @extend %h3;
    text-align: center;
  }

  &__description {
    margin: 0;
    @extend %text-secondary;
    color: $color-lightgrey_1;
    text-align: center;
  }
}
