.benefits {

  width: 100%;
  height: 100%;

  @include onTablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include onDesktop {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    height: 100%;
    
    @include onTablet {
      position: relative;
      padding: 0 0 60px;
      width: 40%;
    }

    @include onDesktop {
      justify-content: flex-start;
      width: 23%;
    }
  }

  &__logo {
    height: 50px;
    object-fit: none;
  }

  &__title {
    padding-top: 47px;
    height: 60px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    padding-top: 50px;
    line-height: 21px;
    text-align: center;
    color: #7c7c7c;

    @include onTablet {
      padding-top: 20px;
    }
  }
}
