.benefest {
  @include center;

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 65px;

    &--item {
      width: 200px;
      @include nav;
      text-decoration: none;
      color: $c-black;

      &:hover {
        color: $c-lgreen;
      }

      &:active {
        font-weight: 700;
        color: $c-dark_black;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    &--item {
      text-align: center;

      &--title {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 52px;
        color: $c-black;
        height: 58px;
      }

      &--desc {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $c-desc;
      }
    }
  }
}
