.benefits {
  padding: 0 30px;
  margin-bottom: 110px;

  @include on-tablet {
    padding: 0 34px;
    margin-bottom: 140px;
  }

  @include on-desktop {
    padding: 0;
    margin-bottom: 170px;
  }

  &__links {
    display: none;

    @include on-desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 578px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 90px;
    }

    &-title {
      color: rgba(19, 19, 19, 1);
      text-decoration: none;

      @extend %h6-desktop;
      @include hover-text(transform, scale(1.2));
    }

    &-1 {
      color: $colorTextMain;
      text-decoration: none;

      @extend %thirdary;
      @include hover-text(transform, scale(1.2));
    }

    &-2 {
      color: $colorTextMain;
      text-decoration: none;

      @extend %thirdary;
      @include hover-text(transform, scale(1.2));
    }

    &-3 {
      color: $colorTextMain;
      text-decoration: none;

      @extend %thirdary;
      @include hover-text(transform, scale(1.2));
    }
  }

  &__groups {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

    @include on-tablet {
      gap: 65px 20px;
    }

    @include on-desktop {
      padding: 0 123px;
      column-gap: 30px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      width: 340px;
    }

    @include on-desktop {
      width: 276px;
      justify-content: start;
    }

    &-img {
      height: 40px;
      width: 50px;
      margin-bottom: 40px;

      @include on-tablet {
        margin-bottom: 50px;
      }

      @include on-desktop {
        margin-bottom: 30px;
      }
    }

    &-title {
      margin: 0;
      margin-bottom: 20px;
      color: $colorTextMain;

      @extend %h4-desktop;

      @include on-desktop {
        text-align: center;
      }
    }

    &-description {
      margin: 0;
      color: $colorTextSecondary;
      text-align: center;

      @extend %secondary;
    }
  }

  &-2 {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

  &-3 {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

  &-4 {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }
}
