.benefits__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    @include hover(scale, 1.05);
  }

  &-image {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include desktop {
      height: 48px;
      margin-bottom: 35px;
    }
  }

  &-title {
    text-align: center;
    margin-bottom: 20px;

    @include desktop {
      height: 55px;
      margin-bottom: 25px;
    }
  }

  &-text {
    @extend %secondaryText;

    color: $secondary-color;
    text-align: center;
  }
}
