.benefits {
  @extend %flex-column;
  text-align: center;
  align-items: center;

  padding: 0 30px;
  margin-bottom: 90px;

  @include onTablet {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 120px;
  }

  &__item {
    width: 260px;

    @include onTablet {
      width: 320px;
    }

    @include onDesktop {
      width: 276px;
      align-items: start;
    }
  }

  &__item--mobile-hidden {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__icons {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $c-granit;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $c-grey;
  }
}
