.benefits {
  display: grid;
  padding-inline: $padding-inline-mobile;

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 65px 20px;
    padding-inline: $padding-inline-tablet;
  }

  @include on-desktop {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: $padding-inline-desktop;
  }

  article:nth-child(1) {
    display: block;
  }

  article:nth-child(n+2) {
    display: none;

    @include on-tablet {
      display: flex;
      align-items: center;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__img {
    width: 50px;
    height: 40px;
    margin-block-end: 40px;

    @include on-desktop {
      width: 70px;
      height: 50px;
    }
  }

  &__title {
    @include text-style(
        $font-family-inter, $font-size-2xl, $font-weight-bold, true
    );
    line-height: 127%;
    color: $text-primary;
    margin-block-end: 20px;

    @include on-desktop {
      height: 57px;
      margin-block-end: 0;
    }
  }

  &__text {
    display: flex;
    width: 100%;
    flex-grow: 1;
    @include text-style(
        $font-family-inter, false, $font-weight-regular, false,
    );
    font-size: clamp(0.9rem, 1vw, 2.2rem);
    color: $text-muted;
    line-height: 150%;
    margin-bottom: auto;
  }
}
