.benefit {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  display: flex;

  cursor: default;

  &__icon {
    transition: transform $animation-duration ease-out,
      filter #{$animation-duration * 2} ease-out;
  }

  &:hover &__icon {
    transform: translateY(-20%);

    filter: invert(0.6);
  }

  &__title {
    min-height: 60px;

    text-align: center;
    text-transform: uppercase;
    color: color(color-granit);
  }

  &__description {
    text-align: center;
    color: color(color-gray);
  }
}
