.benefits-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  &::before {
    content: "";

    display: block;

    width: 50px;
    height: 50px;

    margin-bottom: 40px;

    will-change: transform;

    transition: transform $transition-props;

    @include mediamin(640px) {
      margin-bottom: 50px;
    }

    @include mediamin(1024px) {
      margin-bottom: 35px;
    }
  }

  &:hover {
    &::before {
      transform: scale(1.1);
    }
  }

  $modifiers: (
    "design": 1,
    "speaker": 2,
    "multiroom": 3,
    "lightning": 4,
  );

  @each $mod, $val in $modifiers {
    &--#{$mod}::before {
      background: url(../images/benefits-#{$val}svg.svg)
        center/contain
        no-repeat;
    }
  }

  &__heading {
    @extend %text-reset;

    margin-bottom: 20px;

    color: $color-shaft;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
  }

  &__text {
    @extend %text-reset;
  }
}
