.big-nav {
  display: none;
  margin-bottom: 44px;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;

  }

  &__item {
    list-style-type: none;
  }

  &__link {
    font-family: Helvetica Neue, sans-serif;
    text-decoration: none;
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    color: #131313;
  }

  @include onDesktop {
    display: block;
  }

}
