.block {
  display: flex;
  flex-direction: column;
  margin: 0 0 116px;

  @include onTablet {
    flex-direction: row;
    margin-bottom: $section-margin-bottom-onTablet;
  }

  @include onLaptop1280 {
    margin-bottom: $section-margin-bottom-onLaptop;
    min-width: $width-screen-onLaptop1280;
  }

  @include onLaptop1440 {
    min-width: $width-screen-onLaptop1440;
  }

  &__title {
    width: 240px;
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;

    @include onTablet {
      min-width: 340px;
      margin-bottom: 30px;
      font-size: 36px;
      line-height: 46px;
    }

    @include onLaptop1280 {
      min-width: 570px;
      margin-bottom: 20px;
      font-size: 46px;
      line-height: 56px;
    }

    @include onLaptop1440 {
      min-width: 582px;
      margin-bottom: 30px;
      font-size: 56px;
      line-height: 70px;
    }

    &--second {
      margin: 0 0 20px;
      font-size: 36px;
      line-height: 46px;

      @include onLaptop1280 {
        min-width: 582px;
        font-size: 56px;
        line-height: 70px;
      }
    }
  }

  &__img {
    display: block;
    max-height: 210px;
    margin: 0 0 20px;
    transition: all ease 1s;

    &:hover {
      @include onLaptop1280 {
        transform: scale(1.06, 1.06);
      }
    }

    @include onTablet {
      max-width: 374px;
      min-height: 415px;
      margin: 0 0 0 -34px;
    }

    @include onLaptop1280 {
      max-width: 422px;
      min-height: 281px;
      margin: 0;
    }

    @include onLaptop1440 {
      max-width: 582px;
      min-height: 388px;
    }

    &--first {
      @include onTablet {
        margin-right: 30px;
      }
    }

    &--second {
      @include onTablet {
        margin: 0 0 0 54px;
      }

      @include onLaptop1280 {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__text {
    box-sizing: border-box;
    max-width: 260px;
    margin: 0 0 30px;
    @extend %simpleText;

    @include onTablet {
      max-width: 340px;
      margin-bottom: 60px;
      font-size: 16px;
      line-height: 24px;
    }

    @include onLaptop1280 {
      min-width: 570px;
      margin-bottom: 20px;
      line-height: 26px;
    }

    @include onLaptop1440 {
      min-width: 582px;
      margin-bottom: 60px;
    }

    &--second {
      font-size: 16px;
      line-height: 24px;

      @include onLaptop1280 {
        min-width: 582px;
        margin-right: 30px;
        line-height: 26px;
      }
    }
  }

  &__button {
    position: relative;
    display: block;
    width: max-content;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0db2b3;
    text-decoration: none;
    transition: all ease 1.5s;

    &::after {
      content: " ";
      left: 0;
      display: block;
      height: 1px;
      width: 53px;
      background-image: url(../images/img_Mobile/button_line.svg);
      margin-top: 5px;
    }

    &:hover {
      &::after {
        width: 128px;
      }
    }
  }
}
