.block__after-header {
  display: none;

  @include onDesktop {
    display: grid;
    grid-column: 4 / 10;
    margin-top: 198px;
  }

  &__content {
  }

  &__nav__list {
    display: flex;
    flex-direction: row;
    gap: 84px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__nav__item {
    box-sizing: border-box;
    display: inline-block;
  }
}
