.block__after-header {
  display: none;

  @include onDesktop {
    margin-top: 198px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
  }

  &__nav__list {
    display: flex;
    flex-direction: row;
    gap: 84px;
  }


  &__nav__item {
    transition: transform 0.4s ease-in-out;
    width: 100%;
    text-align: center;

    &:hover {
      transform: scale(1.1);
    }
  }
}
