.block-info {
  &__title {
    color: $block-info-title-color;

    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__poster {
    width: 100%;

    margin-block: 30px 20px;
  }

  &__text {
    color: $block-info-text-color;

    @include textMain();
  }

  &__button {
    color: #0db2b3;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 20px;
  }
}
