.body {
  background-color: $body-background;

  &__container {
    padding-inline: 123px;
    margin: 0 auto;
    max-width: 1200px;

    @include mediumDevices {
      padding-inline: 34px;
    }

    @include smallDevices {
      padding-inline: 30px;
    }
  }
}
