.body {
  &__footer {
    margin-top: 110px;

    @include on-tablet {
      margin-top: 140px;
    }

    @include on-desktop {
      margin-top: 170px;
    }
  }

  &__header {
    margin-bottom: 110px;

    @include on-tablet {
      margin-bottom: 140px;
    }

    @include on-desktop {
      margin-bottom: 170px;
    }
  }

  &__scroll-up {
    display: none;

    @include on-tablet {
      position: fixed;
      right: 34px;
      bottom: 170px;

      display: flex;

      width: 50px;
      height: 50px;

      text-decoration: none;

      background-image: url(../images/icons/scroll-up.svg);
      background-size: cover;

      transition: all $time-transform;
    }

    @include on-desktop {
      right: 110px;
      bottom: 182px;
    }

    &:hover {
      transform: scale(1.1);
      background-image: url(../images/icons/scroll-up-hover.svg);
    }
  }
}
