.bottom-bar {

  @include onTablet {
    display: grid;
    order: -1;
  }

  margin-top: 40px;

  &__head-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    color: #333;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 62px;
      line-height: 125%;
    }
  }

  &__head-info {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #333;

    @include onDesktop {
      width: 70%;
    }
  }
}
