.box {
  margin: 0;
  padding: 0;
  width: 260px;
  box-sizing: border-box;

  @include onLaptop1280 {
    width: 378px;
    height: 234px;
  }

  &__title {
    margin: 30px 0 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgb(12, 121, 122);

    @include onTablet {
      margin-top: 60px;
    }

    @include onLaptop1280 {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__list {
    width: 244px;
    margin: 0 0 50px 16px;
    padding: 0;

    @include onLaptop1280 {
      margin-bottom: 0;
    }
  }

  &__item {
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    &:not(&:last-child) {
      margin: 0 0 8px;

      @include onLaptop1280 {
        margin-bottom: 10px;
      }
    }

    @include onLaptop1280 {
      width: 362px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
