.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 102px;
  height: 48px;

  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #fff;

  background-color: $primaryBlackColor;
  transition: background-color, 0.3s;

  &:hover {
    background-color: $primaryBlackHoverColor;
  }
}
