.btn {
  height: 48px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}
