.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 102px;
  height: 48px;

  font-size: $fSize12;
  line-height: 15px;
  font-weight: $fWeightMedium;
  color: #fff;

  background-color: $primaryBlackColor;
  transition: background-color, 0.3s;

  &--slide-menu {
    width: 180px;
    height: 60px;
  }

  &:hover {
    background-color: $primaryBlackHoverColor;
  }
}
