.burger-menu {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;

  @include onTablet {
    display: none;
  }

  &__line {
    position: relative;
    display: block;
    width: $icon-width;
    height: 2px;
    background-color: $main-color;

    transition: transform 0.5s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--active:first-child {
      top: 8px;
      transform: rotate(405deg);
    }

    &--active:nth-child(2) {
      transform: scale(0);
    }

    &--active:last-child {
      top: -8px;
      transform: rotate(-405deg);
    }
  }
}
