.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;

  transition-duration: $effect-duration;

  &:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }
}
