.burger {
  display: none;
  position: relative;

  &__toggle {
    opacity: 0;

  }

  &__activator {
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 42px;
    background-color: #000;
    z-index: 1;
    // cursor: pointer;

    &::before {
      display: block;
      position: absolute;
      top: 20px;
      content: "";
      width: 42px;
      height: 2px;
      background-color: #000;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 42px;
      height: 2px;
      top: 10px;
      background-color: #000;
    }
  }

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: -50%;
    list-style: none;
    // visibility: hidden;
    transform: translateY(-110%);
    font-size: 50px;
    height: 100vh;
    transition-duration: 1s;
    background-color: rgba(189, 189, 189, 0.9);
    width: 100vw;
  }

  &__toggle:checked ~ &__list {
    transform: translateY(0);

  }

  &__link {
    text-decoration: none;
    color: #fff;
  }

  @media (max-width: 767px) {
    display: flex;
    &__list {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: - 100%;
    }
  }




}
