@include on-mobile {
  .button {
    cursor: pointer;

    width: 102px;
    height: 40px;
    padding: 13px 34px;
    border: none;

    font-size: 12px;
    font-weight: $bold-font-weight;
    line-height: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    background-color: #39BEBF;

    transition: background-color 0.3s;

    &:hover {
      background-color: #0C797A;
    }

    &:active {
      background-color: #0C797A;
    }

  }
}

