.button-secondary {
  &__link {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    color: $c-blue-dark;
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
    transition: all $effect-duration;

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 53px;
      background-color: $c-blue-dark;
      position: absolute;
      bottom: 0;
      transition: all $effect-duration
    }

    &:hover::after {
      width: 100%;
    }
  }
}
