.buttons-row {
  display: block;
  text-align: center;

  @include noMobile {
    display: none;
  }

  @include onMobile {
    margin-bottom: 15px;
  }

  &__button {
    width: 48px;
    height: 14px;
    background: transparent;
    border: 0;
    transition: all 0.3s;

    &--left {
      background-image: url(../images/features_left_button.svg);

      &:hover {
        opacity: 0.5;
      }
    }

    &--right {
      background-image: url(../images/features_right_button.svg);

      &:hover {
        background-image: url(../images/features_right_button_hover.svg);
      }
    }
  }

  &__pagination {
    position: relative;
    top: 8px;
    font-family: DIN Pro, Arial, Helvetica, sans-serif;

    &--current {
      font-size: 16px;
      line-height: 20px;
    }

    &--all {
      font-size: 11px;
      line-height: 14px;
      color: #bdbdbd;
    }
  }
}
