.buttonTop {
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &__arrow {
    right: $container-side-paddning;
    bottom: $container-side-paddning * 2;
    background-color: $backgroundColor;
    border-radius: 50%;
    padding: 10px;

    background-image: url(../images/GoTop.svg);
  }
}
