.button {
  width: 102px;
  height: 48px;
  font-size: 12px;
  line-height: 48px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: $title-color;
  cursor: pointer;
  transition-duration: $duration;

  &:hover {
    font-size: 16px;
    background-color: $turquose;
  }
}
