.button {
  @extend %button;

  padding: $button-padding;
  
  &--dark {
    background-color: $button-dark;

    @include hover(background-color, $button-hover-dark);
  }

  &--green {
    background-color: $button-green;

    @include hover(background-color, $button-hover-green);
  }
}
