.primary-btn {
  width: 150px;
  height: 48px;
  color: $white;
  background-color: $default;
  font-size: 12px;
  font-weight: 500;
}

.primary-grn-btn {
  width: 150px;
  height: 48px;
  color: $white;
  background-color: $green;
  font-size: 12px;
  font-weight: 500;
}