.button-buy {
  box-sizing: border-box;
  background-color: $black-color;
  border: unset;
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
