.button-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: $second-black-color;

  transition-duration: $effect-duration;

  &:hover {
    background-color: $first-black-color;
    cursor: pointer;
  }

  &__link {
    @include font-style(desctop, button);
    text-decoration: none;
    color: white;
  }

  &--menu {
    margin-top: auto;
    margin-bottom: 30px;

    @include on-tablet {
      display: none;
    }
  }

  &--top-bar {
    display: none;
    width: 100px;

    @include on-tablet {
      display: flex;
    }
  }
}
