.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  height: 100%;

  &--buy {
    background-color: $color-text-primary;
    color: #fff;
    
    @include hover(background-color, $color-hover-primary);
  }

  &--send {
    height: 40px;
    width: 102px;
    background-color: #0db2b3;
    color: #fff;

    @include on-desktop {
      height: 48px;
      width: 124px;
    }

    @include hover(background-color, #0c797a);

    &:disabled {
      background-color: #cfeff0;
      color: #fff;
    }



  }
}
