.button-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $c-main-dark;
  text-decoration: none;

  &::after {
    content: " ";
    display: block;
    height: 2px;
    width: 12%;
    background-color: $c-main-dark;

    transition: width 0.4s;
  }

  &:hover::after {
    width: 22%;
  }
}
