.buy-button {
  display: none;

  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 48px;
    text-transform: uppercase;
    background-color: $mainDark;
    color: $mainWhite;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    transition: background-color 0.3s;
  }

  &:hover {
    background-color: #131313;
  }

  &--nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    text-transform: uppercase;
    background-color: $mainDark;
    color: $mainWhite;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #131313;
    }

    @include onTablet {
      display: none;
    }

  }
}
