.buy-button {
  display: block;
  background-color: $main-text-color;
  border: 1px solid $main-text-color;
  width: 102px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  color: $button-text-color;
  line-height: 48px;
  text-align: center;

  transition: 0.5s;

  &:hover {
    box-shadow: 1px 1px 1px 1px #888;
  }

  @include onMobile {
    display: none;
  }
}
