.capital {
  position: relative;

  &__title {
    font-family: "DIN Pro", sans-serif;
    text-transform: uppercase;
    text-align: center;

    font-size: 44px;
    line-height: 57px;
    font-weight: bold;
    margin-bottom: 25px;

    @include onTablet {
      text-align: left;
      font-size: 48px;
      line-height: 62px;
      padding-top: 40px;
      margin-bottom: 35px;
    }

    @include onDesktop {
      text-align: left;
      font-size: 64px;
      line-height: 83px;
      padding-top: 90px;
      margin-bottom: 30px;
    }
  }

  &__info {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    color: #333;

    @include onTablet {
      text-align: left;
    }
  }

  &__photo-container {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 170%;
    display: none;

    @include onTablet {
      width: 130%;
      display: block;
    }

    @include onDesktop {
      width: 130%;
    }
  }

  &__photo {
    width: 100%;
  }

  &__mobile-image {
    width: 170%;
    margin-bottom: 40px;


    @include onTablet {
      display: none;
    }
  }
}