.card {
  padding: 5px;

  @include onTablet {
    width: 50%;
  }

  @include onDesktop {
    width: 25%;
  }

  @include hover(transform, scale(1.03));

  &__icon {
    display: flex;
    justify-content: center;
    height: 46px;
    width: 58px;
    object-fit: cover;
    object-position: center;

    @include onTablet {
      height: 38px;
      width: 50px;
    }

    margin: 0 auto 40px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 48px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 20px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__paragraf {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #7c7c7c;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-bottom: 90px;
    }
  }
}
