@import "../utils/mixins";

.card__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 30px 170px;

  @include onTablet {
    margin: 0 auto 130px;
    flex-wrap: wrap;
    gap: 60px 30px;
    padding: 0 34px;
  }

  @include onMobile {
    padding: 0 30px;
    margin-bottom: 90px;
  }
}
