.card__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 30px 170px;

  @media (max-width: 1280px) {
    margin: 0 auto 130px;
    flex-wrap: wrap;
    gap: 60px 30px;
    padding: 0 34px;
  }

  @media (max-width: 768px) {
    padding: 0 30px;
  }
}
