.card {
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0c797a;
  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
