.cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__card {
    margin-bottom: 110px;
  }

  &__image {
    width: 295px;
    height: 195px;
    margin-bottom: 110px;
  }
}
