.central-section {
  background-color: #f9f9f9;

  &__image {
    width: calc(100% + 60px);
    margin: 0 -30px;

    @include onTablet {
      width: 100%;
      max-width: 800px;
      margin: 0;
      grid-column: 1 / -1;
      justify-self: center;
    }

    @include onDesktop {
      grid-column: 3 / 11;
    }
  }
}
