.citation {
  &__content {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
  }

  &__qoute {
    &-img {
      position: absolute;
      align-self: center;
      z-index: -1;
      bottom: 0;
      @include onMobile {
        max-width: 208px;
        max-height: 171px;
      }
    }
  }

  &__person {
    &-name {
    }

    &-position {

    }
  }
}
