@include on-mobile {
  .comment {
    align-items: center;
    margin: 0;
    padding-right: 30px;
    padding-left: $mobile-padding-left;

    &__img {
      width: 100%;
      height: 171px;
      margin-top: 110px;

      background-image: url(/images/comment/comment--fon--mobile-and-tablet.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include on-tablet {
        height: 189px;
        margin-top: 140px;
      }

      @include on-desktop {
        height: 192px;
        background-image: url(/images/comment/comment--fon--desktop.png);
      }
    }

    &__text {
      margin: 0;
      padding-top: 50px;

      font-size: 14px;
      font-weight: $bold-font-weight;
      line-height: 20px;
      text-align: center;

      @include on-tablet {
        padding-top: 60px;
        font-size: 24px;
        line-height: 36px;
      }

      @include on-desktop {
        max-width: 786px;
        margin: 0 auto;
        text-align: center;
      }

      @include hover(transform, scale(1.05));

      &:hover {
        cursor: pointer;
      }
    }

    &__info {

      &__img {
        display: block;
        align-items: center;

        width: 62px;
        height: 62px;
        margin: 30px auto 0;

        @include on-tablet {
          margin: 40px auto 0;

          @include hover(transform, scale(1.5));

          &:hover {
            cursor: pointer;
          }
        }

        @include hover(transform, scale(1.3));
        
        &:hover {
          cursor: pointer;
        }
      }

      &__title {
        margin: 0;
        padding-top: 10px;

        font-size: 16px;
        font-weight: $bold-font-weight;
        line-height: 22px;
        text-align: center;

        @include on-tablet {
          padding-top: 20px;
        }
      }

      &__text {
        margin: 0;
        padding-top: 5px;
        line-height: 21px;
        text-align: center;
      }
    }

  }
}
