html {
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
  font-family: $font-family;
  font-weight: 400;
  color: $color-black;
  background-color: $color-bg;
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;

  &:has(.menu:target) {
    overflow: hidden;
  }
}
