.comment {
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;

  &__img {
    background-image: url(/images/comment/comment--fon--mobile-and-tablet.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 171px;
    margin-top: 110px;

    @include onTablet {
      height: 189px;
      margin-top: 140px;
    }

    @include onDesktop {
      background-image: url(/images/comment/comment--fon--desktop.png);
      height: 192px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-top: 50px;
    margin: 0;

    @include onTablet {
      padding-top: 60px;
      font-size: 24px;
      line-height: 36px;
    }

    @include onDesktop{
      max-width: 786px;
      margin: 0 auto; 
      text-align: center;
    }

    &:hover {
      cursor: pointer;
      @include hover(transform, scale(1.05));
    }
  }

  &__info {

    &__img {
      width: 62px;
      height: 62px;
      align-items: center;
      margin: 30px auto 0;
      display: block;

      @include onTablet {
        margin: 40px auto 0;
      }

      &:hover {
        cursor: pointer;
        @include hover(transform, scale(1.5));
      }
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin: 0;
      padding-top: 10px;

      @include onTablet {
        padding-top: 20px;
      }
    }

    &__text {
      line-height: 21px;
      text-align: center;
      margin: 0;
      padding-top: 5px;
    }
  }

}
