.comments {
  &__content {
    background-image: url(../images/comments/quotes.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      transform: scale(1.03);
    }

    @media (min-width: $tablet-min-width) {
      padding-top: 60px;
    }

    @media (min-width: $desktop-min-width) {
      padding-top: 42px;
      width: 786px;
      margin-inline: auto;
    }
  }

  &__text {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 30px;

    @media (min-width: $tablet-min-width) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 30px;
    }
  }

  &__img {
    margin-bottom: 10px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 20px;
    }
  }

  &__name {
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__position {
    font-size: 14px;
    line-height: 21px;
    color: $secondary-color;
  }
}
