.communication {

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 102px;
    max-width: 1020px;
    width: 100%;
    margin: 180px auto 0;

    @media (max-width: 768px) {
      margin-top: 50px;
    }

    @media (max-width: 768px) {
      margin-top: 45px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__email {
    width: 100%;
    height: 48px;
    margin-bottom: 19px;
    font-family: "Helvetica Nue", sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding: 0 30px;
    background-color: $c-gray;
    outline: none;
    border: 1px solid $input-border-color;
  }

  &__message {
    width: 100%;
    font-family: "Helvetica Nue", sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 30px;
    background-color: $c-gray;
    outline: none;
    border: 1px solid $input-border-color;
    resize: none;
  }

  &__button {
    margin-top: 30px;
    outline: none;
    border: none;
    background-color: $highlight-color;

    &:hover {
      background-color: $secondary-highlight-color;
    }
  }

  @media (max-width: 730px) {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }
}
