.comparison {
  display: flex;
  justify-content: center;
  padding: 20px;

  &__figure {
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
  }

  &__caption {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }
}



