.comparison {
  display: flex;
  justify-content: center;
  padding: 20px;

  &__figure {
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
  }

  &__caption {
    display: flex;
    align-items: center; // środek w pionie
    justify-content: center; // środek w poziomie
    // margin-top: 20px;
    text-align: center;
    line-height: 20px;
  }

  &__check {
    display: flex;
    align-items: center;
    width: 12%;
  }
}



