.comparison {
  margin: 20px;

  &__figure {
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
  }

  &__caption {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }
}



