.conection {
  box-sizing: border-box;
  padding: 0 30px 50px;
  display: flex;
  justify-content: center;

  @include onTablet {
    padding: 0 34px 50px;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__site {
    display: flex;
    padding-bottom: 23px;
    max-width: 140px;
    width: 100%;
    justify-content: space-between;

    @include onTablet {
      padding-bottom: 108px;
    }

    @include onDesktop {
      padding-bottom: 70px;
    }
  }

  &__facebook {
    // margin: 0 0 23px 92px;
    transition: transform 0.8s;

    &:hover {
      transform: scale(1.5);
      color: #0000cd;
    }
  }

  &__twitter {
    // margin: 0 43px 23px 46px;
    transition: transform 0.8s;
    animation: linear;

    &:hover {
      transform: scale(1.5);
      color: #00bfff;
    }
  }

  &__insta {
    transition: transform 0.8s;
    // margin: 0 88px 23px 0;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__logo {
    display: none;

    @include onTablet {
      cursor: pointer;
      margin: 0 auto;
      margin-bottom: 65px;
      display: block;
      transition: transform 0.8s;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &__arrow {
    right: -140px;
    top: -24px;
    position: absolute;
    width: 24px;
    height: 20px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 1s;

    &:hover {
      transform: scale(1.5);
    }

    @include onTablet {
      right: -200px;
      top: -10px;
    }

    @include onTablet {
      right: -270px;
      top: 20px;
    }
  }

  &__logotop {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    padding-bottom: 50px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $silverTintColor;
  }
}
