.contact {
  &__container {
    @extend %container;
    @include onDesktop {
      padding: unset;
    }

    padding: 0 1.88rem;
  }

  &__content {
    @include onDesktop {
      grid-template-columns: 1fr 1fr;
      display: grid;
      margin-bottom: 10.63rem;
    }

    flex-direction: column;
    display: flex;
    margin-bottom: 8.75rem;
  }

  &__title {
    @include onTablet {
      margin-bottom: unset;
    }

    margin-bottom: 1.88rem;
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }
}
