.controls {
  font-size: 14px;
  line-height: 20px;
  color: $darkLightColor;

  &__item {
    font-size: inherit;
    color: inherit;

    transition: color 0.3s;

    &:hover {
      color: $secondaryGreenHover;
    }
  }

  &__item-lang {
    color: $grayMediumColor;

    &--active {
      color: $darkLightColor;
    }
  }

}
