.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 30px;
  @include onTablet {
    padding: 0 34px;
  }
  @include onLaptop {
    padding: 0 50px;
  }
  @include onDecktop {
    padding: 0 123px;
  }
}
