.contact-us {
  display: flex;
  flex-direction: column;



  &__field {
    margin-bottom: 20px;

    @include onDesktop {
      margin-top: 50px;
    }

    @include onTablet {
      margin-top: 50px;
    }

    &--last {
      margin-bottom: 30px;
    }
  }

  &__info-title {
    margin-top: 90px;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
  }
}
