.contacts {
  &__item {
    @include pageGrid;
  }

  &__title {
    margin-bottom: 26px;
    grid-column: 1 / -1;
    @include onTablet {
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }
  &__form {
    grid-column: 1 / -1;
    @include onTablet {
      grid-column: 5 / 9;
    }

    @include onDesktop {
      grid-column: 7 / 13;
    }
  }

  &__email {
    display: block;
    padding: 20px 12px;
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: $primary-text-color;
    margin-bottom: 20px;
    font-family: inherit;
    border: 1px solid black;

    &:focus:invalid {
      border-color: red;
    }
  }

  &__text {
    display: block;
    width: 100%;
    height: 128px;
    padding: 20px 12px;
    font-size: 16px;
    line-height: 24px;
    color: $primary-text-color;
    margin-bottom: 20px;
    font-family: inherit;
    border: 1px solid black;
  
    &:focus:invalid {
      border-color: red;
    }
  }

  &__send {
    display: block;
    padding: 13px 35px;
    background-color: $link-color;
    color: $main-background-color;
    transition: background-color $transition-Time;

    &:hover {
      background-color: $features-title;
      cursor: pointer;
    }
  }
}
