.container {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  max-width: 1440px;
  margin: 14px auto 0;

  @include onMobile {
    padding: 0 30px;
    margin: 28px auto 0;
  }
}
