.contact-us {
  display: grid;
  grid-column: span 4;

  @include onTablet {
    grid-column: span 8;
  }

  @include onDeskTop {
    grid-column: span 12;
  }

  &__content {
    display: grid;
    padding-inline: 30px;
    margin-bottom: 110px;

    @include pageGrid;
    grid-column: span 4;

    @include onTablet {
      grid-column: span 8;
    }

    @include onDeskTop {
      grid-column: span 12;
    }
  }

  &__title {
    grid-column: span 4;
    margin-bottom: 27px;

    @include headline-2;
    text-align: start;

    @include onDeskTop {
      grid-column: span 6;
    }
  }

  &__forms {
    display: grid;
    row-gap: 20px;
    grid-column: span 4;

    @include onDeskTop {
      grid-column: span 6;
    }
  }

  &__form {
    padding: 12px 20px;

    @include mainText;
    resize: none;

    border: 1px solid $form-border-c;

    &:focus {
      outline: none;
    }

    @include onDeskTop {
      @include hover(transform, scale(102%));
    }

    &::placeholder {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: $placeholder-c;
    }
  }

  &__btn {
    width: 102px;
    height: 40px;

    @include onDeskTop {
      width: 124px;
      height: 48px;
      @include hover(transform, scale(105%));
    }

    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    color: $c-white;

    background-color: $submit-btn-c;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $dark-green-c;
    }
  }
}
