.contact-us {
  margin: 0 auto;

  @include onDesktop {
    padding-left: 100px;
  }

  @include onTab {
    padding-top: 130px;
    display: flex;
    justify-content: center;
  }

  &__title {
    padding-top: 45px;
    font-size: 37px;
    line-height: 46px;
    text-align: start;

    @include onTab {
      max-width: 340px;
      font-size: 56px;
      line-height: 72px;
    }

    @include onDesktop {
      max-width: 480px;
    }
  }

  &__form {
    box-sizing: border-box;
    max-width: 90%;

    @include onTab {
      max-width: 340px;
    }

    @include onDesktop {
      max-width: 480px;
    }
  }

  &__field {
    width: 100%;
    margin-top: 30px;
    border-radius: 0%;
    border: 1px solid #828282;

    font-size: 14px;
    line-height: 24px;
    color: #333;
    padding: 0 15px;

    &::placeholder {
      padding: 15px;
      font-size: 16px;
      line-height: 20px;
      color: #8f99a8;
    }

    &:hover {
      border-color: #ccd0e0;
    }

    &:focus {
      border-color: #0c797a;
      outline: none;
    }

    &--text {
      height: 128px;
      resize: none;
      font-family: inherit;
    }

    &--email {
      height: 50px;
    }
  }

  &__button {
    margin-top: 30px;
    width: 100px;
    height: 40px;
    background-color: #0db2b3;
    border: none;

    text-transform: uppercase;
    color: #fff;

    cursor: pointer;

    transition: all 300ms;

    &:hover {
      background-color: #0c797a;
    }
  }
}
