.content10 {
  @include onTablet {
    padding: 50px 0 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100px;
  }

  @include onDesktop {
    display: none;
  }
}
