.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 43px;
  }
}
