.controls {
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;

  &__item {
    font-size: inherit;
    color: inherit;

    transition: color 0.3s;
  }

  &__item-link:hover {
    color: $secondaryGreenHover;
  }

  &__lang:first-child::after {
    content: "/";
  }

  &__label {
    text-transform: uppercase;
    color: #bdbdbd;

    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__input:checked ~ &__label {
    color: #4f4f4f;
  }

}
