.controls {
  font-size: $fSize14;
  line-height: 20px;
  color: $darkLightColor;

  &__item {
    font-size: inherit;
    color: inherit;

    transition: color $transitionDuration;
    cursor: pointer;

    &:hover {
      color: $secondaryGreenHover;
    }
  }

  &__lang--mobile {
    font-size: $fSize22;
  }

  &__item-lang {
    color: $grayMediumColor;

    &--mobile {
      font-size: $fSize22;
    }
  }

  &__input {
    display: none;
  }

  &__input:checked + &__item-lang {
    color: $primaryBlackColor;
  }

}
