.content {

  &__header {
    margin: 0 $desktop-side-margin 80px;
    
    @include on-tablet {
      margin: 0 $tablet-side-margin 60px;
    }

    @include on-mobile {
      margin: 0 $mobile-side-margin $mobile-bottom-margin;
    }
    
  }

  &__promo {
    margin: 0 0 65px $desktop-side-margin;

    @include on-tablet {
      margin-left: $tablet-side-margin;
    }

    @include on-mobile {
      margin-left: 0;
    }
  }

  &__nav {
    margin: 0 auto 75px;
  }

  &__benefits {
    margin: 0 $desktop-side-margin $desktop-bottom-margin;

    @include on-tablet {
      margin: 0 $tablet-side-margin $tablet-bottom-margin;
    }

    @include on-mobile {
      margin: 0 $mobile-side-margin $mobile-bottom-margin;
    }
  }

  &__presentation {
    margin-bottom: $desktop-bottom-margin;

    @include on-tablet {
      margin-bottom: $tablet-bottom-margin;
    }

    @include on-mobile {
      margin-bottom: $mobile-bottom-margin;
    }
  }

  &__about {
    max-width: 990px;
    margin: 0 auto $desktop-bottom-margin;

    @include on-tablet {
      margin: 0 auto $tablet-bottom-margin;
    }

    @include on-mobile {
      margin: 0 $mobile-side-margin $mobile-bottom-margin;
    }
  }

  &__technology {
    margin-bottom: 116px;

    @include on-mobile {
      margin-bottom: $mobile-bottom-margin;
    }
  }

  &__testimonials {
    max-width: 786px;
    margin: 0 auto $desktop-bottom-margin;

    @include on-tablet {
      margin: 0 auto $tablet-bottom-margin;
    }

    @include on-mobile {
      margin: 0 $mobile-side-margin $mobile-bottom-margin;
    }
  }

  &__features {
    margin-left: $desktop-side-margin;
    margin-bottom: 180px;

    @include on-tablet {
      margin-left: 35px;
      margin-bottom: $tablet-bottom-margin;
    }

    @include on-mobile {
      margin-left: 0;
      margin-bottom: $mobile-bottom-margin;
      padding-left: 30px;
    }
  }

  &__contact-us {
    margin: 0 auto 108px;

    @include on-tablet {
      margin: 0 $tablet-side-margin 60px;
    }

    @include on-mobile {
      margin: 0 $mobile-side-margin 100px;
    }
  }
}
