.contact-form {
  @include onTablet {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(8,1fr);
  }
  @include onDesktop {
    grid-column-gap: 25px;
    grid-template-columns: repeat(12,1fr);
  }
  &__header {
    margin-bottom: 27px;
    @include onTablet {
      grid-column: 1 / 5;
    }
    @include onDesktop {
      grid-column: 1 / 7;
    }
  }
  &__form {
    @include onTablet {
      grid-column: 5 / 9;
    }
    @include onDesktop {
      grid-column: 7 / 13;
    }
  }
  &__field {
    margin-bottom: 25px;
  }
}
