.container-testimonials {
  background-image: url(../images/techtextbg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 54px;
  padding-bottom: 28px;
}
