.content {
  &__header {
    margin: 0 124px;

    @include onTablet {
      margin: 0 34px;
    }

    @include onMobile {
      margin: 0 30px;
    }
  }

  &__mobile-nav {
    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(105%);
    transition: transform 0.5s;

    &:target {
      transform: translateX(0);
    }
  }

  &__promo {
    margin-bottom: 100px;

    @include onTablet {
      margin: 0 0 128px 34px;
    }

    @include onDesktop {
      margin: 0 0 120px 124px;
    }
  }

  &__nav {
    margin: 0 auto 45px;
  }

  &__benefits {
    margin: 0 124px 150px;

    @include onTablet {
      margin: 0 34px 130px;
    }

    @include onMobile {
      margin: 0 30px 90px;
    }
  }

  &__presentation {
    margin: 0 0 150px;

    @include onTablet {
      margin: 0 0 130px;
    }

    @include onMobile {
      margin: 0 0 90px;
    }
  }

  &__about-us {
    margin: 0 0 150px;

    @include onTablet {
      margin: 0 0 130px;
    }

    @include onMobile {
      margin: 0 0 90px;
    }
  }

  &__technology {
    margin-bottom: 62px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onMobile {
      margin-bottom: 78px;
    }
  }

  &__testimonials {
    margin: 0 0 150px;

    @include onTablet {
      margin: 0 0 130px;
    }

    @include onMobile {
      margin: 0 0 90px;
    }

  }

  &__features {
    margin: 0 0 180px 124px;

    @include onTablet {
      margin: 0 0 130px 36px;
    }

    @include onMobile {
      padding: 0 30px;
      margin: 0 0 45px;
    }
  }

  &__contact-us {
    margin: 0 124px 108px;

    @include onTablet {
      margin: 0 34px 60px;
    }

    @include onMobile {
      margin: 0 30px 54px;
    }
  }
}
