.contact {
  @include contentPaddingInline;
  @include pageGrid;
  row-gap: 27px;

  &__title {
    @include blockTitleStyling;
    grid-column: span 4;

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__wrapper {
    grid-column: span 4;

    @include onDesktop {
      grid-column: span 6;
    }
  }
}
