.contacts {
  height: 100vh;

  @include onTablet {
    height: auto;
  }

  &__container {
    @include onTablet {
      @include gridTablet;
    }
  }

  &__title {
    grid-column: 1 / 5 ;
  }

  &__form {
    grid-column: 5 / 9 ;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__button {
    border: none;
    background-color: #39bebf;

    &:hover {
      background-color: $c-dark-blue;
    }
  }
}
