.contact {
  &__container {
    @include container;
    @include onDesktop {
      padding: unset;
    }

    padding: 0 30px;
  }

  &__content {
    @include onDesktop {
      grid-template-columns: 1fr 1fr;
      display: grid;
      margin-bottom: 170px;
    }

    flex-direction: column;
    display: flex;
    margin-bottom: 140px;
  }

  &__title {
    @include onTablet {
      margin-bottom: unset;
    }

    margin-bottom: 30px;
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
