.content6 {
  margin-bottom: 110px;

  @include onTablet {
    margin-bottom: 0;
    padding-right: 34px;
  }

  @include onDesktop {
    display: grid;
    grid-column: 7/13;
    align-content: flex-start;
  }
}
