.count {
  font-family: DIN Pro, sans-serif;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: #bdbdbd;
  padding: 15px 0;
  &__prev {
    font-size: 16px;
    line-height: 20px;
    color: $c-text-black;
    cursor: pointer;
  }
  &__next {
    cursor: pointer;
  }

  @include onTablet {
    display: none;
  }
}
