.creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 110px;
  text-align: center;

  @include onTablet {
    margin-bottom: 140px;
  }

  @include onDesktop {
    margin-bottom: 170px;
  }

  &__quote {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 786px;
    @extend %quote-text;
    background: no-repeat center url("../images/quote-background.svg");

    @include onTablet {
      padding: 60px 0 0;
    }

    @include onDesktop {
      padding: 42px 0;
    }
  }

  &__avatar {
    align-self: center;
    padding: 30px 0 10px;
    width: 62px;

    @include onTablet {
      padding: 40px 0 20px;
    }

    @include onDesktop {
      padding: 0 0 20px;
      position: relative;
      top: -12px;
    }
  }

  &__name {
    padding-bottom: 5px;
  }

  &__profession {
    @extend %secondary-text;
    color: $color-gray;
  }
}
