.creators {
  padding: 100px 0;

  &__container {
    position: relative;
  }

  &__decor {
    position: relative;
    top: 110px;
  }

  &__title {
    @include blockTitle;
  }

  &__parag {
    padding: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $blackTextColor;

    &--desktop {
      display: none;

      @include onDesktop {
        margin-bottom: 40px;
        display: block;
      }
    }
  }

  &__link {
    @include learnMoreLink;
    margin-bottom: 40px;
  }

  &__img {
    display: none;

    @include onTablet {
      display: block;
      max-height: 100%;
      width: 40%;
      position: absolute;
      top: 0;
      right: 2%;
    }

    @include onDesktop {
      display: block;
      max-width: 100vh;
      position: absolute;
      top: 0;
      right: 27px;
    }
  }

  &__button {
    margin: 0 auto;

    @include onTablet {
      margin: 0;
    }

    @include onDesktop {
      margin: 0;
    }
  }
}
