.creator {
  @include onTablet {
    margin-bottom: 8.75rem;
  }

  @include onDesktop {
    margin-bottom: 10.63rem;
  }

  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-bottom: 6.88rem;
  text-align: center;

  &__quote {
    @include quote-text;

    @include onTablet {
      padding: 3.75rem 0 0;
    }

    @include onDesktop {
      padding: 2.63rem 0;
    }

    margin: 0 auto;
    max-width: 49.13rem;
    padding: 3.13rem 0;
    background: no-repeat center url("../images/quote-background.svg");
  }

  &__avatar {
    @include onTablet {
      padding: 2.5rem 0 1.25rem;
    }

    @include onDesktop {
      padding: 0 0 1.25rem;
      position: relative;
      top: -0.75rem;
    }

    align-self: center;
    width: 3.88rem;
    padding: 1.88rem 0 0.63rem;
  }

  &__name {
    padding-bottom: 0.31rem;
  }

  &__profession {
    @include secondary-text;
    color: $color-gray;
  }
}
