.decor {
  display: none;

  @include onDesktop {
    position: absolute;
    top: 135px;
    left: -80px;
    display: flex;
    gap: 10px;
    align-items: center;
    transform: rotate(-90deg);

    &__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
      color: $greenTextColor;
      opacity: 50%;
      white-space: nowrap;
    }

    &__arr {
      height: 1px;
      width: 100px;
      background-color: $greenTextColor;
      opacity: 50%;
    }
  }
}
