.description {
  margin: 73px 123px 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr );
  gap: 30px;
  text-align: center;

  &__list {
    text-transform: uppercase;
    font-family: "DIN Pro", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    margin: 50px 0;
    
  }

  &__text {
    margin: 0;
    line-height: 21px;
    color: #7c7c7c;
    
  }
}

@media (max-width: 1024px) {
  .description {
    margin: 0 34px;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    justify-content: space-evenly;
  }

  .description__item {
    padding-bottom: 60px;
  }
}

@media (max-width: 320px) {

  .hide-on-mobile {
    display: none;
  }

  .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .description__item:last-child {
    padding: 0 0 90px;
  }
}
