.description {

  &__icon {
    margin: 0 auto 40px;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $c-darkgrey-one;

    @include onTablet {
      font-size: 18px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $c-darkgrey-three;
  }

  @include onTablet {
    width: 275px;
  }

  @include onDesktop {
    width: 235px;
  }
}
