.design {
  &__image {
    display: block;
    height: 100%;
    width: 100%;
    margin: 50px auto 30px;
  }

  &__link {
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: $c-green;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 53px;
      margin-top: 6px;
      background-color: $c-green;
      transition: width 0.4s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
