.designet {
  padding-bottom: 110px;
  @include onTablet {
    padding-bottom: 140px;
  }
  @include onDesktop {
    padding-bottom: 170px;
  }
  .design__title1 {
    display: block;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    line-height: 40px;
    color: $colorH1;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 30px;
    @include onTablet {
      display: none;
    }
    @include onDesktop {
      display: none;
    }
  }
  .design__title2 {
    display: none;
    @include onTablet {
      display: block;
      font-weight: 700;
      font-size: 36px;
      font-style: normal;
      line-height: 46px;
      color: $colorH1;
      text-transform: uppercase;
      text-align: left;
      padding-bottom: 30px;
    }
    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
    }
  }
  .design__title-e1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $colorH1;
    text-align: left;
    padding-bottom: 30px;
    @include onTablet {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 60px;
    }
  }
  .design__title-e1--img4 {
    display: none;
    @include onTablet {
      display: flex;
    }
  }
  .design__title-e1--img4D {
    display: flex;
    @include onTablet {
      display: none;
    }
  }
  &__list {
    display: flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--GREEN, #0db2b3);
    gap: 6px;
    padding: 0;
    margin: 0;
  }
  &__item {
    list-style: none;
    display: block;
  }
  .bogder--bott {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    &:hover {
      transition: 0.5s;
      border-bottom: 1px solid var(--GREEN, #0db2b3);
    }
  }
  .pad3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    @include onTablet {
      margin-left: -34px;
    }
    @include onDesktop {
      margin-left: 0;
    }
  }
  .pad4 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    @include onTablet {
      margin-right: -34px;
    }
    @include onDesktop {
      margin-right: 0;
    }
  }
  .img3 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 659px;
    height: 310px;
    object-fit: contain;
    object-position: center;
    position: relative;
    background-repeat: no-repeat;
    transition: all 0.3s;
    background-image: url(../images/img3Mob.png);
    @include onTablet {
      width: 374px;
      height: 415px;
      background-image: url(../images/img3Tabl.png);
    }
    @include onDesktop {
      width: 582px;
      height: 388px;
      background-image: url(../images/img3Desc.png);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .img4 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 659px;
    height: 412px;
    object-fit: contain;
    object-position: center;
    position: relative;
    background-repeat: no-repeat;
    transition: all 0.3s;
    background-image: url(../images/img4Mob.png);
    @include onTablet {
      width: 741px;
      height: 417px;
      background-image: url(../images/img4Tabl.png);
    }
    @include onDesktop {
      width: 712px;
      height: 401px;
      background-image: url(../images/img4Desc.png);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
}
