.design {
  padding: 55px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include onTablet {
      flex-direction: row;
      gap: 20px;
    }

    @include onDesktop {
      gap: 30px;
    }

    &-design {
      margin-bottom: 116px;

      @include onTablet {
        margin-bottom: 140px;
      }

      @include onDesktop {
        margin-bottom: 165px;
      }
    }

    &-luna {
      @include onTablet {
        flex-direction: row-reverse;
      }
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 210px;
    transition: all 00.3s;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.05);
    }

    @include onTablet {
      width: 374px;
      height: 415px;
    }

    @include onDesktop {
      width: 582px;
      height: 388px;
    }

    &-design {
      background-image: url(../images/image3mob.jpg);

      @include onTablet {
        background-image: url(../images/image3tabl.jpg);
      }
  
      @include onDesktop {
        background-image: url(../images/photo3.jpg);
      }
    }

    &-luna {
      background-image: url(../images/image4mob.jpg);

      @include onTablet {
        background-image: url(../images/image4tabl.jpg);
      }
  
      @include onDesktop {
        background-image: url(../images/photo4.jpg);
      }
    }
  }

  &__wrapp-text {
    max-width: 582px;
  }

  &__title {
    text-transform: uppercase;
    display: none;
    margin-bottom: 30px;

    @include onTablet {
      display: block;
      width: 360px;
    }

    @include onDesktop {
      width: 582px;
    }

    &-mob {
      display: block;
      margin-bottom: 30px;

      @include onTablet {
        display: none;
      }
    }
  }

  &__text {
    @extend %secondary-text;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 75px;
      width: 370px;
    }

    @include onDesktop {
      width: 582px;
    }
  }

  &__btn {
    padding: 16px 0;

    &::after {
      left: 0;
    }
  }
}
