.designed {

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 37px;
    color: $darkerColor;
    line-height: 55px;
    margin-bottom: 50px;
    font-weight: 600;
  }

  &__image {
    object-fit: cover;
    height: 210px;
    margin-bottom: 30px;
  }

  &__text {
    font-family: "Helvetica Neue", sans-serif;
    color: $textColor;
    line-height: 21px;
    margin-bottom: 30px;
  }

  &__continue {

    &-link {
      text-decoration: none;
      color: #0db2b3;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      padding-bottom: 6px;

      &::after {
        display: block;
        content: "";
        border-top: 1px solid #0db2b3;
        width: 53px;
        margin-top: 6px;
      }

      &:hover {
        color: #098383;
      }
    }
  }
}
