.desktop {
  display: none;

  @include onDesktop {
    &__menu {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    &__menu-link {
      color: $fontGrey;
      padding: 30px 15px;
      text-decoration: none;

    }
  }

}
