.desktop-menu {
  display: none;
  justify-content: center;
  margin-bottom: 40px;

  @include onDesktop {
    display: flex;
  }

  &__link {
    color: #666;
    text-decoration: none;
    padding-bottom: 10px;
    transition: color 0.4s;

    &--first {
      color: #222;
      font-weight: bold;
    }

    &:hover {
      color: $thirdColor;
      font-weight: bold;
      border-bottom: 2px solid $thirdColor;
    }
  }

  &__list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }

  &__items {
    text-transform: uppercase;
    box-sizing: border-box;
    padding-right: 30px;
    font-size: 14px;
    line-height: 21px;
    width: 174px;
    text-align: center;
    transition: transform 0.4s;

    &:hover {
      transform: scale(110%);
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}
