.desk-top {
  display: none;
  grid-column: span 12;

  @include onDeskTop {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: center;

    gap: 84px;

    list-style: none;
  }
}
