.detail1 {
  top: 30%;
  left: 20%;

  @media (min-width: 500px) {
    left: 17%;
  }

  @media (min-width: 700px) {
    left: 13%;
  }

  @media (min-width: 1100px) {
    left: 10%;
  }

  @media (min-width: 1280px) {
    left: 7%;
  }

  &__description {
    transform: translate(15px, 10px);

    &::before {
      height: 150px;

      @media (min-width: 400px) {
        height: 200px;
      }

      @include onTablet {
        height: 270px;
      }
    }
  }
}
