.detail2 {
  top: 40%;
  left: 70%;

  @media (min-width: 500px) {
    left: 65%;
  }

  @media (min-width: 600px) {
    left: 56%;
  }

  @media (min-width: 700px) {
    left: 50%;
  }

  @media (min-width: 900px) {
    left: 45%;
  }

  @media (min-width: 1100px) {
    left: 37%;
  }

  @media (min-width: 1280px) {
    left: 35%;
  }

  &__description {
    transform: translate(15px, 10px);

    &::before {
      height: 100px;

      @media (min-width: 400px) {
        height: 120px;
      }

      @include onTablet {
        height: 180px;
      }
    }
  }
}
