.directions {
  display: none;

  @include onDesktop {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: #333;
    // font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
      // font-weight: 500;
      color: #131313;
    }
  }
}
