.explain-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;

  &__title {
    @extend %h1;
    max-width: 380px;

    @media (max-width: $phone) {
      text-align: center;
    }
  }

  &__p {
    line-height: 1.5rem;
    text-align: left;
    max-width: 260px;

    @media (max-width: $phone) {
      text-align: center;
    }
  }
}
