.extra-buttons {
  display: flex;
  gap: 20px;
  align-items: center;

  @include onTablet {
    gap: 30px;
  }

  &__specs {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 300;

    @include hover(text-shadow, 1px 1px 3px #7e7e83);
  }
}
