.eye {
  &__wrapper {
    padding-inline: 30px;

    @include onTablet {
      padding-inline: 34px 0;
      width: 733px;
      margin: 0 auto;
    }

    @include onSmallDesktop {
      padding-inline: 123px;
      width: 1194px;
      margin: 0 auto;
    }
  }
}
