.feature {
  &__title {
    @extend %spacing-normal;

    text-transform: uppercase;
    color: color(color-green);

    @include onTablet {
      font-size: 30px;
      line-height: 38px;
    }
  }

  &__list {
    list-style: inside;
  }

  &__list-item {
    color: color(color-granit);

    @include onTablet {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: 240px;
    right: 0;

    @include onTablet {
      top: 170px;
    }

    @include onMobile {
      display: none;
    }
  }
}
