.features {
  &-common {
    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: $c-green;
      margin-bottom: 30px;

      @include onDesktop {
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 30px;
      }
    }

    &__list {
      margin-left: 18px;
    }

    &__item {
      max-width: 244px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $c-dark;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 50px;

        @include onDesktop {
          margin-bottom: 60px;
        }
      }

      @include onDesktop {
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
      }
    }

    &__image {
      display: flex;
      justify-content: center;

      @include onTablet {
        justify-content: flex-start;
      }

      @include onDesktop {
        display: none;
      }

      &--first {
        margin-bottom: 8px;
      }

      &--second {
        position: relative;
        right: 2px;
        margin-bottom: 10px;
        z-index: 1;
      }
    }

    &__date {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @include onTablet {
        justify-content: flex-start;
        margin-bottom: 123px;
        padding-left: 25px;
      }

      @include onDesktop {
        display: none;
      }

      &--month {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $c-dark;
      }
  
      &--day {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: $c-green;
      }
    }
  }
}
