.features-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onTablet {
    display: inline-block;
    width: 93px;
    margin: 51px 0 0 90px;
  }

  @include onLaptop1280 {
    display: none;
  }

  &__left {
    all: initial;

    width: 48px;
    height: 13px;
    background-image: url(../images/img_Mobile/features_button-left.svg);

    &:hover {
      cursor: pointer;
      background-image: url(../images/img_Mobile/features_button-left-hover.svg);
    }
  }

  &__rigth {
    all: initial;

    width: 48px;
    height: 13px;
    background-image: url(../images/img_Mobile/features_button-right.svg);
    margin-left: -8px;

    &:hover {
      cursor: pointer;
      background-image: url(../images/img_Mobile/features_button-right-hover.svg);
    }
  }

  &__pagination {
    display: flex;

    &-start {
      margin: 8px 0 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      @include onTablet {
        margin-left: 25px;
      }
    }

    &-slash {
      margin: 20px 0 0 3px;
      font-size: 11px;
      line-height: 13px;
      color: rgb(13, 121, 122);
    }

    &-finish {
      margin: 21px 0  0 4px;
      font-size: 11px;
      line-height: 13px;
      color: rgb(12, 121, 122);
    }
  }
}
