.features-slider {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid red;
  margin: auto;
  margin-bottom: 130px;
  z-index: 1;
  @media (max-width: $breakpoint-md) {
    display: flex;
  }

  &__item {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  &__prev,
  &__next {
    position: relative;
    cursor: pointer;
    font-size: 60px;
    border-radius: 3px;
  }

  &__prev {
    left: 9px;
    bottom: 5px;
    color: $grayLite;
  }

  &__next {
    right: 9px;
    top: 5px;
  }
}
