.features-block {
  &:nth-child(2) {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &:nth-child(3) {
    margin-bottom: 70px;
    display: none;

    @include onTablet {
      margin-bottom: 70px;
      display: grid;
    }

    @include onDesktop {
      margin-bottom: 120px;
    }
  }

  &:nth-child(4) {
    display: none;

    @include onTablet {
      display: grid;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-family: "DIN Pro";
    font-size: 30px;
    line-height: 37px;
    font-weight: 300;
    text-transform: uppercase;
    color: #0c797a;

    @include onTablet {
      font-size: 34px;
      line-height: 42px;

    }
  }

  &__list {
    padding: 0;
  }

  &__li {
    font-size: 14px;
    line-height: 21px;
    color: #333;
    font-weight: 300;

    @include onTablet {
      font-size: 16px;
      line-height: 28px;
    }
  }
}