.features {
  overflow: hidden;
  @extend %margin-bottom;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 123px;
  }

  &__title {
    @extend %h3;
    text-align: center;
    padding: 0 0 32px 30px;

    @include onTablet {
      text-align: start;
      padding: 0;
      margin-bottom: 30px;
    }
  }

  &__content {
    background-color: #d6ecec;

    @include onDesktop {
      display: none;
    }
  }

  &__card {
    max-width: 100%;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0c797a;
    padding: 30px 32px 20px;

    @include onTablet {
      padding: 60px 90px 20px;
    }
  }

  &__list {
    @include onTablet {
      padding-left: 100px;
    }
  }

  &__item {
    @extend %text;
    color: $colorDarkGray;
    padding: 0 28px 10px 0;

    &:last-child {
      padding-bottom: 50px;
    }
  }
  
  &__button {
    text-align: center;

    @include onTablet {
      text-align: start;
      padding-left: 90px;
    }
  }

  &__button-next,
  &__button-prev {
    cursor: pointer;
    @include hover(transform, scale(1.2));
  }

  &__count {
    @include onTablet {
      text-align: start;
      padding-left: 115px;
    }
  }

  &__image {
    background-image: url(../images/luna-removebg-preview.a5a48c3e.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 174px;
    @include hover(transform, scale(1.1));

    @include onTablet {
      height: 226px;
    }
  }

  &__container-desktop {
    display: none;

    @include onDesktop {
      display: flex;
      flex-wrap: wrap;
      background-color: #d6ecec;
    }
  }

  &__image-desktop {
    @include hover(transform,scale(1.1));
  }
}
