.feature-navigation {
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }

  &__numbers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 4px;
  }

  &__number {
    margin: 0 0 8px;
    font-family: "DIN Pro", sans-serif;
    font-size: 11px;
    font-weight: 100;
    line-height: 14px;
    color: #bdbdbd;

    &--active {
      font-size: 16px;
      line-height: 20px;
      color: $colorGrey;
    }
  }

  &__arrows {
    display: flex;
    justify-content: center;
  }

  &__arrow {
    margin: 0 0 8px;
  }
}
