.feature {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  &__headline {
    margin-left: 10px;
    font-family: "DINPro", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    color: $feature-Headline-Color;
    @include onTelephone {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__list {
    padding-left: 0;
  }

  &__item {
    margin-bottom: 12px;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $mainColor;
    @include onTelephone {
      margin: 14px;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
