.features-slider {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
  z-index: 1;
  @media (max-width: $breakpoint-md) {
    display: flex;
  }

  &__item {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  &__btn {
    position: relative;
    cursor: pointer;
    color: $grayLite;
  }

  &__btn--prev {
    left: 5px;
    bottom: 0;

    &-active {
      color: $textColor;
    }
  }

  &__btn--next {
    right: 5px;
    top: 0;

    &-active {
      color: $textColor;
    }
  }
}
