.features-card {
  position: relative;
  z-index: 1;

  &__heading {
    margin: 30px 0;
    font-size: 34px;
    color: $headingColor;
    text-transform: uppercase;

    @media (max-width: $breakpoint-md) {
      font-size: 30px;
    }
  }

  &__list--slider {
    min-height: 200px;
    @media (max-width: $breakpoint-xs) {
      min-height: 250px;
    }
  }

  &__item {
    list-style-type: disc;
    margin: 15px;
    font-size: $fontSizeXl;
    text-transform: capitalize;

    @media (max-width: $breakpoint-md) {
      font-size: $mainFontSize;
    }
  }

  &--center {
    align-self: center;
  }

  &--half {
    margin: 120px 0 0 20%;
  }
}
