.card {
  &__title {
    font-family: DIN Pro-Medium, sans-serif;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: $title-green;
  }

  &__item {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: $title-broun;
  }
}
