.feauters {
  background-image: url(../images/pitcures/feauters_rect.svg);

  @include onTablet {
    //asd
  }

  &__inner {
    background-image: url(../images/pitcures/features.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @include onTablet {
      // background-image: url(../images/pitcures/features_pc.jpg);
    }
  }

  &__title {
    padding-top: 45px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
    color: #333;

    @include onTablet {
      padding-top: 0;
    }
  }

  &__item {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 100px;
    }

    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__item-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #0c797a;

    @include onTablet {
      margin-bottom: 21px;
    }

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__list {
    margin-left: 20px;
    list-style: disc;
  }

  &__list-item {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #333;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
