.feedback {
  padding-top: 110px;

  @include onTablet {
    padding-top: 140px;
  }

  @include onLaptop {
    padding-top: 170px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 786px;
    margin: 0 auto;
  }

  &__description {
    box-sizing: border-box;
    background-image: url("../images/feedback/quotes.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 50px;
    height: 171px;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    color: $secondary-text-color;
    margin-bottom: 30px;

    @include onTablet {
      height: 189px;
      padding-top: 70px;
      font-size: 22px;
      margin-bottom: 40px;
    }

    @include onLaptop {
      font-size: 24px;
      margin-bottom: 0;
      padding-top: 40px;
    }
  }

  &__person-img {
    transform: translateY(-10px);
    margin: 0 auto;
    width: 62px;
    height: 62px;
    margin-bottom: 20px;
    z-index: -1;
  }

  &__person-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 137%;
    color: $secondary-text-color;
    margin: 0 0 5px;
  }

  &__person-majoring {
    font-size: 14px;
    line-height: 150%;
  }
}
