.feedback {
  display: flex;
  justify-content: space-between;
  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    flex-basis: 55%;
  }

  &__form {
    flex-basis: 40%;
    width: 100%;
    max-width: 485px;
  }

  &__input {
    margin: 12px 0;
    padding: 14px 30px;
    display: block;
    border: 1px solid $grayLite;
    border-radius: 3px;
    width: 100%;
    color: $textColor;
    transition: border-color $transition;

    &::placeholder {
      font-size: $FontSizeXl;
      color: $grayLite;
    }

    &:hover {
      border-color: $gray;
    }
  }

  &__btn-submit {
    padding: 15px 35px;
    background: $turquoise;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    transition: box-shadow $transition;

    &:hover {
      box-shadow: $boxShadow;
    }
  }
}
