.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 110px;

  &__icon {
    object-fit: cover;
    width: 62px;
    height: 62px;
    border-radius: 50%;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    margin: 20px 0 5px;
  }

  &__role {
    font-weight: lighter;
    line-height: 16px;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .feedback {
    bottom: 126px;
  }
}
