.first-section {
  &__content {
    flex-direction: column;
  }

  &__text {
    order: 2;
    
    @include onTabs {
      order: 0;
    }
  }

  &__img {
    width: 100%;
    order: 1;
    
    @include onTabs {
      order: 0;
    }
  }
  
}
