.footer {
  padding-bottom: 20px;

  @include onTablet {
    padding-bottom: 30px;
  }

  &__logo-link {
    display: none;

    @include onTablet {
      display: block;
      width: fit-content;
      margin-inline: auto;
      margin-bottom: 60px;
    }
  }

  &__logo {
    height: 25px;
    width: 184px;
    @include hover(transform, scale(1.1));

    @include onDesktop {
      width: 161px;
      height: 26px;
    }
  }

  &__socials {
    margin-bottom: 30px;

    display: flex;
    gap: 40px;
    justify-content: center;

    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__social-link {
    height: 24px;
    width: 24px;
    background-size: contain;

    @include hover(transform, scale(1.2));

    &--facebook {
      background-image: url("../images/socials/facebook.svg");

      &:hover {
        background-image: url("../images/socials/facebook-hover.svg");
        transform: scale(130%);
      }
    }

    &--twitter {
      background-image: url("../images/socials/twitter.svg");

      &:hover {
        background-image: url("../images/socials/twitter-hover.svg");
        transform: scale(130%);
      }
    }

    &--instagram {
      background-image: url("../images/socials/instagram.svg");

      &:hover {
        background-image: url("../images/socials/instagram-hover.svg");
        transform: scale(130%);
      }
    }
  }

  &__copyright {
    color: #bdbdbd;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }
}
