.footer {
  &__social {
    display: flex;
    justify-content: center;

    margin-bottom: 65px;

    &-item {
      margin: 0 27px;

      transition: all 500ms;

      &:hover {
        transform: translate(0, 0) scale(1.5, 1.5);
      }
    }
  }

  &__legal {
    &-container {
      display: flex;
      justify-content: center;

      margin: 0 30px 30px;
    }

    &-text {
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #bdbdbd;
    }
  }
}
