.footnote-wrap {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(9, 1fr);
  @media (max-width: $breakpoint-md) {
    display: none;
  }

  &__text {
    display: none;
    padding: 140px 20px 0 0;
    border-right: 1px solid $textColor;
    border-bottom: 1px solid $textColor;
    position: absolute;
    top: 60px;
    right: 23px;
    font-size: $mainFontSize;
    line-height: 21px;
    color: $textColor;
    z-index: 99;

    span {
      display: inline-block;
      min-width: 150px;
      font-weight: 500;
    }

    @media (max-width: $breakpoint-l) {
      padding: 130px 20px 0 0;
      right: 20px;
      top: 50px;
    }

    @media (max-width: $breakpoint-lg) {
      padding: 130px 20px 0 0;
      right: 14px;
      top: 40px;
    }
  }

  &__text--right {
    border-left: 1px solid $textColor;
    border-right: 1px solid transparent;
    padding: 130px 0 0 20px;
    right: 0;
    left: 21px;

    @media (max-width: $breakpoint-lg) {
      left: 14px;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: $fontSizeBig;
    line-height: 0;
    color: $white;
    background-color: $turquoise;
    transition: width $transition, height $transition;

    @media (max-width: $breakpoint-l) {
      width: 40px;
      height: 40px;
      font-size: $fontSizeXl;
    }

    @media (max-width: $breakpoint-lg) {
      width: 30px;
      height: 30px;
    }

    span {
      position: relative;
      bottom: 2px;
    }

    &:hover {
      background-color: $black;
    }

    &:hover .footnote-wrap__text {
      display: block;
    }
  }

  &__btn--1 {
    grid-row: 4;
    grid-column: 3;
  }

  &__btn--2 {
    grid-row: 6;
    grid-column: 5;
  }

  &__btn--3 {
    grid-row: 5;
    grid-column: 6;
  }

  &__btn--4 {
    grid-row: 3;
    grid-column: 7;
  }

  &__btn--5 {
    grid-row: 6;
    grid-column: 10;
  }

  &__btn--6 {
    grid-row: 4;
    grid-column: 11;
  }

  &__btn--7 {
    grid-row: 6;
    grid-column: 13;
  }

  &__btn--8 {
    grid-row: 4;
    grid-column: 16;
  }

  &__btn--9 {
    grid-row: 2;
    grid-column: 17;
  }

  &__btn--10 {
    grid-row: 4;
    grid-column: 18;
  }

  &__btn--11 {
    grid-row: 3;
    grid-column: 19;
  }
}
