.footer {
  overflow-x: hidden;

  padding: 0 30px;

  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include onDesktop {
    padding: 0 15px 30px;
  }

  &__arrow-up {
    position: fixed;

    left: 95%;
    bottom: 15%;

    height: 25px;
    width: 25px;

    color: $color-dark-charcoal;
    text-decoration: none;
    transition: transform $transition-duration;

    &:hover {
      color: $color-scobeloff;
      transform: scale(1.2);
    }
  }

  &__logo {
    margin-bottom: 60px;
  }

  &__socials {
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__social {
    display: inline-block;
    width: 15px;
    height: 15px;
    color: $color-dark-charcoal;
    transition: color $transition-duration;
    &:hover {
      color: $color-scobeloff;
    }
  }

  &__copyrights {
    text-align: center;
    @extend %secondary-text;
    color: $color-silver-gray;
  }
}
