.footer-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__arrow {
    position: absolute;
    height: 24px;
    bottom: 160px;
    right: 0;

    @include onTablet {
      bottom: 300px;
      right: 15px;
    }

    @include onDesktop {
      bottom: 220px;
      right: 140px;
    }
  }

  &__logo {
    display: none;
    margin-bottom: 65px;

    @include onTablet {
      display: block;
    }
  }

  &__copyright {
    margin-bottom: 50px;

    text-align: center;
    font-size: 12px;
    line-height: 21px;
    font-weight: 200;
    color: #bdbdbd;

    @include onTablet {
      font-size: 14px;
    }
  }
}