.footer {
  padding-bottom: 20px;
  @include onTablet {
    padding-bottom: 30px;
  }
  .logo {
    display: none;
    @include onTablet {
      display: block;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    row-gap: 33px;
    @include onTablet {
      row-gap: 64px;
    }
  }
  .media__link {
    margin-right: 48px;
    &:last-child {
      margin-right: 0;
    }
  }
  .link {
    text-decoration: none;
  }
  .svg {
    &__arrow {
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.3s ease;
      visibility: hidden;
      @include onTablet {
        visibility: visible;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
    path {
      transition: 0.3s ease;
    }
    &:hover {
      path {
        fill: $primary-color;
      }
    }
  }
  .copyright {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #bdbdbd;
  }
}
