.form {
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 20px;
    @extend %form-styles;
  }

  &__textarea {
    margin-bottom: 30px;
    @extend %form-styles;

    resize: none;

    @include onDesktop {
      padding: 16px 36px;
    }
  }
}
