.form-field {
  background-color: transparent;
  border-radius: 1px;
  height: 48px;
  padding: 12px 20px;
  border: 1px solid #828282;

  &:valid {
    border: 1px solid $green-on-page;
  }

  &:invalid {
    border: 1px solid red;
  }

  @include onTablet {
    padding: 12px 30px;
  }

  &--textarea {
    height: 128px;
    resize: none;
    font-family: inherit;

    @include onTablet {
      height: 201px;
    }

    @include onDesktop {
      height: 128px;
    }
  }

  &:hover {
    border-color: #d5d7de;
  }

  &:focus {
    border-color: #000;
    outline: none;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #bdbdbd;
  }
}
