.forms {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__email {
    height: 48px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    border: 1px solid $gray-color;
    border-radius: 3px;
    background-color: inherit;

    &:focus {
      border-color: $green-text-color;
      box-shadow: 0 0 8px rgba(13, 178, 179, 0.5);
      outline: none;
    }

    &::placeholder {
      padding-left: 30px;
      color: #bdbdbd;
    }
  }

  &__message {
    height: 128px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    border-color: $gray-color;
    resize: none;
    border: 1px solid $gray-color;
    background-color: inherit;

    &:focus {
      border-color: $green-text-color;
      box-shadow: 0 0 8px rgba(13, 178, 179, 0.5);
      outline: none;
    }

    &::placeholder {
      padding-left: 30px;
      color: #bdbdbd;
    }
  }

  &__button {
    cursor: pointer;
    width: 102px;
    height: 40px;
    background-color: $c-green;
    font-family: 'Inter';
    color: $white-color;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;

    @include on-desktop {
      height: 48px;
      width: 124px;
    }

    &:hover {
      background-color: $green-text-color;
      box-shadow: 2px 4px 15px rgba(150, 150, 150, 0.5);
      transition: all 0.3s ease-in-out;
    }
  }
}
