.form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;

  &__email {
    padding: 15px 30px;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid $color-border-question;
    border-radius: 0;

    &:focus {
      outline-color: $color-border-question;
    }

    &::placeholder {
      color: $color-form-placeholder;
    }
  }

  &__message {
    height: 130px;
    padding: 15px 30px;
    margin-bottom: 30px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $color-granit;
    border-radius: 0;

    &:focus {
      outline-color: $color-border-question;
    }

    &::placeholder {
      color: $color-form-placeholder;
    }
  }
}
