.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  padding: 15px 30px;
  border: 2px solid $c-gray;

  &::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: $c-light-gray;
  }

  &:hover {
    border-color: $c-green;
  }

  &:focus {
    border-color: $c-turquoise;
    outline: none;
  }

  &--textarea {
    height: 128px;
    font-family: inherit;
    resize: none;
  }
}
