.form-field {
  background-color: #f7f7f7;
  border: 1px solid #828282;
  display: block;
  height: 48px;
  width: 100%;
  padding: 12px 20px;

  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #bdbdbd;
  }

  &--textarea {
    height: 128px;
    resize: none;
    font-family: inherit;
    margin-bottom: 30px;
  }
}
