@include on-mobile {
  .form {

    &__aside {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
    }

    &__input {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 20px;
      padding: 12px 20px;
      border: 1px solid $color-text-light-grey;

      font-size: 16px;
      line-height: 24px;

      background-color: #F7F7F7;
      outline: none;

      &::placeholder {
        font-family: $text-font-family;
        font-size: 16px;
        line-height: 24px;
        color: #7e7e83;
      }

      &:hover::placeholder {
        color: $color-text;
      }

      @include validation;

      &:-webkit-autofill {
        color: inherit !important;
        background-color: #F7F7F7 !important;
        box-shadow: 0 0 0 1000px #F7F7F7 inset !important;
      }
    }

    &__textarea {
      resize: none;

      box-sizing: border-box;
      width: 100%;
      height: 140px;
      margin-bottom: 30px;
      padding: 12px 20px;
      border: none;
      border: 1px solid $color-text-light-grey;

      font-family: $text-font-family;
      font-size: 16px;
      line-height: 24px;

      background-color: #F7F7F7;
      outline: none;

      &::placeholder {
        color: #7e7e83;
      }

      &:hover::placeholder {
        color: $color-text;
      }

      &:hover {
        color:$color-text;
      }

      &:focus {
        border: 1px solid $color-text;
        color: $color-text;
      }
    }

    &__button {
      width: 100%;
    }
  }
}
