.soclist {
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @include desktop {
    padding-bottom: 81px;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    
    @include tablet {
      gap: 49px;
    }
  }
}

.footer {
  margin: 110px 30px 90px;

  @include tablet {
    margin: 140px 34px 90px;
  }

  @include desktop {
    margin: 170px 30px 90px;
  }

  &__tab-container {
    display: none;
    margin-bottom: 60px;
    margin-left: calc(50% - 92px);

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo-wrap {
    display: flex;
  }
  &__logo {
    background-image: url(../images/logo.svg);
    width: 184px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__arrow {
    background-image: url(../images/arrow-top.svg);
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 35px;
  }

  &__bottom {
    text-align: center;
    margin-top: 30px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BDBDBD;

    @include tablet {
      margin-top: 60px;
    }
  }
}
