.futuring {
  @include grid;
  margin-bottom: 110px;

  @include onTablet {
    grid-template-rows: 1fr 1fr;
    row-gap: 65px;
    margin-bottom: 140px;
  }

  @include onDesktop {
    grid-template-rows: 1fr;
    margin-bottom: 170px;
  }

  &__system {
    grid-column: 1 / 5;

    display: grid;
    justify-items: center;
    grid-template-rows: 40px 48px 126px;
    row-gap: 20px;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: span 3;
      row-gap: 30px;
      text-align: center;
    }
  }
}
