@include on-mobile {
  .futuristic-design {

    @include on-tablet{
      @include page-grid;
    }

    @include on-desktop{
      @include page-grid;

      display: grid;

    }
    &__menu{
      display: none;

      @include on-tablet{
        display: none;
      }

      @include on-desktop{
        display: flex;
        grid-column: 1 / -1;
        align-items: center;
        justify-content: center;
      }
    }

    &__section-1{
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-right: $mobile-padding-right;
      padding-left: $mobile-padding-left;

      text-align: center;

      @include hover(transform, scale(1.05));

      &:hover{
        cursor: pointer;
      }

      @include on-tablet{
        grid-column: 1 / 5;
        grid-row: 1;
        padding: 0;
      }

      @include on-desktop{
        grid-column: 1 / 4;
        grid-row: 2;
      }

    }

    &__section-2{
      display: none;

      @include hover(transform, scale(1.05));

      &:hover{
        cursor: pointer;
      }

      @include on-tablet{
        display: flex;
        grid-column: 5 / 9;
        grid-row: 1;
        flex-direction: column;
        align-items: center;

        text-align: center;
      }

      @include on-desktop{
        grid-column: 4 / 7;
        grid-row: 2;
      }
    }

    &__section-3{
      display: none;

      @include hover(transform, scale(1.05));

      &:hover{
        cursor: pointer;
      }

      @include on-tablet{
        display: flex;
        grid-column: 1 / 5;
        grid-row: 2;
        flex-direction: column;
        align-items: center;

        text-align: center;
      }

      @include on-desktop{
        grid-column: 7 / 10;
        grid-row: 2;
      }
    }

    &__section-4{
      display: none;

      @include hover(transform, scale(1.05));

      &:hover{
        cursor: pointer;
      }

      @include on-tablet{
        display: flex;
        grid-column: 5 / 9;
        grid-row: 2;
        flex-direction: column;
        align-items: center;

        text-align: center;
      }

      @include on-desktop{
        grid-column: 10 / 13;
        grid-row: 2;
      }
    }

    &__img {
      display: block;

      width: 50px;
      height: 40px;
      padding-top: 110px;
      padding-bottom: 40px;

      @include on-tablet{
        padding-top: 140px;
        padding-bottom: 50px;
      }

      @include on-desktop{
        width: 50px;
        height: 42px;
        padding-top: 60px;
        padding-bottom: 33.75px;
      }

      &__2{

        @include on-tablet{
          width: 46px;
          height: 40px;
          padding-top: 140px;
          padding-bottom: 50px;
        }

        @include on-desktop{
          width: 46px;
          height: 42px;
          padding-top: 60px;
          padding-bottom: 33.96px;
        }
      }

      &__3{

        @include on-tablet{
          width: 46px;
          height: 37px;
          padding-top: 140px;
          padding-bottom: 44px;
        }

        @include on-desktop{
          width: 46px;
          height: 38px;
          padding-top: 60px;
          padding-bottom: 37.94px;
        }
      }

      &__4{

        @include on-tablet{
          width: 44px;
          height: 44px;
          padding-top: 140px;
          padding-bottom: 37px;
        }

        @include on-desktop{
          width: 44px;
          height: 46px;
          padding-top: 60px;
          padding-bottom: 30.73px;
        }
      }
    }

    &__title {
      margin: 0;
      padding-bottom: 20px;

      font-size: 22px;
      font-weight: $bold-font-weight;
      line-height: 28px;
      text-transform: uppercase;

      &__1{

        @include on-desktop{
          padding-bottom: 52px;
        }
      }

      &__2{

        @include on-desktop{
          padding-bottom: 24px;
        }
      }

      &__3{
        padding-bottom: 21px;

        @include on-desktop{
          padding-bottom: 52px;
        }
      }

      &__4{
        padding-bottom: 21px;

        @include on-desktop{
          padding-bottom: 24px;
        }
      }
    }

    &__text {
      margin: 0;
      line-height: 21px;
      color: #7C7C7C;
    }
  }
}
