.future {
  margin-bottom: 110px;

  @include tablet {
    display: flex;
    flex-direction: row;
    margin-bottom: 140px;
    height: 415px;
    gap: 20px;
  }

  &__text {
    @include desktop {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: left;

    @include desktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &-right {
    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &__container-tab {
    @include tablet {
      width: 340px;
    }

    @include desktop {
      width: 582px;
    }
  }

  &__frame {
    background-image: url(../images/pic-future.png);
    width: 259px;
    height: 210px;
    margin-bottom: 20px;

    @include tablet {
      display: none;
    }

    &-tablet {
      display: none;

      @include tablet {
        display: block;
        width: 374px;
        height: 415px;
      }
      &-eye {
        @include desktop {
          width: 582px;
          height: 388px;
          background-image: url(../images/future__frame-tablet-eye.png);
        }
      }
      &-pen {
        @include desktop {
          width: 582px;
          height: 388px;
          background-image: url(../images/future__frame-tablet-pic.png);
        }
      }

      &-pic {
        width: 374px;
        height: 415px;
        
        @include desktop {
          display: none;
        }
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__about {
    margin-top: 20px;
    color: $green;
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;
    

    &::after {
    transition-duration: 0.5s;
     content: "";
     border-bottom: 1px $green solid;
     width: 53px;
     margin-top: 5px;
    }

    &:hover {
      filter: drop-shadow(0 0 0.3px #0db2b3);
      transform: scale(1.05) translateX(1%);
      &::after {
        content: "";
        border-bottom: 1px $green solid;
        width: 111px;
        margin-top: 5px;
       }
    }
  }
}

.future__frame-eye {
  background-image: url(../images/pic-eye.png);

  @include tablet {
    width: 374px;
    height: 415px;
  }

  @include desktop {
    display: none;
  }
}

.section-future {
  padding: 0 30px;

  @include tablet {
  padding: 0;
  }

  @include desktop {
    margin: 170px 123px 0;
  }
}
