@include onMobile {
  .futuristic-design {

    @include onTablet{
      @include pageGrid;
    }

    @include onDesktop{
      @include pageGrid;
      display: grid;

    }
    &__menu{
      display: none;

      @include onTablet{
        display: none;
      }

      @include onDesktop{
        grid-column: 1 / -1;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__section-1{
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding-left: 30px;
      padding-right: 30px;

      &:hover{
        cursor: pointer;
        @include hover(transform, scale(1.05));
      }

      @include onTablet{
        grid-column: 1 / 5;
        grid-row: 1;

        padding: 0;
      }

      @include onDesktop{
        grid-column: 1 / 4;
        grid-row: 2;
      }

    }

    &__section-2{
      display: none;

      &:hover{
        cursor: pointer;
        @include hover(transform, scale(1.05));
      }

      @include onTablet{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;

        grid-column: 5 / 9;
        grid-row: 1;
      }

      @include onDesktop{
        grid-column: 4 / 7;
        grid-row: 2;
      }
    }

    &__section-3{
      display: none;

      &:hover{
        cursor: pointer;
        @include hover(transform, scale(1.05));
      }

      @include onTablet{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;

        grid-column: 1 / 5;
        grid-row: 2;
      }

      @include onDesktop{
        grid-column: 7 / 10;
        grid-row: 2;
      }
    }

    &__section-4{
      display: none;

      &:hover{
        cursor: pointer;
        @include hover(transform, scale(1.05));
      }

      @include onTablet{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;

        grid-column: 5 / 9;
        grid-row: 2;
      }

      @include onDesktop{
        grid-column: 10 / 13;
        grid-row: 2;
      }
    }

    &__img {
      display: block;
      height: 40px;
      width: 50px;
      padding-bottom: 40px;
      padding-top: 110px;

      @include onTablet{
        padding-top: 140px;
        padding-bottom: 50px;
      }

      @include onDesktop{
        width: 50px;
        height: 42px;
        padding-bottom: 33.75px;
        padding-top: 60px;
      }

      &__2{

        @include onTablet{
          width: 46px;
          height: 40px;
          padding-top: 140px;
          padding-bottom: 50px;
        }

        @include onDesktop{
          width: 46px;
          height: 42px;
          padding-top: 60px;
          padding-bottom: 33.96px;
        }
      }

      &__3{

        @include onTablet{
          width: 46px;
          height: 37px;
          padding-top: 140px;
          padding-bottom: 44px;
        }

        @include onDesktop{
          width: 46px;
          height: 38px;
          padding-top: 60px;
          padding-bottom: 37.94px;
        }
      }

      &__4{

        @include onTablet{
          width: 44px;
          height: 44px;
          padding-top: 140px;
          padding-bottom: 37px;
        }

        @include onDesktop{
          width: 44px;
          height: 46px;
          padding-top: 60px;
          padding-bottom: 30.73px;
        }
      }
    }

    &__title {
      margin: 0;
      padding-bottom: 20px;

      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      text-transform: uppercase;

      &__1{

        @include onDesktop{
          padding-bottom: 52px;
        }
      }

      &__2{

        @include onDesktop{
          padding-bottom: 24px;
        }
      }

      &__3{
        padding-bottom: 21px;

        @include onDesktop{
          padding-bottom: 52px;
        }
      }

      &__4{
        padding-bottom: 21px;

        @include onDesktop{
          padding-bottom: 24px;
        }
      }
    }

    &__text {
      margin: 0;

      line-height: 21px;
      color: #7C7C7C;
    }
  }
}
