.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  background-color: $color-text-primary;
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 160px;
  height: 26px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, scale(1.2));
}

.lang {
  display: flex;
  gap: 3px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

input,
select,
textarea {
  font-family: inherit;
}
