.get-in-touch {
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;

    text-transform: uppercase;

    color: #333;

    @include onMobile {
      margin-bottom: 27px;
    }

    @include onTablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__field {
    margin-bottom: 20px;

    &--last {
      margin-bottom: 30px;
    }
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 102px;
    height: 40px;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    text-transform: uppercase;

    color: #fff;

    border: none;

    background-color: #0db2b3;

    @include onDesktop {
      width: 124px;
      height: 48px;
    }

    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0c797a;
    }
  }
}
