.get-in-touch {
  grid-column: 1 / -1;
  padding-inline: 30px;
  @include pageGrid;
  overflow: hidden;

  margin-bottom: 110px;

  @include onTablet {
    margin-bottom: 140px;
  }

  @include onDesktop {
    margin-bottom: 170px;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 30px;
    color: #333;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;

    @include onTablet {
      font-size: 36px;
      line-height: 46px;
      grid-column: 1 / 5;
    }

    @include onDesktop {
      grid-column: 1 / 7;
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__form {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include onTablet {
      grid-column: 5 / -1;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
  }

  &__input-email {
    height: 48px;
    padding: 12px 20px;
    border: 1px solid #828282;
    background-color: #f7f7f7;
    color: #333;
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    &::placeholder {
      color: #bdbdbd;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    &:focus::placeholder {
      color: #333;
    }

    &:focus {
      color: #333;
    }

    &:focus:invalid {
      border: 1px solid #eb5757;
      color: #eb57574d;
    }
  }

  &__input-message {
    height: 128px;
    background-color: #f7f7f7;
    padding: 12px 20px;
    border: 1px solid #828282;
    color: #333;
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: top;
    resize: none;

    &::placeholder {
      color: #bdbdbd;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: top;
    }

    &:focus::placeholder {
      color: #333;
    }

    &:focus {
      color: #333;
    }
  }

  &__button {
    height: 40px;
    width: 100px;
    background: #0db2b3;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      @include onDesktop {
        background-color: #0c797a;
      }
    }

    &:disabled {
      background-color: #cfeff0;
    }
  }
}
