.go-top {
  z-index: 0;
  &__link {
    width: 24px;
  }

  &__icon {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: $c-aqua;
    border-radius: 50%;
    padding: 10px;
    
    @include transition (transform);

    @include hover {
      transform: scale(1.3);
    }
  }
}
