.go-up {
  position: fixed;
  right: 38px;
  bottom: 50px;
  z-index: 1;

  &__img {
    display: inline-block;
    width: 24px;
    height: 30px;
    background: center / cover no-repeat url("../images/go-up.svg");
    transition: filter 0.3s;

    &:hover {
      filter: invert(27%) sepia(92%) saturate(1694%)
        hue-rotate(159deg) brightness(86%) contrast(91%);
    }
  }

  @include onMobile {
    position: relative;
    bottom: 200px;
    right: -90%;
  }
}
