.go-up {
  display: block;
  width: 24px;
  height: 30px;
  position: fixed;
  right: 38px;
  bottom: 50px;
  z-index: 1;
  background-image: url("../images/go-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter 0.3s;

  &:hover {
    filter: invert(27%) sepia(92%) saturate(1694%)
      hue-rotate(159deg) brightness(86%) contrast(91%);
  }

  @include onMobile {
    position: relative;
    bottom: 200px;
    right: -90%;
  }
}
