.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);

  &__item-1-4 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &__item-4-7 {
    grid-column-start: 4;
    grid-column-end: 7;
  }

  &__item-7-10 {
    grid-column-start: 7;
    grid-column-end: 10;
  }

  &__item-9-13 {
    grid-column-start: 10;
    grid-column-end: 13;
  }
}
