.grid {
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 70px);
    gap: 0 19px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 72px);
    gap: 0 30px;
  }
}
