.grid-presentation {
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    column-gap: 20px;
  }

  @include onMobile {
    display: block;
    margin-bottom: 50px;
  }
}
