.group-links {
  &__link {
    display: inline-block;
    width: 70px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    @include hover(text-shadow, (0 0 0.65px $color-black, 0 0 0.65px $color-black));
  }

  &__language {
    display: inline-block;
  }

  &__language-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #bdbdbd;
    cursor: pointer;
  }

  &__language-input {
    appearance: none;
    position: absolute;

    &:checked + .group-links__language-label {
      color: $color-black;
    }
  }
}
