.hamburger-menu {
  position: absolute;
  top: -20px;
  right: 30px;
}

nav.hamburger-menu aside {
  width: 100%;
  height: 300px;
}

nav.hamburger-menu {
  color: #333;
  background-color: #f7f7f7;
}

nav.hamburger-menu aside ul li.current {
  border-color: white;
}

nav.hamburger-menu aside ul li.current > span,
nav.hamburger-menu aside ul li.current > a,
nav.hamburger-menu aside ul li > span:hover,
nav.hamburger-menu aside ul li > a:hover {
  color: #333;  /* menu font highlight color */
  background-color: #d6ecec;  /* menu background highlight color */
}
