.header {
  padding-top: 25px;

  @include onDesktop {
    padding: unset;
  }

  &__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;

    width: 100%;

    @include onDesktop {
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include onDesktop {
      margin: unset;
    }
  }

  &__title {
    margin-top: 40px;
    margin-bottom: unset;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    z-index: 1;
    color: #333;

    @include onDesktop {
      margin-top: 136px;
      font-weight: 700;
      font-size: 62px;
      line-height: 78px;
    }

    @include onTablet {
      font-weight: 700;
      font-size: 48px;
      line-height: 62px;
    }
  }

  &__main-text {
    margin-top: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
    color: #333;

    @include onDesktop {
      margin-top: 30px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;

    @include onDesktop {
      margin: 42px 0;
      height: 26px;
      padding: 0;
    }
  }

  &__logo-image {
    width: 161px;
    height: 26px;
  }

  &__menu-buttons {
    display: none;

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      max-width: 250px;
      width: 100%;
    }

    &-item {
      cursor: pointer;
      background-color: transparent;

      width: 102px;
      height: 48px;

      font-family: "Helvetica", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #4f4f4f;

      border: 0;

      &:hover {
        color: #7c7c7c;
      }

      &-en {
        font-weight: 400;
        line-height: 18px;

        color: #333;

        &:hover {
          color: #7c7c7c;
        }
      }

      &-ua {
        font-weight: 300;
        color: #828282;

        &:hover {
          color: #131313;
        }
      }

      &-buy {
        background: #333;
        text-transform: uppercase;
        color: #fff;

        &:hover {
          background: #131313;
        }
      }
    }
  }

  &__menu-opener {
    display: flex;

    width: 24px;
    height: 14px;
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:hover {
      cursor: pointer;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__image-wrap {
    position: relative;
    display: flex;

    min-width: 320px;
    min-height: 245px;

    @include onTablet {
      max-width: 429.39px;
      max-height: 317px;
    }

    @include onDesktop {
      max-width: 816px;
      max-height: 464px;
    }

  }

  &__image {
    background-color: #e5e5e5;
    background-blend-mode: darken;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 245px;

    @include onTablet {
      right: 0;
      top: 0;
    }

    @include onDesktop {
      min-height: 370px;
    }

    @include onBoth {
      right: 0;
      top: 0;
      max-width: 600px;
      max-height: 464px;
      margin-top: 57px;
    }

    transition: 0.5s ease;

    &:hover {
      transition: 1s ease;
      transform: scale(1.05);
    }
  }

  &__links {
    display: none;
    color: #131313;
    text-decoration: none;
    margin-top: 200px;

    &:hover {
      color: #0db2b3;
    }

    @include onDesktop {
      display: flex;
    }

    &-item {
      margin: 0 42px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &:first-child {
      font-weight: 700;
    }
  }
}
