.header-menu {
  background-color: white;
  overflow: hidden;
  &__content {
    height: 100vh;
    box-sizing: border-box;
  }
  &__list {
    list-style: none;
    margin-top: 48px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    padding-bottom: 5px;
    @extend %h5;
    color: $primery;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s;

    &:hover {
      border-color: $primery;
    }
  }

  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

}
