.header-main {

  &__wrapper {
    padding: 0 30px;
    margin-bottom: 100px;
  }

  &__box-img {
    max-width: 640px;
    overflow: hidden;
  }

  &__img {
    width: 160%;
  }

  &__title {
    margin-bottom: 23px;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-family: "DIN Pro Black", sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  &__paragraph {
    width: 260px;
    line-height: $l-h-24;
    text-align: center;
    margin: 0 auto;
  }

  @include onTablet {

    & {
      display: flex;
      flex-direction: row-reverse;
      margin: 100px 0 131px 34px;

      &__box-img {
        max-width: none;
      }

      &__img {
        width: 739px;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
      }

      &__title {
        margin-bottom: 34px;
        text-align: left;
        font-size: 48px;
        line-height: 62px;
      }

      &__paragraph {
        width: 240px;
        margin: 0;
        text-align: left;
      }
    }
  }

  @include onDesktop {
    & {

      width: calc(100% - (#{$header-mr-desk * 2}));
      max-width: 1440px;
      margin: 89px auto 121px;
      justify-content: space-between;

      &__img {
        width: 939px;
      }

      &__title {
        margin-bottom: 27px;
        font-size: 64px;
        line-height: 130%;
      }

      &__paragraph {
        width: 276px;
      }
    }
  }
}
