.header-sidebar {
  display: none;

  @include onTablet {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__specs {
      font-weight: 300;
      font-size: $f-s-14;
      line-height: 17px;
      color: #4f4f4f;

      transition: all 0.3s;

      &:hover {
        transform: translateX(-5%);
        color: #000;
      }
    }

    &__wrapper {
      margin: 0 27px;
      display: flex;
      justify-content: center;
    }

    &__lang {
      font-size: 14px;
      line-height: 18px;
      color: #bdbdbd;
      cursor: pointer;

      transition: color 0.3s;

      &:hover {
        color: $f-c-main;
      }

      &--slash {
        margin: 0 3px;
        color: #333;
        cursor: unset;
      }
    }

    &__buy {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 102px;
      height: 48px;
      border: 1px solid transparent;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      text-align: center;
      background-color: $f-c-main;
      color: #fff;
      text-decoration: none;

      transition: all 0.3s;

      &:hover {
        background-color: $bgc-secondary;
        border-color: $f-c-main;
        color: $f-c-main;
      }
    }
  }

  @include onDesktop {
    &__wrapper {
      margin: 0 37px;
    }
  }
}
