.header-main {

  &__wrapper {
    padding: 0 30px;
    margin-bottom: 100px;
  }

  &__box-img {
    margin-bottom: 40px;
    overflow: hidden;
  }

  &__img {
    width: 160%;
  }

  &__title {
    margin-bottom: 23px;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-family: "DIN Pro Black", sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  &__paragraph {
    width: 260px;
    line-height: $l-h-24;
    text-align: center;
    margin: 0 auto;
  }
}
