.header {
  &__content {
    grid-column: span 4;
    padding-inline: 30px;

    @include onTablet {
      grid-column: span 8;
      padding-inline: 34px;
    }

    @include onDeskTop {
      grid-column: span 12;
      padding: 0;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: none;

    @include onTablet {
      display: flex;
      align-items: center;
    }
  }
}
