.header-main {

  &__wrapper {
    padding: 0 30px;
    margin-bottom: 100px;
  }

  &__box-img {
    overflow: hidden;
  }

  &__img {
    width: 160%;
  }

  &__title {
    margin-bottom: 23px;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-family: "DIN Pro Black", sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  &__paragraph {
    width: 260px;
    line-height: $l-h-24;
    text-align: center;
    margin: 0 auto;
  }

  @include onTablet {

    & {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 100px;
      margin-left: 34px;
      margin-bottom: 128px;

      &__img {
        width: 740px;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
      }

      &__title {
        margin-bottom: 34px;
        text-align: left;
        font-size: 48px;
        line-height: 62px;
      }

      &__paragraph {
        width: 240px;
        margin: 0;
        text-align: left;
      }
    }
  }
}
