.header-links {
  display: none;
  font-size: 14px;
  text-transform: uppercase;

  @include onTablet {
    @include flex-between-center();

    font-weight: 300;
    text-align: center;
  }
}

.specs {
  &__link {
    color: #4f4f4f;
  }
}

.language {
  &__link {
    color: #bdbdbd;

    &:hover {
      color: $main-color;
    }

    &--active {
      color: $main-color;
    }
  }
}
