.language-selected {
  color: inherit;
  font-weight: 400;
}

.no-scrolling {
  overflow: hidden;
}

.link-visited {
  color: #131313;
  font-weight: 700;
}

.buy {
  height: 48px;
  background-color: $main-text-color;
  border-color: transparent;

  color: #fff;

  cursor: pointer;
  transition: all .3s;

  @include on-desktop {
    &:hover {
      background-color: #131313;
    }
  }
}

.see-more-link {
  position: relative;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: $turquoise;

  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;

      width: 53px;
      height: 1px;
      background-color: $turquoise;

      transition: all .3s;
    }

  @include on-desktop {
    &:hover {
      &::after {
        width: 128px; // couldn't use the fit-content property
      }
    }
  }
}

.displayed-card-index {
  font-size: 16px;
  line-height: 24px;
  color: $main-text-color;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.light {
  opacity: .2;
}
