.hero {
  width: 100%;

  grid-column: span 2;

  &__block-photo {
    display: grid;
    grid-column: 1 / -1;

    width: 120%;
    height: 245px;

    background-image: url('/images/hero-photo.png');
    background-size: cover;
  }

  &__block-info {
    grid-column: span 4;
  }
}
