.icon {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  &--menu {
    background-image: url(../images/icons/Icon-Burger-Menu.svg);

    @include onDesktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/Icon-Close.svg);

    @include onTablet {
      width: 32px;
      height: 32px;
      background-size: cover;
    }
  }
}
