.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: $height-button;
  height: $height-button;
  
  @extend %background-images;

  &--menu {
    border: 1px solid transparent;

    @include onTablet() {
      display: none;
    }

    @include hover(border-color, $granit);
  }

  &--scroll-up {
    border: 1px solid transparent;
    @include hover(border-color, $granit);

    background-image: url("../images/scroll_up.svg");
    background-size: calc(#{$height-button} / 2);
  }
}
