.icons {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  gap: 30px;

  &--display-none {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 30px;
      font-family: $main-font;
    }
  }

  &--aside-display-none {
    display: flex;
    gap: 30px;
    font-family: $main-font;
    margin-bottom: 160px;

    @include on-tablet {
      display: none;
    }
  }

  &--specs {
    text-decoration: none;
    color: rgba(79, 79, 79, 1);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 100%;
  }

  &--buy {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    width: 100px;
    height: 48px;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: $main-text-color;

    &:hover {
      background-color: rgba(19, 19, 19, 1);
    }
  }

  &--burger-menu {
    background-image: url(../images/icons/icon-burger-menu.svg);
    width: 24px;
    height: 20px;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
    width: 24px;
    height: 24px;
  }
}

.icon {
  &__language {
    display: flex;
    align-items: center;
  }

  &--en {
    text-decoration: none;
    color: $main-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--line {
    cursor: default;
    color: $main-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  &--ua {
    text-decoration: none;
    color: rgba(130, 130, 130, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
