.icon-menu {
  display: block;
  width: 24px;
  height: 14px;
  background-image: url(../images/Vector2.svg);

  @include tablet {
    display: none;
  }

  @include onDesktop {
    display: none;
  }
}
