.icon {
  display: block;
  width: 24px;
  height: 24px;
  outline: none;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all $effect-duration;

  &--menu {
    background-image: url(../images/icons/menu-default.png);

    &:hover {
      background-image: url(../images/icons/menu-hover.png);
    }
  }

  &--cross {
    background-image: url(../images/icons/cross-default.png);

    &:hover {
      background-image: url(../images/icons/cross-hover.png);
    }
  }
}
