.icon {
  display: block;

  width: 32px;
  height: 32px;

  background-size: cover;
  background-position: center;

  &--close {
    width: 24px;
    height: 24px;
  }

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(../images/Icons/icon-burger-menu.svg);

    @include onDesktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/Icons/icon-close.svg);
  }
}
