.image {
  margin: 103px 0 0;

  @include mobile {
    margin: 22px 0 0;
  }

  &__photo {
    width: 939px;
    height: 464px;

    @include mobile {
      width: 100vw;
      height: 245px;
      object-fit: cover;
      object-position: left;
    }
  }
}