.image-wrapper {
  overflow: hidden;
}

.image {
  margin-bottom: 40px;
  width: 100%;

  position: relative;

  @include tablet {
    margin-bottom: 0;
    width: 739px;
  }

  @include onDesktop {
    margin-bottom: 0;
    width: 939px;
  }
}
