.info {
  margin-top: 10px;

  @include onTablet {
    margin-top: 60px;
  }

  @include onDesktop {
    margin-top: 100px;
  }
  &__headline {
    font-size: 40px;
    line-height: 52px;
    @include onTablet {
      font-size: 48px;
      line-height: 62px;
    }

    @extend %h1;
    color: $primery;
  }

  &__description {
    @include onTablet {
      font-size: 16px;
      line-height: 24px;
    }

    @extend %main-text;
    color: $primery;
  }

  &__photo {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-height: 464px;
    min-width: 320px;
    min-height: 245px;
    @include onDesktop {
      height: 464px;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-row: 1/1;
  }

}
