.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;

  text-align: center;

  outline: solid 1px transparent;

  cursor: pointer;

  transition: transform 0.3s,
    outline-width 0.3s,
    background-color 0.3s,
    border-radius 0.3s;

  &__title {
    min-height: 56px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #333;

    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
  }

  &:hover {
    transform: scale(1.1) translateY(-15%);

    background-color: #d6ecec;
    outline-color: #096163;
    border-radius: 20px;

    .info-item__title {
      color: #0c797a;
    }

    .info-item__paragraph {
      color: #333;
    }
  }

  &__image {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 34px;
    }

  }

  &--tablet-display {
    display: none;

    @include onTablet {
      display: flex;
    }
  }
}
