.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  text-align: center;

  &__image {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 34px;
    }
  }

  &__title {
    min-height: 56px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #333;

    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
  }

  &--tablet-display {
    display: none;

    @include onTablet {
      display: flex;
    }
  }
}
