.ingredients {
  padding: 100px 0;

  @include onTablet {
    padding: 100px 0 130px;
  }

  @include onTablet {
    padding: 100px 0 200px;
  }

  &__container {
    position: relative;
  }

  &__title {
    @include blockTitle;

    @include onTablet {
      position: relative;
    }
  }

  &__space {
    height: 450px;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 300px;
    }
  }

  &__link {
    @include learnMoreLink;
  }

  &__dist {
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: right;
    margin-top: 35px;
    position: absolute;
    right: 150px;
    top: 7%;

    @include onTablet {
      right: 323px;
      top: 0;
    }

    @include onDesktop {
      right: 400px;
      top: 3%;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-end;

      &_title {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $blackTextColor;
      }

      &_row {
        height: 1px;
        width: 32px;
        background-color: $blackTextColor;
        position: relative;

        @include onTablet {
          width: 76px;
        }

        @include onDesktop {
          width: 76px;
        }

        &::after {
          content: "";
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $blackTextColor;
          position: absolute;
          right: 0;
          bottom: -2px;
        }
      }
    }
  }

  &__img {
    top: 7%;

    @include onTablet {
      top: 0;
    }

    @include onDesktop {
      top: 3%;
    }

    &--desktop {
      display: none;
      position: absolute;

      @include onDesktop {
        display: block;
        right: 0;
      }
    }

    &--tablet {
      display: none;
      position: absolute;

      @include onTablet {
        display: block;
        right: 0;
      }
    }

    &--mobile {
      display: block;
      position: absolute;
      right: 0;

      @include onTablet {
        display: none;
      }

      @include onDesktop {
        display: none;
      }
    }
  }

  .goods-about {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      padding-top: 200px;
      flex-direction: row;
    }

    @include onDesktop {
      padding-top: 200px;
      flex-direction: row;
    }

    &__item {
      transition: all 0.3s;

      &:hover {
        scale: 110%;
      }
    }

    &__img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 40px;
      }

      @include onDesktop {
        margin-bottom: 40px;
      }
    }

    &__desk {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000;

      display: block;
      max-width: 380px;
      margin: 0 auto;
      margin-bottom: 50px;

      @include onTablet {
        margin-bottom: 0;
      }

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__decor {
    top: 105px;
    position: relative;
  }
}
