.input {
  box-sizing: border-box;

  display: block;
  padding: 14px 30px;
  width: 100%;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: $darkGray;

  outline: none;
  border: 1px solid $gray2;
  background-color: transparent;

  transition-property: color, border-color;
  transition-duration: $animation-duration;

  &::placeholder {
    color: $gray4;
    font-size: 16px;
    line-height: 19px;
  }

  &:focus {
    border-color: $darkGreen;
  }

  &:invalid {
    color: $red;

    border-color: $red;

    &::placeholder {
      color: $red;

      opacity: 0.3;
    }
  }

  &--textarea {
    height: 128px;

    resize: none;
    overflow: hidden;
  }
}
