.input-text {
  padding: 15px 0 15px 17px;
  width: 100%;
  min-height: 48px;
  height: 100%;
  border: 1px solid #828282;

  background: $backgroundColor;

  font-family: inherit;
  font-size: 16px;
  line-height: 19px;

  resize: none;

  &::placeholder {
    color: #8f99ab;

    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    border-color: #4f4f4f;
    outline: none;
  }

  &:focus {
    border-color: $blueColor;
    outline: none;
  }
}
