
.input {
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  background-color: transparent ;
  width: 100%;
  padding: 12px 20px;
  border-radius: 0;
  border: 1px solid #828282;
  outline: none;

  &:focus {
    border: 1px solid $green-color;
  }
}
