.interaction-box {
  &__languages {
    padding-right: 48px;

    &--mobile {
      padding-right: 0;
      padding-bottom: 32px;
    }
  }

  &__btn {
    width: 102px;
    background-color: $c-txt-dark;

    @include hover(background-color, $c-btn-hover);
  }
}
