.introduction {
  padding-right: 102px;

  @include mobile {
    padding-right: 0;
  }

  @include tablet {
    padding-right: 0;
  }

  &__title {
    margin: 180px 0 0;
    font-family: DinPro;
    font-size: 64px;
    line-height: 130%;

    @include mobile {
      margin: 40px 0 0;
      font-size: 44px;
      text-align: center;
    }

    @include tablet {
      margin: 138px 0 0;
      font-size: 48px;
    }
  }

  &__subtitle {
    margin: 27px 0 0;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 24px;

    @include mobile {
      margin: 23px 0 0;
      text-align: center;
    }

    @include tablet {
      margin: 34px 0 0;
    }
  }

  &__image {
    margin: 103px 0 0;

    @include mobile {
      margin: 22px auto 0;
    }

    &--photo {
      width: 939px;
      height: 464px;
      object-fit: cover;
      object-position: left;

      @include mobile {
        width: 320px;
        height: 245px;
      }

      @include tablet {
        width: 739px;
        height: 365px;
      }
    }
  }
}