.intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__wrap {
    flex-basis: 40%;
    @media (max-width: $breakpoint-md) {
      flex-basis: 100%;
    }
  }

  &__title {
    position: relative;
    right: 75px;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__title--top {
    display: none;

    right: 0;
    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }

  &__text {
    font-size: $FontSizeXl;
    color: $textColorLite;
    line-height: 24px;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-md) {
      font-size: $mainFontSize;
    }
  }

  &__link {
    color: $turquoise;
    font-size: $fontSizeSm;
    text-transform: uppercase;

    &:after {
      content: "";
      display: block;
      margin-top: 5px;
      width: 55px;
      height: 1px;
      background: $turquoise;
    }
  }

  &__img-wrap {
    flex-basis: 57%;
    margin-right: 20px;
    @media (max-width: $breakpoint-md) {
      flex-basis: 100%;
      margin: 20px 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
