.introduction {
  padding-right: 102px;

  @include mobile {
    padding-right: 0;
  }

  &__title {
    margin: 180px 0 0;
    font-family: DinPro;
    font-size: 64px;
    line-height: 130%;

    @include mobile {
      margin: 40px 0 0;
      font-size: 44px;
      text-align: center;
    }
  }

  &__subtitle {
    margin: 27px 0 0;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 24px;

    @include mobile {
      padding: 0 10px;
      margin: 23px 0 0;
      text-align: center;
    }
  }
}