.intro {
  &__speaker {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__speaker-img {
    width: 100%;
    min-height: 245px;
    object-fit: cover;
    object-position: left;

    @media (min-width: 380px) and (max-width: 768px) {
      width: 330px;
    }
  
    @include onTablet {
      width: 100%;
      min-height: 365px;
    }

    @include onDesktop {
      min-height: 464px;
    }
  }

  &__h1 {
    padding: 0 30px;
    margin: 90px 0 0;
    font-family: $DinPro;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 130%;
    text-align: center;

    @include onTablet {
      text-align: left;
      font-size: 48px;
    }

    @include onDesktop {
      text-align: left;
      font-size: 64px;
    }
  }

  &__text {
    padding: 0 30px;
    margin: 23px 0 0;
    padding-right: 30px;
    line-height: 150%;
    text-align: center;

    @include onTablet {
      margin: 30px 0 0;
      text-align: left;
    }

    @include onDesktop {
      margin: 27px 0 0;
    }
  }
}