.introdused {
  position: relative;
  display: grid;
  overflow: hidden;
  width: 100%;

  @include onTablet {
    grid-template-columns: minmax(215px,360px) minmax(460px,600px);
    align-items: center;
  }

  &__discription {
    text-align: center;
    
    @include onTablet {
      z-index: 1;
      text-align: left;
    }
  }

  &__title {
    padding-bottom: 25px;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 130%;
    font-weight: bold;

    @include onTablet {
      padding-bottom: 20px;
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }

  &__imgage {
    z-index: -1;
    width: 100%;
    @include onTablet {
      order: 1;
    }
  }

  &__img {
    width: 130%;

    @include onTablet {
      width: 100%;
    }
  }
}
