.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onTablet {
    width: 340px;
  }

  @include onDesctop {
    width: 276px;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 700;

    margin-top: 40px;

    @include onTablet {
      margin-top: 50px;
    }

    @include onDesctop {
      margin-top: 30px;
    }
  }

  &__title-third {
    @include onTablet {
      margin-top: 44px;
    }
  }

  &__title-forth {
    @include onTablet {
      margin-top: 37px;
    }
  }

  &__title-third,
  &__title-forth {
    @include onDesctop {
      margin-top: 30px;
    }
  }

  &__text {
    @extend %text-small;
    flex: 1 1 auto;

    margin-top: 20px;

    @include onDesctop {
      margin-top: 52px;
    }
  }

  &__text-even {
    @include onDesctop {
      margin-top: 24px;
    }
  }
}
