.lang-swicher {
  &__input {
    display: none;
  }

  &__input:checked ~ &__text {
    color: $menuOpener;
    font-weight: 500;
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    font-weight: 400;
    color: $langSwitcherColor;
    font-size: 14px;
    line-height: 150%;

    &::after {
      content: "/";
      margin: 0 3px 3px;
      font-weight: 500;
      color: $menuOpener;
    }

    &:last-child::after {
      content: "";
    }

    &:hover {
      font-weight: 600;
    }

    &--mob {
      cursor: pointer;
      font-weight: 400;
      color: $langSwitcherColor;
      font-size: 16px;
      line-height: 150%;

      &::after {
        content: "/";
        margin: 0 3px 3px;
        font-weight: 500;
        color: $menuOpener;
      }

      &:last-child::after {
        content: "";
      }
    }
  }
}
