.language-switcher {
  text-transform: uppercase;

  font-family: "Helvetica Neue", sans-serif;

  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  &--font-and-color {
    font-weight: 300;
    color: #828282;
  }
}
