.langs {
  display: flex;
  gap: 3px;

  &__input {
    display: none;
  }

  &__divider {
    color: $c-primary-dark;
    cursor: default;
  }

  &__btn {
    cursor: pointer;
    color: $c-primary-grey;

    @include hover(color, $c-primary-accent);

    &--active .text {
      color: $c-primary-dark;
      cursor: default;
      pointer-events: none;
    }
  }
}
