.languages-toggler {
  display: flex;
  gap: 0 3px;

  @include onTablet() {
    margin-right: 47px;
  }

  &__link {
    color: $lightgrey;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    @include hover(border-color, inherit);

    &--active {
      color: $granit;
      cursor: default;
      border-bottom: none;
    }
  }
}
