.language-toggle {
  display: flex;
  gap: 3px;
  align-items: center;

  &__option {
    font-family: 'Helvetica Neue Regular', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $grey-33;
    text-transform: uppercase;
  }
}

.inactive {
  font-family: 'Helvetica Neue Light', sans-serif;
  color: $grey-82;
}
