.languages {
  display: flex;
  gap: 3px;

  &__language {
    display: block;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #e0e0e0;

    @include hover(color, $c-black-default);

    &--selected {
      font-weight: 400;
      color: $c-black-default;
    }
  }

  &__language-slash {
    display: block;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: $c-black-default;
  }
}
