.languages {
  font-size: 14px;
  line-height: 17px;
  display: block;

  &__en {
    color: $granit;
  }

  &__ua {
    color: $grey;
  }

  &__link {
    transition: all $animationTime;
    padding: 0 2px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;

    &:hover {
      color: $lightGrey;
      background-color: $green;
    }
  }
}
