.language-switcher {
  &__input {
    display: none;

    &:checked + label {
      color: $main-color;
    }
  }

  &__label {
    @extend %thirdaryText;

    color: #bdbdbd;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__slash {
    @extend %thirdaryText;

    color: $main-color;
    user-select: none;
  }
}
