.language {
  display: flex;

  &__english {
    font-size: $main-size;
    line-height: 18px;
  }

  &__slash {
    margin: 0 3px;
    font-size: $main-size;
    line-height: 18px;
  }

  &__ukrainian {
    font-weight: 300;
    font-size: $main-size;
    line-height: 18px;
    color: #828282;
  }
}
