.language-switcher {
  &__label {
    font-size: 14px;
    line-height: 20px;
    color: $c-text-light;
    cursor: pointer;

    &--menu-mobile {
      font-size: 16px;
    }
  }

  &__input {
    appearance: none;
    position: absolute;

    &:checked + .language-switcher__label {
      color: $c-main;
    }
  }
}
