.language-selector {
  @extend %flex-jc-center;
  align-items: center;
  height: 48px;
  list-style: none;

  @include onTablet {
    background-color: transparent;
  }

  &__toggler {
    font-size: 14px;
    line-height: 18px;
    color: $c-light-grey;
    text-decoration: none;

    &--active {
      color: $c-granit;
    }
  }

  &__item-slash {
    padding: 0 3px;
  }
}
