.languages {
  font-size: 14px;
  color: $main-color;

  &__lang {
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    color: #bdbdbd;
    text-transform: uppercase;

    &--active {
      font-weight: normal;
      color: $main-color;
    }
  
  }
}