.language {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  
  &__en {
    text-decoration: none;
    color: $main_color;
  }

  &__ua {
    text-decoration: none;
    color: $light_gray;
  }
}
