.lang-switch {
  display: flex;
  gap: 2.97px;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &__item {
    color: #828282;
    font-weight: 300;

    &--active {
      color: $c-main-accent;
      font-weight: 400;
    }
  }
}
