.links {
  &__list {
    padding-top: 50px;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__link {
    display: inline-block;

    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: white;


    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
