.link {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: $color-deep-gray;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $smooth-transition;
  cursor: pointer;

  &__radio {
    display: none;

    &:checked + label {
      color: $color-dark-gray;
    }
  }

  &--lang {
    color: $color-light-gray;
  }

  &--active {
    color: $color-dark-gray;
  }

  &:hover {
    color: $color-green;
  }
}
