.links {
  &__list {
    padding-top: 50px;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__link {
    border-bottom: 1px solid transparent;
    color: white;
    display: inline-block;
    font-family: roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 22px;
    padding-bottom: 8px;

    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
