.link-button {
  text-decoration: none;
  text-transform: uppercase;
  color: color(color-turquoise);

  &__text-container {
    width: max-content;

    &::after {
      content: "";
  
      display: block;

      transition: width $animation-duration ease;

      width: 40%;
      height: 1px;
  
      background-color: color(color-turquoise);
    }

    &:hover::after {
      width: 100%;
    }
  }
}
