
.list {
  display: none;
  grid-template-rows: 40px 1fr;
  row-gap: 30px;

  @include onDesktop {
    display: grid;
  }

  &--first {
    grid-column: 1;
    grid-row: 1;
  }

  &--second {
    grid-column: 1;
    grid-row: 2;
  }

  &--third {
    grid-row: 1;
    grid-column: 2;
  }

  &__title {
    grid-row: 1;
    margin-left: -20px;
  }

  &__content {
    display: grid;
    grid-template-rows: repeat(6, 20px);
    row-gap: 10px;
    grid-row: 2;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: 14px;
  }
}
