.logo {
  &--footer {
    @include onMobile {
      display: none;
    }
  }

  &__image {
    display: block;
    width: 161px;

    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
