.logo {
  display: inline-block;
  margin: 0;

  &__img {
    width: 161px;
    height: 27px;
    transition: all 500ms;

    &:hover {
      fill: $c-greenMain;
      transform: translate(0, 0) scale(1.1, 1.1);
    }
  }

  &__bottom {
    margin: 0 auto;

    &-container {
      display: flex;
      justify-content: center;

      margin-bottom: 65px;
    }

    @include onPhone {
      display: none;
      margin-bottom: 0;
    }
  }
}
