.logo {
  display: block;
  width: 161px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/logo.svg");

  @include hover(transform, scale(1.1));

}
