.luna {

  &__image {
    height: 195px;

    background-image: url(../images/product/mobile/3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      height: 430px;

      background-image: url(../images/product/tablet/3.jpg);
    }

    @include onDesktop {
      height: 520px;

      background-image: url(../images/product/desktop/2.jpg);
    }
  }
}
