.luna {
  overflow: hidden;

  &__img {
    margin: 0 auto;
    display: block;
    max-width: 846px;
    width: 100%;
    height: auto;
    z-index: 2;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      transform: translateX(30px);
      &:hover {
        transform: translateX(30px);
      }
    }

    @include on-mobile {
      &:hover {
        transform: translateX(30px);
      }

      width: 100%;
    }
  }
}
