.luna {
  margin: 110px 0;
  @include onTablet {
    margin: 161px 0;
  }
  @include onDesktop {
    margin: 191px 0;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 100%;
    background-color: #f7f7f7;
  }
}
