.m-block {
  display: none;

  @include atResolution ($r-mobile) {
    display: block;
    text-align: center;
  }

  &__buttons {
    margin-bottom: 15px;

    &--right {
      position: relative;
      right: 10px;
    }

    &--left {
      position: relative;
      left: 10px;
    }
  }

  &__page {
    font-family: "Din Pro", sans-serif;
    font-size: 11px;
    color: $c-ultra-light-gray;

    &:focus {
      cursor: pointer;
      font-weight: 700;
      transform: scale(1.45);
      color: $c-dark-gray;
    }
  }
}
