.m-block {
  display: none;

  @include atResolution ($r-mobile) {
    display: block;
    text-align: center;
  }

  &__buttons {
    margin-bottom: 15px;
  }

  &__button {
    height: 24px;
    width: 50px;
    background-repeat: no-repeat;
    position: relative;
    left: 10px;
    cursor: pointer;

    &--right {
      background-image: url("/images/arrow_black.png");
    }

    &--right-2 {
      display: none;
      background-image: url("/images/arrow_right_grey.png");
    }

    &--left {
      background-image: url("/images/arrow_grey.png");
    }

    &--left-2 {
      display: none;
      background-image: url("/images/arrow_left_black.png");
    }
  }

  &__page {
    font-family: "Din Pro", sans-serif;
    font-size: 11px;
    color: $c-ultra-light-gray;
    cursor: pointer;

    &--focus {
      font-weight: 700;
      transform: scale(1.45);
      color: $c-dark-gray;
    }
  }
}
