.main {
  &__nav {
    display: none;

    @include onDesktop-1200 {
      display: flex;
      justify-content: center;
      margin-bottom: 90px;
    }
  }

  &__section {
    margin-bottom: $section-margin-bottom-mobile;

    @include onTablet {
      margin-bottom: $section-margin-bottom-tablet;
    }

    @include onDesktop-1200 {
      margin-bottom: $section-margin-bottom-desktop-1200;
    }
  }
}
