.main-content {
  &__benefits {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onNotebook {
      margin-bottom: 170px;
    }
  }

  &__presentation {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onNotebook {
      margin-bottom: 170px;
    }
  }
}
