.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.main__presentation {
  margin-bottom: 150px;
}

.main__about-us {
  margin-bottom: 150px;
}

.main__technology {
  margin-bottom: 60px;
}

.main__testimonials {
  margin-bottom: 150px;
}

.main__features {
  margin-bottom: 100px;
}

.main__question {
  margin-bottom: 115px;
}
