.main {
  &__benefits {
    margin-bottom: 110px;
    padding: 0 30px;

    @include tablet {
      margin-bottom: 140px;
      padding: 0 34px;
    }

    @include desktop {
      margin-bottom: 170px;
      padding: 0;
    }
  }

  &__prototype {
    margin-bottom: 110px;
    padding: 0 12px;

    @include tablet {
      margin-bottom: 140px;
      padding: 0 34px;
    }

    @include desktop {
      margin-bottom: 110px;
      padding: 0;
    }
  }

  &__about {
    margin-bottom: 110px;
    padding: 0 30px;

    @include tablet {
      margin-bottom: 140px;
      padding: 0;
    }

    @include desktop {
      margin-bottom: 170px;
    }
  }

  &__quotation {
    padding: 0 30px;
    margin-bottom: 110px;

    @include tablet {
      padding: 0 34px;
      margin-bottom: 140px;
    }

    @include desktop {
      padding: 0;
      margin: 0 auto 110px;
    }
  }

  &__features {
    margin-bottom: 90px;

    @include tablet {
      margin-bottom: 140px;
      padding: 0 34px;
    }

    @include desktop {
      margin-bottom: 110px;
      padding: 0;
    }
  }

  &__questions {
    padding: 0 30px;
    margin-bottom: 110px;

    @include tablet {
      padding: 034px;
      margin-bottom: 90px;
    }

    @include desktop {
      padding: 0;
      margin-bottom: 120px;
    }
  }
}
