.main-content {
  position: relative;

  overflow: hidden;

  &__container-for-max-width {
    @extend %max-width-wrapper;
  }

  &__content-wrapper {
    @extend %content-wrapper;
  }

  &__section {
    margin-bottom: $section-gap-mobile;

    @include onTablet() {
      margin-bottom: $section-gap-tablet;
    }

    @include onDesktop() {
      margin-bottom: $section-gap-desktop;
    }

    &--our-story {
      text-align: center;
    }

    &--video,
    &--design {
      position: relative;
    }

    &--features {
      position: relative;

      padding: 45px 0;

      background-color: $lightgrey3;
    }
  }

  &__photo {
    display: block;

    margin: 0 auto;

    z-index: -1;

    object-fit: cover;
    object-position: left;

    &--first-screen {
      position: relative;
      left: #{-$margin-content-side-mobile};

      width: 320px;
      height: 245px;

      margin-bottom: 40px;

      @include onTablet() {
        position: absolute;
        left: 270px;
        right: -270px;
        top: -25px;

        width: 739px;
        height: 365px;
      }

      @include onDesktop() {
        left: 250px;
        right: -250px;
        top: -80px;

        width: 939px;
        height: 464px;
      }
    }

    &--design {
      width: 259px;
      height: 210px;

      margin-bottom: 20px;

      object-position: -30px;

      @include onTablet() {
        position: absolute;
        left: 0;
        top: 0;

        width: 374px;
        height: 415px;

        margin-bottom: $section-gap-tablet;

        object-position: -100px;
      }

      @include onDesktop() {
        right: 30%;

        width: 582px;
        height: 388px;

        object-position: center;
      }
    }

    &--technology {
      position: relative;
      left: -30px;
      width: 625px;
      margin-bottom: 110px;

      @include onTablet() {
        position: static;
        width: auto;
        margin-bottom: 148px;
      }

      @include onDesktop() {
        margin-bottom: 180px;
      }
    }

    &--features {
      position: relative;
      z-index: inherit;
      left: #{-$margin-content-side-mobile};

      width: 320px;
      height: 222px;

      // @include onTablet() {
      //   position: absolute;
      //   z-index: 0;
      //   right: 0;
      //   bottom: 130px;

      //   width: 644px;
      //   height: 620px;

      //   background-color: $background;
      // }

    }
  }

  &__title {
    @extend %h1;

    margin-bottom: 30px;

    &--our-story {
      @extend %h4;
      margin-bottom: 20px;

      &:nth-of-type(n + 2) {
        display: none;

        @include onTablet() {
          display: block;
        }
      }

      &:nth-of-type(1) {
        &::before {
          content: "";

          @extend %background-images;
          margin: 0 auto 40px;
          background-image: url(../images/features_1.svg);
        }
      }

      &:nth-of-type(2) {
        &::before {
          content: "";

          @extend %background-images;
          margin: 0 auto 40px;
          background-image: url(../images/features_2.svg);
        }
      }

      &:nth-of-type(3) {
        &::before {
          content: "";

          @extend %background-images;
          margin: 0 auto 40px;
          background-image: url(../images/features_3.svg);
        }
      }

      &:nth-of-type(4) {
        &::before {
          content: "";

          @extend %background-images;
          margin: 0 auto 40px;
          background-image: url(../images/features_4.svg);
        }
      }
    }

    &--design {
      @extend %h2;

      margin-bottom: 30px;
    }

    &--technology {
      @extend %h2;

      margin-bottom: 56px;

      @include onTablet() {
        margin-bottom: 70px;
      }
    }

    &--features {
      @extend %h2;

      &-h3 {
        @extend %h3;

        color: $green;
      }
    }
  }

  &__paragraph {
    @extend %main-text;

    &--our-story {
      @extend %secondary-text;
      margin-bottom: 65px;

      @include onDesktop() {
        // display: block;
        margin-bottom: 0;
      }

      &:nth-of-type(n + 2) {
        display: none;

        @include onTablet() {
          display: block;
        }
      }
    }

    &--design {
      margin-bottom: 30px;

      @include onTablet() {
        margin-bottom: 60px;
      }
    }
  }

  &__video {
    position: relative;
    width: 100%;
    height: 246px;

    @include onTablet() {
      height: 400px;
    }

    @include onDesktop() {
      height: 590px;
    }

    object-fit: cover;
    object-position: center;
  }

  &__list {
    list-style: none;

    margin: 0 0 60px;
    padding: 0;

    @include onTablet() {
      margin-bottom: 100px;
    }

    @include onDesktop() {
      &:nth-of-type(1) {
        margin-bottom: 60px;
      }

      &:nth-of-type(2) {
        margin-bottom: 165px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: block;

        width: 4px;
        height: 4px;
        margin-right: 11px;

        border-radius: 50%;
        background-color: $granit;
      }
    }
  }
}
