.main {
  &__content {
    margin-block: $mainbox-gap-mobile;
    display: grid;
    row-gap: $mainbox-gap-mobile;

    @include onTablet {
      margin-block: $mainbox-gap-tablet;
      row-gap: $mainbox-gap-tablet;
    }

    @include onDesktop {
      margin-top: 90px;
      margin-bottom: $mainbox-gap-desktop;
      row-gap: $mainbox-gap-desktop;
    }
  }
}
