.main-content {
  &__section {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onNotebook {
      margin-bottom: 170px;
    }

    &--special {
      @include onTablet {
        margin-bottom: 197px;
      }
    }
  }

  &__section--last {
    margin-bottom: 90px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onNotebook {
      margin-bottom: 170px;
    }
  }
}
