.main {
  &__title-font {
    font-family: DIN Pro, Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: bold;

    @include onMobile {
      font-size: 37px;
      line-height: 42px;
      padding-top: 30px;
    }
  }
}
