.main-block {
  &__benefits {
    margin: 0 $base-spaces-desktop 150px;

    @include onLargeScreens {
      max-width: $min-large-screen-width - $base-spaces-desktop * 2;
      margin: 0 auto 150px;
    }

    @include onTablet {
      margin: 0 $base-spaces-gadgets 130px;
    }

    @include onMobile {
      margin: 0 $base-spaces-gadgets 90px;
    }
  }

  &__about-us {
    margin-bottom: 150px;

    @include onTablet {
      margin-bottom: 132px;
    }

    @include onMobile {
      margin-bottom: 90px;
    }
  }

  &__presentation {
    margin: 0 $base-spaces-desktop 150px;

    @include onTablet {
      margin: 0 $base-spaces-gadgets 132px;
    }

    @include onMobile {
      position: relative;
      margin: 0 $base-spaces-gadgets 96px;
    }

    @include onLargeScreens {
      max-width: $min-large-screen-width - $base-spaces-desktop * 2;
      margin: 0 auto 150px;
    }
  }

  &__technology {
    margin: 0 $base-spaces-desktop 64px;

    @include onTablet {
      margin: 0 0 40px;
    }

    @include onLargeScreens {
      max-width: $min-large-screen-width - $base-spaces-desktop * 2;
      margin: 0 auto 64px;
    }

    @include onMobile {
      margin: 0 0 76px;
    }
  }

  &__testimonials {
    position: relative;
    margin: 0 $base-spaces-desktop 150px;

    @include onTablet {
      margin: 0 $base-spaces-gadgets 132px;
    }

    @include onMobile {
      margin: 0 $base-spaces-gadgets 212px;
    }

    @include onLargeScreens {
      max-width: $min-large-screen-width - $base-spaces-desktop * 2;
      margin: 0 auto 150px;
    }
  }

  &__features {
    position: relative;
    margin: 0 $base-spaces-desktop 188px;

    @include onTablet {
      margin: 0 $base-spaces-gadgets 138px;
    }

    @include onMobile {
      margin: 0 0 44px;
    }

    @include onLargeScreens {
      max-width: $min-large-screen-width - $base-spaces-desktop * 2;
      margin: 0 auto 188px;
    }
  }

  &__questions {
    margin: 0 $base-spaces-desktop;

    @include onTablet {
      margin: 0 $base-spaces-gadgets;
    }

    @include onMobile {
      margin: 0 $base-spaces-gadgets;
    }

    @include onLargeScreens {
      max-width: $min-large-screen-width - $base-spaces-desktop * 2;
      margin: 0 auto;
    }
  }
}
