.main__benefit {
  margin-bottom: 150px;

  @include respond(phone) {
    margin-bottom: 90px;
  }
}

.main__presentation {
  margin-bottom: 150px;

  @include respond(phone) {
    margin-bottom: 90px;
  }
}

.main__about-us {
  margin-bottom: 150px;
  @include respond(phone) {
    margin-bottom: 90px;
  }
}

.main__technology {
  margin-bottom: 60px;
}

.main__testimonials {
  margin-bottom: 150px;
  @include respond(phone) {
    margin-bottom: 45px;
  }
}

.main__features {
  margin-bottom: 100px;

  @include respond(phone) {
    margin-bottom: 45px;
  }
}

.main__question {
  margin-bottom: 115px;

  @include respond(phone) {
    margin-bottom: 50px;
  }
}
