.main-block {
  &__gear {
    margin-top: 100px;
    margin-bottom: 90px;
    @include wrapper;

    @media (min-width: $deviceChangerTablet) {
      margin-top: 137px;
      margin-bottom: 130px;
    }

    @media (min-width: $deviceChangerDesktop) {
      margin-top: 0;
      margin-bottom: 150px;
    }
  }

  &__video {
    margin-bottom: 89px;

    @media (min-width: $deviceChangerTablet) {
      margin-bottom: 130px;
    }

    @media (min-width: $deviceChangerDesktop) {
      margin-bottom: 150px;
    }
  }

  &__future {
    margin-left: $mainShift;
    margin-right: $mainShift;
    margin-bottom: 90px;

    @media (min-width: $deviceChangerTablet) {
      margin-left: 0;
      margin-bottom: 130px;
    }

    @media (min-width: $deviceChangerDesktop) {
      margin-bottom: 150px;
    }
  }

  &__technology {
    margin-bottom: 77px;

    @media (min-width: $deviceChangerTablet) {
      margin-bottom: 130px;
    }

    @media (min-width: $deviceChangerDesktop) {
      @include wrapper;
    }
  }

  &__quote {
    margin-bottom: 45px;
    @include wrapper;
  }

  &__features {
    margin-bottom: 45px;

    @media (min-width: $deviceChangerTablet) {
      margin-bottom: 130px;
    }

    @media (min-width: $deviceChangerDesktop) {
      margin-bottom: 180px;
    }
  }

  &__contacts {
    @include wrapper;
    margin-bottom: 140px;
  }
}
