.main-screen {
  overflow: hidden;

  &__image {
    background-image: url("../images/mainSectionBGm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -30px;
    padding-right: 60px;
    width: 100%;
    grid-column: 1 / 5;
    height: 0;
    padding-bottom: 86%;
    margin-bottom: 40px;

    @include onTablet {
      background-image: url("../images/mainSectionBG.png");
      background-position: left;
      grid-column: 4 / 9;
      grid-row: 1 / 3;
      margin-left: -20px;
      padding-bottom: 0;
      height: 365px;
      width: 100%;
      background-size: contain;
      padding-right: 200px;
      margin-bottom: 0;
    }

    @media (min-width: 1050px) {
      height: 390px;
    }

    @include onDesktop {
      grid-column: 5 / 13;
      height: 464px;
    }
  }

  &__title {
    grid-column: 1 / 5;
    text-align: center;
    z-index: 1;
    margin-bottom: 23px;

    @include onTablet {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      text-align: left;
      padding-top: 29px;
      margin-bottom: 34px;
    }

    @include onDesktop {
      grid-column: 1 / 5;
      padding-top: 64px;
      margin-bottom: 27px;
    }
  }

  &__text {
    grid-column: 1 / 5;
    text-align: center;

    @include onTablet {
      grid-column: 1 / 4;
      text-align: left;
      grid-row: 2 / 3;
    }

    @media (min-width: 1050px) {
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }
}
