.media-button {
  @extend %btn-reset;
  @extend %background-base;

  transition: background-image $animation-duration;

  &--play {
    background-image: url(../images/playBtn.svg);

    &:hover {
      background-image: url(../images/playBtn--hover.svg);
    }
  }

  &--pause {
    background-image: url(../images/pauseBtn.svg);

    &:hover {
      background-image: url(../images/pauseBtn--hover.svg);
    }
  }
}
