.media {
  display: flex;
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 108px;
  }

  @include onDesktop {
    margin-bottom: 70px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 46px;
    }
  }

  &__link {
    display: block;
    height: 18px;
    width: 22px;
    border: 1px solid transparent;
    transition: background-image 0.3s;
    background-position: center;
    background-repeat: no-repeat;

    &--facebook {
      background-image: url("../images/face.svg");

      &:hover {
        background-image: url("../images/face-hov.svg");
      }
    }

    &--twitter {
      background-image: url("../images/twit.svg");

      &:hover {
        background-image: url("../images/twit-hov.svg");
      }
    }

    &--instagram {
      background-image: url("../images/inst.svg");

      &:hover {
        background-image: url("../images/inst-hov.svg");
      }
    }
  }
}
