.meet-luna {
  &__content {
    @include inline-padding-content;
    @include grid-layout;
  }

  &__img-wraper {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }

  &__img {
    width: 100%;

    @include hover(scale, 1.1);
  }
}
