.meet-luna {
  padding-inline: 12px;

  @include fade-in;

  @include on-tablet {
    @include content-padding-inline;
    @include main-grid;
  }

  &__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include on-small-tablet {
      width: 400px;
      margin-inline: auto;
    }

    @include on-tablet {
      width: 100%;
      grid-column: 1 / -1;
    }

    @include on-desktop {
      height: 520px;
      width: 846px;
      justify-self: center;
    }
  }
}
