.meet-luna {
  &__main {
    margin: 110px 12px;

    @include onTablet {
      margin: 140px 34px;
    }

    @include onDesktop {
      margin: 170px 297px;
    }
  }
  &__image {
    width: 100%;
  }
}
