.menu-opener {
  background-image: url(../images/menu.svg);
  width: 24px;
  height: 16px;
  display: none;

  @include onLaptop {
    display: flex;
    transition: all $duration;

    &:hover {
      transform: scale(1.1);
    }
  }
}
