.menu-list {

  display: none;

  @include onDescktop {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 76px;
    margin-bottom: 62px;

    &__items {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      display: flex;
      gap: 82px;
      padding: 0;
      margin: 0;
    }
  }

}

.link {
  text-decoration: none;
  color: $c-dark-gray;

}

.item {
  width: 110px;
  list-style-type: none;

  &--nav {
    font-size: 24px;
    line-height: 30px;

    width: max-content;
    margin-bottom: 20px;
  }
}

.item:hover {
  font-weight: 700;
  color: $c-dark;
}
