.menu {
  @include onBigScreen {
    display: none;
  }

  background-color: $c_tiffany-blue;
  overflow-y: auto;

  &__content {
    padding-top: $padding-mobile;
    height: 100vh;
  }

  &__list {
    list-style: none;
    margin-bottom: 24px;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    border-bottom: 1px solid transparent;
    display: inline-block;
    padding: 4px 0;
    color: $c_dark-charcoal;
    text-decoration: none;

    transition: border-color 0.4s;
  }
}
