.menu-button {
  display: flex;
  flex-direction: column;
  gap: 3px;

  &__line {
    width: 22px;
    height: 3px;
    background-color: #292929;
    border-radius: 10px;
  }

  @include onDesktop {
    display: none;
  }
}
