.menu-icon {
  &__hamburger {
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 3px;
    background-color: #333;
    border-radius: 3px;
  }
}

/*.menu-icon {
  background-image: url(../../images/menu-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 14px;
}*/

/*   &__checker {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;

    width: 24px;
    height: 18px;

    opacity: 1;
  } */
