.menu-desktop {
  grid-column: 1 / -1;
  display: none;

  @include onDesktop {
    margin-bottom: 90px;
    display: block;
  }
  &__list {
    display: flex;
    gap: 84px;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__link {
    color: #333;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
      @include onDesktop {
        color: #39bebf;
      }
    }
  }
}
