.menu-phone {
  height: 100vh;

  background-color: $c-lightgrey;

  padding-top: 26px;

  overflow-y: auto;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__drop {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    row-gap: 50px;
  }

  &__cross {
    display: inline-block;
    width: 24px;
    height: 24px;

    background-image: url(../images/icons/cross.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // &:hover {
    //   padding: 6px;
    //   border: 1px solid #828282;
    // }
  }

  &__list {
    list-style: none;
    text-align: right;

  }

  &__link {
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 6px;
    border-bottom: 1px solid transparent;

    color: $c-background;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: border-color 0.3s;

    &:hover {
      border-color: $c-background;
    }
  }
}

.page__body--with-menu {
  overflow: hidden;
}
