.middle-bar {

  &__head-img {
    background-image: url("./images/onDesktop/desktop_header.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    // height: 100%;
    height: 40vh;

    @include onTablet {
      background-image: url("./images/onTablet/header_img.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 105%;
      width: 50vw;
      height: 100%;
    }

    @include onDesktop {
      background-image: url("./images/onDesktop/desktop_header.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
      height: 100%;
    }
  }
}
