.mob-menu {
  position: fixed;
  background-color: aliceblue;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 90%;
  transition: transform 0.3s;

  &:target {
    transform: translateX(0%);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: $black-gray-color;
    transition: color 0.3s;

    &:hover {
      color: $color-green;
    }
  }

  &__slider {
    font-size: 26px;
    text-decoration: none;
    line-height: 100%;
    font-weight: bold;
    color: black;
    transition: color 0.3s;

    &:hover {
      color: $color-green;
    }

    @include onTablet {
      display: none;
    }
  }

  &__specs {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: $black-gray-color;
    transition: color 0.3s;

    &:hover {
      color: $color-green;
    }
  }

  &__menu {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  &__len {
    font-size: 14px;
    line-height: 20px;
    color: $color-gray-2;
    text-decoration: none;
    transition: color 0.3s;

    &-active {
      color: $black-gray-color;
    }

    &:focus {
      color: $black-gray-color;
    }

    &:hover {
      color: $color-green;
    }
  }

  &__button {
    display: block;

    padding: 16px 40px;
    margin-bottom: 10px;
    background-color: $black-gray-color;

    text-transform: uppercase;
    color: $color-white;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;

    &:hover {
      background-color: $color-black-2;
    }
  }
}
