.mobile-nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;

  @include on-mobile {
    margin-right: 25px;
    padding-top: 55px;
    top: -100%;
    transition: top $transition-duration;
  }

  &__list {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;

    @include on-mobile {
      display: flex;
    }
  }

  &__link {
    display: inline-block;
    padding: 5px;
    font-size: $font-size-normal;
    color: #000;
  }
}
