.mobile-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;

  @include padding-inline;

  @include on-tablet {
    display: none;
  }

  &__icon {
    background-image: url(../images/icons/icon-compass.png);
    width: 50px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }

  &__text {
    text-align: center;
  }
}
