.mobile-menu {
  background: rgba(13, 178, 179, 1);
  box-sizing: border-box;
  height: 100vh;
  z-index: 1;

  @media (max-height: 520px) {
    overflow-y: auto;
  }

  &__close-icon {
    margin-top: 22px;
  }

  &__logo {
    &:hover {
      transform: none;
    }
  }

  &__content {
    box-sizing: border-box;
    height: 100vh;
  }

  &__top {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    margin: 0 0 48px;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    font-family: "Helvetica Neue", sans-serif;
    font-weight: medium;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: border-color 0.3s;

    &:hover {
      border-color: #fff;
    }
  }
}
