.content {
  &__container {
    padding: 28px 30px 0;
  }

  &__nav {
    margin: 50px 0 0;
  }

  &__info {
    margin: 70px 0 0;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 120px;
  }
}

.nav-menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 50px;

    &--last {
      margin-bottom: 0;
    }
  }

  &__link {
    font-family: Helvetica;
    font-size: 18px;
    line-height: 21px;

    text-decoration: none;
    text-transform: uppercase;

    color: #131313;
  }
}

.info {
  display: flex;
  align-items: center;

  &__title {
    margin-right: 40px;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 17px;

    color: #4F4F4F;
  }

  &__language {
    margin-right: 40px;

    &--en {
      font-family: Helvetica;
      font-size: 14px;
      line-height: 18px;

      color: #333333;
    }

    &--ua {
      font-family: Helvetica;
      font-size: 14px;
      line-height: 18px;

      color: #828282;
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 102px;
    height: 48px;
    background: #333333;

    font-family: Helvetica;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
  }
}