.modal-buy {
  position: absolute;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  z-index: 999;

  &__active {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
  }

  &__content {
    width: 100%;
    max-width: 550px;
    padding: 50px;
    background: $color-white;
    box-shadow: 0 5px 15px $color-text;
    border-radius: 5px;
    position: relative;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }

  &__close {
    padding: 0;
    height: 24px;
    width: 24px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-image: url(../images/icon/cr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s background-image;

    &:hover {
      background-image: url(../images/icon/cr-ligth.svg);
    }
  }

  &__title {
    margin: 0 auto 30px;
    width: 50%;
    font-family: "DIN Pro", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $color-text;
    text-align: center;
    text-transform: uppercase;
  }

  &__animation {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__gif {
    width: 90px;
    height: 90px;
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
    text-align: center;
  }

  &__hidden {
    overflow: hidden;
  }
}
