.more-info {
  &__content {
    @include inline-padding-content;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 110px;
    overflow-x: hidden;

    @include on-tablet {
      row-gap: 140px;
    }

    @include on-desktop {
      row-gap: 170px;
    }
  }
}
