.more {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-send;
  transition: $duration;

  &::after {
    display: block;
    content: "";
    width: 54px;
    border-bottom: 1px solid $color-send;
    padding-top: 5px;
  }

  &:hover {
    cursor: pointer;
    animation: move $duration linear 2 alternate;

    &::after {
      width: 128px;
    }
  }
}
