.music {
  &__tittle {
    color: $forth-text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 20px;

    @include onSmallDesktop {
      font-size: 34px;
      line-height: 42px;
      padding-bottom: 30px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
  }

  &__item {
    display: flex;
    gap: 10px;
  }

  &__dot {
    background-image: url(../images/fetures/bullet.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 6px;
    width: 6px;
    padding-block: 7px;
  }

  &__text {
    color: $main-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      align-items: start;
    }

    @include onSmallDesktop {
      display: none;
    }
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    background-image: url(../images/icon/arrow-music-1.svg);
    background-repeat: no-repeat;
    display: block;
    height: 14px;
    width: 48px;
    transition: 0.4s ease-in-out;

    &:hover {
      background-image: url(../images/icon/arrow-hover-music2.svg);
      background-repeat: no-repeat;
      display: block;
      height: 14px;
      width: 48px;
    }

    &--two {
      background-image: url(../images/icon/arrow-music-2.svg);
      background-repeat: no-repeat;
      display: block;
      height: 14px;
      width: 48px;
      transition: 0.4s ease-in-out;

      &:hover {
        background-image: url(../images/icon/arrow-hover-music1.svg);
        background-repeat: no-repeat;
        display: block;
        height: 14px;
        width: 48px;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__number {
    color: $main-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  &__line {
    color: $forth-text-color;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    transform: translateY(2px);
  }

  &__second {
    color: $forth-text-color;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    transform: translateY(3px);
  }
}
