.name-card {
  text-align: center;

  &__avatar {
    @include square(62px);
    border-radius: 50%;
    object-fit: cover;

    margin-bottom: 10px;

    transition: all 0.4s;

    @include onBigScreen {
      margin-bottom: 20px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    margin-bottom: 5px;
  }

  &__work {
    @extend %secondary-text;
    color: $c_gray;
  }
}
