.name-card {
  text-align: center;

  &__avatar {
    @include square(62px);
    border-radius: 50%;
    object-fit: cover;

    margin-bottom: 10px;
  }

  &__name {
    margin-bottom: 5px;
  }

  &__work {
    @extend %secondary-text;
    color: $c_gray;
  }
}
