.nav-actions {
  display: none;
  width: max-content;
  align-items: center;

  padding-left: 20px;

  @include onDesktop {
    display: flex;
  }

  &__lang {
    margin-right: 26px;
  }

  &__radio--ua {
    &:checked + .nav-actions__label--ua {
      font-weight: 400;
      color: $colorMainBlack;
    }

    &:checked + .nav-actions__label--menu-ua {
      font-weight: 400;
      color: $colorMainBlack;
    }
  }

  &__radio--en {
    &:checked + .nav-actions__label--en {
      font-weight: 400;
      color: $colorMainBlack;
    }

    &:checked + .nav-actions__label--menu-en {
      font-weight: 400;
      color: $colorMainBlack;
    }
  }

  &__label {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: $colorLang;

    transition: all 0.3s;

    &:hover {
      color: $colorButtonTitle;
    }
  }

  &__span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $colorMainBlack;
  }

  &__link {
    margin-right: 26px;

    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $colorCloseToGrey;
    text-decoration: none;

    &:hover {
      color: $colorButtonTitle;
    }
  }

  &__button {
    width: 102px;
    height: 48px;

    padding: 0;

    background-color: $colorMainBlack;

    border: none;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__but-link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
  }
}
