.nav-desktop {
  display: none;

  @include onDesktop {
    display: flex;
    margin-bottom: 96px;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 82px;
    padding: 0;
    margin: 0 auto;
  }

  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $colorDarkGray;
    @include hover(color, $colorLightBlue);

    &:focus {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: #131313;
    }
  }
}
