.nav-bar {
  background-color: color(color-bg);

  &__list {
    justify-content: center;
    gap: 32px;

    display: flex;

    &--center {
      flex-direction: column;
      align-items: center;

      height: 100%;
    }
  }

  &__link {
    display: inline-block;

    padding: 28px 0;

    cursor: pointer;

    text-decoration: none;
    text-transform: uppercase;
    color: color(color-granit);

    &:hover,
    &--active {
      font-weight: 600;
      color: color(color-black);
    }

    &--font-big {
      font-size: 24px;
    }
  }
}
