.nav-desktop {
  display: none;

  @media (min-width: $deviceChangerDesktop) {
    position: sticky;
    top: 0;
    // left: 0px;
    // right: 0px;
    z-index: 30;

    display: flex;
    justify-content: center;
    width: 98vw;
    box-shadow: 10px 4px 5px 0 silver;

    background-color: $backgroundColor;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 15px;
  }

  &__link {
    display: block;

    padding: 0 15px;

    color: #131313;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 76px;
    text-align: center;

    transition: transform 250ms;

    &:hover {
      transform: scale(1.2);
      filter: contrast(4);
    }
  }
}
