.nav-mobile {
  background-color: $c-gray-bg;
  padding: 0 30px;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;

  &:target {
    transform: translateX(0);
  }

  @include onTablet {
    display: none;
  }
}
