.nav-bar {
  &__list {
    display: none;
    justify-content: center;
    align-items: center;
 
    height: 76px;

    @include onTablet {
      display: flex;
    }

    
  }

  &__item {
    position: relative;
    list-style: none;

    &:not(:last-child) {
      margin-right: 80px;

      @include onDesktop {
        margin-right: 100px;
      }
    }
  }

  &__link {
    font-family: "Helvetica Neue Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333;

    @include hover(color, #7c7c7c);
  }
}
