.nav-menu {
  &__item {
    display: block;
    margin-bottom: 35px;
  }

  &__link {
    position: relative;
    font-family: inherit;
    text-decoration: none;
    color: $textColor;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #0db2b3;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      display: block;
      width: 0;
      height: 2px;
      background-color: #0db2b3;
    }

    &:hover:after {
      content: "";
      width: 100%;
      transition: width $timeAnimation;
    }
  }
}
