.nav {
  max-width: 1920px;
  &__menu {
    margin: 0 123px;
  }
   
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    list-style: none;
  }

  &__item {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__link {
    font-family: "Helvetica Now Text", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s linear;

    &:hover {
      font-weight: bold;
      color: #131313;
      transition: 0.3s linear;
    }
  }
}

.is-active {
  font-weight: 600;
  color: #131313;
}

@media (max-width: 770px) {
  .nav {
    display: none;
  }
}

@media (max-width: 1024px) {
  
  .nav__menu {
    margin: 0;
  }

  .nav__list {
    gap: 15px;
    padding-bottom: 73px;
  }
}
