.nav {
  display: none;

  @include onDesktop {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 84px;

    height: 76px;

    list-style: none;
  }

  &__link {
    display: inline-block;
    padding-bottom: 5px;

    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $c-main;

    border-bottom: 1px solid transparent;

    transition: all 0.3s;

    &:hover {
      border-color: $c-main;
      transform: scale(1.1);
    }

    &--active {
      font-weight: bold;
    }
  }
}
