.nav {
  padding-bottom: 44px;

  &__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-right: 86px;

    @include notebookNarrowLayout {
      padding-right: 43px;
    }
  }

  &__list {
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 786px;
    height: 76px;

    // @include tabletWideLayout {
    //   display: none;
    // }
  }

  &__item {

    align-items: center;

    &--width-72 {
      width: 72px;
    }

    &--width-174 {
      width: 174px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    @include fontParam(14px,21px);
    text-transform: uppercase;
    text-align: center;
    color: #333;
    justify-items: center;
    transition: transform 0.5s;

    &:active {
      color: #131313;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
