.nav-bar {
  &__list {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 76px;

    @include onTablet {
      display: flex;
    }
  }

  &__item {
    position: relative;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    font-family: "Helvetica Neue Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: $title-broun;

    @include hover(color, #131313);
  }
}
