.navbar {
  &-list {
    display: flex;
    justify-content: center;
    gap: 65px;
    list-style: none;
  }
  
  &-item:first-of-type {
    font-weight: 700;
    color: #131313;
  }

  &-link {
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-color;
    &:hover {
      color: #131313;
    }
  }
}
