.nav {
  &__list {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 60px;
  }

  &__link {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, border-color 0.3s;

    &:hover {
      color: $c-hover;
      border-color: $c-hover;
    }

    &--active {
      color: #131313;
      font-weight: bold;
      pointer-events: none;
    }
  }
}
