.navigation {
  display: none;

  @include onDesktop {
    width: 100%;
    display: block;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 85px;
    margin-bottom: 100px;
  }

  &__link {
    @include fontInter(400, 14px);
    padding: 35px 0;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
  }
}
