.notification {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 400px;

  @include respond(phone) {
    display: none;
  }

  &--success {
    color: $color_bg;
    background-color: rgba($color: $color-success, $alpha: 0.5);
  }
}
