ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: $green;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
}

input:-webkit-autofill,

input:-webkit-autofill:hover,

input:-webkit-autofill:focus,

input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f7f7f7 inset !important;
}
