.options {
  display: grid;
  grid-template-columns: 1fr 24px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;

  @include onTablet {
    justify-items: start;
  }
}
