.our-story {
  margin-bottom: 150px;
  .container {
    padding: 0 123px;
    margin-bottom: 123px;
  }
  .container__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    &__link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: none;
      box-sizing: border-box;
    }
  }
}
