.our-story {   // i should change it, it's bem block
  overflow: hidden;

  &__video {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 75vw;

    @include onTablet {
      height: 50vw;
    }

    @include onDesktop {
      height: 30vw;
    }
  }
}
