.ourStory {

  &__title {
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0;

    font-family: "DIN Pro", sans-serif;
    font-size: 37px;
    line-height: 55px;
    text-transform: uppercase;
    color: $colorDarkBlack;

    @include onDesktop {
      font-size: 56px;
      line-height: 72px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    // padding-bottom: 100%;
    height: 210px;

    background-image: url(../images/ks_design.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include onDesktop {
      height: 388px;
    }
  }

  &__paragraph {
    margin: 0 0 30px;
    position: absolute;
    top: 40%;

    font-size: 16px;
    line-height: 24px;
    color: $colorLightGrey;
  }

  &__more {
    padding-bottom: 7px;
    box-sizing: border-box;

    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $colorTifany;
    text-decoration: none;

    &::after {
      content: "";
      box-sizing: border-box;
      display: block;
      background-color: $colorTifany;
      height: 1px;
      width: 55px;
      left: 0;
      bottom: 0;
    }
  }
}
