.overviews {
  &-container {
    // display: block;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      display: grid;
      align-items: flex-start;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 60px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;
    }
  }
}
