.overview {
  @include onPhone {
    &:not(.overview:first-child) {
      display: none;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }

  &__img {
    height: 48px;
  }

  &__title {
    @extend %title;

    height: 36px;
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__about {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

}
