.page-container {

  &__header {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 120px;
    }
  }

  &__desktop-navigation {

    @include onDesktop {
      margin-bottom: 44px;
    }
  }

  &__benefits {
    margin-bottom: 90px;

    @include onTablet {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }

  &__video-box {
    margin-bottom: 90px;

    @include onTablet {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }

  &__about-us {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }

  &__technology {

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 62px;
    }
  }

  &__testimonials {
    margin-bottom: 45px;

    @include onTablet {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }

  &__features {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 138px;
    }

    @include onDesktop {
      margin-bottom: 170px;
    }
  }

  &__questions {
    margin-bottom: 28px;

    @include onTablet {
      margin-bottom: 150px;
    }

    @include onDesktop {
      margin-bottom: 170px;
    }
  }
}
