.page {
  font-family: "Inter", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;

  &__body {
    background-color: $page-color;
  }

  &__section {
    margin-bottom: 110px;
    opacity: 0;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 170px;
    }

    &--animation {
      opacity: 1;
      transition: all 2s;
    }
  }
}
