.page-settings {
  margin-bottom: 162px;

  @include onTablet {
    margin-bottom: 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    font-size: 14px;

    @include onTablet {
      gap: 30px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: $gray-color;
    transition: all $effect-duration ease;

    &--specs {
      color: $dark-gray-color;
    }

    &:hover {
      color: $primary-color;
      font-weight: 400;
    }

    &--is-active {
      font-weight: 400;
      color: $primary-color;

      &:hover {
        color: $gray-color;
        font-weight: 300;
      }
    }
  }
}
