.params {
  display: flex;
  align-items: center;
  gap: 20px;

  &--top-bar {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &--menu {
    opacity: 0;

    @include onTablet {
      display: none;
    }
  }

  @include onTablet {
    gap: 30px;
  }

  &__specs {
    color: #4f4f4f;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__translate {
    cursor: pointer;
    background-color: unset;
    padding: 0;
    border: unset;
    color: #828282;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    &--active {
      color: $black-color;
    }
  }
}
