.people {
  position: relative;

  &__bg {
    background-image: url(../images/people/Vector-bg.svg);
    background-repeat: no-repeat;
    display: block;
    height: 171px;
    width: 208px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    @include onTablet {
      height: 189px;
      width: 233px;
    }
  }

  &__text {
    color: $main-text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding-block: 50px 30px;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
      width: 700px;
      padding-block: 60px 40px;
    }

    @include onSmallDesktop {
      width: 786px;
      margin: 0 auto;
      padding-block: 42px;
    }
  }

  &__img {
    display: block;
    height: 62px;
    width: 62px;
    padding-bottom: 10px;
    margin: 0 auto;

    @include onTablet {
      padding-bottom: 20px;
    }
  }

  &__name {
    color: $main-text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    padding-bottom: 5px;
  }

  &__category {
    color: $third-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
  }
}
