.person-qoute {
  background-repeat: no-repeat;
  background-position: top;
  background-image: url(../images/qoute-background.svg);

  color: #333;
  text-align: center;

  &__phrase {
    padding: 40px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__photo {
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__name {
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  &__role {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
  }
}
