.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
  padding-top: 87px;

  @include onTablet {
    padding-top: 40px;
  }

  @include onDesktop {
    padding-top: 30px;
  }

  &__avatar {
    height: 62px;
    width: 62px;
  }

  &__name {
    padding-top: 20px;
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
  }

  &__role {
    padding-top: 7px;
    font-size: 14px;
    line-height: 17px;
    color: $colorLightGrey;
  }
}
