.person {

  &__avatar {
    width: 62px;
    height: 62px;
    margin: 0 auto 16px;
    transition: transform 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.15);
    }
  }

  &__img {
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  &__name {
    @extend %h5;
    text-align: center;
    margin-bottom: 5px;
  }

  &__role {
    @extend %text-secondary;
    color: $color-lightgrey_1;
    text-align: center;
  }
}
