@use '../utils/extends' as *;
@use '../utils/vars' as *;

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    margin: 10px 0 5px;

    @extend %h5;
  }

  &__position {
    @extend %secondary-text;
  }
}
