.photo {
  width: 100%;

  transition: transform 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &__img {
    display: block;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}
