.picture {
  padding-top: toRem(110);

  @include onTablet {
    padding-top: toRem(140);
  }

  @include onDesktop {
    padding-top: toRem(170);
  }

  &__content {
    display: flex;
    justify-content: center;

  }

  &__image {
    width: 100%;

    padding-inline: toRem(12);

    @include onTablet {
      content: url(../images/photos/picture-image-tablet.png);

      padding-inline: toRem(34);
    }

    @include onDesktop {
      content: url(../images/photos/picture-image-desktop.png);

      padding-inline: toRem(297);
    }
  }
}
