@include on-mobile {
  .picture {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      width: 296px;
      height: 195px;
      margin-top: 110px;
      padding: 0;

      background-image: url(/images/picture/picture--mobile.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include on-tablet {
        width: 700px;
        height: 430px;
        margin-top: 140px;
        padding: 0;

        background-image: url(/images/picture/picture--tablet.png);
      }

      @include on-desktop {
        width: 846px;
        height: 520px;
        margin-top: 170px;
        padding: 0;

        background-image: url(/images/picture/picture--desktop.png);
      }

      @include hover(transform, scale(1.2));

      &:hover{
        cursor: pointer;
      }
    }
  }
}
