.page_main_play {
  margin-top: 150px;
  background-image: url("../images/page/playBack.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;



  @include onTablet {
    margin-top: 100px;
  }

  &_vd {
    display: none;
  }

  &_photo {
    height: 232px;
    width: 232px;
    background-image: url("../images/PlaySign.png");
    cursor: pointer;
    transition: background-image 0.5s;

    &:active ~ .page_main_play_vd {
      display: flex;
      width: 100%;
      height: 100%;
    }

    &:active {
      display: none;
    }

    &:hover {
      background-image: url("../images/Play.png");
    }
  }
}
