.page_main_play {
  position: relative;
  margin-top: 150px;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include onTablet {
    margin-top: 100px;
  }

  &_btn {
    display: block;
    background-image: url("../images/playSign.png");
    position: absolute;
    top: calc(590 - 232) / 2px;
    left: auto;
    width: 232px;
    height: 232px;
    cursor: pointer;

    &:hover {
      background-image: url("../images/Play.png");
    }
  }
}
