.point {
  position: relative;

  @include onTablet {
    display: none;
  }
  @include onMobile {
    display: none;
  }

  &__img {
    width: 50px;
    height: 50px;
    background-color: rgba($color: $c-green, $alpha: 0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: $c-white;
    font-size: 25px;
    position: relative;
  }

  &__vert-line {
    width: 1px;
    background-color: $c-black;
  }

  &__hor-line {
    height: 1px;
    background-color: $c-black;

  }

  &__text {
    width: 120px;
    font-family: "Helvetica Neue", serif;
    text-transform: uppercase;
    color: $c-black;
    font-size: 16px;
    line-height: 19px;

  }

  &-1 {
    &__vert-line {
      display: none;
      height: 150px;
      position: absolute;
      left: 25px;
    }

    &__hor-line {
      width: 150px;
      position: absolute;
      top: 150px;
    }

    &__img {
      position: absolute;
      bottom: 270px;
      left: 180px;

      &:hover {
        .point-1__vert-line {
          display: block;
        }
      }
    }

    &__text {
      position: absolute;
      left: 155px;
      bottom: -8px;
    }
  }
  &-2 {
    &__vert-line {
      display: none;
      height: 70px;
      position: absolute;
      left: 25px;
    }

    &__hor-line {
      width: 150px;
      position: absolute;
      top: 70px;
    }

    &__img {
      position: absolute;
      bottom: 215px;
      left: 390px;
      
      &:hover {
        .point-2__vert-line {
          display: block;
        }
      }
    }

    &__text {
      position: absolute;
      left: 155px;
      bottom: -8px;
    }
  }
  &-3 {
    &__vert-line {
      display: none;
      height: 100px;
      position: absolute;
      left: 25px;
    }

    &__hor-line {
      width: 150px;
      position: absolute;
      top: 100px;
    }

    &__img {
      position: absolute;
      bottom: 315px;
      left: 700px;

      &:hover {
        .point-3__vert-line {
          display: block;
        }
      }
    }

    &__text {
      position: absolute;
      left: 155px;
      bottom: -8px;
    }
  }
  &-4 {
    &__vert-line {
      display: none;
      height: 150px;
      position: absolute;
      left: 25px;
    }

    &__hor-line {
      width: 150px;
      position: absolute;
      top: 150px;
      left: -150px;
    }

    &__img {
      position: absolute;
      bottom: 384px;
      left: 925px;

      &:hover {
        .point-4__vert-line {
          display: block;
        }
      }
    }

    &__text {
      position: absolute;
      left: -115px;
      bottom: -8px;
    }
  }
}
