.portret-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__photo {
    width: 62px;
    height: 62px;

    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 5px;
  }

  &__main-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #7c7c7c;
  }
}
