.possibility {
  margin-top: 73px;

  @include mobile {
    margin-top: 101px;
  }

  &__item {
    margin-right: 30px;

    @include mobile {
      margin: 0 0 50px;
      padding: 0 30px;
    }

    @include tablet {
      margin: 0 auto;
    }
  }

  &__symbol {
    display: flex;
    justify-content: center;
  }

  &__title {
    margin: 47px 0 0;
    font-family: DinPro;
    width: 276px;
    font-size: 24px;
    line-height: 30px;

    text-align: center;
    text-transform: uppercase;

    @include mobile {
      width: 100%;
    }

    &--small-margin {
      margin-top: 42px;
    }

    &--big-margin {
      margin-top: 50px;
    }
  }

  &__subtitle {
    margin: 50px 0 0;
    font-family: Helvetica;
    width: 276px;
    font-size: 14px;
    line-height: 21px;

    text-align: center;

    @include mobile {
      width: 100%;
    }

    color: #7C7C7C;

    &--small-margin {
      margin: 20px 0 0;
    }
  }
}