.presentation {
  padding-inline: $padding-inline-mobile;

  &__box-img {
    background-image: url("./../images/Bluetooth-headphones-mobile/luna-speaker-advent-mobile-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 280 / 195;
  }
}
