.presentation {
  margin: $section-margin-bottom-onMobile 0 0;
  box-sizing: border-box;

  @include onTablet {
    margin-top: $section-margin-bottom-onTablet;
  }

  @include onLaptop1280 {
    margin-top: $section-margin-bottom-onLaptop;
  }

  &__wrapper {
    display: flex;
    margin: 0 -18px;

    @include onTablet {
      margin: 0;
    }
  }

  &__image {
    flex-basis: 290px;
    flex-grow: 1;
    flex-shrink: 1;

    @include onTablet {
      flex-basis: 700px;
    }

    @include onLaptop1280 {
      flex-basis: 846px;
    }
  }
}
