.presentation {
  &__content {
    background-image: url(./../images/imageMobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 210px;
    margin: 0 auto;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
    
    @include onTablet {
      background-image: url(./../images/imageTablet.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 450px;
    }

    @include onDesktop {
      background-image: url(./../images/imageDesktop.png);
      height: 520px;
    }
  }
}
