.primary-button {
  padding: 17px 63px;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.blackBtn {
  background-color: $darkGrey;

  &:disabled,
  &[disabled] {
    background-color: $darkWhite;
  }

  &:hover {
    background-color: $black;
  }
}

.blueBtn {
  background-color: $blueButton;

  &:disabled,
  &[disabled] {
    background-color: $buttonDisabled;
  }

  &:hover {
    background-color: $buttonHover;
  }
}
