.page_header_primacy {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 45px;

  @include onTablet {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px 50px;
  }

  &_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 276px;
    height: 100%;
    padding: 10px;

    @include onTablet {
      max-width: 340px;
      margin-bottom: 50px;
      flex: 50%;
    }

    &_title {
      font-family: "DIN Pro", sans-serif;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      height: 60px;
    }

    &_photo {
      height: 45px;
    }

    &_text {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 21px;
      margin: auto;
    }
  }
}
