.primary-button {
  font-size: 12px;
  line-height: 15px;

  @include onTablet {
    font-size: 12px;
    line-height: 15px;
  }
  
  @include onDesktop {
    font-size: 12px;
    line-height: 14px;
  }

padding: 16px 38px;

background-color: #333;;

color: #fff;
font-weight: 700;
font-size: 12px;
line-height: 14px;
text-transform: uppercase;
text-align: center;
text-decoration: none;

cursor: pointer;
transition: background-color 0.3s ease;

&:hover {
  background-color: #131313;
}

&:disabled {
  background-color: #131313;
  cursor: default;
}

&--blue {
  background-color: #39bebf;

  &:hover {
    background-color: #0c797a;
  }

  &:disabled {
    background-color: #cfeff0;
  }
}
}

