.page_header_primacy {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 45px;

  &_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 276px;
    height: 100%;

    &_title {
      font-family: 'DIN Pro';
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      height: 60px;
    }

    &_photo {
      height: 45px;
    }

    &_text {
      font-family: 'Helvetica Neue';
      font-size: 14px;
      line-height: 21px;
      margin: auto;
    }
  }
}
