.product {
  text-align: center;

  @include tablet {
    display: flex;
  }

  &__photo {
    margin-left: -34px;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 0;
      margin-right: -30px;
      order: 1;
      z-index: -1;
    }

    @include desktop {
      margin-right: -124px;
      overflow: hidden;
    }
  }

  &__about {
    margin: 0 auto;
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;

    @include tablet {
      margin: 0;
      max-width: 250px;
    }

    @include desktop {
      max-width: 276px;
    }
  }

  &__title {
    margin-bottom: 23px;
    font-family: "DIN Pro", sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 130%;
    text-transform: uppercase;
    color: #333;

    @include tablet {
      margin: 29px 0 34px;
      font-size: 48px;
    }

    @include desktop {
      font-size: 64px;
    }
  }

  &__description {
    @include tablet {
      text-align: left;
    }

    @include desktop {
      margin-top: 70px;
    }
  }

  &__description-wrapper {
    @include tablet {
      margin-right: auto;
    }
  }
}
