.product-poster {
  @include onTablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  &__image-box {
    margin-bottom: 40px;
    width: 100%;
    height: 250px;
    background-image: url(../images/photos_png/speaker_mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include onTablet {
      margin-bottom: 0;
      height: 350px;
      background-position: top;
      background-image: url(../images/photos_png/speaker_tablet.png);
    }

    @include onDesktop {
      height: 350px;
      background-position: center left;
      background-image: url(../images/photos_png/speaker_desktop3.png);
    }
  }

  &__content {
    padding: 0 30px;
    z-index: 1;

    @include onTablet {
      padding: 0 34px;
      width: min-content;
    }

    @include onDesktop {
      padding: 0 124px;
    }
  }

  &__title {
    margin-bottom: 23px;
    font-family: "DIN Pro-900", sans-serif;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;

    @include onTablet {
      font-size: 48px;
      text-align: left;
    }
  }

  &__description {
    line-height: 24px;
    text-align: center;

    @include onTablet {
      text-align: left;
    }
  }
}
