.product {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;

  @include onTablet {
    flex-direction: row;
  }

  &__content {
    padding: 0 30px;

    @include onTablet {
      padding: 0 55px;
    }

    @include onDesktop {
      padding: 0 0 0 190px;
    }
  }

  &__title {
    padding-bottom: 20px;
    max-width: 400px;

    @include onTablet {
      padding-bottom: 30px;
    }
  }

  &__info {
    @extend %main-text;

    @include onTablet {
      max-width: 360px;
    }
  }
}
