.promo {
  display: flex;
  overflow: hidden;

  &__text {
    display: block;
    color: $color-dark-gray;
    margin-top: 180px;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    text-transform: uppercase;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
  }

  &__img {
    margin-top: 100px;
  }
}
