.prototype {

  &__photo-desktop {
    display: none;
    height: 100%;
    width: 100%;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: block;
    }
  }

  &__photo-tablet {
    display: none;
    height: 100%;
    width: 100%;

    @include onTablet {
      display: block;
    }

    @include onDesktop {
      display: none;
    }

  }

  &__photo-phone {
    display: block;
    height: 100%;
    width: 100%;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: none;
    }

  }
}
