.quote {
  @include onTablet {
    padding-top: 140px;
  }

  @include onDesktop {
    padding-top: 170px;
  }

  &__item {
    max-width: 786px;
    margin: 0 auto;
    background-image: url(../images/icons/quote.svg);
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 700;
    color: $primary-text-color;
  }
  &__photo {
    border-radius: 100%;
  }

  &__text {
    padding: 40px 0;
    font-size: 14px;
    line-height: 20px;

    @include onTablet {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }
  }

  &__name {
    font-size: 16px;
    line-height: 22px;
  }

  &__position {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $secondary-text-color;
  }
}
