.questions {
  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  &__area {
    height: 48px;
    margin-bottom: 20px;
    padding: 16px 30px;
    border: 1px solid #828282;

    &::placeholder {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #bdbdbd;
    }

    &:nth-child(2) {
      height: 128px;
      margin-bottom: 30px;
    }
  }

  &__button {
    height: 48px;
    width: 102px;
    color: #fff;
    background-color: #0db2b3;
    border: none;
    transition: background-color 0.4s;

    &:hover {
      background-color: #0c797a;
    }
  }
}
