.questions {
  &__title {
    @include onMobile {
      margin-bottom: 27px;
    }
  }

  &__button {
    @extend %button;

    color: $c-white;
    padding: 13px 34px;

    background-color: $c_tiffany-blue;

    border: 1px solid transparent;
    cursor: pointer;

    @include onNotebook {
      padding: 17px 42px;
    }

    &[disabled],
    &[disabled]:active,
    &[disabled]:hover {
      cursor: default;
      background-color: $c_water;
    }
  }
}
