.question {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1020px;
    padding: 20px;
  }

  &__title {
    flex-grow: 1;
    flex-basis: 50%;
    margin-right: 5%;
    color: $color-granit;
    @include respond(phone) {
      margin-bottom: 30px;
    }
  }

  &__form {
    flex-grow: 1;
    flex-basis: 45%;
  }
}
