.question-form {
  margin-top: 180px;

  &__container {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(8,1fr);
      column-gap: 20px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12,1fr);
      column-gap: 20px;
    }
  }

  &__title {
    @include onTablet {
      margin-top: 0;
      grid-column: 1 / 5;
    }

    @include onDesktop {
      margin: 0;
      grid-column: 2 / 7;
    }
  }

  &__form {
    @include onTablet {
      grid-column: 5 / -1;
    }

    @include onDesktop {
      margin: 0;
      grid-column: 7 / -2;
    }
  }

  &__email {
    padding: 16px 30px;
    width: 100%;
    margin-bottom: 19px;
    height: 48px;
    border: 1px solid #828282;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-family: inherit;
    height: 128px;
    font-size: 16px;
    padding: 16px 0 0 30px;

    @include onTablet {
      height: 201px;
    }

    @include onDesktop {
      height: 128px;
    }
  }

  &__button {
    border: none;
    margin: 30px 0 50px;
    width: 102px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    background-color: #0DB2B3;
  }
}