.questions {
  display: flex;
  justify-content: space-between;
  margin: 300px auto 0;
  padding: 0 50px;
  max-width: 1200px;

  &-headline {
    margin-right: 20px;
    font-family: "DIN Pro", sans-serif;
    font-size: 56px;
    line-height: 72px;
    padding: 20px 0;

    @media (max-width: 875px) {
      max-width: 340px;
    }

    @media (max-width: 450px) {
      font-size: 37px;
      line-height: 46px;
    }
  }

  &-block {
    max-width: 435px;
    width: 100%;
  }

  &-form {
    display: flex;
    flex-direction: column;
    
  }

  @media (max-width: 768px) {
    margin-top: 100px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.emal-user-field {
  margin-bottom: 20px;
  padding: 0 30px;
  max-width: 435px;
  height: 50px;

  font-family: "Helvetica NeueCyr", sans-serif;
  font-size: 16px;
  line-height: 19.54px;
  box-sizing: border-box;
  border: 1px solid #828282;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}

.message-user-field {
  padding: 15px 30px 0;
  max-width: 435px;
  min-height: 225px;

  font-family: "Helvetica NeueCyr", sans-serif;
  font-size: 16px;
  line-height: 19.54px;
  box-sizing: border-box;
  color: #000;
  border: 1px solid #828282;
}

.btn-send {
  width: 102px;
  height: 48px;
  margin-top: 30px;

  background-color: #0db2b3;
  border: 0;
  text-transform: uppercase;
  font-family: "Helvetica NeueCyr", sans-serif;
  font-size: 12px;
  line-height: 14.65px;
  color: #fff;

  transition: 0.3s;

  &:hover {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6);
  }
}
