.quotation {
  background: url(../images/icons/commas.svg) no-repeat top center;

  @include desktop {
    max-width: 786px;
  }

  &__text {
    margin-bottom: 30px;
    padding-top: 50px;
    font-weight: $weight;
    font-size: $main-size;
    line-height: 20px;
    text-align: center;
    color: $dark;

    @include tablet {
      margin-bottom: 40px;
      padding-top: 60px;
      font-size: $major-size;
      line-height: $major-line-height;
    }

    @include desktop {
      margin-bottom: 30px;
      padding-top: 42px;
    }
  }

  &__avatar {
    margin: 0 auto 10px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__name {
    margin: 0 auto 5px;
    font-weight: $weight;
    font-size: $bigger-size;
    line-height: 22px;
    text-align: center;
    color: $dark;
  }

  &__job {
    margin: 0 auto;
    font-size: $main-size;
    line-height: $main-line-height;
    text-align: center;
    color: $gray;
  }
}
