.quote {
  @media (min-width: 1280px) {
    display: grid;
  }

  display: flex;
  flex-direction: column;
  text-align: center;

  cursor: pointer;

  &__text {
    background-image: url(/images/main/q.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 50px 26px 0;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 36px;
    }

    @media (min-width: 1280px) {
      grid-column: 3 / 11;
    }
  }

  &__photo {
    height: 62px;
    border-radius: 50%;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__photo-wrapper {
    text-align: center;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 5px;
  }

  &__position {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    color: #7c7c7c;
  }

  &__block {
    grid-column: 3 / 11;
  }
}
