.page_header_rectangle {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  margin-top: 120px;

  @include onTablet {
    display: none;
  }

  &_list {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &_item {
      width: 174px;
      height: 21px;

      font-family: "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      transition: color ease 0.5s;

      &:hover {
        color: #131313;
        font-weight: 500;
      }
    }
  }
}
