.response {
  &__content {
    @include pageGrid;

    grid-template-areas: "area1" "area2";

    justify-items: center;
  }
  &__quote {
    display: grid;
    justify-items: center;
    grid-area: area1;
    grid-column: 1/-1;

    &--image {
      width: 208px;
      height: 171px;

      @include onTablet {
        width: 233px;
        height: 189px;
      }

      @include onDesktop {
        height: 192px;
      }
    }
  }

  &__grop {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    text-align: center;

    grid-area: area1;

    grid-column: 1/-1;

    @include onTablet {
      margin-top: 60px;
    }

    @include onDesktop {
      margin-top: 42px;

      grid-column: 3/11;
    }

    &--text {
      margin: 0;
      padding: 0;

      color: $title-color;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;

      @include onTablet {
        font-size: 24px;
        line-height: 36px;
      }
    }

    &--avatar {
      padding: 0;
      margin: 0;

      width: 62px;
      height: 62px;

      margin-top: 30px;

      @include onTablet {
        margin-top: 40px;
      }

      @include onDesktop {
        margin-top: 30px;
      }
    }

    &--name {
      margin: 0;
      padding: 0;
      margin-top: 10px;

      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      color: $title-color;

      @include onTablet {
        margin-top: 20px;
      }
    }

    &--position {
      margin: 0;
      padding: 0;
      margin-top: 5px;

      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;

      color: #7c7c7c;
    }
  }
}
