.response {
  @extend %flex-col;

  background-image: url("../images/quotes.png");
  background-position: top center;
  background-repeat: no-repeat;

  
  &__text {
    max-width: 780px;
    padding-top: 60px;
    margin-bottom: 30px;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $c-txt-dark;
    
    @include onMobile {
      max-width: 360px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  &__link {
    text-align: center;
    text-decoration: none;

    @include hover(transform, translateY(5px));
  }

  &__user-photo {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
  }

  &__user-name {
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $c-txt-dark;
  }

  &__user-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $c-txt-light;
  }
}
