.reviews {
  padding-top: 50px;
  background: url(./../images/quotes.svg) no-repeat;
  background-position: center top;
  background-size: 208px 171px;

  @include on-tablet {
    background-size: 233px 189px;
    padding-top: 60px;
  }

  @include on-desktop {
    background-size: 233px 192px;
    padding-top: 42px;
  }

  @include grid-layout;


  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    };
  }

  &__comment {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding-bottom: 30px;

    @include on-tablet {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      padding-bottom: 40px;
    }

    @include on-desktop {
      padding-bottom: 30px;
    }
  }

  &__img {
    width: 62px;
    padding-bottom: 10px;

    @include on-tablet {
      padding-bottom: 20px;
    }
  }

  &__name {
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    padding-bottom: 5px;
  }

  &__position {
    color: $color-text-secondary;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}
