.review {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__photo {
    margin: 20px 0;
  }

  &__text {
    @extend %quote;
    display: inline-block;
    padding: 30px 0 20px;
    background-image: url(../images/icon/Vector.svg);
    background-position: center top;
    background-repeat: no-repeat;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
    }

    @include onDesktop {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__user-name {
    @extend %h5;
    font-weight: 700;
    padding-bottom: 5px;
  }

  &__jop-position {
    @extend %secondary-text;
  }
}
