.reviews {
  padding-top: toRem(110);

  @include onTablet {
    padding-top: toRem(140);
  }

  @include onDesktop {
    padding-top: toRem(170);
  }

  &__content {
    @include contentPaddingInLine;
  }

  &__box {
    position: relative;

    bottom: 0;

    @include onDesktop {
      display: flex;
      justify-content: center;
    }
  }

  &__image {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: toRem(208);
    height: toRem(171);

    max-width: 100%;
    max-height: 100%;

    z-index: -1;

    @include onTablet {
      width: toRem(233);
      height: toRem(189);

      top: 95px;
    }

    @include onDesktop {
      top: 50%;
    }

    &-size {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    font-weight: 700;
    font-size: toRem(14);
    line-height: 142.86%;

    padding-top: toRem(50);

    text-align: center;

    @include onTablet {
      font-size: toRem(24);
      line-height: 150%; /* 36/24 */

      padding-top: toRem(60);
    }

    @include onDesktop {
      padding-top: toRem(42);

      max-width: toRem(780);
    }
  }

  &__quotes {
    @include onTablet {
      display: none;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;

    padding-top: toRem(30);

    @include onTablet {
      padding-top: toRem(40);
    }

    @include onDesktop {
      padding-top: toRem(30);
    }
  }

  &__title {
    font-weight: 700;
    line-height: 137.5%; /* 22/16 */

    padding-top: toRem(10);

    text-align: center;

    @include onTablet {
      padding-top: toRem(20);
    }
  }

  &__sec-title {
    font-size: toRem(14);
    line-height: 150%; /* 21/14 */

    text-align: center;

    padding-top: toRem(5);
  }
}
