@import "../utils/mixins.scss";
@import "../utils/vars.scss";

.review {

  &__wrapper {

    padding: 150px 123px;
    background-image: url(../images/review_bg.png);
    background-repeat: no-repeat;
    background-position: center;

    @include laptop {
      padding: 150px 50px;
    }

    @include tablet {
      padding: 130px 34px;
    }

    @include mobile {
      padding: 90px 30px;
    }
  }

  &__text {
    font-family: "DIN Pro", sans-serif;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;

    @include tablet {
      grid-column: 1 / 9;
      margin-bottom: 40px;
    }

    @include mobile {
      grid-column: 1 / 5;
      font-size: 14px;
      margin-bottom: 40px;
    }
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 20px;

    @include tablet {
      grid-column: 4 / 6;
    }

    @include mobile {
      grid-column: 2 / 4;
    }

  }

  &__name {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #333;
    margin-bottom: 5px;

    @include tablet {
      grid-column: 4 / 6;
    }

    @include mobile {
      grid-column: 2 / 4;
    }
  }

  &__position {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #7c7c7c;

    @include tablet {
      grid-column: 4 / 6;
    }

    @include mobile {
      grid-column: 2 / 4;
    }
  }

}
