.rewiev {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__quote {
    height: 171px;
    display: flex;
    align-items: end;
    background-image: url("./../images/quote_background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include fontInter(700, 14px, 20px);
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }

  &__image {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__position {
    @include fontInter(400, 14px, 21px);
    color: #7c7c7c;
    margin-bottom: 110px;
  }
}
