.rewiev {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onTablet {
    grid-column: span 8;
  }

  @include onDesktop {
    grid-column: 3 / span 8;
  }

  &__quote {
    height: 171px;
    display: flex;
    align-items: end;
    background-image: url("./../images/quote_background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include fontInter(700, 14px, 20px);
    color: #333;
    text-align: center;
    margin-bottom: 30px;

    @include onTablet {
      height: 192px;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    @include onDesktop {
      align-items: center;
      margin-bottom: -10px;
    }
  }

  &__image {
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__position {
    @include fontInter(400, 14px, 21px);
    color: #7c7c7c;
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 170px;
    }
  }
}
