.screen {
  &-mobile {
    display: grid;

    @include onTablet {
      display: none;
    }
  }

  &-tablet {
    display: none;
    @include onTablet {
      display: block;
    }

    @include onDesktop {
      display: none;
    }
  }

  &-desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
