.scrollup {
  @extend %background-base;

  transition: box-shadow $animation-duration ease-in-out,
    transform $animation-duration ease-in-out;

  width: 40px;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0 3px 40px #a9a9a9;

  background-image: url(../images/scrollUp.svg);
  background-size: revert;
  background-color: #ececec;

  &:hover {
    transform: translateY(-10%);

    box-shadow: 0 3px 25px #a9a9a9;
  }
}
