::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $c-main-medium;
}

::-webkit-scrollbar-thumb {
  background-color: $c-main-dark;

  @include hover (background-color, $c-main-hover);
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::selection {
  background-color: $c-main-dark;
  color: $c-main-light;
}
