
.scroll {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  position: fixed;
  bottom: 70px;
  right: 50px;
  z-index: 1;
  cursor: pointer;
  background-color: rgba($color: #0db2b3, $alpha: 0.1);
  transition-duration: 0.3s;
  text-align: center;

  &__up {
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 30px;
  }
}

.scroll:hover {
  border: 1px solid grey;
  background-color: rgba($color: #0db2b3, $alpha: 0.5);
}
