.scroll-up {
  position: relative;

  &__img {
    height: 25px;
    width: 25px;
    bottom: 195px;
    right: 10px;
    background-image: url(../images/icons/Scroll.svg);
    background-repeat: no-repeat;

    position: fixed;
    opacity: 0.5;
    text-decoration: none;
    color: #000;
    transition: transform 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
