.secondary-button {
  @include button-text-style;

  text-decoration: none;
  color: $c-secondary-btn-blue;

  position: relative;
  width: fit-content;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $c-secondary-btn-blue;

    transform: scaleX(0.5);
    transform-origin: left;
    transition: transform $transition-duration;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
