.secondary-button {
  padding: 16px 53px;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  box-sizing: border-box;
}

.blackBox {
  color: $black;
  border: 1px solid $black;

  &:hover {
    color: #fff;
    background-color: $black;
  }
}

.blueBox {
  color: $blue;
  border: 1px solid $blue;

  &:hover {
    color: #fff;
    background-color: $buttonHover;
    border-color: $buttonHover;
  }
}

.activeBlue {
  color: $blue;
  position: relative;

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 54px;
    height: 1px;
    top: 37px;
    left: 53px;
    background-color: $blue;
    transition: all 00.3s;
  }

  &:hover {

    &::after {
      width: 128px;
    }
  }
}

.activeBlack {
  color: $black;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $black;
  }
}
