.second-nav {
  &__list {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 84px;
  }

  &__item {
    cursor: pointer;
    position: relative;
    width: fit-content;

    a{
      color: $black;
    }

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: $black;
      bottom: -5px;
      transform-origin: center;
      transform: scaleX(0);
      transition: transform 0.3s;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}
