.section {
  &__title {
    margin: 0;

    color: $darkGray;
    font-family: "DIN Pro", sans-serif;
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: bold;

    @include onTablet() {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__subtitle {
    margin: 0;

    color: $darkGray;
    font-family: "DIN Pro", sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
