.section-tech {
  display: block;

  &__details {
    overflow: hidden;

    &--title {
      font-family: "Inter", sans-serif;
      font-size: 56px;
      line-height: 70px;
      text-transform: uppercase;

      margin-left: 166px;
      color: #333;
    }

    &--text {
      text-align: center;
    }
  }
}
