.section {
  margin-bottom: 90px;

  @include onTablet {
    margin-bottom: 130px;
  }

  @include onDesktop {
    margin-bottom: 150px;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: "DIN Pro Bold", sans-serif;
    font-size: 38px;
    line-height: 55px;
    color: $c-granit;
    z-index: 1;

    @include onMobile {
      margin-bottom: 50px;
    }
  }
}
