.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: $color-gray;

  @include onTablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include onDesktop {
    font-size: 62px;
    line-height: 78px;
  }

  &--margin {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__article {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: $color-gray;

    @include onTablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
    }

    &--margin {
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 30px;
      }
    }

    &--luna-eye {
      font-size: 36px;
      line-height: 46px;

      @include onDesktop {
        font-size: 56px;
        line-height: 70px;
      }
    }

    &--features {
      @include contentPaddingInlineMinWidth;

      @include onTablet {
        font-size: 30px;
        line-height: 40px;
        padding: 0;
      }
    }
  }

  &__h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $color-gray;

    &--margin {
      margin-bottom: 20px;
    }

    &--margin-wide {
      @include onDesktop {
        margin-bottom: 52px;
      }
    }

    &--margin-narrow {
      @include onDesktop {
        margin-bottom: 24px;
      }
    }
  }

  &__technology {
    padding-top: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-transform: uppercase;
    color: $color-text-dark-blue;

    @include onTablet {
      padding-top: 60px;
    }

    @include onDesktop {
      font-size: 34px;
      line-height: 42px;
    }

    &--desktop-padding {
      @include onDesktop {
        padding-top: 0;
      }
    }

  }
}
