.section-title {
  font-size: $fontSizeTitle;
  text-transform: uppercase;
  font-family: $dinProFontFamily;
  line-height: 1.3em;
  font-weight: 600;
  @media (max-width: $breakpoint-md) {
    font-size: 37px;
  }
}
