.section {
  &__title {
    text-transform: uppercase;
    font-family: "DIN Pro Bold", sans-serif;
    font-size: 37px;
    line-height: 46px;
    color: $c-granit;
    z-index: 1;

    @include onTablet {
      font-size: 56px;
      line-height: 70px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 72px;
    }
  }
}
