.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;

  margin-bottom: 30px;

  @include onTablet {
    font-size: 36px;
  }

  @include onDesktop-1200 {
    font-size: 56px;
  }
}
