.see-more-link {
  text-decoration: none;
  color: $accent-color;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  padding-block: 5px;
  display: block;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 53px;
    margin-top: 6px;
    background-color: $accent-color;
    transition: all $effect-duration ease;
  }

  &:hover::after {
    width: 128px;
  }
}
