.services {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border-radius: 15px;

  background-color: #0b0c0b;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 20px 70px;
  }

  &__image {
    display: block;
    width: 60px;
    height: auto;
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.02em;

    &--secondary {
      margin-right: 90px;
    }
  }



  &__description {
    padding: 0 20px;
  }
}
