.services {
  &__content {
    @include page-grid;

    row-gap: 48px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__info {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 4;
      padding-top: 103px;
    }
  }

  &__title {
    text-align: left;
    line-height: 1.3;
    margin-top: 16px;
  }

  &__description {
    font-size: 14px;
    line-height: 1.5;
    color: $text-color;
    margin-top: 24px;
  }

  &__list {
    grid-column: span 2;
    display: grid;
    gap: 24px;

    @include on-tablet {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
    }

    @include on-desktop {
      grid-column: 7 / -1;
      gap: 20px;
      padding-top: 139px;
    }
  }

  &__item {
    grid-column: span 2;
    height: 264px;

    @include on-tablet {
      grid-column: span 3;

      &:nth-child(2n) {
        transform: translateY(-50%);
      }
    }
  }
}
