.shop {
  padding: 100px 0;

  &__container {
    position: relative;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $greenTextColor;
    text-align: center;
    margin-bottom: 20px;

    @include onTablet {
      text-align: left;
      margin-bottom: 10px;
    }

    @include onDesktop {
      text-align: left;
      font-size: 36px;
      line-height: 110%;
      margin-bottom: 30px;
    }
  }

  &__nav {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 34px;
    margin-bottom: 25px;

    @include onDesktop {
      margin-bottom: 50px;
      gap: 51px;
    }

    &-link {
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $greyTextColor;
      transition: all 0.3s;

      @include onTablet {
        font-size: 18px;
      }

      @include onDesktop {
        font-size: 18px;
      }

      &:hover {
        color: $blackTextColor;
        padding-bottom: 10px;
        border-bottom: 1px solid $blackTextColor;
      }

      &--target {
        color: $blackTextColor;
        padding-bottom: 10px;
        border-bottom: 1px solid $blackTextColor;
      }

      &:target {
        color: $blackTextColor;
        padding-bottom: 10px;
        border-bottom: 1px solid $blackTextColor;
      }
    }
  }

  &__cards-container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    transition: all 0.3s;
    transform: translateX(161%);

    @include onTablet {
      transform: translateX(156%);
    }

    @include onDesktop {
      transform: translateX(156%);
    }
  }

  &__card {
    flex: 0 0 100%;
    max-width: 100%;

    @include onTablet {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include onDesktop {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &-img {
      width: 100%;
      margin-bottom: 20px;
    }

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $blackTextColor;
      margin-bottom: 10px;

      @include onTablet {
        margin-bottom: 15px;
      }

      @include onDesktop {
        margin-bottom: 15px;
      }
    }

    &-price {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $blackTextColor;
    }
  }

  &__button {
    margin: 0 auto;
  }

  &__decor {
    position: relative;
    top: 60px;
  }
}
