@import "../utils";

.short-info {
  display: flex;
  align-items: center;
  justify-content: center;


  &__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @media (min-width: $tab-brakepoint) {
      flex-direction: row;
      justify-content: end;
      align-items: center;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    flex-shrink: 3;
  }

  &__title {
    margin-bottom: 20px;
  }
  
  &__picture {
    flex-shrink: 2;
    object-fit: contain;
  }
}
