.short-info {
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @media (min-width: $tab-brakepoint) {
      flex-direction: row;
      justify-content: end;
      align-items: center;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    flex: 0 0 300px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__picture {
    flex: 1 1 auto;
    object-fit: contain;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
