.sidebar {
  height: 100vh;
  overflow: auto;
  background-color: $bg-menu-color;
  padding-bottom: 30px;

  &__top-bar {
    margin-bottom: 31px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 40px;
      padding-block: 32px;
    }
  }

  &__nav {
    margin-bottom: 50px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (min-width: $tablet-min-width) {
      gap: 40px;
    }
  }

  &__specs {
    margin-bottom: 162px;
    display: flex;
    gap: 20px;

    @media (min-width: $tablet-min-width) {
      display: none;
    }
  }

  &__btn {
    display: block;

    @media (min-width: $tablet-min-width) {
      display: none;
    }
  }
}
