.sidebar {
  background-color: #0c797a;
  height: 120vh;
  width: 120vw;
  
  z-index: 10;

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    margin-bottom: 30px;
    margin-left: 10px;
    transition: 0.3s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      transform: translateX(1%);
    }
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #131313;
  }

  &__cross-img {
    width: 16px;
    margin-top: 10px;
    margin-left: 10px;
    object-fit: cover;
    object-position: center;

    transition: 0.3s;

    &:hover {
      transform: scale(1.4);
    }
  }
}
