.signboard {
  padding-top: 110px;

  @include on-tablet {
    padding-top: 140px;
  }

  @include on-desktop {
    padding-top: 170px;
  }

  &__img {
    background-image: url(/src/images/signboard/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    min-width: 295px;
    min-height: 195px;
    margin: 0 auto;

    transition: transform 0.3s ease;

    @include hover(transform, scale(1.1));

    @include on-tablet {
      background-image: url(/src/images/signboard/bannertablet.png);
      min-width: 700px;
      min-height: 430px;
    }

    @include on-desktop {
      background-image: url(/src/images/signboard/bannerdesk.png);
      min-width: 846px;
      min-height: 520px;
    }
  }
}
