.skills {
  @include margin;

  &__content {
    @include grid;
  }

  &__nav {
    grid-column: 1 / -1;
    list-style: none;

    transform: translateY(-100%);
    transition:
      transform 0.3s,
      width 0.3s,
      opacity 0.3s;
    min-width: 0;
    opacity: 0;

    @include on-desktop {
      min-width: 100%;
      opacity: 1;
      transform: translateY(0);
      margin-bottom: 90px;
    }
  }

  &__cards {
    grid-column: 1 / -1;

    @include grid;

    @include on-tablet {
      row-gap: 65px;
    }
  }

  &__card {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 3;
    }

    &:nth-child(n + 2) {
      display: none;

      @include on-tablet {
        display: flex;
      }
    }
  }
}
