.slides {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    &--left {
      background-image: url(../images/icons/arrow-left.svg);
      width: 48px;
      height: 13px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;

      &:hover {
        background-image: url(../images/icons/arrow-left-hover.svg);
      }
    }

    &--right {
      background-image: url(../images/icons/arrow-right.svg);
      width: 48px;
      height: 13px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;

      &:hover {
        background-image: url(../images/icons/arrow-right-hover.svg);
      }
    }
  }

  &__number {
    &--black {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $main-text-color;
    }

    &--green {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 11px;
      line-height: 100%;
      color: $green-text-color;
      margin-left: 3px;
      vertical-align: sub;
    }
  }
}
