.slide-arrows {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100px;
  font-size: 14px;
  line-height: 20px;
  padding-top: 7px;
  height: 38px;
  background-color: $light;

  &__left {
    color: $grey;
    cursor: pointer;
    transform: translate(4px, -10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
      content: "";
      display: block;
      width: 48px;
      height: 13px;
      background-image: url("../images/arrowLeftLight.svg");
      transform: translateX(0%);
    }
  }

  &__right {
    color: $grey;
    cursor: pointer;
    transform: translate(-4px, 10px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 48px;
      height: 13px;
      background-image: url("../images/arrowRightLight.svg");
      transform: translateX(0%);
    }
  }
}
