.slider {
  &__slide {
    @include on-desktop {
      &--1 {
        grid-column: 2 / 6;
        grid-row: 1 / 2;
      }

      &--2 {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
      }

      &--3 {
        grid-column: 7 / 10;
        grid-row: 1 / 2;
      }
    }
  }
}
