.slider-card {
  &__title {
    color: $c-btn-bl-hover;
    margin-bottom: 20px;
  }

  &__list {
    margin: 0;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 176px;
  }

  &__item {
    @include text-secondary;

    color: $c-black-default;
  }
}
