.slide {

  &__title {
    @extend %h4;

    margin-bottom: 20px;

    @include onDesktop {
      margin-bottom: 30px;
    }
  }

  &__text {
    @extend %text-secondary;
    color: $color-darkgrey_2;

    @include onDesktop {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    padding-left: 1rem;
  }

  &__list-item {
    margin-bottom: 4px;
  }
}
