.slider-auto {
  width: 100%;
  height: max-content;
  padding-top: 7px;
  overflow: hidden;

  &__wrapper {
    position: relative;
    display: flex;
    width: 400%;
    height: max-content;

    transition: left 0.3s;
  }
}
