.slider-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-bottom: 27px;

  &__buttons {
    display: flex;
  }

  &__items {
    font-size: 11px;
    line-height: 13px;
    color: $lightgrey;
  }

  &__items &__item {
    display: inline-block;

    @extend %main-text;
    color: $granit;

    transform: translateY(-3px);
  }

  @include onTablet() {
    display: none;
  }
}
