.slider-auto {
  width: calc(100vw - #{$container-padding} * 2);
  height: max-content;
  overflow: hidden;

  &__wrapper {
    position: relative;
    display: flex;
    width: calc((100vw - #{$container-padding} * 2) * 4);
    height: max-content;

    transition: left 0.3s;
  }
}
