.slider {
  display: grid;
  justify-content: center;
  row-gap: 8px;

  &__buttons {
    display: flex;
  }

  &__button {
    &--prev {
      width: 48px;
      height: 14px;
      background-image: url("./../images/icons/slider-arrow-prev.svg");
    }

    &--next {
      position: relative;
      top: -1px;

      width: 48px;
      height: 13px;
      background-image: url("./../images/icons/slider-arrow-next.svg");
    }
  }

  &__pages {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: end;

    color: #0c797a;
    font-size: 11px;
  }

  &__page {
    &--current {
      color: $c-main-accent;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
