.social {
  display: flex;
  margin: 0 auto;
  gap: 40px;
  grid-column: 1/-1;

  &__item {
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include hover(transform, scale(1.3));

    &--fb {
      background-image: url(../images/icon-facebook.svg);
    }

    &--ig {
      background-image: url(../images/icon-insta.svg);
    }

    &--tw {
      background-image: url(../images/icon-twiter.svg);
    }
  }
}
