.soc-networks {
  display: flex;
  justify-content: center;

  &__item {
    margin: 40px 22px;
  }

  &__img {
    transition: transform $transition;

    &:hover {
      transform: scale(1.3);
    }
  }
}
