.social-media {
  &__link {
    display: inline-block;
    height: 19px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s;

    &:not(:last-child) {
      margin-right: 48px;
    }

    &:hover {
      transform: scale(1.2);
    }

    &--facebook {
      width: 11px;
      background-image: url(../images/facebook.svg);
    }

    &--twitter {
      width: 22px;
      background-image: url(../images/twitter.svg);
    }

    &--instagram {
      width: 18px;
      background-image: url(../images/inst.svg);
    }
  }
}
