//SOCIALS BLOCK:
// Block with social networks links and icons

.socials {

  &__link {
    position: relative;
    text-decoration: none;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    @include icon-square(24px);
    transition: opacity $transition-duration,
      transform $transition-duration;

    &--hover {
      position: absolute;
      left: 0;

      opacity: 0;

      &:hover {
        opacity: 1;
        transform: scale(1.03);
      }
    }
  }
}
