.socials {
  display: flex;
  justify-content: center;
  gap: 46px;
  * {
    transition: 0.3s;
  }
  &__facebook {
    display: block;
    height: 19px;
    width: 11px;
    background-repeat: no-repeat;
    background-image: url(/images/facebook.svg);
    &:hover {
      background-image: url(/images/facebook_hover.svg);
      transform: scale(120%);
    }
  }
  &__twitter {
    display: block;
    height: 17px;
    width: 22px;
    background-repeat: no-repeat;
    background-image: url(/images/twitter.svg);
    &:hover {
      transform: scale(120%);
      background-image: url(/images/twitter_hover.svg);
    }
  }
  &__instagram {
    display: block;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-image: url(/images/instagram.svg);
    &:hover {
      transform: scale(120%);
      background-image: url(/images/instagram_hover.svg);
    }
  }
}
