.social {
  display: flex;
  padding: $socialPaddingTopBot 0;

  justify-content: space-between;

  &__item {
    width: $socialItemSize;
    height: $socialItemSize;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s, transform 0.3s;

    &:hover {
      transform: scale(1.5);
    }

    &--facebook {
      background-image: url(../images/facebook.svg);

      &:hover {
        background-image: url(../images/facebook_hover.svg);
      }
    }

    &--twitter {
      background-image: url(../images/twitter.svg);

      &:hover {
        background-image: url(../images/twitter_hover.svg);
      }
    }

    &--instagramm {
      background-image: url(../images/instagramm.svg);

      &:hover {
        background-image: url(../images/instagramm_hover.svg);
      }
    }
  }
}
