.socials {
  $root: &;

  display: flex;
  gap: 40px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    &:hover > #{$root}__image {
      fill: $secondaryGreenHover;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    fill: $darkLightColor;

    transition: fill $transitionDuration;
  }
}
