.socialMedia {
  padding-bottom: 15px;
  &__container {
    position: relative;
    text-align: center;
  }
  
  &__block {
    margin-top: 60px;
  }
  &__link {
    text-decoration: none;
  
    &:not(:last-of-type) {
      margin-right: 45px;
    }
  }

  &__arrowup {
    position: absolute;
    right: 0;
    margin: 0 50px;
  }
}
