.sound {
  &__title {
    padding: 0 30px;
    color: #333;
    font-size: 30px;
    // font-family: Inter;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;

    @include onDesktopMore {
      max-width: 1280px;
      margin: 0 auto;
      padding-bottom: 30px;
      font-size: 56px;
      line-height: 70px;
      
    }
  }

  &__container {

    background-color: #d6ecec;
    padding: 30px 32px 0;

    @include onTablet {
      margin: 0 34px;
    }

    @include onDesktopMore {
      display: grid;
      grid-template-columns: repeat(12, 72px);
      gap: 30px;
      padding: 60px 100px 0;
      max-width: 1280px;
      margin: 0 auto 170px;
    }

    &-conectivity {
      @include onMobile {
        display: none;
      }
      @include onTablet {
        display: none;
      }

      @include onDesktopMore {
        display: block;
        grid-column: 1 / span 6;
        grid-row: 1;
      }
    }

    &-app {
      @include onMobile {
        display: none;
      }
      @include onTablet {
        display: none;
      }

      @include onDesktopMore {
        display: block;
        grid-column: 7 / span 6;
        grid-row: 1;
      }
    }

    &-music {
      @include onDesktopMore {
        grid-column: 1 / span 6;
        grid-row: 2;
      }
    }

    &-title {
      color: #0c797a;
      font-size: 18px;
      // font-family: Inter;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      margin: 0;

      @include onDesktopMore {
        font-size: 34px;
        line-height: 42px;
      }
    }

    &-li {
      color: #333;
      font-size: 14px;
      // font-family: Inter;
      line-height: 21px;
      margin-bottom: 10px;
    }

    &-ul {
      margin: 20px 18px 50px;
      padding: 0;
    }

    &-block {
      margin: 0 auto;
      width: fit-content;

      @include onTablet {
        margin: 0;
      }

      @include onDesktopMore {
        display: none;
      }
    }

    &-span {
      display: block;
      text-align: center;
      margin-top: 10px;
      color: #333;
      font-size: 16px;
      // font-family: Inter;
      line-height: 24px;

      &--small {
        color: #0c797a;
        font-size: 11px;
        // font-family: Inter;
      }
    }

    &-img {
      display: block;
      margin: 0 auto;
      width: fit-content;

      &-mob {
        width: 100%;
      }

      @include onTablet {
        margin: 0;
      }
    }

    &-flex {

      margin-bottom: 110px;

      @include onTablet {
        display: flex;
        justify-content: end;
        margin-bottom: 140px;
      }

      @include onDesktopMore {
        grid-column: 7 /span 6;
        grid-row: 2;
        margin: 0;
      }
    }
  }
}
