.speaker {
  padding: 100px 12px 0;

  @include onTablet {
    padding: 140px 34px 0;
  }

  @include onLaptop {
    padding-top: 170px;
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 864px;
    margin: 0 auto;
  }
}
