.specs-btn {
  text-decoration: none;
  color: $dark-bg;
  font-family: $second-font;

  &--top-bar {
    display: none;

    @include onTablet {
      display: block;

      @include fontStyles (12px, 300, 14px);
    }
  }

  &--menu {
    @include fontStyles (14px, 300, 17px);
    
    @include onTablet {
      display: none;
    }
  }
}
