.specs {
  @include flex;
  padding-top: 101px;
  text-align: center;

  @include mediaTablet {
    padding-top: 128px;
  }

  @include mediaLaptop {
    padding: 0;
  }

  &__image {
    display: none;
    margin: 0 auto;
    height: 45px;

    @include hover(transform, scale(1.05));

    &--on {
      @include flex;
    }

    @include mediaTablet {
      @include flex;
    }
  }

  &__title {
    display: none;
    padding-top: 40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;

    &--on {
      @include flex;
    }

    @include mediaTablet {
      @include flex;
    }
  }

  &__text {
    display: none;
    padding-top: 52px;
    color: $c-text;

    &--on {
      @include flex;

      @include mediaTablet {
        padding-bottom: 65px;
      }

      @include mediaLaptop {
        padding-bottom: 0;
      }
    }

    &--second {
      @include mediaTablet {
        padding-bottom: 65px;
      }

      @include mediaLaptop {
        padding: 24px 0 0;
      }
    }

    @include mediaTablet {
      @include flex;
    }

    &--last {
      @include mediaLaptop {
        padding: 24px 0 0;
      }
    }
  }
}
