.specs {
  @include thirdary-text;
  color: $main-color-light;

  @include on-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    @include on-decktop {
      width: 99px;
      height: 48px;
    }
  }
}

.en-ua {
  display: flex;
  gap: 3px;
  align-items: center;
}

.language {
  @include thirdary-text;
  color: $secondary-color-light;
}

.active-language {
  color: $main-color;
}

.common-text {
  @include thirdary-text;
}
