.specs {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__word {
    color: #4F4F4F;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }

  &__languages {
    display: flex;
    justify-content: center;

    &--tab {
      color: $titleColor;
      font-family: Helvetica Neue;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      padding-left: 15px;
      margin-left: 40px;

      &:hover {
          cursor: pointer;
      }

      &::before {
        display: block;
        width: 20px;
        height: 20px;
        content: "EN";
        position: relative;
        right: 55px;
        top: 35%;
        color: $titleColor;
        font-family: Helvetica Neue;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin-left: 30px;
        transition: all 0.3s;
      }

      &:hover::before {
        cursor: pointer;
        color: $placeholderColor;
        font-weight: 400;    
      }

      &::after {
        display: block;
        width: 20px;
        height: 20px;
        content: "UA";
        position: relative;
        bottom: 30%;
        left: 5px;
        color: $placeholderColor;
        font-family: Helvetica Neue;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-left: 3px;
      }

      &:hover::after {
        cursor: pointer;
        color: $titleColor;
        font-weight: 700;    
      }
    }
  }

  &__button {
    width: 100px;
    margin-left: 30px;
  }
}