.story {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;

  &__icon {
    transition-duration: 0.3s;
    margin-bottom: 48px;
    height: 50px;
    object-fit: cover;
    object-position: center;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    height: 60px;
    margin: 0;
    font-family: DIN Pro, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    color: $main-color;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    color: $main-text-color;
    text-align: center;
  }
}
