.story {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__background {
    width: 208px;
    height: 171px;
    margin-bottom: 30px;

    @include onTablet {
      width: 233px;
      height: 189px;
      margin-bottom: 40px;
    }

    @include onDesktop {
      width: 233px;
      height: 189px;
    }
  }

  &__text {
    position: absolute;
    top: 25px;
    font-weight: 700;
    max-width: 700px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $blackCol;

    transition: text-shadow $duration;

    @include onMobile {
      max-width: 300px;
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      text-shadow: 0 1px 3px $greenCol;
    }

  }

  &__person {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
    transition: all $duration;

    @include onTablet {
      margin-bottom: 20px;
    }

    &:hover {
      transform: scale(1.03);
      filter: drop-shadow(0 0 7px $greenCol) brightness(110%);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $blackCol;
    margin: 0 0 10px;

    @include onTablet {
      margin-bottom: 5px;
    }
  }

  &__position {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $greyMediumCol;
  }
}
