.support {
  align-items: flex-start;
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 30px;
  }

  &__text {
    @extend %h2-mobile;
    text-transform: uppercase;
    margin-bottom: 26px;

    @include onTablet {
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
    }

    @include onDesktop {
      font-weight: 700;
      font-size: 56px;
      line-height: 70px;
    }
  }
}
