.swiper {
  --swiper-theme-color: #0c797a;

  width: 100%;
  height: 150%;

  & > &-button-prev {
    top: 90%;
    width: 50px;
    color: $color-darkgrey_2;
    justify-content: flex-end;
    transition: color 0.3s;
    margin-top: -20px;

    &:hover {
      color: $color-green_5;
    }
  }

  & > &-button-next {
    top: 90%;
    width: 50px;
    color: $color-darkgrey_2;
    justify-content: flex-start;
    transition: color 0.3s;
    margin-top: -20px;

    &:hover {
      color: $color-green_5;
    }
  }
}
