.switchers {
  display: flex;
  
  &__switch {
    font-size: 14px;
    line-height: 20px;
    color: $light-gray;

    text-decoration: none;

    &--active {
      color: $dark;
    }

    &:first-child::after {
      content: "/";
      margin: 0 4px;
      color: $dark;
    }
  }
}
