.switchers {
  display: flex;
  // margin-left: 16px;

  &__switch {
    font-size: 14px;
    line-height: 20px;
    color: $form-placeholder;

    text-decoration: none;

    &--active {
      color: $dark;
    }

    &:first-child::after {
      content: "/";
      margin: 0 4px;
      color: $dark;
    }

    // нужно js
    // &:focus {
    //   color: $dark;
    // }
  }


}
