.switcher {
  display: none;
  list-style: none;

  @include on-tablet {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item:nth-child(2)::before {
      content: '/';
      padding-left: 5px;
    }

    &__lang-link {
      text-decoration: none;
      text-transform: uppercase;
      color: $c-text-gray;
    }

    &__lang-link:focus {
      color: $c-text;
      font-weight: 700;
    }
  }
}
