.systems {

  &__icons {
    margin-bottom: 40px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-title {
      font-size: 24px;
      color: $darkerColor;
      margin-bottom: 50px;
      text-transform: uppercase;
      font-weight: 500;
    }

    &-text {
      font-family: "Helvetica Neue", sans-serif;
      color: #7c7c7c;
    }
  }
}
