.technology {
  padding-inline: $padding-inline-mobile;

  @include on-tablet {
    grid-template-areas:
        "title img-box"
        "description-box img-box";
  }

  .img-box {
    background-image: url("./../images/Bluetooth-headphones-mobile/luna-speaker-outdoor-mobile.png");

    @include on-tablet {
      background-image: url("./../images/Bluetooth-headphones-mobile/luna-speaker-outdoor-mobile.png");
    }
  }

  .title {
    @include on-tablet {
      padding-inline-start: $padding-inline-tablet;
    }

    @include on-desktop {
      padding-inline-start: 0;
    }
  }

  .description-box {
    @include on-tablet {
      padding-inline-start: $padding-inline-tablet;
    }

    @include on-desktop {
      padding-inline-start: 0;
    }
  }
}
