.technology {
  padding-top: 150px;
  &-title {
    @extend .section-title;
  }
  &-container {
    margin: 0 auto;
  }
  
  &-image {
    position: relative;
    width: 1230px;
    height: 545px;
    background-image: url(../images/technology-image.png);
    background-size: auto;
    background-repeat: no-repeat;
    transform: rotate(-7.85deg);
  }

  &-logo {
    position: absolute;
    width: 233px;
    height: 189.79px;
    top: -25%;
    left: calc(50% - 233px / 2);
    background-image: url(../images/technology-bg.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &-text {
    max-width: 785px;
    margin: 0 auto 20px;
    text-align: center;
    font-family: $dinFamily;
    font-weight: 700;
    letter-spacing: 0;
  }

  &-review {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.director {
  text-align: center;
  &-photo {
    display: flex;
    margin: 0 auto 20px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
  }

  &-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
  }

  &-position {
    font-size: 14px;
    line-height: 120%;
    color: #7c7c7c;
  }
}
