.technology {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;

  @include onTablet {
    overflow: hidden;
  }

  &__title {
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;
    color: $colorBlack;
    padding-bottom: 30px;

    @include onTablet {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__image {
    max-width: 100%;
    position: relative;

    &-img {
      max-width: 1024px;
    }
  }

  &__image-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-button {
      @include flex-center;
      width: 40px;
      height: 40px;
      font-size: 20px;
      color: #fff;
      background-color: $colorGreen;
      border-radius: 50%;
      transition: background-color 0.3s;
      position: absolute;

      &::before {
        content: "Control button ring ornament";
        font-size: 14px;
        line-height: 21px;
        color: $colorBlack;
        text-shadow: 0 0 3px #fff;
        display: none;
        align-items: flex-end;
        position: absolute;
        width: 150px;
        height: 150px;
        border-right: 1px solid $colorBlack;
        border-bottom: 1px solid $colorBlack;
        top: 120%;
        right: 50%;
        padding-bottom: 15px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 150px;
        border-bottom: 5px solid $colorBlack;
        top: 115%;
        right: 326%;
        padding-bottom: 15px;
        display: none;
      }

      &:nth-child(1) {
        top: 165px;
        left: 70px;
        display: none;

        @include onTablet {
          display: flex;
        }

        &::before,
        &::after {
          height: 200px;
        }
      }

      &:nth-child(2) {
        top: 300px;
        left: 220px;
      }

      &:nth-child(3) {
        top: 240px;
        left: 280px;

        &::before,
        &::after {
          height: 200px;
        }
      }

      &:nth-child(4) {
        top: 115px;
        left: 325px;

        &::before,
        &::after {
          height: 300px;
        }
      }

      &:nth-child(5) {
        top: 335px;
        left: 400px;

        &::before,
        &::after {
          height: 100px;
        }
      }

      &:nth-child(6) {
        top: 145px;
        left: 515px;

        &::before,
        &::after {
          height: 250px;
        }
      }

      &:nth-child(7) {
        top: 255px;
        left: 620px;
      }

      &:nth-child(8) {
        top: 135px;
        left: 740px;

        &::before,
        &::after {
          height: 200px;
        }
      }

      &:nth-child(9) {
        top: 65px;
        left: 840px;

        &::before,
        &::after {
          height: 250px;
        }
      }

      &:nth-child(10) {
        top: 180px;
        left: 890px;
      }

      &:nth-child(11) {
        top: 125px;
        left: 930px;
      }

      &:hover {
        background-color: $colorBlack;
      }

      &:hover::before {
        display: flex;
      }

      &:hover::after {
        display: block;
      }
    }
  }
}
