.tehnology {

  &__title {
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    color: $main_color;

    @include onMobile {
      font-size: 37px;
      line-height: 46px;
    }
  }

  &__img {
    height: 775px;

    @include onTablet {
      height: 700px;
    }
    
    @include onMobile {
      height: 446px;
    }
  }
}
