.tehnology {

  &__title {
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    color: $main_color;

    @include onMobile {
      font-size: 37px;
      line-height: 46px;
      text-align: center;
      margin-bottom: 50px;
    }
  }

  
  &__img-wrapper {
    position: relative;
    text-align: center;

    @include onTablet {
      max-width: 1230px;
    }

    @include onMobile {
      width: 100%;
    }
  }

  &__img {
    max-width: 100%;
  }
}
