.testimonials {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 78px 30px 0;

  &__quote {
    background-image: url(/images/testimonialsQuote.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      width: 786px;
      justify-content: flex-end;
    }
  }

  &__text {
    font-family: "Din Pro", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;

    padding-bottom: 40px;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__avatar {
    margin-top: 40px;
  }

  &__name {
    margin: 20px 0 7px;
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
  }

  &__position {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $fontGrey;

    @include onDesktop {
      margin-bottom: 105px;
    }
  }
}
