.testimonial {
  display: flex;
  flex-direction: column;

  &__quote {
    margin: 0;
    padding: 52px 0 30px;

    font-family: "DIN Pro", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: $colorGrey;

    background-image: url(../images/quote.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include mobile {
      font-size: 14px;
      line-height: 21px;
      padding-bottom: 40px;
    }

    @include tablet {
      padding: 76px 0 0;
      margin-bottom: 40px;
    }
  }

  &__photo {
    margin: 0 auto 20px;

    transition: all 0.5s;

    &:hover {
      transform: scale(115%);
    }
  }

  &__name {
    margin: 0 0 6px;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $colorGrey;
  }

  &__role {
    margin: 0;

    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7c7c7c;
  }
}
