.test {
  position: relative;

  &__title {
    margin: 0 0 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 46px;
    letter-spacing: -1.5px;
    color: $black;

    @include onTablet {
      font-size: 56px;
      line-height: 70px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 72px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__background {
    background-image: url(/images/quotes.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 233px;
    min-height: 189px;

    @include onTablet {
      width: 233px;
      height: 189px;
    }

    @include onDesktop {
      width: 233px;
      height: 192px;
    }
  }

  &__paragraph {
    display: block;
    width: 260px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $black;
    transform: translateY(-100%);

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
      width: 700px;
    }

    @include onDesktop {
      transform: translateY(-140%);
      width: 786px;
    }
  }

  &__client {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);

    @include onDesktop {
      transform: translateY(70%);
    }

    &-name {
      display: block;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: $black;
      text-align: center;
    }

    &-occupation {
      display: block;
      font-size: 14px;
      line-height: 21px;
      color: $grey;
      text-align: center;
    }
  }

  &__image {
    display: block;
    height: 62px;
    margin-bottom: 30px;
    transition: all 0.4s;

    @include onTablet {
      margin-bottom: 20px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
