.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &:hover {
    transform: scale(130%);
  }
  &__photo-container {
    margin-bottom: 20px;
    width: 62px;
    height: 62px;

  }

  &__photo {
    grid-column: 2/4;
    width: 100%;
    border-radius: 50%;
  }

  &__name {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: $mainColor;
  }

  &__role {
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: $subscriptColor;
  }
}
