.testimonial {
  background-image: url(../images/quotes.png);
  background-repeat: no-repeat;
  text-align: center;
  background-position: top;
  padding-top: 14px;
  margin-bottom: 45px;

  &__quotes {
    font-family: "DIN Pro Bold", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    padding: 5% 30px;

    &::before {
      content: "“";
    }

    &::after {
      content: "”";
    }
  }

  &__name {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #333;
  }

  &__position {
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #7c7c7c;
  }
}
