.testimonilas {
  &__content {
    padding-top: 50px;
    background-image: url(../images/testemonials/bg.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 208px 171px;

    @include onTablet {
      padding-top: 60px;
      background-size: 233px 189px;
    }

    @include onDesktop {
      padding-top: 40px;
      background-size: 233px 192px;
    }
  }

  &__title {
    margin: 0 auto;
    max-width: 786px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: $main-black-color;
    text-align: center;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 30px;
    }
  }

  &__author-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__author {
    width: 62px;
    height: 62px;
    @include hover(transform, scale(1.1));
  }

  &__author-name {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: $main-black-color;
    text-align: center;
  }

  &__author-possition {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $main-text-color;
    text-align: center;
  }
}
