.testimonilas {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/testimonilas__bg.png);
    background-repeat: no-repeat;
    background-position: top;
  }

  &__text {
    font-family: DIN Pro, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    color: $c-text-black;
    padding: 12px 0 40px;

    @include onTablet {
      padding-top: 76px;
    }

    @include onDesktop {
      padding: 54px 0 30px;
    }
  }
  &__image {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto 20px;
  }
  &__name {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    font-weight: 500;
    color:  $c-text-black;
    padding-bottom: 8px;
  }
  &__description {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #7c7c7c;
    padding-bottom: 45px;

    @include onTablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 150px;
    }

  }
}
