.testemonials {
  margin-bottom: 100px;

  @include on-tablet {
    margin-bottom: 130px;
  }

  @include on-desktop {
    margin-bottom: 170px;
  }

  &__wrapper {
    height: 320px;

    @include on-tablet {
      height: 370px;
    }

    @include on-desktop {
      @include page-grid;

      height: 310px;
    }
  }

  &__content {
    position: relative;
    top: -134px;
    text-align: center;

    @include on-tablet {
      top: -150px;
    }

    @include on-desktop {
      grid-column: 3 /11;
    }
  }

  &__background {
    background-image: url(../images/testemonials/background-mb.png);
    background-repeat: no-repeat;
    height: 171px;
    background-position: center;

    @include on-desktop {
      grid-column: 6 /8;
      margin-inline: -30px;
    }
  }

  &__description {
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 20px;
    font-weight: 700;
    color: #333;
    text-align: center;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 50px;
    }

    @include on-desktop {
      margin-bottom: 18px;
    }
  }

  &__quote {
    @include on-tablet {
      display: none;
    }
  }

  &__name {
    font-size: 16px;
    font-family: Inter, sans-serif;
    line-height: 22px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin: 8px 0;

    @include on-tablet {
      margin-top: 15px;
    }
  }

  &__profile {
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 21px;
    font-weight: 400;
    color: #7c7c7c;
    text-align: center;
  }
}
