.testimonilas {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @include onTablet {
    display: flex;
  }
  
  @include onMobile {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 10;
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $main_color;
    margin-bottom: 30px;

    background-image: url(../images/testimonials__bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__img {
    height: 62px;
    width: 62px;
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }

  &__name {
    font-size: 16px;
    line-height: 27px;
    color: $main_color;
  }

  &__role {
    font-size: 14px;
    line-height: 120%;
    color: #7c7c7c;
  }
}
