.testimonials {
  &__item {
    @include flex-position(center);

    flex-direction: column;
    text-align: center;
    background: url(../images/icons_svg/06_kavychki_back.svg);
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__text {
    margin-bottom: 40px;
    max-width: 786px;
    font-family: "DIN Pro-700", sans-serif;
    font-size: 14px;
    line-height: 21px;

    @include onTablet {
      padding-top: 76px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__image {
    margin-bottom: 20px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
  }

  &__name {
    font-family: "HelveticaNeue-500", sans-serif;
    font-size: 16px;
    line-height: 27px;
  }

  &__role {
    font-size: 14px;
    line-height: 17px;
    color: $color-grey;
  }
}
