.test {
  background-color: $color-backround;

  &__content {
    position: relative;
    text-align: center;
    padding-bottom: 110px;

    @include smartphone {
      padding-bottom: 140px;
    }

    @include smalldesktop {
      padding-bottom: 170px;
    }
  }

  &__backround {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 208px;
    height: 171px;

    @include smartphone {
      width: 233px;
      height: 189px;
    }

    @include smalldesktop {
      width: 233px;
      height: 192px;
    }
  }

  &__main {
    padding: 50px 0 30px;
    color: $color-title;
    text-align: center;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 30px;

    @include smartphone {
      padding: 15px 0 40px;
      line-height: 36px;
      font-size: 24px;
      max-width: 786px;
      margin: auto;
    }

    @include smalldesktop {
      padding: 42px 0 30px;
    }
  }

  &__img {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;

    @include smartphone {
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }

  &__name {
    color: $color-title;
    text-align: center;
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 5px;
  }

  &__position {
    color: $color-subtitle;
    text-align: center;

    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
}
