.testimonials {
  background-image: url(images/testimonials.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 208px 170px;

  @include onTablet {
    background-size: 235px 190px;
  }

  @include onDesktop {
    background-size: 235px 190px;
  }
  
  &__testimonial {
    padding-top: 50px;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $c-darkgrey-one;

    @include onTablet {
      padding-top: 60px;
      margin-bottom: 40px;

      font-size: 20px;
      line-height: 150%;
    }

    @include onDesktop {
      display: block;
      margin: 0 auto 30px;
      width: 786px;
      padding-top: 40px;
      
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
    }
  }

  &__avatar {
    display: block;
    margin: 0 auto 10px;
    width: 62px;
    height: 62px;
  }

  &__name {
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 138%;
    text-align: center;
    color: $c-darkgrey-one;
  }

  &__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $c-darkgrey-three;
  }
}
