.testemonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info {
    display: flex;
    margin-bottom: 30px;
    text-align: center;
    align-items: flex-end;

    height: 170px;
    background-image: url(../images/background_testim.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      height: 190px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-weight: bold;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
    }

    @include onDesktop {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__img {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

  &__position {
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
    margin-bottom: 110px;
  }
}
