.title {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 2;
  align-items: center;

  // align-self: end;
  // padding-bottom: 50px;

  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
  letter-spacing: 0;

  &--secondary {
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0;
  }

}
