.title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $greenColor;

  @include onDesktop {
    font-size: 36px;
    line-height: 110%;
  }

  &--mobile--center {
    text-align: center;

    @include onTablet {
      text-align: initial;
    }
  }

  &--center {
    text-align: center;
  }
}
