.title {
  font-family: "DIN Pro", sans-serif;
  font-weight: 700;
  font-size: 37px;
  line-height: 46px;
  color: $colorText;
  text-transform: uppercase;

  @include onTablet {
    font-size: 56px;
    line-height: 70px;
  }
}
