.tittle {
  color: $main-text-color;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: left;

  @include onTablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include onSmallDesktop {
    font-size: 56px;
    line-height: 70px;
  }
}
