.to-page-top {
  display: none;

  @include onTablet {
    display: block;
    position: fixed;
    bottom: 188px;
    right: 34px;
  }

  @include onDesktop {
    right: 120px;
  }

  &__link {
    display: block;
  }
}
