.toolbar {
  display: flex;
  flex-direction: row;
  gap: 20px;

  color: $color-grey-secondary-text;
  font-size: 14px;
  font-weight: 300;

  &--menu {
    @include onTablet {
      display: none;
    }
  }

  &--header {
    display: none;

    @include onTablet {
      display: flex;
      gap: 30px;
    }

    @include onDesktop-1200 {
      gap: 47px;
    }
  }

  &__specs {
    cursor: pointer;

    &:hover {
      font-weight: 400;
      color: $color-black;
    }
  }

  &__specs-link {
    text-decoration: none;
    color: inherit;
  }

  &__lang {
    cursor: pointer;

    &--chosen {
      font-weight: 400;
      color: $color-black;
    }
  }
}
