.top-actions {
  @include flex-settings(row, space-between, center);
  padding-top: $topPadding;

  @include onTablet {
    padding-top: 13px;
  }

  @include onDesktop {
    padding-top: 13px;
  }
}
