.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  width: 100%;

  @include on-tablet {
    height: 106px;
  }

  &__logo-link {
    transition-duration: $effect-duration;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;
    align-items: center;

    @include on-desktop {
      gap: 50px;
    }
  }

  &__button {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;

    transition-duration: $effect-duration;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}


