.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;

  &__logo-link {
    display: block;
    text-decoration: none;
  }

  &__logo {
    display: block;
    width: 160px;
  }

  &__content {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__button {
    width: 100px;
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__icon {
    @include on-desktop {
      display: none;
    }
  }
}
