//TOP-NAV BLOCK:
// Whole top navigation block

.top-nav {
  position: relative;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__desktop {
    display: none;

    @include onTablet {
      display: none;
    }
    @include onDesktop {
      display: flex;
      align-items: center;
    }
  }
}
