.top-action {
  padding: 22px 0;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sub-row {
    @include onTablet {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
  &__sub-item {
    @include onTablet {
      display: flex;
    }

    &:last-child {
      @include onDesktop {
        display: none;
      }
    }
  }

  &__logo {
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: 300ms;
    &:hover {
      transform: scale(1.02);
    }
  }

  &__logo-image {
    width: 100%;
    height: 100%;
  }

  &__tablet-additional-action {
    display: none;

    @include onTablet {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
  &__specs {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    transition-duration: 300ms;

    &:hover {
      color: $dark-grey;
      font-weight: 400;
    }
  }
  &__lang-changer {
    color: #828282;
  }
  &__languare {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    transition-duration: 300ms;

    &._active {
      color: $dark-grey;
      font-weight: 400;
    }

    &:hover {
      color: $dark-grey;
      font-weight: 400;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 48px;
    color: #fff;
    background-color: $dark-grey;

    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    transition-duration: 300ms;

    &:hover {
      background-color: #131313;
    }

    &:visited {
      color: #fff;
    }
  }
  &__menu-opener {
    @include onDesktop {
      display: none;
    }
  }
}
