.top-bar {
  @include page-grid;

  height: 48px;
  align-items: center;
  margin-top: 30px;

  &__logo {
    &-link {
      display: flex;
      align-items: center;
      grid-column: span 2;

      @include hover(transform, scale(1.02));

      @include on-phone {
        grid-column: span 3;
        justify-content: flex-start;
      }
    }

    &-image {
      width: 161px;
      height: 26px;
    }
  }
}
