.top-menu {
  width: 32px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__line {
    display: block;
    height: 4px;
    background-color: #000;
  }

  @include onDesktop {
    display: none;
  }

  @include onTablet {
    display: none;
  }
}
