.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  &__logo {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__other {
    display: none;

    @include on-tablet {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }

  &__specs {
    margin-right: 12px;
    width: 72px;
    text-decoration: none;
    color: $main-text-color;
    transition: 0.3s;

    &:hover {
      color: $placeholder-color;
    }
  }

  &__language {
    margin-right: 37px;
    color: $main-text-color;
  }

  &__link {
    text-decoration: none;
    color: $main-text-color;
    transition: 0.3s;

    &:hover {
      color: $placeholder-color;
    }
  }

  &__menu {
    @include on-tablet {
      display: none;
    }
  }

  &__button {
    text-decoration: none;
    text-transform: uppercase;
    color: $button-title-color;

    background: $turquoise-color;
  }
}
