.top {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    cursor: pointer;
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__info {
    display: none;

    @include onTablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 24px;
      gap: 30px
    }
  }

  &__specs {
    @include styleSpecs;
  }

  &__language {
    @include styleLanguage;
  }

  &__buy {
    @include styleButton;

    width: 100px;
    height: 48px;
  }

  &__open {
    width: 24px;
    height: 16px;

    @include onDesktop {
      display: none;
    }
  }
}
