.top {
  align-items: center;
  &__buttons {
    display: flex;
    align-items: center;

    &-list {
      display: none;
      align-items: center;
      @include onTablet {
        display: flex;
      }
    }

    &-item {
      margin-right: 46px;
      @include onDesktop {
        &:last-child {
          margin: 0;
        }
      }
    }

    &-buy {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      transition: background-color $transitionTime;
      width: 102px;
      font-weight: 700;
      font-size: 12px;
      color: #fff;
      background-color: $c-3;
      height: 48px;
    }
  }
}
