.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;

  &__nav {
    display: flex;
    list-style-type: none;

    align-items: center;
  }

  &__item {
    display: inline-block;
    width: 72px;

    &--buy {
      display: flex;
      height: 48px;
      width: 102px;
      margin-left: 47px;
      background-color: #333;
      text-align: center;
      justify-content: center;
      align-items: center;
      line-height: 16px;
    }

    &--ua {
      color: #bdbdbd;
    }
  }

  &__item-language {
    display: flex;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #4f4f4f;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &--color-grey {
      color: #333;
    }

    &--color-lightgrey {
      color: #bdbdbd;

      pointer-events: none;
    }
  }

  &__linkpos {
    margin-left: 3px;
  }

  &__link-buy {
    padding: 16px 34px;

    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: background-color 0.3s;
  }
}
