.touch {
  padding-top: 90px;

  @include onTablet {
    padding-top: 140px;
  }

  @include onLaptop {
    padding-top: 170px;
  }

  &__content {
    @include onTablet {
      @include pageGrid;
    }
  }

  &__title {
    color: $secondary-text-color;
    margin-bottom: 27px;

    @include onTablet {
      grid-column: span 4;
      max-width: 339px;
    }

    @include onLaptop {
      grid-column: span 6;
      max-width: none;
    }
  }

  &__form {
    @include onTablet {
      grid-column: span 4;
    }

    @include onLaptop {
      grid-column: span 6;
    }
  }
}
