.translate {
  margin-right: 47px;

  @include onTablet {
    margin-right: 30px;
  }

  @include onMobile {
    margin: 0;
  }

  &--lang {
    cursor: pointer;
    color: #828282;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--radio {
    appearance: none;
    position: absolute;

    &:checked + .translate--lang {
      color: $colorHover;
    }
  }
}
