.underlineButton {
  width: 210px;

  &__link {
    display: flex;
    width: max-content;
    height: 31px;
    align-items: center;
    text-decoration: none;
    color: $sendColor;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;

    &::after {
      display: block;
      position: relative;
      top: 12px;
      right: 125px;
      content: "";
      width: 65px;
      height: 1px;
      background-color: $sendColor;
      transition: all 0.3s;
    }

    &:hover {
      cursor: pointer;

      &::after {
        width: 125px;
      }
    }
  }
}
