.video {
  position: relative;
  margin-bottom: 88px;

  &__poster {
    width: 100%;
    min-height: 246px;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    top: -54px;

    transform: translateX(-50%) scale(0.6);
    transition: opacity 0.3s;

    @include onTablet {
      top: auto;
      transform: translateX(-50%);
    }

    &--triangle {
      opacity: 0;
    }
  }

  &__toggle {
    position: absolute;
    left: 50%;
    top: 25%;

    cursor: pointer;
    transition: opacity 0.3s;

    &:hover .video__button {
      transition: opacity 0.3s;
      opacity: 0;
    }

    &:hover .video__button--triangle {
      opacity: 1;
    }
  }
}
