.volume {
  padding-inline: 12px;

  @include on-tablet {
    padding-inline: 35px;
  }

  @include on-desktop {
    padding-inline: 297px;
  }

  &--img {
    width: 100%;

    @include on-tablet {
      display: none;
    }
  }

  &--img--tablet {
    display: none;

    @include on-tablet {
      display: block;
      width: 100%;
    }
  }
}
