@use '../utils/mixins' as *;
@use 'sass:color';

.why {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: space-between;

  box-sizing: border-box;
  padding-top: 30px;
  border-radius: 15px;

  @include for-ipad-pro {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    margin-bottom: 40px;
  }

  @include for-desktop {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  &__block {
    grid-column: 1 / 3;

    min-height: 290px;
    border-radius: 12px;

    text-align: center;

    background-color: #111;

    @include for-desktop {
      // min-height: 700px;
    }

    &--1 {
      @include for-ipad-pro {
        grid-column: 1 / 5;
      }

      @include for-desktop {
        grid-column: 1 / 5;
      }
    }

    &--2 {
      @include for-ipad-pro {
        grid-column: 5 / 9;
      }

      @include for-desktop {
        grid-column: 5 / 9;
      }
    }

    &--3 {
      @include for-ipad-pro {
        grid-column: 9 / 13;
      }

      @include for-desktop {
        grid-column: 9 / 13;
      }
    }
  }

  &__description {
    padding: 5px 20px 20px;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    @include for-desktop {
      margin-top: 60px;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__image {
    display: block;
    width: 50px;

    @include for-desktop {
      width: 80px;
    }
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    letter-spacing: -0.02em;

    @include for-desktop {
      font-size: 32px;
      line-height: 42px;
    }

    &--secondary {
      margin-right: 90px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    margin: 30px 20px;
  }
}
