@use '../utils/mixins' as *;
@use 'sass:color';

.why {
  background-color: #0b0c0b;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 25px;

  @include for-laptop {
    flex-direction: row;
    justify-content: space-between;
  }

  @include for-desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  &__block {
    background-color: #111;
    border-radius: 12px;
    flex: 1 1 100%;
    padding: 20px;
    text-align: center;

    @include for-laptop {
      flex: 1 1 33%;
      max-width: 33%;
    }
  }

  &__wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__image {
    display: block;
    height: auto;
    width: 60px;
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 28px;
    text-align: left;

    &--secondary {
      margin-right: 90px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 10px;
    text-align: left;
  }
}
