.wrapper {
  margin: 0 auto;
  max-width: 1194px;
  padding: 0 30px;

  @include desktop {
    padding: 0 43px;
  }

  @include tablet {
    padding: 0 34px;
  }

  &--left {
    @include tablet {
      padding: 0 0 0 34px;
    }
  }

  &--right {
    @include tablet {
      padding: 0 34px 0 0;
    }
  }

  &--full {
    padding: 0;

    @include desktop {
      padding: 0 43px;
    }

    @include tablet {
      padding: 0 34px;
    }
  }
}
