.wrap {
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 123px;
  }

  &-presentation {
    max-width: 1440px;
    padding: 0 12px;
    margin: 0 auto;

    @include onTablet {
      padding: 0 34px;
    }

    @include onDesktop {
      padding: 0 123px;
    }
  }

  &-features {
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;

    @include onTablet {
      padding: 0 34px;
    }

    @include onDesktop {
      padding: 0 123px;
    }
  }
}
