@mixin benefits-text-desktop-mixin {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color:#333333;
}

@mixin benefits-titles-desktop-mixin {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color:#333333;
}
