.header {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 110px;

  @include on-tablet {
    margin-bottom: 140px;
  }

  @include on-desktop {
    margin-bottom: 170px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include on-tablet {
      @include content-space-inline;

      gap: 100px;
    }

    @include on-desktop {
      gap: 60px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
    width: 100%;

    @include on-tablet {
      @include page-grid;
    }
  }

  &__images {
    @include on-tablet {
      grid-column: 4/-1;
      order: 1;
      z-index: 1;
      align-self: last baseline;
    }

    @include on-desktop {
      grid-column: 5/-1;
    }
  }
}
