.info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include content-space-inline;

  @include on-tablet {
    margin-inline: 0;
    padding-inline: 0;
    gap: 30px;
    grid-column: 1/4;
    z-index: 2;
    align-self: last baseline;
  }

  @include on-desktop {
    grid-column: 1/5;
  }

  &__title {
    display: block;
    margin: 0;
    padding: 0;
  }

  &__description {
    display: block;
    margin: 0;
    padding: 0;

    @include main-text;
  }
}
