.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-block: 25px;

  @include content-space-inline;

  @include on-tablet {
    padding-block: 30px;
    margin: 0;
    padding-inline: 0;
  }

  &__logo-link {
    display: flex;
    width: 161px;
    height: 26px;
    margin: 0;
    padding: 0;
    background-image: url(../images/icons/logo.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include hover(transform, scale(1.2));
  }

  &__close {
    display: block;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;

    background-image: url(../images/icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include hover(transform, scale(1.2));
  }
}

.tools {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 30px;

  &__specs {
    display: none;

    @include on-tablet {
      display: block;
      margin: 0;
      padding: 0;

      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #4f4f4f;
      text-decoration: none;

      @include hover(transform, scale(1.2));
    }

    &--menu {
      display: block;
      margin: 0;
      padding: 0;

      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #4f4f4f;
      text-decoration: none;

      @include hover(transform, scale(1.2));

      @include on-tablet {
        display: none;
      }
    }
  }

  &__languages {
    display: none;

    @include on-tablet {
      display: block;
      margin: 0;
      padding: 0;
      width: 49px;
      height: 18px;

      background-image: url(../images/icons/language-en.svg);

      @include hover(transform, scale(1.2));
    }

    &--menu {
      display: block;
      margin: 0;
      padding: 0;
      width: 49px;
      height: 18px;

      background-image: url(../images/icons/language-en.svg);

      @include hover(transform, scale(1.2));

      @include on-tablet {
        display: none;
      }
    }
  }

  &__buy {
    display: none;

    @include on-tablet {
      display: block;
      margin: 0;
      padding: 0;
      width: 100px;
      height: 48px;
      background-color: #333;

      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 48px;
      color: #fff;

      @include hover(transform, scale(1.2));

      &:hover {
        background-color: #131313;
      }

      &:disabled {
        background-color: #d0d0d0;
      }
    }
  }

  &__menu {
    display: block;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;

    background-image: url(../images/icons/menu.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include hover(transform, scale(1.2));

    @include on-desktop {
      display: none;
    }
  }
}
