.benefits-list {
  display: flex;
  column-gap: 30px;

  @extend .grid;

  @include onTablet {
    display: grid;
  }

  &__benefit {
    width: 100%;
    flex-shrink: 0;

    @include onTablet {
      display: contents;
    }
  }
}
