.benefits {
  @extend %section-width-limitatiom;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    width: 270px;
    transition: width 1s;
  }
}

@media (max-width: 1150px) {
  .benefits {
    grid-template-columns: repeat(2, 260px);
    justify-content: space-around;
    gap: 40px;
  }
}
@media (max-width: $phone-break-point) {
  .benefits {
    grid-template-columns: 270px;
    justify-content: center;
    align-content: center;
  }
}
