@import "../vars";
@import "../mixins";
@import "../reset";
@import "../logo";
@import "../cart-styles/header-cart";
@import "../cart-styles/progress";
@import "../cart-styles/product";
@import "../cart-styles/summary";
@import "../cart-styles/delivery";
@import "../footer";

body {
  background: #f7f7f7;
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-family-helv;
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}
