@import "../vars";
@import "../mixins";

.delivery {

  &,
  &__wrapper {
    @extend %display-flex-row;
  }

  &__wrapper {
    margin: 40px 0 8px 100px;
  }

  &__icon {
    width: 44px;
    height: 22px;
    margin-right: 28px;
  }

  &__text {
    color: $text-color-dark-grey;
    line-height: 20px;
    font-weight: 500;
    font-style: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .delivery {
    &,
    &__wrapper {
      justify-content: flex-start;
      align-items: flex-start;

    }
  }
}

@media screen and (max-width: 500px) {
  .delivery {
    position: relative;
    bottom: 400px;
    &__wrapper {
      margin: 0;
    }
  }
}
