@import "../vars";

.delivery {

  &,
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    margin: 40px 0 8px 100px;
  }

  &__icon {
    width: 44px;
    height: 22px;
    margin-right: 28px;
  }

  &__text {
    color: $text-color-dark-grey;
    line-height: 20px;
    font-weight: 500;
    font-style: 18px;
  }
}
