@import "../vars";

.header-cart {
  &__logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    padding-left: $wide-screen-margin;
  }

  &__logo {
    margin-bottom: 55px;
  }

  &__back {
    &:hover {
      stroke: #000;
      fill: #000;
    }
  }
}

@media only screen 
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
  .header-cart {
    &__logo-container {
      padding-left: 32px;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .header-cart {
    &__logo-container {
      padding-left: 32px;
    }
  }
}
