@import "../vars";
@import "../reset";
@import "../logo";
@import "../cart-styles/header-cart";
@import "../cart-styles/progress";
@import "../cart-styles/shipping";
@import "../footer";

body {
  background: #f7f7f7;
  max-width: 1440px;
  margin: 0 auto;
}

.payment {
  &__wrapper,
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__wrapper {
    margin: 90px auto;
    width: 582px;
    height: 486px;
    
    background-color: #fff;
  }

  &__credit-cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    margin: 50px 9px 0;
  }

  &__input-big,
  &__input-middle,
  &__input-small {
    height: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $text-color-light-grey;
  }

  &__input-big {
    width: 378px;
    margin-top: 12px;
  }

  &__input-middle {
    width: 72px;
    margin-left: 20px;
  }

  &__input-small {
    width: 23px;
  }

  &__form-wrapper {
    width: 378px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }

  &__text {
    margin-top: 42px;

    font-size: 12px;
    line-height: 14px;
    color: $text-color-grey;

    &--colored {
      font-size: 10px;
      line-height: 12px;
      color: rgba(12, 121, 122, 0.3);
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }
}
