@import "../vars";
@import "../cart-styles/summary";

.shipping {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    margin-top: 120px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 378px;
    height: 35px;
    margin-top: 30px;

    background-color: #f7f7f7;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $text-color-light-grey;

    &::placeholder {
      color: $text-color-grey;
      font-style: 12px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  &__return {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $text-color-dark-grey;
  }
}

@media screen and (max-width: 600px) {
  .shipping {
    &__wrapper,
    &__form {
      width: 90vw;
    }
    
    &__input {
      width: 90vw;
    }

    &__nav {
      flex-direction: column-reverse;
    }

    &__return {
      margin-top: 40px;
    }
  }
}
