.core-features {
  @include on-mobile {
    display: none;
  }
  &__container {
    padding-top: 60px;
    background-color: #d6ecec;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;

    @include on-tablet {
      grid-template-columns: repeat(8, 1fr);
    }

    @include on-mobile {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      row-gap: -1000px;
    }
  }
  &__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
  }
}
