.core-card {
  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    color: #0c797a;
    margin-bottom: 30px;

    @include on-tablet {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
    }
  }
  &__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    list-style: disc;

    @include on-tablet {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item-1 {
    @include on-tablet {
      display: none;
    }

    grid-column: 2/6;
  }
  &__item-2 {
    @include on-tablet {
      display: none;
    }

    grid-column: 7/10;
  }
  &__item-3 {
    grid-column: 2/6;
    grid-row: 2;

    @include on-tablet {
      grid-row: 1;
      max-width: 238px;
    }

    @include on-mobile {
      max-width: 100%;
      grid-column: span 4;
      padding: 0 30px;
    }
  }
  &__item-4 {
    height: 100%;
    grid-column: 7/13;
    grid-row: 2;

    @include on-tablet {
      grid-column: 4/9;
    }

    @include on-mobile {
      grid-column: span 4;
      grid-row: 3;
    }
  }
  &__item-5 {
    display: none;

    @include on-tablet {
      margin-top: 50px;
      display: block;
      grid-row: 2;
      grid-column: 2/4;
    }
  }
}
