.nav {
  text-transform: uppercase;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__link {
    text-decoration: none;

    &:first-child {
      color: #131313;
    }
  }
}
