.btn {
  padding: 15px 40px;
  background: #333;
  text-decoration: none;
  transition: $time;
  color: $main-c-bg;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  &:hover {
    scale: 105%;
    background-color: #131313;
    box-shadow: $shadow;
  }

  &--aqua {
    background: #0db2b3;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    transition: $time;
    color: #fff;

    &:hover {
      scale: 105%;
      background: #0c797a;
    }
  }
}
