.designed {
  &__header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    @include onTab {
      grid-column: 6 / 10;
      grid-row: 1 / 2;
    }

    @include onDesk {
      grid-column: 8 / 14;
    }
  }

  &__img {
    margin-top: 30px;
    width: 100%;
    height: 220px;
    background: url("../images/designer.jpg") center / cover no-repeat;
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    @include onTab {
      height: 100%;
      margin-top: 0;
      grid-column: 1 / 6;
      grid-row: 1 / 4;
    }

    @include onDesk {
      grid-column: 2 / 8;
    }
  }

  &__descr {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    @include onTab {
      grid-column: 6 / 10;
      grid-row: 2 / 3;
    }

    @include onDesk {
      grid-column: 8 / 14;
    }
  }

  &__link {
    margin-top: 30px;
    grid-column: 2 / 4;
    grid-row: 4 / 5;

    @include onTab {
      margin-bottom: 80px;
      grid-column: 6 / 8;
      grid-row: 3 / 4;
    }

    @include onDesk {
      grid-column: 8 / 10;
    }
  }
}
