.footer {
  padding: 169px 0 30px;

  &__header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    @include onTab {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }

    @include onDesk {
      grid-column: 1 / 7;
    }
  }

  &__form {
    margin-top: 20px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    @include onTab {
      margin-top: 0;
      grid-column: 5 / 9;
      grid-row: 1 / 2;
    }

    @include onDesk {
      grid-column: 7 / 13;
    }
  }

  &__logo {
    display: none;

    @include onTab {
      display: block;
      margin-top: 140px;
      grid-column: 4 / 6;
      grid-row: 2 / 3;
    }

    @include onDesk {
      grid-column: 6 / 8;
    }
  }

  &__social {
    margin-top: 90px;
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    @include onTab {
      margin-top: 35px;
      grid-column: 4 / 6;
      grid-row: 3 / 4;
    }

    @include onDesk {
      grid-column: 6 / 8;
    }
  }

  &__btn-aqua {
    margin-top: 30px;
  }

  &__btn {
    display: none;
    width: 20px;
    height: 25px;
    background: url("../images/icons/I.svg") center / contain no-repeat;

    @include onTab {
      display: block;
      align-self: end;
      margin-left: auto;
      grid-column: 8 / 9;
      grid-row: 2 / 3;
    }

    @include onDesk {
      grid-column: 12 / 13;
    }
  }

  &__descr {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    margin-top: 15px;
    text-align: center;
    color: #bdbdbd;

    @include onTab {
      grid-column: 1 / -1;
    }
  }
}

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 3px 10px;
  border: 1px solid #828282;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #bdbdbd;

  @include onTab {
    padding: 13px 30px;
  }

  &--textarea {
    min-height: 120px;

    @include onTab {
      min-height: 205px;
    }

    @include onDesk {
      min-height: 130px;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  gap: 50px;

  &__link {
    width: 22px;
    height: 22px;
    transition: $time;

    @include onTab {
      width: 25px;
      height: 25px;
    }

    &--fb {
      background: url("../images/icons/facebook.svg") center / contain no-repeat;

      &:hover {
        scale: 120%;
      }
    }

    &--tw {
      background: url("../images/icons/twitter.svg") center / contain no-repeat;

      &:hover {
        scale: 120%;
      }
    }

    &--insta {
      background: url("../images/icons/insta.svg") center / contain no-repeat;

      &:hover {
        scale: 120%;
      }
    }
  }

}
