.grid {
  display: grid;
  grid-template-columns: 15px 1fr 1fr 15px;
  gap: 20px;

  @include onTab {
    grid-template-columns: 20px repeat(8, 1fr) 30px;
  }

  @include onDesk {
    grid-template-columns: 20px repeat(12, 1fr) 20px;
    gap: 30px;
  }
}
