.grid {
  display: grid;
  grid-template-columns: $grid-mob;
  gap: 20px;

  @include onTab {
    grid-template-columns: $grid-tab;
  }

  @include onDesk {
    grid-template-columns: $grid-desk;
    gap: 30px;
  }
}
