.luna {
  &__header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    @include onTab {
      grid-column: 2 / 6;
      grid-row: 1 / 2;
    }

    @include onDesk {
      grid-column: 2 / 8;
    }
  }

  &__img {
    width: 100%;
    height: 220px;
    background: url("../images/luna.jpg") center / cover no-repeat;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    cursor: pointer;
    transition: $time;
  
    &:hover {
      scale: 105%;
    }

    @include onTab {
      height: 100%;
      grid-column: 6 / 11;
      grid-row: 1 / 4;
    }

    @include onDesk {
      grid-column: 8 / 14;
    }
  }

  &__descr {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    @include onTab {
      grid-column: 2 / 6;
      grid-row: 2 / 3;
    }

    @include onDesk {
      grid-column: 2 / 8;
    }
  }

  &__link {
    margin-top: 30px;
    grid-column: 2 / 4;
    grid-row: 4 / 5;

    @include onTab {
      margin-bottom: 150px;
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }

    @include onDesk {
      grid-column: 2 / 5;
    }
  }
}
