.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__box {
    display: flex;
    gap: 5px;
  }

  &__text {
    padding: 10px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #4f4f4f;
  }
}
