.text-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;

  @include onTab {
    font-size: 36px;
    line-height: 46px;
  }

  @include onDesk {
    font-size: 56px;
    line-height: 70px;
  }

  &--h1 {
    font-size: 40px;
    line-height: 52px;

    @include onTab {
      font-size: 48px;
      line-height: 62px;
    }

    @include onDesk {
      font-size: 62px;
      line-height: 78px;
    }
  }
}

.text-subheader {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.text-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  &--h {
    font-size: 16px;
    line-height: 24px;
  }
}
