.feature {
  margin-bottom: 109px;

  &__h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #333;
    display: flex;

    padding: 0 34px;
    padding-bottom: 32px;

    @include tablet {
      padding: 0 125px;
      padding-bottom: 40px;
    }
  }

  &__containers {
    background-color: #d6ecec;

    @include tablet {
      margin: 0 34px;
    }

    @include desktop {
      margin: 0 123px;
    }

  }

  &__block1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 34px;

    @include tablet {
      padding: 0 90px;
      display: flex;
      align-items: flex-start;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__sound {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #0c797a;
    padding-bottom: 20px;
    padding-top: 30px;
  }

  &__item {
    padding-bottom: 10px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    text-decoration: none;
  }

  &__block2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 90px;
    }
  }

  &__img {
    padding-top: 50px;

    @include tablet {
      padding-right: 110px;
    }

    @include desktop {
      display: none;
    }
  }

  &__photo {
    @include tablet {
      max-width: 390px;
      height: 240px;
    }

    @include desktop {
      display: none;
    }
  }

  &__photo-2 {
    display: none;

    @include desktop {
      display: block;
      position: relative;
      left: 90px;
      width: 500px;
      height: 300px;
    }
  }

  &__wrap1280px2 {
    display: none;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      padding: 0 90px;
      padding-top: 56px;
      padding-bottom: 110px;
    }
  }
}
