.footer {
  scroll-behavior: smooth;

  &__wrap-for2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 110px;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 25px;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }

  &__block1 {
    @include tablet {
      grid-column: 1 / 4;
    }

    @include desktop {
      grid-column: 1 / 6;
    }
  }

  &__title {
    text-align: center;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    
    @include tablet {
      max-width: 339px;
      margin-top: -138px;
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      text-align: start;
    }

    @include desktop {
      max-width: 584px;
      font-size: 56px;
      text-align: start;
    }

  }

  &__block2 {
    @include tablet {
      grid-column: 5 / 8;
    }

    @include desktop {
      grid-column: 6 / 12;
    }
  }
  
  &__input {
    margin-bottom: 20px;
    width: 260px;
    height: 48px;
    border: 1px solid #828282;

    &::placeholder {
      position: relative;
      left: 36px;
    }

    &:hover {
      border-color: #0c797a;
    }

    @include tablet {
      width: 340px;
    }

    @include desktop {
      width: 580px;
    }
  }

  &__input2 {
    margin-bottom: 30px;
    width: 260px;
    height: 128px;
    border: 1px solid #828282;

    &::placeholder {
      position: relative;
      bottom: 30px;
      padding-left: 36px;
    }

    @include tablet {
      width: 340px;
    }

    @include desktop {
      width: 580px;
    }
  }

  &__button {
    width: 102px;
    height: 40px;
    background-color: #0db2b3;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #0c797a;
      transform: scale(1.1);
      transition: 0.3s;
    }

    &:disabled {
      background-color: #cfeff0;
    }

    @include desktop {
      width: 120px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__wrap-button3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__buttom1 {
    display: none;

    @include tablet {
      display: flex;
      padding-bottom: 64px;
    }
  }

  &__buttom2 {
    padding-bottom: 35px;

    @include tablet {
      padding-bottom: 60px;
    }
  }

  &__lo1 {
    padding-right: 60px;

  }

  &__lo2 {
    padding-right: 60px;
  }

  &__buttom3 {
    padding-bottom: 30px;
  }

  &__arrow {
    position: absolute;
    right: 46px;
    
  }
}
