.future {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__block-for2 {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 20px;
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 60px;
    }
  }

  &__block1 {
    max-width: 280px;
    @include tablet {
      margin-bottom: 115px;
      grid-column: 1 / 4;
      grid-row: 1;
    }

    @include desktop {
      grid-column: 1 / 6;
      grid-row: 1;
    }
  }

  &__title {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: $black;

    padding-bottom: 30px;

    @include tablet {
      display: none;
    }

    @include desktop {
      font-size: 56px;
    }

  }

  &__img {
    padding-bottom: 20px;

    @include tablet {
      width: 374px;
      height: 415px;
    }

    @include desktop {
      width: 582px;
      height: 388px;
    }
  }

  &__block2 {
    max-width: 280px;
    @include tablet {
      max-width: 300px;

      grid-column: 6 / 8;
      grid-row: 1;
    }

    @include desktop {
      max-width: 570px;

      grid-column: 8 / 12;
      grid-row: 1;
    }

  }

  &__title2 {
    display: none;

    @include tablet {
      display: grid;
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      color: $black;

      padding-bottom: 30px;
    }
  }

  &__desk {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;

    padding-bottom: 30px;

    @include tablet {
      padding-bottom: 60px;
    }
  }

  &__button {
    margin-bottom: 115px;

    @include tablet {
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.4s;
    }

    &::after {
      content: "";
      display: block;
      width: 53px;
      height: 1px;
      background-color: #0db2b3;
      margin-top: 5px;
    }
  }

  &__but {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0db2b3;
  }

  &__block11 {
    max-width: 280px;

    @include tablet {
      margin-bottom: 115px;
      grid-column: 5 / 8;
      grid-row: 1;
    }
 
    @include desktop {
      grid-column: 6 / 12;
      grid-row: 1;
    }
  }

  &__block22 {
    max-width: 280px;

    @include tablet {
      max-width: 300px;

      grid-column: 1 / 4;
      grid-row: 1;
    }

    @include desktop {
      max-width: 570px;

      grid-column: 1 / 6;
      grid-row: 1;
    }
  }
}
