.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;

  @include tablet {
    margin-bottom: 140px;
  }

  @include desktop {
    margin-bottom: 170px;
  }
  
  &__wrap-nav {
    padding-top: 25px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 42px;
    }
  }

  &__block-for3 {
    display: none;

    @include tablet {
      display: flex;
      gap: 25px;
    }

    @include desktop {
      gap: 40px;
    }
  }

  &__log {
    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  &__specs {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #4f4f4f;

    padding-top: 3px;

    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__en {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #828282;

    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__buy {
    width: 100px;
    height: 48px;
    background-color: #333;

    &:disabled {
      background-color: #d0d0d0;
    }

    &:hover {
      background-color: #131313;
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  &__bu {
    display: flex;
    justify-content: center;
    padding-top: 17px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
  }

  &__content {
    max-width: 700px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(1, 1fr);
      max-width: 1279px;
    }
  }

  &__img {
    padding-top: 25px;
    padding-bottom: 40px;

    @include tablet {
      grid-column: 4 / 8;
      grid-row: 1;
      margin-top: 120px;
    }

    @include desktop {
      margin-bottom: 200px;
      padding-bottom: 0;
    }
  }

  &__wrap-title {
    @include tablet {
      grid-column: 1 / 4;
      grid-row: 1;
      margin-top: 135px;
    }

    @include desktop {
      margin-top: 180px;
    }
  }

  &__imgo {
    @include tablet {
      width: 429px;
      height: 317px;
    }

    @include desktop {
      width: 615px;
      height: 460px;
      margin-top: 0;

    }
  }

  &__title {
    width: 260px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #333;

    @include tablet {
      width: 300px;
    }

    @include desktop {
      font-weight: 700;
      font-size: 62px;
      line-height: 78px;
    }
  }

  &__desk {
    width: 260px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;

    padding-top: 20px;

    @include desktop {
      padding-top: 30px;
    }
  }
}
