.nav {
  display: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: grid;
    height: 30px;

  }

  &__list {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 84px;
    }
  }

  &__link {
    @include desktop {
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $black;
    }

    
  }

  &__link-black {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #131313;
  }
}
