.nav {
  display: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: grid;

  }

  &__list {
    @include desktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 90px;
    }
  }

  &__item {
    @include desktop {
      grid-column: 2 / 4;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }

  &__item2 {
    @include desktop {
      grid-column: 4 / 6;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }

  &__item3 {
    @include desktop {
      grid-column: 6 / 8;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }

  &__item4 {
    @include desktop {
      grid-column: 8;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }

  &__item5 {
    @include desktop {
      grid-column: 10 / 12;

      &:hover {
        transform: scale(1.2);
        transition: 0.3s;
      }
    }
  }

  &__link {
    @include desktop {
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $black;
    }

    
  }

  &__link-black {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #131313;
  }
}
