.benefits {
  @include page-grid;

  @include for-tablets {
    row-gap: 65px;
  }

  @include page-paddings;

  &__nav {
    grid-column: span 12;
    margin: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;

    @include for-desktops {
      display: block;
    }
  }
}
