.language {
  display: flex;
  height: 18px;
  gap: 20px;
  width: fit-content;
  margin-bottom: 162px;

  @include for-tablets {
    margin: 0;
  }

  &__text {
    color: #4f4f4f;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.93px;
  }

  &__icon {
    display: block;
    background-image: url(/src/images/add/en-lagnuage.png);
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18px;
    transition: background-image $animation-duration ease;

    &:hover {
      background-image: url(/src/images/add/ua-language.png);
    }
  }

  &--aside {
    @include for-tablets {
      display: none;
    }
  }
}
