.presentation {
  min-height: 195px;
  padding-inline: 12px;

  @include for-tablets {
    padding-inline: 34px;
  }

  @include for-desktops {
    padding-inline: 297px;
  }

  &__image {
    width: 100%;
    height: auto;
    transition: all $animation-duration ease;

    &:hover {
      box-shadow:
        rgba(0, 0, 0, 0.25) 0 54px 55px,
        rgba(0, 0, 0, 0.12) 0 -12px 30px,
        rgba(0, 0, 0, 0.12) 0 4px 6px,
        rgba(0, 0, 0, 0.17) 0 12px 13px,
        rgba(0, 0, 0, 0.09) 0 -3px 5px;
      transform: scale(1.02);
    }

    @include for-desktops {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
