.presentation {
  min-height: 195px;
  padding-inline: 12px;
  display: flex;
  justify-content: center;

  @include for-tablets {
    padding-inline: 34px;
  }

  @include for-desktops {
    padding-inline: 297px;
  }

  &__image {
    width: 100%;
    height: auto;
    transition: all $animation-duration ease;

    &:hover {
      box-shadow:
        25px 0 20px -20px rgba(0, 0, 0, 0.45),
        -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    }

    @include for-desktops {
      max-width: 845px;
    }
  }
}
