.questions {
  @include page-paddings;
  @include page-grid;

  &__form {
    display: grid;
    row-gap: 20px;
    grid-column: span 4;

    @include for-desktops {
      grid-column: 7 / span 6;
    }
  }

  &__bar {
    background: inherit;
    height: 48px;

    &--big {
      height: 128px;

      @include for-tablets {
        height: 201px;
      }

      @include for-desktops {
        height: 128px;
      }
    }
  }

  &__input {
    box-sizing: border-box;
    background: inherit;
    height: 48px;
    border: 1px solid #828282;
    width: 100%;
    padding: 12px 20px;
    transition: border $animation-duration;

    @include text-set(16px, 400, 24px);

    @include for-tablets {
      padding: 12px 30px;
    }

    @include for-desktops {
      padding: 12px 36px;
    }

    &::placeholder {
      @include text-set(16px, 400, 24px);

      color: #bdbdbd;
      transition: color $animation-duration;
    }

    &:hover::placeholder {
      color: $dark-color;
    }

    &:focus::placeholder {
      color: $dark-color;
    }

    &--big {
      height: 128px;
      resize: none;
      padding: 12px 20px;

      @include for-tablets {
        height: 201px;
        padding: 12px 30px;
      }

      @include for-desktops {
        height: 128px;
        padding: 16px 36px;
      }
    }

    &:focus {
      border: 1px solid #0c797a;
      outline: none;
    }

    &:valid {
      border-color: #eb5757;
    }
  }

  &__buttons {
    display: block;
    height: 40px;
    width: 102px;
    margin-top: 10px;
  }

  &__button {
    border: none;
    color: #f8f8fa;
    background-color: $mint-green-color;
    height: 100%;
    width: 100%;
    opacity: 0.65;
    transition: all $animation-duration ease;

    @include text-set(12px, 700, 14px);

    text-transform: uppercase;

    &:disabled {
      background-color: $mint-green-color;
      pointer-events: none;
    }

    .questions__form:valid & {
      background-color: #39bebf;
      cursor: pointer;
      pointer-events: auto;

      &:hover {
        background-color: $dark-turquoise-color;
      }
    }
  }
}
