.main {
  display: flex;
  flex-direction: column;
  row-gap: 110px;
  margin-block: 110px;

  @include on-tablet {
    gap: 140px;
    margin-block: 140px;
  }

  @include on-desktop {
    gap: 170px;
    margin-block: 170px;
  }

  &__nav {
    display: none;

    @include on-desktop {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 76px;
    }
  }
}
