.page {
  scroll-behavior: smooth;

  &__body {
    min-width: 320px;
    color: $grey-33;
    background-color: $grey-f7;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);

    opacity: 0;

    transition: all 0.3s;

    &:target {
      pointer-events: all;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
