@import './card';

.benefits {
  &__content {
    @include page-grid;
  }

  &__card {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 3;
    }
  }
}
