.card {
  display: none;
  flex-direction: column;
  align-items: center;

  &:first-child {
    display: flex;
  }

  @include on-tablet {
    display: flex;
  }

  &__logo {
    width: 50px;
    height: 50px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;

    &--triangle {
      background-image: url(../images/svg/triangle.svg);
    }

    &--volume {
      background-image: url(../images/svg/volume.svg);
    }

    &--wifi {
      background-image: url(../images/svg/wifi.svg);
    }

    &--brightness {
      background-image: url(../images/svg/brightness.svg);
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__description {
    text-align: center;
  }
}
