@mixin small-padding-top () {
  padding-top: 80px;

  @media (max-width: $tabletSize) {
    padding-top: 50px;
  }
}

@mixin big-padding-top () {
  padding-top: 150px;

  @media (max-width: $tabletSize) {
    padding-top: 100px;
  }

  @media (max-width: $mobileSize) {
    padding-top: 50px;
  }
}
