$color-bg: #D6ECEC;
$color-button: #0DB2B3;
$color-button-hover: #0C797A;
$color-button-disable: #CFEFF0;
$color-darkest: #131313;
$color-dark-main: #333;
$color-text-grey: #7C7C7C;
$color-light: #BDBDBD;
$color-white: #fff;

$transition: 0.3s ease-in;
