$color-bg: #d6ecec;
$color-background: #f7f7f7;
$color-button: #0db2b3;
$color-button-hover: #0c797a;
$color-button-disable: #cfeff0;
$color-darkest: #131313;
$color-dark-main: #333;
$color-text-grey: #7c7c7c;
$color-light: #bdbdbd;
$color-white: #fff;

$transition: 0.3s ease-in;
