//Colors
$bcgColor: #f6f6f6;
$white: #fff;
$whiteSmoke: #f2f2f2;
$lightGrey: #bdbdbd;
$grey: #7c7c7c;
$darkGrey: #4f4f4f;
$granit: #333;
$turquoise: #0db2b3;
$green: #0c797a;
$aliceBlue: #f3f4f5;

//Sizes
$iconSize: 48px;
$playBtnSize: 232px;
