.designed-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__item-1 {
    grid-column: span 6;
  }
  &__item-2 {
    grid-column: span 6;
  }
  &__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
    color: #333;

    @include on-tablet {
      font-size: 36px;
      font-weight: 700;
      line-height: 46px;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 60px;
    color: #7c7c7c;
  }
  &__info {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #0db2b3;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  &__info::after {
    content: '';
    display: block;
    width: 64.61px;
    height: 2px;
    background-color: #0db2b3;
    margin-top: 5px;
  }

  &__info:hover::after {
    width: 128px;
  }
}
