.design {
  display: grid;
  grid-row-gap: 170px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @include on-tablet {
    grid-template-columns: repeat(8, 1fr);
  }

  @include on-mobile {
    display: none;
  }
  &__item-1 {
    grid-column: span 12;
    grid-row: 1;

    @include on-tablet {
      grid-column: span 8;
    }
  }
  &__item-2 {
    grid-column: span 12;
    grid-row: 2;

    @include on-tablet {
      grid-column: span 8;
    }
  }
}
