.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__item {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }
  &__item--black {
    font-weight: 700;
    color: #131313;
  }
  &__link {
    color: #333;
    text-decoration: none;
  }
}
