.nav {
  @extend %section-width-limitatiom;

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  &__item {
    text-transform: uppercase;
  }
}
