.mobile {
  @extend %section-width-limitatiom;
  height: 100vh;
  width: 100%;
  display: none;
  visibility: hidden;
  padding-top: 20px;
  position: absolute;
  bottom: 100vh;
  z-index: 1;
  background-color: $features-question-highlight;
  transition: bottom 0.3s ease-in-out, visibility 0.3s;

  &__list {
    margin-top: 20vh;
  }
  &__item {
    margin-bottom: 8vh;
  }
  &__link {
    font-size: 36px;
    letter-spacing: -1px;
    text-transform: uppercase;
  }
}

@media (max-width: $phone-break-point) {
  .mobile {
    display: flex;
    flex-direction: column;
  }
}
