.luna {
  &__img {
    margin: 0 auto;
    display: block;
    height: auto;
    max-width: 845px;
    width: 100%;
    z-index: 2;

    @include hover(transform, scale($transform-scale));

    @include on-tablet {
      transform: translateX(30px);
      &:hover {
        transform: translateX(30px);
      }
    }

    @include on-phone {
      &:hover {
        transform: translateX(30px);
      }

      width: 100%;
      height: initial;
    }
  }
}
