.luna {
  overflow: hidden;

  &__img {
    margin: 0 auto;
    display: block;
    height: 520px;

    @include hover(transform, scale($transform-scale));

    @include onTablet {
      height: 430px;
    }

    @include onMobile {
      width: 100%;
      height: initial;
    }
  }
}
