.main {
  display: flex;
  flex-direction: column;
  gap: 170px;

  @include onTablet {
    gap: 140px;
  }

  @include onMobile {
    gap: 110px;
  }

  &__eye {
    position: relative;
  }

  &__slider {
    position: relative;
  }

  &__contacts {
    position: relative;
    margin-bottom: 170px;

    @include onTablet {
      margin-bottom: 140px;
    }

    @include onTablet {
      margin-bottom: 90px;
    }
  }
}
