.meet-luna {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  padding-inline: 12px;

  @include onTablet {
    margin-top: 140px;
    padding-inline: 34px;
  }

  @include onDesktop {
    margin-top: 170px;
  }

  &__img {
    width: 100%;
    max-width: 846px;
  }
}
