.message {
  &__content {
    @include onTablet {
      @include pageGrid;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: $main-text-color;
    padding-bottom: 27px;

    @include onTablet {
      font-size: 36px;
      line-height: 46px;
      grid-column: span 4;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
      grid-column: span 6;
    }
  }
}
