.quote {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/quote/qoutes.png);

    @include background-sets;

    background-size: 233px 192px;
    background-position: top;
    padding-top: 30px;

    @include on-phone {
      padding-top: 60px;
    }
  }

  &__text {
    color: $color-text-primary;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    max-width: 768px;
    margin-bottom: 42px;

    @include on-phone {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }

  &__img {
    margin-bottom: 20px;
    width: 62px;
    height: 62px;
  }

  &__autor {
    color: $color-text-primary;
    text-align: center;
    font-weight: 700;
    line-height: 22px;
    width: fit-content;
    margin-bottom: 5px;
  }

  &__job {
    color: $color-text-secondary;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    width: fit-content;
  }
}
