.header-top {
  display: flex;
  justify-content: start;

  @include onTablet {
    justify-content: space-between;
    align-items: center;
  }

  &__home-link {
    @include hover(transform, scale(1.05));
  }

  &__nav {
    display: none;

    @include onTablet {
      display: flex;
    }
  }
}
