.header-nav {
  display: none;

  @include onDesktop {
    display: block;
  }

  &__list {
    @include onDesktop {
      display: flex;
      justify-content: center;
      column-gap: 84px;
    }
  }

  &__link {
    display: inline-block;
    padding: 28px 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    color: $blackColor;

    transition: all 0.3s;

    &:hover {
      font-weight: 700;
      color: $darkBlackColor;
    }
  }
}
