.btn {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 17px;
  color: #fff;
  text-transform: uppercase;
  transition:  background-color 0.3s;
  &--narrow {
    padding: 13px;
  }
}
