.container {
  box-sizing: content-box;
  max-width: 1194px;
  padding: 0 30px;
  margin: 0 auto;

  @include tablet {
    padding: 0 34px;
  }

  @include mobile {
    padding: 0 30px;
  }
  
  &--none-mobile {
    @include mobile {
      padding: 0;
    }
  }

  &--none-tablet {
    padding: 0 30px;
    @media(max-width: 1024px) and (min-width:768px) {
      padding: 0;
    }
  }
}
