.contact {
  padding-bottom: 170px;

  @include tablet {
    padding-bottom: 140px;
  }
  @include mobile {
    padding-bottom: 113px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    gap: 0 30px;

    @include tablet {
      gap: 0 20px;
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
  }

  &__title {
    grid-column: 1/7;

    @include mobile {
      grid-column: 1 / 2;
      margin-bottom: 27px;
    }
  }
}

.form {
  grid-column: 7 / 13;

  @include mobile {
    grid-column: 1 / 2;
  }

  & input {
    margin-bottom: 20px;
  }

  &__field {
    resize: none;
    width: 100%;
    padding: 12px 36px;
    border: 1px solid $light-gray-borber;
    outline: none;
    font-family: inherit;

    @include tablet {
      padding: 12px 30px;
    }

    &:hover {
      box-shadow: inset 0 -3em 3em rgba(169, 167, 167, 0.1);
    }

    &::placeholder {
      font-size: 16px;
      color: $light-gray;
    }

    &:valid {
      border-color: $green-color;
    }
  
    &:invalid:focus {
      border-color: #EB5757;
    }
  }

  &__field-text  {
    margin-bottom: 30px;
    height: 128px;
  }

  &__btn {
    background-color: $light-green;
    border: none;
    width: 124px;

    @include tablet {
      width: 102px;
    }

    @include hover {
      &:hover {
        background-color: $green-color;
      }
    }
  }
}
