.footer {
  padding-bottom: 30px;

  @include mobile {
    padding-bottom: 20px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 63px;

    @include mobile {
      gap: 33px;
    }
  }

  &__copyright {
    color: $light-gray;
    font-size: 14px;
    line-height: 21px;

    @include mobile {
      text-align: center;
    }
  }

  &__go-top {
    position: absolute;
    right: 0;
    top: 0;

    @include mobile {
      display: none;
    }
  }
  
  &__logo {
    @include mobile {
      display: none;
    }
  }
}
