.lang {
  color: $dark-color;
  
  &__activ {
    transition: color 0.3s;

    &--no {
      color:$light-gray;

      @include hover {
        &:hover {
          color: black
        }
      }
    }
  }
}
