
.nav {
  padding-bottom: 95px;

  @include tablet {
    display: none;
  }
  
  &__list {
    display: flex;
    gap: 0 84px;
    align-items: center;
    justify-content: center;
  }

  &__link {
    position: relative;
    font-size: 14px;
    color: $dark-color;
    transition: text-shadow 0.3s;

    @include hover {
      &:hover{
        text-shadow: 0 0 .65px $black-color, 0 0 .65px $black-color;
      }
    }
  }
}
