.products {
  padding-bottom: 204px;
  
  @include tablet {
    padding-bottom: 140px;
  }

  @include mobile {
    padding-bottom: 110px;
  }

  &__image {
    display: block;
    max-width: 846px;
    height: auto;
    margin: 0 auto;
    object-position: center;
    object-fit: cover;
    
    @include tablet {
      max-width: 700px;
    }

    @include mobile {
      max-width: 100%;
      min-height: 195px;
      padding: 0 12px;
    }
  }
}