.social {
  display: flex;

  &__item {
    transition: transform 0.3s;
    
    @include hover {
      &:hover {
        transform: scale(1.2);
      }
    }

    &--fb {
     margin-right: 48px;
    }

    &--tw {
      margin-right: 44px;
    }
  }
}
