.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: $dark-color;
  text-transform: uppercase;

   &--center {
    text-align: center;
   }

  @include tablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include mobile {
    font-size: 30px;
    line-height: 40px;
  }
}
