.about-us {
  &__big-box1 {
    padding-bottom: 110px;

    @include onTablet {
      padding-bottom: 140px;
      background: url("../images/desktop/2.png") no-repeat;
      background-size: 49%;

      &:hover {
        background-position: 3% 3%;
        transition: all 1.3s;
      }
    }

    @include onSmaleDesktop {
      padding-bottom: 170px;
      background: none;
    }
  }
  &__big-box2 {

    @include onTablet {
      background: url("../images/desktop/Frame7.png") 100% 0 no-repeat;
      background-size: 49%;

      &:hover {
        background-position: 97% 3%;
        transition: all 1.3s;
      }
    }
    @include onSmaleDesktop {
      background: none;
    }
  }
  
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;

    @include onTablet {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 20px;
      min-height: 350px;
    }

    @include onSmaleDesktop {
      gap: 30px;
    }
  }

  &__empty-left {
    display: none;

    @include onTablet {
      display: flex;
      flex-basis: 50%;
    }

    @include onSmaleDesktop {
      width: 580px;
      height: 380px;
      background: url("../images/desktop/2.png") no-repeat;
      background-size: 100%;

      &:hover {
        transform: scale(1.1);
        transition: all 1.3s;
      }
    }
  }

  &__box-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  &__box {
    @include onTablet {
      display: none;
    }
  }

  &__text {
    padding: 20px 0 30px;
    color: $grey2;
  }

  &__title {
    padding-bottom: 30px;
  }

  &__link {
    display: flex;
    position: relative;
    padding-bottom: 6px;
    text-decoration: none;
    color: $green-default;
    
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 54px;
      height: 1px;
      background-color: $green-default;
    }
  }

  &__link:hover::after {
    width: 128px;
    transition: 0.8s;
  }

  &__image {
    width: 100%;

    &:hover {
      transform: scale(1.1);
      transition: all 1.3s;
    }
  }

  &__box-left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  &__empty-right {
    display: none;

    @include onTablet {
      display: flex;
      flex-basis: 50%;
    }

    @include onSmaleDesktop {
      width: 580px;
      height: 380px;
      background: url("../images/desktop/Frame7.png") no-repeat;
      background-size: 100%;

      &:hover {
        transform: scale(1.1);
        transition: all 1.3s;
      }
    }
  }
}
