.button {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 58px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  &--black {
    background-color: $button-default;
    &:hover {
      background-color: $button-hover;
    }
  }
  &--green {
    background-color: $green-default;
    &:hover {
      background-color: $green-hover;
    }
  }
}
