.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 30px;
  
  @include onTablet {
    padding: 0 34px;
  }
  
  @include onSmaleDesktop {
    padding: 0 123px;
  }
  
  @include onDesktop {
    padding: 0 200px;
  }
}
