.logo {
  transition: all 0.3s;
  position: sticky;
  z-index: 200;
  
  &__image {
    height: 26px ;
  }

  &:hover {
    transform: scale(1.2);
    transition: all 0.3s;
  }
  
  &--futer {
    display: none;

    @include onTablet {
      display: flex;
    }
  }
}
