.logo {
  transition: all 1.3s;

  &__image {
    height: 26px ;
  }

  &:hover {
    transform: scale(1.2);
    transition: all 1.3s;
  }
  
  &--futer {
    display: none;

    @include onTablet {
      display: flex;
    }
  }
}
