.touch {
  &__content {
    gap: 30px;
    padding: 90px 0 113px;
    
    @include onTablet {
      display: flex;
      padding: 140px 0;
    }

    @include onSmaleDesktop {
      padding: 190px 0;
    }
  }

  &__question {
    flex-basis: 50%;
    padding-bottom: 27px;
  }

  &__form {
    outline: none;
    flex-basis: 50%;

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      color: $grey1;
      background-color: $light;
    }

    &:hover {
      border-color: #0c797a;
    }
    
    &:focus {
      border-color: #0c797a;
    }
  }
  
  &__email {
    padding: 12px 20px;
    margin-bottom: 20px;
    width: 100%;
    color: $button-default;
    background: $light;
    border: 1px solid #828282;
    outline: none;
  }

  &__message {
    height: 130px;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 30px;
    @extend %fw400;
    font-size: 16px;
    line-height: 24px;
    color: $button-default;
    background: $light;
    border: 1px solid #828282;
    outline: none;
    resize: none;
  }
}
