.about-us {
  &__content {
    padding-top: 110px;

    @include on-tablet {
      padding-top: 140px;
    }

    @include on-desktop {
      padding-top: 170px;
    }
  }

  &__cards {
    gap: 110px;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      gap: 140px;
    }

    @include on-desktop {
      gap: 170px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;

    &--first {
      @include on-tablet {
        flex-direction: row;
      }
    }

    &--second {
      @include on-tablet {
        flex-direction: row-reverse;
      }
    }

    @include on-tablet {
      gap: 20px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }
}
