.menu {
  height: 100vh;

  @include on-desktop {
    display: none;
  }

  &__bottom {
    padding: 31px 0 50px;
    display: flex;
    flex-direction: column;
    height: 80%;

    @include on-tablet {
      padding-top: 40px;
    }
  }

  &__nav {
    padding: 0 0 50px;
    flex-direction: column;
  }

  &__activities {
    display: flex;
    gap: 20px;

    @include on-tablet {
      display: none;
    }
  }

  &__button {
    margin-top: auto;
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__list--aside {
    flex-direction: column;
    gap: 25px;

    @include on-tablet {
      gap: 40px;
    }
  }

  &__link {
    color: $greyC;
    transition-duration: $effectDuration;
    text-transform: uppercase;

    &:hover {
      color: $blackC;
      font-weight: 700;
    }

    &:active {
      color: $blackC;
      font-weight: 700;
    }
  }
}
