.navigation-menu {
  display: none;

  @include on-desktop {
    display: flex;
  }

  &__nav {
    @include on-desktop {
      padding-block: 28px;
      grid-column: 4 / 10;
    }
  }

  &__list {
    @include on-desktop {
      display: flex;
      width: 100%;
      flex-direction: row;
      gap: 84px;
    }
  }
}
