.presentation {
  .container {
    display: flex;
    justify-content: center;
  }

  &__video-container {
    position: relative;
    width: 100%;
    max-width: 846px;
  }

  &__video-container iframe {
    display: none;
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  &__video-cover {
    width: 100%;
    cursor: pointer;
    transition-duration: $effectDuration;

    @include hover(transform, scale(1.1));
  }
}
