.question {
  .container {
    @include page-grid;

    padding-top: 90px;
    padding-bottom: 206px;

    @include on-tablet {
      padding-block: 140px;
    }

    @include on-desktop {
      padding-block: 170px;
    }
  }

  .section-title {
    grid-column: 1 / -1;
    margin-bottom: 27px;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
