.testimonilas {
  .container {
    padding-block: 110px;

    @include on-tablet {
      padding-block: 140px;
    }

    @include on-desktop {
      padding-block: 170px;
    }
  }

  &__card {
    display: flex;
    background-image: url(../images/testimonilas/quotes-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 208px 171px;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include on-tablet {
      background-size: 233px 189px;
      margin: auto;
      max-width: 700px;
    }

    @include on-desktop {
      background-size: 233px 192px;
      max-width: 786px;
    }
  }

  &__quote {
    margin-top: 50px;
    margin-bottom: 30px;

    @include on-tablet {
      margin-top: 60px;
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-top: 42px;
      margin-bottom: 30px;
    }
  }

  &__img {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;

    @include on-tablet {
      margin-bottom: 20px;
    }
  }

  &__author {
    margin-bottom: 5px;
  }

  &__job {
    color: $lightGreyC;
  }
}
