.benefits {
  padding: 0 $mobileSideIntend;
  margin-bottom: 110px;

  @include tablet {
    padding: 0 $tabletSideIntend;
    margin-bottom: 140px;
  }

  @include desktop {
    padding: 0 $deskSideIntend;
    margin-bottom: 170px;
  }

  &__list {
    display: none;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 76px;
      margin-bottom: 60px;
    }

    &--link {
      color: $titleColor;
      text-align: center;
      text-decoration: none;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin-left: 84px;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover {
        font-weight: 700; 
      }
    }
  }

  &__contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    @include tablet {
      width: 700px;  
    }

    @include desktop {
      width: 1224px;
    }

    &--futuristic {

      @include tablet {
        margin-bottom: 65px;
      }

      @include desktop {
        margin-bottom: 0;
      }
    }

    &--speaker {
      display: none;

      @include tablet {
        display: flex;
        margin-left: 20px;
        margin-bottom: 65px;
      }

      @include desktop {
        margin-left: 30px;
        margin-bottom: 0;
      }
    }

    &--multiroom {
      display: none;

      @include tablet {
        display: flex;
      }

      @include desktop {
        margin-left: 30px;
      }
    }

    &--lighting {
      display: none;

      @include tablet {
        display: flex;
        margin-left: 20px;
      }

      @include desktop {
        margin-left: 30px;
      }
    }
  }
}
