.footer {
  padding-bottom: 30px;

  &__container {
    @include content-padding-inline;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    @include on-tablet {
      gap: 60px;
    }
  }

  &__logo {
    display: none;

    @include on-tablet {
      display: inline-block;
    }
  }

  &__to-top {
    position: absolute;
    display: none;

    @include on-tablet {
      top: 0;
      right: $on-tablet-padding-inline;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      height: 50px;
    }

    @include on-desktop {
      right: $on-desktop-padding-inline;
      width: 24px;
      height: 24px;
    }
  }

  &__social-media {
    display: flex;
    gap: 40px;
    align-items: center;

    @include on-tablet {
      gap: 49px;
    }

    @include on-tablet {
      gap: 40 px;
    }
  }

  &__terms {
    color: $grey-bd;
    text-align: center;

    @include on-tablet {
      gap: 49px;
    }
  }
}
