.page {
  scroll-behavior: smooth;

  &__body {
    font-family: $mainFontFamily;
    background-color: $whiteColor;
  }

  &__header {
    margin-bottom: 110px;
   
    @include onTablet {
      margin-bottom: 140px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 110px;

    margin-bottom: 110px;

    @include onTablet {
      row-gap: 140px;

      margin-bottom: 140px;
    }

    @include onDesktop {
      row-gap: 170px;

      margin-bottom: 170px;
    }
  }

  &__benefits {
    overflow-x: hidden;
  }
}
