.presentation {
  display: flex;
  padding-inline: 12px;

  @include on-tablet {
    @include content-padding-inline;
    @include content-grid;
  }

  &__img {
    display: inline-block;
    margin: 0 auto;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 3 / -2;
    }
  }
}
