.questions {
  &__container {
    @include content-grid;
    @include content-padding-inline;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__forms {
    grid-column: 1 / -1;
    margin-top: 27px;

    @include on-tablet {
      grid-column: span 4;
      margin-top: 0;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__form {
    &--message {
      margin-top: 20px;
    }
  }

  &__button {
    margin-top: 30px;
  }
}

.form {
  padding: 12px 20px;
  border: 1px solid $grey-82;

  &--message {
    height: 128px;

    @include on-tablet {
      height: 201px;
    }

    @include on-desktop {
      height: 128px;
    }
  }
}

.selected {
  border: 1px solid $green-0c;
}

.error {
  border: 1px solid #eb5757;
}
