.questions {
  padding: 0 $mobileSideIntend;
  margin-bottom: 110px;

  @include tablet {
    padding: 0 $tabletSideIntend;
    margin-bottom: 140px;
  }

  @include desktop {
    padding: 0 $deskSideIntend;
    margin-bottom: 170px;
  }

  &__contain {
    max-width: $mobileMaxWidth;
    margin: 0 auto;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: $tabletMaxWidth;
    }

    @include desktop {
      max-width: $deskMaxWidth;
    }

    &--title {
      width: 260px;
      height: 120px;
      margin-bottom: 27px;

      @include tablet {
        width: 339px;
        height: 93px;
      }

      @include desktop {
        width: 584px;
        height: 140px;
      }
    }

    &--field {
      width: 100%;

      @include tablet {
        width: 340px;
      }

      @include desktop {
        width: 582px;
      }
    }
  }
}