.quotes {
  @include content-padding-inline;
  @include content-grid;

  &__container {
    position: relative;
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);

    display: inline-block;

    height: 171px;

    @include on-tablet {
      height: 189px;
    }

    @include on-desktop {
      height: 192px;
    }
  }

  &__text {
    padding-top: 50px;

    @include on-tablet {
      padding-top: 60px;
    }

    @include on-desktop {
      padding-top: 42px;
    }
  }

  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    @include on-tablet {
      margin-top: 40px;
    }

    @include on-desktop {
      margin-top: 30px;
    }
  }
}
