@font-face {
  font-family: "Helvetica Neue";
  font-weight: 300;
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 500;
  src: url("../fonts/HelveticaNeueCyr-Medium.ttf");
}
