@mixin container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

@mixin onTablet {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile-nav-bg-color {
  background: linear-gradient(
    0deg,
    rgba(247,247,247,1) 0%,
    rgba(208,208,208,1) 43%,
    rgba(124,124,124,1) 100%);
}
