
@mixin container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

@mixin onTablet {
  @media (max-width: 769px) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 321px) {
    @content;
  }
}
