// DESKTOP
@mixin desktopH1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-transform: uppercase;
}

@mixin desktopH2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

@mixin desktopH3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

@mixin desktopH1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

@mixin desktopH5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

@mixin desktopH5-secondary {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

@mixin button {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

@mixin main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin secondary-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@mixin thirdary-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

@mixin quote {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

// TABLET

@mixin desktopH1-tablet {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  text-transform: uppercase;
}

@mixin desktopH2-tablet {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
}

@mixin desktopH3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

// MOBILE

@mixin desktopH1-mobile {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
}

@mixin desktopH2-mobile {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

@mixin desktopH3-mobile {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

@mixin quote-mobile {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
