$primaryBlackColor: #333;
$primaryBlackHoverColor: #131313;
$primaryGreenColor: #39bebf;
$primaryGreenHoverColor: #0c797a;
$primaryGreenDisabledColor: #cfeff0;
$secondaryGreenHover: #0db2b3;
$lightGreenColor: #d6ecec;
$darkLightColor: #4f4f4f;
$grayDarkColor: #7c7c7c;
$grayMediumColor: #bdbdbd;
$formFieldBorder: #828282;
$formFieldFocus: #e8bb32;

$fSize56: 56px;
$fSize40: 40px;
$fSize36: 36px;
$fSize34: 34px;
$fSize30: 30px;
$fSize22: 22px;
$fSize24: 24px;
$fSize18: 18px;
$fSize16: 16px;
$fSize14: 14px;
$fSize12: 12px;

$fWeightMedium: 500;
$fWeightBold: 700;

$transitionDuration: 0.3s;
