$primaryBlackColor: #333;
$primaryBlackHoverColor: #131313;
$primaryGreenColor: #39bebf;
$primaryGreenHoverColor: #0c797a;
$primaryGreenDisabledColor: #cfeff0;
$secondaryGreenHover: #0db2b3;
$grayDarkColor: #bdbdbd;
