.overview {
  @extend %section-width-limitatiom;
  padding-top: 0;
  overflow-x: hidden;

  &__photo {
    display: none;
  }
  &__headline {
    display: flex;
    justify-content: flex-start;
    margin: 80px 0;
  }
}

@media (max-width: $phone-break-point ) {
  .overview__photo {
    display: block;
    width: 140%;
  }
}
