@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

$tablet-max-width: 872px;

@mixin on-tablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

$mobile-max-width: 639px;

@mixin on-mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}
