@import './highlight/hightlight';
@import './meet-luna/meet-luna';
@import './our-story/our-story';
@import './quote/quote';
@import './features/features';
@import './contacts/contacts';

.main {
  display: flex;
  flex-direction: column;
  gap: 110px;

  &__nav {
    align-self: center;
    display: none;

    @include on-desktop {
      display: block;
    }
  }
}
