@import './highlight/hightlight';
@import './meet-luna/meet-luna';
@import './our-story/our-story';
@import './quote/quote';
@import './features/features';

.main {
  display: flex;
  flex-direction: column;
  gap: 110px;
}
