@import './benefits/benefits';
@import './presentation/presentation';
@import './our-story/our-story';
@import './quote/quote';
@import './features/features';
@import './contacts/contacts';

.main {
  display: flex;
  flex-direction: column;
  gap: 110px;

  &__nav {
    align-self: center;
    display: none;
    background-color: $bg-color;

    // position: sticky;
    // top: 0;
    // width: 100%;
    // @include content-padding-block;

    @include on-desktop {
      display: block;
    }
  }
}
