.footer {
  &__container {
    @include content-padding;
  }

  &__content {
    @include page-grid;
  }
}

.footer__link {
  display: none;

  @include on-tablet {
    display: block;

    grid-column: 1/-1;

    justify-self: center;
  }

  &-logo {
    width: 184px;
    height: 25px;
  }
}


.footer__socials {
  display: flex;
  align-items: center;
  justify-self: center;

  grid-column: 2/4;

  @include on-tablet {
    grid-column: 4/6;

    margin-top: 60px;
  }

  @include on-desktop {
    grid-column: 5/9;
  }
}

.footer__socials-facebook {
  height: 24px;
  width: 24px;
  background-image: url(/src/images/socilas/facebook.svg);
}

.footer__socials-twitter {
  height: 24px;
  width: 24px;
  background-image: url(/src/images/socilas/twitter.svg);
}

.footer__socials-instagram {
  height: 24px;
  width: 24px;
  background-image: url(/src/images/socilas/instagram.svg);
}

.footer__socials-margin {
  margin-right: 40px;

  @include on-tablet {
    margin-right: 50px;
  }

  @include on-desktop {
    margin-right: 40px;
  }
}

.footer__socials-margin:last-of-type {
  margin-right: 0;
}

.footer__terms {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #BDBDBD;

  grid-column: 1/-1;

  justify-self: center;

  margin-top: 30px;

  padding-bottom: 20px;

  @include on-tablet {
    margin-top: 60px;
  }
}
