.social {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  grid-column: 1/-1;

  &__item {
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include hover(transform, scale($transform-scale));

    &--fb {
      background-image: url(../images/icons/icon-fb.svg);
    }
    &--tw {
      background-image: url(../images/icons/icon-tw.svg);
    }
    &--ig {
      background-image: url(../images/icons/icon-ig.svg);
    }
  }

}
