.social {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  grid-column: 1/-1;

  &__item {
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include hover(transform, scale($transform-scale));

    &--fb {
      background-image: url(/src/images/icons/fb.svg);
    }
    &--tw {
      background-image: url(/src/images/icons/tw.svg);
    }
    &--ig {
      background-image: url(/src/images/icons/inst.jpg);
    }
  }
}
