.about__top {
  display: flex;
  gap: 30px;
  margin-bottom: 170px;
}

.about__title {
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 30px;
}

.about__desc {
  font-size: 16px;
  color: #7c7c7c;
  max-width: 582px;
  text-align: start;
  line-height: 24px;
  margin-bottom: 60px;
}

.about__more-text {
  font-size: 12px;
  width: 130px;
  text-transform: uppercase;
  position: relative;
  color: #0db2b3;
  font-weight: 700;
}

.about__more-text::before {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 1px;
  left: 0;
  right: 50%;
  background-color: #0db2b3;
  transition: right 0.3s ease;
}

.about__more-text:hover::before {
  right: 0;
}

.about__bottom {
  display: flex;
  gap: 30px;
  margin-bottom: 170px;
}

.about__top-mobile,
.about__bottom-mobile {
  display: none;
}

@media (max-width: 780px) {
  .about__img {
    content: url(/images/benefits/1-tab.jpg);
  }
  .about__img-bottom {
    content: url(/images/benefits/oko-tabl.jpg);
  }

  .about__list {
    display: none;
  }

  .about__top {
    margin-left: -34px;
  }

  .about__bottom {
    gap: 20px;
    margin-bottom: 140px;
    margin-right: -68px;
  }

  .about__title {
    font-size: 36px;
    line-height: normal;
  }
}

@media (max-width: 715px) {
  .about__bottom {
    margin-right: -81px;
  }
}

@media (max-width: 600px) {
  .about__top-mobile,
  .about__bottom-mobile {
    display: flex;
    flex-direction: column;
  }

  .about__top,
  .about__bottom {
    display: none;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .about__title {
    text-align: center;
  }

  .about__img {
    content: url(/images/benefits/1-mob.jpg);

    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .about__img-bottom {
    content: url(/images/benefits/oko-mob.jpg);
    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .about__top-mobile {
    margin-bottom: 110px;
  }

  .about__desc {
    margin: 0 auto;
    max-width: 340px;
    margin-bottom: 30px;
  }

  .about__more-text {
    text-align: center;
  }
}

.image-container {
  margin-top: 204px;
}

// @media (max-width: 767px) {
//   .about__img {
//     content: url(/images/benefits/1-tab.jpg);
//   }
//   .about__img-bottom {
//     content: url(/images/benefits/oko-tabl.jpg);
//   }

//   .about__top {
//     margin-left: -34px;
//   }

//   .about__bottom {
//     gap: 20px;
//     margin-bottom: 140px;
//     margin-right: -34px;
//     width: 100vw;
//   }

//   .about__title {
//     font-size: 36px;
//     line-height: normal;
//   }
// }
