.about {
  &__draw-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 158px;
  }

  &__draw {
    position: relative;
  }

  &__draw-img {
    background-image: url(../images/design_draw.png);
    width: 582px;
    height: 388px;
  }

  &__main-text {
    position: absolute;
    top: 8px;
    left: 510px;
    font-size: 56px;
    line-height: 72px;
  }

  &__main-text-position {
    min-width: 430px;
  }

  &__text {
    max-width: 348px;
    min-width: 340px;
    padding: 182px 0 0 30px;
    font-size: 16px;
    line-height: 24px;
    color: #7c7c7c;
  }

  &__link {
    padding: 30px 0 0 30px;
    position: relative;
  }

  &__link-properties {
    color: #0db2b3;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 6px;
    border-bottom: 1px solid #0db2b3;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    &__draw {
      left: -50px;
    }

    &__text-container {
      position: relative;
      left: -50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    &__draw {
      left: -200px;
    }

    &__text-container {
      position: relative;
      left: -200px;
    }

    &__text {
      //max-width: 340px;
    }
  }
}
