.benefits {
  @include contentPaddingInline();
  @include paddingTop();
  @include paddingBottom();

  background-color: $white-color;

  &__title {
    display: none;
  }
}

.cards {
  display: grid;
  column-gap: 20px;

  @include onTablet {
    row-gap: 64px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }

  &__item {
    display: none;

    @include onTablet {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }

    @include onDesktop {
    }

    &--mobile {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      @include onTablet {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
      }
    }
  }

  &__link {
    width: 50px;
    height: 50px;
    background-position: center;
    &--round {
      background-image: url(../images/icons/round.png);
    }
    &--sound {
      background-image: url(../images/icons/sound.png);
    }
    &--wifi {
      background-image: url(../images/icons/wifi.png);
    }
    &--sun {
      background-image: url(../images/icons/sun.png);
    }
    ´ &:hover {
      scale: 1.1;
    }
  }

  &__title {
    height: 56px;
    margin-bottom: 20px;
    margin-top: 30px;

    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: $title-color;

    @include onTablet {
      margin-bottom: 18px;
    }

    @include onDesktop {
      margin-bottom: 24px;
      margin-top: 30px;
    }
  }

  &__text {
    text-align: center;
    margin: 0;
  }
}

.nav {
  display: none;

  @include onDesktop {
    display: block;
  }
  &__list {
    display: flex;
    gap: 84px;
    justify-content: center;

    align-items: center;

    margin-bottom: 90px;
  }

  &__item {
  }

  &__link {
    color: $title-color;
    line-height: 20px;
    text-align: center;

    &:hover {
      color: $dark-color;
    }
  }
}
