.about__list {
  display: flex;
  justify-content: center;
  gap: 84px;
  margin-bottom: 90px;
  list-style: none;
}

.about__link {
  color: #333;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.about__link-active {
  color: #131313;
  font-weight: 700;
}

.luna {
  padding: 170px 0;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 730px) {
  .luna {
    padding: 110px 0;
  }
}
