$turquoise: #0db2b3;
$green: #0c797a;
$lagoon: #cfeff0;
$lightgreen: #eefafa;
$black: #131313;
$granit: #333;
$darkgrey: #4f4f4f;
$grey: #7c7c7c;
$grey2: #828282;
$lightgrey: #bdbdbd;
$lightgrey2: #d0d0d0;
$lightgrey3: #f2f2f2;
$background: #f7f7f7;
$white: #fff;
$error: #eb5757;
