.description {
  @extend .grid;

  &__nav {
    grid-column: 3 / 11;
    width: 100%;
    padding: 28px 0;
    grid-row: 1;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__wrapper {
    grid-column: 1 / 13;
    grid-row: 2;
    @extend .grid;

    @media (max-width: 1024px) {
      grid-column: 1 / 9;
    }

    @media (max-width: 460px) {
      grid-column: 1 / 5;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 60px 0 15px;

    @media (max-width: 460px) {
      display: none;
    }

    &:hover {
      box-shadow: 0 5px 0 0 $gray-20,
        0 -5px 0 0 $gray-20;
      border-top-color: $black;
      border-bottom-color: $black;
    }
  }

  &__card:nth-of-type(1) {
    grid-column: 1 / 4;

    @media (max-width: 1024px) {
      grid-column: 1 / 5;
      grid-row: 1;
      margin-bottom: 50px;
    }

    @media (max-width: 460px) {
      display: flex;
    }
  }

  &__card:nth-of-type(2) {
    grid-column: 4 / 7;

    @media (max-width: 1024px) {
      grid-column: 5 / 9;
      grid-row: 1;
      margin-bottom: 65px;
    }
  }

  &__card:nth-of-type(3) {
    grid-column: 7 / 10;

    @media (max-width: 1024px) {
      grid-column: 1 / 5;
      grid-row: 2;
    }
  }

  &__card:nth-of-type(4) {
    grid-column: 10 / 13;

    @media (max-width: 1024px) {
      grid-column: 5 / 9;
      grid-row: 2;
    }
  }

  &__img {
    display: block;
    height: 45px;
    margin: 0 auto 30px;

  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: $black;
    text-align: center;
    margin-bottom: 24px;
    min-height: 56px;
  }

  &__text {
    text-align: center;
    flex-grow: 1;
  }
}
