.features {
  @include contentPaddingInline();
  @include paddingTop();

  &__title {
    color: $title-color;
    margin-bottom: 30px;

    @include OnTablet {
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
    }

    @include OnDesktop {
      font-size: 56px;
      font-weight: 700;
      line-height: 70px;
    }
  }

  &__block {
    background-color: $green;

    background-image: url(../images/tablet-img/features-tablet-img.jpg);
    background-repeat: no-repeat;
    background-position: bottom;

    display: grid;

    height: 90vh;

    padding: 30px;

    @include OnTablet {
      padding: 60px 90px;
      grid-template-columns: repeat(1, 1fr);

      background-position: bottom right;

      height: 60vh;
    }

    @include OnDesktop {
      grid-template-columns: repeat(2, 1fr);

      padding-inline: 100px;
      padding-block: 60px;
      background-image: url(../images/desktop-img/features-desktop-img.jpg);

      height: 100vh;

      column-gap: 30px;
      row-gap: 56px;
    }
  }

  &__content {
    display: none;
    @include OnTablet {
      display: none;
    }

    @include OnDesktop {
      display: block;
    }

    &--tablet {
      display: block;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 30px;
    color: $accent-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: initial;
  }

  &__text {
    margin: 0;

    color: $title-color;

    @include OnDesktop() {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__slider {
    margin: 0 auto;
    margin-bottom: 100px;

    @include OnTablet {
      margin: 0;
      margin-right: auto;
    }
  }

  &__slides {
    display: flex;
    align-items: end;

    margin: auto;

    @include OnDesktop {
      display: none;
    }
  }

  &__slide {
    width: 48px;
    height: 13px;
  }

  &__number {
    display: flex;
    width: 43px;
    height: 24px;

    @include OnDesktop {
      display: none;
    }
  }
}
