@import "vars";

.features {
  position: relative;
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0 0 24px $wide-screen-margin ;

    font-family: $font-family-din;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    color: $text-color-granit;
  }

  &__sound,
  &__connectivity,
  &__app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-end;
  }

  &__sound::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: -75px;
    width: 1113px;
    height: 701px;

    background-image: url(../images/Sound.png);
    background-repeat: no-repeat;
    background-position: 200px 150px;
    background-color: #f2f2f2;
    z-index: -1;
  }

  &__sound--margin {
    margin-left: 633px;
  }

  &__connectivity--margin {
    margin-left: 225px;
  }

  &__app--margin {
    margin: 121px 0 0 428px;
  }

  &__topic {
    font-family: $font-family-din;
    font-size: 34px;
    line-height: 120%;
    text-transform: uppercase;
    color: #0c797a;
    padding-bottom: 44px;
  }

  &__list-element {
    font-family: $font-family-helv;
    font-size: 16px;
    line-height: 150%;
    color: $text-color-granit;
  }
}

@media screen and (max-width: 1024px) {
  .features {
    width: 100vw;
    &__sound {
      &::after {
        width: 100vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .features {
    overflow: hidden;
    &__heading {
      margin-left: 45px;
    }

    &__sound::after {
      width: 730px;
      height: 735px;
      background-size: 80%;

      background-position: 80px 120px;
    }

    &__sound--margin {
      margin-left: 319px;
    }

    &__connectivity--margin {
      margin-left: 35px;
    }

    &__app--margin {
      margin: 160px 0 0 175px;
    }
  }
}

@media screen and (max-width: 500px) {
  .features {
    width: 100vw;
    overflow: hidden;
    
    &__sound--margin,
    &__connectivity--margin,
    &__app--margin {
      margin-left: 0;
    }

    &__sound {
      &::after {
        background-position: 115px 210px;
        z-index: -11;
      }
    }
  }
}
