.features__wrapper {
  display: block;
}

.features__wrapper-mobile {
  display: none;
}

.features__content {
  position: relative;
  min-height: 556px;
  display: flex;
  background-color: #d6ecec;
  max-width: 1194px;
  justify-content: center;

  padding: 60px 0 0 90px;
}

.features__img {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 430px;
  height: 225px;
}

.features__block {
  margin-bottom: 56px;
  width: 378px;
}

.features__title {
  font-size: 56px;
  kerning: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.features__block-title {
  color: #0c797a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 30px;
}

.features__block-item {
  margin-bottom: 10px;
}

.features__block-list {
  list-style-type: disc;
}

@media (max-width: 962px) {
  .features__content {
    padding: 30px 30px 0;
  }

  .features__wrapper {
    display: none;
  }

  .features__wrapper-mobile {
    display: block;
  }

  .features__block-item {
    font-size: 14px;
  }

  .features__block-list {
    width: 260px;
  }

  .features__block-title {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: -146px;
  }

  .features__block {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: center;
  }
}

@media (max-width: 710px) {
  .features__title {
    margin-left: 47px;
    font-size: 30px;
  }

  .features__content {
    margin-right: -10px;
    padding: 30px;
  }

  .features__wrapper-mobile {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .features__img {
    width: 320px;
    height: 173px;
    right: 0;
  }
}

@media (max-width: 423px) {
  .features__content {
    margin-right: -15px;
  }

  .features__title {
    margin-left: 10px;
  }

  .features__block-title {
    margin-left: -156px;
  }

  .features__block {
    margin-left: -30px;
  }
}

@media (max-width: 375px) {
  .features__content {
    margin-left: -28px;
    margin-right: -60px;
  }
}

@media (max-width: 360px) {
  .features__content {
    margin-right: -60px;
  }
}
