@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro/DINPro.eot");
  src: local("DIN Pro"),
    local("DINPro"),
    url("../fonts/DINPro/DINPro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro/DINPro.woff2") format("woff2"),
    url("../fonts/DINPro/DINPro.woff") format("woff"),
    url("../fonts/DINPro/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro/DINPro-Black.eot");
  src: local("DIN Pro Black"),
    local("DINPro-Black"),
    url("../fonts/DINPro/DINPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro/DINPro-Black.woff2") format("woff2"),
    url("../fonts/DINPro/DINPro-Black.woff") format("woff"),
    url("../fonts/DINPro/DINPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro/DINPro-Medium.eot");
  src: local("DIN Pro Medium"),
    local("DINPro-Medium"),
    url("../fonts/DINPro/DINPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro/DINPro-Medium.woff2") format("woff2"),
    url("../fonts/DINPro/DINPro-Medium.woff") format("woff"),
    url("../fonts/DINPro/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro/DINPro-Bold.eot");
  src: local("DIN Pro Bold"),
    local("DINPro-Bold"),
    url("../fonts/DINPro/DINPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro/DINPro-Bold.woff2") format("woff2"),
    url("../fonts/DINPro/DINPro-Bold.woff") format("woff"),
    url("../fonts/DINPro/DINPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica NeueCyr";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff2") format("woff2"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica NeueCyr";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica NeueCyr";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
