@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeueCyr-Medium.woff) format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeueCyr-Thin.woff) format("woff");
  font-weight: thin;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "DIN Pro";
//   src: url(../fonts/DINPro.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
