@font-face {
  font-family: "Inter", sans-serif;
  src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf") format(ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"), url("https://nomail.com.ua/files/woff/a035ad376fc36ca17d91308451b8d015.woff") format("woff");
}
