.footer {
  @include contentPaddingInline();
  @include paddingTop();
  &__logo {
    display: none;

    @include onTablet {
      display: block;
      text-align: center;
    }
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 60px;

    margin-bottom: 30px;
  }

  &__socials {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    & a:hover {
      display: flex;

      justify-content: center;
      align-items: center;
    }
  }

  &__arow {
    display: none;

    @include onTablet {
      text-align: center;

      display: block;
      width: 24px;
      height: 24px;

      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
