.message::placeholder {
  transform: translateY(-120%);
}

.questions__btn {
  text-transform: uppercase;
  background-color: #0db2b3;
  display: inline-block;
  width: 123px;
  height: 48px;
  color: white;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 170px;
}

.social__icon li {
  margin-right: 40px;
  list-style: none;
}

.social__icon ul {
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer__top-img {
  display: flex;
  justify-content: space-between;
}

.footer__top-logo {
  margin: 0 auto;
  transition: fill 0.3s ease;
  cursor: pointer;
}

.footer__top-logo:hover {
  filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(500%)
    hue-rotate(180deg);
}

.copyright {
  color: #bdbdbd;
}

.questions__btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.social-img:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

@media (max-width: 400px) {
  .social__icon ul {
    margin: 0;
  }

  .copyright {
    font-size: 14px;
  }
}
