.footer-out {
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    margin-bottom: 64px;

    @media (max-width: 460px) {
      display: none;
    }
  }

  &__social {
    margin-bottom: 64px;
    display: flex;
    gap: 50px;

  }

  &__icon:hover {
    transform: scale(1.1);

    path {
      fill: $green;
    }
  }

  &__copyright {
    font-size: 14px;
    line-height: 21px;
    color: $gray-30;
    margin-bottom: 30px;
    text-align: center;
  }
}
