* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica-Neue", sans-serif;
  color: $c-basicDark;
  scroll-behavior: smooth;
}

body {
  background-color: $c-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DINPro", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 130%;

  @media (max-width: $mobileBreakpoint) {
    font-size: 37px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

input,
textarea {
  border: 1px solid $c-basicLight;
  background-color: transparent;
  padding: 15px 30px;
  font-family: inherit;
  color: $c-basicDark;
}

button {
  background-color: transparent;
  border: none;
  padding: 3px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}

::selection {
  background-color: $c-accent;
  color: white;
}
