.header-wrapper {
  max-width: 1194px;
  padding: 0 5vw;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-top: 25px;
  overflow: hidden;

  @media (max-width: $tabletsWidth) {
    padding-top: 41px;
  }

  @media (max-width: $mobileWidth) {
    padding-top: 28px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    z-index: 2;
  }

  &__img {
    width: 161px;
    height: 26px;
  }

  &__options {
    @media (max-width: $mobileWidth) {
      display: none;
    }
  }

  &__toolbar {
    display: none;

    @media (max-width: $mobileWidth) {
      display: block;
    }
  }

  &__presentation {
    margin-top: 103px;
    margin-bottom: 100px;

    @media (max-width: $mobileWidth) {
      margin-top: 22px;
    }
  }

}

