@import "vars";
@import "mixins";

.header {
  &-top {
    @extend %display-flex-row;
    
    &__describe {
      display: flex;
      flex-direction: column;
      margin-left: $wide-screen-margin;
      z-index: 3;
    }

    &__headline {
      font-family: $font-family-din;
      font-size: 64px;
      line-height: 130%;
      color: $text-color-granit;
      text-transform: uppercase;
      padding-bottom: 27px;
    }

    &__text {
      font-family: $font-family-helv;
      font-size: 16px;
      line-height: 24px;
    }

    &__photo {
      width: 939px;
      height: 464px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &-top {
      &__photo {
        width: 532px;
        height: 416px;
        margin: 19px 109px 0 0;
        object-position: 0 0;
        object-fit: cover;
      }

      &__headline {
        margin-top: 80px;
      }

      &__describe {
        margin-left: 45px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &-top {
      overflow: hidden;
      
      &__headline {
        font-size: 48px;
      }

      &__describe {
        margin-left: 30px;
      }

      &__photo {
        height: 365px;
        margin: 30px -67px 0 -72px;
        z-index: -1;
      }
    }
  }
}
