@import "vars";

.info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 $wide-screen-margin - 15px;

  &__column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-top: 0;
  }

  &__icon {
    height: 40px;
    width: 50px;
    align-self: center;
  }

  &__heading {
    height: 60px;

    align-self: center;

    font-family: $font-family-din;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $text-color-granit;
  }

  &__text {
    padding-top: 20px;
    padding-bottom: 150px;

    font-family: $font-family-helv;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 276px;
    align-items: start;
  }
}

@media screen and (max-width:1024px) {
  .info {
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 33px;

    &__text {
      padding-bottom: 90px;
      width: 340px;
    }

    &__icon {
      margin-bottom: 40px;
    }

    &__column {
      margin: 0;
      padding: 0 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    width: 730px;
    justify-content: flex-start;
    padding: 0 17px;
  }
}
