@import "vars";

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__menu {
    margin-bottom: 50px;
  }

  &__logo {
    margin-left: $wide-screen-margin;
  }

  &__menu {
    margin-right: $wide-screen-margin;
    margin-bottom: 50px;
  }

  &__list {
    margin: 26px 0;
  }

  &__item {
    line-height: 18px;
    display: inline-block;
    list-style: none;
  }

  &__buy {
    height: 48px;
    width: 102px;
    margin-left: 37px;

    background-color: $text-color-granit;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
    transition: background-color 1s,
      border-radius 1s;

    &:hover {
      background-color: #131313;
      border-radius: 10px;
    }
  }

  &__item--specs {
    padding-right: 72px;

    color: $text-color-dark-grey;
    line-height: 21px;
  }

  &__item--en {
    color: $text-color-granit;
  }

  &__item--ua {
    color: $text-color-light-grey;
  }
}

@media screen and (max-width: 1024px) {
  .lang {
    display: grid;
    grid-template-columns: 210px 350px;
    column-gap: 150px;
    
    &__logo {
      margin-left: 34px;
    }

    &__buy {
      margin-right: 0;
    }

    &__item--specs {
      padding: 0 15px;
    }

    &__menu {
      margin-right: 0;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .lang {
    display: grid;
    grid-template-columns: 30vw 30vw;
    column-gap: 40vw;

    &__item--specs {
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 500px) {
  .lang {
    grid-template-columns: 33vw 17vw;
    column-gap: 50vw;

    &__logo {
      margin: 28px 0 0 30px;
      float: left;
    }

    &__menu {
      opacity: 0;
      margin: 0 calc(50vw - 160px) 20px;
      display: flex;
      width: 320px;
      transition: opacity 0.5s;
    }
  }
}
