@import "vars";

.logo {
  height: 26px;
  width: 161px;

  &--1 {
    display: none;
    height: 40px;
    width: 50px;
  }

  &--2 {
    display: none;
    height: 46px;
    width: 40px;
  }

  &--3 {
    display: none;
    height: 46px;
    width: 36px;
  }

  &--4 {
    display: none;
    height: 44px;
    width: 44px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    &--1,
    &--2,
    &--3,
    &--4 {
      display: inline-block;
      padding-bottom: 40px;
    }
  }
}
