.luna {

  &__in {
    @extend .grid;
  }

  &__picture {
    grid-column: 3 / 11;
    display: flex;
    margin: 0 -30px;

    @media (max-width: 1024px) {
      grid-column: 1 / 9;
      margin: 0;

    }
    @media (max-width: 460px) {
      grid-column: 1 / 5;
      margin: 0 -18px;
    }

  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

}
