body {
  background: $c-gray;
}

.main {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;

  color: #333;

  @media (min-width: 640px) {
    grid-template-columns: repeat(8, 1fr);
    padding: 0 34px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0 123px;
  }
}
