body {
  overflow-x: hidden;
  box-sizing: border-box;

  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 30px;

  background: $c-gray;

  @media (min-width: 640px) {
    padding: 0 34px;
  }

  @media (min-width: 1280px) {
    padding: 0 123px;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
}
