.page {
  padding: 30px 123px;
}

.header__menu-active {
  display: none;
}

@media (max-width: 1100px) {
  .page {
    padding: 29px 34px;
  }
}

@media (max-width: 850px) {
  .page {
    padding: 29px 34px;
  }

  .benefits {
    grid-template-columns: repeat(2, 340px);
  }

  .benefits__title {
    min-height: 0 !important;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .page {
    padding: 25px 30px;
  }
}

@media (max-width: 400px) {
  .page {
    padding: 0 30px;
  }
}
