.page {
  padding: 30px 123px;
}

.header__menu-active {
  display: none;
}

@media (max-width: 1100px) {
  .page {
    padding: 29px 34px;
  }
}

@media (max-width: 850px) {
  // .header__menu-open {
  //   display: block;
  // }

  .page {
    padding: 29px 34px;
  }

  // .header__nav-active {
  //   display: block;
  //   position: absolute;
  //   z-index: 5;
  //   top: 0;
  //   right: 0;
  //   background-color: white;
  //   height: 100vh;
  //   width: 100%;
  // }

  // .header__img  {
  //   content: url(/images/header/original.5c35d6d8.png);
  //   width: 430px;
  //   height: 317px;
  // }

  // .header__title {
  //   font-size: 48px;
  //   line-height: 62px;
  // }

  .benefits {
    grid-template-columns: repeat(2, 340px);
  }

  .benefits__title {
    min-height: 0 !important;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .page {
    padding: 25px 30px;
  }
}
