@mixin fontSet($famaly, $size, $line) {
  font-family: #{$famaly};
  font-size: #{$size};
  line-height: #{$line};
  font-style: normal;
}

@mixin positionButton($top, $left) {
  top: #{$top};
  left: #{$left};
}
