.nav {
  margin-bottom: 77px;
  
  @media (max-width: $mobileWidth) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;

  }

  &__link {
    font-size: 14px;
    font-weight: $lightWeight;
    color: $darkGrey;
    transition: all 0.5s;

    &:hover {
      text-shadow: 0 0 1px $black;
    }
  }

  }
