.nav {
  padding: 120px 0 50px;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    text-align: center;
    list-style: none;
    padding: 28px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  &__link {
    color: #131313;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
    height: 568px;
    width: 100%;
    
    &__item {
      padding: 15px;
      white-space: nowrap;
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding: 0 21px;
      align-items: flex-start;
    }

    &__link {
      padding: 0;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
    }

  }
}
