body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: $colorTitle;
  background-color: #f7f7f7;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
