html {
  scroll-behavior: smooth;
  
}

body {
  font-family: "HelveticaNeue";
  font-weight: normal;
  background: #f7f7f7;
  margin: 0 auto;
  padding: 0;
  color: $color-broun-main-text;
}

h1,
h2,
h3 {
  font-family: "Din Pro"
}