.options {

  &__buy {
    @include button(background-color, $darkGrey);
    margin-left: 37px;
    transition: all 0.5s;

    &:hover {
      background-color: rgb(96, 96, 96);
      border-radius: 8px;
    }
  }

  &__lang {
    margin-left: 37px;
    font-size: 14px;
    color: $lighestGrey;

    &--bold {
      font-weight: $mediumWeight;
      color: $darkGrey;
    }
  }

  &__specs {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: $lightWeight;
  }
}
