.page {
  background: #f7f7f7;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media screen and (max-width: 550px) {
  body {
    max-width: 550px;
  }
}

@media screen and (max-width: 500px) {
  body {
    max-width: 500px;
  }
}
