@import "vars";

.person {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 116px;
  }

  &__text {
    width: 784px;

    font-family: "DIN Pro", sans-serif;
    font-size: 24px;
    line-height: 150%;
    color: $text-color-granit;
    text-align: center;

    &::before {
      content: url(../images/Quotes.png);
      display: block;
      position: absolute;
      top: -30px;
      left: calc(50% - 233px / 2);
      height: 191px;
      width: 233px;
      z-index: -1;
    }
  }

  &__image {
    margin: 30px 0 20px;
    height: 62px;
  }

  &__name {
    color: $text-color-granit;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    font-weight: bold;
  }

  &__position {
    line-height: 120%;
    padding-bottom: 172px;
  }
}
