.presentation {
  &__item-container {
    padding-top: 170px;
  }

  &__item-view {
    display: grid;
    width: 1440px;
    height: 590px;
    text-align: center;
    background-image: url(../images/device_design.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
  }

  &__item-view:hover {
    opacity: 40%;
  }

  &__item-text {
    font-size: 24px;
    line-height: 18px;
    padding: 107px 87px;
    border: 1px solid #f3f4f5;
    border-radius: 50%;
    color: #f3f4f5;
  }

  &__play-button {
    display: none;
  }

  &__item-view:hover > &__item-text {
    display: none;
  }

  &__item-view:hover > &__play-button {
    display: block;
    opacity: 100%;
    width: 24px;
    height: 32px;
    background: url(../images/play-icon.svg) no-repeat;
  }
}
