.presentation {
  @include contentPaddingInline();
  background-color: $white-color;

  &__block {
    margin: 0 auto;
    height: 30vh;
    width: 100%;
    background-image: url(../images/mobile-img/presentation-mobile-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      background-image: url(../images/tablet-img/presentations-tablet-img.jpg);
      height: 90vh;
    }

    @include onDesktop {
      background-image: url(../images/desktop-img/presentation-desktop-img.jpg);
      height: 90vh;
      width: 100%;
    }
  }
  &__title {
    display: none;
    margin: 0;
  }
}
