.questions {
  padding-bottom: 140px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobileWidth) {
    flex-direction: column;
    padding-bottom: 50px;
  }

  &__title {
    width: calc(50% - 20px);

    @media (max-width: $tabletsWidth) {
      font-size: 48px;
    }

    @media (max-width: $mobileWidth) {
      width: 100%;
      font-size: 37px;
      line-height: 46px;
      margin-bottom: 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);

    @media (max-width: $mobileWidth) {
      width: 100%;
    }
  }

  &__email,
  &__message {
    border: 1px solid #828282;
    box-sizing: border-box;
    font-family: $Helvetica;
    color: $lightGrey;
    font-size: 16px;
    line-height: 19px;
    outline: none;

    &::placeholder {
      font-family: $Helvetica;
      font-size: 16px;
      line-height: 19px;
      color: $lighestGrey;
    }

  }

  &__email {
    height: 48px;
    padding: 15px 30px;
    margin-bottom: 20px;
  }

  &__message {
    height: 128px;
    padding: 15px 0 0 30px;
    margin-bottom: 30px;
    resize: none;
  }

  &__btn {
    width: 102px;
    height: 48px;
    color: $white;
    padding: 16px 34px;
    box-sizing: border-box;
    background-color: $blue;
    font-size: 12px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;

    @media (max-width: $mobileWidth) {
      height: 40px;
      padding: 12px 34px;
    }

    &:hover {
      background-color: #62d6d6;
      border-radius: 8px;
    }
  }
}
