.questions__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.questions {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
}

.questions__text {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
}

@media (max-width: 1380px) {
  .questions__text {
    font-size: 36px;
  }
}

@media (max-width: 1172px) {
  .mail,
  .message {
    width: 340px;
  }

  .questions__text {
    width: 339px;
    text-align: center;
  }
}

@media (max-width: 770px) {
  .questions {
    margin-top: 146px;
  }
  .questions__wrapper {
    display: block;
  }

  .questions__text {
    font-size: 30px;
    line-height: normal;
    margin-bottom: -80px;
  }
}

@media (max-width: 400px) {
  .mail,
  .message {
    width: 260px;
    margin-inline: auto;
  }

  .mail {
    margin-bottom: 20px;
  }

  .questions__btn {
    margin-inline: auto;
  }
}
