.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px;

  &__main-text {
    font-size: 56px;
    line-height: 72px;
    text-transform: uppercase;
    color: $main-color-text;
    max-width: 480px;
    padding-right: 100px;
  }

  &__form {
    display: grid;
    gap: 20px;
  }

  &__form-email {
    width: 438px;
    height: 48px;
    border: 1px solid #828282;
    font-size: 16px;
    line-height: 19px;
    color: $five-row-color;
    padding-left: 30px;
  }

  &__form-email::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: $five-row-color;
  }

  &__form-text {
    width: 438px;
    height: 128px;
    border: 1px solid #828282;
    font-size: 16px;
    line-height: 19px;
    color: $five-row-color;
    padding: 0 0 60px 30px;
  }

  &__button {
    padding-top: 10px;
  }

  &__form-button {
    width: 102px;
    height: 48px;
    background-color: $secondary-color;
    color: $first-color;
    border: none;
    transition: color 1s;
    cursor: pointer;
  }

  &__form-button:hover {
    color: $main-color-text;
  }

}

@media screen and (max-width: $medium-width) {
  .question {
    padding-top: 130px;

    &__main-text {
      padding-right: 20px;
      max-width: 340px;
    }

    &__form-text,
    &__form-email {
      width: 340px;
    }
  }
}

@media screen and (max-width: $small-width) {
  .question {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;

    &__main-text {
      max-width: 260px;
      font-size: 37px;
      line-height: 46px;
      padding-bottom: 30px;
    }

    &__form-email {
      width: 260px;
    }

    &__form-text {
      width: 260px;
    }

    &__form-button {
      height: 40px;
    }
  }
}
