body {
  margin: 0;
  background-color: $bgColorMain;
  overflow-x: hidden;
}

html {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
p {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

input,
button,
textarea {
  outline: none;
  border: none;
  background-color: inherit;
  resize: none;
  font-family: inherit;

  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
}
