html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $backgroundColor;
  color: $mainColor;
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
