* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #f7f7f7;
}

body,
p,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
