html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #f7f7f7;
}

div,
p,
span,
h1,
h2,
h3,
ul,
li,
a,
section,
img,
input,
button,
nav,
video {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
video {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
