.swiper-wrapper {
  position: relative;
}

.sw-btns {
  position: absolute;
  top: 58%;
  left: 0;
}

.swiper-pagination {
  display: flex;
  position: absolute;
  bottom: 190px !important;
  left: 20px;
}

.swiper-button-prev {
  content: url(/images/about/back.svg);
  position: absolute;
  width: 48px;
  height: 13px;
  left: 0;
  color: #bdbdbd;
}

.swiper-button-next {
  content: url(/images/about/next.svg);
  position: absolute;
  left: 44px;
  width: 48px;
  height: 13px;
}

.swiper-button-prev:hover {
  filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(748%)
    hue-rotate(138deg) brightness(92%) contrast(91%);
}

.swiper-button-next:hover {
  filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(748%)
    hue-rotate(138deg) brightness(92%) contrast(91%);
}

.swiper {
  list-style: disc;
}

@media (max-width: 520px) {
  .sw-btns {
    left: 30%;
  }

  .swiper-pagination {
    left: 38%;
  }
}
