.technology {
  @include max-width;

  overflow: hidden;

  &__img-container {
    position: relative;
  }

  &__main-text {
    position: relative;
    padding-top: 150px;
    left: 400px;

    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;

    color: $main-color-text;
  }

  &__img {
    background-image: url(../images/technology.png);
    width: 1230px;
    height: 536px;
  }

  &__plus-container {
    position: absolute;
  }

  &__plus-first {
    top: 245px;
    left: 116px;
  }

  &__plus-second {
    top: 384px;
    left: 285px;
  }

  &__plus-third {
    top: 302px;
    left: 352px;
  }

  &__plus-fourth {
    top: 143px;
    left: 412px;
  }

  &__plus-fifth {
    top: 426px;
    left: 514px;
  }

  &__plus-sixth {
    top: 179px;
    left: 651px;
  }

  &__plus-seventh {
    top: 327px;
    left: 789px;
  }

  &__plus-eighth {
    top: 184px;
    left: 936px;
  }

  &__plus-ninth {
    top: 87px;
    left: 1068px;
  }

  &__plus-tenth {
    top: 160px;
    left: 1180px;
  }

  &__plus-eleventh {
    top: 221px;
    left: 1132px;
  }

  &__plus-icon {
    position: relative;
    width: 48px;
    height: 48px;

    border-radius: 50%;
    background-color: $secondary-color;

    transition: background-color, transform 1s;
  }

  &__plus-icon:hover {
    background-color: $for-row-color;
    transform: scale(1.2);
  }

  &__plus-eleventh > &__plus-icon {
    background-color: $eight-row-color;
  }

  &__plus-position {
    position: absolute;
    left: 17px;
    top: 17px;
  }
}

@media screen and (max-width: 1440px) {
  .technology {
    &__img-container {
      left: 0;
      overflow: scroll;
    }
    &____main-text {
      left: 225px;
    }
  }
}

@media screen and (max-width: $medium-width) {
  .technology {
    &__main-text {
      left: 136px;
    }
  }
}

@media screen and (max-width: $small-width) {
  .technology {
    &__main-text {
      left: 0;
      right: 0;
      margin: auto;
      max-width: 260px;

      font-size: 37px;
      line-height: 46px;
    }
  }
}
