@import "vars";

.technology {
  padding-top: 150px;

  &__heading {
    margin-left: 224px;

    font-family: "DIN Pro", sans-serif;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    color: $text-color-granit;
  }

  &__image {
    margin-left: 89px;
    width: 1230px;
    height: 546px;
    /* transform: rotate(-7.85deg); */
  }
}
