.tech {
  padding-bottom: 100px;

  &__title {
    @media (max-width: $tabletsWidth) {
      margin-left: 100px;
    }

    @media (max-width: $mobileWidth) {
      margin-left: 0;
      margin-bottom: 40px;
    }


  }

  &__img {
    position: relative;
    top: 0;
    left: -120px;

    @media (max-width: $tabletsWidth) {
      left: -60px;
    }

    @media (max-width: $mobileWidth) {
      width: 624px;
      left: -40px;
    }
  }
}
