.testimonials {
  padding-bottom: 150px;

  @media (max-width: $tabletsWidth) {
    padding-bottom: 130px;
  }

  @media (max-width: $mobileWidth) {
    padding-bottom: 45px;
  }

  &__text {
    position: relative;
    width: 80%;
    text-align: center;
    font-size: 24px;
    line-height: 150%;
    margin: 0 auto 30px;

    @media (max-width: $mobileWidth) {
      font-size: 14px;
      line-height: 21px;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../images/testimonials/testimonials-befor.png");
      width: 233px;
      height: 191px;
    }

    @media (max-width: $tabletsWidth) {
      width: 90%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__name {
    line-height: 27px;
  }

  &__position {
    color: $lightGrey;
    font-size: 14px;
    font-weight: $lightWeight;
    line-height: 120%;
  }
}
