.testimonials {
  padding-top: 150px;
  &__response {
    text-align: center;
  }

  &__response-img {
    display: flex;
    align-items: center;
    background: url("../images/bracket.svg") no-repeat center;
    height: 208px;
    max-width: 786px;
    text-align: center;
    margin: auto;
  }

  &__comment {
    font-size: 24px;
    line-height: 36px;
    color: #333;
    padding: 0 30px;
  }

  &__name-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #333;
    padding-top: 20px;
  }

  &__position-text {
    font-size: 14px;
    line-height: 120%;
    color: #7c7c7c;
  }
}

@media screen and (max-width: 767px) {
  .testimonials {
    &__comment {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
