.testimonilas {
  display: flex;
  flex-direction: column;
}

.testimonilas__wrapper {
  position: relative;
  margin-bottom: 170px;
}

.testimonilas__bg-img {
  width: 233px;
  height: 192px;
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.testimonilas__title {
  font-size: 24px;
  font-weight: 700;
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
  line-height: 36px;
  margin-bottom: 30px;
}

.testimonilas__img {
  width: 62px;
  height: 62px;
}

.testimonilas__person {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.testimonilas__name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.testimonilas__position {
  color: #7c7c7c;
  font-size: 14px;
  line-height: 21px;
}

.testimonilas__person,
.testimonilas__position {
  width: 174px;
}

@media (max-width: 767px) {
  .testimonilas {
    margin-top: 200px;
  }

  .testimonilas__wrapper {
    margin-bottom: 133px;
  }
}

@media (max-width: 730px) {
  .testimonilas__bg-img {
    top: -90px;
  }
}

@media (max-width: 600px) {
  .testimonilas__title {
    width: 260px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }

  .testimonilas__bg-img {
    width: 208px;
    height: 171px;
  }
}
