.testimonials {
  padding-top: 150px;

  &__response {
    text-align: center;
  }

  &__response-img {
    display: flex;
    align-items: center;
    margin: auto;
    height: 208px;
    max-width: 786px;

    background: url("../images/bracket.svg") no-repeat center;

    text-align: center;
  }

  &__comment {
    padding: 0 30px;

    font-size: 24px;
    line-height: 36px;

    color: $main-color-text;
  }

  &__name-text {
    padding-top: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 27px;

    color: $main-color-text;
  }

  &__position-text {
    font-size: 14px;
    line-height: 120%;

    color: $tertiary-color;
  }
}

@media screen and (max-width: $small-width) {
  .testimonials {
    &__comment {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
