h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 78px;
  text-transform: uppercase;

  @media (max-width: 874px) {
    font-size: 48px;
    line-height: 62px;
  }

  @media (max-width: 420px) {
    font-size: 40px;
    line-height: 52px;
  }
}

h2 {
  font-size: 56px;
  font-weight: bold;
  line-height: 70px;
  text-transform: uppercase;

  @media (max-width: 1280px) {
    font-size: 46px;
    line-height: 46px;
  }

  @media (max-width: 744px) {
    font-size: 36px;
    line-height: 46px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
    line-height: 40px;
  }
}

h3 {
  font-size: 34px;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;

  @media (max-width: 744px) {
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: 320px) {
    font-size: 18px;
    line-height: 22px;
  }
}

h4 {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

button {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

ul {
  color: $grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


input, textarea {
  color: $bd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
