h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  color: $black;

  @include onIpad {
    font-size: 36px;
    line-height: 150%;
  }

  @include onDesktop {
    font-size: 60px;
  }
}

.h2 {
  color: $darkGreen;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
