h1 {
  @extend %h1;
}

h2 {
  text-transform: uppercase;
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 72px;
}

h3 {
  font-family: "DIN Pro", sans-serif;
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-family: "Helvetica NeueCyr", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: bo;
}

h5 {
  font-family: "DIN Pro", sans-serif;
  font-size: 34px;
  line-height: 40.8px;
  color: #0c797a;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 35px;
}
