$elastic: (
  position: top,
  width: 300,
  background-color: rgba(158, 160, 173, 0.1),
  duration: 300,
);

$position: map-get($elastic, "position");
$width: map-get($elastic, "width");
$backgroundColor: map-get($elastic, "backgroundColor");
$duration: map-get($elastic, "duration");

$fontColorGrey: hsl(0, 0%, 49%);
$colorBrown: hsl(21, 31%, 19%);
$colorGray: hsl(0, 0%, 31%);
$lightBlack: hsl(0, 0%, 20%);
$lightBlue: rgb(157, 159, 167);
$colorGrayForCart: hsl(0, 0%, 51%);
$colorLightGray: hsl(0, 0%, 88%);
$colorBlueHoverBtn: hsl(204, 70%, 53%);
$white: hsl(0, 0%, 100%);
$colorCartLightBlue: hsl(228, 2%, 52%);
$colorTurquoise: hsl(180, 86%, 38%);
$colorDirectorGray: hsl(0, 0%, 49%);
$colorFeaturesLightGray: hsl(0, 0%, 74%);
$colorBlack: hsl(0, 0%, 0%);
$colorLightGrayAll: hsl(0, 0%, 96%);
$colorShopingLightGray: hsl(0, 0%, 82%);
$colorTurquoiseThankBlock: hsl(181, 82%, 26%);
