$elastic: (
  position: top,
  width: 300,
  background-color: rgba(158, 160, 173, 0.1),
  duration: 300,
);

$position: map-get($elastic, "position");
$width: map-get($elastic, "width");
$backgroundColor: map-get($elastic, "backgroundColor");
$duration: map-get($elastic, "duration");

$fontColorGrey: #7c7c7c;
