$laptop-screen-breakpoint: 1200px;
$wide-screen-margin: 123px;
$text-color-granit: #333;
$text-color-grey: #7c7c7c;
$text-color-dark-grey: #4f4f4f;
$text-color-light-grey: #bdbdbd;
$history-link-color: #0db2b3;
$font-family-din: "DIN Pro", sans-serif;
$font-family-helv: "Helvetica Neue", sans-serif;
