.video {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 150px;

  @media (max-width: $tabletsWidth) {
    padding-bottom: 130px;
  }

  @media (max-width: $mobileWidth) {
    padding-bottom: 90px;
  }

  &__content {
    width: 100%;

  }
}
