.aboutUs {
  margin: 150px auto 0;
  max-width: 990px;
  display: flex;
  position: relative;

  &__title {
    position: absolute;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 72px;
    right: 0;
    top: 8px;
  }

  &__img {
    width: 70%;
    height: 388px;
    background: url(../images/aboutUs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  &__text {
    max-width: 30%;
    margin-left: 30px;
    padding-top: 182px;
    display: flex;
    flex-direction: column;
  }

  &__description {
    font-size: 16px;
    color: #7c7c7c;
    line-height: 24px;
  }

  &__link {
    position: relative;
    padding-top: 30px;
    color: #0db2b3;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 15%;
      height: 1px;
      background-color: #0db2b3;
    }
  }

}
