.about-us__container {
  position: relative;
  @include Mobile {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
  @include Tablet {
    padding: 0 0 130px;
  }
  @include Notebook {
    padding: 0 0 150px;
    display: flex;
    flex-direction: column;
  }
  @include TheDesign {
    padding: 0 0 150px;
    display: flex;
    flex-direction: column;
  }
}

.about-us__image_container {
  @include Mobile {
    order: 1;
    padding-bottom: 29px;
  }
}

.about-us__image {
  position: absolute;
  left: 0;
  z-index: -1;
  max-width: 623px;
  width: 50vw;
  object-fit: cover;
  height: 400px;
  @include Mobile {
    width: 100%;
    height: 100%;
    position: relative;
  }
  @include Notebook {
    position: absolute;
    left: 4%;
    z-index: -1;
    width: 50vw;
    object-fit: cover;
  }
  @include TheDesign {
    position: absolute;
    left: 225px;
    z-index: -1;
    width: 50vw;
    object-fit: cover;
  }
}

.about-us__title {
  font-family: DIN Pro, sans-serif;
  font-size: 56px;
  line-height: 72px;
  color: #333;
  z-index: 1;
  font-weight: bold;
  @include Mobile {
    font-size: 37px;
    line-height: 55px;
    font-weight: bold;
    padding-bottom: 50px;
  }
  @include Tablet {
    width: 430px;
    margin-left: 42%;
    padding-bottom: 30px;
  }
  @include Notebook {
    width: 470px;
    margin-left: 600px;
    padding-bottom: 30px;
  }
  @include TheDesign {
    width: 470px;
    margin-left: 780px;
    padding-bottom: 30px;
  }
}

.about-us__info {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7c7c7c;
  @include Mobile {
    order: 2;
    padding-bottom: 29px;
    font-size: 14px;
    line-height: 21px;
  }
  @include Tablet {
    width: 340px;
    margin-left: 52%;
    padding-bottom: 30px;
  }
  @include Notebook {
    width: 340px;
    margin-left: 690px;
    padding-bottom: 30px;
  }
  @include TheDesign {
    width: 340px;
    margin-left: 880px;
    padding-bottom: 30px;
  }
}

.about-us__link {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #0db2b3;
  &::after {
    transition: width 0.5s;
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #0db2b3;
    margin-top: 6px;
    @include Tablet {
      margin-left: 52%;
    }
  }
  &:hover {
    width: 140px;
    &::after {
      transition: width 0.5s;
      content: "";
      display: block;
      width: 120px;
      height: 1px;
      background-color: #0db2b3;
      margin-left: 0;
      @include Tablet {
        margin-left: 52%;
      }
    }
  }

  @include Mobile {
    order: 2;
  }
  @include Tablet {
    margin-left: 52%;
  }
  @include Notebook {
    margin-left: 690px;
  }
  @include TheDesign {
    margin-left: 880px;
  }
}
