.about {
  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: $containerSmallWidth;
  }

  &__text {
    margin-left: 30px;
  }

  &__title {
    margin-left: -102px;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    color: $c-basicLight;
  }

  &__see-more {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $c-accent;

    &:after {
      content: "";
      display: block;
      width: 55px;
      height: 1px;
      background-color: $c-accent;
      position: relative;
      top: 10px;
    }
  }
}
