.about-us {
  position: relative;

  display: grid;
  grid-template-columns: 50% 30%;
  height: 388px;
  grid-column-gap: 3%;
  justify-content: center;

  @media (max-width: $mediaTablet) {
    grid-template-columns: 58% 38%;
    height: 415px;
    padding-right: 34px;
  }

  &__image {
    background: url("../images/designed.png") no-repeat center;
    background-size: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__title {
    position: relative;
    left: -27%;
    width: 100%;

    @extend %titleBox;
  }

  &__text {
    color: $colorBenefits;
  }

  &__link {
    color: $colorButton;

    > span {
      border-bottom: 1px solid $colorButton;
      padding-bottom: 6px;
    }
  }
}
