.advantages {
  list-style: auto;
  
  &__title {
    @include advantages__title;
    margin-bottom: 44px;
  }

  &__item + &__item {
    margin-top: 13px;
  }
}

@media (max-width: 680px) {
  .advantages__list {
    list-style: initial;
    margin-left: 15px;
  }
}
