.appeal {
  padding: 118px 30px 90px;

  @media(min-width: 610px) {
    padding-top: 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 150px 34px 130px;
    max-width: 786px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1220px) {
    padding-top: 0;
    padding-bottom: 150px;
  }

  &__text {
    font-family: "DIN pro" Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 600;
    text-align: center;
    background: no-repeat url("/images/sign.svg") center;
    height: 171px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;

    & p {
      word-break: none;
    }

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 1.5em;
    }
  }

  &__photo {
    position: relative;
    height: 62px;
    width: 62px;
    margin-left: auto;
    margin-right: auto;
    bottom: 4px;
  }

  &__name {
    font-size: 16px;
    line-height: 1.66em;
    font-weight: 500;
    text-align: center;
  }

  &__position {
    text-align: center;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    color: #7c7c7c;
  }
}
