.arrow {
  background-image: url(/images/arrow_up.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  display: none;
  border-radius: 50%;

  @media (min-width: 768px) {
    display: block;
    position: relative;
    bottom: 250px;
    left: 40vw;
  }

  @media (min-width: 1280px) {
    left: 35vw;
  }

  &:hover {
    background-color: #0db2b3;
  }
}
