@import "variables";

.arrows {
  width: fit-content;

  &__numbers {
    font-family: "DIN Pro", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    text-align: center;
  }

  &__number {
    font-size: 11px;
    line-height: 14px;
    color: $color-secondary;
  }
}
