.benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  justify-content: center;
  height: auto;
  margin-top: 49px;

  @media (max-width: $mediaTablet) {
    grid-template-columns: repeat(2, minmax(300px, 340px));
    grid-gap: 40px 20px;
    padding: 0 34px;
  }

  @media (max-width: $mediaMobile) {
    justify-content: center;
    grid-template-columns: minmax(70%,80%);
    grid-template-rows: 1fr 20%;
  }

  &__control {
    display: none;
  }
}
