.benefits {
  max-width: $defaultContainer;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 173px;
  column-gap: 30px;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 290px;
  }

  &__icon {
    padding-bottom: 42px;
    height: 40px;
    width: 60px;
  }

  &__title {
    font-family: DIN Pro, sans-serif;
    text-transform: uppercase;
    height: 60px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    color: #7c7c7c;
    text-align: center;
    line-height: 21px;
  }

  @media (max-width: $mediumSize) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $tabletSize) {
    grid-template-columns: repeat(1, 350px);
    justify-content: center;
    padding-top: 101px;
  }
}
