.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 290px;

  &__icon {
    height: 40px;
    width: 50px;
    margin-bottom: 40px;
  }

  &__heading {
    @extend %h4;

    margin-bottom: 20px;
    height: 60px;
    color: $activeGranit;
    text-transform: uppercase;
    text-align: center;
  }

  &__info {
    @extend %text-2;

    text-align: center;
    color: $activeGrey;
  }
}
