.benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  padding-bottom: $normalPaddingY;

  @media (max-width: $someSectionsTabletBreakPoint) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 74px 20px;
    padding-bottom: $tabletPaddingY;
  }

  @media (max-width: $mobileBreakPoint) {
    grid-template-columns: 1fr;
    padding-bottom: $mobilePaddingY;
  }
}
