.block {
  display: flex;
  flex-direction: column;
  margin: 0 0 116px;

  &__title {
    margin: 0 0 30px;
    width: 240px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__img {
    display: block;
    height: 210px;
    margin: 0 0 20px;
    align-self: center;
  }

  &__text {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
    text-align: center;
  }

  &__button {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0db2b3;
    text-decoration: none;

    &::after {
      content: " ";
      left: 0;
      display: block;
      height: 1px;
      width: 53px;
      background-image: url(../images/img_Mobile/button_line.svg);
      margin-top: 5px;
    }
  }
}
