.btn {
  display: block;
  width: $btnWidth;
  height: $btnHeight;
  background-color: $c-basicDark;
  color: white;
  text-align: center;
  line-height: $btnHeight;
  transition: background-color 0.5s;

  &:hover {
    background-color: $c-accent;
  }

  &--accent {
    background-color: $c-accent;

    &:hover {
      background-color: $c-basicDark;
    }
  }
}
