.btn {
  display: block;
  width: $btnWidth;
  height: $btnHeight;
  background-color: $c-basic;
  color: white;
  text-align: center;
  line-height: $btnHeight;

  &--accent {
    background-color: $c-accent;
  }
}
