.button {
  height: 48px;
  width: 102px;

  border: none;

  font-size: 12px;
  color: white;

  cursor: pointer;

  &--buy {
    background-color: $c-heading-black;

    @include hover(background-color, $c-btn-green);
  }

  &--send {
    background-color: $c-btn-green;

    @include hover(background-color, $c-list-green);
  }
}
