.button {
  position: fixed;
  right: 20px;
  bottom: 60px;

  background-color: $link-color;
  border-radius: 50%;
  width: 48px;
  height: 48px;

  cursor: pointer;

  visibility: hidden;
  z-index: 3;

  transition: transform $transition-duration-slow;

  & > img {
    width: 24px;
    height: 16px;
    margin-left: 10px;
    margin-top: 16px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

@media (max-width: $tablet-width) {
  .button {
    visibility: visible;
  }
}
