.button {
  height: 48px;
  width: 102px;

  border: none;
  font-size: 12px;
  color: white;

  cursor: pointer;

  &--buy {
    background-color: $c-heading-black;

    @include hover(background-color, #0db2b3);
  }

  &--send {
    background-color: #0db2b3;
  }
}
