.buy-btn {
  width: 48px;
  height: 48px;
  background: url(../images/buy.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $hover-color;
  border-radius: 50%;
  border: 1px solid $c-gray;
  box-shadow: 0 5px 8px rgba(154, 154, 154, 0.61);

  cursor: pointer;
  transition: transform $duration;

  &:hover {
    transform: scale(1.2);
  }
}
