.buy-btn {
  position: fixed;
  right: 30px;
  bottom: 50px;
  display: none;

  height: 48px;
  width: 48px;

  border: 1px solid $c-btn-green;
  border-radius: 50%;

  background: url("../images/Group.png") no-repeat 41%;
  background-color: $c-btn-green;
  box-shadow: 0 5px 8px rgba(154, 154, 154, 0.61);

  transition: transform 0.2s, background-color 0.2s;

  cursor: pointer;

  &:hover {
    background-color: $c-list-green;
    border-color: $c-list-green;

    transform: scale(1.2);
  }

  @media screen and (max-width: $breakpoint-650px) {
    display: block;
  }

  &__icon {
    fill: white;
    color: white;
  }
}

.fa-shopping-cart {
  color: white;
}
