.card {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  align-items: center;
  text-align: center;
  padding-bottom: 52px;
  position: absolute;
  background-color: $body-color;
  opacity: 0;

  @media (min-width: 768px) {
    width: auto;
    opacity: 1;
  }

  &__image {
    height: 40px;
    margin-bottom: 40px;

    &-3 {
      height: 36px;
      margin: 4px auto 45px;
    }

    &-4 {
      height: 44px;
      margin-bottom: 41px;
    }

    @media(min-width: 1280px) {
      & {
        margin-bottom: 42px;
      }

      &-4 {
        margin-bottom: 38px;
      }
    }
  }

  &__title {
    font-family: "DIN pro" Helvetica, sans-serif;
    font-weight: 500;
    font-style: medium;
    text-transform: uppercase;
    padding-bottom: $title-padding-bottom;

    @media(min-width: 1280px) {
      &-2,
      &-4 {
        padding-bottom: $title-padding-bottom - $title-line;
      }
    }
  }

  &__text {
    width: 260px;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
    color: #7c7c7c;

    @media (min-width: 768px) {
      width: auto;
    }
  }

  &__pre {
    position: absolute;
    top: 260px;
    right: 50%;
    cursor: pointer;
  }

  &__nxt {
    position: absolute;
    left: 49%;
    margin-left: auto;
    margin-right: auto;
    top: 260px;
    cursor: pointer;
  }
}
