.characteristics {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 275px);
  justify-content: center;
  column-gap: 30px;
  row-gap: 40px;
  font-family: Helvetica, sans-serif;
}

@media (max-width: 1199px) {
  .characteristics {
    grid-template-columns: repeat(3, 275px);
  }
}

@media (max-width: 899px) {
  .characteristics {
    grid-template-columns: repeat(2, 275px);
  }
}

@media (max-width: 599px) {
  .characteristics {
    grid-template-columns: 275px;
  }
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__img {
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
}

.card__h {
  display: block;
  height: 60px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #333;
}

.card__text {
  font-size: 14px;
  line-height: 21px;

  color: #7c7c7c;
}
