.card {
  width: 100%;
  max-width: 276px;
  display: flex;
  flex-direction: column;

  &__image {
    width: 50px;
    height: 42px;
    align-self: center;
    margin-bottom: 33px;
  }

  &__title {
    margin: 0 0 52px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333;

    @include onPhone {
      margin: 0;
    }
  }

  &:nth-of-type(2) &__title,

  &:nth-of-type(4) &__title {
    margin: 0 0 24px;
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #7c7c7c;
  }
}
