.cart {
  &__page-top {
    margin: 25px 123px 0;
  }

  &__inner {
    display: flex;
    justify-content: center;
    margin: 90px auto 40px;
  }

  &__img {
    max-height: 361px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    margin-right: 65px;
    width: 284px;
    border-bottom: $cart-border;
  }

  &__title {
    @include title;
    margin-bottom: 24px;
  }

  &__price {
    font-family: $Dino-pro-font;
    font-size: 24px;
    text-align: center;
    margin-bottom: 54px;

    &::before {
      content: "$";
    }
  }

  &__product-colors {
    margin-bottom: 50px;
  }

  &__order {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-left: $cart-border;
    padding-left: 67px;

    &-title {
      font-family: $helvetica-Neue-font;
      font-weight: 500;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 160px;
    }

    &-text {
      font-family: $helvetica-Neue-font;
      font-weight: 400;
      color: $dark-font-color;
    }
  }

  &__total {
    font-family: $Dino-pro-font;
    font-size: 34px;
    font-weight: 500;
    margin-top: 15px;

    &::before {
      content: "$";
    }
  }

  &__product-quantity {
    display: block;
    margin-bottom: 50px;
  }

  &__form-btn {
    margin: 25px 0 30px;
  }

  &__add-to-card-btn {
    width: 174px;
    height: 48px;
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: transparent;
    margin: 0 auto 30px;
    transition: all $hover-duration linear;

    &:hover {
      background-color: #333;
      border-color: #333;
      color: #fff;
    }
  }

  &__bonus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    margin: 0 auto;
    font-weight: 500;
    font-family: $helvetica-Neue-font;
    color: $dark-font-color;
    transform: translateX(45px);

    &::before {
      content: "";
      display: inline-block;
      width: 44px;
      height: 22px;
      background: url(../images/cart/delivery.png) no-repeat center;
      margin-right: 28px;
    }
  }
}
