.characteristics {
  display: grid;
  
  grid-template-columns: repeat(4, 275px);
  justify-content: center;
  column-gap: 30px;
  row-gap: 40px;
}

@media (max-width: 1199px) {
  .characteristics {
    grid-template-columns: repeat(2, 275px);
  }
}

@media (max-width: 767px) {
  .characteristics {
    grid-template-columns: 275px;
  }
}
