.checks {

  @media(max-width: 767px) {
    display: none;
  }

  &__specs {
    font-size: 14px;
    line-height: 17px;
    color: #4f4f4f;
    font-weight: 300;
  }

  &__inputs {
    margin-left: 39px;
  }

  &__buy {
    margin-left: 39px;
    height: 48px;
    width: 102px;
    background-color: $text-color;
    font-size: 12px;
    color: $white;
    border: 1px solid $text-color;

    &:hover {
      cursor: pointer;
      color: $text-color;
      background-color: $white;
    }
  }
}
