.comment {
  display: flex;
  position: relative;
  justify-content: center;
  font-family: "DIN Pro", sans-serif;
  color: $main-color;
  text-align: center;
}

.comment__bg {
  position: absolute;
  width: 230px;
  height: 190px;
  bottom: 90px;
  margin: 0 auto;

  z-index: -1;
}

.comment__info {
  max-width: 768px;
}

.comment__text {
  font-size: 24px;
  font-weight: 700;
  
}

.comment__photo {
  height: 62px;
  width: 62px;
  margin: 30px auto 0;

  border-radius: 50%;
}

.comment__name {
  font-size: 16px;
  font-weight: 700;
  margin: 20px auto 0;
}

.comment__position {
  font-size: 14px;
  color: #7c7c7c;
  margin: 5px auto 0;
}
