.container {
  padding: 0 123px;
}

@media screen and (min-width: 1500px) {
  .container {
    padding: 0 20%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 34px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 30px;
  }
}
