.container {
  @include padding-inline;

  margin-inline: auto;

  &--about-us {
    @include on-tablet {
      padding-left: 0;
    }

    @include on-desktop {
      @include padding-inline;
    }
  }

  &--technology {
    @include on-tablet {
      padding-right: 0;
    }

    @include on-desktop {
      @include padding-inline;
    }
  }

  &--features {
    align-self: stretch;

    @media (max-width: 768px) {
      padding: 0;
      margin: 0;
    }
  }
}
