.contact-us {
  display: flex;
  justify-content: space-around;

  &__title {
    @include title;
    max-width: 480px;
  }

  &__form {
    margin-bottom: 142px;
  }
}

@media (max-width: 990px) {
  .contact-us {
    flex-direction: column;
    align-items: center;

    &__title {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 540px) {
  .contact-us {
    &__title {
      font-size: 36px;
      line-height: 42px;
      text-align: center;
    }
  }
}
