@import "design";
@import "technology";
@import "review";
@import "features";

.content {
  padding: 0 5px;

  &__video {
    margin: 0 auto;
    max-width: 1440px;
  }

  &__image {
    object-fit: cover;
  }

  &__design {
    margin: 150px auto 0;
  }

  &__technology {
    margin: 150px auto 0;
  }

  &__review {
    margin: 0 auto;
  }

  &__features {
    margin: 150px auto 0;
  }
}
