.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-left: 50px;
    white-space: pre-line;
  }

  &__form {
    width: 440px;
  }

  &__top-link {
    float: right;
    padding: 15px;

    color: $text-color;
    border: none;

    font-size: 48px;
    font-weight: bold;

    transition: color $transition-duration-quick;

    &:hover {
      color: $link-color;
    }
  }
}

@media (max-width: $tablet-width) {
  .contact {
    flex-direction: column;
    text-align: center;

    &__title {
      font-size: 36px;
      margin-bottom: 20px;
    }

    &__form {
      width: 260px;
    }
  }
}
