.content {
  &__promo {
    margin-bottom: 150px;

    @include adaptiv(1023px) {
      margin-bottom: 130px;
    }

    @include adaptiv(767px) {
      margin-bottom: 90px;
    }
  }

  &__presentation {
    margin-bottom: 150px;

    @include adaptiv(1023px) {
      margin-bottom: 130px;
    }

    @include adaptiv(767px) {
      margin-bottom: 90px;
    }
  }

  &__info {
    margin-bottom: 150px;

    @include adaptiv(1023px) {
      margin-bottom: 130px;
    }

    @include adaptiv(767px) {
      margin-bottom: 90px;
    }
  }

  &__technology {
    margin-bottom: 150px;

    @include adaptiv(1023px) {
      margin-bottom: 130px;
    }

    @include adaptiv(767px) {
      margin-bottom: 90px;
    }
  }

  &__features {
    margin-bottom: 200px;

    @include adaptiv(1023px) {
      margin-bottom: 223px;
    }

    @include adaptiv(767px) {
      margin-bottom: 133px;
    }
  }

  &__support {
    margin-bottom: 150px;

    @include adaptiv(1023px) {
      margin-bottom: 130px;
    }

    @include adaptiv(767px) {
      margin-bottom: 90px;
    }
  }
}
