@media (max-width: $mediaMobile) {
  .control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__arrow--left,
    &__arrow--right {
      position: relative;
      width: 50px;
      height: 30px;
    }

    &__arrow--left {
      background: url("../images/slider/slider-left.svg") no-repeat center;
    }

    &__arrow--right {
      background: url("../images/slider/slider-right.svg") no-repeat center;
    }
  }
}
