.contacts,
.contacts__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__heading {
  margin-right: 102px;
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 129%;
  text-transform: uppercase;
  color: #333;
  width: 490px;
  padding-top: 144px;
}

.contacts__form {
  flex-direction: column;
  padding-top: 180px;
}

.contacts__email,
.contacts__message {
  width: 438px;
  line-height: 19px;
  border: 1px solid #828282;
}

.contacts__email {
  height: 48px;
}

.contacts__email::placeholder {
  color: #bdbdbd;
  padding-left: 30px;
}

.contacts__message {
  height: 128px;
  margin-top: 19px;
  resize: none;
}

.contacts__message::placeholder {
  font-family: "Helvetica Neue", sans-serif;
  color: #bdbdbd;
  line-height: 38px;
  padding-left: 30px;
}

.contacts__link {
  align-self: start;
}

.contacts__button {
  height: 48px;
  width: 102px;
  margin-top: 30px;
  background-color: #0db2b3;
  border: none;
  transition-duration: 1s;
  cursor: pointer;
}

.contacts__button:hover {
  background: #0c797a;
  transition-duration: 1s;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .contacts__heading {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts__heading {
    width: 330px;
    margin-right: 10px;
    padding-top: 83px;
    font-size: 48px;
  }
  .contacts__form {
    margin-right: -50px;
  }
  .contacts__email,
  .contacts__message {
    width: 340px;
  }
}
@media screen and (max-width: 600px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }
  .contacts__heading {
    margin: 45px 0 0;
    align-self: center;
    text-align: left;
    font-size: 46px;
  }
  .contacts__form {
    padding-top: 30px;
    margin: 0;
  }
  .contacts__email,
  .contacts__heading,
  .contacts__message {
    width: 285px;
  }
}
