.container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 30px;

  background-color: #f7f7f7;

  &--wide {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0;

    overflow: hidden;
  }
}
