.contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 438px;
  
  &__email {
    margin-bottom: 19px;
    height: 48px;
    @include contact-us-form-item;
  }

  &__textarea {
    @include contact-us-form-item;
    margin-bottom: 30px;
    resize: none;
  }

  &__button {
    border: none;
    padding: 17px 35px;
    background-color: $decor-color;
    color: $features-bg-color;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
    
    &:hover {
      background-color: $hover-background-color;
    }
  }
}

@media (max-width: 450px) {
  .contact-us-form {
    width: 80%;
  }
}
