.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-left: 50px;
    white-space: pre-line;
  }

  &__form {
    width: 440px;
  }

  &__top-link {
    background: url(../images/icons/top-link.svg) no-repeat center;
    padding: 20px;

    float: right;

    transition: background-image $transition-duration-quick;

    &:hover {
      background-image: url(../images/icons/top-link-active.svg);
    }
  }
}

@media (max-width: $tablet-width) {
  .contact {
    flex-direction: column;
    text-align: center;

    &__title {
      font-size: 36px;
      margin-left: 0;
      margin-bottom: 20px;
    }

    &__form {
      width: 260px;
    }
  }
}
