.content-benefits {
  &__icon {
    margin-top: 25px;
    width: 50px;
  }

  &__title-benefits {
    text-transform: uppercase;
    margin: 30px 0 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);

    @media (max-width: 768px) {
      margin: 15px 0;
    }
  }

  &__text-benefits {
    font-size: 14px;
    line-height: 21px;
    color: rgba(124, 124, 124, 1);
  }
}
