.design {
  &-title-first {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    color: #333;
  }

  &-title-second {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    color: #333;
  }

  &-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #7c7c7c;
  }

  &-link {
    position: relative;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #0db2b3;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 0;
      border: 1px solid #0db2b3;
      top: 15px;
    }
  }

  &-photo-320px {
    object-fit: cover;
  }

  &-photo-640px {
    object-fit: cover;
  }

  &-photo-1280px {
    object-fit: cover;
  }
}
