.design {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 30px;

  &__h {
    position: absolute;
    width: 480px;
    left: 50%;
  }
  
  &__img {
    width: 582px;
    height: 388px;
    
    z-index: -1;
  }
  
  &__info {
    width: 400px;
    background-color: $c-gray;
    border: 20px solid transparent;
    padding-top: 130px;
  }
  
  &__text {
    line-height: 24px;
    color: $text-color;
  
    margin: 30px 0;
  }
  
  &__link {
    color: $hover-color;
    text-transform: uppercase;
    font-weight: 500;
    
    margin-top: 30px;
    padding-bottom: 15px;
    
    cursor: pointer;
  
    &::after {
      content: "";
      display: block;
      position: relative;
      height: 2px;
      width: 80px;
      top: 6px;
      background-color: $hover-color;
      transition: transform $duration;
      transform-origin: left;
    }

    &:hover {
      &::after {
        transform: scaleX(2.1);
      }
    }
  }
}

@media (max-width: 1050px) {
  .design {
    justify-content: start;
  }

  .design__img {
    width: 623px;
    height: 415px;
    margin-left: -130px;
  }

  .design__h {
    
    max-width: 430px;
    left: 253px;
  }

  .design__info {
    width: 340px;
    margin-left: -200px;
  }
}

@media (max-width: 767px) {
  .design {
    flex-direction: column;
    justify-content: center;
  }

  .design__h {
    position: relative;
    width: 260px;
    left: 0;
    margin: 0 auto;
  }

  .design__img {
    width: 260px;
    height: 210px;
    margin-left: calc(50% - 130px);
    margin-top: 30px;
  }

  .design__info {
    width: 260px;
    margin: 0 auto;
    padding-top: 0;
  }
}
