.design {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 30px;

  &__h {
    width: 480px;
    margin-left: -120px;
  }
  
  &__img {
    width: 582px;
    height: 388px;
  }
  
  &__info {
    width: 400px;
    background-color: $c-gray;
    border: 20px solid transparent;
  }
  
  &__text {
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
  
    margin: 30px 0;
  }
  
  &__link {
    color: $hover-color;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 30px;
    padding-bottom: 15px;
  
    cursor: pointer;
  
    &::after {
      content: "";
      display: block;
      position: relative;
      height: 2px;
      width: 20%;
      top: 6px;
      background-color: $hover-color;
    }
  }
}

@media (max-width: 1050px) {
  .design {
    justify-content: start;
  }

  .design__img {
    margin-left: -100px;
    z-index: -1;
  }

  .design__h {
    
    max-width: 430px;
    margin-left: -90px;
  }

  .design__info {
    width: 340px;
    margin-left: -150px;
  }
}
