.design {
  position: relative;
  width: 990px;

  margin: 150px auto;

  &__img {
    display: block;
  }

  &__title {
    position: absolute;
    left: 510px;
    top: 8px;
    z-index: 2;
    
    display: block;
    max-width: 482px;

    font-family: DIN Pro, sans-serif;
    font-size: 56px;
  }

  &__text {
    position: absolute;
    left: 612px;
    top: 168px;

    display: block;
    max-width: 378px;

    font-family: "HelveticaNeue", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  &__link {
    position: absolute;
    left: 612px;
    top: 321px;

    display: block;

    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #0db2b3;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;

    display: block;
    width: 54px;
    height: 1px;
    background-color: #0db2b3;
  }
}
