.details {
  &--hidden {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon-container {
    width: 50px;
    height: 40px;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include desktop {
      margin-bottom: 30px;
    }
  }

  &__icon {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;
  }

  &__text {
    text-align: center;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 56px;
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 24px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

    text-transform: uppercase;

    color: #333;

    transition: color 0.3s;

    &:hover {
      color: #828282;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
