
.director {

  // .director__text

  &__text {
    padding: 100px 30px;

  }

  // .director__desc

  &__desc {
    display: grid;
    align-items: center;
    max-width: 786px;
    height: 191px;
    margin: 0 auto;
    @include FontSet("Din Pro Bold", 24px, 36px);
    background-image: url(../images/ff.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: 535px) {
      @include FontSet("Din Pro Bold", 14px, 21px);
    }
  }

  // .director__pic

  &__pic {
    position: relative;
    bottom: 15px;
    margin-bottom: 5px;
  }

  // .director__name

  &__name {
    @include FontSet("Din Pro Bold", 16px, 27px);
  }

  // .director__position

  &__position {
    margin-top: 5px;
    @include FontSet("Helvetica Neue Roman", 14px, 17px);
    color: hsl(0, 0%, 49%);
  }
}
