.end-page {
  text-align: center;

  &__title {
    font-size: 72px;
    color: $advantages-title-color;
    font-weight: 300;
    line-height: 128px;
    margin: 215px auto 10px;
  }

  &__sub-title {
    font-weight: 500;
    font-family: $helvetica-Neue-font;
    color: $dark-font-color;
    margin-bottom: 15px;
    
  }

  &__text {
    max-width: 378px;
    line-height: 27px;
    font-weight: 400;
    margin: 0 auto 60px;
  }

  &__btn {
    display: block;
    width: fit-content;
    padding: 17px 53px;
    background-color: transparent;
    color: $advantages-title-color;
    border: 1px solid $advantages-title-color;
    text-transform: uppercase;
    margin: 0 auto 193px;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      background-color: $advantages-title-color;
      color: $general-color;
    }
  }
}

@media (max-width: 450px) {
  .end-page {
    &__title {
      margin: 50px auto 10px;
      font-size: 15vw;
    }

    &__btn {
      margin: 0 auto 50px;
    }
  }
}
