@import "variables";

.FAQ {

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 50px 0 0;

  &__left {

    flex-basis: 50%;
    text-align: right;

  }

  &__right {

    flex-basis: 50%;
    align-content: center;

  }

  &__form {

    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 90%;
    min-width: 250px;

  }

  &__title {

    display: flex;
    padding: 0 50px;
    justify-content: right;
    max-width: 650px;

    font-family: Din, sans-serif;
    font-size: 56px;

    text-transform: uppercase;

  }

  &__input,
  &__input-area {

    height: 48px;
    padding-left: 30px;
    margin-bottom: 19px;

    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;

    border: 1px solid $light_grey;

  }

  &__input-area {

    padding-top: 15px;
    height: 128px;

    resize: none;

  }
  &__submit {

    display: inline;
    width: 102px;
    height: 48px;
    box-sizing: border-box;
    margin-top: 11px;

    color: $standard_white;

    border: none;
    background-color: $light_blue;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    &:hover {

      background-color: $standard_white;
      color: $light_blue;
      border: 1px solid $light_blue;

    }

  }
}

@media screen and (max-width: 665px) {

  .FAQ {

    &__title {
      font-size: 37px;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1860px) {
  .FAQ {
    justify-content: center;
    justify-self: center;

    &__left {
      max-width: 650px;
    }
    &__right {
      max-width: 650px;
    }
  }
}
