.FAQ {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 120px 0;
  &__left {
    flex-basis: 50%;
    text-align: right;
  }
  &__right {
    align-content: center;
    flex-basis: 50%;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 10vw 0 0;
    max-width: 500px;
  }
  &__title {
    display: flex;
    font-family: Din, sans-serif;
    font-size: 56px;
    padding-right: 5vw;
    justify-content: right;
    text-transform: uppercase;
  }
  &__input,
  &__input-area {
    height: 48px;
    padding-left: 30px;

    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;

    border: 1px solid #828282;
    margin-bottom: 19px;
  }

  &__input-area {
    padding-top: 15px;
    height: 128px;
    resize: none;
  }
  &__submit {
    display: inline;
    width: 102px;
    height: 48px;
    box-sizing: border-box;
    background-color: #0db2b3;
    color: #f6f6f6;
    border: none;
    margin-top: 11px;
  }
}
