.features {
  position: relative;
  display: flex;
  flex-direction: column;
}

.features__heading {
  margin: 0 0 24px 123px;
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 70px;
  text-transform: uppercase;
  color: #333;
}

.features__sound,
.features__connectivity,
.features__app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-end;
}

.features__sound::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -75px;
  width: 1113px;
  height: 701px;
  background-image: url(../images/Sound.png);
  background-repeat: no-repeat;
  background-position: 200px 150px;
  background-color: #f2f2f2;
  z-index: -12;
}

.features__sound--margin {
  margin-left: 633px;
}

.features__connectivity--margin {
  margin-left: 225px;
}

.features__app--margin {
  margin: 121px 0 0 428px;
}

.features__topic {
  font-family: "DIN Pro", sans-serif;
  font-size: 34px;
  line-height: 120%;
  text-transform: uppercase;
  color: #0c797a;
  padding-bottom: 44px;
}

.features__list-element {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}

@media screen and (max-width: 1024px) {
  .features {
    width: 100vw;
  }
  .features__sound::after {
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .features {
    width: 100vw;
    overflow: hidden;
  }
  .features__heading {
    margin-left: 45px;
  }
  .features__sound::after {
    width: 730px;
    height: 735px;
    background-size: 80%;
    background-position: 80px 120px;
  }
  .features__sound--margin {
    margin-left: 319px;
  }
  .features__connectivity--margin {
    margin-left: 35px;
  }
  .features__app--margin {
    margin: 160px 0 0 175px;
  }
}
@media screen and (max-width: 500px) {
  .features {
    align-items: center;
  }
  .features__sound--margin,
  .features__connectivity--margin,
  .features__app--margin {
    margin-left: 0;
  }
  .features__heading {
    align-self: flex-start;
    font-size: 46px;
    margin: 0 0 50px;
  }
  .features__topic {
    font-size: 30px;
  }
  .features__list-element {
    font-size: 14px;
  }
  .features__sound::after {
    background-position: 115px 210px;
  }
}
