.features {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 930px;
  
  font-family: "Helvetica Neue", sans-serif;
  color: $main-color;
}

.features__bg-rect {
  position: absolute;
  width: 1115px;
  height: 700px;
  left: 204px;
  top: 210px;
  background-color: #f2f2f2;

  z-index: -1;
}

.features__img {
  position: absolute;
  width: 786px;
  height: 509px;
  left: 405px;
  top: 386px;
}

@media (max-width: 1200px) {
  .features__img {
    width: 586px;
    height: 379px;
    left: 147px;
    top: 403px;
    z-index: -1;
  }
}
