.feature {

  &__heading {
    @extend %mediumHeading;
    color: #0c797a;
    margin-bottom: 38px;

    @media (max-width: $mobileBreakPoint) {
      margin-left: -$tabletBodyIndentsX;
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__list {
    list-style-type: disc;
  }

  &__item {
    margin-bottom: 13px;
    line-height: 19px;

    @media (max-width: $mobileBreakPoint) {
      font-size: 14px;
    }
  }
}
