.features {
  display: flex;
  flex-direction: column;
  margin: 0 0 88px;

  &__title {
    margin: 0 0 30px;
    width: 240px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__container {
    width: 320px;
    height: 575px;
    background-color:rgba(214, 236, 236, 1);
  }

  &__image {
    margin-top: -3px;
  }
}
