@media (min-width: 320px) {
  .Features {

    &-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;

    &-title {
      display: flex;
      justify-content: center;
    }

    &-big-containers {
      width: 100%;
      background-image: url(../images/Rectangle.png);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &-first-loink-list {
      margin: 0;
      padding: 0;
      width: 300px;
    }
  }

  .first {
    display: none;
  }

  .third {
    display: none;
  }
}

@media (min-width: 1280px) {
  .second {
    margin: 0;
  }

  .Features {
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
      width: 90%;
    }

    &-big-containers {
      display: grid;
      grid-template-columns: 45% 45%;
      align-items: flex-start;
      justify-content: flex-end;
    }

    &-link {
      margin-top: 10px;
    }

    &-photo {
      margin-top: 77px;
    }
  }
  .first {
    display: unset;
  }

  .first-link {
    margin-top: 30px;
  }

  .first-card {
    margin-top: 40px;
  }

  .second-card {
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .third-card {
    margin-top: 40px;
  }

  .third {
    display: unset;
  }
}
