.features {
  &__cards {
    display: none;
    @include onDesktop {
      display: grid;
    }
  }
  &__list {
    margin-left: 15px;
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 30px;
    @include onTablet {
      padding: 0;
    }
    @include onDesktop {
      font-size: 56px;
      line-height: 70px;
    }
  }
  &__container {
    position: relative;
    background-color: #d6ecec;
    margin: 0 auto;
    padding: 30px 30px 0;
    @include onTablet {
      padding: 60px 90px;
    }
    @include onDesktop {
      max-width: 1200px;
      padding: 60px 0;
    }
  }
  &__img-container {
    @include onTablet {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    @include onDesktop {
      right: 46px;
    }
  }
  &__img {
    mix-blend-mode: darken;
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__subtitle {
    text-align-last: left;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-transform: uppercase;
    color: #0c797a;
    margin-bottom: 30px;
  }
  &__item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;

    @include onDesktop {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
