.features {
  display: flex;
  flex-direction: column;
  margin: 0 0 90px;
  width: 320px;

  &__title {
    margin: 0 0 30px;
    width: 240px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__container {
    width: 320px;
    height: 575px;
    background-color: rgba(214, 236, 236, 1);
  }

  &__slider {
    box-sizing: border-box;
    width: 259px;
    height: 350px;
    overflow: hidden;
  }

  &__slider-wrapper {
    position: relative;
    display: flex;
    margin: 0;
    width: 780px;
    left: 0;
    transition: all ease 1.5s;
  }

  &__image {
    margin-top: -3px;
  }
}
