@media (min-width: 320px) {

  .Features {

    &-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &-figures {
      margin-top: 51px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-images-bigcontainer {
      display: flex;
      flex-direction: column;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;

    &-title {
      display: flex;
      justify-content: center;
    }

    &-link {
      margin: 10px 0;
    }

    &-link-list {
      width: 280px;
    }

    &-big-containers {
      width: 100%;
      background-image: url(../images/Rectangle.png);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-first-title {
        margin: 30px 0;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #0c797a;
      }
    }

    &-first-loink-list {
      margin: 0;
      padding: 0;
      width: 300px;
    }

    &-photo {
      margin-top: 97px;
      width: 100%;
    }
  }

  .first-card {
    display: none;
  }

  .third-card {
    display: none;
  }
}

@media (min-width: 640px) {
  .Features {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
      width: 90%;

    }

    &-big-containers {
      align-items: flex-start;
    }

    &-figures {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-images-bigcontainer {
      margin-left: 20%;
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: 300px;
      align-items: center;
    }

    &-photo {
      margin: 0;
    }

    &-title-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .second-card {
    margin-left: 20%;
  }

  .first-card {
    margin-left: 20%;
    display: none;
  }

  .third-card {
    margin-left: 20%;
    display: none;
  }
}

@media (min-width: 1280px) {
  .second {
    margin: 0;
    font-size: 36px;
  }

  .display {
    display: none;
  }

  .Features {
    display: flex;
    justify-content: center;
    align-items: center;

    &-big-containers {
      display: grid;
      grid-template-columns: 45% 45%;
      align-items: flex-start;
      justify-content: flex-end;
    }

    &-images-bigcontainer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: 100px ;
    }

    &-photo {
      margin-top: 60px;
      height: 302px;
      width: 582px;
    }

    &-link {
      margin-top: 10px;

      &-list {
        width: 360px;
      }
    }
  }
  .first {
    font-size: 36px;
  }

  .first-link {
    margin-top: 30px;
  }

  .first-card {
    margin-left: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .second-card {
    margin-left: 0;
    margin-top: 56px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
  }

  .third-card {
    margin-left: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .third {
    font-size: 36px;
    display: unset;
  }
}
