.Features {

  &-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #333;
  }

  &-big-containers-first-title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-transform: uppercase;
    color: #0c797a;
  }

  &-link {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }

  &-photo {
    background-blend-mode: darken;
  }

  &-figure-container {
    display: flex;
  }

  &-number-container {
    display: flex;
  }

  &-first-number {
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }

  &-third-number {
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #0c797a;
  }

  &-second-number {
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #0c797a;
  }
}
