.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  margin: 0 15% 150px;
}

.feedback__background {
  position: absolute;
  top: -10%;
  z-index: -1;
  background-image: url(../images/feedback.svg);
  @include image;
  width: 230px;
  height: 190px;
}

.feedback__text {
  font-weight: bold;
  font-family: "DIN Pro", Helvetica, sans-serif;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  color: #333;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person__photo {
  margin-bottom: 20px;
  width: 62px;
  height: 62px;
}

.person__name {
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #333;
}

.person__job {
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #7c7c7c;
}

@media screen and (max-width: 500px) {
  .feedback__text {
    font-size: 20px;
    line-height: 34px;
  }
}
