.fifth-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1200px;
}

.fifth-block__container {
  width: 582px;
}

.fifth-block__container-tittle {
  @include TittleStyles;
  font-size: 56px;
  margin-bottom: 30px;
}

.fifth-block__container-text {
  @include TextStyles;
  font-size: 16px;
  margin-bottom: 80px;
}

.learn__more {
  @include LearnStyles;
  position: relative;
  padding-bottom: 5px;
  width: fit-content;
  overflow: hidden;
}

.learn__more::after {
  content: "";
  position: absolute;
  width: 40%; /* Изначально устанавливаем нулевую ширину для линии */
  background-color: #0db2b3;
  left: 0;
  bottom: 0;
  height: 1px;
  transition: width 0.3s ease; /* Добавляем плавный переход для ширины */
}

.learn__more:hover::after {
  width: 100%; /* При наведении увеличиваем ширину линии до 100% */
}
