.first-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 465px;
}

.first-block__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-block__container-tittle {
  display: inline-block;
  color: $Main-text-color;
  width: 378px;
  font-size: 62px;
  font-weight: 700;
  line-height: 78px;
  text-transform: uppercase;
}

.first-block__container-text {
  font-size: 16px;
  font-weight: 400;
  width: 276px;
}

.lang {
  font-size: 14px;
  color: #828282;
  font-weight: 300;
}

.active {
  font-weight: 700;
  color: black;
}
