@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/DINPro-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url(../fonts/HelveticaNeueCyr-Light.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
  font-weight: normal;
}
