.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__logo {
  margin-top: 142px;
}

.footer__media {
  margin-top: 65px;
}

.footer__icon {
  margin: 0 18px 36px;
}

.footer__icon--twitter {
  margin-right: 38px;
}

.footer__icon--instagram {
  margin-right: 45px;
}

.footer__rights {
  font-size: 14px;
  color: #bdbdbd;
  margin-bottom: 100px;
}

.footer__arrow {
  display: none;
}

@media screen and (max-width: 1024px) {
  .footer__logo {
    margin: 142px auto 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__logo {
    margin: 0 auto;
    opacity: 0;
  }
  .footer__arrow {
    display: block;
    position: absolute;
    top: 20%;
    right: 15%;
    transform: rotate(90deg);
  }
  .footer__rights {
    width: 80%;
    text-align: center;
  }
}
