@import "form";

.footer {
  padding: 0 5px;
  position: relative;
  max-width: 1440px;

  &__questions {
    max-width: 940px;
    margin: 0 auto;
    display: flex;

    @media (max-width: 767px) {
      display: block;
      padding: 0;
    }
  }

  &__header {
    max-width: 480px;
    font-family: "DIN Pro", sans-serif;
    font-size: 56px;
    line-height: 72px;
    text-transform: uppercase;
    color: #333;

    @media (max-width: 999px) {
      margin-left: 30px;
      max-width: 340px;
      line-height: 70px;
    }

    @media (max-width: 767px) {
      margin: 45px auto 0;
      max-width: 260px;
      font-size: 37px;
      line-height: 46px;
    }
  }

  &__form {
    flex-grow: 2;
    margin-left: 102px;

    @media (max-width: 999px) {
      margin-left: 30px;
      margin-right: 30px;
    }

    @media (max-width: 767px) {
      margin: 30px auto 0;
      max-width: 260px;
    }

  }

  &__logo {
    width: fit-content;
    margin: 142px auto 0;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__connection {
    width: fit-content;
    margin: 63px auto 0;

    @media (max-width: 767px) {
      margin-top: 100px;
    }
  }

  &__twitter {
    margin-left: 46px;
  }

  &__inst {
    margin-left: 43px;
  }

  &__rights {
    margin: 36px 0 100px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #bdbdbd;

    @media (max-width: 767px) {
      margin: 23px auto 50px;
      font-size: 12px;
      max-width: 260px;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 132px;
    right: 18%;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 767px) {
      right: 30px;
    }
  }

  &__connect-img {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.3);
    }
  }

}
