.footer {
  color: $form-text;

  &__content {
    @include page-grid;

    padding-bottom: 20px;
    row-gap: 30px;
    justify-content: center;

    @include on-tablet {
      row-gap: 60px;
    }
  }

  &__bottom {
    text-align: center;
    grid-column: 1/-1;

    @include on-tablet {
      font-weight: 300;
    }
  }

  &__icons {
    display: flex;
    gap: 40px;
    justify-content: center;
    grid-column: 1/-1;

    @include on-tablet {
      gap: 49px;
    }
  }

  &__logo {
    width: 186px;
    height: 30px;
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
  }
}
