.footer {
  display: flex;
  flex-direction: column;
  margin-top: 107px;
  margin-bottom: 50px;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media (max-width: 500px) {
      gap: 20px;
    }
  }
}

.main__img-footer-logo {
  width: 161px;
  height: 26px;
  object-fit: contain;
}

.main__container-links {
  display: flex;
  gap: 20px;
}

.main__copywrite {
  margin-top: 30px;

  @media (max-width: 500px) {
    width: 260px;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: rgba(189, 189, 189, 1);
  }
}
