@media (min-width: 320px) {
  .Footer {
    margin-top: 89px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-container {
      width: 90%;
    }

    &-first-smallercontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-title {
      max-width: 260px;
      margin: 0;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 37px;
      line-height: 40px;
      text-transform: uppercase;
      color: #333;
    }

    &-logo-container {
      display: none;
    }

    &-icon-container {
      display: flex;
      justify-content: space-between;
      width: 65%;
    }

    &-second-smallercontainer {
      margin-top: 113px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-big-icon-container {
      display: flex;
      justify-content: center;
    }

    &-copyright {
      margin-top: 33px;
      text-align: center;
    }
  }

  .contact {
    &__form-elements {
      width: 100%;
      margin-top: 13px;
    }
  }

  .form-button {
    margin-top: 30px;
    width: 102px;
    height: 40px;
    background-color: #0db2b3;
    border: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;
  }

  .label-line {
    width: 100%;
  }
}

@media (min-width: 644px) {
  .Footer {
    &-title {
      margin: 0;
      max-width: 330px;
      font-size: 30px;
    }

    &-first-smallercontainer {
      display: grid;
      flex-direction: row;
      grid-template-columns: 50% 50%;
    }

    &-second-smallercontainer {
      align-items: flex-end;
    }

    &-logo-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &-icon-container {
      display: none;
    }
    &-first-icon-container {
      margin-top: 60px;
      width: 130px;
      display: flex;
      justify-content: space-between;
    }

    &-copyright {
      width: 100%;
    }

    &-big-icon-container {
      width: 100%;
    }

    &-big-small-container {
      width: 60%;
    }

    &-arrow {
      width: 20px;
      height: 24px;
    }
  }

  .contact {
    &__message {
      height: 200px;
      margin-top: 20px;
    }
  }

  .label-line {
    margin: 0;
  }

}

@media (min-width: 1280px) {
  .Footer {
    &-title {
      font-size: 56px;
      max-width: 584px;
    }
  }

  .contact {
    &__message {
      height: 128px;
      margin-top: 20px;
    }
  }
}
