.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__mail {
    box-sizing: border-box;
    border: 1px solid #828282;
    font-family: "Inter", sans-serif;
    padding: 12px 32px;
    margin-bottom: 12px;
    background-color: $colorBackground;

    &:focus {
      outline: none;
    }

    @include onTablet {
      padding: 12px 30px;
    }

    @include onPhone {
      padding: 12px 20px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #bdbdbd;
    }
  }

  &__textarea {
    box-sizing: border-box;
    border: 1px solid #828282;
    font-family: "Inter", sans-serif;
    padding: 12px 32px;
    height: 128px;
    margin-bottom: 30px;
    background-color: $colorBackground;
    resize: none;

    &:focus {
      outline: none;
    }

    @include onTablet {
      padding: 12px 30px;
    }

    @include onPhone {
      padding: 12px 20px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #bdbdbd;
    }
  }

  &__button {
    box-sizing: border-box;
    width: 126px;
    height: 45px;
    background-color: #0db2b3;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #0c797a;
      transition: 0.3s;
      transform: scale(1.1);
    }

    &:disabled {
      background-color: #cfeff0;
      cursor: not-allowed;
      opacity: 1;
    }
  }
}
