.form {

  &__input {
    display: block;
    position: relative;
    padding-left: 30px;
    width: 100%;
    height: 48px;
    border: 1px solid #828282;
  }

  &__input::placeholder {
    display: block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    // line-height: 19px;
    color: #bdbdbd;
  }

  &__input--email {
    margin-bottom: 19px;
  }

  &__input--text {
    height: 128px;
    padding-bottom: 80px;

  }

  &__button {
    margin-top: 30px;
    width: 102px;
    height: 48px;
    background: #0db2b3;

    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-transform: uppercase;
    border: none;
  }
}
