.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #828282;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $textLink;
  }

  &:focus {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    border-color: #0c797a;
    outline: none;
  }

  &--textarea {
    height: 128px;
    width: 100%;
    font-family: inherit;
    resize: none;
  }
}
