.form-btn {
  display: block;
  padding: 17px 55px;
  max-width: fit-content;
  background-color: $btn-background-color;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: $general-color;
  border: 1px solid $general-color;
  transition: color 0.4s, border-color 0.4s, background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $general-color;
    color: $btn-background-color;
    border-color: $btn-background-color;
  }
}

@media (max-width: 520px) {
  .form-btn {
    padding: 15px 40px;
  }
}

@media (max-width: 440px) {
  .form-btn {
    padding: 15px 30px;
  }
}
