.form {
  display: flex;
  flex-direction: column;
  width: 440px;

  &__input {
    margin-bottom: 20px;
  }

  &__textarea {
    height: 130px;
    margin-bottom: 30px;
    resize: none;
  }

  &__btn {
    border: none;
  }
}
