.forth-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.forth-block__container {
  width: 582px;
}

.forth-block__container-tittle {
  @include TittleStyles;
  font-size: 56px;
  margin-bottom: 30px;
}

.forth-block__container-text {
  @include TextStyles;
  font-size: 16px;
  margin-bottom: 80px;
}

.learn__more {
  @include LearnStyles;
  position: relative;
  padding-bottom: 5px;
}

.learn__more::after {
  position: absolute;
  content: "";
  width: 12%;
  background-color: #0db2b3;
  left: 0;
  bottom: 0;
  height: 1px;
}
