.function {

  &__header {
    font-family: "DIN Pro", sans-serif;
    font-size: 34px;
    line-height: 120%;
    text-transform: uppercase;
    color: #0c797a;
  }

  &__text {
    margin-top: 40px;

  }

  &__list {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }
}
