.future {
  position: relative;
  padding-bottom: 110px;

  &__title {
    margin: 0;
    font-size: 30px;
    line-height: 46px;
    text-transform: uppercase;
    color: $item-color;
    margin-bottom: 20px;

    @include onPhone {
      margin-top: 110px;
    }

    @include onTabletAndDesktop {
      display: none;
    }

    @include onTablet {
      margin-top: 140px;
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-top: 170px;
      margin-bottom: 30px;
    }

    &_tablet {
      margin: 0;
      font-size: 30px;
      line-height: 46px;
      text-transform: uppercase;
      color: $item-color;
      margin-bottom: 30px;

      @include onPhone {
        display: none;
      }

      @include onTablet {
        font-size: 36px;
        line-height: 46px;
      }

      @include onDesktop {
        font-size: 56px;
        line-height: 70px;
      }
    }

    &_modified {
      margin: 0;

      @include onPhone {
        margin-top: 110px;
        margin-bottom: 20px;
      }

      @include onTablet {
        margin-bottom: 30px;
      }

      @include onDesktop {
        margin-top: 170px;
        margin-bottom: 30px;
      }
    }
  }

  &__description {
    margin: 0;
    line-height: 21px;
    color: $description-color;
    font-size: 16px;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onPhone {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 14px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }

    &-container {
      position: relative;

      @include onTablet {
        margin-top: 130px;
      }

      @include onDesktop {
        margin-top: 170px;
      }
    }
  }

  &-img {
    width: 100%;

    &_phone {
      width: 100%;
      @include onTabletAndDesktop {
        display: none;
      }
    }

    &_tablet {
      display: none;

      @include onTabletAndDesktop {
        display: block;
      }

      @include onTablet {
        margin-top: 130px;
      }

      @include onDesktop {
        margin-top: 170px;
      }
    }
  }

  &__button {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $button-submit-color;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 5.5px;
    transition: border 0.5s ease-in-out;

    &::after {
      content: "";
      display: block;
      width: 53px;
      border-top: 1px solid $button-submit-color;
      color: $button-submit-color;
      margin-top: 5px;
    }

    &:hover {
      border-bottom: 1px solid $button-submit-color;
    }
  }

  &__quotes {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 116px;

    @include onTablet {
      width: 233px;
      margin-top: 134px;
    }
  }

  &__paragraph {
    display: block;
    margin: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $item-color;
    margin-top: 166px;

    @include onPhone {
      line-height: 142%;
    }

    @include onTablet {
      font-size: 24px;
      margin-top: 197px;
      max-width: 700px;
    }

    @include onDesktop {
      margin: auto;
      margin-top: 174px;
      max-width: 786px;
    }
  }

  &__avatar {
    display: block;
    margin: 0 auto;
    margin-top: 30px;

    @include onTablet {
      margin-top: 40px;
    }
  }

  &__name {
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $item-color;
  }

  &__post {
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $description-color;
  }
}
