@import 'utils/utils';
@import 'header/header';
@import 'main/main';
@import 'same-blocks/same-blocks';
@import 'footer/footer';

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body:has(.menu:target) {
  overflow-y: hidden;
}
