@use 'header';
@use './utils/mixins' as *;
@use 'aside';
@use 'benefits';
@use 'about-us';
@use 'container';
@use './technology';
@use './testimonilas';
@use 'features';
@use 'footer';
@use 'nav';
@use 'presentation';
@use 'form';
@use 'box';
@use 'slider';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F7F7F7;
}
