* {
  box-sizing: border-box;
}

html {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $mainColor;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: $colorBody;
}
