#go-top {
  position: fixed;
  bottom: 50px;
  right: 10px;

  @include onTablet {
    bottom: 50px;
    right: 70px;
  }

  z-index: 12;
  display: none;
  width: 30px;
  height: 30px;
  background: center no-repeat url(../images/arrow.svg);
  transition: transform $duration;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.2);
  }
}
