.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;

  @include on-tablet {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }

  &--off-phone {
    display: block;

    @include on-tablet {
      display: grid;
    }
  }

  &__item {
    &--full {
      grid-column: 1 / 5;
    }

    @include on-tablet {
      &--full {
        grid-column: 1 / 9;
      }

      @for $start from 1 through 8 {
        @for $end from $start through 8 {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @include on-desktop {
      &--full {
        grid-column: 1 / 13;
      }

      @for $start from 1 through 12 {
        @for $end from $start through 12 {
          &--desktop-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
