.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top__describe {
  display: flex;
  flex-direction: column;
  margin-left: 123px;
  z-index: 3;
}

.header-top__headline {
  font-family: "DIN Pro", sans-serif;
  font-size: 64px;
  line-height: 130%;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 27px;
}

.header-top__text {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header-top__photo {
  width: 939px;
  height: 464px;
}

@media screen and (max-width: 1024px) {
  .header-top__photo {
    width: 532px;
    height: 416px;
    margin: 19px 109px 0 0;
    object-position: 0 0;
    object-fit: cover;
  }
  .header-top__headline {
    margin-top: 80px;
  }
  .header-top__describe {
    margin-left: 45px;
  }
}
@media screen and (max-width: 768px) {
  .header-top {
    overflow: hidden;
  }
  .header-top__headline {
    font-size: 48px;
  }
  .header-top__describe {
    margin-left: 30px;
  }
  .header-top__photo {
    height: 365px;
    margin: 30px -67px 0 -72px;
    z-index: -1;
  }
}
@media screen and (max-width: 600px) {
  .header-top {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .header-top__photo {
    width: 100vw;
    height: 245px;
    margin: -30px 0;
    padding-left: 80px;
  }
  .header-top__headline,
  .header-top__text {
    text-align: center;
  }
}
