.header {
  box-sizing: border-box;
  max-width: 1200px;
  background: $c-gray;

  @media (min-width: 640px) {
    padding-bottom: 142px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 171px;
  }
}

.navmenu {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  @media (min-width: 640px) {
    padding: 0 35px;
  }

  @media (min-width: 1280px) {
    padding: 0 123px;
  }

  &__logo {
    width: 161px;
    height: 26px;
    padding-top: 25px;
  }

  &__right {
    &--icon {
      width: 24px;
      height: 24px;
      padding-top: 30px;
      &--iconmenu {
        width: 24px;
        height: 16px;
      }
    }
  }
}
