.header {
  &__middle {
    display: flex;
    margin: 0 180px;
  }
}

@media (max-width: $tablet-screen) {
  .header {
    &__middle {
      margin: 0 60px;
    }

    &__img {
      width: 739px;
      height: 365px;
    }
  }
}

@media (max-width: $phone-screen) {
  .header {
    &__middle {
      flex-direction: column;
      align-items: center;
      margin: 0 30px;
    }

    &__img {
      display: none;
    }

    &__img-phone {
      width: 320px;
      height: 245px;

      background: url(/images/crazybaby-little.png) no-repeat center;
    }

    &__cart {
      position: fixed;
      top: 474px;
      right: 30px;

      width: 48px;
      height: 48px;
      border-radius: 50%;

      background: url(/images/cart.png) no-repeat center $color-green;
      box-shadow: 0 5px 8px rgba(154, 154, 154, 0.61);
    }
  }
}
