.heading {
  font-family: "DIN Pro", "Roboto", sans-serif;
  font-size: 56px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $mobileBreakPoint) {
    font-size: 37px;
    line-height: 1.5;
  }
}
