.header {
  box-sizing: border-box;
  max-width: 1200px;
  background: $c-gray;
  margin: 0 auto;

  @media (min-width: 640px) {
    padding-bottom: 142px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 171px;
  }
}

.navmenu {
  padding: 0 30px;
  @media (min-width: 640px) {
    padding: 0 35px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'logo' 'right';

    @media (min-width: 640px) {
      grid-template-columns: repeat(8, 70px);
      gap: 20px;
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(12, 72px);
      gap: 30px;
    }
  }
  &__logo {
    width: 161px;
    height: 26px;
    padding-top: 25px;
    grid-column: 1/3;
  }

  &__right {
    @media (min-width: 640px) {
      grid-column: 8/8;
    }
    @media (min-width: 1280px) {
      grid-column: 12/12;
    }

    &--icon {
      width: 24px;
      height: 24px;
      padding-top: 30px;
      &--iconmenu {
        width: 24px;
        height: 16px;
      }
    }
  }
}
