.history {
  position: relative;
  padding-top: 150px;
}

.history__img {
  width: 582px;
  height: 388px;
  float: left;
  margin-left: 200px;
}

.history__heading {
  transform: translate(-77px, 15px);
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 72px;
  color: #333;
}

.history__text,
.history__info {
  font-family: "Helvetica Neue", sans-serif;
  overflow: hidden;
  padding: 30px 0 15px 30px;
}

.history__text {
  width: 370px;
  font-size: 16px;
  line-height: 150%;
}

.history__info {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.history__info--link {
  color: #0db2b3;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.history__info--link::after {
  content: "";
  display: block;
  width: 4.5em;
  margin-top: 6px;
  border-bottom: 1px solid #0db2b3;
  transition: width 1s;
}

.history__info--link:hover::after {
  width: 10.4em;
  transition: width 1s;
}

@media screen and (max-width: 1024px) {
  .history {
    overflow: hidden;
  }
  .history__img {
    margin-left: 5px;
  }
  .history__heading {
    font-size: 54px;
  }
}
@media screen and (max-width: 768px) {
  .history {
    overflow: hidden;
    width: 871px;
  }
  .history__img {
    width: 475px;
    height: 410px;
    margin-left: -90px;
  }
  .history__text {
    width: 300px;
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .history {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: hidden;
    width: 100vw;
    padding-top: 50px;
  }
  .history__heading {
    width: 285px;
    margin: 0 calc(50% - 71px);
    order: -1;
    font-size: 37px;
    line-height: 55px;
    border: 1px solid black;
  }
  .history__img {
    margin: 50px 0 0;
    width: 100vw;
  }
}
