.history {
  @include tablet {
    @include useGrid (8, 0);
    column-gap: 20px;

  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #333;

    margin-bottom: 30px;

    @include tablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include desktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__image-container {
    grid-row: 1 / 5;
    margin-bottom: 20px;

    @include tablet {
      height: 420px;
      margin-bottom: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    transition: 0.3s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__info {
    font-weight: 400;

    color: #7c7c7c;
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 60px;
    }
  }
}
