.icon {
  display: block;
  background-size: cover;

  &--menu {
    display: flex;
    align-items: center;
    background-image: url(/src/images/add/Icon-Burger-menu.png);
    height: 32px;
    width: 32px;
  }

  &--close {
    display: flex;
    align-items: center;
    background-image: url(/src/images/add/Icon-Close.png);
    height: 24px;
    width: 24px;
  }
}
