.icon {
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: transform .3s;

  &:hover {
    @include scale;
  }

  &--logo {
    background-image: url(../images/icon/logo1.png);
    width: 161px;
    height: 26px;
  }

  &--menu {
    background-image: url(../images/icon/Icon-Burger-menu\ \(2\).png);
    width: 32px;
    height: 32px;

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icon/Icon-Close\ \(1\).png);
    width: 24px;
    height: 24px;
  }

  &--start {
    background-image: url(../images/icon/left.png);
    width: 48px;
    height: 13px;

    &:hover {
      background-image: url(../images/icon/left--active.png);
    }

    &:active {
      background-image: url(../images/icon/left--active.png);
    }
  }

  &--end {
    background-image: url(../images/icon/right.png);
    width: 48px;
    height: 13px;

    &:hover {
      background-image: url(../images/icon/right--active.png);
    }

    &:active {
      background-image: url(../images/icon/right--active.png);
    }
  }

  &--x {
    background-image: url(../images/icon/twitter.png);
    width: 24px;
    height: 24px;
  }

  &--facebook {
    background-image: url(../images/icon/facebook.png);
    width: 24px;
    height: 24px;
  }

  &--instagram {
    background-image: url(../images/icon/instagram.png);
    width: 24px;
    height: 24px;
  }

  &--arrow {
    display: none;

    @include on-tablet {
      display: block;
      position: absolute;
      right: 34px;
      top: 0;
      background-image: url(../images/icon/arrow.png);
      width: 50px;
      height: 50px;
    }

    @include on-desktop {
      right: 123px;
    }
  }
}
