.icon {
  display: block;
  width: 24px;
  height: 14px;
  background: url(../images/icon-menu.svg);

  @include onTablet {
    display: none;
  }
}

.icon__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.icon--close {
  display: block;
  width: 24px;
  height: 24px;
  background: center no-repeat url(../images/cross.svg);
}
