.icon {
  display: block;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url(../images/menu.svg);

  &--cross {
    background-image: url(../images/cross.svg);
  }
}
