.image {
  padding: 0 12px;

  @include tablet {
    padding: 0 35px;
  }

  @include desktop {
    max-width: 1280px;
    margin: auto;
  }

  &__image {
    width: 100%;
    height: auto;
    padding: 0 12px;

    @include desktop {
      width: 846px;
      height: 520px;
    }
  }
}
