.m_225 {
  margin: 150px 225px;
}

.ml_225 {
  margin: 0 225px;
}

.mt_150 {
  margin-top: 150px;
}

.mb_150 {
  margin-bottom: 150px;
}

.mb_100 {
  margin-bottom: 100px;
}

.mb_216 {
  margin-bottom: 216px;
}

@media (max-width: 1050px) {
  .m_225 {
    margin: 100px 50px;
  }

  .ml_225 {
    margin: 0 50px;
  }
}

@media (max-width: 1050px) {
  .m_225 {
    margin: 130px 0;
  }
}

@media (max-width: 680px) {
  .m_225 {
    margin: 90px 0;
  }
}

@media (max-width: 460px) {
  .m_225 {
    margin: 40px 20px;
  }

  .ml_225 {
    margin: 0 20px;
  }
}
