.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "DINPro", sans-serif;
  color: $main-color;

  &__textarea {
    width: 380px;
    z-index: 1;
    order: 0;
  }

  &__h {
    font-size: 64px;
    line-height: 130%;
    text-transform: uppercase;
    font-weight: 900;
    font-family: inherit;

    margin-top: 30px;
  }
  
  &__text {
    width: 75%;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    font-weight: 500;
    
    margin-top: 30px;
  }
  
  &__img {
    max-width: 930px;
    height: 460px;
  }
}

@media (max-width: 1050px) {
  &__textarea {
    width: 340px;
  }
  
  .info__h {
    font-size: 48px;
  }

  .info__img {
    height: 352px;
    width: 570px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .info {
    flex-direction: column;
  }

  .info__img {
    width: 310px;
    height: 190px;
    margin: 0 calc(50% - 120px);
    order: 0;
  }

  .info__h {
    width: 260px;
    font-size: 44px;
    margin: 0 auto;
    text-align: center;
  }

  .info__text {
    margin: 30px auto 0;
    text-align: center;
  }

  .info__textarea {
    width: 260px;
    margin: 0 auto;
    order: 1;

  }
}
