.info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 108px;
  position: relative;
}

.info__column {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 0;
}

.info__icon {
  height: 40px;
  width: 50px;
  align-self: center;
}

.info__heading {
  height: 60px;
  align-self: center;
  font-family: "DIN Pro", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.info__text {
  padding-top: 20px;
  padding-bottom: 150px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 276px;
  align-items: start;
}

@media screen and (max-width: 1024px) {
  .info {
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 33px;
  }
  .info__text {
    padding-bottom: 90px;
    width: 340px;
  }
  .info__icon {
    margin-bottom: 40px;
  }
  .info__column {
    margin: 0;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .info {
    width: 730px;
    justify-content: flex-start;
    padding: 0 17px;
  }
}
@media screen and (max-width: 600px) {
  .info {
    overflow: hidden;
    width: 100vw;
    padding: 0;
  }
  .info__column,
  .info__text {
    width: 95vw;
  }
}
