.info {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 1420px;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.info__h {
  position: relative;
  width: 380px;
  top: 80px;
  font-size: 64px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;

  margin-right: 20px;
}

.info__text {
  position: relative;
  width: 280px;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  font-weight: 500;
  margin-top: 27px;
}

.info__img {
  width: 1000px;
  height: 460px;
}

@media (max-width: 1000px) {
  .info {
    flex-direction: column;
  }
}
