.info {
  &__mobile {
    @include onMobile {
      height: 245px;
      background-size: cover;
      background-position: center;
      background-image: url(../images/fut_m.png);
    }
  }

  &__main-text {
    @include onMobile {
      margin-top: 20px;
    }
  }

  &__section {
    display: flex;
  }

  &__text-section {
    width: 378px;
  }

  &__pict {
    width: 100%;
    display: inline-block;

    @include onPad {
      height: 317px;
      background-size: cover;
      background-position: center;
      background-image: url(../images/fut_p.png);
    }

    @include onDesktop {
      height: 464px;
      background-size: cover;
      background-position: left;
      background-image: url(../images/fut_d.png);
    }
  }
}
