.input {

  &__item {
    display: none;
  }

  &__label {
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    color: #bdbdbd;
    font-weight: 500;
  
    &:hover {
      color: $text-color;
      font-weight: 500;
    }
  }

  &-en:checked ~ &__label-en {
    color: $text-color;
    font-weight: 500;
  }

  &-ua:checked ~ &__label-ua {
    color: $text-color;
    font-weight: 500;
  }
}
