.intro {
  display: flex;
  align-items: center;
  overflow: hidden;
    
  &__title {
    font-size: $large-font-size;
    text-transform: uppercase;
    text-align: start;
    font-weight: 900;
    font-family: "Dino pro";
    margin-bottom: 44px; 
  }

  &__text {
    max-width: 266px;
    font-size: $small-font-size;
    font-family: "Helvetica Neue";
    line-height: 2;
  }

  &__img {
    height: auto;
    display: block;
    position: relative;
    left: 20px;
    object-fit: contain;
  }
}

@media (max-width: 1380px) {
  .intro {
    &__title {
      font-size: 4.6vw;
    }

    &__text { 
      font-size: 1vw;
    }

    &__img { 
      width: 75%;
    }
  }
}

@media (max-width: 980px) {
  .intro {
    &__title {
      margin-bottom: 20px;
    }

    &__text { 
      font-size: 1vw;
      max-width: 266px;
    }

    &__img { 
      width: 70%;
    }
  }


}