.intro {
  display: flex;
  align-items: center;
  overflow: hidden;
    
  &__title {
    font-size: $large-font-size;
    text-transform: uppercase;
    text-align: start;
    font-family: "Dino Pro Bold", Arial, Helvetica, sans-serif;
    white-space: pre-line;
    margin-bottom: 44px;
  }

  &__text {
    max-width: 266px;
    font-size: $small-font-size;
    line-height: 24px;
  }

  &__img {
    height: auto;
    display: block;
    position: relative;
    left: 20px;
    object-fit: cover;
    object-position: left;
  }
}

@media (max-width: 1380px) {
  .intro {
    &__title {
      font-size: 4.6vw;
    }

    &__text {
      font-size: 1vw;
    }

    &__img {
      width: 75%;
    }
  }
}

@media (max-width: 980px) {
  .intro {
    &__title {
      margin-bottom: 20px;
    }

    &__text {
      font-size: 1vw;
      max-width: 266px;
    }

    &__img {
      width: 70%;
    }
  }
}

@media (max-width: 500px) {
  .intro {
    &__title {
      margin-bottom: 5px;
    }

    &__text {
      font-size: 1.2vw;
    }
  }
}

@media (min-width: 1540px) {
  .intro {
    &__title {
      max-width: none;
      font-size: 5vw;
    }

    &__text {
      font-size: 1vw;
      max-width: 320px;
    }

    &__img {
      height: 620px;
      width: 75%;
      left: 0;
    }
  }
}

@media (min-width: 1740px) {
  .intro {
    &__img {
      height: 700px;
    }
  }
}
