@import "variables";

.introduction {
  max-width: 1194px;
  display: flex;

  @media (max-width: $width-mobile) {
    display: block;
  }

  &__header {
    font-family: "DIN Pro-Black", sans-serif;
    font-size: 64px;
    line-height: 83px;
    text-transform: uppercase;
    color: $color-text;

    @media (max-width: $width-tablet) {
      font-size: 48px;
      line-height: 62px;
    }

    @media (max-width: $width-mobile) {
      font-size: 44px;
      line-height: 57px;
      text-align: center;
    }
  }

  &__paragraph {
    max-width: 276px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $color-text;

    @media (max-width: $width-tablet) {
      max-width: 250px;
    }

    @media (max-width: $width-mobile) {
      margin: 0 auto;
      text-align: center;
    }

  }

  &__photo {
    order: 1;
    max-width: calc(939px - #{$paddingX-cont});
    overflow: hidden;

    @media (max-width: $width-mobile) {
      margin: 0 auto;
      width: 320px;
    }
  }

  &__image {
    @media (max-width: $width-tablet) {
      height: 365px;
      width: 739px;
    }

    @media (max-width: $width-mobile) {
      height: 245px;
      width: auto;
    }
  }
}
