.introduction {
  max-width: 1194px;
  display: flex;

  // &__text {

  // }

  &__header {
    font-family: "DIN Pro-Black", sans-serif;
    font-size: 64px;
    line-height: 83px;
    text-transform: uppercase;
    color: #333;
  }

  &__paragraph {
    max-width: 276px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }

  &__photo {
    max-width: calc(939px - #{$paddingX-cont});
  }
}
