.item {
  margin: 150px auto 0;
  max-width: 1194px;
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    font-family: DIN Pro, sans-serif;
    font-size: 56px;
    line-height: 70px;
    left: 136px;
    top: 0;
    text-transform: uppercase;
  }

  &__img {
    background-image: url(../images/itemPic.svg);

    height: 774px;
    overflow: hidden;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }

}
