.item {
  margin: 150px auto 0;
  max-width: 1194px;
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    font-family: DIN Pro, sans-serif;
    font-size: 56px;
    line-height: 70px;
    left: 136px;
    top: 0;
    text-transform: uppercase;
  }

  &__img {
    background-image: url(../images/itemPic.svg);
    height: 774px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  @media (max-width: 768px) {
    margin-top: 90px;
  
    &__title {
      font-size: 37px;
      margin-left: 30px;
    }
  
    &__img {
      height: 624px;
    }
  }
}
