.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang__logo,
.lang__menu {
  margin-bottom: 50px;
}

.lang__logo {
  margin-left: 123px;
}

.lang__menu {
  margin-right: 123px;
  margin-bottom: 50px;
}

.lang__list {
  margin: 26px 0;
}

.lang__item {
  line-height: 18px;
  display: inline-block;
  list-style: none;
}

.lang__buy {
  height: 48px;
  width: 102px;
  margin-left: 37px;
  background-color: #333;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 1s, border-radius 1s;
}

.lang__buy:hover {
  background-color: #131313;
  border-radius: 10px;
}

.lang__item--specs {
  padding-right: 72px;
  color: #4f4f4f;
  line-height: 21px;
}

.lang__item--en {
  color: #333;
}

.lang__item--ua {
  color: #bdbdbd;
}

@media screen and (max-width: 1024px) {
  .lang {
    display: grid;
    grid-template-columns: 210px 350px;
    column-gap: 150px;
  }
  .lang__logo {
    margin-left: 34px;
  }
  .lang__buy {
    margin-right: 0;
  }
  .lang__item--specs {
    padding: 0 15px;
  }
  .lang__menu {
    margin-right: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .lang {
    display: grid;
    grid-template-columns: 30vw 30vw;
    column-gap: 40vw;
  }

  .lang__item--specs {
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .lang {
    grid-template-columns: 33vw 17vw;
    column-gap: 50vw;
  }
  .lang__logo {
    margin: 28px 0 0 30px;
    float: left;
  }
  .lang__menu {
    opacity: 0;
    margin: 0 calc(50vw - 160px) 20px;
    display: flex;
    width: 320px;
    transition: opacity 0.5s;
  }
}
