.lang-button-buy {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 162px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width:768px) {
    display: none;
  }

  &__specs {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
  }
}
