.language {
  display: flex;
  height: 18px;
  gap: 20px;
  width: fit-content;
  margin-bottom: 162px;

  &__text {
    color: #4f4f4f;
  }

  &__icon {
    display: block;
    background-image: url(/src/images/add/en-lagnuage.png);
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18px;

    &:hover {
      background-image: url(/src/images/add/ua-language.png);
    }
  }
}
