.list {
  &__heading {
    font-size: 34px;
    line-height: 120%;
    color: $c-list-green;
    text-transform: uppercase;
  }

  &__components {
    margin-top: 38px;
  }

  &__item {
    font-size: $fz-text;
    line-height: 19px;
    color: $c-heading-black;
    margin-top: 13px;
  }
}
