.list {
  display: grid;
  max-width: 800px;

  @media (max-width: $tabletBreakpoint) {
    gap: 20px;
  }

  &__block {
    @media (max-width: $mobileBreakpoint) {
      font-size: 14px;
    }

    &--right {
      justify-self: end;

      @media (max-width: $mobileBreakpoint) {
        justify-self: start;
      }
    }

    &--left {
      justify-self: start;
    }

    &--center {
      justify-self: center;
      margin-top: 120px;

      @media (max-width: $tabletBreakpoint) {
        margin-top: 0;
      }

      @media (max-width: $mobileBreakpoint) {
        justify-self: start;
      }
    }
  }

  &__title {
    color: $c-accent;
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 15px;

    @media (max-width: $mobileBreakpoint) {
      font-size: 30px;
    }
  }

  &__item {
    margin-bottom: 13px;
    margin-left: 15px;
    list-style-type: disc;
  }
}
