.logo {
  height: 26px;
  width: 161px;
}

.logo--1 {
  display: none;
  height: 40px;
  width: 50px;
}

.logo--2 {
  display: none;
  height: 46px;
  width: 40px;
}

.logo--3 {
  display: none;
  height: 46px;
  width: 36px;
}

.logo--4 {
  display: none;
  height: 44px;
  width: 44px;
}

@media screen and (max-width: 1024px) {
  .logo--1,
  .logo--2,
  .logo--3,
  .logo--4 {
    display: inline-block;
    padding-bottom: 40px;
  }
}
