.luna-eye {
  position: relative;
  // overflow: hidden;

  // @include on-tablet{
  //   height: 415px;
  // }

  // @include on-desktop {
  //   height: auto;
  // }

  &-title {
    margin: 0;
    margin-top: 110px;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #333333;

    @include on-tablet {
      font-size: 36px;
      line-height: 46px;
      margin-top: 140px;
    }

    @include on-desktop {
      font-size: 56px;
      line-height: 70px;
      margin-top: 170px;
    }
  }

  &-link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    overflow: hidden;

    @include on-tablet {
      // width: 50%;
      // height: auto;
      // position: absolute;
      // right: 0;
      // top: 0;
      grid-column: 5 / 9;
      grid-row: 1;
      margin-top: 140px;
    }

    @include on-desktop {
      width: 100%; // Зберігаємо ширину 100% для десктопу, якщо потрібно
      // position: static; // Скасовуємо абсолютне позиціонування
      grid-column: 7 / 13;
      margin-top: 170px;
    }

    &-img {
      width: 120%;

      object-fit: cover;
      object-position: center;

      @include on-tablet {
        width: 140%;
      }

      @include on-desktop {
        width: 100%;
      }
    }
  }

  &-description {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #7C7C7C;

    @include on-tablet {
      font-size: 16px;
      line-height: 24px;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }

  &-about-us-link {
    display: block;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    color: #0DB2B3;
    position: relative;

    // @include on-tablet {
    //   margin-bottom: 163px;
    // }

    // @include on-desktop {
    //   margin-bottom: 0;
    // }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 53px;
      height: 1px;
      background-color: #0DB2B3;
    }
  }
}

.container-for-luna-eye-on-mobile {
  @include on-tablet {
    display: none;
  }
}

.container-for-luna-eye-on-tablet {
  display: none;

  @include on-tablet {
    @include page-grid;
  }
}

.container-luna-eye-text-block {
  @include on-tablet {
    grid-column: 1 / 5;
    grid-row: 1;
    padding-left: 34px;
  }

  @include on-desktop {
    grid-column: 1 / 7;
    grid-row: 1;

  }
}

