@import "utils/extends";
@import "../styles/media.scss";
@import "utils/mixins";
@import "./normalize.scss";
@import "fonts";
@import "typography";
@import "../header";
@import "../menu";
@import "../burger";
@import "../desktop.scss";
@import "../primary.scss";
@import "../content.scss";
@import "../cart.scss";
@import "../wireless-speaker.scss";
@import "../systems.scss";
@import "../system.scss";
@import "../arrow.scss";
@import "../indicators.scss";
@import "../video.scss";
@import "../futureDesign.scss";
@import "../technology.scss";
@import "../technologyPerson.scss";
@import "../technologyPills.scss";
@import "../features.scss";
@import "../questions.scss";
@import "../footer.scss";
@import "../app.scss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
}

.container {
  width: 1200px;
  margin: 0 auto;

  @media(max-width: 1440px) {
    max-width: 1200px;
  }

  @media(max-width: $laptopLarge) {
    max-width: 800px;
  }

  @media(max-width: $laptopSmall) {
    max-width: 700px;
    min-width: 380px;
  }

  @media(max-width: $mobileLarge) {
    max-width: 380px;
  }

  @media(max-width: $mobileSmall) {
    max-width: 300px;
    min-width: 260px;
  }

  @media(max-width: 320px) {
    width: 260px;
  }
}

.inner-padding {
  padding: 0 100px;

  @media(max-width: $notebook) {
    padding: 0;
  }
}
