.main__navigation_container {
  padding-bottom: 75px;
  margin: 0 auto;
  max-width: 1600px;
  @include Mobile {
    display: none;
  }
  @include Tablet {
    display: none;
  }
}

.main__menu_list {
  display: flex;
  flex-direction: row;
  padding-left: 284px;
}

.main__link {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: #131313;
    font-size: 16px;
    font-weight: bold;
  }
}

.main__menu_item {
  text-transform: uppercase;
  min-width: 194px;
  padding-right: 40px;
  &:last-child {
    padding-right: 0;
  }
}
