@media (min-width: 1260px) {
  .container {
   grid-template-columns: repeat(12, 72px);
   grid-template-rows: $heigth-top-bar-phone  90px $heigth-img-desktop;

   gap: 30px;
  }

  .container__without-margin {
    display: grid;
   grid-template-columns: repeat(12, 72px);

   gap: 30px;
   row-gap: 0;
  }

  .features__container {
    position: relative;
    left: -30px;
    display: grid;
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
    row-gap: 0;
  }
  .main__container {
    display: grid;
    grid-template-columns: repeat(12, 72px);
    grid-template-rows: 170px 76px 62px 286px 170px 520px 170px 388px
    170px 388px 170px 310px 170px 752px 170px 273px 170px 191px 30px;
    gap: 30px;
    row-gap: 0;
   }

  .header {

    &__img-tablet {
      background: url(/src/images/main-img-onDesktop.png);
      background-position: center;
      background-size: cover;
      grid-column: 5;
      grid-row: 3;
      width: 814px;
      height: $heigth-img-desktop;
    }

    &__bottom {

      &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 62px;
        line-height: 78px;
        margin-bottom: 20px;
      }


    }
  }

/* #region MAIN */

 /* #region MAIN__NAVIGATION */
  .navigation {
    display: flex;
    align-items: center;
    grid-column: 4;
    grid-row: 2;

    .nav {
      margin: 0;

      &__list {
        display: flex;

        &__item {
          display: flex;
          width: 93px;
          margin: 0;

          &:nth-child(-n + 3) {
            margin-right: 70px;
          }
        }

        &__link {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

  }

/* #endregion */

 /* #region MAIN__BENEFITS */
.benefits {
  display: grid;
  grid-template-columns: repeat(4, 276px);
  gap: 30px;
  grid-row: 4;
}

/* #endregion */

 /* #region MAIN__LUNA */
  .luna {
    grid-row: 6;
    background: url(/src/images/luna-on-desktop.png);
    width: 846px;
    background-size: cover;
    left: 50%;
    transform: translate(-50%);

    &__img {
      display: none;
    }
  }

/* #endregion */

 /* #region MAIN__DESIGN */
    .design {
      grid-template-columns: repeat(12, 72px);
      grid-template-rows: 160px 160px 20px;

      gap: 30px;
      row-gap: 0;
      grid-row: 8;

      &__title {
        font-size: 56px;
        line-height: 70px;
        grid-column: 7 / -1;
      }

      &__img--1 {
        position: relative;
        left: 0;
        background: url(/src/images/design__img-1-on-desktop.png) no-repeat;
        background-size: cover;
        height: 388px;
        width: 582px;
      }

      &__img--2 {
        position: absolute;
        right: 0;
        background: url(/src/images/design__img-2-on-desktop.png) no-repeat;
        background-size: cover;
        height: 388px;
        width: 582px;
      }

      &__text {
        grid-column: 7 / -1;
      }

      &__link {
        grid-column: 7 / -1;
      }
    }

  /* #endregion */

 /* #region MAIN__DESIGN-TWO */

   .design-two {
    grid-template-columns: repeat(12, 72px);
    grid-template-rows: 160px 160px 20px;

    gap: 30px;
    row-gap: 0;
    grid-row: 10;

    &__title {
      font-size: 56px;
      line-height: 70px;
      grid-column: 1 / 7;
    }

    &__text {
      grid-column: 1 / 7;
    }

    &__link {
      grid-column: 1 / 7;
    }

   }

   /* #endregion */

 /* #region MAIN__COMMENT */
    .comments {
      grid-row: 12;
    }
    .comments__comment__text {
      width: 786px;
    }

/* #endregion */

/* #region MAIN__FEATURES */
.features__content__buttons{
  display: none;
  position: relative;
}

.features {
  grid-row: 14;
  grid-column: 1 /-1;

  &__title {
    font-size: 56px;
    line-height: 70px;
  }

  &__content {
    display: block;
    left: 600px;
    top: 110px;
    background: $bg-color;
    width: 1194px;
    height: 642px;

    &__title {
      font-size: 34px;
      line-height: 42px;
    }

    &__list-1 {
      position: absolute;
      grid-column:  2 / 6;
    }

    &__list-2 {
      position: absolute;
      top: 300px;
      left: -158px;
    }

    &__list-3 {
      position: absolute;
      grid-column:  4;
    }

    &__list {
      background: none;
      display: block;

      &__items {
        padding-left: 20px;
      }
    }


    &__img {
     display: none;
    }
  }

  &__img {
    background: url(/src/images/features_img-on-desktop-removebg-.png) no-repeat;
    width: 580px;
    height: 301px;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* #endregion */

/* #region MAIN__FORM */
  .form {
    grid-row: 16;

    &__title {
      font-size: 56px;
      line-height: 70px;
      grid-column: 1 / 7;
    }
    &__email {
      grid-column: 7 / -1;

      &__message {
       height: 128px;
      }
    }
  }

/* #endregion */

/* #endregion */

/* #region FOOTER */
   .footer {
     grid-row: 18;
   }

/* #endregion */

/* #region OFFTABLET */
  .icon-menu {
    display: none;
  }
}

 /* #endregion */
