.menu-mobile {
  // height: 14px;
  width: 24px;

  &__line {
    display: block;
    height: 1px;
    background-color: #333;
    border: 1px solid;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 24px;
      background-color: #333;
      bottom: 5px;
      margin-left: -1px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 24px;
      background-color: #333;
      top: 5px;
      margin-left: -1px;
    }
  }
}
