.menu-mobile {
  position: absolute;
  left: -100%;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: $c-gray;

  transition: left 1s ease;

  &__list {
    display: flex;
    flex-direction: column;

    list-style: none;
  }

  &__item {
    margin-top: 10px;
    padding: 15px;
  }

  &__link {
    color: $c-heading-black;
    text-transform: uppercase;

  }
}
