@import "variables";

.menu {

  &__nav {
    height: 76px;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 75px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    height: 21px;
    display: inline-block;
    list-style: none;
    width: fit-content;
  }

  &__link {
    display: inline-block;
    font-family: "Helvetica Neue-Lighter", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-text;

    transition: transform 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
