.menu {
  background-color: $bg-aside-color;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;

  @include onDesktop {
    display: none;
  }

  &__top {
    @include onTablet {
      height: 47px;
    }
  }

  &__add-btn {
    display: flex;
    padding-top: 50px;
    gap: 20px;

    @include onTablet {
      display: none;
    }
  }

  &__btn {
    width: 260px;
    margin-top: 162px;

    @include onTablet {
      display: none;
    }
  }
}
