.eight-block {
  display: flex;
  height: 273px;
  gap: 30px;
}

.eight-block__tittle {
  @include TittleStyles;
  width: 580px;
  font-size: 56px;
  font-weight: 700;
}

.message-block {
  display: flex;
  flex-direction: column;
}

.eight-block__email {
  display: block;
  outline: none;
  width: 581.94px;
  height: 48px;
  border: 1.5px solid #828282;
  padding-left: 36px;
  margin-bottom: 19px;
  background-color: #f7f7f7;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.eight-block__message {
  font-family: "Inter", sans-serif;
  display: block;
  margin-bottom: 30px;
  width: 581.94px;
  height: 128px;
  border: 1.5px solid #828282;
  padding: 16px 36px;
  resize: none;
  overflow: hidden;
  color: #333;
  background-color: #f7f7f7;
  font-size: 14px;
  font-weight: 500;
}

.eight-block__email:focus,
.eight-block__message:focus {
  border: 1.5px solid #0c797a;
}

.eight-block__message::placeholder,
.eight-block__email::placeholder {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
}

.eight-block__message:focus-visible {
  outline: none;
  box-shadow: none;
}

.eight-block__email:valid {
  border: 1.5px solid #eb5757;
}

.eight-block__button {
  width: 123px;
  height: 48px;
  line-height: 48px;
  border: none;
  background-color: #0db2b3;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.eight-block__button:hover {
  background-color: #0c797a;
}

.eight-block__button:disabled {
  background-color: #cfeff0;
  cursor: not-allowed;
}
