%display-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%display-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
