@mixin onDesktop {
  @media (min-width: 1190px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) and (max-width: 1189px) {
    @content;
  }
}

@mixin blockMargin {
  margin-bottom: 110px;

  @include onTablet {
    margin-bottom: 140px;
  }

  @include onDesktop {
    margin-bottom: 170px;
  }
}
