@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTab {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin circle ($size) {
  width: $size;
  height: $size;
  border: 1px solid #f3f4f5;
  border-radius: 50%;
}
