.mobile-nav {
  position: absolute;
  transform: translateX(-108%);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 100vh;

  background-color: #0db2b3;

  transition: transform 0.5s ease;

  &__list {
    display: flex;
    flex-direction: column;

    list-style: none;
  }

  &__item {
    margin-top: 10px;
    padding: 15px;

    text-align: center;
  }

  &__link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}
