.mobile-menu {
  display: none;
  background-color: $c-accent;
  height: 100vh;
  width: 100%;
  padding: 120px 30px;
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 1;
  transition: left 0.5s;

  @media (max-width: $tabletBreakpoint) {
    display: block;
  }

  &__item {
    margin-bottom: 20px;
    text-align: center;
  }

  &__link {
    color: white;
    display: block;
    padding: 20px 0;
  }
}
