.nav-mobile {
  display: none;
  position: absolute;
  z-index: 1;
  right: $tabletBodyIndentsX;
  width: 100vw;
  height: 100vh;
  background-color: rgba(247, 247, 247, 0.7);
  animation: appearance 0.2s linear;

  &__item {
    margin: 20px 0;
    text-align: right;

    &:first-child {
      margin-top: 50px;
    }
  }

  &__link {
    @extend %headerLinksStyle;
    color: inherit;
    @include hover(color, $styleColor);
  }
}

@keyframes appearance {
  0% {
    top: -100%;
  }

  100% {
    top: 25px;
  }
}
