.nav-menu {
  margin: 0;
  text-transform: uppercase;
  background-color: #f7f7f7;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
}

.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
}

.nav-menu__item {
  margin: 0;
}

.nav-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 125px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333;
  font-weight: 300;

  &:hover {
    color: #131313;
    font-weight: 500;
  }
}

@media screen and (max-width: 700px) {
  .nav-menu {
    display: none;
  }
}
