.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    gap: 25px;
  }
  &__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: inherit;
    line-height: 22px;
    text-align: left;

    @include on-tablet {
      font-size: 22px;
    }

    @include hover-and-active-for-text;
  }
}
