.nav {
  position: absolute;
  left: 0;
  top: -400px;
  width: 100%;
  background: $features-background;
  opacity: 0.8;
  padding: 10px;
  transition: 0.5s;

  &__list {
    display: grid;
    margin-top: 40px;
    grid-auto-rows: auto;
    list-style: none;
    width: 100%;
    padding: 10px 10px 0 0;

    @media(min-width: 501px) {
      margin-top: 90px;
    }

    &-item {
      display: block;
      padding: 20px 10px;
      text-align: right;
      text-transform: uppercase;
    }
  
    &-item > a {
      text-decoration: none;
      color: $text-color;
      z-index: 2;
    }
  }
}
