.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  padding-top: 88px;
}

.nav__item {
  margin: 10px;
  display: inline-block;
  list-style: none;
}

.nav__link {
  display: block;
  width: 174px;
  line-height: 41px;
  text-align: center;
  color: #131313;
  transition: background-color 1s;
}

.nav__link:hover {
  background-color: #bdbdbd;
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .nav__item {
    display: none;
  }
  .nav__link {
    font-size: 99px;
  }
}
