.nav {
  display: flex;
  background-color: $c-gray;
  justify-content: center;
  width: 100%;

  @media (max-width: 900px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  position: relative;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 0 auto;
  column-gap: 30px;
  width: 790px;
}

.nav__item {
  line-height: $nav-height;
}

.nav__link {
  &--active {
    color: #131313;
    font-weight: 500;
  }
}
