.nav {
  &__list {
    display: flex;
    justify-content: center;

    margin-top: 121px;

    list-style-type: none;
  }

  &__item {
    padding: 27px 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    margin-right: 75px;
    white-space: nowrap;

    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;

    transition: 400ms;

    &:hover {
      color: $hover-color;
    }

    &--is-active {
      color: #131313;
      font-weight: 700;
    }
  }
}

@media (max-width: $tablet-screen) {
  .nav {
    display: none;
  }
}

@media (max-width: $phone-screen) {
  .nav {
    display: none;
  }
}
