.nav {
  &__link {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    transition-duration: 0.3s;

    &:hover {
      color: #131313;
      text-shadow:
        0 0 1px #131313,
        0 0 1px #131313;
    }
  }
}
