.network {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 44px;

  &__icon {
    width: 18px;
    height: 18px;

    &--hovered {
      display: none;
    }

    &:hover {
      display: none;
    }

    &:hover + &--hovered {
      display: block;
    }
  }
}
