.link-line {

  &:hover {
    &::after {
      width: 124px;
    }
  }
}

.scale {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
    color: #0db2b3;
  }
}

.scale2 {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.scale-input-field {
  transition: transform 0.5s;

  &:hover {
    color: #0db2b3;
  }

  &:focus {
    border-color: #eb5757;
    color: #eb5757;
  }
}

html {
  scroll-behavior: smooth;
}

.buttons {
  background-color: #d6ecec;
  border: none;
}
