.options {
  display: flex;
  align-items: center;
  font-size: $fz-smaller-text;

  &__item {
    margin-left: 32px;
    color: $c-footer-link;
  }

  &__btn {
    background-color: inherit;
    border: none;
    font-weight: 600;

    cursor: pointer;
  }

  &__en,
  &__ua {
    color: $c-light-gray;

    &--active {
      color: $c-heading-black;
    }
  }
}

@media screen and (max-width: 650px) {
  .options {
    display: none;
  }
}
