.options {
  display: flex;
  align-items: center;
  font-size: 14px;

  &__item {
    margin-left: 32px;
    color: #4f4f4f;
  }

  &__en,
  &__ua {
    color: #bdbdbd;

    &--active {
      color: #333;
    }
  }

  &__buy {
    display: block;
    color: white;
    font-size: 12px;

    width: 102px;
    height: 48px;

    line-height: 48px;
    text-align: center;

    background-color: #333;

    @include hover(background-color, #0c797a);

  }
}

@media screen and (max-width: 650px) {
  .options {
    display: none;
  }
}
