.options {
  display: flex;
  align-items: center;
  font-size: 14px;

  &__item {
    margin-left: 32px;
    color: #4f4f4f;
  }

  &__en,
  &__ua {
    color: #bdbdbd;

    &--active {
      color: #333;
    }
  }
}

@media screen and (max-width: 650px) {
  .options {
    display: none;
  }
}
