.page {
  padding: 13px 123px;
  width: 1440px;

  &__header {
    margin: 120px auto 0;
  }

  &__info {
    margin: 85px auto 0;
  }

  &__video {
    margin: 150px -123px 0;
  }

  &__features {
    margin: 150px 0 0;
  }

  &__footer {
    margin: 120px auto 20px;
  }

  &__section {
    margin: 150px auto 0;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 13px 35px;
    width: 100%;
  }
}
