.page-top {
  &__logo {
    margin-bottom: 55px;
    display: block;
  }

  &__revert {
    display: block;
    transition: transform 600ms linear;
    margin-bottom: 30px;

    &:hover {
      transform: scale(1.03);
    }
  }
}

@media (max-width: 650px) {
  .page-top {
    &__logo {
      margin-bottom: 30px;
    }
  }
}
