.page {
  padding: 13px 123px;
  width: 1440px;

  &__header {
    margin: 0 auto;
  }

  &__info {
    position: relative;
    margin: 85px auto 0;
    overflow: hidden;

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__nav {
    position: sticky;
    height: $nav-height;
    top: 0;
    left: 0;
 
    margin: 100px 0;
    z-index: 1;
  }

  &__burger-menu {
    position: fixed;
    top: 0;
    right: -100vw;
  }

  &__video {
    position: relative;
    margin: 150px 0 0;

    @media (max-width: 1050px) {
      margin: 75px 0;
    }
  }

  &__tech {
    position: relative;
    margin: 150px 0;
    overflow: hidden;

    @media (max-width: 1050px) {
      margin: 75px 0 0;
    }
  }

  &__features {
    display: flex;
    position: relative;
    margin: 150px 0 0;

    @media (max-width: 1050px) {
      margin: 75px 0;
    }
  }

  &__footer {
    margin: 120px auto 20px;

    @media (max-width: 1050px) {
      margin: 20px auto;
    }
  }

  &__section {
    margin: 150px auto 0;

    @media (max-width: 1050px) {
      margin: 75px 0;
    }
  }

  &__design {
    position: relative;
    margin: 150px auto 0;
    
    @media (max-width: 1050px) {
      margin: 75px 0;
    }
  }

  &__buy-btn {
    display: none;
    position: fixed;
    top: 85vh;
    left: 80vw;

    z-index: 2;

    @media (max-width: 767px) {
      display: block;
    }
  }
}

@media (max-width: 1050px) {
  .page {
    padding: 13px 35px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .page {
    padding: 13px 25px;

  }
}
