.page-content {
  width: 100%;
  max-width: 1440px;

  &--centered {
    margin: 0 auto;
  }

  &__header {
    margin-top: 13px;
    @include standardMargin;
  }

  &__promo,
  &__features {
    margin-left: 10vw;
  }

  &__promo {
    margin-top: 89px;
  }

  &__nav {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__benefits,
  &__questions {
    @include standardMargin;
  }

  &__about {
    max-width: 990px;
  }

  &__technology,
  &__about,
  &__testimonials {
    @include centered;
  }

  &__features,
  &__presentation,
  &__benefits,
  &__technology,
  &__about,
  &__testimonials,
  &__questions {
    margin-bottom: $standardSectionMargin;
  }
}

@media (max-width: $tabletBreakpoint) {
  .page-content {
    &__benefits {
      margin-top: 140px;
    }

    &__about,
    &__technology,
    &__testimonials,
    &__questions,
    &__features,
    &__benefits,
    &__presentation {
      margin-bottom: $tabletSectionMargin;
    }
  }

}

@media (max-width: $smallScreenBreakpoint) {
  .page-content {
    &__header {
      margin-top: 27px;
      @include smallMargin;
    }

    &__promo {
      margin-left: 5vw;
    }

    &__benefits,
    &__testimonials,
    &__questions {
      @include smallMargin;
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  .page-content {

    &__promo {
      @include noMargin;
    }

    &__benefits {
      margin-top: 100px;
    }

    &__features {
      @include noMargin;
    }

    &__about,
    &__technology,
    &__testimonials,
    &__features,
    &__presentation,
    &__benefits,
    &__questions {
      margin-bottom: $mobileSectionMargin;
    }
  }
}
