.page {
  padding: 0 20px;
  font-family: Inter, sans-serif;

  @include on-tablet {
    padding: 0;
  }

  @include on-mobile {
    padding: 0;
  }
  &__header {
    @include page-width-desktop-mixin;

    margin: 30px auto 0;

    @include on-tablet {
      max-width: 100%;
      padding: 0 34px;
    }

    @include on-mobile {
      max-width: 100%;
    }
  }
  &__side {
    @include on-tablet {
      max-width: 100%;
    }

    @include on-mobile {
      max-width: 100%;
    }
  }
  &__benefits {
    max-width: 578px;
    margin: 170px auto 62px;

    @include on-tablet {
      max-width: 100%;
    }
  }
  &__luna {
    margin: 170px 0;

    @include on-tablet {
      margin: 140px 0;
    }

    @include on-mobile {
      margin: 0;
    }
  }
  &__features {
    @include page-width-desktop-mixin;

    @include on-tablet {
      max-width: 100%;
      margin: 140px auto;
    }

    @include on-tablet {
      padding: 0 34px;
    }

    @include on-mobile {
      max-width: 100%;
      margin: 110px auto;
    }
  }
  &__design {
    @include page-width-desktop-mixin;

    @include on-tablet {
      max-width: 100%;
    }
  }
  &__quote-author {
    max-width: 786px;
    width: 100%;
    margin: 110px auto 170px;

    @include on-tablet {
      max-width: 100%;
      margin: 140px auto;
      padding: 0 34px;
    }

    @include on-mobile {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__core-features {
    @include page-width-desktop-mixin;

    @include on-tablet {
      max-width: 100%;
      padding: 0 34px;
    }

    @include on-mobile {
      max-width: 100%;
    }
  }
  &__core-features-mobile {
    margin: 110px auto 90px;
  }

  &__contact-block {
    @include page-width-desktop-mixin;

    margin: 170px auto;

    @include on-tablet {
      max-width: 100%;
      margin: 140px auto;
      padding: 0 34px;
    }

    @include on-mobile {
      margin: 0 auto;
      max-width: 100%;
    }
  }
  &__footer {
    @include page-width-desktop-mixin;

    margin: 0 auto 30px;

    @include on-tablet {
      padding: 0 34px;
      max-width: 100%;
    }

    @include on-mobile {
      max-width: 100%;
      margin: 110px auto 20px;
    }
  }
  &__design-mobile {
    @include on-mobile {
      margin: 110px auto 40px;
    }
  }
}
