.payment {
  padding: 0 30px;

  &__logo {
    margin-top: 25px;
    align-self: flex-start;
    width: 161px;

    @media (max-width: 555px) {
      display: none;
    }
  }

  &__btn-back {
    position: relative;
    width: 100%;
    text-align: left;
  }

  &__back {
    position: absolute;
    margin-top: 50px;
    display: inline-block;
    width: 50px;
    height: 40px;
    color: hsl(0, 0%, 20%);
    background: url(../images/cart/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }

    @media (max-width: 555px) {
      background: url(../images/cart/close.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 0;
      right: -17px;
      bottom: 40px;
    }
  }

  &__process {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 396px;
    margin-top: 100px;
    margin-bottom: 90px;

    @media (max-width: 638px) {
      width: 250px;
    }

    @media (max-width: 423px) {
      width: 200px;
    }
  }

  &__cart {
    position: relative;
    z-index: 1;
    width: 13px;
    height: 13px;
    color: $colorGray;
    border: 2px solid gray;
    background: $colorGray;
    border-radius: 50%;
    &::after {
      content: "cart";
      position: relative;
      top: 20px;
      right: 15px;
      @include FontSet("Helvetica Neue Roman", 16px, 20px);
      text-transform: uppercase;

      @media (max-width: 423px) {
        @include FontSet("Helvetica Neue Roman", 12px, 18px);
        right: 10px;
      }
    }

    &::before {
      content: "";
      position: relative;
      top: 4px;
      left: 11px;
      display: block;
      width: 180px;
      height: 1px;
      background-color: $colorGray;

      @media (max-width: 638px) {
        width: 110px;
      }

      @media (max-width: 423px) {
        width: 85px;
      }
    }
  }

  &__shipping {
    position: relative;
    z-index: 1;
    width: 13px;
    height: 13px;
    border: 2px solid gray;
    background: $colorGray;
    border-radius: 50%;
    &::after {
      content: "SHIPPING";
      position: relative;
      top: 20px;
      right: 30px;
      color: hsl(0, 0%, 31%);

      @include FontSet("Helvetica Neue Roman", 16px, 20px);
      text-transform: uppercase;

      @media (max-width: 423px) {
        @include FontSet("Helvetica Neue Roman", 12px, 18px);
        right: 22px;
      }
    }

    &::before {
      content: "";
      position: relative;
      top: 4px;
      left: 11px;
      display: block;
      width: 180px;
      height: 1px;
      background-color: hsl(0, 0%, 31%);

      @media (max-width: 638px) {
        width: 110px;
      }

      @media (max-width: 423px) {
        width: 85px;
      }
    }
  }

  &__payment {
    width: 13px;
    height: 13px;
    border: 2px solid $colorGrayForCart;
    background: $colorGray;
    border-radius: 50%;
    &::after {
      content: "PAYMENT";
      position: relative;
      top: 20px;
      right: 28px;
      @include FontSet("Helvetica Neue Roman", 16px, 20px);
      color: $colorGray;
      text-transform: uppercase;

      @media (max-width: 423px) {
        @include FontSet("Helvetica Neue Roman", 12px, 18px);
        right: 22px;
      }
    }
  }

  &__inner {
    width: 582px;
    margin: 0 auto;
    background: $white;
    border: 1px solid $colorLightGray;
    box-sizing: border-box;
    border-radius: 10px;

    @media (max-width: 672px) {
      width: 340px;
      background-color: $colorLightGrayAll;
      border: none;
    }

    @media (max-width: 490px) {
      width: 260px;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    padding-top: 55px;
    margin-bottom: 42px;

    @media (max-width: 490px) {
      width: 250px;
    }
  }

  &__master {
    width: 33px;
    height: 25px;
    align-self: center;
  }

  &__visa {
    width: 40px;
    height: 22px;
    align-self: center;
  }

  &__pay {
    width: 38px;
    height: 15px;
    align-self: center;
  }

  &__express {
    width: 36px;
    height: 24px;
    align-self: center;
  }

  &__box {
    margin-top: 42px;
    padding-left: 110px;
    @include FontSet("Helvetica Neue Roman", 12px, 14px);
    color: $colorDirectorGray;

    @media (max-width: 672px) {
      padding-left: 0;
    }
  }

  &__text {
    display: block;
    margin-top: 22px;
    padding-left: 110px;

    @media (max-width: 672px) {
      padding-left: 0;
    }
  }

  &__holder {
    display: block;
    width: 378px;
    border-bottom: 1px solid hsl(181, 82%, 26%);
    margin: 0 auto;
    height: 40px;

    &::placeholder {
      color: $colorLightGray;
      @include FontSet("Helvetica Neue Roman", 12px, 24px);
    }

    @media (max-width: 672px) {
      background-color: $colorLightGrayAll;
    }

    @media (max-width: 490px) {
      width: 260px;
    }
  }

  &__number {
    display: block;
    width: 378px;
    border-bottom: 1px solid hsl(181, 82%, 26%);
    margin: 0 auto;
    height: 35px;

    &::placeholder {
      color: $colorLightGray;
      @include FontSet("Helvetica Neue Roman", 12px, 24px);
    }

    @media (max-width: 672px) {
      background-color: $colorLightGrayAll;
    }

    @media (max-width: 490px) {
      width: 260px;
    }
  }

  &__wrap {
    display: flex;
    margin-left: 102px;

    @media (max-width: 672px) {
      margin-left: 0;
    }
  }

  &__expires {
    display: block;
    margin-top: 40px;
    @include FontSet("Helvetica Neue Roman", 12px, 24px);
  }

  &__exp {
    display: block;
  }

  &__mm {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 24px;
    margin-right: 25px;
    border-bottom: 1px solid $colorFeaturesLightGray;
    @include FontSet("Helvetica Neue Roman", 12px, 14px);

    &::placeholder {
      color: $colorLightGray;
      @include FontSet("Helvetica Neue Roman", 12px, 24px);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &::after {
      content: "/";
      display: inline-block;
    }

    @media (max-width: 672px) {
      background-color: $colorLightGrayAll;
    }
  }

  &__yy {
    width: 23px;
    height: 24px;
    border-bottom: 1px solid $colorFeaturesLightGray;
    @include FontSet("Helvetica Neue Roman", 12px, 14px);

    &::placeholder {
      color: $colorLightGray;
      @include FontSet("Helvetica Neue Roman", 12px, 24px);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    @media (max-width: 672px) {
      background-color: $colorLightGrayAll;
    }
  }

  &__password {
    display: block;
    margin-top: 40px;
    margin-left: 30px;
    @include FontSet("Helvetica Neue Roman", 12px, 24px);
  }

  &__cvc {
    display: block;
    height: 24px;
    width: 72px;
    border-bottom: 1px solid $colorFeaturesLightGray;

    &::placeholder {
      color: $colorLightGray;
      @include FontSet("Helvetica Neue Roman", 12px, 24px);
    }

    @media (max-width: 672px) {
      background-color: $colorLightGrayAll;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    padding-bottom: 50px;

    @media (max-width: 448px) {
      width: 260px;
    }

    @media (max-width: 490px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__return {
    width: 174px;
    height: 48px;

    @include FontSet("Helvetica Neue Roman", 12px, 14px);
    color: $colorGray;
    text-transform: uppercase;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 $colorBlueHoverBtn inset,
        0 0 10px 4px $colorBlueHoverBtn;
    }
  }

  &__continue {
    height: 48px;
    width: 174px;
    @include FontSet("Helvetica Neue Roman", 12px, 15px);
    background-color: $lightBlack;
    text-transform: uppercase;
    color: $white;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 $colorBlueHoverBtn inset,
        0 0 10px 4px $colorBlueHoverBtn;
    }

    @media (max-width: 490px) {
      margin-bottom: 20px;
    }
  }
}
