.payment {
  &__payment-card {
    margin: 0 auto 160px;
  }

  &__page-switcher {
    margin-bottom: 90px;
  }
}

@media (max-width: 660px) {
  .payment {
    &__payment-card {
      margin: 0 auto 50px;
    }
  }
}
