.payment-card {
  background-color: #fff;
  border: 1px solid $cart-border;
  border-radius: 10px;
  padding: 50px 102px;
  font-family: $helvetica-Neue-font;
  max-width: 582px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    width: 100%;
    margin-bottom: 40px;
    color: $text-font-color;
    font-weight: 400;
    font-size: 12px;
    transform: translateY(-45px);
    transition: color 0.3s, opacity 0.4s, transform 0.3s backwards;

    &:nth-child(4) {
      margin-bottom: 25px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 10px 10px 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $unactive-font-color;
    transition: border-color 0.3s;
    outline: none;
    font-family: $helvetica-Neue-font;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;

    &::placeholder {
      color: #e0e0e0;
      font-size: 14px;
      font-weight: 300;
    }

    &:focus {
      border-color: $advantages-title-color;

      & + .payment-card__label {
        color: $advantages-title-color;
        opacity: 0.3;
      }
    }
  }

  &__pay-methods {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 50px;
  }

  &__pay-method {
    padding: 0 9px;
  }

  &__wrap {
    display: flex;
  }

  &__label-date {
    color: $text-font-color;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    transition: transform 0.3s backwards, color 0.3s, opacity 0.4s;
  }

  &__date {
    display: inline-block;
    width: 22%;
    border: none;
    font-weight: 400;
    color: $unactive-font-color;

    &:focus .payment-card__label-date {
      color: $advantages-title-color;
      opacity: 0.3;
    }
  }

  &__input-date {
    width: 24px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $unactive-font-color;
    transition: border-color 0.3s;
    outline: none;
    font-weight: 500;
    font-family: $helvetica-Neue-font;
    text-align: center;

    &:focus {
      border-color: $advantages-title-color;
    }

    &::placeholder {
      color: #e0e0e0;
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__cvc {
    margin-bottom: 40px;
    color: $text-font-color;
    font-weight: 500;
    font-size: 12px;
    transform: translateY(-5px);
    transition: color 0.3s, opacity 0.4s, transform 0.3s backwards;

    &::placeholder {
      color: #e0e0e0;
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__revert-btn {
    font-family: $helvetica-Neue-font;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: $dark-font-color;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
