.person {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
}

.person__text {
  width: 784px;
  font-family: "DIN Pro", sans-serif;
  font-size: 24px;
  line-height: 150%;
  color: #333;
  text-align: center;
}

.person__text::before {
  content: url("../images/Quotes.png");
  display: block;
  position: absolute;
  top: -30px;
  left: calc(50% - 233px / 2);
  height: 191px;
  width: 233px;
  z-index: -1;
}

.person__image {
  margin: 30px 0 20px;
  height: 62px;
}

.person__name {
  color: #333;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  font-weight: bold;
}

.person__position {
  line-height: 120%;
  padding-bottom: 172px;
}

@media screen and (max-width: 768px) {
  .person__text {
    width: 97vw;
  }
}
@media screen and (max-width: 768px) {
  .person__container {
    margin-left: 7px;
  }
  .person__text {
    font-weight: 700;
  }
}
@media screen and (max-width: 500px) {
  .person__text {
    width: 320px;
    font-size: 14px;
  }
}
