.person {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__quote {
    width: 100%;

    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $c-heading-black;

    @media screen and (max-width: $breakpoint-650px) {
      font-size: $fz-smaller-text;
      line-height: 21px;
    }
  }

  &__photo {
    margin-top: 30px;
    border-radius: 50%;
  }

  &__name {
    margin-top: 20px;

    font-size: $fz-text;
    line-height: 27px;
    color: $c-heading-black;
  }

  &__position {
    margin-top: 5px;

    font-size: $fz-smaller-text;
    line-height: 120%;
    color: $c-text-gray;
  }
}
