.phrase {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 0;
  padding: 84px auto;
  justify-content: center;
  align-items: center;

  font-family: "Helvetica Neue", sans-serif;

  background: url(\images\phrase_background.svg);
  background-position: center center;
  background-size: 233px 191px;
  background-repeat: no-repeat;
  &__text {
    max-width: 786px;
    margin: 0;
    padding: 116px 34px 40px;
    text-align: center;

    font-family: Din, sans-serif;
    font-size: 24px;
    font-style: 36px;
    color: #333;
  }
  &__author {
    border-radius: 50%;
  }
  &__owner {
    font-size: 16px;
    line-height: 27px;
  }
  &__ownerprofession {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7c7c7c;
  }
}
