.presentation {
  &__image-container {
    display: flex;
    justify-content: center;
  }

  &__image {
    object-fit: cover;
    object-position: center;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.02);
    }
  }
}
