.presentation {
  &__content {
    width: 730px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
  
    margin: 28px auto;
    margin-bottom: 66px;

    &--desktop {
      @include onPad {
        display: none;
      }
  
      @include onMobile {
        display: none;
      }
    }
  }
  
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    color: $textColor;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    transition-property: font-weight;
  
    &:hover {
      font-weight: 700;
      color: #131313;
    }
  
    @include exceptDesktop {
      display: none;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;

    margin-bottom: 33px;
  }

  &__name {
    text-align: center;
    min-height: 56px;
  }

  &__description {
    margin-top: 24px;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #7c7c7c;
  }
}
