.presintation {
  &__content {
    display: flex;
    justify-content: center;
  }

  &__photo {
    width: 296px;
    height: 195px;

    @include on-tablet {
      height: 430px;
      width: 700px;
    }

    @include on-desktop {
      height: 520px;
      width: 846px;
    }
  }
}
