.button {
  @extend %button;
  
  height: 48px;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  
  &--black {
    color: #fff;
    background-color: $activeGranit;

    &:hover {
      background-color: $activeBlack;
    }
  }

  &--green {
    color: #fff;
    background-color: $activeTurqoise;

    &:hover {
      background-color: $activeGreen;
    }
  }

  &--small {
    width: 102px;
  }
}
