.product-quantity {
  position: relative;
  text-align: center;
  
  &__input {
    padding: 11px 32px;
    border: 1px solid #e0e0e0;
    text-align: center;
    background: #fff;
    -moz-appearance: textfield;
    font-family: $helvetica-Neue-font;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    &:focus {
      outline: 0;
    }
  }

  &-nav {
    display: flex;
    width: 140px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 25%;
  }

  &-button {
    cursor: pointer;
    width: 20px;
    font-size: 25px;
    user-select: none;

    &.quantity-up {
      position: absolute;
      height: 50%;
      top: 0;
      border-bottom: 1px solid #eee;
    }

    &.quantity-down {
      position: absolute;
      bottom: -1px;
      height: 50%;
    }
  }
}
