.product {
  display: grid;
  grid-template-columns: 40%  60%;
  margin: 10% 0;

  @media (max-width: $mediaTablet) {
    margin: 100px 0 141px;
    padding-left: 20px;
  }

  &__title-info {
    align-self: center;
  }

  &__title {
    margin-bottom: 44px;

    @include titleText;

    @media (max-width: $mediaTablet) {
      @include titleText($titleSize: 48px);
    }
  }

  &__picture {
    width: 100%;
    background: url("../images/header-speaker.png") no-repeat bottom left;
    background-size: cover;
  }
}
