.product-color {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    &--active {
      border: 1px solid $form-border-color;
    }

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: 50%;
    }

    &:nth-child(1) {
      &::before {
        background-color: #d4d4d4;
      }
    }

    &:nth-child(2) {
      &::before {
        background-color: #a4a4a4;
      }
    }

    &:nth-child(3) {
      &::before {
        background-color: #a1847d;
      }
    }

    &:nth-child(4) {
      &::before {
        background-color: #b4a492;
      }
    }

    &:nth-child(5) {
      &::before {
        background-color: #828387;
      }
    }
  }

  &__name {
    font-family: $helvetica-Neue-font;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }
}
