.product-quantity {
  position: relative;
  text-align: center;
  
  &__input {
    padding: 11px 32px;
    border: $cart-border;
    text-align: center;
    background: $general-color;
    -moz-appearance: textfield;
    font-family: $helvetica-Neue-font;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    &:focus {
      outline: 0;
    }
  }

  &-nav {
    display: flex;
    width: 140px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 25%;
  }

  &-button {
    cursor: pointer;
    width: 20px;
    font-size: 25px;
    user-select: none;
  }
}
