.promo {
  display: flex;
  align-items: flex-end;
  overflow: hidden;

  &__heading {
    font-size: $pageHeadingFontSize;
    font-weight: 900;
    line-height: 130%;
    width: min-content;
  }

  &__text {
    margin-top: 27px;
    margin-bottom: 11px;
    max-width: 280px;
  }

  &__image {
    position: relative;
    left: -20px;
    z-index: -1;
  }
}

@media (max-width: $tabletBreakpoint) {
  .promo {
    &__heading {
      width: min-content;
      font-size: 48px;
    }

    &__text {
      margin-top: 34px;
      margin-bottom: 0;
    }

    &__image {
      height: 365px;
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  .promo {
    flex-direction: column-reverse;
    align-items: center;

    &__image {
      left: auto;
      right: -95px;
      height: 245px;
      min-width: 320px;
    }

    &__info {
      text-align: center;
      padding: 0 5vh;
    }

    &__heading {
      width: 100%;
      margin-top: 40px;
      font-size: 44px;
    }

    &__text {
      max-width: none;
      margin-top: 23px;
    }
  }
}
