.qa {
  @include grid(4, 8, 12);

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 5;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__form {
    grid-column: 1 / -1;
    margin-top: 27px;

    @include on-tablet {
      grid-column: 5 / 9;
    }

    @include on-desktop {
      grid-column: 7 / 13;
    }
  }

  &__input {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    background-color: $white;
    border: 1px solid $gray;

    @include text-main;
    
    color: $black-1;
    resize: none;

    &::placeholder {
      color: $gray;
    }

    &:focus {
      border: 1px solid $blue;
    }
  }
}

textarea {
  margin: 20px 0 30px;
  height: 128px;
}
