.qoute {
  position: relative;
  text-align: center;
  padding: 0 35px;

  @include desktop {
    max-width: 786px;
    margin: auto;
    padding: 0;
  }

  &__background {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
    width: 208px;
    height: 171px;

    @include tablet {
      width: 233px;
      height: 189px;
    }

    @include desktop {
      width: 233px;
      height: 192px;
    }
  }

  &__description {
    padding: 50px 0 30px;
    line-height: 20px;
    font-weight: 700;

    @include tablet {
      padding: 60px 0 40px;
      line-height: 36px;
      font-size: 24px;
    }

    @include desktop {
      padding: 42px 0 30px;
    }
  }

  &__avatar {
    margin-bottom: 10px;
    width: 62px;
    height: 62px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__director-name {
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__position {
    color: $deskriptin-text-color;
  }
}
