.questions {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet-screen) {
  .questions {
    margin: 130px 34px;

    &__heading {
      width: 340px;
    }
  }
}

@media (max-width: $phone-screen) {
  .questions {
    flex-direction: column;
    align-items: center;

    &__heading {
      width: 260px;
      line-height: 46px;
      margin-bottom: 30px;
    }
  }
}
