.questions {
  padding: 45px 30px 53px;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(340px, 480px));
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    column-gap: 25px;

  }
  
  @media(min-width: 1040px) {
    padding-left: 120px;
    column-gap: 12px;
  }

  @media(min-width: $laptop-width) {
    padding-left: 150px;
    column-gap: 62px;

  }

  @media(min-width: $full-width) {
    padding-left: 225px;
    column-gap: 102px;
  }

  &__title {
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-weight: 700;
      font-family: $font-dinpro;
      font-size: 37px;
      line-height: 46px;
      padding-bottom: 20px;
      text-transform: uppercase;

      @media(min-width: $tablet-width) {
        font-size: 56px;
        line-height: 70px;
      }
    }
  }
}
