.questions {
  display: flex;
  justify-content: space-between;
  padding-left: 225px;
  padding-right: 195px;
  text-align: left;

  &__title {
    max-width: 480px;
    @include FontSet("Din Pro Bold", 56px, 72px);
    color: $lightBlack;
    text-transform: uppercase;

    @media (max-width: 1047px) {
      max-width: 340px;
    }

    @media (max-width: 433px) {
      max-width: 260px;
      @include FontSet("Din Pro Bold", 37px, 46px);
    }
  }

  &__forms {
    padding-top: 15px;
    margin-left: 20px;

    @media (max-width: 1126px) {
      width: 340px;
    }

    @media (max-width: 433px) {
      max-width: 260px;
    }

    @media (max-width: 726px) {
      margin-left: 0;
    }
  }

  &__email {
    display: block;
    width: 438px;
    height: 48px;
    margin-bottom: 19px;
    padding-left: 30px;
    @include FontSet("Helvetica Neue Roman", 16px, 19px);
    border: 1px solid $colorGrayForCart;
    color: $lightBlack;
    background-color: $colorLightGrayAll;

    &::placeholder {
      color: hsl(0, 0%, 74%);
      @include FontSet("Helvetica Neue Roman", 16px, 19px);
    }

    @media (max-width: 1126px) {
      width: 340px;
    }

    @media (max-width: 433px) {
      max-width: 260px;
    }
  }

  &__message {
    display: block;
    width: 438px;
    height: 128px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 16px;
    @include FontSet("Helvetica Neue Roman", 16px, 19px);
    border: 1px solid $colorGrayForCart;
    color: $lightBlack;
    background-color: $colorLightGrayAll;
    resize: none;

    &::placeholder {
      color: $colorFeaturesLightGray;
      @include FontSet("Helvetica Neue Roman", 16px, 19px);
    }

    @media (max-width: 1126px) {
      width: 340px;
    }

    @media (max-width: 1047px) {
      height: 201px;
    }

    @media (max-width: 433px) {
      max-width: 260px;
    }
  }

  &__btn {
    display: block;
    width: 102px;
    height: 48px;
    @include FontSet("Helvetica Neue Roman", 12px, 15px);
    background: $colorTurquoise;
    color: $white;
    line-height: 48px;

    -webkit-transition: box-shadow 150ms ease-in-out;
    transition: box-shadow 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 $colorBlueHoverBtn inset,
        0 0 10px 4px $colorBlueHoverBtn;
    }
    @media (max-width: 726px) {
      margin: 0 auto;
      width: 260px;
    }

  }

  @media (max-width: 1341px) {
    padding-left: 185px;
    padding-right: 100px;
  }

  @media (max-width: 1205px) {
    padding-left: 155px;
    padding-right: 50px;
  }

  @media (max-width: 873px) {
    padding-right: 30px;
    padding-left: 100px;
  }

  @media (max-width: 767px) {
    padding-left: 30px;
  }

  @media (max-width: 726px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 341px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
