.question {
  position: relative;

  margin: $mainMargin auto;
  padding-right: $mainPadding;
  padding-left: $mainPadding;
  max-width: $mainMaxWidth;
  height: 273px;

  &__title {
    position: absolute;
    left: 102px;

    display: block;
    max-width: 520px;

    font-family: $titleFont;
    font-size: 56px;
  }

  &__form {
    position: absolute;
    right: $mainPadding;

    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .question__input {
    min-width: 438px;
    height: 48px;
    padding-left: 30px;
    margin-bottom: 20px;

    background-color: transparent;
    border: 1px solid $formBorderColor;

    font-family: $textFont;
    font-size: 16px;
  }

  .question__text {
    min-width: 438px;
    height: 128px;
    padding: 15px 30px;
    margin-bottom: 30px;

    background-color: transparent;
    border: 1px solid $formBorderColor;

    font-family: $textFont;
    font-size: 16px;
  }

  .question__button {
    width: 102px;
    height: 48px;

    background-color: $secondColor;
    border: 0;

    font-family: $textFont;
    font-size: 12px;
    color: #fff;

    cursor: pointer;
  }
}
