.questions {

  margin-bottom: 53px;
  &__item {

    @include onTablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 auto 30px;

    font-family: "DIN Pro", sans-serif;
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;
    color: #333;

    @include onTablet {
      margin: 0;
      font-size: 56px;
      line-height: 70px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 72px;
    }
  }

  &__email {
    padding: 0 30px;
    margin-bottom: 20px;
    height: 48px;
    width: 100%;

    border: 1px solid #828282;

    &:focus {
      outline: #0db2b3;
      border: 2px solid #0db2b3;
    }

    @include onTablet {
      width: 340px;
      height: 48px;
    }

    @include onDesktop {
      width: 438px;
    }

    &::placeholder {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 16px;
      line-height: 19px;

      color: #bdbdbd;
    }
  }

  &__textarea {
    padding: 15px 30px;
    margin-bottom: 30px;

    height: 128px;
    width: 100%;
    resize: none;

    border: 1px solid #828282;

    &::placeholder {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 16px;
      line-height: 19px;

      color: #bdbdbd;
    }

    &:focus {
      outline: #0db2b3;
      border: 2px solid #0db2b3;
    }

    @include onTablet {
      height: 201px;
    }

    @include onDesktop {
      height: 128px;
      width: 438px;
    }
  }

  &__button {
    height: 40px;
    width: 100px;

    color: #fff;
    background: #0db2b3;
    border-color: transparent;
    box-shadow: 0 5px 10px #0db2b3;

    cursor: pointer;

    &:active {
      box-shadow: 0 10px 20px #0db2b9;
    }
  }
}
