.question {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 150px;
}

.question__h1 {
  margin: 0;
  padding-right: 20px;
  max-width: 480px;
  font-size: 56px;
  line-height: 72px;
  text-transform: uppercase;
  color: #333;
}

.question__form {
  max-width: 438px;
  display: block;
}

.question__item {
  font-family: inherit;
  border: 1px solid #828282;
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  margin-bottom: 19px;
  padding-left: 30px;
  background-color: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #bdbdbd;
}

.question__button {
  background: #0db2b3;
  width: 102px;
  height: 48px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 0;
  transition: transform 1s;

  &:hover {
    transform: scale(1.1);
  }
}

.question__item--area {
  height: 128px;
  resize: none;
  padding-top: 16px;
}

@media screen and (max-width: 750px) {
  .question {
    flex-direction: column;
    align-items: center;
  }

  .question__h1 {
    margin-bottom: 30px;
    padding-right: 0;
    font-size: 37px;
    line-height: 46px;
  }

  .question__form,
  .question__h1 {
    min-width: 100%;
  }
}
