.quote {
  &__text {
    position: relative;
    font-family: "Dino Pro Bold", arial, helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    max-width: 786px;
    margin: 0 auto 30px;
  }

  &__img {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  &__author {
    margin: 0 auto;
    max-width: 170px;
  }
}

@media (max-width: 830px) {
  .quote {
    &__text {
      margin: 0 30px 30px;
    }
  }
}
