.quotes {
  display: grid;
  justify-items: center;
  margin: 0 auto;
  max-width: 783px;
  background-image: url(../images/quotes.svg);
  background-position: center top;
  background-repeat: no-repeat;

  @media (max-width: $breakpointPC - 1px) {
    max-width: 700px;
  }

  @media (max-width: $breakpointTablet - 1px) {
    max-width: 260px;
  }

  &__text {
    text-align: center;
  }

  &__author-photo {
    margin-top: 40px;
  }

  &__author-name {
    @extend %text-1;

    margin-top: 20px;
    color: $activeBlack;
  }

  &__author-title {
    @extend %text-2;

    color: $activeGrey;
  }
}
