html {
  font-family: Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body,
span,
li,
ul,
p,
h1,
h2,
h3,
h4,
a,
button,
input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  list-style: none;
  text-decoration: none;
  border: none;
}
