html {
  scroll-behavior: smooth;
}

.html,
.body,
.main,
header,
nav,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue", sans-serif;
  color: #333;
  background-color: #f6f6f6;
  overflow-x: auto;
  margin: 0;
  padding: 0;

}

a {
  color: #333;
}
