.review {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    position: relative;
    margin-top: 120px;
    width: 786px;

    font-family: $titles-font;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
  }

  &__quote {
    position: absolute;
    transform: translateY(50%);

    z-index: -1;
  }

  &__photo {
    margin-top: 30px;

    width: 62px;
    height: 62px;

    border-radius: 50%;
  }

  &__name {
    margin-top: 20px;

    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
  }

  &__profession {
    margin-top: 5px;
    margin-bottom: 150px;

    color: $color-dark-gray;
  }
}

@media (max-width: $tablet-screen) {
  .review {
    &__text {
      width: 700px;
    }

    &__profession {
      margin-bottom: 130px;
    }
  }
}

@media (max-width: $phone-screen) {
  .review {
    &__text {
      width: 260px;
      font-size: 14px;
      line-height: 21px;
    }

    &__profession {
      margin-bottom: 0;
    }
  }
}
