.review {
  max-width: 786px;
  padding-top: 35px;
  background: url(../images/quotes.png) no-repeat;
  background-position: top center;

  &__text {
    font-family: "DIN Pro", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    color: #333;

  }

  &__person {
    width: fit-content;
    margin: 30px auto 0;
  }

  &__photo {
    display: block;
    margin: 0 auto;

  }

  &__name {
    margin-top: 20px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    color: #333;
  }

  &__position {
    margin-top: 5px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #7c7c7c;

  }

}
