.about-us {
  &__one {
    @include page-grid;

    margin-bottom: 120px;

    &__all {
      grid-column: 1 col-start / span 4;
    }

    &__title {
      margin-top: 0;
      font-family: Inter, sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
    }

    &__photo {
      position: relative;

      &--img {
        box-sizing: border-box;
        object-fit: cover;
        object-position: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__description {
      color: #7c7c7c;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }

    &__more {
      color: #0db2b3;
      text-transform: uppercase;
      outline: none;
      margin: 0;
      padding-block: 10px;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      text-decoration: none;
      transition: all 0.3s ease-out 0.3s;
      position: relative;

      &:hover {
        color: #333;
        letter-spacing: 2px;
      }

      &::after {
        content: '';
        color: #0db2b3;
        background-color: #0db2b3;
        width: 53px;
        height: 1px;
        margin-top: 1px;
        transition: all 0.6s ease-out 0.3s;
        display: block;
        position: absolute;
      }

      &:hover::after {
        background-color: #7c7c7c;
        width: 100%;
      }
    }
  }

  @include on-tablet {
    &__one__title {
      grid-row: 1 / span 1;
      grid-column: 5 col-start / span 4;

      font-size: 36px;
      line-height: 46px;
    }

    &__one__photo {
      transform-origin: 110% 0;
      grid-row: 1 / span 3;
      grid-column: 1 col-start / span 4;
      transform: scale(1.13);
    }

    &__one__photo--img {
      box-sizing: border-box;
      object-fit: cover;
      object-position: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &__one__description {
      grid-row: 2 / span 1;
      grid-column: 5 col-start / span 4;
      margin-top: 0;
      font-size: 16px;
      line-height: 24px;
    }

    &__one__more {
      grid-row: 3 / span 1;
      grid-column: 5 col-start / span 4;
    }
  }

  @include on-desktop {
    &__one__all {
      transform-origin: 100% 0;
      transform: scale(1);
    }

    &__one__title {
      grid-row: 1 / span 1;
      grid-column: 7 col-start / span 6;
      font-size: 56px;
      line-height: 70px;
    }

    &__one__photo {
      grid-row: 1 / span 3;
      grid-column: 1 col-start / span 6;
    }

    &__one__photo--img {
      box-sizing: border-box;
      object-fit: cover;
      object-position: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
    }

    &__one__description {
      grid-row: 2 / span 1;
      grid-column: 7 col-start / span 6;
      margin-top: 0;
      font-size: 16px;
      line-height: 24px;
    }

    &__one__more {
      grid-row: 3 / span 1;
      grid-column: 7 col-start / span 6;
    }
  }

  &__two {
    @include page-grid;

    margin-bottom: 50px;

    &__all {
      grid-column: 1 col-start / span 4;
    }

    &__title {
      margin-top: 0;
      font-family: Inter, sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 46px;
    }

    &__photo {
      position: relative;

      &--img {
        box-sizing: border-box;
        object-fit: cover;
        object-position: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__description {
      color: #7c7c7c;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    &__more {
      color: #0db2b3;
      text-transform: uppercase;
      outline: none;
      margin: 0;
      padding-block: 10px;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      text-decoration: none;
      transition: all 0.3s ease-out 0.3s;
      position: relative;

      &:hover {
        color: #333;
        letter-spacing: 2px;
      }

      &::after {
        content: '';
        color: #0db2b3;
        background-color: #0db2b3;
        width: 53px;
        height: 1px;
        margin-top: 1px;
        transition: all 0.6s ease-out 0.3s;
        display: block;
        position: absolute;
      }

      &:hover::after {
        background-color: #7c7c7c;
        width: 100%;
      }
    }
  }

  @include on-tablet {
    &__two__title {
      grid-row: 1 / span 1;
      grid-column: 1 col-start / span 4;
      font-size: 36px;
      line-height: 46px;
    }

    &__two__photo {
      transform-origin: 0 0;
      grid-row: 1 / span 3;
      grid-column: 5 col-start / span 4;
      transform: scale(1.1);
    }

    &__two__photo--img {
      box-sizing: border-box;
      object-fit: cover;
      object-position: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &__two__description {
      grid-row: 2 / span 1;
      grid-column: 1 col-start / span 4;
      margin-top: 0;
      font-size: 16px;
      line-height: 24px;
    }

    &__two__more {
      grid-row: 3 / span 1;
      grid-column: 1 col-start / span 4;
    }
  }

  @include on-desktop {
    &__two__title {
      grid-row: 1 / span 1;
      grid-column: 1 col-start / span 6;
      font-size: 56px;
      line-height: 70px;
    }

    &__two__photo {
      transform-origin: 0 0;
      grid-row: 1 / span 3;
      grid-column: 7 col-start / span 6;
      transform: scale(1);
    }

    &__two__photo--img {
      box-sizing: border-box;
      object-fit: cover;
      object-position: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
    }

    &__two__description {
      grid-row: 2 / span 1;
      grid-column: 1 col-start / span 6;
      margin-top: 0;
      font-size: 16px;
      line-height: 24px;
    }

    &__two__more {
      grid-row: 3 / span 1;
      grid-column: 1 col-start / span 6;
    }
  }
}
