.benefits {
  &__content {
    @include page-grid;
  }

  &__all {
    text-align: center;
    grid-column: 1 col-start / span 4;
    margin-top: 60px;
    font-family: Inter, sans-serif;

    &__title {
      color: #333;
      min-height: 30px;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
    }

    &__description {
      color: #7c7c7c;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  &__one {
    display: block;

    &__icon {
      width: 50px;
      height: 40px;
    }
  }

  &__two {
    display: none;

    &__icon {
      width: 46px;
      height: 40px;
    }
  }

  &__three {
    display: none;

    &__icon {
      width: 46px;
      height: 37px;
    }
  }

  &__four {
    display: none;

    &__icon {
      width: 37px;
      height: 37px;
    }
  }

  @include on-tablet {
    &__one {
      grid-column: 1 col-start / span 4;
    }

    &__two {
      grid-column: 5 col-start / span 4;
      display: block;
    }

    &__three {
      grid-column: 1 col-start / span 4;
      display: block;
    }

    &__four {
      grid-column: 5 col-start / span 4;
      display: block;
    }
  }

  @include on-desktop {
    &__all__title {
      min-height: 60px;
    }

    &__one {
      grid-column: 1 col-start / span 3;
    }

    &__two {
      grid-column: 4 col-start / span 3;
    }

    &__three {
      grid-column: 7 col-start / span 3;
    }

    &__four {
      grid-column: 10 col-start / span 3;
    }
  }
}
