.testimonials {
  &__content {
    box-sizing: border-box;
    text-align: center;
    background-image: url('../images/icons/aspas.svg');
    background-position: top;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  &__description {
    color: #333;
    width: 100%;
    margin-top: 50px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    @include on-tablet {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }

    @include on-desktop {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }
  }

  &__avatar {
    margin-top: 10px;
  }

  &__name {
    color: #333;
    margin: 10px 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }

  &__occupation {
    color: #7c7c7c;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
  }
}
