.sample {
  display: flex;
  justify-content: space-around;

  &__img {
    background-image: url(../images/main/sample/sample_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 195px;
    width: 100%;
    padding: 0;
    padding-inline: 10px;

    @include onTablet {
      background-image: url(../images/main/sample/sample_tabl.png);
      height: 430px;
      padding-inline: 34px;
    }

    @include onDesktop {
      background-image: url(../images/main/sample/sample_deskt.png);
      height: 520px;
      padding-inline: 0;
    }
  }
}
