.second-block {
  display: flex;
  flex-direction: column;
  gap: 90px ;
}

.second-block__nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
  gap: 84px;
  font-size: 14px;
  width: 100%;
  justify-content: center;
}

.second-block__nav-link {
  text-decoration: none;
  color: $Main-text-color;
}

.second-block__nav-link:hover {
  color: #131313;
  font-weight: 700;
  transition: 0.3s ease-out;
}

.second-block__cards {
  display: flex;
  flex-direction: row;
  gap: 30px ;
}

.second-block__card {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 276px;
  height: 286px;
}

.cards__img {
  margin-bottom: 30px;
}

.cards__tittle {
  @include TittleStyles;
  font-size: 22px;
  margin-bottom: 52px;
}

.cards__tittle--2 {
  margin-bottom: 26px;
}

.cards__tittle--3 {
  margin-bottom: 52px;
}

.cards__tittle--4 {
  margin-bottom: 28px;
}

.cards__text {
  @include TextStyles;
  font-size: 14px;
}
