.sectionone {
  position: relative;
  padding-right: 0;
  padding-left: 0;

  @media (min-width: 500px) {
    display: flex;
    align-items: flex-end;
  }

  &__img {
    background-image: url('../images/picture1.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 320px;
    height: 245px;
    grid-column: 1 / -1;
    box-sizing: border-box;
    padding: 0;

    background-position: 0%;

    @media (min-width: 500px) {
      width: 430px;
      height: 317px;
      transform: translate(61%, -54%);
    }
  }

  &__content {
    padding-top: 40px;

    @media (min-width: 500px) {
      padding-top: 142px;
      position: absolute;
      top: 50%; // Centrowanie w pionie
      left: 50%; // Centrowanie w poziomie
      transform: translate(-72%, -103%);
      text-align: center;
      width: 80%;
    }
    .sectionone__header {
      padding: 0 30px 20px;

      @media (min-width: 500px) {
        max-width: 186px;
      }
    }
    .sectionone__paragraph {
      padding: 0 30px;

      @media (min-width: 500px) {
        max-width: 250px;
      }
    }
  }
}
