.section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
    
  &__title h2 {
    font-family: $font-dinpro;
    font-size: 37px;
    line-height: 1.5em;
    padding-bottom: 20px;
    text-transform: uppercase;

    @media(min-width: $tablet-width) {
      font-size: 56px;
      line-height: 72px;
    }
  }
}
