.sectionseven {
  &__container {
    &--header {
      text-align: left;
    }
  }
  &__content {
    background-color: #d6ecec;
  }
  &__list {
    display: flex;
    flex-direction: column;
    &--title {
      color: #0c797a;
    }
    &--items {
      flex-direction: column;
      list-style: disc;
    }
    &--item {
      margin-left: 10px;
    }
  }
}
