.sectionone {
  padding-right: 0;
  padding-left: 0;

  @media (min-width: 640) {
    padding-right: 35px;
    padding-left: 35px;
  }
  @media (min-width: 1280) {
    padding-right: 123px;
    padding-left: 123px;
  }

  &__container {
    display: grid;
    grid-template: auto auto / 1fr;
    gap: 20px;
    grid-template-areas:
      'img'
      '.'
      'content';

    @media (min-width: 640px) {
      grid-template-columns: repeat(8, 70px);
      grid-template-areas: 'content content content content img img img img';

      align-items: center;
      gap: 20px;
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(12, 72px);
      grid-template-areas: 'content content content content img img img img img img img img';
      gap: 30px;
    }
  }

  &__content {
    grid-area: content;
    text-align: left;

    @media (min-width: 640px) {
      text-align: left;
      align-self: left;
      grid-column: 1/4;
    }

    @media (min-width: 1280px) {
      grid-column: 1/4;
    }

    .sectionone__header {
      padding: 0 30px 20px;
      max-width: 186px;

      @media (min-width: 640px) {
        padding: 0 0 30px;
      }
    }

    .sectionone__paragraph {
      padding: 0 30px;
      max-width: 250px;

      @media (min-width: 640px) {
        padding: 0;
      }
    }
  }

  &__img {
    background-image: url('../images/picture1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 245px;
    grid-area: img;
    box-sizing: border-box;
    background-position: left;

    @media (min-width: 640px) {
      width: 430px;
      height: 317px;
      grid-column: 4/8;
    }

    @media (min-width: 1280px) {
      width: 816px;
      height: 464px;

      grid-column: 5/12;
    }
  }
}
