.section {
  max-width: $maxContentWidth;
  padding: 150px $bodyIndentsX;
  margin: 0 auto;

  @media (max-width: $tabletBreakPoint) {
    padding: 130px $tabletBodyIndentsX;
  }

  @media (max-width: $mobileBreakPoint) {
    padding: 90px $tabletBodyIndentsX;
  }
}
