.sectiontwo {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 744px) {
      flex-flow: row wrap;
      gap: 65px 20px;
      width: 700px;
    }
    @media (min-width: 1280px) {
      flex-flow: row nowrap;
      column-gap: 30px;
      width: 1194px;
    }
  }

  &__content {
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;

    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @media (min-width: 744px) {
      display: flex;
      align-items: center;
      width: 340px;
      flex-basis: 48%;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
    @media (min-width: 1280px) {
      display: flex;
      align-items: center;
      height: 286px;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    &--compasses {
      width: 50px;
      height: 40px;

      @media (min-width: 1280px) {
        width: 50px;
        height: 42px;
      }
    }
    &--volum {
      width: 46px;
      height: 40px;
      @media (min-width: 1280px) {
        width: 46px;
        height: 42px;
      }
    }
    &--wifi {
      width: 46px;
      height: 37px;
      @media (min-width: 1280px) {
        width: 46px;
        height: 38px;
      }
    }
    &--sun {
      width: 44px;
      height: 44px;
      @media (min-width: 1280px) {
        width: 44px;
        height: 46px;
      }
    }

    .sectiontwo__header {
      padding: 40px 0 20px;

      @media (min-width: 744px) {
        padding: 50px 0 0;
      }
      @media (min-width: 1280px) {
        padding: 30px 0 0;
      }
    }

    .sectiontwo__paragraph {
      &--one {
        @media (min-width: 744px) {
          padding-top: 20px;
        }
        @media (min-width: 1280px) {
          padding-top: 52px;
        }
      }
      &--three {
        @media (min-width: 744px) {
          padding-top: 21px;
        }
        @media (min-width: 1280px) {
          padding-top: 52px;
        }
      }
      &--two {
        @media (min-width: 744px) {
          padding-top: 21px;
        }
        @media (min-width: 1280px) {
          padding-top: 24px;
        }
      }
      &--four {
        @media (min-width: 744px) {
          padding-top: 21px;
        }
        @media (min-width: 1280px) {
          padding-top: 24px;
        }
      }
    }
  }
}
