.sectioneight {
  display: grid;
  grid-template-columns: 1fr;
  gap: 27px;
  place-items: center;
  text-align: left;
  padding: 0 30px 110px;

  @media (min-width: 744px) {
    padding: 0 0 140px;
    gap: 20px;
    grid-template-columns: repeat(8, 70px);
    align-items: flex-start;
  }

  @media (min-width: 1280px) {
    padding: 0 0 170px;
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
  &__header {
    width: 259px;
    justify-self: left;

    @media (min-width: 744px) {
      width: 339px;
      grid-area: 1/1 / auto/5;
    }

    @media (min-width: 1280px) {
      width: 584px;
      grid-area: 1/1 / auto/6;
    }
  }
  &__form {
    @media (min-width: 744px) {
      grid-area: 1/5 / auto/9;
    }
    @media (min-width: 1280px) {
      grid-area: 1/-1 / auto/-7;
    }

    &--content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      text-align: left;
    }

    &--label {
      display: none;
    }

    &--input {
      height: 48px;
      padding: 20px 12px;
    }

    &--textarea {
      height: 128px;
      resize: none;
      margin-bottom: 10px;
      padding: 20px 15px;

      color: #333;
      border: 1px solid #828282;

      @media (min-width: 744px) {
        height: 201px;
      }

      @media (min-width: 1280px) {
        height: 128px;
      }
    }

    &--input,
    &--textarea {
      min-width: 260px;
      border: 1px solid #828282;
      background: none;

      box-sizing: border-box;
      text-align: left;
      color: #bdbdbd;
      @include maintext;

      @media (min-width: 744px) {
        width: 340px;
      }

      @media (min-width: 1260px) {
        width: 582px;
      }

      &::placeholder {
        color: #bdbdbd;
        text-align: left;
      }

      &:focus {
        border: 1px solid #0c797a;
        color: #333;
        font-family: 'Helvetica Neue', serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        outline: none;
      }

      &.error {
        border: 1px solid #eb5757 !important;
        color: #eb57574d;
        font-family: 'Helvetica Neue', serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;

        &::placeholder {
          color: #eb57574d !important;
        }
      }
    }
  }

  &--button {
    justify-self: left;
  }
}
