.sectionsix {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  place-items: center;

  padding: 0 30px 110px;

  @media (min-width: 744px) {
    padding: 0 34px 140px;
  }

  @media (min-width: 1280px) {
    padding: 0 34px 140px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 700px;

    @media (min-width: 744px) {
      gap: 40px;
      max-width: 786px;
    }
    @media (min-width: 1280px) {
      gap: 0;
    }

    &--img {
      justify-content: center;
      align-items: center;
      grid-area: 1/1 / auto/2;

      img {
        width: 208px;
        height: 171px;

        @media (min-width: 744px) {
          width: 233px;
          height: 189px;
        }
        @media (min-width: 1280px) {
          width: 233px;
          height: 192px;
        }
      }
    }
    &--quote {
      @include quote;

      align-self: center;
      padding-top: 50px;
      grid-area: 1/1 / auto/2;

      @media (min-width: 1280px) {
        padding-top: 60px;
      }
      @media (min-width: 1280px) {
        padding-top: 42px;
        padding-bottom: 30px;
      }
    }
  }

  &__content {
    grid-area: 2/1 / auto/2;

    &--img {
      width: 62px;
      height: 62px;
    }

    &--header {
      padding: 10px 0 5px;
      @media (min-width: 744px) {
        padding: 20px 0 5px;
      }
    }

    &--paragraph {
      @include secondary;

      color: #7c7c7c;
    }
  }
}
