.sectiontwo {
  .sectiontwo__menu {
    display: none;

    @media (min-width: 1280px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 62px;

      .links {
        &__list {
          list-style: none;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          padding: 28px 0;

          gap: 84px;
        }

        &__link {
          color: #333;
          text-decoration: none;

          &:hover {
            color: #131313;
          }

          &:active {
            color: #131313;
          }
        }
      }
    }
  }
}
