.menu__section {
  background-color: #eb343d;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  transition: left 0.4s ease-in-out;

  @media (min-width: 744px) {
    padding: 0 72px;
  }

  @media (min-width: 1260px) {
    padding: 0 120px;
  }

  &.active {
    left: 0;
  }

  .links {
    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding-top: 40px;

      font-family: Cinzel, serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
      vertical-align: middle;
      text-transform: uppercase;

      @media (min-width: 1260px) {
        padding-top: 55px;
      }
    }

    &__item {
      font-family: Cinzel, serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
      vertical-align: middle;
      text-transform: uppercase;
    }

    &__link {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }

  .menu__contacts {
    padding-top: 32px;

    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    vertical-align: middle;
    text-transform: uppercase;

    @media (min-width: 744px) {
      padding-top: 48px;
    }

    .menu__contact--item {
      padding-top: 8px;
    }

    a.menu__contact--link {
      text-decoration: none;
      color: #fff;
    }
  }
  .menu__order {
    padding-top: 16px;

    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;

    a.menu__order--link {
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }
}
