@media(min-width: 320px) {
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    &-bigPhoto640px {
      width: 95%;
    }
  }
}

@media(min-width: 1280px) {
  .section2 {

    &-bigPhoto640px {
      width: 950px;
    }
  }
}
