.section {
  max-width: $maxContentWidth;
  padding: $normalPaddingY $bodyIndentsX 0;
  margin: 0 auto;

  @media (max-width: $tabletBreakPoint) {
    padding: $tabletPaddingY $tabletBodyIndentsX 0;
  }

  @media (max-width: $mobileBreakPoint) {
    padding: $mobilePaddingY $tabletBodyIndentsX 0;
  }
}
