@media (min-width: 320px) {
  .container-section1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section1 {
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-first-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-second-card {
      display: none;
    }

    &-third-card {
      display: none;
    }

    &-fourth-card {
      display: none;
    }

    &-text {
      width: 260px;
    }
  }
}

@media (min-width: 640px) {
  .container-section1 {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
  }

  .section1 {
    &-second-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-third-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-fourth-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-text {
      width: 100%;
    }

    &-first-card-photo {
      width: 50px;
      height: 40px;
    }
  }
}

@media (min-width: 1280px) {
  .container-section1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .section1 {
    &-first-card {
      width: 280px;
    }

    &-second-card {
      width: 280px;
    }

    &-third-card {
      width: 280px;
    }

    &-fourth-card {
      width: 280px;
    }
  }
}
