.sectionfour {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  text-align: left;
  place-items: center;

  @media (min-width: 744px) {
    padding: 0 35px 140px;
    gap: 20px;
    grid-template-columns: repeat(8, 70px);
    align-items: center;
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }

  &__header {
    order: -1;
    margin: 0;

    @media (min-width: 744px) {
      position: absolute;
      top: 0;
      left: 20px;
      grid-area: 1 / 5 / auto / 9;
      order: 0;
      text-align: left;
    }

    @media (min-width: 1280px) {
      position: absolute;
      top: 0;
      left: 50px;
      grid-area: 1 / 6 / auto / 12;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;

    img {
      width: 320px;
      height: auto;
    }

    @media (min-width: 744px) {
      grid-area: 1 / 1 / auto / 5;
      order: 0;

      img {
        width: 374px;
        height: 415px;
      }
    }

    @media (min-width: 1280px) {
      grid-area: 1 / 1 / auto / 6;
      img {
        width: 582px;
        height: 388px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 1;

    &--paragraph {
      margin: 0;

      color: #7c7c7c;
      @include secondary;

      @media (min-width: 744px) {
        @include maintext;
      }
    }

    &--button {
      color: aqua;
    }

    @media (min-width: 744px) {
      position: absolute;
      grid-area: 1 / 5 / auto / 9;
      order: 0;
      text-align: left;
      gap: 60px;

      left: 20px;
      top: 122px;
    }

    @media (min-width: 1280px) {
      position: absolute;
      gap: 60px;
      left: 52px;
      top: 170px;
      grid-area: 1 / 6 / auto / 12;
    }
  }
}
