.sectioneight {
  display: grid;
  grid-template-columns: 1fr;
  gap: 27px;
  place-items: center;
  text-align: left;
  padding: 0 30px 110px;

  @media (min-width: 744px) {
    padding: 0 0 140px;
    gap: 20px;
    grid-template-columns: repeat(8, 70px);
    align-items: center;
  }

  @media (min-width: 1280px) {
    padding: 0 0 170px;
    grid-template-columns: repeat(12, 72px);
    gap: 30px;
  }
  &__header {
    width: 259px;
    justify-self: left;
  }
  &__form {
    &--content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      place-items: center;
      text-align: left;
    }

    &--label {
      display: none;
    }

    &--input {
      height: 48px;
    }

    &--textarea {
      height: 128px;
      resize: none;
      margin-bottom: 10px;
    }

    &--input,
    &--textarea {
      min-width: 260px;
      border: 1px solid #828282;
      background: none;
      padding: 20px 12px;
      box-sizing: border-box;
      text-align: left;

      @include maintext;

      @media (min-width: 744px) {
        width: 288px;
      }

      @media (min-width: 1260px) {
        width: 411px;
      }

      &::placeholder {
        color: #bdbdbd;
        text-align: left;
        @include maintext;
      }

      &:hover {
        border: 1px solid #0c797a;

        &::placeholder {
          color: #333;
        }
      }

      &:focus {
        border: 1px solid #0c797a;
        outline: none;
        cursor: text;
        font-family: Helvetica Neue;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }

      &:focus::placeholder {
        color: #333;
      }
      &.sectioneight__form--input .error {
        border-color: #eb5757;

        &::placeholder {
          color: #eb57574d;
        }
      }
    }
    &--button {
      justify-self: left;
    }
  }
}
