.sectionthree {
  &__container {
    background-image: url('../images/picture2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 296px;
    height: 195px;

    @media (min-width: 744px) {
      width: 700px;
      height: 430px;
    }

    @media (min-width: 1260px) {
      width: 846px;
      height: 520px;
    }
  }
}
