.sectiontwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    display: none;

    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    &--compasses {
      width: 50px;
      height: 40px;
    }

    .sectiontwo__header {
      padding: 40px 0 20px;
    }
  }
}
