.see-more-link {
  color: $main-turquoise;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 30px;
  display: block;
  text-decoration: none;
  line-height: 14px;
  position: relative;
  padding-bottom: 8px;
  height: 20px;

  @include scaling-line;

  @include on-tablet {
    margin-top: 60px;
  }

  @include on-desktop {
    grid-column: 7/-1;
    margin-bottom: 42px;
  }

  &--about-us {
    @include on-tablet {
      grid-column: 5/-1;
      margin-bottom: 67px;
    }

    @include on-desktop {
      grid-column: 7/-1;
      margin-bottom: 42px;
    }
  }

  &--technology {
    @include on-tablet {
      grid-column: 1/5;
      margin-bottom: 163px;
    }

    @include on-desktop {
      grid-column: 1/7;
      margin-bottom: 136px;
    }
  }
}
