.set-language {
  display: flex;
  justify-content: center;

  &__check {
    position: relative;
    left: 15px;
    opacity: 0;
    z-index: 100;
    cursor: pointer;

  }

  &__label {
    font-weight: 300;
    color: $unactive-font-color;
  }

  &__label:nth-of-type(2) {
    position: relative;
    right: 10px;
  }

  &__label:nth-of-type(1) {
    margin-right: 3px;
  }

  &__check:checked + &__label {
    font-weight: normal;
    color: #000;
  }

  &__check:nth-of-type(2) {
    left: 5px;
  }
}
