.set-lang {
  display: flex;
  justify-content: center;

  &__item {
    color: #bdbdbd;
    transition: color 0.3s, font-weight 0.3s;

    &:first-child {
      position: relative;
      margin-right: 12px;
    
      &:after {
        content: "/";
        display: block;
        position: absolute;
        top: 0;
        left: 23px;
        font-weight: 600;
        color: #333;
      }
    }

    &:hover {
      color: #333;
      font-weight: 900;
    }

    &--active {
      color: #333;
    }
  }
}
