.set-language {
  display: flex;
  justify-content: center;
  padding: 0 25px;

  &__check {
    position: relative;
    left: 15px;
    opacity: 0;
    z-index: 1000;
    cursor: pointer;

  }

  &__label {
    color: $unactive-font-color;
  }

  &__label:nth-of-type(2) {
    position: relative;
    right: 10px;
  }

  &__label:nth-of-type(1) {
    margin-right: 3px;
  }

  &__check:checked + &__label {
    color: $hover-font-color;
  }

  &__check:nth-of-type(2) {
    left: 5px;
  }
}

@media (max-width: 550px) {
  .set-language {
    padding: 0 10px;
  }
}
