.seventh-block {
  display: flex;
  flex-direction: column;
}

.seventh-block__tittle {
  @include TittleStyles;
  width: 1200px;
  font-size: 56px;
  margin-bottom: 30px;
}

.seventh-block__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 56px;
  width: 1194px;
  height: 642px;
  padding-top: 60px;
  padding-left: 102px;
  background-color: #d6ecec;
}

.seventh-block__container-card__tittle {
  color: #0c797a;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 12px;
}

.card__list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  color: $Main-text-color;
  gap: 10px;
}

.seventh-block__img {
  align-self: center;
  margin-top: 43px;
}
