.shipping {
  &__page-top {
    margin: 25px 123px 0;
  }

  &__inner {
    margin: 90px auto 150px;
  }
}

@media (max-width: 720px) {
  .shipping {
    &__page-top {
      margin: 25px 50px 0;
    }
  }
}

@media (max-width: 420px) {
  .shipping {
    &__page-top {
      margin: 25px 20px 0;
    }
  }
}
