.shipping {
  padding: 0 30px;

  &__logo {
    margin-top: 25px;
    align-self: flex-start;
    width: 161px;

    @media (max-width: 555px) {
      display: none;
    }
  }

  &__btn-back {
    position: relative;
    width: 100%;
    text-align: left;
  }

  &__back {
    position: absolute;
    margin-top: 50px;
    display: inline-block;
    width: 50px;
    height: 40px;
    color: hsl(0, 0%, 20%);
    background: url(../images/cart/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }

    @media (max-width: 555px) {
      background: url(../images/cart/close.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 0;
      right: -17px;
      bottom: 40px;
    }
  }

  &__process {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 396px;
    margin-top: 100px;

    @media (max-width: 638px) {
      width: 250px;
    }

    @media (max-width: 423px) {
      width: 200px;
    }
  }

  &__cart {
    position: relative;
    z-index: 1;
    width: 13px;
    height: 13px;
    color: hsl(0, 0%, 31%);
    border: 2px solid gray;
    background: hsl(0, 0%, 31%);
    border-radius: 50%;
    &::after {
      content: "cart";
      position: relative;
      top: 20px;
      right: 15px;
      @include FontSet("Helvetica Neue Roman", 16px, 20px);
      text-transform: uppercase;

      @media (max-width: 423px) {
        @include FontSet("Helvetica Neue Roman", 12px, 18px);
        right: 10px;
      }
    }

    &::before {
      content: "";
      position: relative;
      top: 4px;
      left: 11px;
      display: block;
      width: 180px;
      height: 1px;
      background-color: hsl(0, 0%, 31%);

      @media (max-width: 638px) {
        width: 110px;
      }

      @media (max-width: 423px) {
        width: 80px;
      }
    }
  }

  &__shipping {
    position: relative;
    z-index: 1;
    width: 13px;
    height: 13px;
    border: 2px solid gray;
    background: hsl(0, 0%, 31%);
    border-radius: 50%;
    &::after {
      content: "SHIPPING";
      position: relative;
      top: 20px;
      right: 30px;
      color: hsl(0, 0%, 31%);

      @include FontSet("Helvetica Neue Roman", 16px, 20px);
      text-transform: uppercase;

      @media (max-width: 423px) {
        @include FontSet("Helvetica Neue Roman", 12px, 18px);
        right: 22px;
      }
    }
  }

  &__payment {
    @include styleCart;

    &::after {
      content: "PAYMENT";
      position: relative;
      top: 20px;
      right: 28px;
      @include FontSet("Helvetica Neue Roman", 16px, 20px);
      color: $colorShopingLightGray;
      text-transform: uppercase;

      @media (max-width: 423px) {
        @include FontSet("Helvetica Neue Roman", 12px, 18px);
        right: 22px;
      }
    }
  }

  &__inner {
    margin-top: 137px;
  }

  &__form {
    width: 378px;
    margin: 0 auto;
    @include FontSet("Helvetica Neue Roman", 14px, 24px);

    @media (max-width: 448px) {
      width: 260px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 32px;
    margin-bottom: 32px;
    background-color: $colorLightGrayAll;
    border-bottom: 1px solid $colorFeaturesLightGray;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 378px;

    @media (max-width: 448px) {
      width: 260px;
    }
  }

  &__return {
    @include FontSet("Helvetica Neue Roman", 12px, 14px);
    color: $colorGray;
    text-transform: uppercase;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 $colorBlueHoverBtn inset,
        0 0 10px 4px $colorBlueHoverBtn;
    }
  }

  &__continue {
    height: 48px;
    @include FontSet("Helvetica Neue Roman", 12px, 15px);
    background-color: $lightBlack;
    text-transform: uppercase;
    color: $white;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 $colorBlueHoverBtn inset,
        0 0 10px 4px $colorBlueHoverBtn;
    }
  }
}
