.soc-media {
  display: flex;
  gap: 15px;

  &__item {
    background: no-repeat center;
    width: $iconSize;
    height: $iconSize;
    transition: background-image 0.3s;

    &--facebook {
      background-image: url(../images/facebook.svg);

      &:hover {
        background-image: url(../images/facebook_active.svg);
      }
    }

    &--twitter {
      background-image: url(../images/twitter.svg);

      &:hover {
        background-image: url(../images/twitter_active.svg);
      }
    }

    &--instagram {
      background-image: url(../images/instagram.svg);

      &:hover {
        background-image: url(../images/instagram_active.svg);
      }
    }

  }

}
