.sound {
  padding-bottom: 300px;

  @media (min-width: 768px) {
    padding-bottom: 150px;
  }
}

.sound__main-title {
  font-size: 30px;
  font-weight: 700;
  padding: 0 30px 30px;
  margin: 0;

  @media (min-width: 1279px) {
    font-size: 56px;
  }
}

.sound__wrapper {
  display: flex;
  background-color: #d6ecec;
  flex-direction: column;
  padding: 0 30px;
  position: relative;

  @media (min-width: 768px) {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(var(--columns), 1fr);

    --columns: 8;

    padding: 0;
  }
}

.sound__img {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    grid-column: 4 / 9;
    margin-top: -81px;
  }

  @media (min-width: 1279px) {
    grid-column: 5 / 9;
  }
}

.sound__image {
  max-width: 100%;
  width: 100vw;
  object-fit: contain;
  position: absolute;

  @media (min-width: 768px) {
    position: relative;
  }

  @media (min-width: 1279px) {
    position: absolute;
    width: 50%;
    margin-top: 55px;
    margin-right: 15px;
  }
}

.sound__card2 {
  @media (min-width: 768px) {
    grid-column: 2 / 5;
  }
}

.sound__card1 {
  @media (min-width: 768px) {
    grid-column: 2 / 5;
  }
}

.sound__card3 {
  @media (min-width: 768px) {
    grid-column: 5 / 9;
    grid-row: 1;
  }
}

.slider {
  display: flex;
}

.slider__img {
  display: flex;
  width: 93px;
  height: 47px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1279px) {
    display: none;
  }
}

.sound__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    grid-column: 2 / 5;
    padding-left: 15px;
  }
}

.sound__card1,
.sound__card3 {
  @media (max-width: 1279px) {
    display: none;
  }
}

.sound__title {
  color: #0c797a;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }

  @media (min-width: 1279px) {
    font-size: 34px;
  }
}

.sound__point {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  @media (min-width: 1279px) {
    font-size: 16px;
  }
}
