.specs {
  font-weight: 300;
  line-height: 18px;
  color: $specs-color;
  display: flex;
  gap: 20px;

  @include on-tablet {
    gap: 30px;
  }

  @include on-desktop {
    font-weight: 400;
    line-height: 20px;
  }

  &__lang-en {
    font-weight: 400;
    color: $main-dark;
    cursor: pointer;

    &:hover {
      color: $specs-en-hovered;
    }
  }

  &__lang-ua {
    color: $specs-ua-color;
    cursor: pointer;

    @include on-desktop {
      color: $form-text;
    }

    &:hover {
      color: $main-dark;
    }
  }
}
