.strengths {
  &__nav {
    display: none;

    @include onDesktop {
      padding-block: 28px;
      display: flex;
      justify-content: center;
      grid-column: 1 / -1;
    }
  }

  &__strength {
    @include onTablet {
      @include pageGrid;
      row-gap: 65px;
    }

    @include onDesktop {
      margin-top: 62px;
    }
  }
}
