h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.page {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  background: #f7f7f7;
}

.page__section-title {
  font-size: 37px;
  line-height: 55px;
  color: #333;
}

@media (min-width: 768px) {
  .page__section-title {
    font-size: 56px;
    line-height: 72px;
  }
}

.page__regular-text {
  font-size: 14px;
  line-height: 21px;
  color: #7c7c7c;
}

.page__header {
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .page__header {
    margin-bottom: 128px;
  }
}

@media (min-width: 1200px) {
  .page__header {
    margin-bottom: 132px;
  }
}

.page__section {
  margin-bottom: 90px;
}

@media (min-width: 768px) {
  .page__section {
    margin-bottom: 128px;
  }
}

@media (min-width: 1200px) {
  .page__section {
    margin-bottom: 150px;
  }
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
}

.container--header {
  position: relative;
  padding-top: 28px;
}

@media (min-width: 768px) {
  .container--header {
    padding-top: 40px;
  }
}

.logo {
  display: block;
  height: 26px;
  width: 161px;
  background-image: url("../images/logo.svg");
  transition: transform 0.4s;
}

.logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__tabl-desk-content {
  display: none;
}

@media (min-width: 768px) {
  .header__tabl-desk-content {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.header__link {
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
  text-decoration: none;
  transition: color 0.4s, transform 0.4s;
}

.header__link:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #131313;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__item {
  margin-right: 3px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__choose-lang {
  position: absolute;
  visibility: hidden;
}

.header__label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  transition: transform 0.4s;
}

.header__label:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.header__buy-btn {
  height: 48px;
  width: 102px;
  background-color: #333;
  color: #fff;
  border: none;
  transition: background-color 0.4s;
  cursor: pointer;
}

.header__buy-btn:hover {
  background-color: #131313;
}

.header__menu {
  display: inline-block;
  height: 14px;
  width: 24px;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../images/menu.svg");
  transition: transform 0.4s;
}

@media (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.header__menu:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .header__content {
    flex-direction: row;
    margin-top: 136px;
  }
}

.header__image {
  display: block;
  height: auto;
  width: 100%;
  min-width: 260px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header__image {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .header__image {
    max-width: 800px;
  }
}

@media (min-width: 1px) and (max-width: 767px) {
  .header__product-description {
    order: 2;
  }
}

@media (min-width: 768px) {
  .header__product-description {
    max-width: 280px;
  }
}

@media (min-width: 1200px) {
  .header__product-description {
    max-width: 380px;
  }
}

.header__title {
  margin-bottom: 24px;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 130%;
  color: #333;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 48px;
    margin-bottom: 34px;
  }
}

@media (min-width: 1200px) {
  .header__title {
    font-size: 64px;
  }
}

.header__text {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.header__menu-input {
  display: none;
}

#lang-en:checked ~ .container .header__label--en,
#lang-ua:checked ~ .container .header__label--ua {
  color: #333;
}

.nav {
  position: absolute;
  left: -100%;
  background-color: #f7f7f7;
  transition: left 0.4s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-bottom: 36px;
}

.nav__link {
  display: block;
  font-size: 24px;
  text-decoration: none;
  color: #7c7c7c;
  transition: transform 0.4s, color 0.4s;
}

.nav__link:hover {
  transform: scale(1.2);
  color: #333;
}

.nav__link--close {
  position: absolute;
  top: 0;
  left: 30px;
  display: block;
  height: 18px;
  width: 18px;
  background-image: url("../images/close-menu.png");
  cursor: pointer;
}

#menu-close:checked ~ .container .nav {
  left: -100%;
}

#menu-open:checked ~ .container .header__menu {
  display: none;
}

#menu-open:checked ~ .container .nav {
  left: 0;
}

.advantages__nav {
  display: none;
  margin-bottom: 48px;
}

@media (min-width: 1200px) {
  .advantages__nav {
    display: block;
  }
}

.advantages__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.advantages__link {
  display: block;
  text-decoration: none;
  color: #333;
  transition: color 0.4s, transform 0.4s;
}

.advantages__link:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #131313;
}

@media (min-width: 768px) {
  .advantages__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
  }
}

@media (min-width: 1200px) {
  .advantages__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.advantages__feature {
  margin-bottom: 90px;
}

@media (min-width: 768px) {
  .advantages__feature {
    margin: 0;
  }
}

.advantages__image {
  display: block;
  margin: 0 auto 40px;
}

.advantages__feature-title {
  font-size: 24px;
  line-height: 30px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}

.advantages__feature-title--1 {
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .advantages__feature-title--1 {
    margin-bottom: 50px;
  }
}

.advantages__feature-title--2 {
  margin-bottom: 20px;
}

.advantages__text {
  text-align: center;
}

.our-story__video {
  width: 100%;
}

@media (min-width: 768px) {
  .design__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0 20px;
    justify-items: flex-start;
  }
}

.design__title {
  text-align: center;
}

@media (min-width: 768px) {
  .design__title {
    position: relative;
    left: -90px;
    margin-bottom: 30px;
    text-align: left;
  }
}

.design__image {
  display: block;
  height: 100%;
  width: 100%;
  margin: 50px auto 30px;
}

@media (min-width: 768px) {
  .design__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0;
  }
}

.design__link {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0db2b3;
}

.design__link::after {
  content: "";
  display: block;
  height: 1px;
  width: 53px;
  margin-top: 6px;
  background-color: #0db2b3;
  transition: width 0.4s;
}

.design__link:hover::after {
  width: 100%;
}

.technology__image {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.technology__quote {
  background-image: url(../images/quotes.svg);
}

.technology__text {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #333;
}

.technology__martin {
  display: block;
  margin: 0 auto 20px;
}

.technology__name {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #333;
}

.technology__role {
  text-align: center;
}

.features {
  background-color: #f2f2f2;
}

.features__title-text {
  margin-bottom: 50px;
}

@media (min-width: 1px) and (max-width: 767px) {
  .features__feature {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 1px) and (max-width: 767px) {
  .features__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media (min-width: 768px) {
  .features__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0 20px;
    justify-items: center;
    align-items: center;
  }
}

.features__card {
  position: relative;
  z-index: 2;
}

.features__card--1 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
}

.features__card--2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.features__card--3 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media (min-width: 768px) {
  .features__card--3 {
    top: -40px;
  }
}

.features__title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #0c797a;
}

.features__list {
  margin-left: 20px;
}

.features__item {
  margin-bottom: 10px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__slider-controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .features__slider-controllers {
    display: none;
  }
}

.features__slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.features__button {
  display: block;
  box-sizing: content-box;
  height: 14px;
  width: 48px;
  padding: 4px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.features__button--left {
  background-image: url(../images/button-left.svg);
}

.features__button--right {
  background-image: url(../images/button-right.svg);
}

.features__current-item {
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

.features__iems-count {
  font-size: 11px;
  line-height: 14px;
  color: #bdbdbd;
}

.features__image {
  display: block;
  height: auto;
  width: 100%;
  margin: 10px auto 0;
}

@media (min-width: 768px) {
  .features__image {
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media (min-width: 768px) {
  .questions__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
    justify-items: center;
  }
}

.questions__title {
  max-width: 340px;
}

.questions__form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .questions__form {
    margin: 0;
  }
}

.questions__area {
  height: 48px;
  margin-bottom: 20px;
  padding: 16px 30px;
  border: 1px solid #828282;
  font-family: Helvetica, sans-serif;
}

.questions__area::placeholder {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #bdbdbd;
}

.questions__area:nth-child(2) {
  height: 128px;
  margin-bottom: 30px;
}

.questions__button {
  height: 48px;
  width: 102px;
  color: #fff;
  background-color: #0db2b3;
  border: none;
  transition: background-color 0.4s;
}

.questions__button:hover {
  background-color: #0c797a;
}

.footer {
  padding-bottom: 50px;
}

.footer__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer__arrow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.footer__logo {
  margin: 10px auto 64px;
}

@media (min-width: 1px) and (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}

.footer__item {
  margin-right: 36px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
}

.footer__icon {
  fill: #4f4f4f;
  transition: fill 0.4s, transform 0.4s;
}

.footer__icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.footer__icon--fb:hover {
  fill: #4267b2;
}

.footer__icon--tw:hover {
  fill: #64a8f2;
}

.footer__icon--ig:hover {
  fill: #e2102d;
}

.footer__icon--arrow:hover {
  fill: #131313;
}

.footer__rights {
  margin-top: 24px;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #bdbdbd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
