.switchener {
  &--lang {
    cursor: pointer;
    color: $c-light-grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  &--radio {
    appearance: none;
    position: absolute;
    &:checked + .switchener--lang {
      color: $c-dark;
    }
  }
}
