.teaser {
  height: 590px;
  width: 100%;
  background: url(../images/video.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 150px;

  &__play {
    cursor: pointer;
    height: 232px;
    width: 232px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform $hoverDuration;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__text {
    color: #f3f4f5;
    text-transform: uppercase;
    font-size: 24px;
  }

  @media (max-width: $tabletSize) {
    margin-top: 91px;
  }
}
