.technology__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @include Mobile {
    padding: 110px 30px 0;
  }
}

.technology__title {
  font-family: DIN Pro, sans-serif;
  font-size: 56px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  /* #333333 */
  color: #333;
  @include Mobile {
    font-size: 37px;
    line-height: 46px;
    padding-bottom: 50px;
  }
  @include Notebook {
    justify-content: left;
  }
}

.technology__image_container {
  overflow: hidden;
}

.technology__image {
  overflow: hidden;
  width: 100%;
  @include Mobile {
    width: 100%;
    max-width: 600px;
    margin-left: 70px;
  }
  @include Tablet {
    margin-left: 300px;
  }
  @include Notebook {
    width: 1200px;
  }
}

.technology__background {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/technology/background.svg);
  z-index: 1;
  height: 188px;
  width: 100%;
  position: absolute;
  top: -50px;
  @include Mobile {
    height: 170px;
    top: -20px;
  }
}

.technology__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include Tablet {
    padding: 0 34px;
  }
  @include Notebook {
    max-width: 786px;
  }
  @include TheDesign {
    max-width: 786px;
  }
}

.technology__text {
  font-family: DIN Pro, sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;

  /* or 150% */
  text-align: center;

  /* #333333 */
  color: #333;
  @include Mobile {
    font-size: 14px;
    line-height: 21px;
  }
  @include Tablet {
    margin-bottom: 30px;
  }
}

.technology__card_name {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 5px;

  /* identical to box height, or 169% */
  text-align: center;

  /* #333333 */
  color: #333;
}

.technology__card_position {
  padding-bottom: 130px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 120%;

  /* identical to box height, or 17px */
  text-align: center;

  color: #7c7c7c;
  @include Mobile {
    padding-bottom: 45px;
  }
  @include Notebook {
    padding-bottom: 150px;
  }
  @include TheDesign {
    padding-bottom: 150px;
  }
}

.technology__card_image {
  padding-bottom: 20px;
}
