.tech {
  display: flex;
  flex-direction: column;
  width: 100vw;

  &__h {
    margin-left: 100px;
  }
  
  &__img {
    position: relative;
    width: 1280px;
    height: 710px;
    z-index: -1;
  }
  
  &__btn-block {
    position: relative;
  }
  
  &__btn {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: $hover-color;
    color: white;
  
    font-size: 26px;
    line-height: 44px;
    text-align: center;
  
    &--active {
      background: black;
    }
  
    &--1 {
      left: 98px;
      bottom: 433px;
    }
    
    &--2 {
      left: 280px;
      bottom: 295px;
    }
    
    &--3 {
      left: 352px;
      bottom: 358px;
    }
    
    &--4 {
      left: 412px;
      bottom: 517px;
    }
    
    &--5 {
      left: 514px;
      bottom: 234px;
    }
    
    &--6 {
      left: 650px;
      bottom: 480px;
    }
    
    &--7 {
      left: 790px;
      bottom: 333px;
    }
    
    &--8 {
      left: 935px;
      bottom: 475px;
    }
    
    &--9 {
      left: 1075px;
      bottom: 560px;
    }
    
    &--10 {
      left: 1130px;
      bottom: 440px;
    }
    
    &--11 {
      left: 1140px;
      bottom: 520px;
    }
  }
  
  &__text {
    display: block;
    position: relative;
    font-size: 14px;
    width: 175px;
    left: 952px;
    bottom: 190px;
  }
  
  &__lines {
    position: absolute;
    left: 952px;
    bottom: 178px;
    width: 63px;
    height: 5px;
    background-color: $main-color;
  
    &--h {
      width: 200px;
      height: 1px;
      bottom: 180px;
    }
  
    &--v {
      left: 1028px;
      width: 250px;
      height: 1px;
      bottom: 305px;
      transform: rotate(90deg);
    }
  }
}

@media (max-width: 767px) {
  .tech__h {
    margin: 0 auto;
  }

  .tech__img {
    width: 680px;
    height: 470px;
    margin: 0 auto;
  }

  .tech__btn-block {
    display: none;
  }
}
