.tech {
  display: flex;
  flex-direction: column;
  width: 100vw;

  &__h {
    margin-left: 100px;
  }
  
  &__img {
    position: relative;
    width: 1280px;
    height: 710px;

    z-index: -1;

    transition: transform $duration;
  }
  
  &__btn-block {
    position: relative;
  }
  

  &__btn-1 {
    left: 98px;
    bottom: 433px;

    &::after {
      display: none;
      content: "Front cover";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 450% 10px 10px;
      margin-left: -120%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-2 {
    left: 280px;
    bottom: 295px;

    &::after {
      display: none;
      content: "Transparent light component";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 200% 10px 10px;
      margin-left: -200%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-3 {
    left: 352px;
    bottom: 358px;

    &::after {
      display: none;
      content: "Tweeter";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 300% 10px 10px;
      margin-left: -50%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-4 {
    left: 412px;
    bottom: 517px;

    &::after {
      display: none;
      content: "Seal cover for sound chamber";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 600% 10px 10px;
      margin-left: -200%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-5 {
    left: 514px;
    bottom: 234px;

    &::after {
      display: none;
      content: "Light guiding component for running light";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 10px;
      margin-left: -350%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-6 {
    left: 650px;
    bottom: 480px;

    &::after {
      display: none;
      content: "Full range driver";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 400% 10px 10px;
      margin-left: -100%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-7 {
    left: 790px;
    bottom: 333px;

    &::after {
      display: none;
      content: "Mainboard PCB";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 50px 10px 10px;
      margin-left: -100%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-8 {
    left: 935px;
    bottom: 475px;

    &::after {
      display: none;
      content: "Aluminum casing";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 400% 10px 10px;
      margin-left: -230%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-9 {
    left: 1075px;
    bottom: 560px;

    &::after {
      display: none;
      content: "Back cover";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 500% 10px 10px;
      margin-left: -120%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-10 {
    left: 1130px;
    bottom: 440px;

    &::after {
      display: none;
      content: "Control button ring ornament";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 300% 10px 10px;
      margin-left: -200%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn-11 {
    left: 1140px;
    bottom: 520px;

    &::after {
      display: none;
      content: "Transparent logo";
      border-right: 2px solid $hover-color;
      border-bottom: 2px solid $hover-color;
      padding: 500% 10px 10px;
      margin-left: -200%;
      margin-top: 20%;
    }

    &:hover {
      &::after {
        display: inline-block;
      }
    }
  }

  &__btn {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: $hover-color;
    color: white;
  
    font-size: 26px;
    line-height: 44px;
    text-align: center;

    transition: transform $duration, background-color $duration;

    &:hover {
      transform: scale(1.2);
      background-color: $main-color;
    }
    
    &::after {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: $main-color;
      background-color: transparent;
    }
  }
}

.tech__toggler {
  display: none;
}

.tech__slider {
  display: none;
  position: relative;
  justify-content: center;
  justify-items: center;
  margin-top: 40px;
  gap: 20px;

  @media (max-width: 570px) {
    display: flex;
  }
}

.tech__slider-label {
  position: relative;
  top: -100px;
  width: 48px;
  height: 13px;
  background-image: url(../images/tech-arrow2.png);
  transition: transform $duration;
  cursor: pointer;

  &::after {
    display: block;
    content: "02";
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
  }

  &:hover {
    transform: scale(1.3);
  }

  &:nth-child(1) {
    background-image: url(../images/tech-arrow1.png);

    &::after {
      display: block;
      content: "01";
    }
  }
}

@media (max-width: 767px) {
  .tech__h {
    margin: 0 auto;
  }

  .tech__img {
    display: flex;
    width: 600px;
    height: 430px;
    margin: 0 auto;
  }

  .tech__btn-block {
    display: none;
  }
}

@media (max-width: 570px) {
  .tech__img {
    left: 10%;
  }

  .tech__toggler-1:checked ~ .tech__img {
    transform: translateX(0);
  }
  
  .tech__toggler-2:checked ~ .tech__img {
    transform: translateX(-25%);
  }
}

@media (max-width: 470px) {
  .tech__toggler-2:checked ~ .tech__img {
    transform: translateX(-37.5%);
  }
}

@media (max-width: 380px) {
  .tech__toggler-2:checked ~ .tech__img {
    transform: translateX(-50%);
  }
}
