.tech {
  display: block;
  position: relative;
}

.tech__h {
  margin-left: 100px;
}

.tech__img {
  position: relative;
  width: 1230px;
  height: 546px;
}

.tech__btn-block {
  position: relative;
}

.tech__btn {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: $hover-color;
  color: white;

  font-size: 26px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;

  &--active {
    background: black;
  }
}

.tech__btn--1 {
  left: 98px;
  bottom: 433px;
}

.tech__btn--2 {
  left: 280px;
  bottom: 295px;
}

.tech__btn--3 {
  left: 352px;
  bottom: 358px;
}

.tech__btn--4 {
  left: 412px;
  bottom: 517px;
}

.tech__btn--5 {
  left: 514px;
  bottom: 234px;
}

.tech__btn--6 {
  left: 650px;
  bottom: 480px;
}

.tech__btn--7 {
  left: 790px;
  bottom: 333px;
}

.tech__btn--8 {
  left: 935px;
  bottom: 475px;
}

.tech__btn--9 {
  left: 1075px;
  bottom: 560px;
}

.tech__btn--10 {
  left: 1130px;
  bottom: 440px;
}

.tech__btn--11 {
  left: 1180px;
  bottom: 500px;
}

.tech__text {
  position: absolute;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
  width: 175px;
  left: 952px;
  bottom: 30px;
}

.tech__text::after {
  display: block;
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  color: $main-color;
  left: 0;
  bottom: -10px;
  z-index: 3;
}
