.technology {
  padding-top: 150px;
}

.technology__heading {
  margin-left: 224px;
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 70px;
  text-transform: uppercase;
  color: #333;
}

.technology__image {
  margin-left: 89px;
  width: 1230px;
  height: 546px;
}

.technology__details {
  position: relative;
  margin-left: 89px;
  width: 1230px;
  height: 546px;
}

.technology__detail {
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 51%;
  background-color: #0db2b3;
  transition: background-color 0.5s;
  cursor: pointer;
}

.technology__detail:hover {
  background-color: #131313;
}

.technology__detail:hover::before {
  content: "Control button ring \aornament";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
  height: 249px;
  position: absolute;
  top: 80px;
  right: 23px;
  border-right: 1px solid #131313;
  border-bottom: 1px solid #131313;
  white-space: pre;
  font-size: 14px;
  line-height: 21px;
  color: #333;
}

.technology__detail::after {
  content: "+";
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 11px;
  right: 16px;
}

.technology__detail--1 {
  position: absolute;
  top: 115px;
  right: -30px;
}

.technology__detail--2 {
  position: absolute;
  top: 159px;
  right: 14px;
}

.technology__detail--3 {
  position: absolute;
  top: 58px;
  right: 87px;
}

.technology__detail--4 {
  position: absolute;
  top: 130px;
  right: 204px;
}

.technology__detail--5 {
  position: absolute;
  top: 246px;
  right: 333px;
}

.technology__detail--6 {
  position: absolute;
  top: 132px;
  right: 466px;
}

.technology__detail--7 {
  position: absolute;
  top: 325px;
  left: 580px;
}

.technology__detail--8 {
  position: absolute;
  top: 100px;
  left: 480px;
}

.technology__detail--9 {
  position: absolute;
  top: 230px;
  left: 420px;
}

.technology__detail--10 {
  position: absolute;
  top: 270px;
  left: 350px;
}

.technology__detail--11 {
  position: absolute;
  top: 170px;
  left: 170px;
}

@media screen and (max-width: 1366px) {
  .technology__image {
    margin-left: 89px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .technology {
    width: 100vw;
    overflow: scroll;
  }
  .technology__details {
    margin-left: 0;
    width: 100vw;
  }
  .technology__image {
    width: 100vw;
  }
  .technology__detail {
    overflow: hidden;
  }
  .technology__detail--1,
  .technology__detail--2,
  .technology__detail--3,
  .technology__detail--4,
  .technology__detail--5,
  .technology__detail--6,
  .technology__detail--7,
  .technology__detail--8,
  .technology__detail--9,
  .technology__detail--10,
  .technology__detail--11 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .technology {
    overflow: hidden;
    width: 100vw;
  }
  .technology__image {
    width: 100vw;
    object-fit: cover;
    object-position: 0 0;
  }
  .technology__detail {
    position: static;
  }
}
@media screen and (max-width: 600px) {
  .technology {
    width: 100vw;
    overflow: hidden;
    padding-top: 100px;
  }
  .technology__heading {
    margin: 0 auto;
    width: 285px;
    font-size: 37px;
  }
  .technology__image {
    margin-left: 0;
  }
}
