.technology {
  display: flex;
  flex-direction: column;
  padding: 150px 90px 115px;
  overflow: hidden;

  @media (min-width: 1400px) {
    max-width: 1450px;
    margin: auto;
  }

  @media (max-width: 770px) {
    padding: 75px 45px 0;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 56px;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);

    @media (max-width: 570px) {
      font-size: 37px;
      line-height: 46px;
    }
  }
}

.technology__layout {
  margin: auto;
}

.layout__img {
  @media (max-width: 570px) {
    height: 325px;
    width: 625px;
  }
}
