@import "variables";

.technology {
  max-width: $width-conteiner;

  &__header {
    max-width: 940px;
    margin: 0 auto;
    font-family: "DIN Pro", sans-serif;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    color: $color-text;

    @media (max-width: $width-tablet) {
      margin-left: 30px;
    }

    @media (max-width: $width-mobile) {
      font-size: 37px;
      line-height: 46px;
    }
  }

  &__photo {
    max-width: $width-conteiner;
    margin: 0 auto;
    overflow: hidden;
  }

  &__image {
    object-position: 89px;

    @media (max-width: $width-mobile) {
      height: 350px;
      object-position: left;
    }
  }

  &__arrows {
    display: none;
    margin: 0 auto;

    @media (max-width: $width-mobile) {
      display: block;
    }

  }
}
