.testimonials {
  &__testimonial {
    margin: 0 auto;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url("../images/testimonial-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    height: 170px;

    margin-bottom: 30px;

    @include tablet {
      width: 700px;
      margin-bottom: 40px;
    }

    @include desktop {
      width: 780px;
      margin-bottom: 30px;
      justify-content: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #333;

    @include tablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__image-container {
    height: 62px;
    width: 62px;

    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    font-weight: 700;
    line-height: 22px;

    color: #333;

    margin-bottom: 5px;
  }

  &__profession {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #7c7c7c;
  }
}
