@use './utils/mixins' as *;

.testimonilas {
  font-family: Inter;
  background-image: url(../images/image_main_testimonilas.png);
  background-size: cover;
  background-size: 208px 171px;
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  max-width: 786px;
  padding-inline: 30px;

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 60px;

    @include on-desktop {
      margin-top: 42px;
    }
  }
  &__image {
    display: block;
    margin: 30px auto 10px;
    object-fit: contain;
    width: 62px;
    height: 62px;
  }
  &__people {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 5px;
  }
  &__profession {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #7c7c7c;
    margin: 0;
  }
}
