.testimonial {
  display: flex;
  flex-direction: column;
  margin: 0 0 116px;

  &__quote {
    position: relative;
    width: 208px;
    height: 171px;
    margin: 0 0 29px;
    padding: 0 26px;
    background-image: url(../images/img_Mobile/background_quote.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__quote-text {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    width: 260px;
    height: 120px;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}
