.testimonials {
  &__block {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 90px 0 44px;
  }
  &__background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    background-image: url(../images/quotation.svg);
    background-repeat: no-repeat;
    background-size: cover;
    // background: center/ cover no-repeat url(../images/quotation.svg);
    height: 172px;
    width: 232px;
    z-index: -1;
  }

  &__paragraph {
    font-family: "DIN Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #333;
  }

  &__photo {
    display: block;
    margin: 40px auto 0;
  }

  &__name {
    margin-top: 20px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #333;
  }

  &__post {
    margin-top: 8px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #7c7c7c;
  }
}
