.testimonilas {

  margin-bottom: 90px;
}

.testimonial {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../images/skob.png);
  background-repeat: no-repeat;
  background-position: center 0;

  @include onTablet {
    padding-top: 75px;
  }

  &__text {
    position: relative;

    margin-bottom: 40px;

    text-align: center;
    font-family: "DIN Pro", sans-serif;
    font-size: 14px;
    line-height: 21px;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
      max-width: 700px;
    }

    @include onDesktop {
      max-width: 780px;
    }

    // &::before{
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   transform: translate(-50%);
    //   height: 171px;
    //   width: 208px;
    //   background-image: url(../images/skob.png);
    //   background-size: contain;
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   opacity: 0.6;
    // }

  }

  &__photo {
    height: 62px;
    width: 62px;

    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 7px;

    font-family: "DIN Pro", sans-serif;
    font-size: 16px;
    line-height: 27px;

    text-align: center;
    color: #333;
  }

  &__pos {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #7c7c7c;
  }
}
