.testimonilas {
  @include page-grid;

  &__content {
    grid-column: 1/-1;
    position: relative;
    padding-top: 50px;

    @include on-tablet {
      padding-top: 60px;
    }

    @include on-desktop {
      grid-column: 3/11;
      padding-top: 42px;
    }
  }

  &__background {
    background-image: url(/src/images/testimonilas-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 208px;
    height: 171px;

    @include on-tablet {
      width: 233px;
      height: 189px;
    }

    @include on-desktop {
      top: 30%;
    }
  }

  &__description {
    color: $main-dark;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;

    @include on-tablet {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 36px;
    }

    @include on-desktop {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 5px;

    @include on-tablet {
      margin-top: 20px;
    }
  }

  &__title-description {
    color: $grey-text;
    text-align: center;
  }
}
