.testimonials {
  &__photo {
    width: 582px;
    height: 388px;
    overflow: hidden;
  }
  &__photo--1 {
    background-size: cover;
    background-position: center;
    background-image: url(../images/test-d-1.png);
  }

  &__photo--2 {
    background-size: cover;
    background-position: center;
    background-image: url(../images/test-d-2.png);
  }

  &__description {
    margin-top: 30px;
    color: #7c7c7c;
  }

  &__link {
    margin-top: 60px;
  }

  &__link-set {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: $c-green;
  }

  &--grid-2 {
    @include onDesktop {
      margin-top: 60px;
    }
  }
}
