@media (min-width: 320px) {
  .Testimonial {
    margin-top: 116px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
    }

    &-text-container {
      background-image: url(../images/testimonial-background-photo.png);
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 171px;
    }

    &-name {
      margin: 10px 0 0;
    }

    &-rank {
      margin: 5px 0 0;
    }

    &-text {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (min-width: 640px) {
  .Testimonial {
    margin-top: 132px;
    &-text-container {
      max-width: 786px;
    }

    &-text {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

@media (min-width: 1280px) {
  .Testimonial {
    margin-top: 162px;
  }
}
