.thank {
  &__container {
    background: url("../images/thank_image.svg") no-repeat center;
    padding-top: 268px;
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  &__main-text {
    font-size: 72px;
    line-height: 80px;
    color: #0c797a;
  }

  &__text-top,
  &__text-bottom {
    font-size: 18px;
    line-height: 27px;
    padding-top: 30px;
  }

  &__text-bottom {
    max-width: 514px;
    padding-bottom: 50px;
  }

  &__button-return {
    color: #0c797a;
    border: 1px solid #0c797a;
    padding: 16px 46px;
    width: 160px;
    height: 48px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
  }

}

@media screen and (max-width: 767px) {
  .thank {
    &__container {
      padding-top: 20px;
      background: url("../images/thank_image_small.svg") no-repeat center;
    }

    &__main-text {
      font-size: 48px;
      line-height: 73px;
      max-width: 260px;
    }

    &__text-bottom {
      max-width: 260px;
    }

    &__button-return {
      width: 160px;
    }
  }
}
