.thank {

  padding: 0 30px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/payment/Group.svg);
    background-position: center;
  }

  &__title {
    margin-bottom: 10px;
    @include FontSet("opium", 72px, 128px);
    color: hsl(181, 82%, 26%);

    @media (max-width: 429px) {
      @include FontSet("opium", 48px, 73px);
    }
  }

  &__subtitle {
    @include FontSet("Helvetica Neue Roman", 16px, 36px);
    margin-bottom: 15px;
  }

  &__text {
    max-width: 378px;
    @include FontSet("Helvetica Neue Roman", 16px, 27px);
    margin-bottom: 60px;
    text-align: center;
  }

  &__btn {
    width: 174px;
    height: 48px;
    @include FontSet("Helvetica Neue Roman", 12px, 15px);
    text-transform: uppercase;
    color: hsl(181, 82%, 26%);
    border: 1px solid hsl(180, 86%, 38%);

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }
  }
}
