.thank {
  @include max-width;
  &__container {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-top: 268px;

    background: url("../images/thank_image.svg") no-repeat center;

    text-align: center;
  }

  &__main-text {
    font-size: 72px;
    line-height: 80px;

    color: $for-row-color;
  }

  &__text-top,
  &__text-bottom {
    padding-top: 30px;

    font-size: 18px;
    line-height: 27px;
  }

  &__text-bottom {
    max-width: 514px;
    padding-bottom: 50px;
  }

  &__button-return {
    width: 160px;
    height: 48px;

    border: 1px solid $for-row-color;
    padding: 16px 46px;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: $for-row-color;

    cursor: pointer;

    transition: transform 1s;
  }

  &__button-return:hover {
    transform: scale(1.4);
  }
}

@media screen and (max-width: $small-width) {
  .thank {
    &__container {
      padding-top: 20px;
      background: url("../images/thank_image_small.svg") no-repeat center;
    }

    &__main-text {
      max-width: 260px;
      font-size: 48px;
      line-height: 73px;
    }

    &__text-bottom {
      max-width: 260px;
    }

    &__button-return {
      width: 160px;
    }
  }
}
