.title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  &--section {
    font-size: 30px;
    line-height: 40px;
    text-align: left;

    @include on-tablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include on-desktop {
      font-size: 56px;
      line-height: 70px;
    }
  }
}
