.toggler {
  height: 100vh;
  width: 100%;

  position: absolute;
  top: 0;
  left: -100vw;

  background-color: $link-color;

  z-index: 99;

  transition: left $transition-duration-slow;

  &__item {
    margin-bottom: 20px;
    text-align: center;
  }

  &__link {
    color: $background-color;
    display: block;
    padding: 20px 0;
  }
}

@media (max-width: $tablet-width) {
  .toggler {
    display: block;
  }
}
