.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding: 30px 123px;
  }
}

.logo {
  @include hover(transform, scale(1.03));
}

.menu--icon {
  background-image: url(../icons/icon-burger-menu.svg);

  @include on-desktop {
    display: none;
  }
}

.close--icon {
  background-image: url(../icons/icon-close.svg);
}
