.top-bar {
  display: flex;
  justify-content: space-between;
  padding-block: 25px;
  align-items: center;
  grid-column: 1/-1;

  @include padding-inline;

  @include on-tablet {
    padding-block: 29px;
  }

  @include on-desktop {
    padding-block: 30px;
  }

  &--menu {
    @include on-tablet {
      padding-block: 25px;
    }
  }

  &__right-side {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__center {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 30px;
      align-items: center;
    }

    @include on-desktop {
      gap: 47px;
    }
  }

  &__button {
    color: $main-white;
  }
}
