.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
  align-items: center;

  @include onTablet {
    display: flex;
  }

  &__item {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  
    &--specs {
      color: #4f4f4f;
      cursor: pointer;
    }
  
    &--en {
      font-weight: bold;
      color: #333;
    }
  
    &--ua {
      color: #828282;

      &:hover {
        font-weight: bold;
        color: #333;
        cursor: pointer;
      }
    }

    &:not(:last-child) {
      padding-right: 28px;
    }
  }
}

.button {
  display: block;
  height: 48px;
  line-height: 48px;
  width: 102px;
  text-align: center;
  font-weight: bold;
  background-color: #333;
  color: #fff;
}
