.heading-1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: $c-grey-700;
  text-transform: uppercase;

  @include tablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include desktop {
    font-size: 62px;
    line-height: 78px;
  }
}

.heading-2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: $c-grey-700;
  text-transform: uppercase;

  @include tablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include desktop {
    font-size: 56px;
    line-height: 70px;
  }
}

.heading-3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $c-blue-500;
  text-transform: uppercase;

  @include desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

.heading-4 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: $c-grey-700;
  text-transform: uppercase;
}

.heading-5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $c-grey-700;
}

.heading-6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $c-grey-700;
  text-transform: uppercase;

  @include tablet {
    font-size: 22px;
    line-height: 28px;
  }

  @include desktop {
    font-size: 14px;
    line-height: 20px;
  }
}

.text-main {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $c-grey-600;
}

.text-secondary {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $c-grey-500;
}

.text-select-language {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  cursor: pointer;

  &--active {
    color: $c-grey-700;
  }
}

.text-select-language-delimiter {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $c-grey-700;
}

.text-button {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.text-quote {
  color: $c-grey-700;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  @include tablet {
    font-size: 24px;
    line-height: 36px;
  }
}
