@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/DinPro/DINPro.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/DinPro/DINPro-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

$second-font: "DIN Pro", sans-serif;

%big-container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0 auto;
}

%small-container {
  width: calc(100% - 240px);
  max-width: 1000px;
  margin: 0 auto;
}

%h2-heading {
  font-family: $second-font;
  font-size: 56px;
  line-height: 72px;
  text-transform: uppercase;

  @media (max-width: 870px) {
    font-size: 37px;
    line-height: 46px;
    width: 260px;
  }
}
