$color-white: #f6f6f6;
$color-black: #333;
$color-gray: #bdbdbd;
$color-green: #0db2b3;

$main-color: $color-black;
$not-active-color: $color-gray;
$button-hover-color: $color-green;
$main-bg-color: $color-white;

@mixin main-font {
  font-family: Helvetica, sans-serif;
  color: $main-color;
  font-size: 14px;
}
