$color-primary: #f7f7f7;
$color-secondary:#bdbdbd;
$color-text: #333;
$color-paragraph: #7c7c7c;
$color-link: #0db2b3;
$color-toolbar: #4f4f4f;

$width-conteiner: 1440px;
$width-middle: 1280px;
$width-tablet: 999px;
$width-mobile: 767px;
$paddingX-cont: 123px;
