.video-btn {
  width: 232px;
  height: 232px;
  border-radius: 50%;
  justify-content: center;
  border: 2px solid white;

  font-family: "DINPro", sans-serif;
  font-weight: 500;
  line-height: 232px;

  justify-items: center;
  text-align: center;
  cursor: pointer;

  &__text {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  
  &__icon {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 35px solid $c-gray;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;

    left: calc(50% - 12px);
    top: calc(50% - 25px);

    opacity: 0;
  }
}

.video-btn:hover {
  border-color: $hover-color;
  .video-btn__text {
    opacity: 0;
  }

  .video-btn__icon {
    opacity: 1;
  }
}

@media (max-width: 1050px) {
  .video-btn {
    height: 190px;
    width: 190px;
    line-height: 190px;
  }

  .video-btn__icon {
    border-left: 25px solid $c-gray;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    left: calc(50% - 10px);
    top: calc(50% - 15px);
  }

  .video-btn__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .video-btn {
    height: 108px;
    width: 108px;
    line-height: 108px;
  }

  .video-btn__icon {
    border-left: 15px solid $c-gray;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    left: calc(50% - 7px);
    top: calc(50% - 10px);
  }

  .video-btn__text {
    font-size: 12px;
  }
}
