.video-btn {
  width: 232px;
  height: 232px;
  border-radius: 50%;
  justify-content: center;
  border: 2px solid white;

  font-family: "DINPro", sans-serif;
  font-weight: 500;
  line-height: 232px;

  justify-items: center;
  text-align: center;
  cursor: pointer;

  &__text {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  
  &__icon {
    position: absolute;
    width: 24px;
    height: 32px;
    right: calc(50% - 12px);
    top: calc(50% - 16px);
    
    background-image: url(../images/play.png);
    background-position: center;
    background-repeat: no-repeat;
  
    opacity: 0;
  }
}

.video-btn:hover {
  border-color: $hover-color;
  .video-btn__text {
    opacity: 0;
  }

  .video-btn__icon {
    opacity: 100%;
  }
}

@media (max-width: 1050px) {
  .video-btn {
    height: 190px;
    width: 190px;
    line-height: 190px;
  }

  .video-btn__icon {
    width: 20px;
    height: 26px;
    right: calc(50% - 10px);
    top: calc(50% - 13px);
  }

  .video-btn__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .video-btn {
    height: 108px;
    width: 108px;
    line-height: 108px;
  }

  .video-btn__text {
    font-size: 12px;
  }
}
