.video-section {
  position: relative;

  &__item {
    width: 100%;
  }

  &__play-button {
    width: 232px;
    height: 232px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    transform-origin: center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      color: #fff;
      height: 0;
      width: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 24px solid #fff;

    }
  }
}
