.video-performance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 590px;
  width: 100vw;

  @media (max-width: $breakpointPC - 1px) {
    height: 400px;
  }

  @media (max-width: $breakpointTablet - 1px) {
    height: 320px;
  }
}
