.video-section {
  position: relative;

  &__item {
    width: 100%;
  }

  &__play-button {
    width: 19.4%;
    height: 47%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 30px;
    right: 0;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 1s ease-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      color: #fff;
      height: 0;
      width: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 24px solid #fff;
    }

    &::after {
      content: "PLAY";
      position: absolute;
      height: 18px;
      width: 57px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      color: #fff;
      font-family: $Dino-bold-font;
      font-size: 24px;
      font-weight: 500;
      display: none;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
