.video {
  background-image: url(../images/video-screen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 590px;

  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    height: 232px;
    width: 232px;

    background-color: transparent;
    border: 1px solid #f3f4f5;
    border-radius: 50%;

    color: #f3f4f5;
    font-size: 24px;
    cursor: pointer;

    transition: transform 0.5s, color 0.5s;

    &:hover {
      transform: scale(1.2);
      color: $button-color;
      border: 2px solid $button-color;
      font-weight: bold;
    }
  }
}
