.features__slider {
  position: relative;
  overflow: hidden;

  margin-top: 50px;

  grid-column: 2/4;
  justify-self: center;

  @include on-desktop {
    display: none;
  }

  &-button-left {
    width: 48px;
    height: 14px;

    transition: all $effect-duration;

    outline: none;
    border: none;

    background-repeat: no-repeat;
    background-color: #D6ECEC;
    background-image: url(/src/images/icons/features-icons-btn/btn-arrow-left.svg);

    &:hover {
      background-image: url(/src/images/icons/features-icons-btn/btn-arrow-left-hover.svg);
    }
  }


  &-button-right {
    width: 48px;
    height: 14px;

    transition: all $effect-duration;

    outline: none;
    border: none;

    background-repeat: no-repeat;
    background-color: #D6ECEC;
    background-image: url(/src/images/icons/features-icons-btn/btn-arrow-right.svg);

    &:hover {
      background-image: url(/src/images/icons/features-icons-btn/btn-arrow-right-hover.svg);
    }
  }


  &-numbers {
    display: flex;
    justify-content: center;

    margin-top: 10px;
  }

  &-one {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $color-text-primary;
  }

  &-slash {
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    color: #0C797A;

    transform: translateY(10px);
  }

  &-two {
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #0C797A;

    transform: translateY(7px);
  }
}






