.features__card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: $color-special;

  @include on-desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

.features__card-info {
  margin-top: 20px;

  @include on-desktop {
    margin-top: 30px;
  }
}

.features__card-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $color-text-primary;

  margin-top: 10px;

  &:first-of-type {
    margin-top: 0;
  }
}
