.luna-eye {
  &__container {
    @include content-padding;
  }

  &__content {
    @include page-grid;
  }

  &__img {
    width: 100%;
    height: auto;

    margin-top: 30px;

    grid-column: 1/-1;

    @include on-tablet {
      margin-top: 0;

      grid-row: 1/6;
      grid-column: 5/-1;
    }

    @include on-desktop {
      grid-column: 7/-1;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    text-transform: uppercase;
    color: $color-text-primary;


    grid-row: 1/2;
    grid-column: 1/-1;

    @include on-tablet {
      font-size: 36px;
      line-height: 46px;

      grid-row: auto;
      grid-column: 1/5;
    }

    @include on-desktop {
      font-size: 56px;
      line-height: 70px;

      grid-row: auto;
      grid-column: 1/7;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: $color-text-secondary;

    margin-top: 20px;

    grid-column: 1/-1;

    @include on-tablet {
      margin-top: 30px;

      grid-row: auto;
      grid-column: 1/5;
    }

    @include on-desktop {
      grid-row: auto;
      grid-column: 1/7;
    }
  }

  &__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-button-primary;

    margin-top: 30px;


    grid-column: 1/-1;

    @include on-tablet {
      margin-top: 60px;

      grid-row: auto;
      grid-column: 1/5;
    }

    @include on-desktop {
      grid-row: auto;
      grid-column: 1/7;
    }

    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;

      bottom: -5px;

      background-color: $color-button-primary;

      width: 65px;
      height: 0.5px;

      transition: all $effect-duration;

    }

    &:hover::after {
      width: 130px;
    }

  }

}

