.main {
  padding-block: 110px 90px;

  @include on-tablet {
    padding-block: 140px;
  }

  @include on-desktop {
    padding-block: 140px;
  }

  &__content {
    display: grid;
    row-gap: 110px;

    @include on-tablet {
      row-gap: 140px;
    }

    @include on-desktop {
      row-gap: 170px;
    }
  }

}

