.navigation {
  display: none;

  @include on-desktop {
    display: block;
  }
}

.navigation__container {
  @include content-padding;
}

.navigation__content {
  @include page-grid;
}

.navigation__nav {
  grid-column: 4/10;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $label-color;
}
