.picture {
  &__container {
    @include content-padding;
    @include page-grid;
  }

  &__img {
    display: block;

    width: 100%;
    height: auto;

    grid-column: 1/-1;

    @include on-desktop {
      grid-column: 3/11;
    }
  }
}


