.picture__container {
  @include content-padding;
  @include page-grid;
}

.picture__img {
  display: block;

  width: 100%;
  height: auto;

  grid-column: 1/-1;

  @include on-desktop {
    grid-column: 3/11;
  }
}
