.question__container {
  @include content-padding;
}

.question__content {
  @include page-grid;
}

.question__title {
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  color: $label-color;



  grid-column: 1/-1;

  @include on-tablet {
    font-size: 36px;
    line-height: 46px;

    grid-column: 1/5;
  }

  @include on-desktop {
    font-size: 56px;
    line-height: 70px;

    grid-column: 1/7;
  }
}

.question__form {
  grid-column: 1/-1;

  display: flex;
  flex-direction: column;

  @include on-tablet {
    grid-column: 5/-1;
  }

  @include on-desktop {
    grid-column: 7/-1;
  }
}

.question__form-input {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;


  margin-top: 27px;

  height: 48px;

  background-color: #F7F7F7;
  border: 1px solid #828282;

  @include on-tablet {
    margin-top: 0;
  }

  padding: 12px 20px;
}


.question__form-textarea {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;



  margin-top: 20px;

  padding: 12px 20px;
  resize: none;

  height: 128px;

  background-color: #F7F7F7;
  border: 1px solid #828282;

}

.question__form-button {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #FFF;
  background-color: $button-color;

  width: 110px;
  padding-block: 13px;

  margin-top: 30px;

  border: none;
}
