.menu {
  background: $bg-color;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  &__content {
    @include content-padding-block;
    @include content-paddint-inline;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav {
    margin-top: 30px;
  }

  &__specs {
    display: flex;
    gap: 20px;
    margin-top: 50px;

    &__language {
      font-weight: 700;

      &--not-active {
        font-weight: 400;
      }
    }
  }
}
