.menu__button {
  @include page-grid;

  &-cta {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    text-decoration: none;

    width: 100%;
    padding-block: 16px;
    margin-block: 168px 47px;

    color: #fff;
    background-color: black;

    grid-column: 1/-1;

    @include on-tablet {
      display: none;
    }
  }
}


