.menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 25px;

  @include on-tablet {
    padding-block: 40px;
  }

}

.menu__top-link {
  cursor: pointer;

  padding-block: 12px;

  @include hover(transform, scale(1.05));

  &-link-logo {
    width: 161px;
    height: 25px;
  }
}


.menu__top-close {
  cursor: pointer;

  width: 24px;
  height: 24px;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/src/images/icons/header-icons/Icon-Close.svg);
}


.menu__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
