.menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 25px;

  @include on-tablet {
    padding-block: 40px;
  }
}

.menu__top-link-logo {
  width: 161px;
  height: 25px;
}

.menu__top-close {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/src/images/icon/Icon-Close.svg);
}
