.menu__list {
  @include page-grid;
}

.menu__list-nav {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: span 3;
  }
}

.menu__list-item {
  margin-top: 40px;

  list-style: none;
}

.menu__list-link {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: $label-color;
}
