.menu__button {
  @include page-grid;

  &-cta {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    text-decoration: none;

    width: 100%;
    padding-block: 16px;
    margin-top: 168px;

    color: #fff;
    background-color: $color-text-primary;

    grid-column: 1/-1;

    @include on-tablet {
      display: none;
    }

    transition: all $effect-duration;

    &:hover {
      background-color: #131313;
    }
  }
}


