.menu__list {
  @include page-grid;

  &-nav {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }
  }

  &-item {
    margin-top: 40px;

    list-style: none;
  }

  &-link {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;

    color: $color-text-primary
  }

}

