@font-face {
  font-family: "DIN Pro";
  src: local("DIN Pro Medium"),
    local("DIN-Pro-Medium"),
    url("DINPro-Medium.woff2") format("woff2"),
    url("DINPro-Medium.woff") format("woff"),
    url("DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
