* {
  box-sizing: border-box;
}

.page {
  scroll-behavior: smooth;

  &__body {
    font-family: Inter, sans-serif;
    background-color: #F7F7F7;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    overflow: auto;

    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
  }
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.page__body--with-menu {
  overflow: hidden;
}
