.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__quote {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 171px;

    background-image: url(../images/testimonials/quotes-mob.svg);
    background-repeat: no-repeat;
    background-size: 208px, 100%;
    background-position: center;

    margin-bottom: 30px;

    @include onTablet {
      height: 189px;

      background-image: url(../images/testimonials/quotes-tabl.svg);
      background-size: 233px, 100%;

      margin-bottom: 40px;
    }

    @include onDesktop {
      align-items: center;

      height: 192px;

      background-image: url(../images/testimonials/quotes-deskt.svg);

      margin-bottom: 30px;
    }
  }

  &__quote-text {
    width: 260px;

    font-weight: 700;
    font-size: 14px;
    line-height: 143%;

    text-align: center;

    color: $blackColor;

    @include onTablet {
      width: 700px;

      font-size: 24px;
      line-height: 150%;
    }

    @include onDesktop {
      width: 100%;
    }
  }
}
