.order-button {
  display: inline-block;
  padding: 15px 50px;
  text-transform: uppercase;
  font-size: $fontSizeSm;
  color: $white;
  background-color: $textColor;
  transition: background-color $transition,
    border-color $transition,
    box-shadow $transition;

  &:hover {
    background-color: $turquoise;
    border-color: transparent;
    box-shadow: $boxShadow;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 15px 30px;
  }
}
