.order-card {
  @include flex-center();

  &--wrap {
    padding: 80px 0;
  }

  &__img-wrap,
  &__choice-wrap,
  &__summary {
    flex-basis: 30%;
  }

  &__choice {
    padding: 5px 30px 30px;
    border-bottom: 1px solid $grayLite;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
    font-family: $dinProFontFamily;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__price {
    margin-bottom: 50px;
    display: block;
    font-family: $dinProFontFamily;
    font-size: $fontSizeBig;
    font-weight: 600;
  }

  &__color {
    margin-bottom: 50px;
  }

  &__color-list {
    @include flex-center();
  }

  &__color-item {
    margin-bottom: 18px;
    width: 24px;
    height: 24px;
    background-color: #d4d4d4;
    border-radius: 50%;

    &--gray {
      background-color: #a4a4a4;
    }

    &--pink {
      background-color: #a1847d;
    }

    &--gold {
      background-color: #b4a492;
    }

    &--dark-gray {
      background-color: #828387;
    }
  }

  &__color-name {
    display: block;
    font-size: $fontSizeSm;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__quantity-label {
    margin-bottom: 50px;
    display: block;

    &:after {
      content: "+";
      display: inline-block;
      padding: 5px;
      color: $textColor;
      font-size: $fontSizeXl;
      font-weight: 600;
    }

    &:before {
      content: "-";
      display: inline-block;
      padding: 5px;
      color: $grayLite;
      font-size: $fontSizeXl;
      font-weight: 600;
    }
  }

  &__quantity {
    padding: 5px 0 5px 23px;
  }

  &__btn-submit {
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: $fontSizeSm;
    font-weight: 600;
    border: 1px solid $textColor;
    transition: background-color $transition,
      color $transition,
      border-color $transition,
      box-shadow $transition;

    &:hover {
      color: $white;
      background-color: $turquoise;
      border-color: transparent;
      box-shadow: $boxShadow;
    }
  }

  &__summary {
    align-self: flex-start;
    padding: 65px 15px 20px 67px;
    border-left: 1px solid $grayLite;
  }

  &__subtitle {
    margin-bottom: 120px;
    text-transform: uppercase;
    font-size: $fontSizeXl;
    font-weight: 600;
  }

  &__text {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: $fontSizeXl;
  }

  &__price--total {
    display: block;
    margin-bottom: 25px;
    font-size: 34px;
  }

  &__link {
    display: inline-block;
    padding: 15px 50px;
    text-transform: uppercase;
    font-size: $fontSizeSm;
    color: $white;
    background-color: $textColor;
    transition: background-color $transition,
      border-color $transition,
      box-shadow $transition;

    &:hover {
      background-color: $turquoise;
      border-color: transparent;
      box-shadow: $boxShadow;
    }
  }
}
