.shipping-info {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    padding: 40px 25px;
    text-transform: capitalize;
    font-size: $fontSizeXl;
    font-weight: 600;
  }
}
