.thanks {
  text-align: center;
  max-width: 420px;

  &__title {
    margin-top: 50%;
    margin-bottom: 40px;
    font-size: 72px;
    color: $turquoise;

    @media (max-width: $breakpoint-md) {
      font-size: 48px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: $fontSizeXl;
    font-weight: 500;
  }

  &__text {
    margin-bottom: 50px;
    font-size: $fontSizeXl;
    line-height: 1.5em;
  }

  &__link {
    display: inline-block;
    padding: 18px 50px;
    text-transform: uppercase;
    color: #0db2b3;
    border: 1px solid #0db2d3;
    transition: color $transition,
      background-color  $transition,
      box-shadow $transition;

    &:hover {
      color: $white;
      background-color: #0db2d3;
      box-shadow: $boxShadow;
    }
  }
}
