.user-data {
  &--wrapper {
    padding: 80px 15px;
    max-width: 380px;
  }

  &--payment {
    margin: 80px auto;
    padding: 50px 100px;
    max-width: 580px;
    background: $white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    transition: padding $transition;

    @media (max-width: $breakpoint-md) {
      padding: 40px 70px;
    }

    @media (max-width: $breakpoint-sm) {
      padding: 30px 40px;
    }

    @media (max-width: $breakpoint-xs) {
      padding: 20px;
    }
  }

  &__label {
    margin-left: 30px;
    display: inline-block;

    &--first {
      margin-left: 0;
    }
  }

  &__input {
    color: $textColor;
    width: 100%;
    padding: 30px 0 10px;
    background: transparent;
    border-bottom: 1px solid $grayLite;
    transition: border-color $transition;

    &::placeholder {
      font-size: $fontSizeSm;
      color: #e0e0e0;
    }

    &:focus {
      border-color: $turquoise;
    }

    &--pay {
      padding: 12px 0 3px;
    }

    &--date {
      display: inline-block;
      width: 23px;
      padding: 12px 0 3px;

      &::placeholder {
        font-size: $fontSizeSm;
        text-align: center;
      }
    }

    &--cvv {
      display: inline-block;
      width: 70px;
      padding: 12px 0 3px;
    }
  }

  &__input-hint {
    display: inline-block;
    padding-top: 40px;
    font-size: $fontSizeSm;
    color: $textColorLite;
  }

  &__btn-wrap {
    @include flex-center();
    flex-wrap: nowrap;
    gap: 5px 10px;
    padding: 50px 0;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column-reverse;
      padding-bottom: 20px;
      row-gap: 20px;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: $fontSizeSm;
    color: $gray;
    border: 2px solid transparent;
    transition: color $transition;

    &:hover {
      color: $turquoise;
    }
  }
}
