.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;

  padding-block: 24px;

  &__logo {
    display: flex;
  }

  &__span {
    display: none;

    @include tablet {
      & {
        display: inline-block;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__buy-button {
    display: none;

    @include tablet {
      & {
        display: inline-block;
        text-decoration: none;
        background-color: $main-text-color;

        @include hover(background-color, rgba(19, 19, 19, 1));
      }
    }
  }
}
