.logo {
  width: 161px;
  height: 53px;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &--tablet {
    width: 184px;
    display: none;

    @include onTablet {
      display: block;
    }
  }
  &__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
  }
}
