.advertisement {
  @extend %section-width-limitatiom;
  position: relative;

  &__preview {
    width: 100%;
  }
  &__img {
    width: 230px;
    position: absolute;
    top: calc(50% - 115px);
    left: calc( 50% - 115px);
    transition: width 1s, top 1s, left 1s;

    @media (max-width: $tablet-break-point) {
      width: 150px;
      top: calc(50% - 75px);
      left: calc( 50% - 75px);
    }
  }
}
