.button {
  &__black {
    height: 48px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include nav-normal;
    background-color: $black-color;

    @include transition;

    &:hover {
      background-color: $darker-black-color;
    }

    &:disabled {
      background-color: $light-grey-color;
    }
  }

  &__contact {
    box-sizing: border-box;
    background-color: $green-color;

    @include button-all;
    color: $white-color;

    @include transition;

    &:hover {
      background-color: $green-color-color;
    }

    &:active {
      border: 1px solid $black-color;
    }
  }
}
