.nav {
  &--mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 50px;

    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;

    padding: 10px 20px;

    z-index: 1;

    background-color: rgba(247, 247, 247, 0.9);

    @include transition;

    &--sticky {
      top: 0;
      left: 10px;
      right: 10px;

      background-color: rgba(247, 247, 247, 0.9);
    }

    @include onTablet {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @include onTablet {
      padding: 0 34px;

      position: fixed;
      top: 40px;
      left: 0;
      right: 0;

      z-index: 1;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      background-color: $background-color;

      @include transition;

      &--sticky {
        padding: 10px 34px;
        top: 0;

        background-color: rgba(247, 247, 247, 0.9);
      }
    }

    @include onDesktop {
      top: 30px;

      padding: 0 7vw;

      @include transition;

      &--sticky {
        padding: 1vw 7vw 0;
        top: 0;

        background-color: rgba(247, 247, 247, 0.9);
      }
    }
  }

  &__element {
    display: block;

    &--logo {
      display: block;
      height: 26px;
      width: 161px;

      background-image: url(../../src/images/nav/logo--nav.png);
      background-repeat: no-repeat;
      background-position: center;

      @include onTablet {
        margin-right: 27vw;
      }

      @include onDesktop {
        margin-right: 50vw;
      }
    }

    &--burger {
      display: block;
      height: 32px;
      width: 32px;

      background-image: url(../../src/images/nav/burger.png);
      background-repeat: no-repeat;
      background-position: center;

      @include onDesktop {
        display: none;
      }
    }

    &--specs {
      display: none;

      @include onTablet {
        display: block;

        @include nav-light;
      }
    }

    &--shop {
      display: none;

      @include onTablet {
        display: flex;
      }
    }
  }

  &__languages {
    display: none;

    @include onTablet {
      display: flex;

      &--en {
        @include nav-light;
        color: $black-color;
      }

      &--ua {
        @include nav-light;
      }
    }

    @include onDesktop {
      margin-right: 2vw;
    }
  }
}
