.page {
  scroll-behavior: smooth;
  background-color: $background-color;

  &__section {
    margin-bottom: 20vh;

    @include onTablet {
      margin-bottom: 14vh;
    }

    @include onDesktop {
      margin-bottom: 20vh;
    }
  }

  &__body--with-menu {
    overflow: hidden;
  }
}
