:root {
  --tablet: #{$tablet};
  --desktop: #{$desktop};
  --design: #{$design};
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  margin: 0 $retreat;
  background: $c-gray;
  color: $dark-gray;

  @include flex {
    flex-direction: column;
    gap: 100px;
  }

  @extend %font-family;

  @media (min-width: $tablet) {
    margin: 0 34px;
  }

  @media (min-width: $desktop) {
    margin: 0 129px;
  }

  &__lock {
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
