h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: initial;
  padding: initial;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  margin: inherit;
  padding: inherit;
}

[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0, 0);
}
