.contact-form {
  grid-column: span 6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include on-tablet {
    grid-column: span 4;
  }

  &__email {
    width: 100%;
    padding: 12px 36.37px;
    color: #bdbdbd;
    background-color: transparent;
    border: 1px solid #828282;
  }

  &__email:focus {
    border: 1px solid #0c797a;
  }

  &__email:invalid {
    border: 1px solid #eb5757;
  }

  &__email:default {
    background-color: #bdbdbd;
  }

  &__message {
    color: #bdbdbd;
    resize: none;
    width: 100%;
    padding: 16px 36.37px;
    margin: 19px 0 30px;
    background-color: transparent;
    border: 1px solid #828282;
  }
  &__button {
    width: 123px;
    background-color: #0db2b3;
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    padding: 17px 42px;
  }
  &__button:hover {
    background-color: #0c797a;
  }
}
