.contact-block {

  &__container{
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(12 , 1fr);
    @include on-tablet{
      grid-template-columns: repeat(8 , 1fr);
    }
    @include on-mobile{
      display: flex;
      flex-direction: column;
    }
  }

  &__title{
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    grid-column: span 6;
    @include on-tablet{
      font-size: 36px;
      font-weight: 700;
      line-height: 46px;
      grid-column: span 4;
    }
    @include on-mobile{
      margin-bottom: 27px;
    }

  }
  &__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }


}
