.unit {
  transition: transform 0.3s;

  &:first-child {
    position: relative;
    left: 300px;
    margin-bottom: 70px;
  }
  &:last-child {
    position: relative;
    left: 200px;
  }

  &:nth-child(2) {
    margin-bottom: 80px;
  }
  &__heading {
    margin-bottom: 44px;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    color: $features-question-highlight;
  }
  &__list {
    list-style: outside;
    .unit__item {
      margin-bottom: 13px;
    }
  }
  &:hover {
    transform: scale(1.2);
  }
}

@media (max-width: $phone-break-point ) {
  .unit {
    margin-bottom: 80px;
    &:first-child {
      left: 0;
      position: static;
    }
    &:last-child {
      position: static;
    }
    &__heading {
      font-size: 30px;
    }
    &__list {
      list-style: outside;
    }
  }
}
