.features {
  @extend %section-width-limitatiom;
  padding-right: 0;

  &__heading {
    margin-bottom: 24px;
  }
  &__wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url(../images/features__background.png) no-repeat right;
    background-size: 80% 80%;
  }
}
