// light colors
$colorButtonTitle: #0db2b3;
$colorLightAzure: #cfeff0;
$colorUltraLightAzure: #eefafa;
// dark colors
$colorMainBlack: #333;
$colorCloseToBlack: #131313;
$colorCloseToGrey: #4f4f4f;
// white color
$colorBackground: #f7f7f7;
