.animate-left {
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 0s ease,
    opacity 0s ease;
}

.animate-right {
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 0s ease,
    opacity 0s ease;
}

.animate-top {
  transform: translateY(-100%);
  opacity: 0;
  transition:
    transform 0s ease,
    opacity 0s ease;
}

.animate-bottom {
  transform: translateY(100%);
  opacity: 0;
  transition:
    transform 0s ease,
    opacity 0s ease;
}

.animate-zoom {
  opacity: 0;
  transform: scale(0.4);
  transition:
    transform 0s ease,
    opacity 0s ease;
}

.animate-show {
  transform: translate(0, 0) scale(1);
  opacity: 1;
  transition:
    transform 1s ease,
    opacity 0.1s ease;
}
