$c_tiffany-blue: #0db2b3;
$c_water: #cfeff0;
$c_alice-blue: #eefafa;
$c_chinese-black: #131313;
$c_dark-charcoal: #333;
$c_dark-liver: #4f4f4f;
$c_gray: #7c7c7c;
$c_lighter-gray: #bdbdbd;
$c_american-silver: #d0d0d0;
$c_cultured: #f7f7f7;
