%h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: $color-darkgrey_2;
  text-transform: uppercase;

  @include onTablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include onDesktop {
    font-size: 62px;
    line-height: 78px;
  }
}

%h2 {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: $color-darkgrey_2;
  text-transform: uppercase;

  @include onTablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include onDesktop {
    font-size: 56px;
    line-height: 70px;
  }
}

%h3 {
  margin: 0;

  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: $color-darkgrey_2;
  text-transform: uppercase;
}

%h4 {
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: $color-green_5;
  text-transform: uppercase;

  @include onDesktop {
    font-size: 34px;
    line-height: 42px;
  }
}

%h5 {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $color-darkgrey_2;
}

%text-main {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

%text-secondary {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

%quote {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: $color-darkgrey_2;
  text-align: center;

  @include onTablet {
    font-size: 24px;
    line-height: 36px;
  }
}
