%h1,
%h2,
%h3,
%h4,
%h5,
%h6,
%button {
  font-weight: bold;
  text-transform: uppercase;
}

%h1 {
  font-size: 40px;
  line-height: 52px;

  @include on-tablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include on-desktop {
    font-size: 64px;
    line-height: 78px;
  }
}

%h2 {
  font-size: 30px;
  line-height: 40px;

  @include on-tablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include on-desktop {
    font-size: 56px;
    line-height: 70px;
  }
}

%h3 {
  font-size: 18px;
  line-height: 22px;

  @include on-tablet {
    font-size: 24px;
    line-height: 30px;
  }

  @include on-desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

%h4 {
  font-size: 22px;
  line-height: 28px;
}

%h5 {
  font-size: 16px;
  line-height: 22px;
}

%h6 {
  font-size: 14px;
  line-height: 20px;
}

%button {
  border: none;
  font-size: 12px;
  line-height: 14px;
}

%thirdary-text {
  @include thirdary-text;
}

%secondary-text {
  @include secondary-text;
}

%main-text {
  @include main-text;
}

%thirdary-text,
%secondary-text,
%main-text,
%quote {
  color: $black2-color;
}

%quote {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  @include on-tablet {
    font-size: 24px;
    line-height: 36px;
  }
}
