%h1 {
  font-family: $font-inter-bold;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: $color-second-main;

  @include onTablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 62px;
  }
}

%h2 {
  font-family: $font-inter-bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color-second-main;

  @include onTablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include onDesktop {
    font-size: 56px;
    line-height: 70px;
  }
}

%h3 {
  font-family: $font-inter-bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  @include onTablet {
    font-size: 24px;
    line-height: 30px;
  }

  @include onDesktop {
    font-size: 34px;
    line-height: 42px;
  }
}

%h4 {
  font-family: $font-inter-bold;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: $color-second-main;
}

%h5 {
  font-family: $font-inter-bold;
  font-size: 16px;
  line-height: 22px;
}

%h6 {
  font-family: $font-inter-bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

%p {
  font-family: $font-inter-regular;
  font-size: 16px;
  line-height: 24px;
  color: $color-second-main;
}

%button {
  font-family: $font-inter-bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;
}

%q {
  font-family: $font-inter-bold;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 30px;
  display: block;
  
  @include onDesktop {
    font-size: 24px;
    line-height: 36px;
  }
}

%input, %textarea {
  font-family: $font-inter-regular;
  font-size: 16px;
  line-height: 24px;
  color: $color-light-gray;
  padding: 12px 20px;
  resize: none;

  &:focus {
    outline: none;
    border-color: $color-features-main;
    color: $color-second-main;
    font-weight: 500;
  }
}
