.flying {
  animation: flying 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 }

 @keyframes flying {
   0% {
    transform: translateY(0);
   }

   0% {
    transform: translateY(-5px);
   }

   100% {
    transform: translateY(5px);
   }
 }
