@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/din-pro-black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/din-pro-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/din-pro-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/din-pro-light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
  font-weight: 700;
}
