@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap';
