.language {
  &__wrapper {
    color: $black;
    display: flex;
    gap: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__eng-label,
  &__ua-label {
    position: relative;
    color: $gray-30;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__eng-input,
  &__ua-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__eng-input:checked {
    & + .language__eng-label {
      color: $black;
    }
  }

  &__ua-input:checked {
    & + .language__ua-label {
      color: $black;
    }
  }
}

.button-buy {
  background-color: $gray;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $black;
  }

  &:disabled {
    background-color: $gray-20;
    cursor: auto;
    outline: none;
    border: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray;

    &:hover {
      color: $black;
      font-weight: 700;
    }
  }
}
// $bg: #e5e5e5;
// $black: #131313;

// $gray: #333333;
// $gray-50: #4F4F4F;
// $gray-40:#7c7c7c;
// $gray-30:#bdbdbd;
// $gray-20:#d0d0d0;
// $gray-10:#f7f7f7;

// $green: #0db2b3;
// $green-20:#cfeff0;
// $green-10: #eefafa;
