.logo {
  display: flex;
  background-image: url(../images/logo.svg);
  width: 164px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  z-index: 2;

  &:hover {
    transform: scale(1.2);
  }
}
