@for $index from 1 through 3 {
  .detail#{$index} {
    position: absolute;

    &__description {
      color: $granit;
      width: max-content;
      gap: 15px;
      align-items: flex-end;
      border-bottom: 1px solid $granit;
      padding-right: 5px;
      padding-bottom: 10px;
  
      &--display-none {
        display: none;
      }
  
      &--display-flex {
        display: flex;
      }

      &::before {
        content: "";
        display: block;
        width: 1px;
        background-color: $granit;
        margin-bottom: -10px;
      }
    }
  }
}
