@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin fontInter ($weight, $size, $height: normal) {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin gridForMainContainers {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  column-gap: 20px;
  justify-content: center;
}
