* {
  box-sizing: border-box;
}

html {
  font-family: "HelveticaNeue-400", sans-serif;
  font-weight: 400;
  font-size: 16px;

  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $color-aqua;
  -webkit-text-fill-color: $color-aqua;
  -webkit-box-shadow: 0 0 0 1000px $color-granit inset;
  transition: background-color 5000s ease-in-out 0s;
}
