.container {
  padding: 0 30px;

  @include tablet {
    padding: 0 35px;
  }

  @include desktop {
    padding: 0 43px;
    margin: auto;
  }
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  color: $primary-text-color;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
}

@media (min-width: 1280px) {
  #page-menu {
    display: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0 1000px #f9f9f9 inset;
  transition: background-color 5000s ease-in-out 0s;
}
