html {
  font-family: "Helvetica NeueCyr", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "DIN Pro", sans-serif;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #4f4f4f;

  &:hover {
    color: $colorBlue;
  }
}

.page {
  background: $colorBackground;
}
