@import "vars";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: $bg-gray;
}

body,
div,
span,
label,
h1,
h2,
h3,
h4,
button,
a,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
