%title {
  font-family: "DIN Pro Bold", Helvetica, sans-serif;
  // font-weight: bold;
}

%title-m {
  font-family: "DIN Pro Medium", Helvetica, sans-serif;
  // font-weight: bold;
}

%title-r {
  font-family: "DIN Pro Regular", Helvetica, sans-serif;
  // font-weight: bold;
}

%text-l {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}

%text-m {
  font-family: "Helvetica Neue Medium", Helvetica, sans-serif;
}
