.radiobutton {
  position: relative;
  @extend %thirdary-text;

  color: $c_dark-charcoal;

  &__slash {
    color: $c_dark-charcoal;
    margin-right: 3px;
  }

  &--en,
  &--ua {
    position: absolute;
    opacity: 0;
  }

  &--en:not(:checked) + .radiobutton__check {
    color: $c_lighter-gray;
  }

  &--ua:not(:checked) + .radiobutton__check {
    color: $c_lighter-gray;
  }
}
