* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(247, 247, 247, 1);
}

section,
div,
article,
span,
input,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $main-color;
  font-size: 14px;
  line-height: 21px;
}

ul {
  list-style: none;
}
