* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "DIN Pro", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  background-color: $cLight;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
