body {
  overflow-x: hidden;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px $color-bg inset !important;
  -moz-box-shadow: 0 0 0 30px $color-bg inset;
  box-shadow: 0 0 0 30px $color-bg inset;
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: $color-gray !important;
}
