.mySwiper {
  background-color: $color-cyan-2;
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: $color-cyan-2;

  @include on-desktop-large {
    display: none;
  }

  &__container {
    position: relative;
    height: 100%;
    width: 100%;

    .container {
      padding-inline: 0;
    }

    @include on-tablet {
      .container {
        padding-inline: 30px;
      }
    }
  }

  &__inner {
    background-color: $color-cyan-2;
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 174px;

    @include on-tablet {
      padding-bottom: 127px;
    }

    @include on-desktop {
      padding-bottom: 0;
    }
  }
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-cyan-2;

  @include on-tablet {
    justify-content: flex-start;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-one {
  background-color: $color-cyan-2;
  padding: 30px;

  @include on-tablet {
    padding: 60px 60px 0 90px;
  }
}

.swiper-counters {
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  margin-top: 50px;
  width: 100%;
  z-index: 2;

  @include on-tablet {
    margin-top: 100px;
    padding-left: 85px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}

.swiper-rtl .swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  content: none;
}

.swiper-button-next,
.swiper-button-prev {
  display: block;
  width: 48px;
  height: 14px;
}

.swiper-pagination-fraction {
  color: $color-cyan-3;
  font-size: 11px;
  line-height: normal;
}

.swiper-pagination {
  @include on-tablet {
    text-align: left;
    padding-left: 114px;
  }
}

.swiper-pagination-current {
  color: $color-gray;
  line-height: 24px;
  font-size: 16px;
  position: relative;
  top: -4px;
  right: -1px;
}

.swiper-pagination-total {
  color: $color-cyan-3;
  font-size: 11px;
  line-height: normal;
}
