h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: $main-text-color;
  text-transform: uppercase;

  @include desktop {
    font-size: 56px;
    line-height: 70px;
  }
}

.para {
  font-size: 14px;
  line-height: 21px;
  color: rgba(124, 124, 124, 1);
}
