h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  color: $grey-color1;

  margin: 0;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: Inter, sans-serif;
  color: $grey-color3;

  margin: 0;
}

a {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter, sans-serif;

  margin: 0;
}

@include on-mobile {
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }
}

@include on-tablet {
  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
}

@include on-desktop {
  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
  }

  h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
  }

  h3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
  }
}
