h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;

  @include onTablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include onDesktop {
    font-size: 62px;
    line-height: 78px;
  }
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: $c-3;

  @include onTablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include onDesktop {
    font-size: 56px;
    line-height: 70px;
  }
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  @include onTablet {
    font-size: 24px;
    line-height: 30px;
  }

  @include onDesktop {
    font-size: 34px;
    line-height: 42px;
  }
}

h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.secondary-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.thirdary-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.quote {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  @include onDesktop {
    font-size: 24px;
    line-height: 36px;
  }
}
