input,
textarea {
  &:required:not(:placeholder-shown):valid {
    border-color: $border-color;
    box-shadow: 0 0 0 1px;
  }

  &:required:focus:invalid {
    border-color: $error;
    color: $error;
    box-shadow: 0 0 0 1px;
  }
}
