$clr--bg: #f7f7f7;
$clr--bg-aside: #f9f9f9;
$clr--white: #fff;
$clr--black: #131313;

$clr--gray: #333;
$clr--gray-1: #4f4f4f;
$clr--gray-2: #7c7c7c;
$clr--gray-3: #bdbdbd;
$clr--gray-4: #d0d0d0;
$clr--gray-5: #828282;

$clr--cyan: #0db2b3;
$clr--cyan-2: #d6ecec;
$clr--cyan-3: #0c797a;
$clr--cyan-light: #cfeff0;
$clr--cyan-light-2: #eefafa;

// Fonts
$font--main: "Inter", helvetica, sans-serif;
$font--secondary: "Helvetica", arial, sans-serif;

// Button
$clr--btn-default: #39bebf;
$clr--btn-hover: #0c797a;
$clr--btn-disabled: #cfeff0;

// Form
$clr--bg-form: #f1f5f4;
$clr--border-form: #828282;
$clr--input-default: #1c1b29;
$clr--input-hover: #cd4d31;
$clr--input-focused: #cd4d31;

// Media
$tablet-min-width: 768px;
$desktop-min-width: 1440px;
// $wideScreen-min-width: 1440px;
