$c-white: #fff;
$c-light: #f7f7f7;

$c-grey: #7c7c7c;
$c-granit: #333;
$c-black: #131313;
$c-dark-grey: #4f4f4f;
$c-light-grey: #bdbdbd;
$-border-grey: #828282;

$c-turquoise: #0db2b3;
$c-green: #0c797a;

$c-invalid-red: #eb5757;

$smooth-300ms: 0.3s;
