$c-gray: #f7f7f7;
$main-transition: transform 0.3s;
$all-transition: all 0.3s;
$main-black: rgb(51, 51, 51);
$light-green: rgb(13, 178, 179);
$features-green: rgb(207, 239, 240);
$main-white: rgb(255, 255, 255);
