$fontColorDark: #333;
$fontColorGrey: #7c7c7c;
$fontColorLightGrey: #bdbdbd;
$fontColorGreen: #0db2b3;
$productCardCircleColor: #0db2b3;
$BGColorLightGrey: #f2f2f2;
$borderColorGrey: #828282;
$simpleWhite: #fff;
$paddingForMobile: 30px;
