$max-width-notebook: 1280px;
$max-width-tablet: 768px;
$max-width-mobile: 320px;

$padding-notebook: 43px;
$padding-tablet: 34px;
$padding-mobile: 30px;

$column-gap-tablet: 20px;
$column-gap-notebook: 30px;

$column-width-notebook:
($max-width-notebook - $padding-notebook * 2 - $column-gap-notebook * 11) / 12;

$column-width-tablet:
($max-width-tablet - $padding-tablet * 2 - $column-gap-tablet * 7) / 8;
