$transition-duration: 300ms;
$scale: scale(1.2);

$color-turquoise: #0db2b3;
$color-dark-gray: #333;
$color-white: #fff;
$color-dark-shade: #131313;
$color-light-gray: #d0d0d0;
$color-cyan: #39bebf;
$color-teal: #0c797a;
$color-blue-gray: #d6ecec;
$color-gray: #bdbdbd;
$color-gunmetal: #828282;
$color-midnight-gray: #4f4f4f;
$color-snow: #f7f7f7;
$color-smoke-gray: #7c7c7c;
