.about {
  padding-top: 20px;

  &__wrapper {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    height: 246px;
    background-color: #000;

    margin-right: -30px;
    margin-left: -30px;

    margin-bottom: 88px;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 590px;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
  }

  &__movie {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 246px;

    margin-right: -30px;
    margin-left: -30px;

    margin-bottom: 88px;

    background-image: url(../images/Image-movie.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 590px;
    }

    &-play {
      position: absolute;
      width: 18px;
      height: 18px;
    }

    &-round {
      position: absolute;
      width: 108px;
      height: 108px;
      border: 2px solid white;
      border-radius: 50%;
      cursor: pointer;

      background-image: url(../images/play.svg);
      background-repeat: no-repeat;
      background-position: center;

      background-color: rgba(0,0,0,0);

      transition: 0.3s;

      @include onDesktop {
        background-image: url(../images/play_2.svg);
      }

      &:hover {
        transform: scale(1.2);
        box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: flex-end;

    @include onDesktop {
      justify-content: center;
    }

    &-title {
      font-size: 37px;
      line-height: 55px;
      font-weight: 700;

      color: $Very-dark-gray;

      @include onTablet {
        font-size: 56px;
        line-height: 72px;
      }
    }

    &-image {
      width: 100%;
      margin: 0 auto 30px;

      @include onTablet {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-20%);
        max-width: 510px;

        z-index: -1;
      }

      @include onDesktop {
        transform: translateX(0);
        left: 13%;
        max-width: 582px;
        max-height: 388px;
      }
    }

    &-text {
      font-size: 14px;
      line-height: 21px;

      color: $text-color;

      @include onTablet {
        margin-left: 100px;
      }
    }

    &-link {
      position: relative;
      width: fit-content;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0 6px 6px 0;

      color: #0db2b3;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 53px;
        height: 1px;
        border-bottom: 1px solid #0db2b3;
        content: "";
        transition: 0.3s;
      }

      &:hover::after {
        width: 130px;
        transition: 0.3s;
      }

      @include onTablet {
        margin-left: 100px;
      }
    }
  }

  &__container {
    margin-bottom: 90px;

    @include onTablet {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 55%;
    }

    @include onDesktop {
      margin-left: 485px;
      max-width: 480px;
    }
  }
}
