.bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  position: relative;

  @include on-tablet {
    gap: 60px;
  }

  &__logo {
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__bottom {
    color: $c-ligh-gray-bd;
    padding-bottom: 20px;
  }
}

.scroll-to-top {
  position: absolute;
  bottom: 180px;
  right: 0;
}
