.button {
  &__buy {
    display: none;

    @include onTablet {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 102px;
      height: 48px;

      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;

      background-color: $Very-dark-gray;
      color: $white;
    }
  }
}
