.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 102px;
  height: 48px;

  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $white;
  border: 0;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    border-radius: 6px;
  }

  &--buy {
    display: none;
    background-color: $Very-dark-gray;

    @include onTablet {
      display: flex;
    }
  }

  &--primary {
    background-color: $button-bottom-color;
  }
}

.buy {
  color: white;
  padding: 16px 35px;
}
