.questions__container {
  @include contentPaddingInline;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
}

.questions__header {
  width: 584.2px;
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

.email__container {
  width: 581.94px;
  height: 48px;
  border: 1px solid #828282;
  display: flex;
  justify-content: center;
}

.message__container {
  width: 581.94px;
  height: 128px;
  border: 1px solid #828282;
  margin-top: 19px;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.form {
  &__input {
    width: 549.2px;
    background-color: transparent;
    border: none;

    &::placeholder {
      color: #bdbdbd;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    &:focus {
      outline: none;
    }

    &:focus .email__container {
      border: 1px #0c797a;
    }
  }
}

.message {
  height: 96px;
  line-height: 24px;
  resize: none;

  &::placeholder {
    position: absolute;
  }
}

.submit__btn {
  width: 123.66px;
  height: 48px;
  background: #0db2b3;
  border: none;
  margin-top: 30px;

  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #0c797a;
  }
}
