.main {
  &__director {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.director {
  &__comment {
    background-image: url(../images/photo/Vector2.svg);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 50px;
    color: $c-dark-gray-33;

    @include on-tablet {
      padding-top: 60px;

    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    padding-top: 30px;
  }

  &__name {
    padding-top: 10px;
    margin: 0;
  }

  &__position {
    padding-top: 5px;
  }
}
