%h1 {
  color: $white;
  font-family: Inter, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -2px;

  @include on-tablet {
    font-size: 64px;
    line-height: 68px;
  }
}

%h2 {
  color: $titleColor;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  @include on-tablet {
    font-size: 52px;
    line-height: 150%;
  }
}

%h3 {
  color: $titleColor;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
