%h1 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $main-text-color;

  @include on-tablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include on-desktop {
    font-size: 62px;
    line-height: 78px;
  }
}

%h2 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $main-text-color;

  @include on-tablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include on-desktop {
    font-size: 56px;
    line-height: 70px;
  }
}

%h3 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $main-text-color;

  @include on-tablet {
    font-size: 24px;
    line-height: 30px;
  }

  @include on-desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

%h4 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $main-text-color;
}

%h5 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $main-text-color;
}

%button {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $main-text-color;
}
