.features {
  &__title-1 {
    margin-bottom: 50px;
    font-size: 37px;
    line-height: 60px;
    text-transform: uppercase;

    color: $Very-dark-gray;

    @include onTablet {
      font-size: 56px;
      line-height: 70px;
      text-align: left;
    }

    @include onDesktop {
      margin-bottom: 25px;
    }
  }

  &__title-2 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;

    color: $title-color;

    @include onTablet {
      margin-bottom: 30px;
      font-size: 34px;
      line-height: 42px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 21px;

    color: $Very-dark-gray;

    @include onTablet {
      font-size: 16px;
      line-height: 19px;
    }
  }

}
