.features__container {
  @include contentPaddingInline;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.features__container-small {
  display: none;
}

.features__header {
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

.features__content {
  background: #d6ecec;
  position: relative;
  display: flex;
  padding-left: 102px;
  justify-content: space-between;

  &-left {
    padding-top: 60px;
    padding-bottom: 59px;
    display: flex;
    flex-direction: column;
    row-gap: 56px;
  }

  &-right {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 159px;
  }
}

.features__image {
  width: 582px;
  height: 302px;
}

.features__block {
  display: flex;
  flex-direction: column;

  row-gap: 30px;

  &-header {
    color: #0c797a;
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
  }

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.feature {
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin-left: 17px;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #333;
    border-radius: 100%;
    position: absolute;
    top: 40%;
    left: -15px;
  }
}

.slider-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides {
  height: 30px;
  display: flex;
  align-items: end;
  gap: 3px;
}

.current {
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slash {
  color: #0c797a;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
}

.all {
  color: #0c797a;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
}
