@font-face {
  font-family: Inter, sans-serif;
  src: url(/src/fonts/inter/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter, sans-serif;
  src: url(/src/fonts/inter/static/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
