//nav

@mixin nav-light {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: $grey-color;
  text-align: center;
  text-transform: uppercase;

  @include transition;

  &:hover {
    color: $darker-black-color;
  }

  @include onDesktop {
    font-weight: 400;
    line-height: 20px;
  }
}

@mixin nav-normal {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;

  @include onDesktop {
    line-height: 14px;
  }
}

//used at header
@mixin h1-mobile {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  color: $black-color;
}

@mixin h1-tablet {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  color: $black-color;
}

@mixin h1-desktop {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 78px;
  align-items: center;
  text-transform: uppercase;
  color: $black-color;
}

//used at about-us, features, about-product
@mixin h2-mobile {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: $black-color;
}

@mixin h2-tablet {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  color: $black-color;
}

@mixin h2-desktop {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  align-items: center;
  text-transform: uppercase;
  color: $black-color;
}

@mixin h3-mobile {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $green-color-color;
}

@mixin h3-desktop {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-transform: uppercase;
  color: $green-color-color;
}

//used at header
@mixin main-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black-color;
}

//used at story
@mixin secondary-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $dark-grey-color;
}

//used at story
@mixin thirdary-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-color;
}

// used at story
@mixin h4-all {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: $black-color;
}

// used at quote
@mixin h5-all {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $black-color;
}

//used at story, menu
@mixin h6-all {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $darker-black-color;
}

//used at about-us
@mixin button-all {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $green-color;

  @include transition;

  &:active {
    color: $light-green-color;
  }
}

//used at quote
@mixin quote-desktop {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: $black-color;
}

@mixin quote-mobile {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $black-color;
}

@mixin page-total {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: $green-color-color;
}
@mixin page-total {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: $green-color-color;
}

@mixin menu-tablet {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: $black-color;
}
