.footer {
  display: flex;
  justify-content: center;
  margin-top: 170px;

  &__container {
    @include contentPaddingInline;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
  }
}

.footer-logo {
  display: flex;
  width: 161px;
  height: 26.21px;
  background-image: url(../images/logo.svg);
  background-size: cover;
}

.socials {
  margin-top: 60px;
  display: flex;
  gap: 40px;

  &__link {
    display: flex;
    width: 24px;
    height: 24px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.facebook {
  background-image: url(../images/facebook.svg);
}

.instagram {
  background-image: url(../images/instagram.png);
}

.twitter {
  background-image: url(../images/twitter.png);
}

.license {
  color: #bdbdbd;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 60px;
}

.return__link {
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.features-img-small {
  display: none;
}
