.footer {
  @include content-padding-inline;

  width: 100%;
  box-sizing: border-box;

  &__top {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 110px;

    @include on-tablet {
      margin-bottom: 60px;
      display: flex;
    }

    &-logo {
      width: 184px;
      height: 26px;

      @include hover(transform, scale(1.1));
    }

    &-button {
      height: 50px;
      width: 50px;

      @include hover(transform, scale(1.1));
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 60px;
    }

    @include on-desktop {
      gap: 50px;
    }

    &-icon {
      width: 24px;
      height: 24px;

      &-1 {
        background-image: url(../images/icons/facebook.svg);
      }
      &-2 {
        background-image: url(../images/icons/twitter.svg);
      }
      &-3 {
        background-image: url(../images/icons/instagram.svg);
      }

      @include hover(transform, scale(1.1));
    }
  }

  &__terms {
    text-align: center;
    margin-bottom: 20px;
    color: #BDBDBD;
    font-size: 14px;
    line-height: 21px;

    @include on-tablet {
      margin-bottom: 30px;
    }
  }
}
