.questions {

  @include onTablet {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  @include onDesktop {
    gap: 102px;
  }

  &__title {
    display: inline-block;
    max-width: 480px;
    margin-bottom: 30px;

    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;

    color: $Very-dark-gray;

    @include onTablet {
      font-size: 56px;
      line-height: 70px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 72px;
    }
  }

  &-top {
    margin-top: 90px;

    @include onTablet {
      margin-bottom: 10px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.form {
  &-input {
    padding-left: 30px;
  }

  &-textarea {
    resize: none;
    padding-top: 16px;
    padding-left: 30px;
  }

  &-field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #828282;

    @include onTablet {
      width: 340px;
    }

    @include onDesktop {
      width: 438px;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 19px;

      color: $placeholder-color;
    }

    &--textarea {
      height: 128px;
      margin-bottom: 30px;

      @include onTablet {
        height: 201px;
      }

      @include onDesktop {
        height: 128px;
      }
    }

    &:first-child {
      margin-bottom: 20px;
    }
  }
}
