.questions {

  @include onTablet {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  @include onDesktop {
    gap: 102px;
  }

  &__title {
    margin-bottom: 30px;

    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;

    color: $Very-dark-gray;

    @include onTablet {
      font-size: 56px;
      line-height: 70px;
    }

    @include onDesktop {
      font-size: 56px;
      line-height: 72px;
    }
  }
}

.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #828282;
  padding: 16px 0 0 30px;

  &::placeholder {
    font-size: 16px;
    line-height: 19px;

    color: $placeholder-color;
  }

  &--textarea {

  }

  &:first-child {
    margin-bottom: 20px;
  }
}
