.grid {
  display: none;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;

    &__column-1 {
      grid-column-start: 4;
      grid-column-end: 8;
      margin-bottom: 58px;
    }

    &__column-2 {
      grid-column-start: 1;
      grid-column-end: 5;
      margin-bottom: 78px;
    }

    &__column-3 {
      grid-column-start: 3;
      grid-column-end: 6;
    }
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

    &__column-1 {
      grid-column-start: 6;
      grid-column-end: 10;
      margin-bottom: 13px;
    }

    &__column-2 {
      grid-column-start: 2;
      grid-column-end: 6;
      margin-bottom: 129px;
    }

    &__column-3 {
      grid-column-start: 4;
      grid-column-end: 8;
    }
  }
}
