.grid {
  @include on-tablet {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
  }

  @include on-desktop {
    column-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
  }

  &__item {
    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        &--tablet-#{$start}-#{$end} {
          @include on-tablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--desktop-#{$start}-#{$end} {
          @include on-desktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}