.icon {
  display: block;
  width: 24px;
  height: 14px;
  border: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--opener {
    background-image: url(../images/menu.svg);
  }

  &--cross {
    background-image: url(../images/cross.svg);
  }

  @include onTablet {
    display: none;
  }
}
