.mobile-format {
  @include on-tablet {
    display: none;
  }

}

.tablet-format {
  display: none;
  @include on-tablet {
    display: block;
  }

  @include on-decktop {
    display: none;
  }
}

.decktop-format {
  display: none;
  @include on-decktop {
    display: block;
  }
}
