.language-sel {
  @extend %p;

  font-size: 14px;
  line-height: 100%;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;

  &__en {
    &--bold {
      font-weight: bold;
    }
  }

  &__ua {
    &--bold {
      font-weight: bold;
    }
  }
}
