.link {
  text-decoration: none;
  color: $specs-color;

  &-en:focus {
    font-weight: bold;
  }

  &-ua:focus {
    font-weight: bold;
  }

  &-menu {
    &:hover {
      color: aqua;
      text-decoration: underline 2px;
    }
  }
}
