@media (max-width: 1280px) {
  .header {
    align-items: unset;

    &__content {
      overflow: hidden;
    }
  }

  .advantages__container {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantage {
    width: 40vw;
  }

  .email__container {
    width: 41.8vw;
  }

  .message__container {
    width: 41.8vw;
  }

  .questions__header {
    font-size: 40px;
    width: 45vw;
  }

  .footer__container {
    width: 100%;
  }

  .return__link {
    @include contentRight;
  }

  .form__input {
    width: 39vw;
  }
}

@media (max-width: 1090px) {
  .section__img {
    width: 45vw;
    height: 425px;
  }

  .section__container-1 {
    padding-left: 0;
  }

  .section__container-2 {
    padding-right: 0;
  }

  .features__container {
    display: none;
  }

  .features__container-small {
    display: flex;
    flex-direction: column;
    @include contentPaddingInline;
    width: 100%;
  }

  .features__content-left {
    padding-bottom: 0;
  }

  .features__content-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .features__image {
    height: 226px;
    display: flex;
    justify-content: end;
  }

  .features__content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1180px) {
  .features__content {
    padding-left: 60px;
  }

  .features__image {
    margin-top: 12px;
  }
}

@media (max-width: 1070px) {
  .header__img {
    width: 70vw;
    height: 300px;
  }

  .header__content {
    overflow: hidden;
  }

  .quote {
    bottom: 60%;
  }
}

@media (max-width: 800px) {
  .menu__link {
    display: flex;
    margin-left: 30px;
  }

  .nav {
    display: none;
  }

  .meet__luna-img {
    display: none;
  }

  .meet__luna-img-medium {
    display: flex;
  }
}

@media (max-width: 1011px) {
  .advantage {
    width: 41vw;
  }

  .sub1,
  .sub3 {
    margin-top: 24px;
  }
}

@media (max-width: 777px) {
  .advantage__name {
    width: fit-content;
  }
}

@media (max-width: 640px) {
  .advantage {
    width: 80vw;
  }
}

@media (max-width: 900px) {
  .meet__luna-img {
    width: 80vw;
  }

  .features__image {
    width: 450px;
  }
}

@media (max-width: 850px) {
  .questions__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .questions__header {
    width: 400px;
  }

  .email__container,
  .message__container {
    width: 70vw;
  }

  .header__img {
    width: fit-content;
  }

  .form__input {
    width: 67vw;
  }
}

@media (max-width: 800px) {
  .meet__luna-img-medium {
    width: 80vw;
  }

  .header__header {
    font-size: 50px;
  }

  .section__container {
    display: flex;
    flex-direction: column;
    @include contentPaddingInline;
  }

  .section__container-2 {
    flex-direction: column-reverse;
  }

  .section__img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 730px) {
  .features__content {
    padding-left: 30px;
  }

  .header__content {
    flex-direction: column;
    align-items: start;
  }

  .header__img {
    width: 90vw;
    height: auto;
  }

  .header__text {
    width: 80vw;
  }

  .header__sub {
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .features__content-right {
    flex-direction: column;
    row-gap: 0;
    align-items: center;
  }

  .features__content {
    padding: 0;
  }

  .features__content-left {
    padding-left: 32px;
  }

  .features__image {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .specs-link {
    display: none;
  }

  .lang {
    display: none;
  }
}

@media (max-width: 600px) {
  .email__container {
    width: 100%;
  }

  .message__container {
    width: 100%;
    padding-top: 5px;
  }

  .form__input {
    width: 100%;
    margin-left: 10px;
  }
}

@media (max-width: 540px) {
  .features__container-small {
    padding: 0;
  }

  .features__header {
    @include contentPaddingInline;
    font-size: 30px;
    line-height: normal;
    margin-bottom: 32px;
  }

  .questions__header {
    width: fit-content;
    font-size: 30px;
    line-height: 45px;
  }

  .section__header {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 470px) {
  .features-img-small {
    display: flex;
    width: 300.5px;
    height: 174.08px;
  }

  .features__image {
    height: auto;
    width: fit-content;
  }

  .features-img-medium {
    display: none;
  }

  .footer-logo {
    display: none;
  }

  .return__link {
    display: none;
  }
}

@media (max-width: 450px) {
  .buy-link {
    display: none;
  }

  .menu__buy-link {
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    width: 87.5vw;
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    height: 48px;
  }

  .menu__content {
    height: 85vh;
    @include contentPaddingInline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  .menu__nav {
    padding: 0;
  }

  .features__block-header {
    font-size: 18px;
  }
}

@media (min-width: 451px) {
  .menu__buy-link {
    display: none;
  }
}

@media (max-width: 440px) {
  .header__header {
    font-size: 40px;
    line-height: 50px;
  }

  .header__sub {
    margin-top: 10px;
  }

  .header__content {
    flex-direction: column-reverse;
    row-gap: 40px;
  }

  .header {
    row-gap: 10px;
  }

  .header__img {
    height: 250px;
    width: fit-content;
  }
}

@media (max-width: 390px) {
  .features__content-left {
    padding-left: 15px;
    padding-top: 20px;
  }

  .features__block {
    row-gap: 15px;
  }

  .header__img {
    height: 220px;
  }
}
