.menu-links {
  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include on-tablet {
      gap: 40px;
    }

    &-item {
      @extend %p-thirdary;
    }

    &--fr {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 84px;

      & .menu-links__list-item {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}
