.menu {
  &__list {
    display: none;

    text-transform: uppercase;
    list-style: none;

    @include onTablet {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;

      padding: 27px;
    }
  }

  &__link {
    padding: 16px 5px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;

    color: $Very-dark-gray;

    &:hover {
      color: rgb(230, 16, 16);
      border-bottom: 2px solid;
    }
  }
}
