@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onMobile{
  @media (min-width: $mobile-min-width) {
    @content;
  }
}

@mixin onTablet{
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop{
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline(){
  padding-inline: 30px;

@include onTablet {
  padding-inline: 34px;
}
}

@mixin pageGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 50px;
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;


  @include onTablet{
    grid-template-columns: repeat(8, 1fr);
    column-gap: 70px;
    gap: 20px;
    padding-left:34px;
    padding-right: 34px;
  }

  @include onDesktop{
    grid-template-columns: repeat(12, 1fr);
    column-gap: 72px;
    gap: 30px;
    padding-left: 123px;
    padding-right: 123px;

  }
}

@mixin validation {
	&:focus {
		border: 1px solid #0C797A;
	}
	&:focus:invalid:placeholder-shown {
		border: 1px solid #0C797A;
	}
	&:focus:invalid:not(:placeholder-shown) {
    font-family: 'Inter', sans-serif;
		border: 1px solid #EB5757;
    color: #EB57574D;
	}
	&:placeholder-shown {
		border: 1px solid #828282;
	}
}
