* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: $main-text-c;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  @include pageGrid;

  margin-inline: auto;
  padding-inline: 30px;
}

.logo {
  display: flex;
  width: 161px;
  height: 26px;
}

body:has(.burger__menu :target) {
  overflow: hidden !important;
}

body {
  margin: 0;
  background-color: $page-background-c;
}
