* {
  box-sizing: border-box;
}

.page {
  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    background-color: $main-background-color;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    color: $text-color;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transition: all $effectDuretion;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
