.container {
  margin-bottom: 44px;
}

.panel {
  background-color: rgb(190, 189, 189);

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: 28px 30px 22px;
  }

  &__top {
    margin-bottom: 30px;
  }

  &__list {
    padding: 0 10px;
    list-style: none;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;

    color: black;
    transition: border-color 0.3s;

    &:hover {
      border-color: $Very-dark-gray;
    }
  }
}
