.registration {
  display: grid;

  &__content {
    @include page-grid;
  }

  &__title {
    margin: 0;
    color: $c-dark-gray-33;
    padding-bottom: 27px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/5;

    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 5/-1;

    }
  }

  &__input {
    margin-bottom: 20px;
    border: 1px solid #828282;
    height: 48px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &::placeholder {
      color: $c-ligh-gray-bd;
    }
  }

  &__textarea {
    margin-bottom: 30px;
    border: 1px solid #828282;
    height: 128px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: top;
    resize: none;

    &::placeholder {
      color: $c-ligh-gray-bd;
    }
  }

  &__send {
    width: 102px;
    height: 40px;
    background-color: $c-green;
    border: none;
    color: $c-white;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background-color: $c-dark-green;
    }
  }
}
