*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;

  font-family: sans-serif;
  line-height: 1.5;
  color: #fff;

  background-color: #000;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  border: none;

  font: inherit;
  color: inherit;

  background: none;
  outline: none;
}
