.review {
  @include content-padding-inline;

  padding-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-image: url(../images/review/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;

  &__text {
    width: 100%;
    color: $color-for-text-dark;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0 auto;
    margin-bottom: 40px;

    @include on-desktop {
      width: 786px;
    }
  }

  &__img {
    margin: 0 auto;
    width: 62px;
    height: 62px;
    margin-bottom: 20px;
  }

  &__title {
    color:$color-for-text-dark;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: $color-for-main-text;
    font-size: 14px;
    line-height: 21px;
  }
}
