.section {
  &__highlights {
    &-cont {
      @include page-grid;
    }

    &-menu-link-cont {
      @include on-mobile {
        display: none;
      }

      @include on-desktop {
        display: block;
        padding-bottom: 90px;
        grid-column: 4 / span 6;
      }
    }

    &-cards-cont {
      grid-column: 1/-1;

      @include page-grid;

      @include on-tablet {
        grid-template-rows: repeat(2, auto);
        row-gap: 65px;
      }

      @include on-desktop {
        grid-template-rows: auto;
      }
    }

    &-card {
      display: none;
      grid-column: 1/-1;

      &--1 {
        display: block;

        @include on-tablet {
          display: block;
          grid-column: 1/ span 4;
          grid-row: 1;
        }

        @include on-desktop {
          grid-row: 1;
          grid-column: span 3;
        }
      }

      &--2 {
        @include on-tablet {
          display: block;
          grid-column: 5/ span 4;
          grid-row: 1;
        }

        @include on-desktop {
          grid-row: 1;
          grid-column: span 3;
        }
      }

      &--3 {
        @include on-tablet {
          display: block;
          grid-column: 1/ span 4;
          grid-row: 2;
        }

        @include on-desktop {
          grid-row: 1;
          grid-column: span 3;
        }
      }

      &--4 {
        @include on-tablet {
          display: block;
          grid-column: 5/ span 4;
          grid-row: 2;
        }

        @include on-desktop {
          grid-row: 1;
          grid-column: span 3;
        }
      }
    }
  }

  &__meet-luna {
    display: flex;
    justify-content: center;

    &-img {
      box-sizing: border-box;
      display: block;
      object-fit: cover;
      width: 100%;
      padding-inline: 12px;

      @include on-tablet {
        padding-inline: 34px;
        max-width: 846px
      }

      @include on-desktop {
        width: 846px;
      }
    }
  }

  &__desc {
    &-cont {
      @include page-grid;

      gap: 20px;
      grid-template-rows: repeat(4, auto);

      @include on-tablet {
        grid-template-rows: repeat(3, auto);
      }
    }

    &-title {
      grid-column: 1/-1;
      grid-row: 1;

      @include on-tablet {
        grid-column: 5/span 4;
      }

      @include on-desktop {
        grid-column: 7/span 6;
      }

    }

    &-img-cont {
      overflow: hidden;
      display: flex;
      justify-content: center;

      height: 259px;
      grid-column: 1/-1;
      grid-row: 2;

      @include on-tablet {
        height: 415px;
        grid-column: 1/span 4;
        grid-row: 1/-1;
      }

      @include on-desktop {
        height: 388px;
        grid-column: 1/span 6;
        grid-row: 1/-1;
      }
    }

    &-img {
      object-fit: cover;
      width: 100%;
    }

    &-body {
      grid-column: 1/-1;
      grid-row: 3;
      color: $c-gray3;
      padding-bottom: 10px;

      @include on-tablet {
        grid-column: 5/span 4;
        grid-row: 2;
      }

      @include on-desktop {
        grid-column: 7/span 6;
      }
    }

    &-bt {
      grid-column: 1/-1;
      grid-row: 4;
      height: 20px;

      @include on-tablet {
        grid-column: 5/span 4;
        grid-row: 3;
      }

      @include on-desktop {
        grid-column: 7/span 6;
      }
    }

    &--eye &-title {
      @include on-tablet {
        grid-column: 1/span 4;
      }

      @include on-desktop {
        grid-column: 1/span 6;
      }
    }

    &--eye &-img-cont {
      @include on-tablet {
        grid-column: 5/span 4;
      }

      @include on-desktop {
        grid-column: 7/span 6;
      }
    }

    &--eye &-body {
      @include on-tablet {
        grid-column: 1/span 4;
      }

      @include on-desktop {
        grid-column: 1/span 6;
      }
    }

    &--eye &-bt {
      @include on-tablet {
        grid-column: 1/span 4;
      }

      @include on-desktop {
        grid-column: 1/span 6;
      }
    }
  }

  &__testimony {
    margin: auto;

    &-cont {
      position: relative;
      @include page-grid;
      justify-items: center;
    }

    &-quotes {
      position: absolute;
      width: 208px;
      grid-area: 1/1/1/-1;
      display: flex;
      justify-content: center;
      align-items: center;

      @include on-tablet {
        width: 233px;
      }

      @include on-desktop {
        grid-column: 3/11
      }
    }

    &-body {
      @extend %p-quote;
      text-align: center;
      grid-area: 1/1/2/-1;
      z-index: 2;
      padding-top: 50px;
      padding-bottom: 30px;

      @include on-tablet {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      @include on-desktop {
        padding-top: 42px;
        padding-bottom: 30px;
        grid-column: 3/11
      }
    }

    &-avatar {
      z-index: 2;
      width: 62px;
      height: 62px;
      grid-area: 2/1/3/-1;
      padding-bottom: 10px;

      @include on-tablet {
        padding-bottom: 20px;
      }

      @include on-desktop {
        grid-column: 3/11
      }
    }

    &-name {
      z-index: 2;
      grid-area: 3/1/4/-1;
      padding-bottom: 5px;
      text-transform: capitalize;

      @include on-desktop {
        grid-column: 3/11
      }
    }

    &-position {
      color: $c-gray3;
      grid-area: 5/1/5/-1;

      @include on-desktop {
        grid-column: 3/11
      }
    }
  }

  &__features {
    &-title {
      padding-bottom: 32px;

      @include on-tablet {
        padding-bottom: 30px;
      }
    }

    &-body {
      &-bg {
        box-sizing: content-box;
        position: relative;
        height: 575px;
        background-color: #D6ECEC;
        overflow: hidden;

        @include on-tablet {
          margin-inline: $pad-inline-tablet;
          height: 555px;
        }

        @include on-desktop {
          height: 642px;
          margin-inline: $pad-inline-desktop;
        }

        @include on-desktop-lg {
          max-width: $desktop-min-width;
          margin-inline: auto;
          padding: 0;
        }
      }

      &-cont {
        box-sizing: border-box;
        height: 100%;
        padding-top: 30px;
        @include page-grid;

        @include inline-padding;

        @include on-tablet {
          padding: 0;
          padding-top: 60px;
          @include page-grid;
        }
      }

      &-swiper-cont {
        height: 372px;
        grid-column: 1 / -1;

        @include on-tablet {
          grid-column: 2/-1;
        }

        @include on-desktop {
          height: 523px;
          grid-column: 1 / -2;
        }
      }
    }

    &-bg-img {
      position: absolute;
      bottom: 0;
      max-height: 200px;
      width: 100%;
      object-fit: contain;

      @include on-tablet {
        object-position: right;
        max-height: 225px;
      }

      @include on-desktop {
        max-height: 302px;
      }
    }
  }
}
