.section__img {
  transition: 0.3s;
}

.section__img:hover {
  transform: scale(0.95);
}

.section {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.section__container {
  @include contentPaddingInline;
  display: flex;
  gap: 30px;
}

.section__content {
  height: max-content;
}

.section__header {
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

.section__sub {
  color: #7c7c7c;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.section__link {
  margin-top: 30px;
  color: #0db2b3;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  position: relative;
  top: 60px;
  text-decoration: none;

  &::after {
    content: "";
    height: 1px;
    width: 64.61px;
    position: absolute;
    background-color: #0db2b3;
    left: 0;
    top: 20px;
    transition: 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}
