.story {
  display: none;

  @include onTablet {
    display: flex;
    gap: 30px;
    margin-bottom: 110px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include onDesktop {
    margin-bottom: 130px;
    flex-wrap: nowrap;
  }
}

.card {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  transition: 0.3s;

  @include onTablet {
    width: 340px;
    margin: 0;
  }

  @include onDesktop {
    width: 276px;
  }

  &:hover {
    transform: scale(1.1);
    background-color: $form-color;
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    border-radius: 10px;
    cursor: pointer;
  }

  &__image {
    width: 58px;
    height: 46px;
    margin: 44px 0 40px;

    @include onTablet {
      width: 45px;
      height: 45px;
      margin-bottom: 48px;
    }
  }

  &__title {
    min-height: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;

    text-align: center;
    text-transform: uppercase;

    color: $Very-dark-gray;

    @include onTablet {
      min-height: 30px;
    }

    @include onDesktop {
      min-height: 60px;
    }
  }

  &__text {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: $text-color;
  }
}
