@import "../../node_modules/swiper/swiper-bundle.css";

.swiper {
  position: relative;

  @include onTablet {
    display: none;
  }

  &-pagination {
    &-card {
      position: absolute;
    }

    &-featurs {
      position: absolute;
      bottom: 0 !important;
    }
  }

  &-card {
    width: 340px;
    height: 400px;
    margin-bottom: 70px;
  }

  &-featurs {
    width: 340px;
    height: 320px;
  }

  &-button-prev {
    position: absolute;
    top: 90%;
    left: 35%;

    &::after {
      display: none;
    }
  }

  &-button-next {
    position: absolute;
    top: 90%;
    right: 35%;

    &::after {
      display: none;
    }
  }
}
