.technology {
  display: block;

  &__title {
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: start;
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;

    color: $Very-dark-gray;

    @include onTablet {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__container {
    height: 278px;
    margin-bottom: 40px;

    background-image: url(../images/Technology.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: matrix(0.99,-0.14,0.14,0.99,0,0);

    @include onTablet {
      height: 546px;
      margin-bottom: 116px;
    }
  }

  &__feedback {
    position: relative;

    &-image {
      position: absolute;
      left: 50%;
      width: 208px;
      height: 170px;

      z-index: -1;

      background-image: url(../images/background.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      // background-position: 50%;
      transform: translate(-50%,-10%);
    }

    &-text {
      max-width: 260px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 21px;
      text-align: center;

      color: $Very-dark-gray;

      @include onTablet {
        max-width: 786px;
        font-size: 24px;
        line-height: 36px;
      }
    }

    &-people {
      display: flex;
      width: fit-content;
      flex-direction: column;
      align-items: center;

      margin: 40px auto;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.5);
        background-color: $form-color;
        border-radius: 10px;
      }
    }
  }
}

.people {
  &__photo {
    &-Martin {
      width: 62px;
      height: 62px;

      margin-bottom: 20px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__name {
    margin-bottom: 7px;

    font-size: 16px;
    line-height: 27px;
    text-align: center;
    font-weight: bold;

    color: $Very-dark-gray;
  }

  &__title {
    font-size: 14px;
    line-height: 120%;
    text-align: center;

    color: $text-color;
  }
}
