@mixin transition {
  transition: all 0.2s;
}

@mixin transition-menu {
  transition: opacity 0.3s ease-in-out, height 0s linear 0.3s;
}

@mixin transition-link {
  transform: scaleX(1);
  transform-origin: left;
  transition: width 0.2s ease-in-out;
}

@mixin transition-nav {
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease-in-out;
}

@mixin transition-card {
  transition: opacity 0.3s ease-in-out;
}
