$grey-color: #4f4f4f;
$black-color: #333;
$darker-black-color: #131313;
$white-color: #fff;
$light-grey-color: #d0d0d0;
$dark-grey-color: #7c7c7c;
$background-color: #f7f7f7;
$green-color: #0db2b3;
$green-background-color: #d6ecec;
$green-color-color: #0c797a;
$light-green-color: #cfeff0;
$placeholder-color: #bdbdbd;
