$tablet-min-width: 640px;
$desktop-min-width: 1280px;

$effect-duration: 300ms;
$main-background-color: #F7F7F7;

$first-black-color: #131313;
$second-black-color: #333;
$third-black-color: #4f4f4f;

$first-gray-color: #7c7c7c;
$second-gray-color: #bdbdbd;
$border-gray-color: #828282;

$first-turquoise-color: #0DB2B3;
$second-turquoise-color: #D6ECEC;
$dark-turquoise-color: #0C797A;

$invalid-border-color: #EB5757;
