$padding-inline-mobile: 30px;
$padding-inline-tablet: 34px;
$white: #fff;
$light-grey: #bdbdbd;
$light-text: #7c7c7c;
$background: #f7f7f7;
$default: #333;
$grey: #4f4f4f;
$dark-grey: #131313;
$green: #39bebf;
$accent-green: #0c797a;
$green-background: #d6ecec;
