$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$c-blue-500: #0c797a;
$c-blue-400: #0db2b3;
$c-blue-200: #cfeff0;
$c-blue-100: #eefafa;
$c-grey-800: #131313;
$c-grey-700: #333;
$c-grey-600: #4f4f4f;
$c-grey-500: #7c7c7c;
$c-grey-400: #bdbdbd;
$c-grey-300: #d0d0d0;
$c-grey-100: #f7f7f7;
$effectDuration: 0.3s;
$header-height: 76px;
