$c-darkGreen: #0db2b3;
$c-green: #cfeff0;
$c-lightGreen: #eefafa;
$c-darkBlack: #131313;
$c-black: #333;
$c-lightBlack: #4f4f4f;
$c-darkGray: #7c7c7c;
$c-grey: #bdbdbd;
$c-lightGray: #d0d0d0;
$c-white: #f7f7f7;
$c-realWhite: #fff;
$c-superGreen: #0c797a;

$transitionDuration: 0.3s;
