$background-color: #f9f9f9;
$main-color: #333;
$main-color-hover: #131313;
$second-color: #7c7c7c;
$link-color: #0db2b3;
$secondary-background: #cfeff0;
$slider-title: #0c797a;

// icon-size
$iconWidth: 24px;
$iconHeight: 24px;
