.quote-author{
  text-align: center;
  justify-content: center;
  background-image: url("../images/quote-author/quote-author-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 70px;
  @include on-mobile{
    padding: 70px 30px 0 30px;
  }

  &__text{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #333;
   @include on-tablet{
     padding-bottom: 40px;
   }
    @include on-mobile{
      padding-bottom: 30px;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }


  }

  &__full-name{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #333;
    padding:20px 0  5px 0;
  }
  &__job-title{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color:#7C7C7C;
  }

}
