.core-card-mobile {
  &__title {
    @include on-mobile {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      color: #0c797a;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
  &__list {
    @include on-mobile {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__item {
    @include on-mobile {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      list-style: disc;
    }
  }
}
