.core-features-mobile {
  display: none;
  @include on-tablet{
    display: none;
  }
  @include on-mobile{
    display: flex;
    flex-direction: column;
  }
  &__container{
    @include on-mobile{
      padding-top:30px;
      background-color: #D6ECEC;
    }

  }
  &__title{
    @include on-mobile{
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      padding: 0 30px 32px 30px;
    }
  }
  &__elements{
    @include on-mobile{
      padding: 0 30px;
      display: flex;
      flex-direction: column;
    }
  }
  &__img{
    @include on-mobile{
      width: 100%;
    }
  }
  &__img--size{
    @include on-mobile{
      margin: 50px auto 0 auto;
      height: 47px;
      width: 93px

    }
  }
}

