$c-turquoise: #0db2b3;
$c-black: #131313;
$c-green: #0c797a;
$c-granit: #333;
$c-lightgreen: #eefafa;
$c-darkgrey: #4f4f4f;
$c-darkgrey2: #828387;
$c-grey2: #a4a4a4;
$c-grey: #7c7c7c;
$c-lightgrey: #bdbdbd;
$c-lightgrey-e: #e0e0e0;
$c-lightgrey2: #f2f2f2;
$c-lightgrey-inactive: #d0d0d0;
$c-lagoon: #cfeff0;
$c-lagoon-inactive: #cfeff0;
$c-light: #f7f7f7;
$c-white: #fff;
$c-red: #eb5757;
$c-red-d: #dc3027;
$c-brown: #a1847d;
$c-gold: #b4a492;
