$c-turquoise: #0db2b3;
$c-black: #131313;
$c-granit: #333;
$c-darkgrey: #4f4f4f;
$c-green: #0c797a;
$c-lightgreen: #eefafa;
$c-grey: #7c7c7c;
$c-lightgrey: #bdbdbd;
$c-lightgrey-inactive: #d0d0d0;
$c-lagoon: #cfeff0;
$c-lagoon-inactive: #cfeff0;
$c-light: #f7f7f7;
$c-white: #fff;
