.section-meet-luna {
  display: flex;
  margin: 0;
  padding-inline: 12px;

  @include on-tablet {
    width: 100%;

    @include content-space-inline;
  }

  @include on-desktop {
    @include page-grid;
  }

  &__images {
    grid-column: 2/-2;
  }
}
