.section-avatar {
  display: flex;
  flex-direction: column;
  background-image: url(../images/main-pictures/vectors-mobile.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 208px 171px;

  @include on-tablet {
    background-size: 233px 189px;
  }

  @include on-tablet {
    background-size: 233px 192px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 50px;
    gap: 30px;

    @include on-tablet {
      padding-top: 60px;
      gap: 40px;
    }

    @include on-desktop {
      padding-top: 42px;
      gap: 30px;
      width: 785px;
      height: 310px;
    }
  }

  &__information {
    display: block;
    margin: 0;
    padding: 0;

    @include qoute;

    text-align: center;
  }

  &__person {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  &__avatar {
    display: block;
    margin: 0;
    padding: 0;
    width: 62px;
    height: 62px;
    margin-bottom: 10px;

    @include hover(transform, scale(1.3));

    @include on-tablet {
      margin-bottom: 20px;
    }
  }

  &__name {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  &__job {
    display: block;
    margin: 0;
    padding: 0;

    @include secondary-text;
  }
}
