.header {

  &__check-lang--ua {
    font-weight: 700;
  }

  &__check-lang--en {
    font-weight: 400;
  }

  &__title {
    font-size: 2.2rem;
    line-height: 52px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 2.4rem;
      line-height: 62px;
    }

    @media (min-width: 1024px) {
      font-size: 2.6rem;
      line-height: 78px;
    }
  }
}
