.header {

  &__check-lang--ua {
    font-weight: 700;
  }

  &__check-lang--en {
    font-weight: 400;
  }

  &__title {
    font-size: 1.6rem;
    line-height: 40px;
    text-transform: uppercase;

    @media (min-width: 425px) {
      font-size: 2.4rem;
      line-height: 62px;
    }

    @media (min-width: 768px) {
      font-size: 2.6rem;
      line-height: 62px;
    }

    @media (min-width: 1024px) {
      font-size: 3.6rem;
      line-height: 78px;
    }
  }

  &__content {

    @media (min-width: 1024px) {
      padding: 0 34px;
      margin: 0 auto 170px;

      max-width: 100%;

      background-image: url(/images/header-bgr.png);
      background-position: 120% 115%;
      background-size: 65%;
    }

    @media (min-width: 1280px) {
      max-width: 100%;
      padding: 0;
    }
  }
}
