@font-face {
  font-family: 'icomoon';
  src: url('icons_files/icomoon.eot?c6y74d');
  src:
    url('icons_files/icomoon.eot?c6y74d#iefix') format('embedded-opentype'),
    url('icons_files/icomoon.ttf?c6y74d') format('truetype'),
    url('icons_files/icomoon.woff?c6y74d') format('woff'),
    url('icons_files/icomoon.svg?c6y74d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector-4:before {
  content: '\e900';
}

.icon-Vector-3:before {
  content: '\e901';
}

.icon-Frame-2:before {
  content: '\e902';
}

.icon-Frame-1:before {
  content: '\e903';
}

.icon-Frame:before {
  content: '\e904';
}

.icon-Frame-37:before {
  content: '\e905';
}

.icon-Frame-36:before {
  content: '\e906';
}

.icon-Frame-35:before {
  content: '\e907';
}

.icon-Frame-34:before {
  content: '\e908';
}
