.feature-block {
  margin-top: 24px;

  &__title {
    font-family: DINPro, sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-transform: uppercase;
    color: #0c797a;
  }

  &__list {
    margin-top: 38px;
    list-style: disc;

    @media (max-width: $mobileScreens) {
      margin-top: 20px;
    }
  }

  &__item {
    margin-top: 13px;
    font-size: 16px;
    line-height: 19px;
    color: $strongGreyColor;

    @media (max-width: $tabletsScreens) {
      position: relative;
      left: 18px;
    }

    @media (max-width: $mobileScreens) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &_none {
    @media (max-width: $mobileScreens) {
      display: none;
    }
  }
}
