.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 48px;

  padding: 0 35px;

  @extend %f-button;

  font-size: 12px;

  text-align: center;
  text-transform: uppercase;

  border: none;

  color: $c-white;
  background-color: $c-granit;

  cursor: pointer;

  @include transitions(background-color);

  @include onDesktop {
    &:hover {
      background-color: $c-black;
    }
  }

  &[disabled] { // [disabled] of :disabled?
    background-color: $c-lightgrey-inactive;
  }

  &--size {
    &--large {
      padding: 0 55px;
    }

    &--full {
      width: 100%;
    }
  }

  &--color--green {
    background: $c-turquoise;

    @include onDesktop {
      &:hover {
        background-color: $c-green;
      }
    }

    &:disabled {
      background-color: $c-lagoon-inactive;
    }
  }
}
