@import './control-panel/control-panel';
@import './feature/feature';

.features {
  &__global-title {
    margin-bottom: 30px;
  }

  &__content {
    background-color: $bg-light-green;

    @include page-grid;

    &__feature {
      grid-column: span 4;

      @include on-tablet {
        grid-column: 2 / 5;
      }

      @include on-desktop {
        &:nth-child(1) {
          grid-column: 2 / 5;
        }
        &:nth-child(2) {
          grid-column: 6 / 9;
        }
        &:nth-child(3) {
          grid-column: 2 / 5;
        }
      }
    }

    &__bg {
      grid-column: span 4;

      @include on-tablet {
        grid-column: 4 / 8;
      }

      @include on-desktop {
        grid-column: 6 / 9;
      }

      width: 100%;
      max-width: 320px;
      max-height: 180px;
      aspect-ratio: 4/3;
      background-size: cover;
      background-position: center;
      background-image: url(../images/features-bg.png);
      padding: 0;
      margin-left: auto;
    }
  }
}
