$colorLightGrey: #7c7c7c;
$colorBlack: #131313;
$colorWhite: #f7f7f7;
$colorGreen: #0db2b3;
$colorDarkGreen: #0c797a;
$colorLightGreen: #cfeff0;
$colorBeige: #cfeff0;
$colorMistake: #eb5757;
$colorMain: #333;

$fontSizeSmall: 12px;
$fontSizeRegular: 16px;

$fontWeightBold: 700;

$transitionDuration: 0.3s;
