.about {

  &__mobile {
    display: none;
  }

  &__case {
    grid-column: span 6;
  }

  &__box {
    grid-column: span 6;
  }

  &__images {
    display: none;
  }

}

@media (max-width: 1080px) {
  .about {
    position: relative;

    &__case {
      grid-column: 1/5;
    }

    &__img {
      display: none;
    }

    &__images {
      display: flex;
      position: absolute;
      left: 0;
      width: 500px;
      height: 100%;
    }

    &__box {
      grid-column: 7/-1;
      margin-left: 20px;
    }
  }
}

@media (max-width: 971px) {
  .about {

    &__images {
      width: 465px;
    }
  }
}

@media (max-width: 885px) {
  .about {

    &__images {
      width: 425px;
    }
  }
}

@media (max-width: 800px) {
  .about {

    &__images {
      width: 380px;
    }
  }
}

@media (max-width: 744px) {
  .about {

    &__box {
      grid-column: 5/-1;
    }
  }
}


@media (max-width: 732px) {
  .about {

    &__mobile {
      display: flex;
      grid-column: 1/-1;
      margin-bottom: 30px;
    }

    &__case {
      grid-column: 1/-1;
      margin-bottom: 20px;
    }


    &__box {
      grid-column: 1/-1;
      margin-left: 0;
    }

    &__img {
      display: flex;
    }

    &__images {
      display: none;
    }

  }
}
