.benefits {

  &__box {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__title {
    text-align: center;

    &--one {
      margin-bottom: 54px;
    }

    &--two {
      margin-bottom: 24px;
    }
  }

  &__text {
    text-align: center;
    color: $cg;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 925px) {
  .benefits {
    
    &__box {
      grid-column: span 6;

      &--bottom {
        margin-bottom: 65px;
      }
    }

    &__title {

      &--one {
        margin-bottom: 20px;
      }

      &--two {
        margin-bottom: 20px;
      }
    }
  }

}

@media (max-width: 744px) {
  .benefits {

    &__box {
      grid-column: span 4;
    }
  }
}

@media (max-width: 643px) {
  .benefits {

    &__box {
      grid-column: 1/-1;

      &--bottom {
        margin-bottom: 0;
      }

      &--none {
        display: none;
      }
    }
  }
}

