.features {

  &__title {
    margin-bottom: 30px;

    &--bg {
      display: none;
    }
  }

  &__connectivity {
    grid-column: 2/6;
  }

  &__app {
    grid-column: 7/11;
    margin-bottom: 109px;
  }

  &__music {
    grid-column: 2/6;
    margin-bottom: 59px;
  }

  &__img {
    grid-column: 7/-1;

  }

  &__images {
    width: 100%;
    height: 100%;
  }

  &__subtitle {
    margin-bottom: 30px;
    color: $btn-bg;
  }

  &__list {
    list-style: disc;
    margin-left: 20px;
  }

  &__btn {
    display: none;
  }

  &__value {
    display: none;
  }

  &--top {
    margin-top: 60px;
  }

  &--slider {
    display: none;
  }

}

@media (max-width: 1041px) {
  .features {

    &__connectivity {
      grid-column: 2/-1;
    }

    &__subtitle {
      margin-top: 30px;
    }

    &__app {
      grid-column: 2/-1;
      margin-bottom: 0;
    }

    &__music {
      grid-column: 2/-1;
      margin-bottom: 0;
    }

    &__btn {
      display: block;
      grid-column: 2/5;
      margin-top: 20px;
    }

    &__prev {
      color: $grey;
      &:hover {
        color: $color;
      }
    }

    &__next {
      color: $grey;
      &:hover {
        color: $color;
      }
    }

    &__img {
      grid-column: 5/-1;
    }

    &__value {
      display: flex;
      align-items: baseline;
      margin-top: 10px;
      margin-left: 30px;
    }

    &__dash {
      color: $btn-bg;
    }

    &__num {
      &--current {
        color: $black;
      }

      &--total {
        font-size: 11px;
        color: $btn-bg;
      }
    }

    &--top {
      display: none;
      margin-top: 0;
    }

    &--slider {
      height: 250px;
    }

    &--none {
      display: none;
    }
  }
}


@media (max-width: 768px) {
  .features {

    &__btn {
      grid-column: 2/4;
    }
  }
}


@media (max-width: 536px) {
  .features {
    &__color {
      background: $features-bg;
    }

    &__connectivity {
      grid-column: 1/-1;
    }

    &__app {
      grid-column: 1/-1;
    }

    &__music {
      grid-column: 1/-1;
    }

    &__title {
      display: none;

      &--bg {
        display: block;
        margin-left: 30px;
      }
    }

    &__btn {
      grid-column: 2/-1;
      margin-top: 70px;
    }

    &__img {
      grid-column: 1/-1;
    }

    &--slider {
      height: 290px;
    }
  }
}

@media (max-width: 320px) {
  .features {

    &__btn {
      grid-column: 2/4;
      margin-top: 50px;
    }

    &__value {
      justify-content: center;
      margin-left: 0;
    }

  }
}


@media (max-width: 294px) {
  .features {

    &__btn {
      grid-column: 1/-1;
      margin-top: 70px;
    }

    &--slider {
      height: 350px;
    }
  }
}
