.header {

  &__images {
    display: none;
  }

  &__box {
    grid-column: 1/4;
  }

  &__title {
    margin-bottom: 30px;
  }

}

@media (max-width: 1080px) {
  .header {

    &__box {
      grid-column: 1/6;
    }
  }
}

@media (max-width: 744px) {
  .header {

    &__box {
      grid-column: 1/4;
    }
  }
}


@media (max-width: 738px) {
  .header {
    &__images {
      grid-column: 2/-1;
      height: 245px;
      display: flex;
      background-image: url(../images/bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &__box {
      grid-column: 1/-1;
    }
  }
}


@media (max-width: 320px) {
  .header {

    &__title {
      margin-bottom: 20px;
    }

    &__images {
      grid-column: 1/-1;
      background-image: url(../images/mobilebg.png);
    }
  }
}
