.nav {
  margin-bottom: 170px;

  &__navigation {
    padding-top: 30px;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__specs {
    color: $light-gray;
  }

  &__languages {
    margin-left: 20px;
    margin-right: 47px;
  }

  &__eng {
    color: $bd;
  }

  &__ua {
    color: $bd;
  }


  &__btn {
    background: $grey;
    width: 102px;
    padding: 18px 0;
    color: $ff;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: $black;
    }

    &:active {
      background: $do;
    }
  }

  &__button {
    display: none;
  }
}

@media (max-width: 744px) {
  .nav {
    margin-bottom: 130px;

    &__navbar {
      gap: 30px;
    }

    &__languages {
      margin-left: 0;
      margin-right: 0;
    }

    &__btn {
      width: 100px;
    }

    &__button {
      display: flex;
      background-image: url(../images/icon/Icon-Burger-menu.svg);
      width: 32px;
      height: 32px;
    }
  }
}

@media (max-width: 725px) {
  .nav {

    &__specs {
      display: none;
    }

    &__languages {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .nav {
    margin-bottom: 0;

    &__btn {
      display: none;
    }
  }
}

