.navigation {
  margin-bottom: 90px;

  &__navbar {
    grid-column: 4/10;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    color: $grey;

    &:hover {
      font-weight: 500;
      color: $black;
    }
  }
}

@media (max-width: 920px) {
  .navigation {
    &__navbar {
      grid-column: 3/11;
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

