* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}


img {
  max-width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
}

input {
  outline:none;
  border:none;
}

textarea {
  border:none;
  outline:none;
}

button {
  border: none;
}
