.technology {

  &__mobile {
    display: none;
  }

  &__box {
    grid-column: span 6;
  }

  &__case {
    grid-column: span 6;
  }

  &__mobiles {
    display: none;
  }

  &__images {
    display: none;
  }
}

@media (max-width: 1080px) {
  .technology {
    position: relative;

    &__box {
      grid-column: 1/7;
      margin-right: 20px;
      margin-bottom: 160px;
    }

    &__img {
      display: none;
    }

    &__case {
      grid-column: 7/-1;
    }

    &__images {
      position: absolute;
      display: flex;
      right: 0;
      width: 500px;
      height: 100%;
    }
  }
}

@media (max-width: 971px) {
  .technology {

    &__images {
      width: 465px;
    }
  }
}

@media (max-width: 885px) {
  .technology {

    &__images {
      width: 425px;
    }
  }
}

@media (max-width: 800px) {
  .technology {

    &__images {
      width: 350px;
    }
  }
}

@media (max-width: 744px) {
  .technology {
    &__box {
      grid-column: 1/5;
    }
  }
}


@media (max-width: 732px) {
  .technology {

    &__mobile {
      display: flex;
      grid-column: 1/-1;
      margin-bottom: 30px;
    }

    &__case {
      grid-column: 1/-1;
      margin-bottom: 20px;
    }

    &__box {
      display: none;
    }

    &__mobiles {
      display: block;
      grid-column: 1/-1;
    }

    &__img {
      display: flex;
    }

    &__images {
      display: none;
    }

  }
}
