.technology {

  &__mobile {
    display: none;
  }

  &__box {
    grid-column: span 6;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 60px;
    color: $cg;
  }

  &__link {
    color: $color;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      background-color: $color;
      width: 55%;
      height: 1px;
      transition: all 0.3s;
      position: absolute;
      bottom: -5px;
      left: 0;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  &__case {
    grid-column: span 6;
  }

  &__mobiles {
    display: none;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__images {
    display: none;
  }
}

@media (max-width: 1080px) {
  .technology {
    position: relative;

    &__box {
      grid-column: 1/7;
      margin-right: 20px;
      margin-bottom: 160px;
    }

    &__img {
      display: none;
    }

    &__case {
      grid-column: 7/-1;
    }

    &__images {
      position: absolute;
      display: flex;
      right: 0;
      width: 500px;
      height: 100%;
    }
  }
}

@media (max-width: 971px) {
  .technology {

    &__images {
      width: 465px;
    }
  }
}

@media (max-width: 885px) {
  .technology {

    &__text {
      margin-bottom: 30px;
    }

    &__images {
      width: 425px;
    }
  }
}

@media (max-width: 800px) {
  .technology {

    &__images {
      width: 350px;
    }
  }
}

@media (max-width: 768px) {
  .technology {
    &__box {
      grid-column: 1/5;
    }
  }
}


@media (max-width: 732px) {
  .technology {

    &__mobile {
      display: flex;
      grid-column: 1/-1;
      margin-bottom: 30px;
    }

    &__case {
      grid-column: 1/-1;
      margin-bottom: 20px;
    }

    &__box {
      display: none;
    }

    &__title {
      display: none;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__mobiles {
      display: block;
      margin-bottom: 0;
      grid-column: 1/-1;
    }

    &__img {
      display: flex;
    }

    &__images {
      display: none;
    }

  }
}
