.about-speaker {
  position: relative;
  overflow-x: hidden;

  &__title {
    color: $c-text-dark-grey;
    font-family: "DIN Pro", sans-serif;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    line-height: 130%;
    margin-bottom: 23px;

    @include onTablet {
      text-align: left;
      padding-left: 34px;
    }

    @include onDesktop {
      font-size: 64px;
      line-height: 83px;
      margin-bottom: 27px;
    }
  }

  &__subtitle {
    padding: 0 30px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: $c-text-dark-grey;
    margin-bottom: 101px;
    @include onTablet {
      text-align: left;
      width: 300px;
      padding: 0 39px;
    }

    @include onDesktop {
      width: 360px;
    }
  }

  &__speaker {
    width: 100%;
    z-index: -1;
    margin-bottom: 40px;
    @include onTablet {
      display: block;
      background: url(../images/main-device.png) center/cover no-repeat;
      position: absolute;
      right: -35%;
      top: -10%;
      height: 365px;
      width: 740px;
    }

    @include onDesktop {
      top: -20%;
      left: 420px;
      height: 464px;
      width: 939px;
    }

  }

  &__speaker-img {
    width: 100%;
    display: block;
    position: relative;
    @include onTablet {
      display: none;
    }
  }
}
