.benefits {
  @include content-padding-inline;

  margin-block: 110px;

  @include on-tablet {
    margin-block: 140px;
  }

  @include on-desktop {
    margin-block: 170px;
  }

  @include on-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    column-gap: 100px;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 65px 20px;
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
    }
  }

  &__links {
    padding: 0;
    list-style-type: none;
    display: none;
    gap: 52px;
    margin: 0;
    font-size: 14px;
    height: 76px;
    align-items: center;

    @include on-desktop {
      display: flex;
    }
  }

  &__link {
    line-height: 20px;
    transition: background-color 0.3s ease;
    height: 100%;
    padding-inline: 16px;

    a {
      color: $color-black;
      text-decoration: none;
      transition: color 0.3s ease;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:first-child {
      font-weight: 700;
    }

    &:hover {
      background-color: #131313;

      a {
        color: $color-white;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 3;
    }

    &__icon--1 {
      background-image: url(../images/icon/benefits-1.png);
      width: 50;
      height: 40;
    }

    &__icon--2 {
      background-image: url(../images/icon/benefits-2.png);
      width: 46;
      height: 40;
    }

    &__icon--3 {
      background-image: url(../images/icon/benefits-3.png);
      width: 46;
      height: 37;
    }

    &__icon--4 {
      background-image: url(../images/icon/benefits-4.png);
      width: 44;
      height: 44;
    }

    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      margin: 40px 0 20px;
    }

    &__description {
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      margin: 0;
    }
  }
}
