.benefits {
  padding-top: 110px;

  @include on-tablet {
    padding-top: 140px;
  }

  @include on-desctop {
    padding-top: 170px;
  }


  &__top {
    @media (max-width: 1279px) {
      display: none;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 84px;
    padding: 0;
    margin: 28;
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    font-family: Inter, sans-serif;
    color: $black-color;
    text-decoration: none;


    &:hover {
      font-weight: 700;
      transform: scale(1.1);
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;

    @include on-desctop {
      padding-top: 64px;
    }
  }
}
