.button-buy {
  width: 102px;
  height: 48px;
  background-color: $color-broun-main-text;
  border: 1px solid transparent;
  font-size: 12px;
  color: $color-white;
  margin-left: 24px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #131313;
  }

  &--desktop {
    display: none;
  }

  @include onTablet {
    display: inline-block;
  }
}
