.button-gray {
  border: none;
  width: 100px;
  height: 48px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  background-color: #333;
  padding: 0;
  cursor: pointer;

  &:hover {
    background-color: #131313;
    transition-duration: 0.3s;
  }
}

.button-aside {
  margin-top: 162px;
  width: 100%;

  @include on-tablet {
    display: none;
  }
}

.button-green {
  border: none;
  width: 102px;
  height: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background-color: #0db2b3;
  padding: 0;
  margin-top: 30px;
  cursor: pointer;

  &:hover {
    background-color: #0c797a;
    transition-duration: 0.3s;
  }
}
