.button-primary {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  justify-content: center;

  &--grey {
    line-height: 48px;
    background-color: $c-grey-700;

    @include hover(background-color, $c-grey-800);
  }

  &--blue {
    line-height: 40px;
    display: flex;
    background-color: $c-blue-400;

    @include hover(background-color, $c-blue-500);
  }
}
