.button {
  display: block;
  background-color: $black-color;
  color: $white-color;
  height: 48px;

  cursor: pointer;

  &:hover {
    background-color: $hover-black;
    transform: scale(1.1);
  }
}
