.container {
  max-width: 1200px;
  padding: 0 $paddingContainerOnMobile;
  margin: 0 auto;
  
  @include onTablet {
    padding: 0 $paddingContainerOnTablet;
  }

  @include onDesktop {
    padding: 0 125px;
  }

  &--inform-blocks {
    @include onTablet {
      padding: 0;
    }
      
    @include onDesktop {
      padding: 0 125px;
    }
  }

  &--features {
    padding-right: 45px;
    padding-top: 30px;

    @include onTablet {
      padding: 60px 90px 0;
    }

    @include onDesktop {
      padding: 60px 100px 0;
    }
  }
}
