.contact {
  margin-top: 150px;
  
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: $color--333;
  
    @include tablet() {
      font-size: 36px;
      line-height: 46px;
    }
  
    @include desktop() {
      font-size: 56px;
      line-height: 70px;
    }
  }
}
