.design {
  margin-top: 0;
  
  &__card {
    margin: 0 auto;
    text-align: center;
    display: none;
    transition: transform $smoth;
  
    @include tablet() {
      display: block;
      margin-top: 50px;
    }
  
    @media (min-width: 300px) {
      width: 280px;
    }
  
    &-1 {
      display: block;
      margin-top: 100px;
  
      @include tablet() {
        margin-top: 50px;
      }
    }
  
    &:hover {
      transform: scale(1.1);
    }
  }
  
  &__content {
  
    @include desktop() {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }
  }
  
  &__img {
    text-align: center;
    margin: 0 auto;
  }
  
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $smoth;
    margin-top: 30px;
  }
  
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #7c7c7c;
    margin-top: 22px;
  }
  
  &__item {
    display: block;
  
    @include tablet() {
      display: flex;
    }
  }
}
