.dropdown {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 768px;
  padding: 24px 0;
  z-index: 5;
  background: $c-white;

  transform: translateX(-100%);
  transition: transform 0.3s;

  &:target {
    transform: translateX(0);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    list-style: none;
    margin: 0 0 48px;
  }

  &__item {
    margin-bottom: 44px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @extend %link;
    font-size: 18px;
    line-height: 22px;
  }
}
