.feature {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $c-grey-700;
  }

  &__item {
    position: relative;
    padding-left: 16px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      background-color: #000;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
