.feedback {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  @include onTablet {
    max-width: 990px;
    flex-direction: row;
  }

  @include onDesktop {
    max-width: 1920px;
  }

  &__title {
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 30px;
    font-family: "DIN Pro", sans-serif;
    font-size: 37px;
    line-height: 46px;
    color: #333;

    @include onTablet {
      display: inline-block;
      width: 340px;
      height: 216px;
      padding-left: 0;
      font-size: 56px;
      line-height: 70px;
    }

    @include onDesktop {
      width: 480px;
      height: 143px;
      line-height: 72px;
    }
  }

  &__form {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    @include onTablet {
      max-width: 900px;
      margin-right: 0;
    }
  }

  &__field {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    border: 1px solid rgba(189, 189, 189, 1);

    &::placeholder {
      height: 17px;
      font-family: "Helvetica Neue light", sans-serif;
      font-size: 16px;
      line-height: 20px;
      width: 174px;
      color: rgba(189, 189, 189, 1);
    }

    @include onTablet {
      display: block;
    }

    &:focus {
      border: 1px solid #828282;
    }
  }

  &__field-email {
    height: 48px;
    margin-bottom: 19px;
  }

  &__field-message {
    height: 128px;
    margin-bottom: 30px;
    padding-top: 16px;

    @include onTablet {
      height: 201px;
    }

    @include onDesktop {
      height: 128px;
    }
  }

  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
  }

  &__button {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 43px;
    text-align: center;
    width: 102px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(13, 178, 179, 1);
    border: 1px solid rgba(13, 178, 179, 1);
    color: rgba(255, 255, 255, 1);

    @include onTablet {
      margin-left: 0;
    }

    @include onDesktop {
      display: block;
      margin-left: 0;
      margin-bottom: 107px;
    }

    &:hover {
      background-color: rgba(12, 121, 122, 1);
      border-color: rgba(12, 121, 122, 1);
    }

    &:disabled {
      background-color: rgba(207, 239, 240, 1);
      border-color: rgba(207, 239, 240, 1);
    }
  }
}
