.footer {
  margin-top: 250px;

  &__icon-top {
    display: none;
  
    @include tablet() {
      display: flex;
      justify-content: flex-end;
      margin-top: 50px;
      margin-left: -150px;
    }
      
    &--wrapper {
      display: flex;
      width: 50%;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__copyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #bdbdbd;
    margin-top: 70px;
    margin-bottom: 10px;
  }
}
