.footer {
  position: relative;
  width: 100%;

  @include onDesktop {
    max-width: 1920px;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    display: none;

    @include onTablet {
      display: inline-block;
      margin-bottom: 64px;
    }
  }

  &__arrow {
    position: absolute;
    width: 23px;
    height: 20px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    right: 16px;
    top: 0;

    @include onTablet {
      right: 48px;
    }

    @include onDesktop {
      right: 263px;
    }

    &:hover {
      transform: scale(1.15);
    }
  }

  &__socialin {
    display: flex;
    justify-content: space-between;
    width: 174px;
    margin-bottom: 23px;

    @include onTablet {
      margin-bottom: 108px;
    }

    @include onDesktop {
      margin-bottom: 70px;
    }
  }

  &__icon {
    width: 17px;
    height: 17px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: contain;

    &--1 {
      background-image: url("../images/facebook.jpg");
    }

    &--1:hover {
      background-image: url("../images/facebook-hover\ \(2\).svg");
      transform: scale(1.15);
    }

    &--2 {
      background-image: url("../images/twitter.jpg");
    }

    &--2:hover {
      background-image: url("../images/twitter-hover\ \(1\).svg");
      transform: scale(1.15);
    }

    &--3 {
      background-image: url("../images/instagram.jpg");
    }

    &--3:hover {
      background-image: url("../images/inst-hover\ \(1\).png");
      transform: scale(1.15);
    }
  }

  &__text {
    display: inline-block;
    margin: 0;
    width: 260px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #bdbdbd;

    @include onTablet {
      width: max-content;
    }
  }
}
