.footer {
  @include section-padding-top;

  padding-bottom: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    position: relative;

    @include tablet {
      gap: 60px;
    }
  }

  &__logo {
    display: none;

    @include tablet {
      display: flex;
      width: 161px;
      height: 25px;
      margin-inline: auto;
    }
  }

  &__logo-img {
    width: 100%;
    height: 100%;
  }

  &__socials-list {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
  }

  &__copyright {
    color: $c-grey-400;
  }

  &__privacy-terms {
    text-decoration: none;
    color: $c-grey-400;

    @include hover(color, $c-grey-700);
  }

  &__scroll-up-link {
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    @include tablet {
      display: block;
    }
  }
}
