.form {
  &__input {
    @include autofill;
    @include form-styles;

    height: 48px;
  }

  &__textarea {
    @include autofill;
    @include form-styles;

    resize: none;
    padding-block: 12px;
  }

  &__button {
    width: 102px;
    margin-top: 11px;
  }
}
