.form {

  &__field {
    background-color: #f7f7f7;
    display: block;
    width: 100%;
    box-sizing: border-box;
    line-height: 24px;
    border: 1px solid #828282;
    padding: 12px 20px;

    &::placeholder {
      color: #bdbdbd;
    }

    &--textarea {
      font-family: inherit;
      height: 128px;
      resize: none;
    }

    &:focus {
      border-color: #0c797a;
      outline: none;
    }

    &:invalid:focus {
      border-color: #eb5757;
      outline: none;

      &::placeholder {
        color: #eb57574d;
      }
    }
  }
}
