.get-in-touch {

  &__title {
    @include onTablet {
      margin-top: 95px;
    }

    @include onDesktop {
      margin-top: 140px;
    }
  }

  &__form {

    @include onTablet {
      margin-top: 145px;
    }

    @include onDesktop {
      margin-top: 180px;
    }
  }

  &__input {
    margin-bottom: 19px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid $color-broun-link;
    padding-left: 30px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 10px 5px 5px $color-broun-link;
    }
    
    &:focus {
      border: 1px solid #828282;
    }

    &::placeholder {
      font-family: "DIN pro";
      font-size: 16px;
      line-height: 19px;
      color: #BDBDBD;
    }
  
    &-email {
      height: 48px;
    }
  
    &-textarea {
      height: 128px;
      resize: none;
      font-family: inherit;
      padding-top: 16px;

      @include onTablet {
        height: 201px;
      }

      @include onDesktop {
        height: 128px;
      }
    }
  }

  &__buttom {
    margin-top: 26px;
    width: 102px;
    height: 40px;
    background: $color-blue-link;
    color: $color-white;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 15px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0C797A;
    }
  }
}