.header {
  position: relative;

  &__img-picture {
    width: 100%;
    min-height: 245px;
    margin-bottom: 40px;
    object-fit: cover;
    object-position: left;
    order: 0;
    
    @include onTablet {
      height: 345px;
      order: 1;
      margin: 100px 0 130px;
    }

    @include onDesktop {
      height: 464px;
      margin: 100px 0 120px;
    }
  }

  &__icon {
    width: 24px;
    text-decoration: none;

    &--menu {
      @include onTablet {
        display: none;
      }
    }

    &--back {
      @include onTablet {
        display: none;
      }
    
      @include onDesktop {
        display: none;
      }
    }
  }

  &__info {
    text-align: center;
    order: 1;
    z-index: 1;
    
    @include onTablet {
      text-align: left;
      order: 0;
    }
  }

  &__info-title {
    margin-bottom: 23px;
    font-size: 44px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;

    @include onTablet {
      font-size: 48px;
      line-height: 62px;
      margin: 136px 0 34px;
    }

    @include onDesktop {
      font-size: 64px;
      line-height: 83px;
      margin: 180px 0 28px;

    }
    
  }

  &__info-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 128px;
    }

  }

  &__lang-desktop {
    display: none;
    

    &-text {
      width: 70px;
      padding-right: 12px;
      font-size: 14px;
      color: #4f4f4f;
      cursor: pointer;
      

      &:hover {
        -webkit-text-stroke: 1px $color-broun-main-text;
      }

    }

    

    @include onTablet {
      display: flex;
      align-items: center;

    }

    &-link {
      text-decoration: none;
      font-size: 14px;
      color: #E0E0E0;

      
      &:hover {
        
        -webkit-text-stroke: 1px $color-broun-main-text;
      }

      &--en {
        -webkit-text-stroke: 1px $color-broun-main-text;
      }
    }
  }
}
