.header {
  position: relative;

  &__wrapper {
    @include page-grid;
  }

  &__title {
    text-transform: uppercase;
    display: block;
    z-index: 2;
    margin-block: 285px 0;
    height: 156px;

    grid-column: 1 / -1;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;

    @include on-tablet {
      grid-column: span 4;
      line-height: 62px;
      font-size: 48px;
      margin-top: 131.23px;
      height: 186px;
    }

    @include on-desctop {
      line-height: 78px;
      font-size: 62px;
      margin-top: 171px;
      height: 234px;
    }
  }

  &__text {
    z-index: 2;
    display: block;
    margin: 0;
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    height: 120px;

    @include on-tablet {
      grid-column: 1 / 4;
      margin-top: 30px;
    }
  }

  &__image {
    height: 245px;
    width: 100%;
    max-width: 431px;
    object-fit: cover;
    object-position: left;
    position: absolute;
    top: 76px;

    @include on-tablet {
      height: 317;
      max-width: 429.39px;
      top: 200.23px;
      right: 30px;
    }

    @include on-desctop {
      height: 464px;
      max-width: 816px;
      top: 160px;
      right: 0;
    }
  }
}
