.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/icon/icon-burger-menu.png);
    width: 32px;
    height: 32px;

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icon/icon-close.png);
  }

  &--avatar {
    background-image: url(../images/icon/icon-avatar.png);
    height: 62px;
    width: 62px;
  }

  &--facebook {
    mask-image: url(../images/icon/icon-facebook.png);
    background-color: #4f4f4f;
  }

  &--twitter {
    mask-image: url(../images/icon/icon-twitter.png);
    background-color: #4f4f4f;
  }

  &--instagram {
    mask-image: url(../images/icon/icon-instagram.png);
    background-color: #4f4f4f;
  }

  &--arrow-up {
    background-image: url(../images/icon/icon-arrow-up.png);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 34px;
    display: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }

    @include on-tablet {
      display: block;
      right: 34px;
    }

    @include on-desktop {
      right: 123px;
    }
  }

  &--arrow-prev {
    background-image: url(../images/icon/icon-arrow-prev.png);
    height: 14px;
    width: 48px;
  }

  &--arrow-next {
    background-image: url(../images/icon/icon-arrow-next.png);
    height: 14px;
    width: 48px;
  }
}
