.icon {
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: cover;

  &__burger-menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    @include on-tablet {
      display: none;
    }

    @include hover(transform, scale(1.07));
  }

  &__close {
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/icon_close.svg);

    @include hover(transform, scale(1.07));
  }
}
