.icon {
  @include hover(transform, scale(1.1));

  &--menu {
    display: block;
    background-image: url(../images/header/icon-burger-menu.svg);
    width: 32px;
    height: 32px;
    margin-left: 30px;

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    display: block;
    background-image: url(../images/header/icon-close.svg);
    width: 24px;
    height: 24px;
    margin-left: 30px;
  }
}
