.main-blocks {
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-bottom: 110px;

  @include tablet {
    gap: 140px;
    margin-bottom: 140px;
  }

  @include desktop {
    gap: 170px;
    margin-bottom: 170px;
  }
}
