.main-blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 110px;

  & > * {
    padding-top: 100px;
  }

  @include tablet {
    gap: 40px;
    margin-bottom: 140px;
  }

  @include desktop {
    gap: 70px;
    margin-bottom: 170px;
  }
}
