.meetLuna {
  &__img {
    margin-top: 100px;
    width: 100%;
    border-radius: 30px;
    transition: transform 1s;
  
    @include desktop() {
      height: 700px;
    }
  
    &:hover {
      transform: scale(0.85);
    }
  }
}
