.menu {
  background: $c-gray;
  height: 100vh;

  @include on-tablet {
    height: 100vh;
  }

  &__nav {
    padding: 30px 0 50px;

    @include on-tablet {
      padding: 64px 0;
    }
  }

  &__bottom {
    @media (min-width: 744px) {
      display: none;
    }

  }

  &__lang {
    padding-bottom: 162px;
  }

  &__button {
    width: 260px;
    margin-bottom: 30px;

    @media (min-width: 744px) {
      display: none;
    }
  }
}
