.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 25px;

    @include desktop {
      flex-direction: row;
      gap: 84px;
    }
  }

  &__link {
    text-decoration: none;

    @include hover(font-weight, 700);
  }
}
