.nav {
  @include onDesktop768px {
    display: block;
  }

  &__wrap {
    display: flex;
    gap: 27px;
    align-items: center;
  }

  &__list {
    list-style: none;

    &-link {
      @extend %link;

      @include hover(font-weight, bold);
    }

    &-language {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
}
