.nav-aside {
  margin: 31px 0 50px;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
  }
}

.nav-desktop {
  display: none;

  @include on-desktop {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 198px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 84px;
    list-style: none;
  }

  &__row {
    min-width: 8em;
  }
}

.nav__row-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    font-weight: 700;
    color: #131313;
  }

  @include on-tablet {
    font-size: 22px;
    line-height: 28px;
  }
}
