.navigation {
  display: none;

  @include onDesktop {
    display: block;
    padding-top: 148px;
    padding-bottom: 27px;
  }

  &__container {
    @include onDesktop {
      display: flex;
      width: 716px;
      margin: 0 auto;
      justify-content: space-between;
      gap: 0;
    }
  }

  &__link {
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color: #333;
  }

  &__link:first-of-type {
    color: #131313;
  }
}
