.navigation {
  display: none;

  @include onDesktop {
    position: static;
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 148px;
    padding-bottom: 27px;
  }

  &__container {
    @include onDesktop {
      display: flex;
      margin: 0 auto;
      max-width: 900px;
      justify-content: space-between;
      gap: 0;
    }
  }

  &__link {
    display: inline-block;
    box-sizing: border-box;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color: #333;
  }

  &__link:first-of-type {
    color: #131313;
  }

  &__link:hover {
    color: #131313;
    border-bottom: 1px solid #131313;
  }
}
