.our-story {
  width: 100%;
  padding-top: 90px;

  @include onTablet {
    padding-top: 130px;
  }

  @include onDesktop {
    padding-top: 150px;
  }

  &__photo {
    width: 320px;
    height: 246px;
    margin: 0 auto;
    background-image: url("../images/about-us.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

    @include onTablet {
      width: 768px;
      height: 400px;
    }

    @include onDesktop {
      width: 1440px;
      height: 590px;
    }
  }

  &__play {
    position: relative;
    top: 50%;
    left: 50%;
    width: 108px;
    height: 108px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid rgba(243, 244, 245, 1);

    @include onTablet {
      width: 190px;
      height: 190px;
    }

    @include onDesktop {
      width: 232px;
      height: 232px;
    }
  }

  &__play-icon {
    position: absolute;
    width: 14px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include onTablet {
      width: 20px;
      height: 25px;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__play-text {
    display: none;

    @include onDesktop {
      display: inline-block;
      margin: 0;
      width: 100%;
      height: 232px;
      text-align: center;
      font-size: 24px;
      line-height: 232px;
      color: #f3f4f5;
      text-transform: uppercase;
    }
  }
}
