.page {
  background-color: $page-color;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $page-text-color;
  min-width: 320px;

  scroll-behavior: smooth;

  &-overflow {
    overflow: hidden;
  }

  &__up {
    position: sticky;
    text-align: right;
    bottom: 30px;
    transition: transform 0.3s;
  }

  &__up:active {
    transform: translateY(-25px);
  }
}
