.presentation {
  &__container {
    @include onTablet {
      display: flex;
      flex-direction: column;
      max-width: 733px;
    }

    @include onDesktop {
      display: flex;
      flex-direction: row;
      gap: 250px;
      max-width: 1170px;
    }
  }

  &__block {
    &-one {
      @include onDesktop {
        width: 276px;
      }
    }

    &-two {
      display: none;

      @include onTablet {
        display: flex;
        flex-direction: column;
      }

      @include onDesktop {
        width: 276px;
      }
    }

    &-tree {
      display: none;

      @include onTablet {
        display: flex;
        flex-direction: column;
      }

      @include onDesktop {
        width: 276px;
      }
    }

    &-four {
      display: none;

      @include onTablet {
        display: flex;
        flex-direction: column;
      }

      @include onDesktop {
        width: 276px;
      }
    }

    @include onTablet {
      width: 340px;
      display: flex;
      gap: 20px;
      flex-direction: row;
    }

    &--img {
      margin-bottom: 40px;
      transition: 0.5s;
      cursor: pointer;

      @include onTablet {
        width: 340px;
      }

      &:hover {
        transform: scale(1.3);
      }

      &-circul {
        background-image: url(../images/presentation-circul.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;

        @include onDesktop {
          width: 276px;
        }
      }

      &-volume {
        background-image: url(../images/benefits-volume.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;

        @include onDesktop {
          width: 276px;
        }
      }

      &-wifi {
        background-image: url(../images/benefits-wifi.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;

        @include onDesktop {
          width: 276px;
        }
      }

      &-sun {
        background-image: url(../images/benefits-sun.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;

        @include onDesktop {
          width: 276px;
        }
      }
    }

    &--title {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: $colorBlack;
      margin-bottom: 20px;
      height: 44px;
    }

    &--text {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #7c7c7c;
      margin-bottom: 110px;

      @include onDesktop {
        width: 276px;
      }
    }
  }

  &__img {
    background-image: url(../images/presentation-mobile.svg);
    height: 195px;
    width: 296px;
    background-repeat: no-repeat;
    margin: 0 auto 110px;
    transition: 0.5s;
    cursor: pointer;

    @include onTablet {
      background-image: url(../images/presentation-tablet.png);
      background-blend-mode: darken;
      background-repeat: no-repeat;
      width: 700px;
      height: 430px;
      margin: 0 auto;
      transition: 0.5s;
      cursor: pointer;
      margin-bottom: 140px;
    }

    &:hover {
      transform: scale(0.95);
      filter: drop-shadow(3px 3px 12px #000);
    }
    @include onDesktop {
      background-image: url(../images/presentation-descktop.png);
      background-blend-mode: darken;
      width: 833px;
      height: 500px;
    }
  }
}
