.presentation {
  &__img {
    background-image: url(../images/luna-mob.png);
    padding-top: 50%;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      background-image: url(../images/luna-des.png);
    }

    @include desktop {
      background-image: url(../images/luna-des.png);
    }
  }
}
