.presentation {

  &__image-container {
    width: 100vw;
    margin-left: 45%;
    transform: translateX(-45%);
    margin-bottom: 40px;

    @include onTablet {
      width: inherit;
      margin-left: 0;
      transform: translateX(0);
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}
