.questions {
  &__title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: $colorBlack;
    margin-bottom: 27px;

    @include onTablet {
      font-size: 36px;
    }

    @include onDesktop {
      line-height: 70px;
      font-size: 56px;
      width: 584px;
    }
  }

  &__container {
    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__form {
    @include onTablet {
      display: flex;
      flex-direction: column;
      width: 330px;
    }

    @include onDesktop {
      width: 581px;
    }
  }

  &__email {
    box-sizing: border-box;
    width: 260px;
    height: 48px;
    border: 1px solid #828282;
    margin-bottom: 20px;

    @include onTablet {
      width: 330px;
    }

    @include onDesktop {
      width: 581px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #bdbdbd;
      padding: 12px;
      padding-left: 20px;
    }

    &:focus {
      outline: none;
      border: 1px solid #0c797a;

      font-family: "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: $colorBlack;
    }

    &:invalid:not(:placeholder-shown) {
      color: #eb5757;
      border-color: #eb5757;
      -webkit-text-fill-color: #eb5757;
    }

    &:valid:not(:focus) {
      color: rgb(56, 19, 216);
      border-color: rgb(167, 168, 227);
      -webkit-text-fill-color: rgb(40, 51, 204);
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 260px;
    height: 128px;
    resize: none;
    border: 1px solid #828282;
    margin-bottom: 30px;

    @include onTablet {
      width: 330px;
    }

    @include onDesktop {
      width: 581px;
    }

    &::placeholder {
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #bdbdbd;
      padding: 12px;
      padding-left: 20px;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    width: 102px;
    height: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0db2b3;
    border: none;
    margin-bottom: 113px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: #0c797a;
    }
  }
}
