.questions {
  &__content {
    padding: 0 30px;
    @include onTablet {
      padding: 0 34px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      gap: 20px;
    }
  }

  &__title {
    margin-bottom: 30px;
    @include onTablet {
      font-size: 56px;
      line-height: 70px;
      margin-bottom: 0;
    }
  }

  &__input {
    width: 100%;
    color: #000;
    border: 1px solid #828282;
    padding: 16px 56px 16px 30px;
    font-size: 16px;
    font-family: HelveticaNeueCyr, sans-serif;
    margin-bottom: 19px;

    &--text {
      resize: none;
      margin-bottom: 30px;
      min-height: 128px;
      @include onTablet {
        height: 200px;
      }

      @include onDesktop {
        height: 128px;
      }
    }
  }
  &__button {
    display: block;
    border: none;
    margin-bottom: 60px;
    padding: 13px 35px;
    font-size: 12px;
    font-family: "Helvetica", sans-serif;
    color: #fff;
    background-color: $c-text-green;
    transition: background-color 0.4s ease;

    &:active {
      background-color: $c-text-dark-green;
      box-shadow: 0 8px 14px rgba(11, 228, 145, 0.81);
    }

    @include onDesktop {
      margin-bottom: 108px;
    }
  }

  &__logo {
    margin: 0 auto ;
  }
}
