.slider {
  &__arrow-left-wrapper,
  &__arrow-right-wrapper {
    cursor: pointer;
  }

  &__arrow-left-wrapper {
    transform: translateX(-45%);

    @include tablet {
      transform: translateX(0%);
    }
  }

  &__arrow-right-wrapper {
    transform: translate(45%, -100%);

    @include tablet {
      transform: translate(90%, -100%);
    }
  }
}
