

.swiper {
  &-pagination {
    &-fraction {
      font-weight: 400;
      font-size: 11px;
      line-height: 14px;
      // color: $c-softGray;wiper 
      color: grey;
    }

    &-current {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      // color: $c-black;
      color: black;
    }
  }

  &-slide {
    overflow: hidden;
  }
}
