.technology {
  width: 100%;
  height: 830px;

  @include onTablet {
    width: 700px;
  }

  @include onDesktop {
    width: 1214px;
  }

  &__title {
    width: 100%;
    height: 46px;
    font-family: "DIN Pro", sans-serif;
    font-size: 37px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #333;

    @include onTablet {
      width: 378px;
      height: 70px;
      margin-left: 123px;
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__photo {
    display: block;
    width: 320px;
    height: 277px;
    margin: 0 auto;
    margin-top: 40px;
    object-fit: cover;
    object-position: left;

    @include onTablet {
      width: 768px;
      height: 546px;
      margin-top: 0;
    }

    @include onDesktop {
      width: 1230px;
      height: 546px;
    }
  }

  &__article {
    width: 260px;
    height: 294px;
    margin: 0 auto;
    margin-top: 90px;

    @include onTablet {
      width: 700px;
      height: 390px;
      margin-top: 116px;
    }

    @include onDesktop {
      width: 786px;
      height: 323px;
      margin-top: 62px;
    }
  }

  &__text {
    width: 260px;
    height: 110px;
    margin: 0 auto;
    font-family: "DIN Pro", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333;

    @include onTablet {
      width: 700px;
      height: 144px;
      font-size: 24px;
      line-height: 36px;
    }

    @include onDesktop {
      width: 786px;
      height: 108px;
    }
  }

  &__avatar {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 40px;

    @include onDesktop {
      margin-top: 30px;
    }
  }

  &__avatar-name {
    width: 120px;
    height: 26px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #333;

    @include onTablet {
      width: 174px;
      height: 27px;
    }
  }

  &__avatar-role {
    width: 120px;
    height: 16px;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7c7c7c;

    @include onTablet {
      width: 174px;
      height: 17px;
      margin-top: 5px;
    }
  }
}
