.technology {
  @include sectionIndents;

  &__container {
    @include container;
    @include onTablet {
      @include pageGrid;
    }
  }

  &__photo {
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer;

    @include onTablet {
      margin-top: 0;
      grid-column: 5 / -1;
      order: 2;
      margin-right: -34px;
    }

    @include onDesktop {
      grid-column: 7 / -1;
      margin-right: 0;
    }
  }

  &__img {
    width: 100%;
    @include hover(transform, scale(1.2));

    &--1 {
      display: none;

      @include onTablet {
        display: grid;
      }
    }

    &--2 {
      @include onTablet {
        display: none;
      }
    }
  }

  &__info {
    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__title {
    @extend %h2;
    color: $text-color;
    font-size: 36px;
    line-height: 46px;
  }

  &__text {
    @extend %p;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $benefits-text-color;
    margin-top: 18px;

    @include onTablet {
      margin-top: 30px;
    }
  }

  &__button {
    margin-top: 30px;

    @include onTablet {
      margin-top: 60px;
    }
  }
}
