.testimonilas {
  @include page-grid;

  background-image: url(../images/section_testimonilas/testimonilas_quotation_marks.svg);
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 110px;

  @include on-tablet {
    margin-top: 140px;
    background-image: url(../images/section_testimonilas/testimonilas_quotation_marks_tablet.svg);
  }

  @include on-desktop {
    margin-top: 170px;
  }

  &__text {
    grid-column: 1 / -1;
    margin-top: 50px;

    @include hover(transform, scale(1.07));

    @include on-tablet {
      margin-top: 60px;
    }

    @include on-desktop {
      grid-column: 2 / -2;

      margin-top: 42px;
    }
  }

  &__content {
    grid-column: 1 / -1;

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include hover(transform, scale(1.07));

    @include on-tablet {
      margin-top: 40px;
    }

    @include on-desktop {
      margin-top: 30px;
    }
  }

  &__name {
    margin-top: 10px;

    @include on-tablet {
      margin-top: 20px;
    }
  }

  &__post {
    margin-top: 5px;
  }
}
