.testimonilas {
  max-width: 786px;
  margin: 0 auto;
  background-image: url(../images/bg-testimonilas.svg);
  background-size: 210px;
  background-repeat: no-repeat;
  background-position: top center;

  &__text {
    @extend %text-quote;
    text-align: center;
    padding: 50px 0 30px;
  }

  &__card {
    text-align: center;
  }

  &__img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  &__name {
    margin-bottom: 5px;
  }

  &__position {
    @extend %text-secondary;
  }
}
