.testimonilas {
  @include content-padding-inline;

  background-image: url(../images/icon/icon--quotation.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 786px;
  margin: 0 auto 110px;

  @include on-tablet {
    margin-bottom: 140px;
  }

  @include on-tablet {
    margin-bottom: 170px;
  }

  &__comment {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $color-black;
    margin: 0 0 30px;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 30px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $color-black;
    margin: 10px 0 5px;

    @include on-tablet {
      margin-top: 20px;
    }
  }

  &__position {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $color-gray-medium;
    margin: 0;
  }
}
