.testimonials {
  &__content {
    padding: 0 30px;
    position: relative;
    @include onTablet {
      padding: 0 34px;
    }
  }

  &__background {
    position: absolute;
    width: 208px;
    left: 50%;
    transform: translateX(-50%);
    height: 171px;
    background: url(../images/ff.svg) center center/cover no-repeat;
    @include onTablet {
      width: 233px;
      height: 188px;
    }
  }

  &__descr {
    padding-top: 16px;
    font-family: "DIN Pro", sans-serif;
    color: $c-text-dark-grey;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    &::before {
      content: "“";
    }
    &::after {
      content: "”";
    }
    @include onTablet {
      padding-top: 75px;
      font-size: 24px;
      line-height: 36px;
      &::after {
        content: "";
      }
      &::before {
        content: "";
      }
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__name {
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    color: $c-text-dark-grey;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 7px;
  }

  &__post {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
    color: #7c7c7c;
  }
}
