.testimoni {
  &__block {
    margin-bottom: 110px;

    @include onTablet {
      margin-bottom: 140px;
    }
  }

  &__text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $colorBlack;
    margin-bottom: 30px;
    background-image: url(../images/testimoni-fone-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;

    @include onTablet {
      font-size: 24px;
      line-height: 36px;
    }

    @include onDesktop {
      width: 786px;
      margin: 0 auto;
      padding-bottom: 40px;
    }
  }

  &__foto {
    background-image: url(../images/testimoni-foto.svg);
    height: 62px;
    width: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 10px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $colorBlack;
    margin-bottom: 5px;
  }

  &__post {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #7c7c7c;
  }
}
