.testimonials {
  &__participant {

    @include onDesktop {
      width: 70%;
    }
  }
  
  &__content {
    background-image: url(../images/testimonials/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 170px;
    display: flex;
    align-items: end;
    margin-bottom: 30px;

    @include onTablet {
      height: 190px;
      margin-bottom: 40px;
    }

    @include onDesktop {
      align-items: center;
    }
  }
  
  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    text-align: center;

    @include onTablet {
      font-size: 24px;
      line-height: 150%;
    }
  }

  &__photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__photo {
    width: 62px;
    height: 62px;
    transition: transform $transition-speed;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    font-weight: bold;
    line-height: 138%;
    text-align: center;
    margin-bottom: 5px;
  }

  &__job-title {
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #7c7c7c;
  }
}
