.title {
  color: $c-text-dark-grey;
  font-family: "DIN Pro", sans-serif;
  font-size: 37px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: bold;
  @include onTablet {
    font-style: 56px;
    line-height: 70px;
  }
}
