.top-bar {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;

  &__hide {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    @media (max-width: 743px) {
      display: none;
    }
  }

  @include on-tablet {
    padding-block: 29px 0;
  }

  @include on-desctop {
    padding-block: 42px 0;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  &__button {
    width: 100px;
  }
}

.languages {
  display: flex;
  gap: 20px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 16px;

  &__spec {
    line-height: 16.93px;
    color: $spec-color;
  }

  &__lang {
    font-weight: 400;
    font-size: 16px;

    border: none;
    cursor: pointer;
    background: $c-gray;
    color: $inactive;

    &:hover {
      color: $black-color;
    }
  }
}
