.arrow {
  width: 48px;
  height: 14px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }

  @include hover(transform, scale(1.1));

  &--left {
    background-image: url(../images/svg/arrow-left.svg);
  }

  &--right {
    background-image: url(../images/svg/arrow-right.svg);
    height: 13px;
  }
}
