@import './arows';

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 3;
  margin-bottom: 210px;

  &__arrows {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
  }

  &__position {
    color: $primary-button-green-hover;

    &--current {
      color: $main-font-color;
    }

    &--last {
      font-size: 11px;
      line-height: 13px;
    }
  }
}
