.page {
  scroll-behavior: smooth;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  &__body {
    font-family: "Helvetica", sans-serif;
    background-color: #f7f7f7;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
  }
}
