.questions {

  &__title {
    font-family: "DIN Pro", sans-serif;
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;
    color: #333;
    margin-top: 45px;

    @include tablet {
      font-size: 56px;
      line-height: 70px;
      grid-column: 1 / 5;
      margin-top: 140px;
    }

    @include main {
      font-size: 56px;
      line-height: 72px;
      grid-column: 2 / 7;
      margin-top: 190px;
    }
  }

  &__form {
    text-align: start;
    box-sizing: border-box;

    @include tablet {
      grid-column: 5 / 9;
    }

    @include main {
      grid-column: 8 / 12;
    }
  }

  &__mail {
    height: 48px;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
    width: 100%;
    border-style: none;
    border: 1px solid #828282;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    box-sizing: border-box;

    &:focus {
      color: #000;
    }

    @include tablet {
      margin-top: 140px;
    }

    @include main {
      margin-top: 190px;
    }
  }

  &__textarea {
    height: 128px;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
    width: 100%;
    border-style: none;
    border: 1px solid #828282;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    
    &:focus {
      color: #000;
    }

    @include tablet {
      height: 200px;
    }
  }

  &__button {
    width: 102px;
    height: 40px;
    background: #0db2b3;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;

    &:hover {
      transform: scale(1.05);
    }
  }
}
