.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all $animation-duration ease;

  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.3) 0 19px 38px,
      rgba(0, 0, 0, 0.22) 0 15px 12px;
    transform: scale(1.03);
    border-radius: 20px;

    @include for-desktops {
      transform: scale(1.2);
    }
  }

  @include for-desktops {
    grid-column: span 12;
  }

  &--first {
    grid-column: span 4;

    @include for-desktops {
      grid-column: span 3;
    }
  }

  &--second,
  &--third,
  &--fourth {
    display: none;

    @include for-tablets {
      display: flex;
      align-items: center;
      text-align: center;
      grid-column: span 4;
    }

    @include for-desktops {
      grid-column: span 3;
    }
  }

  &__photo {
    display: block;
    object-fit: cover;

    &--first {
      width: 50px;
      height: 40px;
    }

    &--second {
      width: 46px;
      height: 40px;
    }

    &--third {
      width: 46px;
      height: 37px;
    }

    &--fourth {
      width: 44px;
      height: 44px;
    }

    &--first,
    &--second,
    &--third,
    &--fourth {
      @include for-desktops {
        width: 70px;
        height: 50px;
      }
    }
  }

  &__title {
    @include text-set(23px, 700, 28px);

    margin: 20px 0;

    @include for-tablets {
      margin: 50px 0 20px;
    }

    @include for-desktops {
      margin: 30px 0 52px;
      display: flex;
      text-align: center;

      &--special {
        margin: 30px 0 26px;
      }
    }

    &--features {
      @include text-set(18px, 700, 22px);

      color: $dark-turquoise-color;
      align-items: start;
      display: flex;
      margin: 0 0 20px;
      text-transform: uppercase;
      padding-left: 32px;

      @include for-tablets {
        padding-left: 70px;
      }

      @include for-desktops {
        @include text-set(34px, 700, 42px);
      }
    }
  }

  &__nav {
    margin: 0;
    padding-left: 32px;

    @include text-set(14px, 400, 21px);

    @include for-tablets {
      padding-left: 70px;
      width: 260px;
    }

    @include for-desktops {
      @include text-set(16px, 400, 24px);

      width: 378px;
    }
  }

  &__box {
    grid-column: span 4;

    @include for-desktops {
      &--first,
      &--third {
        grid-column: 1 / span 4;
      }

      &--third {
        padding-top: 56px;
      }

      &--second {
        grid-column: 6 / span 4;
      }
    }
  }
}

.special {
  padding-left: 100px;
}
