.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 25px;

  @include on-tablet {
    padding-block: 40px;
  }


  &-logo {
    width: 161px;
    height: 25px;
  }

  &-wrapper  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-specs {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #4F4F4F;

    display: none;

    @include on-tablet {
      display: block;

      margin-right: 30px;
    }
  }

  &-cta {
    display: none;

    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    text-decoration: none;

    color: #fff;
    background-color: black;

    padding-block: 16px;

    width: 102px;

    @include on-tablet {
      display: block;

      margin-right: 30px;
    }
  }

  &-menu {
    display: block;

    width: 32px;
    height: 32px;

    background-image: url(/src/images/icon/icon-burger.svg);

    @include on-desktop {
      display: none;
    }
  }
}

.header__top-buttons {
  display: none;

  @include on-tablet {
    display: block;

    margin-right: 30px;
  }

  @include on-desktop {
    margin-right: 47px;
  }

  &-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color:  #BDBDBD;

    cursor: pointer;

    border: none;
    background-color: $color-background;
  }
}

.header__top-buttons-button.active {
  font-weight: bold;
  color: black;
}




