@import "Header-description";
@import "Header-nav";
@import "Header-top-bar";

.header {
  position: relative;

  .lang-block {
    display: none;

    @include on-tablet {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
    }

    @include on-desktop {
      margin-block-start: 2px;
    }
  }
}
