.header__middle {
  @include page-grid;

  margin-top: 50px;
}

.header__middle-img {
  width: 100%;
  height: auto;

  transform: translate(15%);

  grid-column: 1/-1;

  @include on-tablet {
    grid-row: 1/3;
    grid-column: 4/-1;

    align-self: center;

    z-index: -1;

    transform: translate(0);
  }

  @include on-desktop {
    grid-row: 1/4;
    grid-column: 5/-1;
  }
}

.header__middle-title {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  text-transform: uppercase;
  color: $label-color;

  margin-top: 40px;

  grid-column: 1/-1;

  @include on-tablet {
    font-size: 48px;
    line-height: 62px;

    grid-column: 1/4;
  }

  @include on-desktop {
    font-size: 62px;
    line-height: 78px;

    margin-top: 81px;

    grid-column: 1/5;
  }

}

.header__middle-description {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $label-color;

  margin-top: 20px;

  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1/4;
  }

  @include on-desktop {
    margin-top: 30px;

    grid-column: 1/5;
  }

}
