.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 25px;

  @include on-tablet {
    padding-block: 40px;
  }
}

.header__top-logo {
  width: 161px;
  height: 25px;
}

.header__top-wrapper  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-specs {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #4F4F4F;

  display: none;

  @include on-tablet {
    display: block;

    margin-right: 30px;
  }

  @include on-desktop {
    margin-right: 2px;
  }
}

.header__top-buttons {
  align-items: center;
  display: none;

  margin-right: 30px;

  @include on-tablet {
    display: block;
  }

  @include on-desktop {
    margin-right: 47px;
  }
}

.header__top-button {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color:  #BDBDBD;

  border: none;
  background-color: $main-color;
}


.header__top-cta {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-decoration: none;

  width: 102px;

  color: #fff;
  background-color: black;

  padding-block: 16px;

  display: none;

  @include on-tablet {
    display: block;

    margin-right: 30px;
  }
}

.header__top-menu {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(/src/images/icon/icon-burger.svg);

  @include on-desktop {
    display: none;
  }
}
