.icon {
  width: 32px;
  height: 32px;

  &--menu {
    display: none;
    background-image: url(../images/icons/icon-menu.svg);

    @include background-sets;

    @include onTablet {
      display: block;
    }

    @include hover(background-image, url(../images/icons/icon-menu-hover.svg));
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);

    @include background-sets;
    @include hover(transform, rotate(-30deg));

    @include onMobile {
      width: 24px;
      height: 24px;
    }
  }
}
