.icon {
  width: 32px;
  height: 32px;

  &--menu {
    display: none;
    background-image: url(/src/images/icons/burger-menu.svg);

    @include background-sets;

    @include onTablet {
      display: block;
    }

    @include hover(background-image, url(/src/images/icons/burger-menu.svg));
  }

  &--close {
    background-image: url(/src/images/icons/close-menu.svg);

    @include background-sets;
    @include hover(transform, rotate(-30deg));

    @include onMobile {
      width: 24px;
      height: 24px;
    }
  }
}
