.logo {
  width: 160px;
  height: 26px;
  background-image: url(/src/images/icons/logo.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, scale($transform-scale));

}
