.logo {
  width: 160px;
  height: 26px;
  background-image: url(../images/header/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  animation: move-arrows-right 2s ease-in-out infinite alternate;

    @keyframes move-arrows-right {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(10%);
      }
      100% {
        transform: translateX(0);
      }
    }

    @include hover(opacity, 0.5);
}
