.menu {
  background-color: $main-background-color;
  z-index: 11;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  &__main {
    padding-top: 25px;

    @include onTablet {
      padding-top: 35px;
    }
  }

  &__display {
    display: flex;
    padding-top: 50px;

    @include onTablet {
      display: none;
    }
  }

  &__button {
    @include onTablet {
      display: none;
    }
  }
}
