.nav {
  color: $color-text-primary;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  &__item {
    font-weight: 400;
    letter-spacing: 1.2px;
    position: relative;
    padding-block: 28px;

    @include hover(font-weight, 700);

    @include on-tablet {
      padding: 0;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0%;
      top: 55px;
      left: 0;
      background-color: $color-text-primary;
      transition: width ease-in-out $transition-duration;

      @include on-tablet {
        top: 26px;
      }
    }

    &:hover::after {
      width: 100%;
    }

    &--active {
      font-weight: 700;
    }
  }
}
