.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 106px;

  &__logo-link {
    display: block;
    width: 161px;
    height: 25px;
    background-image: url(../images/icons/Logo.svg);

    @include hover(transform, scale(1.1));

  }

  &__display {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__button {
    width: 100px;
  }

  &__icon {
    display: block;
    width: 32px;
    height: 32px;

    @include hover(transform, scale(1.2));

    &--menu {
      background-image: url(../images/icons/menu.svg);

      @include onDesktop {
        display: none;
      }
    }

    &--close {
      width: 42px;
      background-image: url(../images/icons/close.svg);
      background-position: center left;
      background-repeat: no-repeat;
    }
  }
}
