.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;

  @include onMobile {
    padding-top: 24px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    grid-column: -1/-7;
  }

  &__wrap {
    display: flex;

    @include onMobile {
      display: none;
    }
  }

  &__lang {
    margin-inline: 30px 45px;
  }

  &__link {
    color: $color-link-primary;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    align-self: center;
  }

  &__btn {
    width: 100px;
    color: $color-bg;
    background-color: $color-text-primary;

    @include onTablet {
      margin-right: 30px;
    }

    @include hover(background-color, #131313);
  }
}
