.button {
  text-transform: uppercase;
  color: $cWhite;
  background-color: $cGranit;
  transition: background-color 0.3s;

  &:hover {
    background-color: $cBlack;
  }

  &--green {
    background-color: #39bebf;
    border: none;

    &:hover {
      background-color: $cGreen;
    }
  }
}
