.buy-button {
  background-color: $cTurquoise;
  background-image: url("/images/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: all 0.5s;

  &:hover {
    background-color: $cGreen;
  }
}
