.tech-button {
  height: 48px;
  width: 48px;
  background-image: url("/images/tech-button/Plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: $cTurquoise;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: $cBlack;
  }
}
