.icon {
  height: 32px;
  width: 32px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(../images/svg/burger.svg);

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/svg/close.svg);
  }
}
