.specs {
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  color: $secondary-font-color;

  &__language {
    font-weight: 700;

    &--not-active {
      font-weight: 400;
      color: $secondary-font-color;
    }
  }
}
