.specs {
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  color: $secondary-font-color;

  &__language-option {
    cursor: pointer;

    &--active {
      font-weight: 700;
    }
  }
}
