@import "../utils";


.About-us {
  display: flex;
  flex-direction: column;

  &__items {
    display: grid;
    height: auto;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 171px;
    margin-left: 123px;
    margin-right: 123px;

    text-align: left;

    @include Tablet {
      margin-left: 0;
      margin-right: 34px;
    }

    @include Mobile {
      grid-template-columns: 1fr;
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  &__items2 {
    display: grid;
    justify-content: space-between;
    height: auto;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 171px;
    margin-left: 123px;
    margin-right: 123px;
    text-align: left;

    @include Tablet {
      margin-left: 34px;
      margin-right: 0;
    }

    @include Mobile {
      grid-template-columns: 1fr;
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  &__image {
    display: flex;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__image2 {
    display: flex;
    justify-content: flex-end;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__Image {
    width: 100%;
    height: 100%;

    @include Mobile {
      width: 100%;
    }
  }

  &__info-con {
    display: flex;
    height: auto;
    flex-direction: column;
    row-gap: 2vw;

    @include Tablet {
      row-gap: 3vw;
    }

    @include Mobile {
      margin-top: 40px;
    }
  }

  &__info-con-2 {
    @extend .About-us__info-con;
    @include Mobile{
      order: 2;
      padding-top: 20px;
    }
  }

  &__title {
    display: flex;
    font-weight: 700;
    font-size: 56px;
    font-family: $inter-family;
    color: $primary_color;

    @include Tablet {
      font-size: 32px;
    }

    @include Mobile {
      display: none;
      font-size: 32px;
      line-height: initial;
    }
  }

  &__title-mobile {
    display: none;

    @include Mobile {
      display: flex;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 30px;
      font-family: $inter-family;
      color: $primary_color;
    }
  }

  &__paragraph {
    display: flex;
    line-height: 2vw;
    font-weight: 400;
    font-size: 16px;
    font-family: $inter-family;
    color: $benifits_color;

    @include Tablet {
      line-height: 3.5vw;
    }

    @include Mobile {
      line-height: 5vw;
      width: 100%;
      text-align: left;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 12px;
    font-family: $inter-family;
    color: $link_see_color;
    width: fit-content;
    transition: transform 250ms ease-in-out;

    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 2px;
      background: $link_see_color;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    @include Mobile {
      width: fit-content;
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
}