@import "../utils";


.container {
    padding: 0 120px;

    @include Tablet {
        margin: 0 auto;
        padding: 0 30px;
        max-width: 1200px;
    }

    @include Mobile {
        margin: 0 auto;
        padding: 0 30px;
        max-width: 1200px;
    }
}