@import "../utils";

.Features {
    display: flex;
    font-family: $inter-family;
    flex-direction: column;
    margin: 30px 123px 30px 123px;
   


    @include Tablet {
        margin: 140px 34px 29px 34px;
    }

    @include Mobile {
        margin-bottom: 30px;
        margin-top: 110px;
        margin-left: 0;
        margin-right: 0;
    }


    &__title {
        color: $primary_color;
        font-size: 56px;
        font-family: $inter-family;
        font-weight: 700;
        margin-bottom: 30px;
      

        @include Tablet {
            font-size: 30px;
        }

        @include Mobile {
            font-size: 30px;
            margin-left: 25px;
        }
    }

    &__all-con{
        background: $feature_bg_color;
        padding-top: 60px;
    }

    &__box-1 {
        display: flex;
    }

    &__box-2 {
        display: flex;
        align-items: flex-end;

        @media (max-width:981px) {
            flex-direction: column;
            align-items: baseline;
        }

        @include Tablet {
            flex-direction: column;

        }
    }

    &__container-1 {
        display: flex;
        width: 100%;
        margin-bottom: 56px;
        margin-left: 102px;
        flex-direction: column;

        &:nth-child(2) {
            margin-left: 0;
        }

        @media (max-width:981px) {
            display: none;
        }

        @include Tablet {
            display: none
        }

        @include Mobile {
            display: none
        }
    }


    &__container-2 {
        display: flex;
        width: 100%;
        margin-left: 102px;
        flex-direction: column;
        box-sizing: border-box;
        @media (max-width:981px) {
            width: fit-content;
           
        }

        @include Tablet {
            margin-left: 90px;
            width: 80%;
        }

        @include Mobile {
            margin-left: 32px;
            width: fit-content;
        }
    }

    &__container-img {
        display: flex;
        height: fit-content;
        width: 100%;
        box-sizing: border-box;
       

        @media (max-width:981px) {
            justify-content: end;
        }

        @include Tablet{
            justify-content: end;
        }

        @include Mobile{
            flex-direction: column;
        }
    }

    &__titles {
        display: flex;
        font-weight: 700;
        font-family: $inter-family;
        margin-bottom: 20px;
        font-size: 34px;
        color: $hover_color;
    }

    &__img-scroll{
        display: none;
        @media (max-width:981px) {
            display: flex;
            margin-right: 10%;
        }

        @include Tablet{
            display: flex;
        }

        @include Mobile{
            width: 30%;
            margin-top: 5%;
            margin-bottom: 5%;
            align-self: center;
        }
    }

    &__img {
        display: flex;
        width: 100%;

        @media (max-width:981px) {
            width: 60%;
        }

        @include Tablet{
            width: 60%;
        }

        @include Mobile{
            width: 100%;
        }
    }
}