@import "../utils";


.Foot {
  display: flex;
  flex-direction: column;
  margin: 130px 123px 30px 123px;
  align-items: center;

  @media (max-width:1200px){
    margin: 140px 34px 29px 34px;
  }

  @include Mobile{
    margin: 110px 25px 30px 25px;
  }

  &__con-logo{
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include Tablet{
      display: none;
    }

    @include Mobile{
      display: none;
    }

  }

  &__hide{
    visibility: hidden;
  }

  &__logo{
    display: flex;
    align-items: center;
  }

  &__con-socials{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    column-gap: 44px;
  }

  &__socials{
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
  }

  &__policy{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;

    @include Mobile{
      line-height: 8vw;
    }
  }
}
