@import "../utils";

.Talk {
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 120px 123px 30px 123px;

  @media (max-width:1200px){
    margin: 140px 34px 29px 34px;
  }

  @media(max-width:579px){
    flex-direction:column;
  }


  @include Mobile {
    margin: 110px 25px 30px 25px;
    flex-direction: column;
  }


  &__title {
    color: $primary_color;
    font-size: 56px;
    font-weight: 700;
    font-family: $inter-family;

    @include Tablet {
      font-size: 36px;
    }

    @media(max-width:579px){
      margin-bottom:5%;
    }

    @include Mobile {
      font-size: 30px;
    }
  }


  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 40%;

    // @media (max-width:981px) {
    //   width: 100%;
    //   margin-top: 5%;
    // }

    @include Tablet {
      width: 100%;
    }


    @include Mobile {
      width: 100%;
      margin-top: 5%;
    }
  }

  &__inputs {
    font-weight: 400;
    font-size: 16px;
    font-family: $inter-family;
    color: $primary_color;
    border: 1px solid $input_color;
    padding: 12px 36px 12px 36px;
    outline: none;

    &:placeholder{
      color: $light_color;
    }

    &:focus{
      border: 1px solid #0c797a;
    }

    &:not(:placeholder-shown):not(:focus):invalid {
      color: #eb5757;
      border: 1px solid #eb5757;
    }

    &:nth-child(2) {
      padding-bottom: 128px;
      margin-bottom: 18px;
    }


  }

  &__sub {
    display: flex;
    width: 123px;
    padding: 17px 40px 17px 40px;
    font-family: $inter-family;
    background: $btn_color;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background: $link_see_color;
      transform: scale(1.1);
    }
  }
}
