@import "../utils";

.Meet-luna{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  margin: 170px 297px 30px 297px;

  @include Tablet{
    margin: 140px 34px 29px 34px;
  }

  @include Mobile{
    margin: 110px 0 25px 0;
  }

  &__img{
    display: block;
    background-blend-mode: darken;
    width: 100%;
  }
}
