@import "../utils";


.Quote {
  display: flex;
  background: url("../images/bg-image.svg") no-repeat;
  background-position: top;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 123px 171px 123px;

  @include Tablet{
    margin: 140px 34px 29px 34px;
  }

  @include Mobile{
    margin: 110px 25px 30px 25px;
  }

  &__info{
    display: flex;
   
    wisth: 100%;
    margin-top: 42px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    font-family: $inter-family;
    color:$primary_color;
  }

  &__avatar{
    display: block;
    width: 62px;
    height: 62px;

  }

  &__name{
    font-weight: 700;
    font-size: 16px;
    color: $primary_color;
    font-family: $inter-family;
    margin-bottom: 4px;
  }

  &__job{
    font-weight: 400;
    font-size: 14px;
    font-family: $inter-family;
    color: $benifits_color;
  }
}
