.link {
  position: relative;
  color: $link-green;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: $link-green;
  }
}
