.benefits {
  margin-bottom: 110px;

  @include tablet {
    margin-bottom: 140px;
  }

  @include desktop {
    margin-bottom: 170px;
  }

  &__gallery {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }

    @include desktop {
      display: flex;
    }
  }

  &__cell {
    text-align: center;
    @include tablet {
      flex: 1 1 45%;
    }
  }

  &__img {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    @extend %text-secondary;
  }
}
