
/* external css: flickity.css */
.carousel-cell {
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
}

.carousel:after {
  content: "flickity";
  display: none; /* hide :after */
}

@include tablet {
  /* disable Flickity for large devices */
  .carousel:after {
    content: "";
  }
}

@include desktop {
  /* disable Flickity for large devices */
  .carousel:after {
    content: "";
  }
}
