.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.png);
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);
  }
}
