.icon {
  display: block;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0 0 30px;

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.png);
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);
  }

  @include desktop {
    display: none;
  }
}
