.nav {
  &__list {
    margin-bottom: 50px;
  }

  &__item:not(:last-child) {
    margin-bottom: 25px;
  }

  &__link {
    @extend %text-thirdary;
    padding: 10px 10px 10px 0;
  }

  &__link:focus {
    @extend %h6;
    color: rgb(19, 19, 19);
  }
}
