.naw {
  display: none;
  margin-bottom: 62px;

  &__list {
    display: flex;
    gap: 84px;
    max-width: max-content;
    margin: 0 auto;
  }

  &__link {
    display: block;
    padding: 28px 0;
    @extend %text-thirdary;
    transition: transform 0.3s ease;
  }

  &__link:hover {
    transform: scale(1.2);
  }

  &__link:focus {
    @extend %h6;
    color: rgb(19, 19, 19);
  }

  @include desktop {
    display: block;
  }
}
