.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 161px;
    height: 26px;

    @include hover(transform, scale(1.25));
  }

  &__container {
    display: flex;
    gap: 30px;
    align-items: center;

    @include for-desktops {
      gap: 0;
    }
  }

  &__tag {
    cursor: pointer;
    color: #4f4f4f;

    @include hover(transform, scale(1.25));

    @include for-tablets {
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 16.93px;
    }

    @include for-desktops {
      margin-right: 47px;

      @include text-set(14px, 400, 20px);
    }
  }

  &__button {
    display: block;
    width: 100px;
    font-size: 12px;
    line-height: 14.65px;
    font-weight: 500;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;

    @include for-desktops {
      @include text-set(12px, 700, 14px);

      margin-left: 47px;
    }
  }
}
