.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__link {
    text-transform: uppercase;
  }
  &__button {
    padding: 16px 35px;
    text-transform: uppercase;
    background: $main-color;
    color: white;
    border: none;
  }
}
