.top-bar {
  display: flex;
  justify-content: space-between;


  &__elements{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
  }
  &__specs{
    @include top-bar-desktop-mixin;
    color:#4F4F4F;
    @include on-mobile{
      display: none;
    }

  }
  &__language-container{
    display: flex;
    gap:3px;
    @include on-mobile{
      display: none;
    }
  }
  &__language{
    @include top-bar-desktop-mixin;
    color:#333333;
  }
  &__language--gray{
    color:#BDBDBD;
  }
  &__button{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    background-color: #333;
    width: 102px;
    height: 48px;
    border: none;
    @include on-mobile{
      display: none;
    }

  }
  &__link{
    text-decoration: none;
    color:#fff;
  }
  &__img-link{
    display: none;
    @include on-tablet{
      display: block;
    };
  }
}
