.presentation {
  &__photo-container {
    display: flex;
    justify-content: center;

    margin: 0 auto;
  }

  &__photo {
    min-width: 296px;
    width: 100%;
    height: auto;

    @include onTablet {
      width: 700px;
      height: 430px;
    }

    @include onDesktop {
      width: 846px;
      height: 520px;
    }
  }
}
