.about-img {
  position: relative;
  width: 580px;
  overflow: hidden;
  object-fit: contain;
  object-position: left;
}

@media (max-width: $phone-break-point ) {
  .about-img {
    display: none;
  }
}
