.about {
  @extend %section-width-limitatiom;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: 58%;
  background-position-y: 50%;
  background-position-x: 25%;
  background-repeat: no-repeat;
  gap: $gap;
}
