.card {
  &--first {
    grid-column: 1 / 5;
  }

  &--second {
    grid-column: 1 / 5;
  }

  &--third {
    grid-column: 1 / 5;
  }

  &--fourth {
    grid-column: 1 / 5;
  }

  @include tablet {
    &--first {
      grid-column: 1 / 5;
    }

    &--second {
      grid-column: -1 / -5;
    }

    &--third {
      grid-column: 1 / 5;
    }

    &--fourth {
      grid-column: -1 / -5;
    }
  }

  @include desktop {
    &--first {
      grid-column: span 3;
    }

    &--second {
      grid-column: span 3;

      & h3 {
        margin-bottom: 24px;
      }
    }

    &--third {
      grid-column: span 3;
    }

    &--fourth {
      grid-column: span 3;

      & h3 {
        margin-bottom: 24px;
      }
    }
  }

  &__title {
    font-size: 22px;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 20px;

    @include tablet {
      margin-top: 50px;
    }

    @include desktop {
      margin-top: 30px;
      margin-bottom: 52px;
    }
  }
}
