.app {
  margin-top: 60px;

  &__face {
    padding: 0 22px;
  }

  &__image {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__inst {
    padding: 0 22px;
    transition: transform 0.3s;

    &:hover img{
      transform: scale(1.5);
    }
  }

  &__twit {
    padding: 0 22px;
    transition: transform 0.3s;

    &:hover img{
      transform: scale(1.5);
    }
  }
}
