  .arrow {
    padding: 15px 3px;
    cursor: pointer;
    transition: all 0.5s;

    &--prev:hover {
      transform: translate(-10px);
    }

    &--next:hover {
      transform: translate(10px);
    }
  }