.content {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;

  @media(max-width: 1100px) {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 5;

    @media(max-width: 425px) {
      position: static;
    }
  }

  &__description {
    margin: 0;
    line-height: 24px;
    width: 250px;

    @media(max-width: 425px) {
      font-family: "Helvetica Neue";
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      width: 100%;

    }
  }

  &__title {
    width: 340px;
    font-family: "DIN Pro";
    font-weight: 900;
    font-size: 64px;
    margin: 34px 0;

    @media(max-width: 1100px) {
      font-size: 48px;
    }

    @media(max-width: 425px) {
      width: 100%;
      font-size: 44px;
      line-height: 57px;
      text-align: center;      
    }
  }
}
