.desktop {
  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    padding: 0;
    text-align: center;
  }

  @media(max-width: 750px) {
    display: none;
  }

  &__link {
    display: block;
    line-height: 48px;
    width: 100px;
    font-size: 12px;
    transition: background 0.4s;

    &:hover {
      background: rgba( #000, 0.6);
      color: #fff;
    }
  
    &--is-active {
      background: #333;
      color: #fff;
    }
  }
}
