.features {
  margin: 150px auto 0;
  position: relative;

  &__picture {
    position: absolute;
    right: 0;
    top: 450px;
    z-index: -1;
  }
}

.characteristics {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0 30px;

}

.characteristic {
  &__title {
    color: #0C797A;
    font-size: 34px;
  }

  &__text {
    padding-left: 20px;
    font-family: Helvetica;
  }

  &--first {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
  }

  &--second {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
  }

  &--third {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
  }
}