.features {
  margin: 150px auto 0;
  position: relative;

  &__picture {
    position: absolute;
    right: 0;
    top: 450px;
    z-index: -1;

    @media(max-width: 768px) {
      height: 380px;
    }
  }
}

.characteristics {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0 30px;

  @media(max-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
  }

}

.characteristic {
  &__title {
    color: #0C797A;
    font-size: 34px;
  }

  &__text {
    padding-left: 20px;
    font-family: Helvetica;
  }

  &--first {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;

    @media(max-width: 1024px) {
      grid-column-start: 6;
      grid-column-end: 12;
    }

    @media(max-width: 768px) {
      grid-column-start: 4;
      grid-column-end: 9;
    }
  }

  &--second {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;

    @media(max-width: 1300px) {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
    }

    @media(max-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }

  &--third {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;

    @media(max-width: 1300px) {
      grid-column-start: 4;
      grid-column-end: 8;
      grid-row-start: 3;
    }

    @media(max-width: 1024px) {
      grid-column-start: 3;
      grid-column-end: 7;
    }

    @media(max-width: 768px) {
      grid-column-start: 3;
      grid-column-end: 7;
    }
  }
}