.features {
  position: relative;

  &__title {
    @media(max-width: 750px) {
      margin: 30px 100px;
    }

    @media(max-width: 425px) {
      padding: 30px;
      margin: 0;
    }
  }

  &__carousel {
    text-align: center;
    margin: 50px 0 10px;
    @media(min-width: 426px) {
      display: none;
    }
  }
    
  &__wrapper {
    @media(max-width: 425px) {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding: 50px 0 10px;
    }
  }
  
  &__picture {
    position: absolute;
    right: 0;
    top: 450px;
    z-index: -1;

    @media(max-width: 768px) {
      height: 380px;
    }

    @media(max-width: 425px) {
      position: static;
      width: 100vw;
      height: 100%;
    }
  }
}

.characteristics {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0 30px;

  @media(max-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media(max-width: 425px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.characteristic {
  @media(max-width: 425px) {
    &:not(:first-child) {
      display: none;
    }
  }

  &__title {
    color: #0c797a;
    font-size: 34px;
    font-weight: 400;
  }

  &__text {
    padding-left: 20px;
    font-family: "Helvetica";
  }

  &--first {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;

    @media(max-width: 1024px) {
      grid-column-start: 6;
      grid-column-end: 12;
    }

    @media(max-width: 768px) {
      grid-column-start: 4;
      grid-column-end: 9;
    }
  }

  &--second {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;

    @media(max-width: 1300px) {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
    }

    @media(max-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 5;
    }

    @media(max-width: 750px) {
      grid-column-start: 2;
      grid-column-end: 6;
    }
  }

  &--third {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;

    @media(max-width: 1300px) {
      grid-column-start: 4;
      grid-column-end: 8;
      grid-row-start: 3;
    }

    @media(max-width: 1024px) {
      grid-column-start: 3;
      grid-column-end: 7;
    }

    @media(max-width: 768px) {
      grid-column-start: 3;
      grid-column-end: 7;
    }
  }
}

.carousel {
  &__indicators {
    justify-content: center;
  }
}
