.footer {
  position: relative;
  padding-top: 140px;
  text-align: center;

  &__copyright {
    margin: 36px 0 100px;
    color: #bdbdbd;
  }

  &__start-button {
    position: fixed;
    line-height: 60px;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    right: 150px;
    bottom: 200px;
    cursor: pointer;
    scroll-behavior: smooth;

    &__anchor {
      transition: all 1s;
    }

    @media(max-width: 1024px) {
      right: 100px;
    }

    @media(max-width: 768px) {
      right: 50px;
    }
  }
}

.app {
  margin-top: 60px;

  &__face {
    padding: 0 22px;
    transition: transform 0.3s;

    &:hover img{
      transform: scale(1.5);
    }
  }

  &__inst {
    padding: 0 22px;
    transition: transform 0.3s;

    &:hover img{
      transform: scale(1.5);
    }
  }

  &__twit {
    padding: 0 22px;
    transition: transform 0.3s;

    &:hover img{
      transform: scale(1.5);
    }
  }
}
