.footer {
  margin-top: 140px;
  text-align: center;
  // &__logo {

  // }
  &__copyright {
    margin: 36px 0 100px;
    color: #BDBDBD;
  }
}

.app {
  margin-top: 60px;
  &__inst {
    padding: 0 45px;
  }
}