.footer {
  position: relative;
  padding-top: 140px;
  text-align: center;

  &__copyright {
    margin: 36px 0 100px;
    color: #bdbdbd;
  }

  &__start-button {
    position: fixed;
    line-height: 60px;
    text-align: center;
    background-color: rgba(104, 74, 74, 0.3);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    right: 150px;
    bottom: 200px;
    cursor: pointer;

    @media(max-width: 1024px) {
      right: 100px;
    }

    @media(max-width: 425px) {
      right: 50px;
    }
  }
}

.app {
  margin-top: 60px;
  &__inst {
    padding: 0 45px;
  }
}
