.future-design {
  display: block;
  padding: 0 35px 130px;
  grid-gap: 0 30px;
  grid-template-columns: repeat(12, 1fr);
  font-family: "Helvetica Neue";
  position: relative;

  @media(max-width: 1100px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media(min-width: 768px) {
    display: grid;
    padding: 0 0 130px;
  }

  @media(max-width: $mobileLarge) {
    padding: 0 0 130px;
  }

  &__title {
    grid-column-start: 7;
    grid-column-end: 12;
    margin: 0;
    position: static;

    @media(max-width: 1100px) {
      grid-column-start: 4;
      grid-column-end: 9;

    }

    @media(min-width: 768px) {
      position: absolute;
    }

    @media(max-width: $mobileLarge) {
      font-size: 37px;
      text-align: left;
      font-weight: 600;
    }
  }

  &__img {
    position: relative;
    z-index: -1;
    grid-column-start: 2;
    grid-column-end: 7;
    transition: box-shadow 0.5s;
    
    &:hover {
      box-shadow: 5px 3px 5px black;
    }

    @media(max-width: $notebook) {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 6;
    }

    @media(max-width: 1100px) {
      position: relative;
      left: -105px;
      height: 415px;
      max-width: 100%;
    
    }

    @media(max-width: $laptopSmall) {
      position: relative;
      left: -80px;
    }

    @media(max-width: $mobileLarge) {
      position: static;
      margin: 50px 0 30px;
      width: 100vw;
      height: 100%;
    }
  }

  &__content {
    margin: 0 auto;
    grid-column-start: 8;
    grid-column-end: 12;

    @media(max-width: $notebook) {
      grid-column-start: 8;
      grid-column-end: 13;
    }

    @media(max-width: 1100px) {
      grid-row-start: 1;
      grid-column-start: 5;
      grid-column-end: 9;
    }

    @media(min-width: 768px) {
      margin-top: 200px;
    }

    @media(max-width: $mobileLarge) {
      text-align: left;
    }
  }

  &__about {
    color: $brightColor;
    text-transform: uppercase;
    position: relative;
    font-size: 12px;

    &::after {
      position: absolute;
      content: "";
      width: 50px;
      height: 1px;
      background-color: $brightColor;
      left: 0;
      bottom: -6px;
    }
  }

  &__text {
    font-size: 16px;
    @media(max-width: $mobileLarge) {
      font-size: 14px;
    }
  }

}
