.future-design {
  display: flex;
  position: relative;
  align-items: center;
}

.info {
  &__title {
    line-height: 72px;
    width: 480px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 110px;
  }

  &__content {
    margin: 150px 0 0 30px;
    vertical-align: center;
    color: #7C7C7C;
  }

  &__about {
    color: #0DB2B3;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: #0DB2B3;
      top: 30px;
      left: 0;
    }
  }
}

