.header {
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }

  &__main {
    margin-top: 90px;
  }
}

.links {
  display: flex;
}

.link {
  width: 100px;
  text-align: center;
  line-height: 48px;
  font-size: 12px;

  &--is-active {
    background: #333;
    color: #fff;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 30px;
  overflow: hidden;
}

.content {
  grid-column-start: 1;
  grid-column-end: 5;

  &__description {
    line-height: 24px;
  }

  &__title {
    font-family: 'DIN Pro';
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
  }
}

.wireless-speaker {
  grid-column-start: 5;
  grid-column-end: 12;
  position: relative;
  z-index: -1;
}

.systems {
  margin-top: 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  text-align: center;

  @media(max-width: 1300px){
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  

  @media(max-width: 768px){
    grid-gap: 20px;
  }
}

.system {
  &__img {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__description {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #7C7C7C;
  }
}

