.header {
  &__menu {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }

  &__main {
    margin-top: 90px;
  }
}

#menu__checkbox {
  display: none;
}

.menu {
  &__burger {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50px;
    padding: 20px;
    width: 45vw;
    background-color: rgba(darkgrey, 0.6);

    @media(min-width: 750px) {
      display: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    color: #333;
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
    line-height: 48px;

    @media(min-width: 751px) {
      display: none;
    }
  }

  &__toggler {
    display: block;
    line-height: 48px;
    width: 100%;
    height: 4px;
    color: red;
    background-color: #000;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      background-color: #000;
      width: 100%;
      height: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 6px;
      background-color: #000;
      width: 100%;
      height: 4px;
    }
  }
}

.burger {
  &__list {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }

  &__item {
    padding: 5px;
  }

  &__link {
    display: block;
    line-height: 48px;
    font-size: 12px;
    transition: background 0.4s;

    &:hover {
      background: rgba( #000, 0.6);
      color: #fff;
    }
  }
}

#menu__checkbox:checked ~ .menu__btn .menu__toggler {
  transform: rotate(45deg);
}

#menu__checkbox:checked ~ .menu__btn .menu__toggler::before {
  top: 0;
  transform: rotate(0);
}

#menu__checkbox:checked ~ .menu__btn .menu__toggler::after {
  top: 0;
  transform: rotate(90deg);
}

.desktop {
  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    padding: 0;
    text-align: center;
  }

  @media(max-width: 750px) {
    display: none;
  }

  &__link {
    display: block;
    line-height: 48px;
    width: 100px;
    font-size: 12px;
    transition: background 0.4s;

    &:hover {
      background: rgba( #000, 0.6);
      color: #fff;
    }
  
    &--is-active {
      background: #333;
      color: #fff;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 30px;
  overflow: hidden;

  @media(max-width: 1100px) {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
  }

  @media(max-width: 425px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.content {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;

  @media(max-width: 1100px) {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 5;

    @media(max-width: 425px) {
      position: static;
    }
  }

  &__description {
    margin: 0;
    line-height: 24px;
    width: 250px;

    @media(max-width: 425px) {
      font-family: "Helvetica Neue";
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      width: 100%;

    }
  }

  &__title {
    width: 340px;
    font-family: "DIN Pro";
    font-weight: 900;
    font-size: 64px;
    margin: 34px 0;

    @media(max-width: 1100px) {
      font-size: 48px;
    }

    @media(max-width: 425px) {
      width: 100%;
      font-size: 44px;
      line-height: 57px;
      text-align: center;      
    }
  }
}

.cart {
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #0DB2B3;
  border-radius: 50%;
  right: 30px;
  bottom: 160px;
  display: none;

  &:hover {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  &__img {
    position: absolute;
    top: calc(50% - 16px / 2);
    left: calc(50% - 24px / 2);
  }

  @media(max-width: 425px) {
    display: block;     
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.wireless-speaker {
  grid-column-start: 5;
  grid-column-end: 12;
  position: relative;
  z-index: -1;

  @media(max-width: 1100px) {
    position: relative;
    right: 80px;
    grid-column-start: 4;
    grid-column-end: 9;
  }

  @media(max-width: 768px) {
    height: 365px;
    right: 20px;
  }

  @media(max-width: 425px) {
    width: 100vw;
    height: 100%;
    position: relative;
    left: 60px;
    transform: scale(1.3);
  }

  @media(max-width: 375px) {
    left: 50px;
  }
}

.systems {
  margin-top: 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  text-align: center;

  @media(max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  

  @media(max-width: 768px) {
    grid-gap: 20px;
  }

  @media(max-width: 425px) {
    display: flex;
    flex-direction: column;
  }
}

.system {
  &__carousel {
    display: none;
    
    @media(max-width: 425px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &__img {
    margin-bottom: 40px;
    cursor: pointer;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__description {
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    color: #7c7c7c;
  }

  @media(max-width: 425px) {
    &:not(:first-child) {
      display: none;
    }
  }
}

.arrows {
  &__arrow {
    padding: 3px;
    cursor: pointer;
    transition: all 0.5s;

    &--prev:hover {
      transform: translate(-10px);
    }

    &--next:hover {
      transform: translate(10px);
    }
  }
}
