.header {
  &__menu {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }

  &__main {
    margin-top: 90px;
  }
}
