.indicators {
  display: flex;
  align-items: baseline;
  color: $grayLitColor;
  font-family: "Din Pro";
  font-size: 11px;

  &__indicator {
    color: inherit;

    &--is-active {
      color: $primaryColor;
      font-size: 16px;
    }
  }
}
