.questions {
  margin-top: 180px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 30px;

  &__title {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 7;
  }

  &__form {
    grid-column-start: 8;
    grid-column-end: 12;
  }
}


.form {
  display: flex;
  flex-direction: column;

  &__email {
    padding-left: 30px;
    height: 48px;
  }

  &__text {
    padding: 15px 0 0 30px;
    margin-top: 20px;
    height: 128px;
  }

  &__button {
    margin-top: 30px;
    width: 100px;
    height: 48px;
    background-color: #0DB2B3;
    border: none;
    outline: none;
    color: #fff;
  }
}
