.systems {
  margin-top: 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  text-align: center;

  @media(max-width: $notebook) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  

  @media(max-width: $laptopSmall) {
    grid-gap: 20px;
  }

  @media(max-width: $mobileLarge) {
    display: flex;
    flex-direction: column;
  }
}
