.person {
  &__avatar {
    cursor: pointer;
    padding: 30px 0 20px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__name {
    margin: 0;
    font-size: 16px;
    line-height: 27px;
  }

  &__position {
    margin: 0;
    padding-top: 5px;
    font-size: 14px;
    color: $secondaryColor;
  }
}
