.technology {
  padding-bottom: 130px;
  position: relative;

  &__title {
    margin: 0;
  }

  &__carousel {
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media(max-width: 1300px) {
    overflow: hidden;
  }

  &__device-img {
    width: 1300px;

    @media(max-width: 425px) {
      transform: scale(0.5);
      position: relative;
      right: 330px;
    }
  }

  &__text {
    width: 800px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 24px;
    line-height: 36px;

    @media(max-width: 900px) {
      width: 90%;
    }

    @media(max-width: 768px) {
      width: 100%;
    }

    @media(max-width: 480px) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__person {
    margin: 0 auto;
    text-align: center;
  }
}

.person {
  &__avatar {
    padding: 30px 0 20px;
  }

  &__name {
    margin: 0;
    font-size: 16px;
    line-height: 27px;
  }

  &__position {
    margin: 0;
    padding-top: 5px;
    font-size: 14px;
    color: #7c7c7c;
  }
}

.pills {
  &__pill {
    position: absolute;
    text-align: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #0DB2B3;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__pill--1 {
    left: 100px;
    top: 350px;
  }

  &__pill--2 {
    left: 270px;
    top: 480px;
  }

  &__pill--3 {
    left: 350px;
    top: 420px;
  }

  &__pill--4 {
    left: 410px;
    top: 250px;
  }

  &__pill--5 {
    left: 510px;
    top: 540px;
  }

  &__pill--6 {
    left: 650px;
    top: 300px;
  }

  &__pill--7 {
    left: 790px;
    top: 440px;
  }

  &__pill--8 {
    left: 940px;
    top: 300px;
  }

  &__pill--9 {
    left: 1050px;
    top: 190px;
  }

  &__pill--10 {
    left: 1180px;
    top: 280px;
  }

  &__pill--11 {
    left: 1130px;
    top: 350px;
  }

  &__pill--active {
    background: #131313;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 70px;
      height: 200px;
      width: 1px;
      background-color: #000;
    }
  }
}

.pill {
  &__img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.pages {
  display: flex;
  align-items: baseline;
  color: #BDBDBD;
  font-family: "Din Pro";
  font-size: 11px;

  &__page {
    color: inherit;

    &--is-active {
      color: #333;
      font-size: 16px;
    }
  }
}

.page {
  padding: 0 4px;
}