.technology {
  padding-bottom: 130px;

  &__title {
    margin: 0;
  }

  &__wrap {
    width: 1300px;
    margin: 0 auto;
    position: relative;
  }

  &__carousel {
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media(max-width: $notebook) {
    overflow: hidden;
  }

  &__device-img {
    margin: 0 auto;
    width: 1300px;

    @media(max-width: $mobileLarge) {
      transform: scale(0.48);
      position: relative;
      right: 360px;
    }

    @media(max-width: 350px) {
      transform: scale(0.48);
      position: relative;
      right: 360px;
    }
  }

  &__text {
    width: 800px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 24px;
    line-height: 36px;

    @media(max-width: $laptopSmall) {
      width: 100%;
    }

    @media(max-width: 480px) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__person {
    margin: 0 auto;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      background-image: url("../images/brackets.svg");
      background-repeat: no-repeat;
      width: 233px;
      height: 100%;
      left: calc(50% - 233px / 2);
      bottom: 120px;
      position: absolute;
      z-index: -1;
    }
  }
}
