.video {
  position: relative;

  &__img {
    margin: 150px 0;
    width: 100vw;
    overflow: hidden;
    cursor: pointer;

    @media(max-width: 1024px) {
      height: 400px;
    }

    @media(max-width: 425px) {
      height: 250px;
    }
  }

  .play {
    transition: all 0,3s;

    &:hover, .video__img{
      cursor: pointer;
      background: rgba(119, 180, 212, 0.5);
    }
  }
  
  &__play {
    position: absolute;
    width: 232px;
    height: 232px;
    border-radius: 50%;
    border: 1px solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media(max-width: 1024px) {
      width: 190px;
      height: 190px;
    }

    @media(max-width: 580px) {
      width: 108px;
      height: 108px;
    }
  }

  &__icon {
    margin: 0;
    position: absolute;
    font-family: "Din Pro";
    font-size: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
