@import './form/form';

.contacts {
  &__content {
    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 30px;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
