@font-face {
  font-family: "DIN Pro";
  src: local("DIN Pro Bold"),
    local("DIN-Pro-Bold"),
    url("DINPro-Bold.woff2") format("woff2"),
    url("DINPro-Bold.woff") format("woff"),
    url("DINPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
