.about {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding: 150px 0;

  overflow: hidden;

  &__img {
    display: block;
    width: 582px;
    height: 388px;
  }

  &__title {
    position: relative;
    right: 100px;
    width: 480px;
    margin-bottom: 30px;

    font-family: "DIN Pro", sans-serif;
    font-size: $h2-size;
    font-weight: bold;
    line-height: 72px;

    text-transform: uppercase;

    color: $primary-color;
  }

  &__text {
    width: 378px;
    margin-bottom: 30px;
    color: #7c7c7c;
  }

  &__link {
    position: relative;
    font-size: 12px;
    font-weight: medium;
    color: $turquoise-color;

    text-transform: uppercase;

    &:hover {
      color: #0b7676;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 50%;
      height: 2px;
      background-color: $turquoise-color;
    }
  }
}

@media (max-width: 1000px) {
  .about {
    column-gap: 20px;

    &__img {
      width: 100%;
    }

    &__text {
      width: 340px;
    }
  }
}

@media (max-width: 825px) {
  .about {
    position: relative;
    row-gap: 30px;

    padding: 150px 100px 75px 0;

  }
}

@media (max-width: 600px) {
  .about {
    padding: 150px 20px 75px;
    flex-direction: column;
    &__title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      align-self: center;
      margin: auto;
      width: 260px;

      font-size: 37px;
      line-height: 55px;
    }

    &__text {
      width: 260px;
      font-size: 14px;
      line-height: 21px;
    }

    &__img {
      width: 259px;
      height: 210px;

      align-self: center;
    }

    &__content {
      align-self: center;
    }

  }
}
