.benefits {
  display: grid;
  grid-template-columns: repeat(4, 276px);
  column-gap: 20px;
  justify-content: center;
  padding: 60px 123px 90px;

  &__card {
    width: 276px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon1 {
      width: 50px;
      height: 39.75px;

      margin-bottom: 48px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/FuturisticDesign.svg");
    }

    &-icon2 {
      width: 50px;
      height: 39.75px;

      margin-bottom: 48px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/TweeterSpeakerSystem.svg");
    }

    &-icon3 {
      width: 50px;
      height: 39.75px;

      margin-bottom: 48px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/MultiroomSystem.svg");
    }

    &-icon4 {
      width: 50px;
      height: 39.75px;

      margin-bottom: 48px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/IntuitiveLightingSystem.svg");
    }

    &-title {
      height: 60px;
      margin-bottom: 20px;
      font-family: "DIN Pro", sans-serif;
      font-size: 24px;
      line-height: 30px;
      text-align: center;

      text-transform: uppercase;
      color: $primary-color;
    }

    &-text {
      font-size: 14px;
      text-align: center;
      color: #7c7c7c;

    }
  }
}

@media (max-width: 1380px) {
  .benefits {
    grid-template-columns: repeat(2, 276px);
    justify-items: center;
  }
}

@media (max-width: 779px) {
  .benefits {
    grid-template-columns: repeat(1, 276px);
    justify-items: center;
    padding: 0 30px;
  }
}

@media (max-width: 500px) {
  .benefits {
    &__card:nth-child(1) {
      display: none;
    }
    &__card:nth-child(2) {
      display: none;
    }
    &__card:nth-child(4) {
      display: none;
    }
  }
}
