.card {
  &:first-child {
    position: relative;
    left: 300px;
    margin-bottom: 70px;
  }
  &:last-child {
    position: relative;
    left: 200px;
  }

  &:nth-child(2) {
    margin-bottom: 80px;
  }
  &__title {
    margin-bottom: 44px;
    font-size: 34px;
    font-weight: medium;
    line-height: 40px;
    text-transform: uppercase;
    color: #0c797a;
  }
  &__list {
    list-style: outside;
    .card__item {
      margin-bottom: 13px;
    }
  }
}

@media (max-width: 1000px) {
  .card {
    &:first-child {
      position: relative;
      left: 250px;
      margin-bottom: 70px;
    }
    &:last-child {
      position: relative;
      left: 150px;
    }
  }
}

@media (max-width: 732px ) {
  .card {
    padding-left: 40px;
    margin-bottom: 80px;
    &:first-child {
      left: 0;
      position: static;
    }
    &:nth-child(n + 2) {
      display: none;
    }
    &__title {
      font-size: 30px;
    }
    &__list {
      width: 260px;
      list-style: outside;
    }
    &__item {
      font-size: 14px;
    }
  }
}
