.card {
  transition: transform 0.3s;

  &:first-child {
    position: relative;
    left: 300px;
    margin-bottom: 70px;
  }
  &:last-child {
    position: relative;
    left: 200px;
  }

  &:nth-child(2) {
    margin-bottom: 80px;
  }
  &__title {
    margin-bottom: 44px;
    font-size: 34px;
    font-family: "DIN Pro", sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    color: #0c797a;
  }
  &__list {
    color: $primary-color;
    list-style: outside;

    @media (max-width: 768px) {
      width: 260px;
    }

    .card__item {
      margin-bottom: 13px;
    }
  }
}

@media (max-width: 850px) {
  .card {
    margin-bottom: 80px;
    &:first-child {
      left: 0;
      position: static;
    }
    &:last-child {
      position: static;
    }
    &__title {
      font-size: 30px;
    }
    &__list {
      list-style: outside;
    }
  }
}
