.features-slider {
  display: none;

  &__btn {
    position: relative;
    cursor: pointer;

    & > :nth-child(1) {
      position: absolute;
      top: -20px;
      right: -3px;
    }
    & > :nth-child(2) {
      position: absolute;
      top: -20px;
      left: -3px;
    }
  }

  &__info {
    color: $primary-color;
    & > :nth-child(n + 2) {
      font-size: 11px;
      line-height: 14px;
      color: #bdbdbd;
    }
  }
}

@media (max-width: 732px ) {
  .features-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
