.features {
  padding-bottom: 200px;
  padding-right: 0;

  &__title {
    padding-left: 123px;
    margin-bottom: 24px;

    font-family: "DIN Pro", sans-serif;
    font-size: $h2-size;
    font-weight: bold;
    line-height: 70px;

    text-transform: uppercase;

    color: $primary-color;
  }
  &__wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url(../images/features__background.png) no-repeat right;
    background-size: 80% 80%;
  }
  &__text {
    position: relative;
    left: 50px;
    min-width: 335px;
  }
  &__img {
    width: 786px;
    overflow-x: hidden;
  }
}

@media (max-width: 1000px) {
  .features {
    padding-bottom: 130px;

    &__title {
      padding-left: 10vw;
    }

    &__img {
      width: 586px;
    }
  }
}

@media (max-width: 732px) {
  .features {
    padding-right: 20px;
    padding-bottom: 0;
    background: url(../images/features__background.png);

    &__title {
      margin-bottom: 50px;
      font-size: 37px;
    }
    &__wrapper {
      flex-direction: column;
    }
    &__text {
      position: static;
      min-width: 200px;
    }
    &__img {
      width: 100%;
      .features__photo {
        width: 100%;
      }
    }
  }
}
