.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  &__name {
    color: $primary-color;
  }

  &__photo {
    margin-bottom: 20px;
  }
  &__info {
    font-size: 14px;
    line-height: 16px;
    color: #7c7c7c;
  }
}
