.technology-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/quotes.png) no-repeat center top;

  &__text {
    max-width: 768px;
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-family: "DIN Pro", sans-serif;
    font-weight: bold;
    line-height: 36px;
    color: $primary-color;
  }
}

@media (max-width: 700px) {
  .technology-quote {
    &__text {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
