.technology-content {
  position: relative;
  width: 100%;

  &__img {
    position: relative;
    width: 100%;
    transition: width 0.3s;
  }
  &__btn {
    width: 48px;
    height: 48px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $turquoise-color;
    color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s;
    &::after {
      position: absolute;
      z-index: -1;
      content: attr(data-tooltip);
      display: flex;
      width: 150px;

      color: $primary-color;
      opacity: 0;
      transition: opacity 0.3s 0.1s;

    }
    &:hover {
      background-color: #035656;
    }
    &:hover::after {
      opacity: 1;
      z-index: 1;
    }

    &:nth-child(1) {
      left: 9%;
      top: 30%;
      &::after {
        width: 100px;
        height: 150px;
        bottom: 48px;
        right: 24px;
        align-items: flex-start;
        border-right: 1px solid black;
        border-top: 1px solid black;
      }
    }
    &:nth-child(2) {
      left: 20%;
      top: 50%;
      &::after {
        height: 225px;
        top: 48px;
        right: 24px;
        align-items: flex-end;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
    &:nth-child(3) {
      left: 26%;
      top: 41%;
      &::after {
        height: 250px;
        top: 48px;
        right: 24px;
        align-items: flex-end;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
    &:nth-child(4) {
      left: 32%;
      top: 21%;
      &::after {
        width: 250px;
        height: 100px;
        bottom: 48px;
        left: 24px;
        align-items: flex-start;
        justify-content: flex-end;
        border-left: 1px solid black;
        border-top: 1px solid black;
      }
    }
    &:nth-child(5) {
      left: 42%;
      top: 58%;
      &::after {
        width: 250px;
        height: 120px;
        top: 48px;
        left: 24px;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: end;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
    &:nth-child(6) {
      left: 50%;
      top: 25%;
      &::after {
        height: 100px;
        bottom: 48px;
        right: 24px;
        align-items: flex-start;
        border-right: 1px solid black;
        border-top: 1px solid black;
      }
    }
    &:nth-child(7) {
      left: 61%;
      top: 45%;
      &::after {
        height: 180px;
        top: 48px;
        right: 24px;
        align-items: flex-end;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
    &:nth-child(8) {
      left: 74%;
      top: 26%;
      &::after {
        height: 200px;
        bottom: 48px;
        right: 24px;
        align-items: flex-start;
        border-right: 1px solid black;
        border-top: 1px solid black;
      }
    }
    &:nth-child(9) {
      left: 78%;
      top: 13%;
      &::after {
        height: 75px;
        bottom: 48px;
        right: 24px;
        align-items: flex-start;
        border-right: 1px solid black;
        border-top: 1px solid black;
      }
    }
    &:nth-child(10) {
      left: 87%;
      top: 30%;
      &::after {
        height: 200px;
        top: 48px;
        right: 24px;
        align-items: flex-end;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
    &:nth-child(11) {
      left: 90%;
      top: 20%;
      &::after {
        height: 120px;
        bottom: 48px;
        right: 24px;
        align-items: flex-start;
        border-right: 1px solid black;
        border-top: 1px solid black;
      }
    }
  }
}

@media (max-width: 1000px ) {
  .technology-content {
    &__btn {
      display: none;
    }

    &__img {
      width: 1230px;
      height: 546px;

    }
  }
}

@media (max-width: 500px ) {
  .technology-content {
    &__img {
      width: 624px;
      height: 277px;

    }
  }
}
