.technology {
  padding: 60px 40px;
  overflow-x: hidden;

  &__title {
    display: inline-block;
    margin-left: 136px;
    margin-bottom: 20px;

    font-family: "DIN Pro", sans-serif;
    font-size: $h2-size;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
  }
}

@media (max-width: 800px) {
  .technology {
    padding: 0 30px 40px;

    &__title {
      margin-left: 0;
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 500px) {
  .technology {
    &__title {
      font-size: 37px;
    }
  }
}
