.about1{
  @include on-desktop{
  margin-bottom: 170px;
}

@include on-tabl-desk{
  margin-bottom: 140px;
}

@include on-mob-tabl{
  margin-bottom: 110px;
}
}

.about{
  &__title{
    @include on-tabl-desk{
      font-size: 36px;
      line-height: 46px;
      }

      @include on-mob-tabl{
        font-size: 30px;
      line-height: 40px;
      max-width: 260px;

      }
  }

  &__designed{
   box-sizing: border-box;
display: flex;
flex-direction: row;
gap: 30px;
max-width: 1194px;

@include on-mob-tabl{
  display: flex;
  flex-direction: column;
}



    &--text{
      max-width: 582px;
       display: flex;
    flex-direction: column;
&--p{
  color: #7C7C7C;

@include on-mob-tabl{
  max-width: 260px;
  font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

}
    }



  &--img1d{
    @include on-mob-desk{
 display: none;
    }
      }

  &--img1t{
    margin-left: -34px;

        @include on-desktop{
          display: none;
        }

        @include on-mob-tabl{
          display: none;
        }
      }

      &--img1m{
        @include on-tablet{
          display: none;
        }
      }

      &--img2d{
        @include on-mob-desk{
     display: none;
        }
          }

      &--img2t{
        margin-right: -34px;

            @include on-desktop{
              display: none;
            }

            @include on-mob-tabl{
              display: none;
            }
          }

          &--img2m{
            @include on-tablet{
              display: none;
            }
          }

    }
    }


.see-more{
  position: relative;
font-family: Inter, sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 14px;
text-align: left;
text-transform: uppercase;
text-decoration: none;
color: #0DB2B3;

&::before{
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid #0DB2B3;
  width: 64px;
  bottom: -5px;
}

&::after{
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid #0DB2B3;
  width: 128px;
  bottom: -5px;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}

&:hover::after{
  transform: scale(1);
}
}

