.benefits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;

  @include on-tabl-desk {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 84px;
  list-style-type: none;

  @include on-mob-desk {
    display: none;
  }
}

.nav__link {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.nav__item{
  @include hover(transform, scale(1.2));
}

.benefits__design {
  width: 276px;
  height: 286px;

  @include on-tabl-desk {
    width: 310px;
  }

  padding-top: 62px;
  display: flex;
  flex-direction: column;

  align-items: center;

  &--title {
    text-align: center;
  }

  &--text {
    text-align: center;
    color: #7c7c7c;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

.logo {
  width: 70px;
  height: 50px;
}

.marg {
  margin-top: 28px;
}

.none1 {
  @include on-mob-tabl {
    display: none;
  }
}

.none2 {
  @include on-mob-tabl {
    display: none;
  }
}

.none3 {
  @include on-mob-tabl {
    display: none;
  }
}
