.features{
  box-sizing: border-box;
width: 100%;

  &__title{
    @include on-tabl-desk{
font-size: 30px;
font-weight: 700;
line-height: 40px;
text-align: left;
  }

  @include on-mob-tabl{
    font-size: 30px;
line-height: 40px;
  }
  }

&__grid{
  margin-top: 30px;
  background-color: #D6ECEC;

  @include on-desktop{
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr;
}
&--img{
  background-image: url(../images/svg/features12.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 543px;
height: 301px;
margin-right: 46px;
align-self: flex-end;

@include on-tabl-desk{
  width: 415px;
  height: 225px;
  margin-right: 0;
  align-self: flex-end;
  text-align: end;
}

@include on-mob-tabl{
  width: 320px;
  height: 173px;
  margin-right: 0;
  align-self: center;
}
}

&--list{
  padding-inline-start: 18px;
  color: #333;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;

@include on-tabl-desk{
  margin: 0;
  width: 242px;
  font-size: 14px;
  line-height: 31px;
    }
}

&__section{
margin-left: 102px;
padding-top: 26px;

@include on-mob-desk{
  display: none;
}
}

&__section2{
  padding-top: 26px;

  @include on-mob-desk{
    display: none;
  }
  }

  &__section3{
    margin-left: 102px;

    @include on-tabl-desk{
      align-self: flex-start;
      padding-left: 90px;
      padding-top: 50px;
      margin-left: 0;
    }

    @include on-mob-tabl{
      margin-left: 0;
      padding: 30px;
    }

    &--title{
      @include on-mob-desk{
font-size: 18px;
line-height: 22px;

      }
    }
    }
    &--slider{
      @include on-mob-desk{
        background-image: url(../images/svg/Group\ 3.3.png);
        width: 93px;
        height: 43px;
      }

      @include on-tabl-desk{
        margin-top: 50px;
        margin-left: 90px;
      }
    }

    &--slider:hover{
      @include on-mob-desk{
        background-image: url(../images/svg/Group\ 3.4.png);
      }
    }

    &--group{
display: flex;
justify-content: space-between;

@include on-mob-tabl{
  flex-direction: column;
  align-items: center;
}
    }
}
}
