.footer {
  &__group {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(12, 72px);

    @include on-tabl-desk {
      column-gap: 20px;
      grid-template-columns: repeat(8, 70px);
    }

    @include on-mob-tabl {
      column-gap: 20px;
      grid-template-columns: repeat(4, 50px);
    }

    &--logo {
      background-image: url(../images/svg/logo.png);
      width: 161px;
      height: 26px;
      grid-column: 6/7;

      @include on-tabl-desk {
        grid-column: 4/5;
      }

      @include on-mob-tabl {
        display: none;
      }
    }

    &--strelka {
      background-image: url(../images/svg/strelka.png);
      background-size: cover;
      width: 24px;
      height: 24px;
      grid-column: 12;
      margin-left: 32px;

      @include on-tabl-desk {
        grid-column: 8;
      }

      @include on-mob-tabl {
        display: none;
      }
    }
  }

  &__un {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 60px;

    @include on-mob-tabl {
      margin-left: auto;
      margin-right: auto;
    }

    &--f {
      background-image: url(../images/svg/facebook-letter-logo.png);
      width: 24px;
      height: 24px;
    }

    &--t {
      background-image: url(../images/svg/twit.png);
      width: 24px;
      height: 24px;
    }

    &--i {
      background-image: url(../images/svg/instagram.png);
      width: 24px;
      height: 24px;
    }
  }
}

.footik {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bdbdbd;
}
