.questions{
display: flex;
flex-direction: row;

@include on-mob-tabl{
  flex-direction: column;
}

&__title{
  max-width: 584.2px;
max-height: 140px;
color: #333;

@include on-tabl-desk{
font-size: 36px;
line-height: 46px;
}

@include on-mob-tabl{
  font-size: 30px;
line-height: 40px;
margin-bottom: 27px;
}


}
&__form{
  display: flex;
  flex-direction: column;

  &--email{
    box-sizing: border-box;
    padding-left: 36px;
    background: $c-gray;
    width: 581.94px;
    height: 48px;
font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #BDBDBD;
border: 1px solid #828282;
outline:none;

@include on-tabl-desk{
  width: 340px;
  }

  @include on-mob-tabl{
    width: inherit;
    height: 48px;
    }
  }

  &--text{
    box-sizing: border-box;
    padding-left: 36px;
    padding-top: 12px;
    background: $c-gray;
    width: 581.94px;
    height: 128px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #BDBDBD;
    margin-bottom: 30px;
    margin-top: 19px;
    border: 1px solid #828282;
    outline:none;

    @include on-tabl-desk{
      width: 340px;
      height: 201px;
      }

      @include on-mob-tabl{
        width: inherit;
      height: 128px;
      }
  }

  &--button{
    cursor: pointer;
    width: 123.66px;
    height: 48px;
    background: #0DB2B3;
    color: white;
    border: none;
font-size: 12px;
font-weight: 700;
line-height: 14px;

@include on-mob-desk{
  width: 102px;
  height: 40px;
  }
  }

  &--button:hover{
    background: #0C797A;
  }
}

&__form--email:hover{
  border: 1px solid #EB5757;
}

&__form--email:hover::placeholder{
  color: #EB5757;
}

&__form--text:hover{
  border: 1px solid #EB5757;
}

&__form--text:hover::placeholder{
  color: #EB5757;
}


&__form--email:focus{
border: 1px solid #0C797A;
color: #0C797A;
}

&__form--email:focus::placeholder{
  color: #333;
  }

  &__form--text:focus{
    border: 1px solid #0C797A;
    color: #0C797A;
    }

    &__form--text:focus::placeholder{
      color: #333;
      }
}
