@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400; 300;700&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: "Playfair Display", serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

button {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
.page__body {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}
.page__body._lock {
  overflow: hidden;
}
.page .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .page .container {
    padding: 0 28px;
  }
}
@media (min-width: 1280px) {
  .page .container {
    padding: 0 50px;
  }
  .page .container--desktop-padding {
    padding-left: 150px;
    position: relative;
  }
}
.page input:-webkit-autofill,
.page input:-webkit-autofill:hover,
.page input:-webkit-autofill:focus,
.page textarea:-webkit-autofill,
.page textarea:-webkit-autofill:hover,
.page textarea:-webkit-autofill:focus,
.page select:-webkit-autofill,
.page select:-webkit-autofill:hover,
.page select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon--opener {
  background-image: url("../images/icons/menu-opener.svg");
}
.icon--closer {
  background-image: url("../images/icons/menu-closer.svg");
}

.title {
  color: #333;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .title {
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  .title {
    font-size: 56px;
  }
}

@media (min-width: 768px) {
  .header__top-action {
    margin-bottom: 130px;
  }
}
@media (min-width: 1280px) {
  .header__top-action {
    margin-bottom: 100px;
  }
}

.top-action {
  padding: 22px 0;
}
.top-action__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .top-action__sub-row {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .top-action__sub-item {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .top-action__sub-item:last-child {
    display: none;
  }
}
.top-action__tablet-additional-action {
  display: none;
}
@media (min-width: 768px) {
  .top-action__tablet-additional-action {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
.top-action__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 48px;
  color: #fff;
  background-color: #333;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.top-action__button:visited {
  color: #fff;
}
@media (min-width: 1280px) {
  .top-action__menu-opener {
    display: none;
  }
}

.first-screen {
  color: #333;
}
.first-screen--margin-bottom {
  margin-bottom: 110px;
}
@media (min-width: 768px) {
  .first-screen--margin-bottom {
    margin-bottom: 140px;
  }
}
@media (min-width: 1280px) {
  .first-screen--margin-bottom {
    margin-bottom: 170px;
  }
}
@media (min-width: 768px) {
  .first-screen {
    position: relative;
  }
}
@media (min-width: 768px) {
  .first-screen__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.first-screen__image {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .first-screen__image {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .first-screen__image {
    flex: 1;
  }
}
.first-screen__info {
  flex: 0;
}
@media (min-width: 1280px) {
  .first-screen__info {
    flex: 1 0 34%;
  }
}
.first-screen__title {
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .first-screen__title {
    max-width: 340px;
    font-size: 48px;
  }
}
@media (min-width: 1280px) {
  .first-screen__title {
    font-size: 62px;
    margin-bottom: 30px;
  }
}
.first-screen__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 768px) {
  .first-screen__text {
    max-width: 250px;
  }
}

.navigation {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  top: 0;
  left: 0;
  transition-duration: 300ms;
}
.navigation._close {
  transform: translateY(-100%);
}
@media (min-width: 1280px) {
  .navigation._close {
    transform: translateY(0);
  }
}
.navigation._open {
  transform: translateY(0);
}
@media (min-width: 1280px) {
  .navigation {
    position: relative;
    height: auto;
    padding: 28px 0;
  }
}
.navigation__top-action {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .navigation__top-action .top-action__row {
    height: 48px;
  }
}
@media (min-width: 1280px) {
  .navigation__top-action {
    display: none;
  }
}
.navigation__content {
  flex: 1;
}
.navigation__content .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navigation__menu {
  margin-bottom: 50px;
}
@media (min-width: 1280px) {
  .navigation__menu {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 84px;
  }
}
.navigation__item {
  color: #333;
}
.navigation__item:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 1280px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.navigation__link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navigation__link {
    font-size: 22px;
    line-height: 28px;
  }
}
@media (min-width: 1280px) {
  .navigation__link {
    font-size: 14px;
    line-height: 20px;
  }
}
.navigation__aditional-actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .navigation__aditional-actions {
    display: none;
  }
}
.navigation__aditional-box {
  padding-bottom: 30px;
}
.navigation__aditional-box:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #4F4F4F;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}
.navigation__languare._active {
  color: #333;
  font-weight: 400;
}
.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  color: #fff;
  background-color: #333;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.navigation__button:visited {
  color: #fff;
}

.benefits--margin-bottom-110 {
  margin-bottom: 110px;
}
@media (min-width: 768px) {
  .benefits--margin-bottom-110 {
    margin-bottom: 140px;
  }
}
@media (min-width: 1280px) {
  .benefits--margin-bottom-110 {
    margin-bottom: 170px;
  }
}
@media (min-width: 1280px) {
  .benefits {
    padding-top: 62px;
  }
}
.benefits__row {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .benefits__row {
    flex-wrap: wrap;
    row-gap: 65px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.benefits__item:not(:first-child) {
  display: none;
}
@media (min-width: 768px) {
  .benefits__item:not(:first-child) {
    display: flex;
  }
}
@media (min-width: 768px) {
  .benefits__item {
    flex: 0 0 48%;
  }
}
@media (min-width: 1280px) {
  .benefits__item {
    flex: 0 0 23%;
  }
}
.benefits__icon {
  width: 48px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
.benefits__title {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  max-width: 340px;
}
.benefits__text {
  color: #7C7C7C;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  max-width: 340px;
}

.presentation--margin-bottom-110 {
  margin-bottom: 110px;
}
@media (min-width: 768px) {
  .presentation--margin-bottom-110 {
    margin-bottom: 140px;
  }
}
@media (min-width: 1280px) {
  .presentation--margin-bottom-110 {
    margin-bottom: 170px;
  }
}
.presentation__image {
  width: 100%;
}
@media (min-width: 1280px) {
  .presentation__image {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}

.about-us--margin-bottom-110 {
  margin-bottom: 110px;
}
@media (min-width: 768px) {
  .about-us--margin-bottom-110 {
    margin-bottom: 140px;
  }
}
@media (min-width: 1280px) {
  .about-us--margin-bottom-110 {
    margin-bottom: 170px;
  }
}
.about-us__title {
  margin-bottom: 30px;
}
.about-us__title--mobile {
  display: block;
}
@media (min-width: 768px) {
  .about-us__title--mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .about-us__row {
    display: flex;
    gap: 20px;
  }
}
.about-us__item {
  flex: 1 1 48%;
}
.about-us__image-box {
  margin-bottom: 20px;
  max-height: 300px;
}
.about-us__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us__title--tablet {
  display: none;
}
@media (min-width: 768px) {
  .about-us__title--tablet {
    display: block;
  }
}
.about-us__text {
  color: #7C7C7C;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .about-us__text {
    font-size: 16px;
  }
}
.about-us__button {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  color: #0DB2B3;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  position: relative;
}
.about-us__button:visited {
  color: #0DB2B3;
}
.about-us__button::before {
  content: "";
  display: inline-block;
  width: 45%;
  height: 1px;
  background-color: #0DB2B3;
  position: absolute;
  left: 0;
  bottom: 0;
}/*# sourceMappingURL=main.css.map */