.features-list {
  list-style: inside;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__feature {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    @include onDesktop {
      font-size: 16px;
    }
  }
}
