.slider {
  &__buttons {
    margin-bottom: 20px;
  }

  &__btn {
    display: inline-block;

    width: 48px;
    height: 13px;

    border: none;
    outline: none;

    background-color: transparent;

    transition: background-image 0.3s;

    cursor: pointer;

    &--right {
      background-image: url(../images/features/slider/btn-right.svg);
      background-repeat: no-repeat;

      &:hover {
        background-image: url(../images/features/slider/btn-right--hvr.svg);
      }

      &:disabled {
        background-image: url(../images/features/slider/btn-right--disabl.svg);
      }
    }

    &--left {
      background-image: url(../images/features/slider/btn-left.svg);
      background-repeat: no-repeat;

      &:hover {
        background-image: url(../images/features/slider/btn-left--hvr.svg);
      }

      &:disabled {
        background-image: url(../images/features/slider/btn-left--disabl.svg);
      }
    }
  }

  &__order {
    width: fit-content;
    font-size: 11px;
    line-height: 13px;
  
    color: #0c797a;
  }

  &__item-order {
    display: inline-block;

    font-size: 16px;
    line-height: 150%;

    color: $blackColor;

    transform: translateY(-3px);
  }
}
