.question {

  @extend %section-width-limitatiom;
  display: flex;
  justify-content: space-around;
  gap: 10px;

  &__heading {
    width: 490px;
  }
  &__form {
    width: 480px;
  }
}
@media (max-width: $phone-break-point ) {
  .question {
    flex-direction: column;
    &__heading {
      width: inherit;
    }
  }
}
