.form {
  display: flex;
  flex-direction: column;

  &__item {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 30px;
    color: rgba(189, 189, 189, 1);
    background-color: rgba(247, 247, 247, 1);
    border: 1px solid rgba(189, 189, 189, 1);
    transition: background 0.3s linear, box-shadow 0.3s linear;

    &:hover {
      background-color: rgb(223, 224, 236);
      box-shadow: 0 6px 13px rgba(157, 157, 157, 0.46);
    }
    &:focus {
      background-color: rgb(223, 224, 236);
      box-shadow: 0 6px 13px rgba(157, 157, 157, 0.46);
      outline: none;
    }
  }
  &__button {
    width: 102px;
    padding: 17px 0;
    text-transform: uppercase;
    border: none;
    background: $about-technology-highlight;
    color: white;
    transition: background 0.3s linear, box-shadow 0.3s linear;

    &:hover {
      box-shadow: 0 6px 23px rgba(5, 52, 106, 0.53);
      background-color: rgba(32, 78, 130, 0.96);
    }
  }
}
