@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN Pro Regular";
  /* src: url("DINPro.eot"); */
  src: url("../../fonts/DINPro.woff") format("woff"), url("../../fonts/DINPro.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  /* src: url("HelveticaNeueCyr-Roman.eot"); */
  src: url("../../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../../fonts/HelveticaNeueCyr-Roman.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #7c7c7c;
}

a {
  text-decoration: none;
}

.page {
  background: #f7f7f7;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}
@media screen and (max-width: 550px) {
  body {
    max-width: 550px;
  }
}
@media screen and (max-width: 500px) {
  body {
    max-width: 500px;
  }
}

.play,
.nav,
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top__describe {
  display: flex;
  flex-direction: column;
  margin-left: 123px;
  z-index: 3;
}

.header-top__headline {
  font-family: "DIN Pro", sans-serif;
  font-size: 64px;
  line-height: 130%;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 27px;
}

.header-top__text {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header-top__photo {
  width: 939px;
  height: 464px;
}

@media screen and (max-width: 1024px) {
  .header-top__photo {
    width: 532px;
    height: 416px;
    margin: 19px 109px 0 0;
    object-position: 0 0;
    object-fit: cover;
  }
  .header-top__headline {
    margin-top: 80px;
  }
  .header-top__describe {
    margin-left: 45px;
  }
}
@media screen and (max-width: 768px) {
  .header-top {
    overflow: hidden;
  }
  .header-top__headline {
    font-size: 48px;
  }
  .header-top__describe {
    margin-left: 30px;
  }
  .header-top__photo {
    height: 365px;
    margin: 30px -67px 0 -72px;
    z-index: -1;
  }
}
@media screen and (max-width: 600px) {
  .header-top {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .header-top__photo {
    width: 100vw;
    height: 245px;
    margin: -30px 0;
    padding-left: 80px;
  }
  .header-top__headline,
  .header-top__text {
    text-align: center;
  }
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang__logo,
.lang__menu {
  margin-bottom: 50px;
}

.lang__logo {
  margin-left: 123px;
}

.lang__menu {
  margin-right: 123px;
  margin-bottom: 50px;
}

.lang__list {
  margin: 26px 0;
}

.lang__item {
  line-height: 18px;
  display: inline-block;
  list-style: none;
}

.lang__buy {
  height: 48px;
  width: 102px;
  margin-left: 37px;
  background-color: #333;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 1s, border-radius 1s;
}

.lang__buy:hover {
  background-color: #131313;
  border-radius: 10px;
}

.lang__item--specs {
  padding-right: 72px;
  color: #4f4f4f;
  line-height: 21px;
}

.lang__item--en {
  color: #333;
}

.lang__item--ua {
  color: #bdbdbd;
}

@media screen and (max-width: 1024px) {
  .lang {
    display: grid;
    grid-template-columns: 210px 350px;
    column-gap: 150px;
  }
  .lang__logo {
    margin-left: 34px;
  }
  .lang__buy {
    margin-right: 0;
  }
  .lang__item--specs {
    padding: 0 15px;
  }
  .lang__menu {
    margin-right: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .lang {
    display: grid;
    grid-template-columns: 30vw 30vw;
    column-gap: 40vw;
  }

  .lang__item--specs {
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .lang {
    grid-template-columns: 33vw 17vw;
    column-gap: 50vw;
  }
  .lang__logo {
    margin: 28px 0 0 30px;
    float: left;
  }
  .lang__menu {
    opacity: 0;
    margin: 0 calc(50vw - 160px) 20px;
    display: flex;
    width: 320px;
    transition: opacity 0.5s;
  }
}

.toggle {
  display: none;
  position: relative;
  width: 24px;
  height: 12px;
}

.toggle__checkbox {
  display: none;
  width: 22px;
  height: 22px;
  position: absolute;
  top: calc(50% + 1px);
  left: calc(50% - 15px);
}

.toggle__button {
  display: block;
  margin-top: 20px;
  width: 24px;
  height: 3px;
  background-color: #333;
}

.toggle__button::before,
.toggle__button::after {
  content: "";
  display: block;
  width: 24px;
  height: 3px;
  background-color: #333;
  transform: translateY(7px);
  transition: transform 0.5s;
  transform-origin: 14px;
}

.toggle__button::after {
  transform: translateY(-10px);
}

@media screen and (max-width: 600px) {
  .toggle {
    display: block;
  }
  .toggle__button {
    display: inline-block;
  }
  .toggle__checkbox:checked ~ .lang__menu {
    opacity: 1;
  }
  .toggle__checkbox:checked ~ .toggle > .toggle__button {
    height: 0;
  }
  .toggle__checkbox:checked ~ .toggle > .toggle__button::after {
    transform: rotate(45deg);
  }
  .toggle__checkbox:checked ~ .toggle > .toggle__button::before {
    transform: rotate(-45deg);
  }
}

.nav__list {
  padding-top: 88px;
}

.nav__item {
  margin: 10px;
  display: inline-block;
  list-style: none;
}

.nav__link {
  display: block;
  width: 174px;
  line-height: 41px;
  text-align: center;
  color: #131313;
  transition: background-color 1s;
}

.nav__link:hover {
  background-color: #bdbdbd;
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .nav__item {
    display: none;
  }
  .nav__link {
    font-size: 99px;
  }
}

.logo {
  height: 26px;
  width: 161px;
}

.logo--1 {
  display: none;
  height: 40px;
  width: 50px;
}

.logo--2 {
  display: none;
  height: 46px;
  width: 40px;
}

.logo--3 {
  display: none;
  height: 46px;
  width: 36px;
}

.logo--4 {
  display: none;
  height: 44px;
  width: 44px;
}

@media screen and (max-width: 1024px) {
  .logo--1,
  .logo--2,
  .logo--3,
  .logo--4 {
    display: inline-block;
    padding-bottom: 40px;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 108px;
  position: relative;
}

.info__column {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 0;
}

.info__icon {
  height: 40px;
  width: 50px;
  align-self: center;
}

.info__heading {
  height: 60px;
  align-self: center;
  font-family: "DIN Pro", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.info__text {
  padding-top: 20px;
  padding-bottom: 150px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 276px;
  align-items: start;
}

@media screen and (max-width: 1024px) {
  .info {
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 33px;
  }
  .info__text {
    padding-bottom: 90px;
    width: 340px;
  }
  .info__icon {
    margin-bottom: 40px;
  }
  .info__column {
    margin: 0;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .info {
    width: 730px;
    justify-content: flex-start;
    padding: 0 17px;
  }
}
@media screen and (max-width: 600px) {
  .info {
    overflow: hidden;
    width: 100vw;
    padding: 0;
  }
  .info__column,
  .info__text {
    width: 95vw;
  }
}

.play {
  height: 590px;
  width: 99%;
  background-color: rgba(47, 13, 13, 0.46);
  background-image: url(../../images/Speaker2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.play__circle::after {
  content: "PLAY";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 24px;
  line-height: 18px;
  color: #f3f4f5;
  font-family: "DIN Pro", sans-serif;
}

.play__circle {
  position: relative;
  width: 232px;
  height: 232px;
  border: 1px solid #f3f4f5;
  border-radius: 50%;
  cursor: pointer;
}

.play__circle:hover::after {
  content: url(../../images/triangle.svg);
}

@media screen and (max-width: 768px) {
  .play {
    height: 400px;
    width: 99%;
  }
}
@media screen and (max-width: 500px) {
  .play {
    height: 246px;
    width: 100vw;
  }
}

.history {
  position: relative;
  padding-top: 150px;
}

.history__img {
  width: 582px;
  height: 388px;
  float: left;
  margin-left: 200px;
}

.history__heading {
  transform: translate(-77px, 15px);
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 72px;
  color: #333;
}

.history__text,
.history__info {
  font-family: "Helvetica Neue", sans-serif;
  overflow: hidden;
  padding: 30px 0 15px 30px;
}

.history__text {
  width: 370px;
  font-size: 16px;
  line-height: 150%;
}

.history__info {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.history__info--link {
  color: #0db2b3;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.history__info--link::after {
  content: "";
  display: block;
  width: 4.5em;
  margin-top: 6px;
  border-bottom: 1px solid #0db2b3;
  transition: width 1s;
}

.history__info--link:hover::after {
  width: 10.4em;
  transition: width 1s;
}

@media screen and (max-width: 1024px) {
  .history {
    overflow: hidden;
  }
  .history__img {
    margin-left: 5px;
  }
  .history__heading {
    font-size: 54px;
  }
}
@media screen and (max-width: 768px) {
  .history {
    overflow: hidden;
    width: 871px;
  }
  .history__img {
    width: 475px;
    height: 410px;
    margin-left: -90px;
  }
  .history__text {
    width: 300px;
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .history {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: hidden;
    width: 100vw;
    padding-top: 50px;
  }
  .history__heading {
    width: 285px;
    margin: 0 calc(50% - 71px);
    order: -1;
    font-size: 37px;
    line-height: 55px;
    border: 1px solid black;
  }
  .history__img {
    margin: 50px 0 0;
    width: 100vw;
  }
}

.technology {
  padding-top: 150px;
}

.technology__heading {
  margin-left: 224px;
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 70px;
  text-transform: uppercase;
  color: #333;
}

.technology__image {
  margin-left: 89px;
  width: 1230px;
  height: 546px;
}

.technology__details {
  position: relative;
  margin-left: 89px;
  width: 1230px;
  height: 546px;
}

.technology__detail {
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 51%;
  background-color: #0db2b3;
  transition: background-color 0.5s;
  cursor: pointer;
}

.technology__detail:hover {
  background-color: #131313;
}

.technology__detail:hover::before {
  content: "Control button ring \aornament";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
  height: 249px;
  position: absolute;
  top: 80px;
  right: 23px;
  border-right: 1px solid #131313;
  border-bottom: 1px solid #131313;
  white-space: pre;
  font-size: 14px;
  line-height: 21px;
  color: #333;
}

.technology__detail::after {
  content: "+";
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 11px;
  right: 16px;
}

.technology__detail--1 {
  position: absolute;
  top: 115px;
  right: -30px;
}

.technology__detail--2 {
  position: absolute;
  top: 159px;
  right: 14px;
}

.technology__detail--3 {
  position: absolute;
  top: 58px;
  right: 87px;
}

.technology__detail--4 {
  position: absolute;
  top: 130px;
  right: 204px;
}

.technology__detail--5 {
  position: absolute;
  top: 246px;
  right: 333px;
}

.technology__detail--6 {
  position: absolute;
  top: 132px;
  right: 466px;
}

.technology__detail--7 {
  position: absolute;
  top: 325px;
  left: 580px;
}

.technology__detail--8 {
  position: absolute;
  top: 100px;
  left: 480px;
}

.technology__detail--9 {
  position: absolute;
  top: 230px;
  left: 420px;
}

.technology__detail--10 {
  position: absolute;
  top: 270px;
  left: 350px;
}

.technology__detail--11 {
  position: absolute;
  top: 170px;
  left: 170px;
}

@media screen and (max-width: 1366px) {
  .technology__image {
    margin-left: 89px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .technology {
    width: 100vw;
    overflow: scroll;
  }
  .technology__details {
    margin-left: 0;
    width: 100vw;
  }
  .technology__image {
    width: 100vw;
  }
  .technology__detail {
    overflow: hidden;
  }
  .technology__detail--1,
  .technology__detail--2,
  .technology__detail--3,
  .technology__detail--4,
  .technology__detail--5,
  .technology__detail--6,
  .technology__detail--7,
  .technology__detail--8,
  .technology__detail--9,
  .technology__detail--10,
  .technology__detail--11 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .technology {
    overflow: hidden;
    width: 100vw;
  }
  .technology__image {
    width: 100vw;
    object-fit: cover;
    object-position: 0 0;
  }
  .technology__detail {
    position: static;
  }
}
@media screen and (max-width: 600px) {
  .technology {
    width: 100vw;
    overflow: hidden;
    padding-top: 100px;
  }
  .technology__heading {
    margin: 0 auto;
    width: 285px;
    font-size: 37px;
  }
  .technology__image {
    margin-left: 0;
  }
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
}

.person__text {
  width: 784px;
  font-family: "DIN Pro", sans-serif;
  font-size: 24px;
  line-height: 150%;
  color: #333;
  text-align: center;
}

.person__text::before {
  content: url(../../images/Quotes.png);
  display: block;
  position: absolute;
  top: -30px;
  left: calc(50% - 233px / 2);
  height: 191px;
  width: 233px;
  z-index: -1;
}

.person__image {
  margin: 30px 0 20px;
  height: 62px;
}

.person__name {
  color: #333;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  font-weight: bold;
}

.person__position {
  line-height: 120%;
  padding-bottom: 172px;
}

@media screen and (max-width: 768px) {
  .person__text {
    width: 97vw;
  }
}
@media screen and (max-width: 768px) {
  .person__container {
    margin-left: 7px;
  }
  .person__text {
    font-weight: 700;
  }
}
@media screen and (max-width: 500px) {
  .person__text {
    width: 320px;
    font-size: 14px;
  }
}

.features {
  position: relative;
  display: flex;
  flex-direction: column;
}

.features__heading {
  margin: 0 0 24px 123px;
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 70px;
  text-transform: uppercase;
  color: #333;
}

.features__sound,
.features__connectivity,
.features__app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-end;
}

.features__sound::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -75px;
  width: 1113px;
  height: 701px;
  background-image: url(../../images/Sound.png);
  background-repeat: no-repeat;
  background-position: 200px 150px;
  background-color: #f2f2f2;
  z-index: -12;
}

.features__sound--margin {
  margin-left: 633px;
}

.features__connectivity--margin {
  margin-left: 225px;
}

.features__app--margin {
  margin: 121px 0 0 428px;
}

.features__topic {
  font-family: "DIN Pro", sans-serif;
  font-size: 34px;
  line-height: 120%;
  text-transform: uppercase;
  color: #0c797a;
  padding-bottom: 44px;
}

.features__list-element {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}

@media screen and (max-width: 1024px) {
  .features {
    width: 100vw;
  }
  .features__sound::after {
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .features {
    width: 100vw;
    overflow: hidden;
  }
  .features__heading {
    margin-left: 45px;
  }
  .features__sound::after {
    width: 730px;
    height: 735px;
    background-size: 80%;
    background-position: 80px 120px;
  }
  .features__sound--margin {
    margin-left: 319px;
  }
  .features__connectivity--margin {
    margin-left: 35px;
  }
  .features__app--margin {
    margin: 160px 0 0 175px;
  }
}
@media screen and (max-width: 500px) {
  .features {
    align-items: center;
  }
  .features__sound--margin,
  .features__connectivity--margin,
  .features__app--margin {
    margin-left: 0;
  }
  .features__heading {
    align-self: flex-start;
    font-size: 46px;
    margin: 0 0 50px;
  }
  .features__topic {
    font-size: 30px;
  }
  .features__list-element {
    font-size: 14px;
  }
  .features__sound::after {
    background-position: 115px 210px;
  }
}

.contacts,
.contacts__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__heading {
  margin-right: 102px;
  font-family: "DIN Pro", sans-serif;
  font-size: 56px;
  line-height: 129%;
  text-transform: uppercase;
  color: #333;
  width: 490px;
  padding-top: 144px;
}

.contacts__form {
  flex-direction: column;
  padding-top: 180px;
}

.contacts__email,
.contacts__message {
  width: 438px;
  line-height: 19px;
  border: 1px solid #828282;
}

.contacts__email {
  height: 48px;
}

.contacts__email::placeholder {
  color: #bdbdbd;
  padding-left: 30px;
}

.contacts__message {
  height: 128px;
  margin-top: 19px;
  resize: none;
}

.contacts__message::placeholder {
  font-family: "Helvetica Neue", sans-serif;
  color: #bdbdbd;
  line-height: 38px;
  padding-left: 30px;
}

.contacts__link {
  align-self: start;
}

.contacts__button {
  height: 48px;
  width: 102px;
  margin-top: 30px;
  background-color: #0db2b3;
  border: none;
  transition-duration: 1s;
  cursor: pointer;
}

.contacts__button:hover {
  background: #0c797a;
  transition-duration: 1s;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .contacts__heading {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts__heading {
    width: 330px;
    margin-right: 10px;
    padding-top: 83px;
    font-size: 48px;
  }
  .contacts__form {
    margin-right: -50px;
  }
  .contacts__email,
  .contacts__message {
    width: 340px;
  }
}
@media screen and (max-width: 600px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }
  .contacts__heading {
    margin: 45px 0 0;
    align-self: center;
    text-align: left;
    font-size: 46px;
  }
  .contacts__form {
    padding-top: 30px;
    margin: 0;
  }
  .contacts__email,
  .contacts__heading,
  .contacts__message {
    width: 285px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__logo {
  margin-top: 142px;
}

.footer__media {
  margin-top: 65px;
}

.footer__icon {
  margin: 0 18px 36px;
}

.footer__icon--twitter {
  margin-right: 38px;
}

.footer__icon--instagram {
  margin-right: 45px;
}

.footer__rights {
  font-size: 14px;
  color: #bdbdbd;
  margin-bottom: 100px;
}

.footer__arrow {
  display: none;
}

@media screen and (max-width: 1024px) {
  .footer__logo {
    margin: 142px auto 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__logo {
    margin: 0 auto;
    opacity: 0;
  }
  .footer__arrow {
    display: block;
    position: absolute;
    top: 20%;
    right: 15%;
    transform: rotate(90deg);
  }
  .footer__rights {
    width: 80%;
    text-align: center;
  }
}
