html,
body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #7c7c7c;
}

a {
  text-decoration: none;
}

.page {
  background: #f7f7f7;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}
@media screen and (max-width: 550px) {
  body {
    max-width: 550px;
  }
}
@media screen and (max-width: 500px) {
  body {
    max-width: 500px;
  }
}

.logo {
  height: 26px;
  width: 161px;
}

.logo--1 {
  display: none;
  height: 40px;
  width: 50px;
}

.logo--2 {
  display: none;
  height: 46px;
  width: 40px;
}

.logo--3 {
  display: none;
  height: 46px;
  width: 36px;
}

.logo--4 {
  display: none;
  height: 44px;
  width: 44px;
}

@media screen and (max-width: 1024px) {
  .logo--1,
  .logo--2,
  .logo--3,
  .logo--4 {
    display: inline-block;
    padding-bottom: 40px;
  }
}

.header-cart__logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  padding-left: 123px;
}

.header-cart__logo {
  margin-bottom: 55px;
}

.header-cart__back:hover {
  stroke: #000;
  fill: #000;
}

@media screen and (max-width: 1024px) {
  .header-cart__logo-container {
    padding-left: 32px;
  }
}
@media only screen and (max-device-width: 768px) {
  .header-cart__logo-container {
    padding-left: 32px;
  }
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__circles {
  position: relative;
  height: 12px;
  width: 12px;
  margin: 30px 105px;
  border-radius: 50%;
  background-color: #e0e0e0;
}

.progress__circles--disable::before {
  content: "";
}

.progress--indicate {
  background-color: #4f4f4f;
}

.progress--indicate::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  top: -3px;
  right: 3px;
  border: 1px solid #f7f7f7;
  border-radius: 50%;
  border-color: #4f4f4f;
}

.progress--indicate-disable {
  background-color: #4f4f4f;
}

.progress__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.progress__line {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% + 8px);
  width: 206px;
  height: 1px;
  background-color: #4f4f4f;
}

.progress__text {
  margin-top: -10px;
  color: #e0e0e0;
  line-height: 20px;
  font-weight: 600;
}

.progress__text--indicate {
  color: #4f4f4f;
}

@media screen and (max-width: 500px) {
  .progress {
    width: 100vw;
  }
  .progress__circles {
    margin: 30px 40px;
  }
  .progress__line {
    width: 80px;
  }
}

.summary__wrapper {
  margin: 154px 123px 0 67px;
}

.summary__order-heading {
  color: #333;
  line-height: 20px;
  margin-bottom: 180px;
}

.summary__total {
  line-height: 19px;
  color: #4f4f4f;
  font-weight: 500;
  margin-bottom: 25px;
}

.summary__sum {
  font-family: "DIN Pro", sans-serif;
  color: #333;
  line-height: 43px;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 35px;
}

.summary__order {
  display: block;
  width: 174px;
  height: 48px;
  text-align: center;
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  font-weight: 600;
  transition-duration: 0.5s;
}

.summary__order:hover {
  background-color: #fff;
  color: #333;
  transition-duration: 0.5s;
}

@media screen and (max-width: 1024px) {
  .summary__wrapper {
    transform: translateX(49px);
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 600px) {
  .summary__wrapper {
    margin: 200px 0 0;
    transform: none;
  }
  .summary__order-heading,
  .summary__total,
  .summary__sum {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .summary__total {
    margin-bottom: 15px;
  }
  .summary__sum {
    font-size: 24px;
  }
  .summary__order {
    margin: 0 calc(50% - 174px / 2);
  }
}

.shipping {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipping__wrapper {
  margin-top: 120px;
}

.shipping__form {
  display: flex;
  flex-direction: column;
}

.shipping__input {
  width: 378px;
  height: 35px;
  margin-top: 30px;
  background-color: #f7f7f7;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bdbdbd;
}

.shipping__input::placeholder {
  color: #7c7c7c;
  font-style: 12px;
}

.shipping__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.shipping__return {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #4f4f4f;
}

@media screen and (max-width: 600px) {
  .shipping__wrapper,
  .shipping__form {
    width: 90vw;
  }
  .shipping__input {
    width: 90vw;
  }
  .shipping__nav {
    flex-direction: column-reverse;
  }
  .shipping__return {
    margin-top: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__logo {
  margin-top: 142px;
}

.footer__media {
  margin-top: 65px;
}

.footer__icon {
  margin: 0 18px 36px;
}

.footer__icon--twitter {
  margin-right: 38px;
}

.footer__icon--instagram {
  margin-right: 45px;
}

.footer__rights {
  font-size: 14px;
  color: #bdbdbd;
  margin-bottom: 100px;
}

.footer__arrow {
  display: none;
}

@media screen and (max-width: 1024px) {
  .footer__logo {
    margin: 142px auto 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__logo {
    margin: 0 auto;
    opacity: 0;
  }
  .footer__arrow {
    display: block;
    position: absolute;
    top: 20%;
    right: 15%;
    transform: rotate(90deg);
  }
  .footer__rights {
    width: 80%;
    text-align: center;
  }
}

.payment__wrapper,
.payment__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment__wrapper {
  margin: 90px auto;
  width: 582px;
  height: 486px;
  background-color: #fff;
}

.payment__credit-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment__image {
  margin: 50px 9px 0;
}

.payment__input-big,
.payment__input-middle,
.payment__input-small {
  height: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bdbdbd;
}

.payment__input-big {
  width: 378px;
  margin-top: 12px;
}

.payment__input-middle {
  width: 72px;
  margin-left: 20px;
}

.payment__input-small {
  width: 23px;
}

.payment__form-wrapper {
  width: 378px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.payment__text {
  margin-top: 42px;
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
}

.payment__text--colored {
  font-size: 10px;
  line-height: 12px;
  color: rgba(12, 121, 122, 0.3);
}

@media screen and (max-width: 500px) {
  .payment {
    width: 100vw;
  }
  .payment__wrapper,
  .payment__form-wrapper,
  .payment__form-inner,
  .payment__input-big,
  .payment__text {
    width: 85vw;
    background-color: transparent;
  }
  .payment__wrapper {
    margin-top: 0;
  }
  .payment__input-middle {
    margin-left: 20px;
    background-color: transparent;
  }
  .payment__input-small {
    background-color: transparent;
  }
}
