html,
body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #7c7c7c;
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__logo {
  margin-top: 142px;
}

.footer__media {
  margin-top: 65px;
}

.footer__icon {
  margin: 0 18px 36px;
}

.footer__icon--twitter {
  margin-right: 38px;
}

.footer__icon--instagram {
  margin-right: 45px;
}

.footer__rights {
  font-size: 14px;
  color: #bdbdbd;
  margin-bottom: 100px;
}

.footer__arrow {
  display: none;
}

@media screen and (max-width: 1024px) {
  .footer__logo {
    margin: 142px auto 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__logo {
    margin: 0 auto;
    opacity: 0;
  }
  .footer__arrow {
    display: block;
    position: absolute;
    top: 20%;
    right: 15%;
    transform: rotate(90deg);
  }
  .footer__rights {
    width: 80%;
    text-align: center;
  }
}
@font-face {
  font-family: "Helvetica Neue", sans-serif;
  src: url("../../fonts/Opium.ttf") format("ttf");
}

body {
  background-color: #e5e5e5;
  font-family: "Opium", sans-serif;
}

.thanks {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks__wrapper {
  margin: 225px auto;
}

.thanks__wrapper::before {
  content: url(../../images/Group.png);
  position: absolute;
  width: 886px;
  top: 20%;
  left: 20%;
  transform: rotate(-157.14deg);
  z-index: -1;
}

.thanks__heading {
  font-family: "Opium", sans-serif;
  font-size: 72px;
  line-height: 178%;
  text-align: center;
  color: #0c797a;
}

.thanks__text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 225%;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.thanks__info {
  width: 373px;
  margin-bottom: 60px;
  line-height: 27px;
  color: #333;
  text-align: center;
  font-size: 16px;
}

.thanks__link {
  display: block;
  margin: 1px 100px -160px;
}

.thanks__homepage {
  width: 174px;
  height: 48px;
  display: block;
  background-color: #fff;
  border: 1px solid #0c797a;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  font-weight: 600;
  color: #0db2b3;
  transition: background-color 0.5s;
}

.thanks__homepage:hover {
  background-color: #0c797a;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100vw;
  }

  .thanks__wrapper::before {
    transform: unset;
    top: 0;
    left: -12px;
  }
  .thanks__info {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 100vw;
  }

  .thanks__wrapper::before {
    transform: unset;
    width: 640px;
    top: 0;
    left: -12px;
  }
  .thanks__info {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .thanks {
    overflow: hidden;
  }
  .thanks__heading {
    font-size: 48px;
  }
  .thanks__wrapper {
    margin-top: 87px;
  }
  .thanks__wrapper::before {
    width: 100vw;
  }
}
