.swiper-testimonials {
}

.swiper-wrapper {
}

.swiper-slide {
}

.testimonial-card {
  padding-top: 50px;
  margin: 0 auto;

  max-width: 786px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background-image: url('../images/page/testimonials/back.svg');
  background-repeat: no-repeat;
  background-position: center top;

  &__text {
    font-weight: $fontWeightBold;
    text-align: center;

    color: $colorBlack;

    @include onTablet {
      font-size: 24px;
    }
  }

  @include onTablet {
    padding-top: 60px;

    gap: 40px;
  }
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__block {
    width: 62px;
    aspect-ratio: 1;

    border-radius: 50%;
    overflow: hidden;

    @include lastChild {
      margin-bottom: 10px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__name {
    color: $colorBlack;
    font-size: 16px;
    font-weight: $fontWeightBold;

    @include lastChild {
      margin-bottom: 5px;
    }
  }

  &__position {
    color: $colorLightGrey;
  }
}
