.form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;

  &__email,
  &__text {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  &__email {
    margin-bottom: 20px;
    border: 1px solid $tertiary-font-color;
    padding: 12px 20px;
  }

  &__text {
    margin-bottom: 30px;
    border: 1px solid $tertiary-font-color;
    padding: 12px 20px;
    resize: vertical;
  }

  &__button {
    width: fit-content;
    padding: 13px 34px;
  }
}
