*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "HelveticaNeue", sans-serif;
  color: $granit;
  scroll-behavior: smooth;
}

body {
  background-color: $bcgColor;
}

.main {
  overflow-x: hidden;
  // background-color: $bcgColor;
}

.technology,
.questions,
.about {
  max-width: $smallContainer;
  margin: auto;
}

.header,
.promo,
.main {
  max-width: $mainContainer;
  margin: auto;

  @media (max-width: $notebookSize) {
    padding-left: 36px;
    padding-right: 36px;
  }
}
