// Weights
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$black-weight: 900;

// Include fonts
// Order matters: light, normal, bold, black

//Din PRO
@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/DINPro/DINPro-Medium.eot);
  src: url(../fonts/DINPro/DINPro-Medium.ttf) format("truetype"),
    url(../fonts/DINPro/DINPro-Medium.woff) format("woff");
  font-weight: $medium-weight;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/DINPro/DINPro-Bold.eot);
  src: url(../fonts/DINPro/DINPro-Bold.ttf) format("truetype"),
    url(../fonts/DINPro/DINPro-Bold.woff) format("woff");
  font-weight: $bold-weight;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/DINPro/DINPro-Black.eot);
  src: url(../fonts/DINPro/DINPro-Black.ttf) format("truetype"),
    url(../fonts/DINPro/DINPro-Black.woff) format("woff");
  font-weight: $black-weight;
  font-style: normal;
}

//Helvetica Neue
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: $hairline-weight;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: $thin-weight;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: $light-weight;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: $normal-weight;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: $medium-weight;
  font-style: normal;
}
