*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: $color-dark-gray;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input,
textarea {
  color: #7e7e83;
}

input {
  border: none;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}
