@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Large desktop
$text-font-size-large: 1.6rem;
$text-font-size-medium: 1.4rem;
$text-font-size-small: 1.2rem;

// Desktop default
$title-font-size-large-desktop-lg: 6.2rem;
$title-font-size-medium-desktop-lg: 5.6rem;
$title-font-size-small-desktop-lg: 3.4rem;

// Tablet (desktop-md == tablet)
$title-font-size-large-desktop-md: 4.8rem;
$title-font-size-medium-desktop-md: 3.6rem;
$title-font-size-small-desktop-md: 2.4rem;

// Phone
$title-font-size-large-phone: 3.2rem;
$title-font-size-medium-phone: 3rem;
$title-font-size-small-phone: 1.8rem;
