@font-face {
  font-family: "Din Pro Normal";
  src: url("../../src/fonts/DINPro.woff");
}

@font-face {
  font-family: "Din Pro Bold";
  src: url("../../src/fonts/DINPro-Bold.woff");
}

@font-face {
  font-family: "Din Pro Black";
  src: url("../../src/fonts/DINPro-Black.woff");
}

@font-face {
  font-family: "Din Pro Light";
  src: url("../../src/fonts/DINPro-Light.woff");
}

@font-face {
  font-family: "Din Pro Medium";
  src: url("../../src/fonts/DINPro-Medium.woff");
}
