@use '../utils/mixins' as *;
@use 'sass:color';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;

  box-sizing: border-box;
  // padding: 30px 25px;
  border-radius: 15px;

  // background-color: #111;

  @include for-laptop {
    flex-direction: row;
    justify-content: space-between;
  }

  @include for-desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
  }

  &__comparison {
    @include for-desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &--second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;

    @include for-desktop {
      margin-top: 50px;
    }
  }
}
