@use '../utils/mixins' as *;
@use 'sass:color';

.wrapper {
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include for-laptop {
    flex-direction: row;
    justify-content: space-between;
  }

  @include for-desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
  }

  &__comparison {
    @include for-desktop {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &--second {
    display: grid;
    gap: 30px;
    margin-top: 15px;

    @include for-desktop {
      margin-top: 50px;
    }
  }
}
