.mobile-nav {
  &__list {
    margin: 0 auto;
    text-align: center;
  }

  &__link {
    display: block;
    font-size: $fontSizeBig;
    text-transform: uppercase;
    color: $white;
    padding: 20px;
    transition: background-color $transition;
  }

  &__language-wrap {
    margin: 20px auto;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff78;
  }

  &__language--active {
    color: white;
  }
}
