.mobile-menu {
  //display: none;
  padding: 28px 20px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -105vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $turquoise;
  z-index: 100;
  transition: top 0.4s;
  @media (min-width: $breakpoint-md) {
    display: none;
  }

  &__logo {
    margin: 0 auto 60px;
    color: $white;
  }

  &--active {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
}
