.mobile-menu {
  display: none;
  padding: 50px 20px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $turquoise;
  z-index: 100;
  @media (min-width: $breakpoint-md) {
    display: none;
  }

  &__logo {
    margin: 0 auto 80px;
  }

  &--active {
    display: block;

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
}
